[2022-05-09 17:16] mikenomitch opened #12928 "Change jobspec for `job init` command"
### Proposal

The jobspec returned by `nomad job init` should be updated.

Currently it returns a Redis job. This is confusing in that Redis is a stateful job, but the init job doesn't have any volume support.

### Use-cases

* Show off interesting Nomad features
* Provide a better "Aha moment" to new Nomad users
* Avoid confusing the user with stateful job immediately.

### A proposed Jobspec

Th

[2022-05-09 17:19] DerekStrickland commented on #12922
Hi @valodzka

You are absolutely correct. There is an inconsistency here. I'll take a look. Thank you for being persistent.

[2022-05-09 17:56] DerekStrickland commented on #12926
Hi @davidrimprobable.  Thanks for using Nomad!

The expectation is that you'll remove the servers from the cluster before you stop them and change their IP.  Here's a discuss forum [post](https://discuss.hashicorp.com/t/how-to-remove-a-server-node-permanently-from-a-cluster/8714) that has some useful details about how to do this. In raft v2, the server IP is the ID of the server, so you need to ha

[2022-05-09 18:17] schmichael commented on #6380
Sorry for silence from HashiCorp on this! To be clear we think it's a *great idea.*

For the most straightforward case where an image is reused when a task is being updated on a node: [`image_delay`](https://www.nomadproject.io/docs/drivers/docker#image_delay) should be sufficient to avoid re-pulling. If it's not working as intended please file a new issue with repro steps and/or logs!

Sadly Noma

[2022-05-09 19:00] davidrimprobable commented on #12926
@[DerekStrickland](https://github.com/DerekStrickland)

The trouble is that they're not leaving the cluster nor intending to, just their network address happens to change.

You mention the IP is the ID in v2 - is Nomad going to adopt v3 with 1.3+ or any time soon? Because it sounds like that would be a solution to my problem here

[2022-05-09 22:01] DerekStrickland commented on #12926
Nomad is going to default to raft v3 as of 1.3.0. You can read about it [here](https://www.nomadproject.io/docs/upgrade/upgrade-specific). You can also set the protocol version yourself in pre-1.3.0 clusters by setting the [`raft_protocol`](https://www.nomadproject.io/docs/configuration/server#raft_protocol) config entry in the `server` stanza of your agent configuration.

That said, I can't guara

[2022-05-10 09:35] EtienneBruines opened #12930 "batch job does not respect disabling restart"
### Nomad version
1.2.6

### Operating system and Environment details
Ubuntu 20.04.4 LTS on `amd64`

### Issue
My `batch` job keeps restarting.

### Reproduction steps
Use the sample job file and `nomad job run` it.

#### Expected Result
The allocation should `fail` after 5 seconds (no restart attempts!) and at most one other allocation should be attempted (which should fail after 5 seconds), endi

[2022-05-10 13:36] rwojsznis commented on #12118
I have pretty much the same same setup (volume & csi plugin) and pretty much the same issue - volume doesn't get rescheduled once client goes down (1.3.0-rc1); I even have a systemd service that tries to to a clean nomad shutdown (drain node) before reboot/shutdown but that seems to have no effect 🤔

Once I have a little bit more time will try to provide more feedback, but it's good to hear (?) th

[2022-05-10 13:52] tgross commented on #12118
Hey folks! The old node _must_ be live and have a running plugin on it in order for Nomad to cleanly unmount the volume. You should drain a node before shutting it down, so that the tasks are rescheduled and the plugins are left in place until after all the other tasks are rescheduled. If you don't, you need to do [`volume detach`](https://www.nomadproject.io/docs/commands/volume/detach)

[2022-05-10 13:57] dimmaski commented on #12070
I'm seeing similar behaviour on nomad 1.1.5. The job is marked as:
`Deployment "a1acf6b2" successful` even though it has a failling allocation.
Running nomad `job eval -force-reschedule` does solve the issue by forcing a new allocation.
`
"RestartPolicy": {
            "Attempts": 2,
            "Interval": 1800000000000,
            "Delay": 15000000000,
            "Mode": "fail"
          },
`

[2022-05-10 14:10] Oleksii-Melnyk-UA opened #12931 "nomad_1.3.0-beta.1 - memory stats shows 0 with cgroupv2"
### Nomad version
nomad_1.3.0-beta.1

### Operating system and Environment details
Flatcar 3033.2.2
https://www.flatcar.org/releases/#release-3033.2.2

### Issue

I used previously Flatcar version 2765.2.1 and nomad 1.0.4. At that time I could see memory metric for containers provided by Nomad.
But after update to Flatcar 3033.2.2, memory metric always shows 0.
I assumed that the reason is that ne

[2022-05-10 16:00] PinkLolicorn commented on #12118
@tgross ok, but shouldn't nomad at least recover after the client is back online? This is not the case in my current setup.

[2022-05-10 17:21] tgross commented on #12118
It shouldn't so long as the plugin is alive and healthy. You can't crash-out the client without also making sure the node plugin is live and expect Nomad can clean this situation up; Nomad can't do anything with the volumes without a plugin in place. That's a constraint of the CSI specification.

It doesn't look like the plugin is healthy given the log entry you're showing. I'm happy to revisit th

[2022-05-10 18:16] DerekStrickland commented on #12922
The challenge here is that the upstream `mitchellh/cli` library is interpreting this as the general help flag for the CLI. It intercepts the input, and prints the command help text without ever running the `AllocExecCommand`. Research will have to be done to see if there is a way to special case this behavior. For now there is a workaround by using `-c` as described in the thread above.

[2022-05-10 18:21] shantanugadgil opened #12938 "need a `nomad-template` cli like `consul-template"
### Proposal
I think there should be a way to render the "template" from the `template` stanza of **Nomad** using the cmd line on the target machine.
This would be useful during debugging.
It would be fine if it was a command/subcommand of the nomad binary as well.

### Use-cases
I had the following `template` in a Nomad job:

[code]

I was trying to get 60% of total memory and use the minimum of

[2022-05-10 20:23] valodzka commented on #12922
One more argument for fix is that `-c` workaround is not always possible, for example with distroless docker images..

[2022-05-10 20:23] benbuzbee opened #12940 "progress_deadline distinguish between updates (auto_revert) and deployments"
### Proposal
Add a new progress_deadline setting that only applies to updates and auto_revert decision making.

Today if you set progress_deadline to 5m and deploy a change to a job that, lets say, references a non-existing docker image, and set auto_revert to true; it will try for 5 minutes, fail (image not found), then revert to the old deployment.

This sounds good.

But what if, lets say the d

[2022-05-10 20:27] FibreFoX commented on #2633
I find it a bit frustrating, getting excited from the first blog-articles and tutorials about Nomad, which itself proclaimes to provide an easy developer experience, just to find out that this experience is "just" for Linux-based and MacOS(X) developer systems. Myself I am mostly using Windows as my daily driver, and having a mixed type of systems among our developers, I would like to have a share

[2022-05-10 20:32] DerekStrickland commented on #12940
Hi @benbuzbee

I'm curious. Have you tried using [reschedule](https://www.nomadproject.io/docs/job-specification/reschedule) or [retry](https://www.nomadproject.io/docs/job-specification/restart) to achieve your desired behavior?

[2022-05-10 20:39] benbuzbee commented on #12940
In my example, if the registry were down for 15 minutes
reschedule {
  unlimited = true
  }

  Does not prevent it from reaching the 5 minute progress_deadline, after which nomad will mark the deployment as failed and stop rescheduling it (even though we mark unlimited=true. To prove this, create a job that references a non existent docker image, set it to reschedule forever, with a progress deadl

[2022-05-10 20:40] DerekStrickland commented on #12940
Got it!  Thanks for the extra context.

[2022-05-10 22:31] FibreFoX opened #12941 "Support for multiple Java versions on the same Nomad client"
### Proposal
Current implementation of the java driver checks the support for java [by auto-detecting the executable via `PATH`](https://github.com/hashicorp/nomad/blob/894c2e61dd03c9fad460d64a130dab807c4e428b/drivers/java/driver.go#L449).
It should be possible to have multiple java versions installed on the same Nomad client.

### Use-cases
I am developing software that needs to support multiple

[2022-05-10 22:35] FibreFoX commented on #12941
Maybe that would be a solution for https://github.com/hashicorp/nomad/issues/8722 too.

[2022-05-11 07:49] jrasell opened #12942 "service discovery: allow setting and discovering meta and canary_meta fields in Nomad services"
Allow setting [meta](https://www.nomadproject.io/docs/job-specification/service#meta) and [canary_meta](https://www.nomadproject.io/docs/job-specification/service#canary_meta) parameters on services using the `nomad` provider. It is possible that external tooling uses these fields for discovery and routing alongside tags. The [Nomad Ingress NGINX pack](https://github.com/hashicorp/nomad-pack-commu

[2022-05-11 08:06] DerekStrickland commented on #12941
Hi @FibreFoX

Thanks for using Nomad, and thanks for the suggestion! I'll add this to the road mapping backlog for discussion.

[2022-05-11 08:51] jorgemarey commented on #12722
Hi, just to follow on this. Would make sense to allow also setting tagged addresses on services?

Example:

[code]

[2022-05-11 08:52] FibreFoX commented on #12941
As scrolling through existing issues here, this might get complicated in combination with https://github.com/hashicorp/nomad/issues/10751 as right now there is no way to have chroot configured for the driver itself (atleast as I can see, this is my first time using Nomad)

[2022-05-11 11:07] PinkLolicorn commented on #12118
@tgross in my current cluster state all clients are online and plugins are too, volume is unmounted in the Hetzner UI, but allocation still can't take place. I noticed that the volume is at 1 allocation, but none is shown, which would make sense considering the displayed error.

**Plugin**

![image](https://user-images.githubusercontent.com/44551064/167835217-b3337e22-faf9-47db-a07a-715940291ee1.p

[2022-05-11 11:32] PinkLolicorn commented on #12118
I tried this:
1. registering volume again
2. made a job using it
3. topped the client with the job
4. waited for nomad to notice and try to reschedule
5. turned the client on again

It appears to be stuck for now, with the other previously seen error.

6. ran `nomad system gc`

Apparently this made it work? I think the difference is that the state is `failed` and not `lost`? How long would nomad n

[2022-05-11 12:47] shoenig commented on #12722
I like that idea, @jorgemarey. Do you mind creating a fresh issue so we can track it?

[2022-05-11 12:49] maaft opened #12943 "Use all available GPUs of a node"
Hi,
not sure if this has been asked already, but I didn't find anything.

I have nodes with different GPU configurations:
- node A: 4 GPU
- node B: 8 GPU
- node C: 7 GPU
- node D: 0 GPU

I want to define a job that will be scheduled on all nodes that have **minimum 1 GPU** and make **all** GPUs available to the job:
- job A -> runs on node A with 4 GPUs
- job B -> runs on node B with 8 GPUs
- job

[2022-05-11 13:20] DerekStrickland commented on #12943
Hi @maaft. Thanks for using Nomad!

Before I respond, I'd like to direct you to this [blog](https://www.hashicorp.com/blog/using-hashicorp-nomad-to-schedule-gpu-workloads), the device [documentation](https://www.nomadproject.io/docs/job-specification/device), and the nvidia driver [repository](https://github.com/hashicorp/nomad-device-nvidia) in case you haven't found them.

So here are my initial

[2022-05-11 13:31] jorgemarey commented on #12722
Yes, of course. Will also try to make the PR

[2022-05-11 16:15] jorgemarey opened #12950 "Allow setting tagged addresses to services"
It would be nice to allow setting tagged addresses on the service registrations. For example:

[code]

[2022-05-11 16:16] jorgemarey commented on #12722
Created in https://github.com/hashicorp/nomad/issues/12950

[2022-05-11 16:28] shoenig commented on #12950
@DerekStrickland Consul has a distinct concept of `tagged_addresses` that are orthogonal to the `tags` familiar to Nomad

https://www.consul.io/api-docs/agent/service#taggedaddresses

This PR is an extension of https://github.com/hashicorp/nomad/pull/12720 where we enabled setting a custom address on `service.address`, but forgot about Consul's `tagged_addresses`.

[2022-05-11 17:35] DerekStrickland commented on #12950
@shoenig

Thanks for that context!

[2022-05-11 18:00] tgross opened #12952 "expose server configuration for all GC intervals"
The [`job_gc_threshold`](https://www.nomadproject.io/docs/configuration/server#job_gc_threshold) controls how often the core job for garbage collecting Jobs runs. But we also have GC jobs for Evals, Nodes, Deployments, CSIPlugins, CSIVolumeClaims, and OneTimeTokens. We currently expose the threshold configuration for these jobs but not the interval, but it seems like it could be handy for some use

[2022-05-11 18:18] tgross commented on #6715
Ok so for Nomad 1.2.6 we're using go-plugin 1.4.3, and the error is coming from [`client.go#L688-L699`](https://github.com/hashicorp/go-plugin/blob/v1.4.3/client.go#L688-L699). After a little more digging thru the go-plugin code I realized that this is the section of code that's parsing the go-plugin [handshake](https://github.com/hashicorp/go-plugin/blob/master/docs/internals.md#handshake).

So i

[2022-05-11 19:19] magikid commented on #11250
One I see that is missing from the `demo/csi` folder is [democratic-csi](https://github.com/democratic-csi/democratic-csi/blob/master/docs/nomad.md)

[2022-05-11 19:55] tgross commented on #6715
Ok, I wasn't able to find anywhere in either the Nomad logmon "server" code or the go-plugin code where we could be emitting a spurious unprintable character. So then I started digging into how we setup the logmon process and noticed that we have a different fifo pipe being set up for plugin communication on Windows (ref [`logmon_hook.go#L63-L70`](https://github.com/hashicorp/nomad/blob/v1.2.6/cli

[2022-05-11 19:58] tgross commented on #11250
Hi @magikid! We're actually in the process of creating a set of Nomad Packs in the community registry for a handful of plugins. Included in those is democratic-csi: https://github.com/hashicorp/nomad-pack-community-registry/pull/113

[2022-05-11 20:17] notnoop commented on #6715
@tgross Has been awhile since I looked into this issue. I had a hunch that the plugin crashes, such that we either get corrupted output or stdout closes before emitting the port info which nomad interprets as an empty line. I wasn't able to reproduce it so no proof.

[2022-05-11 23:39] 3nprob commented on #5020
@jrasell Got any news for us now that the prerequisites are in place with 1.3? :)

[2022-05-11 23:57] lgfa29 opened #12957 "Warn user if `bootstrap_exepect` is set to an even number"
### Proposal

`bootstrap_expect` determines how many servers are required to initiate a cluster. It's recommended that this value be an odd number (usually 3 or 5) to avoid split-bran scenarios that could lead to loss of leadership.

Since we know there are potential problems with setting this value as an even number, Nomad should warn users to avoid using these values. This is particularly troubl

[2022-05-12 04:02] mr-karan opened #12958 "Example Redis deployment doesn't work on 1.3.0 without consul"
### Nomad version
Output from `nomad version`

[code]

### Operating system and Environment details

[code]

### Issue

The example deployment from `nomad init` doesn't seem to run anymore on a single node Nomad acting as server+client (and no consul).

### Reproduction steps

1. Save the file as `nomad.hcl`

[code]

2. Run nomad with:

[code]

3. Run the example file

[code]

4. Visit the UI for

[2022-05-12 04:54] mr-karan commented on #12958
Ah, my bad. The example file contains a default service stanza with `provider=consul`. When I changed to `provider=nomad`, it works as expected. Should we update the default init file ?

[2022-05-12 07:04] jrasell commented on #12958
Hi @mr-karan and thanks for raising this.

This is an oversight on my part; Nomad 1.3 adds implicit constraints on task groups that utilise Consul service registration so they only get placed on nodes where Consul has been fingerprinted. I had not account for the non-short example job which includes this block.

I think updating the default file to set the provider to Nomad is the correct choice,

[2022-05-12 07:56] SLoeuillet opened #12960 "panic in nomad 1.3.0 if `server.protocol_version` is set"
### Nomad version
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
Ubuntu 20.04, self-hosted
Was running 1.2.6, updated to 1.3.0

### Issue

Crash at startup after upgrade from 1.2.6, was already using raft 3
[code]

### Reproduction steps

Start the daemon

#### Expected Result

Upgrade works

#### Actual Result

Service crash looping

### Job

[2022-05-12 08:00] SLoeuillet commented on #12960
Rolling back to 1.2.7 binary => working

[2022-05-12 08:02] jrasell commented on #12960
Hi @SLoeuillet and thanks for raising this. To help me quickly look into this, are you able to provide a redacted version of the server configuration you're using?

[2022-05-12 08:04] SLoeuillet commented on #12960
server {
  protocol_version    = 1
}

	// ProtocolVersion has never been used. Warn if it is set as someone
	// has probably made a mistake.
	if config.Server.ProtocolVersion != 0 {
		c.agent.logger.Warn("Please remove deprecated protocol_version field from config.")
	}

[2022-05-12 08:04] SLoeuillet commented on #12960
Line 439 is : c.agent.logger.Warn("Please remove deprecated protocol_version field from config.")

[2022-05-12 08:06] jrasell commented on #12960
Hi @SLoeuillet thanks for that as it helps confirm my initial thoughts. I'll do some additional testing and should be able to raise a PR shortly.

[2022-05-12 08:10] SLoeuillet commented on #12960
Confirmed working node in 1.3.0 once server.protocol_version = 1 line has been removed

[2022-05-12 08:45] rbastiaans-tc opened #12963 "Adding CSI volume in-place Job update has no effect"
### Nomad version
[code]

### Operating system and Environment details

Debian 10 Buster

### Issue

Submitting an updated job with the change of adding a CSI volume has no effect.

No volume is added to the allocation and the allocation is not restarted.

Note: stopping and then starting the job does result in a volume on the allocation, but in-place update does not.

### Reproduction steps

* Su

[2022-05-12 09:31] DerekStrickland commented on #12943
From the looks of your emoji, I think you are on a path.  I'll close this for now, but feel free to re-open if it seems appropriate. Also, check out our [Discuss forums](https://discuss.hashicorp.com/c/nomad/28) for general user help from the community. We have an active community and lots of general questions are already answered there!

[2022-05-12 11:13] Netlims commented on #6715
@tgross Ok I still had this issue this morning so first I saved the output of `netstat -ab -p tcp` to a file.
Then I set `PLUGIN_MIN_PORT` to `40000` and `PLUGIN_MAX_PORT` to `50000` (we use the default values for `max_dynamic_port`).
I restarted Nomad so it can read the new variables and after the restart, I no longer had this issue.
It was a good sign at first, but then I tried deleting these va

[2022-05-12 13:16] philrenaud opened #12964 "Percy: Stabilize top-level route tests"
Currently causing test failures due to randomized data

[2022-05-12 15:41] tgross commented on #6715
Thanks for those logs @Netlims! Ok, there's a _lot_ of ports in use on this machine, so I did a little data cleaning and then slurped the whole thing into sqlite for analysis.

In both logs, there are a large number of Nomad ports with a client named `kubernetes` (?! :grinning: ) all in a connected state, but another client named `SAASQABE02` entirely in the listening state (waiting to establish a

[2022-05-12 18:53] #12803 closed

[2022-05-12 19:02] PinkLolicorn opened #12974 "CPU and Memory summary in job overview"
### Proposal
It would be great if job overview provided overall `Resource Utilization` block for all allocations like it is available in the specific allocations.

![image](https://user-images.githubusercontent.com/44551064/168135395-84fed198-5975-4677-8d23-795940f50cf7.png)

If possible, small counters or/and graphs in the job's table would be greatly useful too (not sure if percent values are ne

[2022-05-12 19:55] DerekStrickland commented on #12963
Hi @rbastiaans-tc.  Thanks for using Nomad and thanks for reporting this issue. We've taken it looks and it looks like you've found a bug. Updating with a volume isn't doable as an in-place update, so this needs to force a new allocation.  I'm adding setting it to the "Needs Roadmapping" status and you should get updates as this issue progresses. Thanks again.

[2022-05-12 20:09] #12964 closed

[2022-05-12 20:14] DerekStrickland commented on #12974
Hi @PinkLolicorn. Thanks for using Nomad and thanks for the suggestion. I'm putting this in as a topic of conversation during backlog grooming.

[2022-05-12 20:18] #10941 closed

[2022-05-12 20:52] DerekStrickland commented on #12310
Thanks for writing this up! I'll re-open this and look for the best place to put it in our docs, and to make sure it's not already there somewhere. If you have any suggestions about where to put it (or want to submit a PR) please let me know.

[2022-05-12 22:27] fluffyf-x commented on #11240
@lgfa29 : we were not able to test with the newer version, is there any chance you have the PR for the fix?

[2022-05-13 00:10] schmichael opened #12981 "Skip evaluating system jobs when nodes go down or are deregistered"
Continuation of https://github.com/hashicorp/nomad/pull/12955#pullrequestreview-970932570

As of Nomad 1.3.0 we use the same code for emitting `node-update` evaluations regardless of whether the node in question is going down (or deregistering) or coming back up.

When a node comes up, we re-evaluate all system jobs to ensure any relevant system jobs are started on the node.

However, there's no n

[2022-05-13 10:14] Davasny opened #12986 "UI fails to load job when there is @ in job name in nomad 1.3.0"
### Nomad version

[code]

### Operating system and Environment details
[code]

### Issue

Nomad UI returns 404 when there is `@` sign in job name

![image](https://user-images.githubusercontent.com/25726866/168263124-ac9b9fa4-979d-4438-ab2d-e7523b786bf7.png)

### Reproduction steps

Run nomad job with `@` in name

#### Expected Result

UI should show normal job status

#### Actual Result

404

##

[2022-05-13 10:37] shantanugadgil commented on #12894
@josh-m-sharpe If your host machine already resolves `foo.service.consul` correctly, then for the docker containers what might be needed is passing the **first** DNS server as the Docker bridge ip, typically `172.17.0.1`.

I have a similar setup using DNSMasq:

file: /etc/dnsmasq.d/10-consul

[code]

The following line is **APPENDED** to /etc/dhcp/dhclient.conf

[code]

and my Nomad Docker jobs ha

[2022-05-13 10:46] bsftshantanu commented on #12930
I assume you want the `reschedule` deliberately instead of just a total of `two` attempts?

[code]

[2022-05-13 10:47] shantanugadgil commented on #12930
I assume you want the `reschedule` deliberately instead of just a total of `two` attempts?

[code]

[2022-05-13 12:23] EtienneBruines commented on #12930
@shantanugadgil If it doesn't work out on one node, I'd want it to immediately retry on another node. But even that is optional, I want it to never restart and potentially never reschedule on another node. Fail=fail and then I can debug myself.

Use-case: I'm trying to reliably do database migrations via nomad batch jobs - but without a reliable way for them to fail, detecting failure now usually

[2022-05-13 12:35] tgross commented on #11240
Hi @fluffyf-x [Nomad 1.2.4](https://github.com/hashicorp/nomad/blob/main/CHANGELOG.md#124-january-18-2022) included a fix for a goroutine leak which you can see in https://github.com/hashicorp/nomad/pull/11741. Nomad 0.12.7 is long out of support, so we strongly recommend upgrading to get security fixes. If you still see a leak on Nomad 1.2.4 or above, please let us know.

[2022-05-13 12:55] shantanugadgil commented on #12930
For me, the following does one-and-only-one attempt and immediately fail.

[code]

But I understand the use case of "if fails on one node, try ONLY one on a different node"

[2022-05-13 15:02] tgross commented on #12963
Hi @rbastiaans-tc! I've fixed this in https://github.com/hashicorp/nomad/pull/13008 and it'll ship in the next scheduled patch (and will be backported as well). As it turns out, this bug also impacts host volumes and for some reason was never previously caught. Thanks for reporting this!

[2022-05-13 15:23] tgross commented on #12155
From the same package, I've noticed `Test_dnsConfig` is flaky as well:

[code]

[2022-05-13 15:34] #12963 closed

[2022-05-13 18:17] kirooshu commented on #7135
This is really good to have and we have the exact same sentiments around this at SeatGeek as the original poster. Please consider bringing this work back for consideration. Thank you!

[2022-05-13 20:09] obeyler opened #13014 "Allow chand default endpoint for server join in case of aws"
### Proposal
Nomad allows to join cluster by using tag on aws vm instance. (https://www.nomadproject.io/docs/configuration/server_join) In case of AWS cloud provider, unfortunately the default endpoint can not be set.

### Use-cases
Sometime default aws endpoint have to be change (example in case of outscale cloud provider who share same api with aws but differs from endpoint: https://docs.outscal

[2022-05-13 20:33] wjordan opened #13015 "JSON agent logs buffered on startup"
### Issue

I recently discovered that the Nomad agent buffers all of its logs on startup until it reaches a certain point in the initialization process: https://github.com/hashicorp/nomad/blob/bab219a8ba38d84cc4641b810339372172ccf00a/command/agent/command.go#L775-L779

This behavior made a recent attempt to debug issues with a slow-loading custom task driver plugin confusing and difficult. I wasn'

[2022-05-13 20:53] tgross commented on #13015
Hi @wjordan! The reasoning behind the buffering is that Nomad's setup involves a bunch of concurrent goroutines all spinning up various bits of work, but the log output is intended to start with the "banner message" once the configuration has been validated. If we didn't buffer, that banner would be interleaved with the rest of the logs.

But obviously that's not a desirable behavior when you're t

[2022-05-13 21:01] #12986 closed

[2022-05-13 21:04] schmichael opened #13017 "Automatically mark repeatedly rejected nodes in plans as ineligible"
The plan applier should track nodes rejected from plans as repeatedly rejected nodes are a sign of the pathological #9506 `plan for node rejected` bug.

### Bug

Docs: https://www.nomadproject.io/docs/operations/monitoring-nomad#progress
Related issue: #9506

Since plans for nodes may be rejected for a number of legitimate and incorrect reasons, we should be defensive about handling the pathologic

[2022-05-13 21:05] philrenaud commented on #12986
Hey @Davasny; thanks for opening this issue. The UI will now handle these links correctly per #13012 .

Builds are running now, but once complete, you should be able to find an artifact to test against [here](https://github.com/hashicorp/nomad/actions/runs/2321802979); this change will be reflected in an upcoming release.

Thanks for reporting the bug!

[2022-05-13 22:11] breathe opened #13018 "canary_tags are not shown in ui when instance is canary"
### Nomad version
Output from `nomad version`

Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details

aws linux

### Issue

Spin up a new canary instance with `canary_tags` defined -- I'd expect to see the canary_tags in the ui when navigating to the allocation.

### Reproduction steps

1. spin up canary instance with canary_tags defined2.
2. navigat

[2022-05-13 22:16] mikenomitch opened #13019 "Add config option to avoid task failure on template failure"
### Proposal

Currently, when a Nomad task is using a template stanza and that template fails to render because it cannot communicate with an external service, the Nomad agent will retry several times but eventually fail the underlying task. This makes Nomad tasks brittle and can couple Nomad task health to the health of external services like Consul, Vault, or the Nomad Server cluster.

For insta

[2022-05-13 22:31] mikenomitch opened #13020 "Set longer default retry, backoff and attempt count for Consul Template"
### Proposal

If a user does not override retry attempts, max backoff, or default backoff values on Consul Template, they get only 12 retry attempts and only a few minutes of retry time before tasks start failing (See #13019 for a failure issue). This means that if Vault or Consul goes down for over a few minutes (or a connection is bad) then all tasks on the Nomad cluster can go down.

We should

[2022-05-13 22:58] DerekStrickland commented on #13018
Hi @breathe  Thanks for using Nomad.  Are you saying you used to see these tags and now they don't appear, or are you asking for an enhancement to add them?

[2022-05-13 23:05] breathe commented on #13018
I would expect to see the canary_tags shown in the ui on canary instances -- but only the regular non-canary tags are shown.

[2022-05-14 06:08] quinndiggitypolymath commented on #4593
This is still a problem; would be great not having to fully restart nomad across a ridiculous number of instances every day just because tls keypairs are only partially reloaded

[2022-05-14 16:34] replay111 opened #13022 "Nomad 1.3.0 - cgroup-parent for systemd error"
### Nomad version
nomad version
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
cat /etc/*release
Oracle Linux Server release 8.5
NAME="Oracle Linux Server"
VERSION="8.5"
ID="ol"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="8.5"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Oracle Linux Server 8.5"
ANSI_COLOR="0;31"
CPE_NAME="cpe

[2022-05-15 10:52] valodzka commented on #12106
@alshdavid and anyone looking for solution: it is possible to achieve effect similar to bind 0.0.0.0 via using network mode bridge (requires cni plugins installation):

[code]

[2022-05-15 17:10] Nickleby9 commented on #6715
@tgross Indeed SAASQABE02 is the client itself, where the logs are taken from.
Thank you for the tip regarding Consul and Vault.
The issue still hasn't appeared yet, I'll capture Nomad and logmon with process monitor once it will happen again.

[2022-05-16 06:40] EtienneBruines opened #13023 "Resource Utilization - Memory not showing / 0 bytes"
### Nomad version
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
Ubuntu 22.04 LTS running cgroups2 and using the docker driver for the jobs.

### Issue
The `Memory` usage is not showing for any allocation or task. This seems to be a UI bug.

### Reproduction steps
Run any task in docker and look at the graphs.

#### Expected Result
To see memo

[2022-05-16 10:32] DerekStrickland commented on #13018
Thanks for the reply. I will change this from bug to enhancement then since this is maintained in a separate struct field and it doesn't look like the UI ever attempted to show these values.  I'll mark it for roadmap review. I agree it would make a nice quality of life improvement for operators.

[2022-05-16 10:37] DerekStrickland commented on #12894
Hi @josh-m-sharpe

Did these (very helpful) posts from the community help you get to a working configuration?

thx @shantanugadgil  && @twunderlich-grapl  !!!

[2022-05-16 12:17] rbastiaans-tc opened #13028 "Allocations with CSI volume fail during Nomad agent restart"
### Nomad version

```Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)```

### Operating system and Environment details

Debian 10 Buster

### Issue

* Allocations using CSI volume will fail on client after Nomad agent restart
* while the CSI node and controller jobs stayed running and were unaffected by restart

### Reproduction steps

* Run CSI node/controller jobs as system job (on all n

[2022-05-16 13:09] Oleksii-Melnyk-UA commented on #12931
Found that see memory metric on 1.3.0-rc.1 nomad release using command:
nomad status job_name
nomad alloc-status alloc-id

[2022-05-16 13:09] #12931 closed

[2022-05-16 13:22] shoenig commented on #13023
Hi @EtienneBruines thanks for reporting, it does look like there may be a UI bug here.

I do want to point out, starting in cgroups v2 the memory metrics reported by the kernel are more limited than they were with cgroups v1. This response object shows the difference:

[code]

That `Measured` list is indicating what information is available. And there's a bit more context in https://github.com/has

[2022-05-16 13:42] tgross commented on #13028
Hi @rbastiaans-tc! The log lines that jump out at me here are:

What _should_ be happening here is:
* The client tries to restore its handle to the running allocation, and re-runs the `csi_hook.Prerun`.
* That send a "claim" RPC to the server
* The server sees that this is not a new claim (ref [`csi_endpoint.go#L454-L455`](https://github.com/hashicorp/nomad/blob/v1.3.0/nomad/csi_endpoint.go#L454-L

[2022-05-16 13:54] tgross commented on #13019
The existing template runner separates the "first render" behavior from the "steady state" behavior. It might be worth leaving the first render behavior alone (except for #13020's changes) because there's not yet any stale data to use. This means the newly placed task will just hang until the whole deployment gets marked failed. (The allocrunner doesn't currently have a way of handling that behavi

[2022-05-16 16:45] replay111 commented on #13022
Hi, I've updated my Ansible Collection and now I do not add this line that reffers to cgroup driver:
```"exec-opts": ["native.cgroupdriver=systemd"],```. I did redeployment and now everything seems to be working fine.

[2022-05-16 17:21] djenriquez opened #13031 "1.3.0 container memory constraints not in effect leading to OOMs"
### Nomad version
Nomad v1.2.4 (9f21b724acf115a58d9ecdc97d281aef01d36387)
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
Amazon Linux 2
### Issue
We recently upgraded our servers and nomad clients to 1.3.0 and witnessed a substantial increase in OOMs reported for java containerized applications in our system. Investigation shows that the OOMs

[2022-05-16 17:23] breathe opened #13032 "support service tag updates to signal upstream shutdowns for reverse proxies"
### Proposal

It should be possible for nomad to support zero-downtime deploys when used with consul and traefik _without_ requiring logic inside the service instance to support this scenario.

In order to achieve this now -- the service instance itself must respond to a shutdown signal issued by nomad by begining to fail health checks while continuing to accept new connections.  Traefik will see

[2022-05-16 17:32] djenriquez commented on #13031
To add additional context:

In 1.2.4, we had a job defined with 4000MB of memory and a `XX:MaxRAMPercentage` of 50. When looking at the java heap, we see it is allocated ~2000MB, which is what we expect.

On 1.3.0, that same job was scheduled an allocation that reported a heap of ~8000MB, completely ignoring the 4000MB limit we had set.

[2022-05-16 17:36] shoenig commented on #13022
Thanks for the update @replay111. Since this is just a configuration issue I think we should update our `docker driver` docs, mentioning the `cgroupdriver` should be left unset.

[2022-05-16 17:38] wjordan commented on #13015
Writes to logger implementations are typically protected by mutexes to prevent any such interleaving from occurring. However, one exception is Nomad's use of [`cli`](https://github.com/mitchellh/cli).`BasicUi`, without the [`ConcurrentUi` wrapper](https://github.com/mitchellh/cli/blob/main/ui_concurrent.go) that uses a mutex to make the library concurrency-safe: https://github.com/hashicorp/nomad/

[2022-05-16 23:25] schmichael opened #13035 "Cache list of Consul Namespaces"
Nomad could reduce load on Consul servers by caching the namespace list results in `NamespaceClient.List`, like we already for for caching the SKU/enabled result.

_Originally posted by @shoenig in https://github.com/hashicorp/nomad/issues/12953#issuecomment-1126063465_

[2022-05-17 00:16] twunderlich-grapl commented on #12780
@shantanugadgil thanks for the find!
@shoenig in light of this, it feels like there are two paths.
1. Update the docs to clarify that interpolation works ONLY in the config section. Currently the docs state that the group -> network stanza should support variable interpolation and are incorrect.
2. Merge in a fix along the lines of https://github.com/hashicorp/nomad/pull/12817 that actually adds v

[2022-05-17 01:38] atavakoliyext opened #13037 "Documentation Enhancement - Garbage Collection"
### Proposal

I propose a new document under [nomad/website/content/docs/internal](https://github.com/hashicorp/nomad/tree/9347613/website/content/docs/internals) for documenting Nomad's garbage collection behavior.

### Use-cases

The existing documentation lists the various configurations associated with GC, but as this is spread across both `server` and `client` configuration, there is no singu

[2022-05-17 04:32] PinkLolicorn opened #13038 "Scheduling group of raw_exec and docker together is impossible while using CSI volumes"
### Nomad version
Nomad v1.3.0-dev (b5665129cd1fc0a5d5388587685cea74ef09680c+CHANGES)

### Operating system and Environment details
Ubuntu 22.04 LTS

### Issue
I wanted to run a mongodb replica set on the nomad cluster, but with no success, as I was unable to find a way to provide the keyFile with the correct user and group (#5020) to the container. I decided to deliver a modified dockerfile using

[2022-05-17 09:52] optiz0r opened #13039 "UI edit job results in redirect to wrong url to view job"
### Nomad version

Nomad v1.3.0+ent (cb2f0ca3c57391eefcb47cb1150f2688e484a1a8)

(tested in enterprise, but probably behaves the same in oss also)

### Operating system and Environment details

N/A

### Issue

Probably related to #12082 refactoring of URLs for jobs with namespaces. After using UI to edit->plan->run a job, the UI redirects to `/ui/jobs/job?namespace=xx` instead of `ui/jobs/job@names

[2022-05-17 10:58] jrasell opened #13040 "e2e: upgrade Vault cluster to v1.10.3"
The current e2e cluster is running v1.10.0. We should update to the latest version which is v1.10.3.

[2022-05-17 13:52] shoenig commented on #12780
My apologies for the delay @twunderlich-grapl, you got us right on the 1.3 release and this fell off my radar. I'll take a look at your PR today.

[2022-05-17 14:31] #12780 closed

[2022-05-17 14:37] twunderlich-grapl commented on #12780
No worries, thanks for getting this merged in!

[2022-05-17 15:36] atavakoliyext commented on #13037
Looks like this has been requested before, in https://github.com/hashicorp/nomad/issues/8130

I'm happy to close mine as a duplicate, if the concerns in my issue's description can get captured in the fix for the other issue.

[2022-05-17 15:46] philrenaud opened #13046 "[ui] Keyboard Nav: Ability to disable shortcuts"
for NVDA users etc

[2022-05-17 15:55] ahjohannessen opened #13047 "nobody user and Fedora CoreOS"
I am using Nomad and its exec task driver. Apparently it expects the nobody user in /etc/passwd.

I can see that nobody is somewhere on my system (Fedora CoreOS 35.20220424.3.0):

[code]

However, the exec driver fails as it cannot find the nobody user in /etc/passwd.

[2022-05-17 17:56] philrenaud commented on #13046
Resolved in #13049

[2022-05-17 17:56] #13046 closed

[2022-05-17 17:57] wjordan commented on #13015
Ohh, you're not referring to character-level interleaving on an underlying log stream, you're just referring to the ordering of log-lines in the agent startup, which is a very different story.

I was completely confused by what you were saying about the buffering preventing the banner from being interleaved, until I finally discovered through further experimentation that the `log_json = true` sett

[2022-05-17 18:32] ahjohannessen commented on #13047
See https://github.com/coreos/fedora-coreos-tracker/issues/1197#issuecomment-1129046564

[2022-05-17 18:32] ahjohannessen commented on #13047
@tgross WDYT?

[2022-05-17 19:40] optiz0r opened #13050 "CSI directory not bind-mounted to podman containers under 1.3.0"
### Nomad version

`Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)`

### Operating system and Environment details

### Issue

The CSI directory (`/opt/nomad/data/client/csi/plugin/${uuid}`) does not get bind-mounted into a job which defines the `csi_plugin` stanza. This means
a) the directory the application should be creating the `csi.sock` socket into, may not exist
b) Nomad marks the t

[2022-05-17 19:45] shoenig commented on #13047
Nomad looks up the `nobody` user by making a query to Go's standard library `user.Lookup` function

https://github.com/hashicorp/nomad/blob/v1.3.0/client/allocdir/fs_unix.go#L42

https://pkg.go.dev/os/user#Lookup

which on *nix defers to `getpwnam`

https://man7.org/linux/man-pages/man3/getpwnam.3.html

If there is a more correct way to perform this operation, we're welcome to ideas.

[2022-05-17 20:09] philrenaud opened #13051 "Variables index data fetching: model, adapter and serializer setup"

[2022-05-17 20:18] mikenomitch commented on #590
We've been discussing our Consul integration a bit internally, and we think that shifting to identity-based auth with Consul is the correct direction in the long term.

This would allow you to interact with Consul without manually managing ACL tokens per Job/Service.

This is still a ways off unfortunately, but given that we'll invest our time in that, I don't think we'll get to any major ACL-base

[2022-05-17 20:18] #590 closed

[2022-05-17 20:20] mikenomitch commented on #1137
Given that we can't store this info in Nomad to keep the Raft DB light and we have the [Event Stream](https://learn.hashicorp.com/tutorials/nomad/event-stream?in=nomad/nomad-1-0), I'm going to close this one out!

[2022-05-17 20:20] #1137 closed

[2022-05-17 20:25] mikenomitch commented on #593
I believe this is achieved by [max_client_disconnect](https://www.nomadproject.io/docs/job-specification/group#max_client_disconnect).

Closing this out!

[2022-05-17 20:25] #593 closed

[2022-05-17 20:30] #741 closed

[2022-05-17 21:01] gbolo commented on #12273
Hi @DerekStrickland can you share with us how you are reproducing this exactly? Thanks for looking into it

[2022-05-17 21:02] mikenomitch commented on #7664
Going to close this out as it would take a non-trivial amount of engineering to get our frontend router to work with this, but the payoff is quite low.

Sorry, you'll have to stick with the encoding for the foreseeable future!

[2022-05-17 21:02] #7664 closed

[2022-05-17 21:16] mikenomitch commented on #8313
After discussing this a bit internally, we don't think this is something we're going to do any time soon because there is a high engineering cost and computation cost when adding/removing nodes, and its probably not worth it.

With a system job and some constraints, you can get pretty close to this behavior in a few ways. One example - say you want something to run on 1/4 of the nodes, you could t

[2022-05-17 21:16] #8313 closed

[2022-05-17 22:52] mikenomitch commented on #6963
Hi all, I think this is an interesting feature request, but not something that our team is going to get to on our own. Just not super vital as is.

I'll mark this as with the "help-wanted" label in case somebody wants to take a crack at it themselves.

[2022-05-17 23:31] mikenomitch commented on #4681
This isn't something we plan on doing any time in the near future, so I'm going to close this out.

As Tim mentioned, this would increase our number of test paths by a lot and make reasoning about state in Nomad a lot harder. While this is something that is technically possible (see Vault) since it adds a lot of complexity, we don't plan on it.

Going to close this out and will reopen a new issue

[2022-05-17 23:31] #4681 closed

[2022-05-17 23:36] mikenomitch commented on #3462
Since Consul Template supports error_on_missing_key, we should be able to support this by adding the key to the [Consul Template config struct](https://github.com/hashicorp/nomad/blob/b1ce39297285564780a064cf186de6424b2ae0de/api/tasks.go#L794) and threading the value through to Consul Template.

I am going to add a help-wanted and good-first-issue label in case somebody wants to take this!

[2022-05-18 00:20] mikenomitch opened #13053 "Add real time alloc summary for latest job version"
### Proposal

In the Job Summary output, you get a full historical summary of Desired, Placed, Healthy, and Unhealthy allocations, but sometimes you want to know this information only for the latest deployment.

You can use the Deployment information for this while the deployment is happening, but after the deployment is complete you don't have a real-time view into the allocations that were place

[2022-05-18 00:21] mikenomitch commented on #1414
I don't think we'll change the meaning of desired, but I do think the root ask of this Issue is good.

I'm going to close this in favor of https://github.com/hashicorp/nomad/issues/13053 since I think the new Issue has a bit less noise.

[2022-05-18 00:21] #1414 closed

[2022-05-18 08:11] rbastiaans-tc opened #13054 "CSI volume API returns invalid/no JSON if volume doesn't exist"
### Nomad version

`Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)`

### Operating system and Environment details

Debian 10 Buster

### Issue

The Nomad API for: Read Volume: returns no/invalid JSON for volumes that don't exist

* https://www.nomadproject.io/api-docs/volumes#read-volume
* GET /v1/volume/csi/:volume_id

The docs state that it produces: `application/json`

### Reproduction

[2022-05-18 08:31] ahjohannessen commented on #13047
@shoenig I am not familiar with Go and user#Lookup - I wondered if there is some way that you can make Nomad try to look in `/usr/lib/passwd` via that Go functionality as a fallback if it does not find anything?

I am not familiar with Go and `getpwnam`, but currently as it stands it seems like Nomad has issues with `exec` with a fresh Fedora CoreOS setup.

I am not sure if the CoreOS guys can do

[2022-05-18 10:05] DerekStrickland commented on #12273
Hi @gbolo .  For sure.  Here's what I did

Using the [k6 tool](https://github.com/grafana/k6/) I can create an `EOF` error with the following. Note that I have a hard coded IP address. Your server IP is likely different.

- Create `eof.js` with the following content

[code]

- Then from the same directory where the file exists, I run this command.

[code]

- This very quickly results in the follow

[2022-05-18 12:04] ahjohannessen commented on #13047
@shoenig Got a response and question from a Fedora CoreOS dev:

[2022-05-18 13:28] jrsala-auguration opened #13056 "Scale job API endpoint documentation is inconsistent with observed behavior"
Several small issues that don't deserve their own thread.

### Nomad version

Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details

N/A

## Issue 1

The documentation specifies the `Count` field of the request body JSON as optional, but it does not explain what behavior should be expected when the field is omitted.

### Reproduction steps

Send a sc

[2022-05-18 13:38] tgross commented on #13050
Hi @optiz0r I looked at this a bit and I think there's some issue with podman volume mounting in general, and we need bind-mounting to work in order to configure the mounts needed for CSI. It looks like you ran into this in an unrelated issue in https://github.com/hashicorp/nomad-driver-podman/issues/142.

The podman driver documents that support for the volume mounting [Capability](https://www.no

[2022-05-18 15:20] mmcquillan opened #13057 "placeholder"

[2022-05-18 16:04] tgross commented on #13038
We had a chat about this and it definitely seems the sort of thing where we could fix the validation here. I'm going to mark this issue as accepted and we'll look at getting this fixed.

[2022-05-18 16:24] shoenig commented on #13047
The lookup is happening outside the chroot (this is all part of Nomad _creating_ the chroot).

I'll leave this issue open if someone wants to fully investigate / open a PR with changes.

[2022-05-19 01:44] josh-m-sharpe opened #13061 "support for identifying out of date docker images"
### Proposal

Nomad should tell me that an image I have deployed is not the latest version available.  Preferably with a bell icon and red dot.

This may seem like an unlikely thing for Nomad to solve for, but if not Nomad, what other tool would do it?  As best as I can tell, the nomad server agent is the only running process that could have knowledge of the running image versions at any given tim

[2022-05-19 07:56] maaft commented on #12943
@DerekStrickland

When I add these lines, `nomad validate` fails with:

[code]

any idea?

[2022-05-19 08:10] EtienneBruines opened #13062 "nomad validate does not recognize VAULT_TOKEN"
### Nomad version
[code]

Things worked fine on Nomad 1.2.6, but ever since upgrading to 1.3.0 we've had this issue. ~~Intermittently~~ (The Intermittently was due to a data-race issue where the Nomad tokens issued by Vault weren't valid yet and the `nomad validate` therefore skipped checking completely. The `nomad validate` command ignores my `VAULT_TOKEN` values 100% of the time)

### Operating

[2022-05-19 08:42] EtienneBruines opened #13063 "nomad validate should allow non-zero exit code upon connection failure"
### Proposal
Either by default or behind a flag (I'll leave that up to Hashicorp members to decide):

Whenever `nomad validate` runs into a `Driver configuration not validated since connection to Nomad agent couldn't be established.` issue, the `nomad validate` should exit with a non-zero exit code.

### Use-cases
I imagine a lot of people having a deployment pipeline consisting of `nomad validate

[2022-05-19 08:44] EtienneBruines commented on #13062
`nomad plan` suffers from the same issue:

### Actual result
[code]

### Nomad Server logs
[code]

[2022-05-19 09:15] jrasell commented on #13056
Hi @jrsala-auguration and thanks for the detailed writeup. We should certainly fix-up this documentation.

[2022-05-19 09:26] EtienneBruines commented on #12345
If it occurs again, this can be re-opened - but for now I'll close since it has not happened since.

Perhaps updating envoy, consul and/or nomad fixed it at some point.

[2022-05-19 09:26] #12345 closed

[2022-05-19 12:03] ostkrok opened #13064 "Multiple concurrent job submission causes CPU oversubscription"
### Nomad version
`Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)`

### Operating system and Environment details
Ubuntu 20.04

### Issue

We've noticied that nodes in our cluster sometimes report oversubscription of CPU, or rather a negative value of unallocated CPU.

The value shown in the graph below is the raw value from the gauge `nomad_client_unallocated_cpu`.
![image](https://user-i

[2022-05-19 12:56] tgross commented on #13061
I love the idea of this kind of thing, but has some architectural complications...

As it turns out, the server has no idea what a Docker image is: anything that falls in the `task.config` is handled by the task driver on the client (which could be a third-party driver and not inside Nomad at all!). Even the client doesn't really know what the schema of the config is. Also, the client itself runs

[2022-05-19 13:56] shoenig commented on #13064
Hi @ostkrok, can you describe your environment a little more? Another possibility here could be that the CPU fingerprint changes over time, if its reported frequency fluctuates.

e.g.
[code]

[2022-05-19 14:27] tgross commented on #11778
Hi @ygersie! That message bubbles up from the per-node feasibility check (ref [feasible.go#L305-L309](https://github.com/hashicorp/nomad/blob/v1.3.0/scheduler/feasible.go#L305-L309)), which looks like this:

[code]

The reason you're seeing different behaviors on different runs is most likely because the scheduler shuffles the list of nodes. For each allocation the list is feasibility checked (fil

[2022-05-19 14:59] shoenig opened #13066 "nomad agent vault block config is not validated"
While trying to investigate https://github.com/hashicorp/nomad/issues/13062 I had this Nomad agent `vault` config:

[code]

This is not valid as `allows_unauthenticated` should have been [allow_unauthenticated](https://www.nomadproject.io/docs/configuration/vault#allow_unauthenticated), which is particularly bad since the config silently allows using vault unauthenticated.

[2022-05-19 15:08] shoenig commented on #13062
Thanks for the report @EtienneBruines, indeed this is a bug. Previously the vault validation was not happening except during `job run`, where the vault token was extracted from environment variable. But it was then refactored to be more like our other validators, but in a code path where the vault token is not being extracted from the environment variable.

[2022-05-19 15:30] #12822 closed

[2022-05-19 16:45] twunderlich-grapl opened #13067 "Nomad Post-install script doesn't run"
### Nomad version
Output from `nomad version`
Nomad v1.3.0
### Operating system and Environment details
Amazon Linux 2
### Issue
As of Nomad 1.3.0, installing nomad does not create the /opt/nomad/data directory automatically
In essence it appears that .release/linux/postinst is not run.
My suspicion is that this broke as part of the move to hashicorps common release tooling in https://github.com/h

[2022-05-19 17:33] josh-m-sharpe commented on #13061
As an aside, do such "third party scanning" tools exist?  The only thing in this realm I'm familiar with is github's Dependabot - but thats not an API data could be sent to to be scanned.

[2022-05-19 17:52] tgross commented on #13061
Without recommending any one in particular, I know that Docker has an integration with Synk for their registry. See https://docs.docker.com/develop/scan-images/#scan-using-docker-hub for example.

[2022-05-19 19:31] #13062 closed

[2022-05-19 19:40] #13015 closed

[2022-05-19 21:56] davemay99 commented on #11685
After dumping the state into one huge JSON file, I typically loop over the keys and extract each to a separate JSON file.  It would save a ton of extra work if we streamed each table directly into a separate NDJSON file.

[2022-05-19 21:58] ip-sf commented on #13038
I agree that #5020 and the resulting `gid` and `uid` would be preferable. I ran into similar issues for mongo, and the workaround I am using is simply to use a `pre-start` lifecycle task that creates and mounts the keyfile into the `alloc` dir and runs a script to modify the local perms. Then when the `main` task starts and mounts the keyfile. While it's not great, I haven't (yet) found a better w

[2022-05-19 23:28] wjordan opened #13081 "Configure new client nodes to be ineligible by default"
### Proposal

Add a new `default_ineligible` client configuration that allows new client nodes to be registered as ineligible by default.

### Use-cases

After provisioning servers meant to act as new Nomad Client nodes, it can be helpful to run a few manual checks (occasionally finding bugs in the provisioning process) before allowing new tasks to be scheduled on the new node, and making the newl

[2022-05-20 04:44] PinkLolicorn opened #13084 "Cannot use dir_mode, file_mode, uid, gid and other smb specific parameters in mount_options"
### Nomad version
Nomad v1.3.0-dev (b5665129cd1fc0a5d5388587685cea74ef09680c+CHANGES)
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
- Ubuntu 24.02
- [kubernetes-csi/csi-driver-smb](https://github.com/kubernetes-csi/csi-driver-smb)

### Issue

In the search of multi-attach volume I decided to use Samba CSI driver, unfortunately I cannot figure

[2022-05-20 06:00] ostkrok commented on #13064
Hi @shoenig,

I'd be happy to describe it a bit more, but I'm not really sure what you want to know :)
Could you tell me if there is anything specific you want me to describe?

I don't think that the CPU fingerprint changes for us. It's a physical server using the performance CPU govenor, and we've never seen it report anything other than 88 000 Mhz.

[code]

Here's a graph showing `nomad_client_a

[2022-05-20 07:15] jrasell commented on #13081
Hi @wjordan and thanks for raising this feature request. This is something that I would certainly like to see added and I believe the community also. https://github.com/hashicorp/nomad/issues/10329 seems like a previous issue requesting the same enhancement. I will therefore mark this as duplicate; please add any +1's or additional comments to the linked issue.

[2022-05-20 07:15] #13081 closed

[2022-05-20 10:05] fraenku opened #13085 "Getting-Started-Guide not working as expected"
### Nomad version
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

### Operating system and Environment details
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"

### Issue
I am following the getting-started section on https://learn.hashicorp.com/tutorials/nomad/get-started-run?in=nomad/get-started.
However when runn

[2022-05-20 10:11] jrasell commented on #13085
Hi @fraenku and thanks for raising this issue.

As you identified, Nomad v.1.3.0 introduced implicit constraints for task groups which utilise Consul for service discovery. The getting started guide does not run Consul which causes this problem.

The fix has already been merged into main via https://github.com/hashicorp/nomad/pull/13044 which changes the example job to use Nomad for service discov

[2022-05-20 10:11] #13085 closed

[2022-05-20 10:13] jrasell opened #13086 "learn: update getting started guide to list services"
In the next patch release, the example job will default to using Nomad for basic service registration. It would therefore be nice to update the [Getting Started](https://learn.hashicorp.com/tutorials/nomad/get-started-run?in=nomad/get-started) Learn guide to show examples of listing and reading registered services via the CLI.

[2022-05-20 12:14] PinkLolicorn commented on #13061
I really like the idea. However, without _hardcode_ version pinning (specific commit/patch) practiced by nomad cluster operator, scanning for `task.config.image` would be of limited to no usability.

This is actually not a problem of no version pinning at all: using major versions like `redis:7` can put us severely behind update schedule when a job is running uninterrupted for a long time, while p

[2022-05-20 12:28] valodzka commented on #13022
I'm not sure how it's determined but at least Debian 11 / Linux 5.10.0-10-amd64 / docker 5:20.10.16~3-0~debian-bullseye default cgroup driver is systemd. If nomad doesn't work with this drivers it should be mentioned that native.cgroupdriver=cgroupfs should be configured, not unset:

[code]

[2022-05-20 13:08] PinkLolicorn commented on #13084
That makes a ton of sense! Looks like I found partially outdated docs (good hcl example but bad description #13087): https://www.nomadproject.io/docs/commands/volume/register

![image](https://user-images.githubusercontent.com/44551064/169532078-d62a16a0-c8ac-4814-809c-8eb780a940af.png)

It seems like `volume` stanza was updated already:
https://www.nomadproject.io/docs/job-specification/volume

!

[2022-05-20 13:14] tgross commented on #13084
Augh, sorry about that! I see the PR you've opened so that'll get merged and fixed shortly. Thanks!

[2022-05-20 13:16] #13084 closed

[2022-05-20 13:17] tgross commented on #13084
Closed by https://github.com/hashicorp/nomad/pull/13087

[2022-05-20 14:09] philrenaud opened #13092 "UI: Track policiesSupportVariableCreation against Secure Variables block"
Resolving the can.create.variables TODO here: https://github.com/hashicorp/nomad/pull/13069/files#diff-cd34197082adbd12cfd0a8df243014670ddd59b0421ec8e9b4322ff591815a6eR29

[2022-05-20 14:13] philrenaud opened #13093 "UI: Validation and pluralization on SecureVariableForm"
Resolve TODOs in https://github.com/hashicorp/nomad/pull/13069/files#diff-c779fbf2204ee235f464e8da02a06ce035645f480030ce9562221bf864848f55R5

[2022-05-20 14:18] philrenaud opened #13094 "UI: Treat Secure Variables index page list like a branching tree"
- Terminal parts of paths (the part after the last `/`) should be links and be indented appropriately
- Non-terminal multi-child parts of the path should show up as links to their subdirectory
- Non-terminal parts of the path should show up as plain text

[2022-05-20 14:46] shoenig commented on #13022
@valodzka I'm not sure #40846 is the full story; in practice I _think_ leaving the driver blank in turn enables setting a custom cgroup parent and setting it to systemd forces the systemd hierarchy. Could be totally wrong; docker is frankly an enigma.

In reality what Nomad really needs is to be able to just set the cgroup path the docker container should use. Unfortunately https://github.com/moby

[2022-05-20 15:49] sharmaansh21 commented on #11757
@rounakdatta Are you working on this ?

[2022-05-20 15:52] sharmaansh21 commented on #13063
@shoenig Shall I pick this up if no one is working on this?

[2022-05-20 20:14] attachmentgenie opened #13095 "1.3.0 throws GLIBC error on arm centos 7"
### Nomad version
1.3.0

### Operating system and Environment details

up to date centos 7 on raspberry pi 4

### Issue
the arm version of nomad seems to require a glibc version that centos 7 does not support
### Reproduction steps
nomad version

#### Expected Result
Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)

#### Actual Result
./nomad: /lib/libc.so.6: version `GLIBC_2.28' not found

[2022-05-22 03:20] dionjwa opened #13096 "mac mini arm64 incorrectly reports ~98% memory usage, cannot run jobs"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
macOS 12.4
Mac Mini 2020
16GB Ram

Docker:
[code]

### Issue

There is almost no user processes running consuming memory:
![image](https://user-images.githubusercontent.com/260221/169672860-2a280835-3e11-4d4e-aef5-8c8f5fb5f331.png)

But notice the `qemu-system-aarch64` process, a

[2022-05-22 03:46] manhtukhang commented on #12589
Hi @mikenomitch,
In our use case, we use Nomad SD to generate config for Nginx ingress. Each project is deployed to a separated namespace and the Nginx ingress is in a different namespace. The problem is that Nginx can not get info about other services in different namespaces.
I think Nomad should allow users to define which namespace/job can have the capacity to discover info about others namespa

[2022-05-22 07:09] Himura2la commented on #12589
Hi! Thanks for the great feature! I'm glad I can avoid raising a Consul cluster for small projects now. There's one inconvenience I found trying to setup an nginx load ballancer.
In Consul-enabled clusters I use Traefik, and I can set Traefik configs for a service using key-value pairs, like this:

[code]

Since `tags` is an array, everyone invents a syntax for making it key-value mapping. Fabio h

[2022-05-22 13:45] manhtukhang commented on #12589
Hi @Himura2la,
Nginx ingress pack from nomad-pack-community-registry already had a template that could use both `meta` and `tags` for service ingress definition, please check if this is what you are looking for: https://github.com/hashicorp/nomad-pack-community-registry/blob/e3d1270ecb75719016d702e09086c75afc0d9238/packs/nomad_ingress_nginx/templates/_nginx_conf.tpl#L28

But it still had an issue

[2022-05-23 06:41] Nickleby9 commented on #6715
@tgross We have this issue again.
I sent a CSV file with the output of Process Monitor to the nomad-oss-debug email address.
Thanks

[2022-05-23 07:00] Davasny commented on #12986
Hi @philrenaud, I can't information about this fix in 1.3.1 release. Is the code there, but the release info is missing, or it wasn't merged to 1.3.1?

[2022-05-23 07:04] jrasell commented on #12986
Hi @Davasny; v1.3.1 was a security release only therefore did not include this fix. This fix will be included within the next general release which should be v1.3.2.

[2022-05-23 11:15] mr-karan opened #13097 "Need for configuration linter"
### Proposal

Very recently, I'd burned myself with a bad Nomad agent config stanza and wasted a lot of time trying to get a 3 node cluster. The mistake I did was fairly basic and result of me not RTFM'ing properly:

[code]

The config gets pulled from somewhere, which always had this, but this "bad" config was working on other servers (which resulted in me never actually checking the config prope

[2022-05-23 11:19] jrasell commented on #13097
Hi @mr-karan and thanks for raising this. We already have https://github.com/hashicorp/nomad/issues/5385 open to track this feature request, therefore I will close this issue as a duplicate. Please add any additional information or thumbs up to the linked issue as this will help prioritisation.

[2022-05-23 11:19] #13097 closed

[2022-05-23 12:49] tgross commented on #13061
That's all an excellent point @PinkLolicorn: basically it comes down to Docker image tags aren't immutable (and are frequently mutated!).

I think that's ok... the Registry API does support query by manifest reference for the [Detail API](https://docs.docker.com/registry/spec/api/#detail). That still leaves the matter of an API for the scans themselves, which I don't see published anywhere.

Yeah,

[2022-05-23 13:38] shoenig commented on #13063
Hah, well turns out the implementation doesn't check driver config, either.

https://github.com/hashicorp/nomad/blob/main/nomad/job_endpoint_hooks.go#L263-L264
https://github.com/hashicorp/nomad/blob/main/nomad/job_endpoint.go#L554

However there is still features like checking vault config that depends on being able to connect to the Nomad client.

Feel free to take a look @sharmaansh21

[2022-05-23 13:45] tgross commented on #6715
Thanks @Nickleby9! The smoking gun is here:

Logmon is trying to spawn a conhost process, and I want to dig into why on that (I think there's some library operation that's doing that). But according to the [NTSTATUS Values docs](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/596a1078-e883-4972-9bbc-49e60bebca55), exit code `-1073741502` (or `0xC0000142` in hex) is `STATUS_DL

[2022-05-23 19:04] freebased opened #13099 "[ARM64] Nomad can't elect a leader in single-node cluster"
### Nomad version
Nomad v1.3.1

### Operating system and Environment details
Ubuntu 20.04.4 LTS
arm64

### Issue
Nomad can't elect a leader in single-node server:
2022-05-23T18:58:06.043Z [WARN]  nomad.raft: heartbeat timeout reached, not part of a stable configuration or a non-voter, not triggering a leader election

### Server config
log_level = "DEBUG"
data_dir  = "/home/based/nomad-server-data

[2022-05-23 19:16] shoenig commented on #13099
Hi @freebased, is this an in-place upgrade from an existing cluster of size=1? If so, there are special instructions that need to be followed for the 1.3.x upgrade in
https://www.nomadproject.io/docs/upgrade#upgrading-a-single-server-cluster-to-raft-version-3

[2022-05-23 19:29] ygersie commented on #12346
Hey @tgross it seems I'm still having issues with this post 1.3.0 upgrade. I frequently have people report issues with allocations getting stuck in pending status where nomad client constantly reports:
[code]
Interestingly that server isn't even the nomad leader, not sure if that's an issue.

I've also noticed that the `nomad volume detach` doesn't work with a down node. To reproduce, get an examp

[2022-05-23 19:37] freebased commented on #13099
This solved the issue

[2022-05-23 19:37] #13099 closed

[2022-05-23 19:59] mmcquillan opened #13100 "Remove Raft protocol version 2"
### Proposal

As outlined in our docs, we will remove Raft v2 from the 1.4.0 release.

Ref:
https://www.nomadproject.io/docs/upgrade
https://www.nomadproject.io/docs/upgrade/upgrade-specific

[2022-05-23 20:01] mmcquillan opened #13101 "Change nomad eval status -json to display on selected evaluations"
### Proposal

“In Nomad 1.4.0, nomad eval status -json will be changed to display only the selected evaluation in JSON format.”

Ref:
https://www.nomadproject.io/docs/upgrade/upgrade-specific

[2022-05-24 08:42] ygersie commented on #11778
It seems this issue even occurs *with* the manual AZ mapping of source volumes, this worked at least before the 1.3.0 upgrade. I have a job that is failing to be scheduled with the same constraint issue. The job has 3 taskgroups each with a volume claim looking like:
[code]
the volume status:
[code]
And the job status:
[code]
The node ids are indeed in completely different datacenters, so they are

[2022-05-24 09:50] lhaig commented on #13096
@dionjwa can you please check which version of Nomad you are running please.
the downloads page for 1.2.6 does not currently have arm binaries.
https://releases.hashicorp.com/nomad/1.2.6
1.2.7 however does.
https://releases.hashicorp.com/nomad/1.2.7

[2022-05-24 13:15] tgross commented on #12346
That's not unexpected. Nodes always talk to one particular server (but with failover if the connection is lost), and those requests are forwarded to a leader as needed. That prevents us from requiring full mesh connectivity from every node to every server. Some requests from node to server allow for stale data, so that reduces traffic by quite a bit.

Correct. There's no way for the server to send

[2022-05-24 13:23] tgross commented on #11778
Ok, I haven't had a chance to come back to write that test. But:

Just FYI on this the `nomad plugin status` command has to hit the Allocations API in order to get the list of allocations. But because plugins don't have a namespace but the plugin _jobs_ do, the Allocations API will respond with an empty list if the plugins aren't in the default namespace if you don't provide a namespace to `nomad

[2022-05-24 13:34] ygersie commented on #12346
Ideally the CSI plugin would expose the volume's state so the CO can make the decision based on authoritative data if a volume is claimed or not the moment a node goes down and the scheduler lost an allocation with a volume. Right now Nomad holds a claim on a volume which isn't attached to any node and there's no way to fix it other than forcing a re-registration and kicking the associated allocat

[2022-05-24 13:37] ygersie commented on #12346
I understand why the nomad volume detach won't work properly when the node is down but would it be an option to have a `-force` option or some other command to force Nomad to release a claim?

[2022-05-24 17:16] Amier3 commented on #13014
Hey @obeyler

Thanks for making this and the associated [PR](https://github.com/hashicorp/go-discover/pull/194) . We'll keep the discussions for this on the PR

[2022-05-24 17:44] dionjwa commented on #13096
@lhaig I installed nomad via brew as per instructions here: Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

I was running an old version, but installed via brew.

[code]

I upgraded, it's a single node cluster, both client and server:
[code]

But the problem persists, no allocations, and no other containers running, and as many host programs closed as I can, still memory is limited:

<img

[2022-05-24 19:07] #13031 closed

[2022-05-24 20:12] philrenaud opened #13108 "UI: Add path to Secure Variables within Ember Serializer"
Currently being done within the adapter layer: https://github.com/hashicorp/nomad/pull/13069/files#diff-e7e5522d4add15284a3dcc6d0316febbdc1c25119992cdda500e58077395f559R17

[2022-05-24 20:49] dionjwa commented on #13096
Another data point: maybe this is one aspect of the UI or memory measurement: the correct memory consumption/total is correctly shown in the "Topology" panel:

<img width="1632" alt="image" src="https://user-images.githubusercontent.com/260221/170129522-7ff44b2d-9ac0-45af-a66d-18f6430d7a87.png">

It just doesn't match when I go to the individual client (mac mini)

<img width="585" alt="image" src=

[2022-05-24 20:52] dionjwa commented on #13096
Also the mini **CAN** run jobs, but I don't know if it's because there's a bit of (incorrect displayed) memory capacity, or it is using the former above image. I don't know if I'll quickly exceed the wrong memory count.

[2022-05-24 21:23] #12848 closed

[2022-05-25 10:39] lhaig commented on #13096
@dionjwa Thank you for this information.
I was able to confirm this behaviour on my laptop with 32GB RAM
I am seeing the same behaviour with my laptop using both the brew version and the downloaded darwin arm64 binary.

[2022-05-25 14:00] philrenaud commented on #13051
Handled in #12859

[2022-05-25 14:01] philrenaud commented on #12756
Planned as part of #12762

[2022-05-25 14:35] yaroot opened #13116 "warn destructive update only when count > 1"
### Proposal

Warn destructive update only when count > 1

### Use-cases

Currently nomad cli warns destructive updates for all groups when MaxParallel > task_group.Count, even if the count is 1 or 0. It's more or less the intended behaviour: 1 is always destructive, 0 to deschedule the group.

### Proposed Solutions

I can think of 2 solutions

- compare against current version, warn if the Count

[2022-05-25 14:45] #12960 closed

[2022-05-25 15:40] shoenig opened #13119 "docker driver OOM killed detection flaky on cgroups v2"
This test has started failing a lot, maybe 22.04 related

[code]

[2022-05-25 16:12] philrenaud opened #13120 "☂️ SSO / OIDC / Token Expiry"
## ACL Token Expiration
The ability to set optional expiration times on ACL tokens. A prerequisite of Nomad SSO.

### RFC
  - [ ] (L) Draft RFC
  - [ ] (S) Circulate within Nomad team
  - [ ] (S) Circulate within RFC mailing list
### Implementation
  - [ ] (S) Update Server configuration with new options
  - [ ] (S) Modify ACL token API and CLI
  - [ ] (S) Modify ACL token state store schema
  - [

[2022-05-25 16:55] shoenig opened #13121 "consul/connect: enable setting consul namespace for upstream"
In https://github.com/hashicorp/nomad/pull/10235 we added the ability (in nomad-enterprise) to register Consul services via Nomad into non-default Consul namespaces.

What we didn't do is add the ability to specify to which Consul namespace a Connect service should point at via a Connect upstream.
https://www.nomadproject.io/docs/job-specification/upstreams

Consul upstream docs:
https://www.consu

[2022-05-25 17:05] #12860 closed

[2022-05-25 18:23] idrennanvmware opened #13122 "System jobs show degraded and never show stable"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
PhotonOS3

### Issue
We have noticed that the UI provides some confusing data around system jobs. We see our system jobs showing "degraded" even when properly allocated and placed.

When we use the CLI we do see that the job is showing as running though - which is what we would e

[2022-05-25 19:19] shoenig opened #13123 "consul/connect: enable setting consul namespace for gateway config entries"
Same as https://github.com/hashicorp/nomad/issues/13121, but for setting Namespace for Consul Connect Ingress and Terminating Gateway Config Entries.

[2022-05-25 20:56] philrenaud commented on #13108
Tackled in https://github.com/hashicorp/nomad/commit/ffb624cbd45fb92f8282d6a7c28193793a5f081b

[2022-05-25 20:56] #13108 closed

[2022-05-25 21:07] waquidvp commented on #10941
@tgross [nomad-pipeline](https://github.com/HyperBadger/nomad-pipeline) is a small tool I am working on. It allows you do create "pipeline" jobs in Nomad. It does this by using lifecycle hooks that updates the task groups `count`. It was inspired by this blog post: https://www.cgbaker.net/2020/12/hacking-nomad-job-dependencies/.

Since it relies on having to update the job to work, the behavior de

[2022-05-26 04:34] mr-karan commented on #10219
Bump.

Would love to see logging get some more :heart: for non docker drivers :smile:

[2022-05-26 05:10] mr-karan commented on #6174
Is there any more news on this?

[2022-05-26 08:58] jrasell commented on #13116
Hi @yaroot that makes sense and thanks for raising a PR. We will get round to reviewing this soon.

[2022-05-26 12:44] tgross commented on #10941
Probably. 😀 Any sort of logic around the `reschedule` block, node drains, or node failure are places where stuff could be totally broken. It's not workflow we've tested at all.

But for dispatch jobs the "scale to 1" workflow described by Chris' blog post is also unnecessary. Instead of scaling the next job from from 0 to 1, just dispatch the next job.

[2022-05-26 13:12] waquidvp commented on #10941
This would work, however you will loose the nice behaviour of using the meta tags to control the order. But I will definitely think about how I could handle this...

Does this apply to in place updates to normal jobs aswell?

[2022-05-26 14:18] philrenaud opened #13126 "Secure Variables: /new: Handle transition after success"

[2022-05-26 14:18] philrenaud opened #13127 "Secure Variables: /new: Handle when the path to a variable already exists"

[2022-05-26 14:18] philrenaud opened #13128 "Secure Variables: /new: Allow toggling value show/hide"

[2022-05-26 14:49] tgross commented on #10941
Updating non-dispatch jobs should work as one would expect and that's a well-tested path.

[2022-05-26 14:52] jrasell commented on #13095
Hi @attachmentgenie, I believe this is a result on the changes made in our build pipelines which took effect from v1.3.0. We should add a note to our upgrade guides to point this out.

I would suggest downloading and adding the higher version of GLIBC to your machine, and try starting Nomad with the following `LD_LIBRARY_PATH=<path>` before the Nomad command.

[2022-05-26 15:35] ygersie commented on #11778
I'm now also seeing this every now and then:
[code]
There really seems to be a problem with selecting feasible nodes.

[2022-05-26 16:35] tomasz-kuzemko opened #13136 "Example job created with `nomad job init` fails to allocate."
### Nomad version
Output from `nomad version`

Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Ubuntu 20.04

### Issue
Example task created with `nomad job init` fails to allocate when ran with `nomad job run example.nomad`.

I'm new to Nomad, but it seems the issue is caused by a recent change to make `consul` the default value for `provider`

[2022-05-26 16:42] luckymike commented on #13121
Can this issue be expanded to support the full set of config options that Consul Connect exposes, e.g. `destination_type`?

[2022-05-26 16:46] shoenig commented on #13136
Hi @tomasz-kuzemko, thanks for the report - we actually already have a fix for this that will be going out in the next release: https://github.com/hashicorp/nomad/pull/13044 Like you mentioned, we meant to set `provider= "nomad"` and forgot :facepalm:

[2022-05-26 16:46] #13136 closed

[2022-05-26 17:16] shoenig opened #13138 "connect: enable setting destination type in connect upstream"
Similar to https://github.com/hashicorp/nomad/issues/13121, add support for setting `destination_type` in a Connect upstream.

[2022-05-26 17:18] shoenig opened #13139 "consul: support for admin partitions"
Consul 1.11 added support for [admin partitions](https://learn.hashicorp.com/tutorials/consul/consul-admin-partitions).

Similar to the work done for adding support for Consul namespaces, Nomad should also add support for Consul admin partitions.

[2022-05-26 17:22] shoenig commented on #13121
Hi @luckymike, I created https://github.com/hashicorp/nomad/issues/13138 for `destination_type` which I can knock out for 1.3.x, and https://github.com/hashicorp/nomad/issues/13139 for supporting admin partitions overall, which is a substantial amount of work that we need to road map.

[2022-05-26 17:22] #13121 closed

[2022-05-26 18:16] waquidvp commented on #10941
Thanks for the confirmation.

[2022-05-26 18:18] philrenaud commented on #13093
Resolved by https://github.com/hashicorp/nomad/pull/13140

[2022-05-26 18:18] #13093 closed

[2022-05-26 18:23] philrenaud opened #13141 "Secure Variables: /new: Focus state on "Add More" when creating new variables"

[2022-05-26 18:24] louievandyke opened #13142 "Evaluations UI Permissions Issue with Namespaces"
### Nomad version
Output from `nomad version`

verified on version 1.3.0-rc1 and version 1.2.6

### Operating system and Environment details

18.04.1-Ubuntu

### Issue

The evaluations link in the UI does not allow users to access the page,  even though the token has write permissions to the namespace per the policy.

### Reproduction steps

Adding a policy like below results in permissions errors

[2022-05-26 20:06] ChaiWithJai opened #13146 "Service Discovery: display number of services associated to a job in Overview page."

[2022-05-26 20:07] ChaiWithJai opened #13147 "Service Discovery: create a nested sub-route `jobs/:jobId/services` that displays `services` associated with a job."

[2022-05-26 20:07] ChaiWithJai opened #13148 "Service Discovery: display a nested set of breadcrumbs in `jobs/:jobId/services` for services."

[2022-05-26 20:08] ChaiWithJai opened #13149 "Service Discovery: add sorting functionality to the table in `jobs/:jobId/services`."

[2022-05-26 20:08] ChaiWithJai opened #13150 "Service Discovery: add a Services table to the Allocation Detail page."

[2022-05-26 20:08] ChaiWithJai opened #13151 "Service Discovery: create a `/services` page that lists all Services."

[2022-05-26 20:08] ChaiWithJai opened #13152 "Service Discovery: add filters to the `/services` table."

[2022-05-26 20:08] ChaiWithJai opened #13153 "Service Discovery: add sorting functionality to the `/services` table."

[2022-05-26 20:08] ChaiWithJai opened #13154 "Service Discovery: add pagination functionality to the `/services` table."

[2022-05-26 20:08] ChaiWithJai opened #13155 "Service Discovery: create `/services/:serviceId` page."

[2022-05-26 20:08] ChaiWithJai opened #13156 "Service Discovery: add sorting functionality to `/services/:serviceId` page."

[2022-05-26 23:43] fluffyf-x commented on #11240
Closing issue as resolved, thank you team!

[2022-05-26 23:43] #11240 closed

[2022-05-27 00:12] RickyGrassmuck commented on #12877
I'm not 100% my issue is related to this one outside of the error message but I have run into this same "Operation not permitted" issue with the Cinder CSI Driver container after updating to 1.3.0 on one of our client nodes.

Ever since updating the node, I'm seeing the error messages below when a job using a Cinder CSI Volume is scheduled on it:

[code]

[2022-05-27 00:51] badalex commented on #12877
@RickyGrassmuck that sure smells pretty similar. Can you confirm you are also using cgroups v2?

[2022-05-27 01:45] lkysow commented on #12950
FYI this is needed in some cases for Consul mesh gateway wan federation because Consul uses the wan tagged address to tell other Consul DC's how to reach the local DC. If you throw an LB in front of your gateway then you need to set the tagged address to the LB DNS or IP.

[2022-05-27 12:56] cr0c0dylus commented on #12088
I have the same problem with 1.3.1 on Ubuntu 22.04 LTS

![Screenshot_20220527_155518](https://user-images.githubusercontent.com/29104606/170703367-478df7f2-dba2-4793-8c49-0b72fceb046a.png)

[2022-05-27 13:11] cr0c0dylus commented on #12088
[code]

it fixes the problem

[2022-05-27 14:48] RickyGrassmuck commented on #12877
For sure, I'll check on that when I get in the office in a few hours

[2022-05-27 15:22] philrenaud opened #13164 "UI: Edit existing secure variable"

[2022-05-27 19:04] RickyGrassmuck commented on #12877
Hmmm.... Interesting, that node is not using cgroups v2 it seems.

[2022-05-27 20:22] RickyGrassmuck commented on #12877
Ok, sorry for the noise, was actually able to stop that particular error from occurring after redeploying my CSI plugin. Having some new problems that warrant their own issue but they don't seem related to the cgroup issues anymore.

[2022-05-29 00:34] the-maldridge commented on #12309
I'm not a huge fan of having to type the name of the job, but having the button move out of the way seems like a good way to guard against the errant double click.

[2022-05-30 09:30] ostkrok commented on #13064
Hi @shoenig,

Just checking back to see if there is any additional information we can provide that would help you in identifying the cause of this issue?

[2022-05-30 11:19] denniseigner opened #13175 "Nomad acl token create should have '-json' option."
### Proposal

Nomad acl token create (https://www.nomadproject.io/docs/commands/acl/token-create) should have a '-json' option, similar to acl bootstrap command, to format output as JSON string.

### Use-cases

Parsing output from nomad-cli is easier when it is formatted in json.

[2022-05-30 13:48] jrasell commented on #13175
Hi @denniseigner and thanks for raising this feature request which would certainly be useful!

[2022-05-30 16:41] philrenaud opened #13178 "UI: Forbid editing the path of a secure variable"
Currently, will throw a "You can't update the ID of <var>" error.

[2022-05-30 17:37] #12861 closed

[2022-05-30 17:37] #13141 closed

[2022-05-30 17:37] #13128 closed

[2022-05-30 17:37] #13164 closed

[2022-05-30 22:03] calvarado2004 opened #13179 "CSI: make readiness probe timeout configurable to support faulty plugins"
### Nomad version
Output from `nomad version`
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)
### Operating system and Environment details
Ubuntu Linux 20.04
### Issue
CSI Plugin on Nomad 1.3 have a very short timeout. Affects Portworx which can take 15 minutes to be installed.
### Reproduction steps
Try to install Portworx on Nomad as a job following this guide:
https://docs.portworx.com/

[2022-05-31 08:14] ygersie commented on #12748
I wonder if this is related https://github.com/hashicorp/nomad/issues/11778#issuecomment-1135582278 It really looks like some bug in the scheduler that incorrectly fails placement during the node feasibility check. It is almost like it's not iterating through all nodes but for some reason returns a placement failure while it hasn't exhausted the full list yet.

[2022-05-31 12:37] tgross commented on #13179
Hi @calvarado2004 can you provide the specific log line you're seeing? It sounds like you're saying that after the plugin container starts that it takes 15min for the plugin to successfully respond to probes. But if that's the case, there's almost certainly something broken with your plugin's setup (or possibly the Portworx plugin has a bad bug; it definitely should not be taking 15min to start!).

[2022-05-31 13:59] vincenthuynh commented on #12273
Hello,
We've also encountered this issue as described in the [community forum](https://discuss.hashicorp.com/t/nomad-server-err-socket-not-connected/40181).

I was also able to reproduce the error running Nomad locally and using k6 tool:
[code]

[2022-05-31 14:12] grembo commented on #11900
@schmichael @lgfa29 I updated the description above to clarify what the solution we use looks like/what we consider the most important part of addressing the issue. As discussed with @tgross, I would like to reduce the scope of this so it becomes actionable, focussing on solving these two core issues:

1. vault token shouldn't be accessible from inside the task/container at all.
2. vault token sho

[2022-05-31 14:57] shantanugadgil opened #13181 "allow fingerprinting of classic cpu architecture names"
### Proposal
Currently the cpu is fingerprinted using the GOARCH (`amd64`, `arm64`).

Sometimes we need the "traditional" name of the CPU architecture; `i386`, `x86_64`, etc.

This proposal is to allow the Nomad agent to fingerprint the "classic" name for the CPU architecture.

### Use-cases
Software which ship using the classic CPU architecture in their filenames cannot be downloaded using the "i

[2022-05-31 16:30] fideloper commented on #10555
Adding to this - I updated Nomad from `0.12.*` to `1.2.6` and saw this behavior.

With 3 servers, and an auto-scaled number of clients (Ubuntu 18.04 AMD64), the Jobs UI does not refresh automatically any longer. I have to refresh the browser.

I'm not sure if this is Chrome-specific, perhaps when you leave the page it stops long-lived HTTP requests:

<img width="2010" alt="image" src="https://user

[2022-05-31 18:23] mly32 opened #13186 "Nomad tutorial sample job file not working"
### Nomad version

Nomad v1.3.1

### Operating system and Environment details

macOS 12.4 arm64 (MacBookPro18)

### Issue

The tutorial's sample job file generated by `nomad job init` has a stanza that requires Consul; however, the tutorial has no mention of Consul.

The job fails to place allocations because `Constraint "${attr.consul.version} semver >= 1.7.0": 1 nodes excluded by filter`.

I fou

[2022-05-31 18:39] josegonzalez commented on #10555
I'm also seeing this locally, where it definitely wasn't an issue before. It makes debugging issues quite a bit more annoying as I typically have 5-6 tabs open as I trigger various actions in Nomad.

[2022-05-31 18:56] shoenig commented on #9890
Indeed I'm able to reproduce with just a normal `batch` job. It seems when the alloc is evicted, Nomad doesn't queue up a replacement.

<details><summary>nomad.hcl</summary>

[code]
</details>

<details><summary>low.nomad</summary>

[code]
</details>

<details><summary>high.nomad</summary>

[code]
</details>

[code]

[2022-05-31 19:02] DerekStrickland commented on #12943
Sorry @maaft. I went back and re-read your original post a little more closely and I want to make sure I understand your goal correctly.

Based on these statements:

"I want to define a job that will be scheduled on all nodes that have minimum 1 GPU and make all GPUs available to the job:

job A -> runs on node A with 4 GPUs
job B -> runs on node B with 8 GPUs
job C -> runs on node C with 7 GPUs
n

[2022-05-31 19:32] DerekStrickland commented on #12798
Closing in favor of #13019

[2022-05-31 19:32] #12798 closed

[2022-05-31 20:21] ChaiWithJai opened #13189 "Service Discovery: refactor `Service` fragment to become a model."

[2022-05-31 20:30] tgross commented on #13179
That sounds like a reasonable workaround @RickyGrassmuck. Thanks!

But we should probably make the plugin supervisor timeout (ref [`plugin_supervisor_hook.go#L254-L256`](https://github.com/hashicorp/nomad/blob/v1.3.1/client/allocrunner/taskrunner/plugin_supervisor_hook.go#L254-L256)) configurable by the end user. This has some unfortunate side-effects in terms of trying to reliably detect when the

[2022-05-31 22:40] lgfa29 commented on #11900
Hi @grembo 👋

We're still discussing this internally. We had to step back for a while to get 1.3.0 out, but I've raise it again with the team. I will keep you posted of any updates.

[2022-05-31 22:49] lgfa29 commented on #13186
Hi @mly32, thanks for the detailed report.

This is a known issue that was fixed in https://github.com/hashicorp/nomad/pull/13044. The root cause is an additional validation that was added in Nomad 1.3.0 for Consul-based service discovery where Consul is not actually present. We unfortunately missed updating the long `example.nomad` job then.

For now you have a few options:
- as you noticed, you

[2022-05-31 22:49] #13186 closed

[2022-06-01 00:25] lgfa29 commented on #13122
Hi @idrennanvmware 👋

Unfortunately that UI element is quite misleading and confusing. What it represents is that some clients didn't receive an allocation for this `system` job, which could mean that there may be something wrong with them (like a misconfiguration, or the task driver being used is not healthy etc.).

In your case I suspect that the clients didn't receive an allocation due to your

[2022-06-01 06:45] Nickleby9 commented on #6715
Hi @tgross! How is the investigation going?
Anything more I can do to help?
We are still having this issue every few days so if you need more logs/info please let me know.

[2022-06-01 09:01] maaft commented on #12943
Thanks for reaching back to me.

I have **one** job description that descripes a `system` job. This job should run on all nodes that have at least 1 GPU available.

Within the job description, there is a task that should use **all available GPUs** on the node where it is scheduled. This number might differ from node to node.

[code]

 This is my current job description. As you can see, this job wo

[2022-06-01 11:09] DerekStrickland commented on #12943
Thanks @maaft . That helps. I was asking for the clarification to make a distinction between Jobs and Allocations. Also,
your clarification that this is a `system` job was helpful. Given the extra information, I think you are in a situation
where you'll have to create a different `job`/`jobspec` for each GPU count. There are 2 reasons for this.

- The first you already ran into, which is that the

[2022-06-01 12:47] maaft commented on #12943
Thank you very much @DerekStrickland !

You've been very helpful.

Sounds like that this is the solution to go. I'll revisit this issue if further problems arise but I don't think that this will be the case.

Thanks again!

[2022-06-01 15:49] Lord-Y commented on #13023
Any news about this issue?

[2022-06-01 15:51] #12950 closed

[2022-06-01 15:52] miconx opened #13197 "nomad kills tasks with templates using consul kv data"
### Nomad version
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Linux 5.10.0-14-amd64 #1 SMP Debian 5.10.113-1 (2022-04-29) x86_64 GNU/Linux

### Issue
nomad kills tasks with templates using consul kv data

### Reproduction steps
we have a nomad job file which is using this template:

[code]
nomad kills the job from time regularly
and in the

[2022-06-01 16:55] krishnaprateek6 opened #13198 "tasks fail to restart because of failure to launch logmon"
Hi there,

### Nomad version
v1.2.6

### Operating system and Environment details
Centos 7

### Issue
 Once docker container is restarted successfully nomad fails to re attach the job in nomad. This issue was reported long time ago https://github.com/hashicorp/nomad/issues/5296  but this seems to be an issue on nomad v1.2.6. As the docker container is still running on VM but nomad does not show up

[2022-06-01 17:21] krishnaprateek6 commented on #13198
![docker logs](https://user-images.githubusercontent.com/91501432/171465014-b5b89c99-4bf7-44ec-8864-4a255992be48.PNG)

[2022-06-01 18:46] pop commented on #10061
I can verify adding this fixes the issue:
[code]

Despite most docs saying you just need `namespace "foo" { policy = "write" }`

[2022-06-01 18:57] ChaiWithJai opened #13200 "Service Discover: create a template for `/jobs/:jobId/services`."

[2022-06-01 21:40] ryanm-sq commented on #9813
Adding in an additional data point since we're seeing this issue as well. It seems that services and checks get "cached" to `/opt/consul/[services|checks]` (Ubuntu 20.04) and contain the last consul token used. I believe the token written in the cached check configs get used to sync services/checks and once the token expires, will result in the error described here.

These files do not appear to r

[2022-06-01 22:28] tatototino opened #13203 "Tasks with "sidecar = false" and service setup doesn´t get service registered in consul server"
### Nomad version
Output from `nomad version`
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Windows 2019 1809

### Issue

I´ve setup a single task with the sidecar - false and a single service script, but the service didn´t´t get registered in consul server.

### Reproduction steps

Setup any service inside a task with sidecard=false and hook

[2022-06-02 12:09] arion-hjortur-arnthorsson commented on #13197
I had the same errors, workaround described in https://github.com/hashicorp/consul/issues/13303

[2022-06-02 12:46] seanamos commented on #2299
This is our exact use case. We want to run a monitoring job on the nomad cluster servers, but no other job should ever be scheduled onto those clients.

We work around it at the moment by specifying a constraint on every job.

[2022-06-02 13:42] krishnaprateek6 commented on #13198
[NomadFailure (1).txt](https://github.com/hashicorp/nomad/files/8824442/NomadFailure.1.txt)

specially in line 160 nomad starts throwing logmon errors & everything goes side ways for all nomad jobs

[2022-06-02 14:14] krishnaprateek6 commented on #13198
Task hook failed logmon: Unrecognized remote plugin message: This usually means that the plugin is either invalid or simply needs to be recompiled to support the latest protocol

[2022-06-02 15:23] shantanugadgil commented on #2299
@axsuul Did you have to run a separate Consul DC as well?
OR Did setting a different `datacenter` for the specific nodes "just work"?

[2022-06-02 15:46] axsuul commented on #2299
All my nodes are within the same Consul datacenter so they can still communicate with each other. Consul datacenters doesn't seem to be related to Nomad datacenters.

[2022-06-02 16:06] shantanugadgil commented on #2299
TIL!!! Thanks for the specifics!

I have stuck to a fixed configuration since forever and I guess I had a mental association of those config parameters!

[2022-06-02 17:44] m-wynn commented on #6385
This is becoming a major security and stability issue as we are seeing allocations try to forward from ports that already have rules in iptables, and requests bound for them are getting forwarded based on the stale iptables rule.
Is there anything we can do to ensure this gets prioritized?  Or can someone share a cleanup script they have been using?

Here is the error log around the time it fails

[2022-06-02 18:15] #13197 closed

[2022-06-02 19:51] lgfa29 commented on #13181
Closed by #13182

[2022-06-02 19:51] #13181 closed

[2022-06-02 22:43] #12349 closed

[2022-06-02 23:18] lgfa29 commented on #11900
Hi @grembo,

After discussing with the team we reached a few points:

- Allowing tasks to opt-out from receiving the Vault token at all is a good idea and worth continuing the work. Whenever possible (meaning on Linux and running as `root` at this time), the `private`directory should be in a `tmpfs`.
- The new `vault.file` configuration should default to `true` to maintain backwards compatibility.

[2022-06-03 01:32] grembo commented on #11900
Hi @lgfa29,

Thank you for taking the time to discuss the issue and for writing a detailed response.

I'll only address/clarify a few topics, I'll ask more detailed questions later (if needed) when I find the time to update the PR.

Makes sense.  I assume I can re-use what exists on for /secrets. I might also explore using tmpfs on FreeBSD at some point (but that would be a separate PR).

Agreed.

[2022-06-03 07:59] mr-karan commented on #12088
I can confirm that the stats reported by `nomad` CLI are fine, however the frontend still reports as 0 bytes. These are alloc stats from a task running `exec` driver:

[code]

I don't think enabling CGroups v1 (which is what adding  `systemd.unified_cgroup_hierarchy=0`  to `GRUB_CMDLINE_LINUX` does) is a good fix, just because the frontend isn't rendering those stats properly.

cc @shoenig

[2022-06-03 11:10] thatsk opened #13216 "Nomad client resource showing 0"
![image](https://user-images.githubusercontent.com/15324013/171842884-73c00518-f975-4fe5-a650-0ed7dfcd1aea.png)
i am using nomad 1.2.0 and getting resource 0 on client-side and not able to deploy the job from node perspective its working fine.

[2022-06-03 11:11] thatsk commented on #13216
i am using docker raw_exec and java driver let me know if you need further information,

[2022-06-03 11:37] #7777 closed

[2022-06-03 14:00] ionhashicorp opened #13219 "metrics: emit `nomad.nomad.autopilot.healthy` on followers"
## Proposal
Align Nomad to Consul behaviour, specifically make Nomad behave as Consul does in regards to `autopilot.healthy` metric

Further explanation:
- both Consul and Nomad expose an endpoint to be able to query metrics
- nomad metrics endpoint: `<NOMAD_ADDR>:4646/v1/metrics`
- Consul metrics endpoint: `<CONSUL_ADDR>:8500/v1/agent/metrics`
- Consul LEADER returns metric `consul.autopilot.heal

[2022-06-03 15:58] Allan-Nava commented on #8357
Any example to transform this hcl to json:

[code]

[2022-06-03 16:10] ChaiWithJai opened #13220 "Service Discovery: refactor Services display information from `jobs.services` to `jobs.taskGroups.services`."

[2022-06-05 21:25] rongcuid opened #13226 "APT repo for armhf is behind"
### Nomad version
[code]

### Operating system and Environment details

Debian Bullseye, armhf

### Issue

The version of Nomad in the repo is behind. The `arm64` repo contains version `1.3.1`, for instance. Similarly true for Consul.

[2022-06-06 07:02] jrasell commented on #13216
Hi @thatsk, are you able to provide details of the client CPU, memory, machine type, and the version of cgroups being used?

[2022-06-06 10:52] alemonmk opened #13229 "mounts fail for containerd-driver"
### Nomad version
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Vanilla Vultr Debian 11 amd64 image
[nomad-driver-containerd](https://github.com/Roblox/nomad-driver-containerd) 0.9.3
containerd `1.4.13~ds1-1~deb11u1`
[vultr-csi](https://github.com/vultr/vultr-csi) v0.7.0

### Issue
I'm trying to run PostgreSQL container with Nomad and use Vul

[2022-06-06 13:48] tgross commented on #12489
It looks like we're not going to get enough data to debug this issue, so I'm going to close it out. Please feel free to re-open if you've got more information. Thanks!

[2022-06-06 13:49] tgross commented on #12745
It looks like we didn't get a reply on this issue, so I'm going to close it out. Please feel free to re-open if you have more information so we can help debug. Thanks!

[2022-06-06 13:49] #12745 closed

[2022-06-06 13:51] tgross commented on #8130
I'm going to close this issue as a duplicate of https://github.com/hashicorp/nomad/issues/13037. Technically #13037 is the dupe, but it has a broader problem description that'll be useful for whomever writes those docs. Thanks for your patience!

[2022-06-06 13:51] #8130 closed

[2022-06-06 13:52] tgross commented on #13037
Hi @atavakoliyext! I've closed #8130, as this issue has a broader problem description that'll be useful for whomever writes those docs. Thanks for your patience!

[2022-06-06 13:53] tgross commented on #13039
Thanks for opening this issue @optiz0r! I've flagged it for the UI folks so they can investigate.

[2022-06-06 14:21] tgross commented on #12915
Hi @josh-m-sharpe! The API is most likely returning the right response here; the CLI runs a monitor that waits until the drain is complete. So this looks like the UI may be marking the completion a bit too eagerly. I'm going to mark this so that our UI folks can take a look. Thanks!

[2022-06-06 14:38] tgross commented on #12923
Hi @optiz0r! I just verified this works as expected when you have the expected `NOMAD_*` environment variables for the mTLS certificates. The specific error message you get will depend on which variable you're missing. For example:

[code]

[2022-06-06 14:38] #12923 closed

[2022-06-06 14:43] tgross commented on #13054
Hi @rbastiaans-tc! This is an unfortunate misfeature across the entire Nomad HTTP API. See also https://github.com/hashicorp/nomad/issues/8236. We'll need to break backwards compatibility to fix it, so we need to go thru a design effort and then a deprecation period first. I'm going to mark this issue for roadmapping until we have an issue open to go thru that API change work.

Thanks for opening

[2022-06-06 14:50] tgross commented on #13219
Seems like a reasonable thing to do. This code was mostly lifted directly out of Consul long ago and hasn't been touched much since. We've got an open issue https://github.com/hashicorp/nomad/issues/9570 for updating our autopilot implementation tentatively scheduled for Nomad 1.4.0. I'll make a note of this issue over there.

[2022-06-06 14:51] tgross commented on #9570
Note to implementor: probably worth doing https://github.com/hashicorp/nomad/issues/13219 at the same time.

[2022-06-06 15:17] tgross commented on #13226
Hi @rongcuid! I think you need to use the package named `arm` for 32-bit builds as of recent versions of Nomad. (Tagging @claire-labry and @lgfa29 on this, as I can't seem to find where the arm7 and armhf Makefile targets got removed from the GNUMakefile)

[2022-06-06 15:21] rongcuid commented on #13226
@tgross I tried to use `arm` instead of `armhf`, but it does not have the latest version either. Are you referring to the manual install?

Alternatively, is there an APT-Source repository so I can build the deb myself? I can't seem to set up the `deb-src` repo either.

[2022-06-06 15:40] tgross commented on #12923
@optiz0r Nomad's CLI only supports mTLS, not server-only TLS. If you're using TLS at all, you need to have the client (CLI) TLS configured as well. Take a look at the [transport security tutoral](https://learn.hashicorp.com/tutorials/nomad/security-enable-tls)

[2022-06-06 15:43] tgross commented on #13226
No, I was referring to the `arm` repo, but I've got some folks checking on that internally. In the meantime, can you provide the specific apt source you're using?

We don't ship an APT-Source repository, only the binary packages (keep in mind some of the packages are not open source, like Nomad Enterprise). You can get the source right from this GitHub repo.

[2022-06-06 15:48] optiz0r commented on #12923
Hi @tgross,

That's unexpected. How come `nomad operator api ${NOMAD_ADDR}/v1/jobs` works then, if nomad doesn't support server-only TLS? The only difference appears to be whether the URL is provided explicitly on the command line, or via an env var.

[code]

(https request was sent as expected. I don't have NOMAD_TOKEN set in my shell, but if I did I would have gotten results like in the first po

[2022-06-06 15:53] tgross commented on #12923
@optiz0r can you drop your entire `env | grep NOMAD_*` (tokens redacted as needed) and the `tls` block for the servers?

[2022-06-06 15:58] #11522 closed

[2022-06-06 16:01] optiz0r commented on #12923
I have no `NOMAD_*` env vars set, except the NOMAD_ADDR one being passed as part of the bash command line shown in my last post.

[code]

When I opened the issue, I did have `NOMAD_TOKEN` set appropriately in my environment, I just didn't bother for this re-creation, since it wasn't necessary to demonstrate the behaviour.

The tls block of the nomad server config is:

[code]

`nomad` commands, e.g

[2022-06-06 16:07] rongcuid commented on #13226
Currently, I am using:

[code]

[2022-06-06 18:24] tgross commented on #13198
@krishnaprateek6 I've edited your original request because all the information was hidden inside an HTML comment for some reason. The relevant bits from the attached logs look to be here:

[code]

It's a little unclear to me from your description how the situation starts. Is this happening after restarting the Nomad client agent, or after restarting the Docker container? If you mean the Docker con

[2022-06-06 18:29] krishnaprateek6 commented on #13198
This situation occurs when we find nomad jobs disappear but still when we do docker ps command it shows docker container itself is running the possible reason we think is when we notice above logmon errors that's when things start going side ways with nomad. FYI, we did not restart nomad or docker at this point. But unfortunately we haven't been able to find the root cause in this case other than

[2022-06-06 18:32] Allan-Nava commented on #9525
An example to add static ip?

[2022-06-06 18:59] tgross commented on #13229
Hi @alemonmk!

Thanks for providing all the CSI plugin's allocation logs, as those will help narrow down the problem. When Nomad asks the CSI plugin for a volume, it does a "Node Stage Volume" RPC (which succeeds in your logs), followed by a "Nomad Publish Volume" RPC. Most plugins literally just call [`mount(8)`](https://man7.org/linux/man-pages/man8/mount.8.html) and it looks like this one does

[2022-06-06 19:16] tgross opened #13259 "proposal: docker driver should detect and reject podman"
In https://github.com/hashicorp/nomad-driver-podman/issues/165 we've encountered unfortunate cases where the `docker` driver detects Podman 4.0 as if it were actually Docker. But unfortunately the fidelity of Podman's API is not quite 100% and this has caused conflict between the `podman` and `docker` drivers if they're running on the same machine.

We should at the very least provide documentatio

[2022-06-06 19:27] tgross commented on #13064
@ostkrok you mentioned:

It might be helpful to look at whether the overlapping amount is from allocations that are currently in the process of shutting down to be replaced by other allocations that are currently being placed (either from that job or another one run at the same time). I checked the code at [`client/client.go#L2986`](https://github.com/hashicorp/nomad/blob/v1.3.1/client/client.go#L

[2022-06-06 19:49] lgfa29 commented on #13226
Hi @rongcuid,

could you give us some more details about your environment? Are you running in Raspberry Pi for example? If so, which model.

Thanks!

[2022-06-06 20:17] tgross commented on #12930
Hi @EtienneBruines! I took the jobspec you provided and unfortunately wasn't able to reproduce this behavior on Nomad 1.2.6 or the current head. I end up with a status like the following instead, just as I'd expect:

[code]

A point of clarity because the discussion about rescheduling might confuse things otherwise: the `restart` block is _entirely_ controlled by the Nomad client. It's tracked on

[2022-06-06 20:48] tgross commented on #10727
I wanted to follow up on this. I think trying to whack-a-mole the problem isn't going to get us the results we want when the design itself isn't really equipped to solve this problem definitively. The only way to strictly enforce this would be to reject plans that have overlapping alloc index at the plan apply step. This would increase the rate of plan rejections, but could also make a few other f

[2022-06-06 21:03] tgross commented on #12346
Need to reopen this for tracking.

[2022-06-06 21:33] ejweber opened #13263 "Make the base of CSI staging_target_paths and target_paths configurable"
In the linked PR, @tgross effectively ensured that containers running CSI plugins would receive staging_target_paths like `/local/csi/staging`. The work was aimed at making giving multiple CSI plugins unique locations outside their containers to stage mounts at (while inside their containers, each plugin would see an isolated `/local/csi/staging directory`). The assumption (I think) was that CSI p

[2022-06-06 21:53] lgfa29 commented on #13226
@rongcuid I think we found the problem. Would you be able to send us the output of `uname -m` in your environment?

[2022-06-06 23:35] tgross commented on #13263
Hi @ejweber! Thanks for opening this issue. I'm happy to see CSI plugin authors taking a look at Nomad. So just for my understanding of the problem, the plugin is in compliance with the spec because it accepts the `staging_target_path` given to it in the [`NodeStageVolumeRequest`](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodestagevolume), but it's trying to use a pre

[2022-06-06 23:37] jhillyerd commented on #12088
I am also seeing this on 1.3.1.  I can see memory usage being sent in the chrome debugger network tab, although many of the other memory related fields are blank.

[code]

[2022-06-06 23:55] tgross opened #13264 "CSI: discard claims on GC'd nodes"
From https://github.com/hashicorp/nomad/issues/12346#issuecomment-1135910108:

* We'll alter the claim Unpublish workflow to skip the Node Unpublish RPCs for any node that is marked as `lost`, `disconnected`, or nil (GC'd). Just log the fault and send the controller RPCs, if any.
* If users want correct behavior on the clients, they'll include `stop_after_client_disconnect`. We should consider mak

[2022-06-06 23:55] tgross commented on #12346
Closed again, in lieu of https://github.com/hashicorp/nomad/issues/13264 tracking the current work to be done.

[2022-06-06 23:55] #12346 closed

[2022-06-07 01:44] #13094 closed

[2022-06-07 01:54] rongcuid commented on #13226
[code]

[2022-06-07 03:04] kvkang opened #13266 "volumes should not be allowed to delete when volume registered multiple times"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Ubuntu 20.04.3 LTS

### Issue
1. nomad api provides CreateVolume and RegisterVolume
2. a backend storage volume can be registered multiple times with then same id or same External ID on same namespace, region
3. DeleteVolume allow be called when a backend storage volume registere

[2022-06-07 10:41] dhpowrhost commented on #13023
Experiencing this issue as well on Ubuntu 22.04

[2022-06-07 11:02] philrenaud opened #13272 "Secure Variables: Delete Variable"
Allow users to remove unwanted variable files and update directory structure accordingly
- [ ] From a path route
- [x] From within a variable route

[2022-06-07 11:04] alemonmk commented on #13229
I hope you are actually talking about server logs because there's literally nothing about allocations in client log, even on trace level.

It probably does not matter much anymore, because there's nothing can be mounted unless it's one of default mounts or host volume:
Job:
<details>

[code]

</details>

Server log:
[code]

Wait, what's with that mount source path? At least it has to be in `netbox

[2022-06-07 12:32] tgross commented on #13266
Hi @kvkang! This seems reasonable but I think what we'd rather do here is prevent a volume from being registered with the same external ID in the first place. That's always going to be an operator error and none of the rest of the volume semantics are going to be correct if we allow multiple "aliases" of Nomad volume ID to external ID.

I'm going to change the title of this issue and mark it for r

[2022-06-07 13:12] tgross commented on #13229
Nope! Nomad [servers](https://www.nomadproject.io/docs/internals/architecture#server) are the control plane running raft. Nomad [clients](https://www.nomadproject.io/docs/internals/architecture#client) are the nodes where workloads are run. This is admittedly a little confusing with the Nomad CLI also being a "client" of sorts. But this is probably made more confusing because you're running the se

[2022-06-07 13:30] ejweber commented on #13263
We mount the root file system read-only to the plugin container like `/:/host` and link a small number of named binaries (beegfs-ctl, mount, etc.) to a lightweight Go application in the plugin container's path that we have dubbed [chwrap](https://github.com/NetApp/beegfs-csi-driver/tree/master/cmd/chwrap). When one of the named binaries is called, chwrap is actually executed. chwrap looks for the

[2022-06-07 15:18] tgross commented on #11778
I've just opened a PR in https://github.com/hashicorp/nomad/pull/13274 which should ship in Nomad 1.3.2 with backports to Nomad 1.2.x and Nomad 1.1.x.

[2022-06-07 17:31] #11778 closed

[2022-06-07 17:52] krishnaprateek6 commented on #13198
possibly something related to this https://github.com/hashicorp/nomad/pull/5577 but looks like this was fixed in older version of nomad but after when we start seeing these logmon errors in nomad client logs that's when we notice odd behavior with nomad where it cannot re-attach existing job even though docker ps shows that the container is up & running.

[2022-06-07 18:05] davemay99 commented on #12921
@mikenomitch Can you clarify whether your suggestion is to add `ip` or `ip_address` as a new Label in addition to `alloc_id`, `host`, `job`, `namespace`, `task`, and `task_group`?

[2022-06-07 19:18] krishnaprateek6 commented on #13198
@tgross looks like i have more concrete info now, the nomad job itself is running but the job that is running on static port becomes inaccessible after we see above logmon errors its as if nomad cannot release static ports after job restarts itself may be something that would be useful for you

[2022-06-07 23:15] gboddin commented on #6867
Returns codes are indeed useless in a CI pipeline.

0 = I'll do nothing
1 = I'll do something
255 = ???

It's funny because the tool is about automation.

What about (at least) :

0 = I'll do something and it'll be all right ( y a know so CI pipeline continues )
1 = I'll do nothing ( y a know so CI pipeline stops )
2 = I don't have enough space to do everything ( y a know because CI pipeline can t

[2022-06-08 03:57] kvkang commented on #13266
There are a few question here：
1. The operator also occurs when registering with ID and external ID separately. like ceph-csi
[code]

2. Volume is registered under a namespace, region now . Will registered volume in a different namespace or a different region be allowed? The volume maybe write by job which deploy on namespace/region a and read by job witch deploy namespace/region b.

[2022-06-08 05:10] zhiguangwang commented on #10911
Same here, the latest c7g instances with Graviton 3 are also affected by this issue, which is a bummer.

[2022-06-08 11:04] alemonmk commented on #13229
For the record, I changed the netbox job above to use docker driver and the mount is up.

[2022-06-08 12:10] khaledabdelaziz commented on #7619
We're getting same issue on Nomad 1.2.5.
Logs stop randomly getting written into Nomad logs while they are still getting produced by docker containers.

Nomad Client Details:
[code]

[2022-06-08 12:56] tgross commented on #13229
Thanks @alemonmk. We might need to open an issue with the driver authors here but let me see if I can make a minimal reproduction as well first.

[2022-06-08 13:06] tgross commented on #10911
Hi folks! Unfortunately the AWS fingerprinter has to rely on a hardcoded table of CPU data because the library we use for fingerprinting can't get the right data out of AWS. I've updated the table in https://github.com/hashicorp/nomad/pull/13280 and that'll ship in the next release of Nomad, with backports to 1.2.x and 1.1.x.

[2022-06-08 13:09] tgross commented on #13266
I'm sorry, I see the JSON you're showing here and see that one of the volumes doesn't have an external ID, but I don't think I understand the question you're asking about it.

No, we can't correctly support that use case because we won't be able to track usage between volumes if different Nomad volume IDs can refer to the same external entity.

[2022-06-08 13:45] #10911 closed

[2022-06-08 14:30] rbastiaans-tc commented on #8025
I still encounter this issue in Nomad 1.3.1

[2022-06-08 15:41] #11219 closed

[2022-06-08 16:49] mr-karan opened #13296 "Host address unreachable from exec driver if docker is present on host"
### Nomad version
Output from `nomad version`

[code]
### Operating system and Environment details

[code]
### Issue

1) On a fresh Nomad client VM, I deploy an exec job which is similar to:

[code]

2) The job gets deployed and I can see the `Host Address` inside Allocation:

![image](https://user-images.githubusercontent.com/5689132/172668217-83364c41-a9f5-4dfa-90b7-0061a5bc279a.png)

3) I `exec

[2022-06-08 18:08] #13020 closed

[2022-06-08 18:31] tgross commented on #13296
Hi @mr-karan! The bridge networking setup on the Nomad client appends to iptables (ref [`networking_bridge_linux.go#L108-L115`](https://github.com/hashicorp/nomad/blob/v1.3.1/client/allocrunner/networking_bridge_linux.go#L108-L115)). This is deliberate and introduced in da27dafdf0f9dce668a03f28987c5806ffb9eda4 so that cluster administrators can add their own rules to the chain. But if you install

[2022-06-08 18:59] tgross commented on #13198
@krishnaprateek6 let's try to avoid hypothesizing for now and focus on describing the sequence of events and symptoms you're seeing. So far we only know that:

* The `nomad` logs show that a task is restarting, followed by logmon launch errors.
* The `dockerd` logs show a bunch of JSON errors.
* The `nomad` logs show that we may be launching a docker container but then it's immediately getting kil

[2022-06-08 19:17] krishnaprateek6 commented on #13198
@tgross to answer your first question no the client did not get restarted but yes task got restarted by nomad when we first looked at it was a db connection issue then we resolved it but second time it happened there were no errors task was running in nomad but port on which task was running became inaccessible. FYI, We have all Firewall rules open for static ports nomad somehow not sure why tries

[2022-06-08 19:27] tgross commented on #13229
I was able to reproduce this issue on my local Vagrant environment and it looks like the problem is that the containerd driver expects the mount source to be from the _host_ and not the task.

As it turns out, this behavior is exactly what's documented for the containerd driver (ref [`source`](https://www.nomadproject.io/plugins/drivers/community/containerd#source)):

This is different than other

[2022-06-08 19:30] tgross commented on #13198
@krishnaprateek6 if you have a running task that can't be reached on the network, that's a completely different problem than the logmon attachment. Please open a separate issue for that.

[2022-06-08 19:31] tgross commented on #13198
I don't have a solution for this but I'm going to mark this issue for further investigation. There may be something related to https://github.com/hashicorp/nomad/issues/11939 or https://github.com/hashicorp/nomad/issues/6715 here but we'll need to build an independent reproduction for this one I think.

[2022-06-08 19:40] tgross commented on #13229
Oh right, but the original problem was that you couldn't get CSI to work. 😊 I just double-checked your original jobspec and it looks like you're doing this same bind-mount trick from the CSI volume to the location you want the config file. So the same two of solutions apply there as well.

[2022-06-08 20:13] lgfa29 commented on #11900
Yup, I think that would work 👍

I think it may be safer (as in backwards compatible safe) to keep both files with the same permissions for now, just in case somewhere in the implementation (either for this PR or some future change) they get copied from `/private` to `/secret`. The file will still be protected at the host by the `data_dir` permission.

 Sure, feel free to reach out whenever you nee

[2022-06-09 00:35] alemonmk commented on #13229
Thank you for the detailed analysis. So it's all my misunderstanding...

Podman (which I originally wanted to use) also ask for path on host as well.

I believe the config file mount is irrelevant, I tried [this](https://github.com/vultr/vultr-csi/blob/4778ab2382ea56d30beffdd179280ca8b9953580/docs/nomad/examples/example.nomad.hcl) and it's failing.

Thanks for the suggestion, though I made things

[2022-06-09 01:57] mr-karan commented on #13296
As a stop gap solution this is okay. Although I’d like to point that it’s not really practical if the node has multiple namespaces which are managed by different people, giving everyone the SSH access (so they login and do these curl commands) to underlying nodes isn’t feasible.

[2022-06-09 02:20] brettplarson commented on #12347
@tgross we also are seeing this error in Levant. Can you advise on this thread as well?

https://github.com/hashicorp/levant/issues/448

Additionally, in general, - We also have a large community of people waiting for an answer on this thread. Can you advise?
https://discuss.hashicorp.com/t/future-of-nomad-pack-and-levant/39929

Thank you!!!

[2022-06-09 02:58] jdoss opened #13303 "mTLS support in Nomad Service Discovery"
### Nomad version

[code]

### Operating system and Environment details
Fedora CoreOS Stable

### Issue

I have run the Nomad TLS gauntlet and have my cluster running with full TLS for clients and agents. I cannot use Nomad Service Discovery because it is not using https for the URL of the Nomad API and it is not using TLS to authenticate to the Nomad API. Thankfully, I also ran the Consul TLS gau

[2022-06-09 03:07] centur commented on #11305
Hi, is there any progress\update on this ? We are trying to run a dev cluster with nomad\consul\vault in lima-vm on MacOS (because macos has no support of bridge network in Docker which is required for consul mesh - we need to run dev env in linux vm) and we use arm64 image of Ubuntu Jelly.  Would be really great to see some progress in official supported way to install HCP tools in arm64 environm

[2022-06-09 04:00] kvkang commented on #13266
Steps:
1. Create a volume which id is  `testvolume`. The ceph-csi not return a new id. So nomad volume not record an external ID for this volume.
2. And then register a volume which id is `testvolume02` and external ID is `testvolume`.

At this time, Volume has multiple aliases on nomad.
Please pay attention to this scene.
May require a conflict judgment between ID and external ID here.

[code]

[

[2022-06-09 07:57] jrasell commented on #13303
Hi @jdoss; when running templates that use Nomad based functions, the HTTP request doesn't use the external API and instead uses a private internal HTTP interface and a custom dialer.

Our e2e test suite that runs nightly includes Nomad service template lookups and has TLS enabled which helps me believe this issue isn't related to TLS. I would also expect the `closed` error message on the template

[2022-06-09 12:37] tgross commented on #13266
If you create the volume via `nomad volume create` and the plugin doesn't return a new external ID, that's a bug in the plugin. From the [`CreateVolume`](https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume) docs:

[code]

Without the external ID from the plugin there's no way for Nomad to know whether the volume is unique or not and this will break _all_ contraints

[2022-06-09 12:40] tgross commented on #11305
@centur there are ARM builds available via the repository and we just never got around to closing this issue. We do have https://github.com/hashicorp/nomad/issues/13226 open but that appears to be a transient issue with the build infrastructure. I'm going to close this out and suggest you keep an eye on that issue.

[2022-06-09 12:40] #11305 closed

[2022-06-09 12:43] tgross commented on #12347
@brettplarson my colleague James has responded on https://github.com/hashicorp/levant/issues/448. The discuss thread seems to be unrelated to this issue entirely. Unfortunately I don't have an official answer for you, either. But let's try to keep issues on topic please.

[2022-06-09 12:44] tgross commented on #13296
Yeah if you don't intend for the application to be visible outside the host that's definitely a constraint.

[2022-06-09 12:55] tgross commented on #13229
In the same way with the same error as before? As I noted, the hostpath driver seemed to work fine with containerd for me. So it'd be interesting to see if the Vultr driver is doing something unusual here. Can you provide the client debug logs and plugin logs for this exact scenario without the complication of the template paths?

Those environment variables are for the the paths _inside_ the task

[2022-06-09 14:22] tgross commented on #13229
Can you provide the exact jobspec you ran please so that there's no ambiguity for me to try to reproduce?

Ok, that set of logs is mostly server logs but the first error here indicates that when the client tried to claim the volume, the volume did not have free claims available. We don't also see a ["could not claim volume"](https://github.com/hashicorp/nomad/blob/v1.3.1/client/allocrunner/csi_hoo

[2022-06-09 15:45] alemonmk commented on #13229
Disregard the client log last post, I think it was the log when it was restarting the task.

Job specs: https://gist.github.com/alemonmk/7365e17ca6b57bbc4ef78311bf9332f9
Server and client logs: https://gist.github.com/alemonmk/4b48ce1710a71a18c670013ef4b4ce28
Nodes and controller plugin logs would be about the same as posted before.

I get logs from here, and I'm not sure there's a config entry to

[2022-06-09 16:21] jdoss commented on #13303
Well this is wild. I picked a random client node to add debug logging `log_level = "DEBUG"` in the config and restarted nomad. Now things work.

I then rebooted all of the other client nodes and now they are allocating the job just fine and rendering the template using  `{{ range nomadService "fluentd" }}`. 😕

I am going to drain my all my clients and relaunch them with `log_level = "DEBUG"` from

[2022-06-09 17:18] shishir-a412ed commented on #13229
Hi @tgross Thanks for the detailed analysis and reproduction!

IIUC, the bind mount is failing because `source` in `containerd-driver` is a host path, and not relative to Nomad task allocation directory. The templates are rendered relative to Nomad task allocation directory.

[code]

However, when the job tries to bind mount using `containerd-driver`, `containerd` doesn't understand the relative p

[2022-06-09 17:38] shishir-a412ed commented on #13229
I was going through the `containerd-driver` code, as I remember I fixed this in the past. But looks like I fixed this for a specific case (relative paths starting with `local`) and not generic case.

[`Snippet to code`](https://github.com/Roblox/nomad-driver-containerd/blob/master/containerd/containerd.go#L255-L259)

Some more details in this [`issue comment`](https://github.com/Roblox/nomad-drive

[2022-06-09 18:10] shishir-a412ed commented on #13259
`We should at the very least provide documentation describing how to disable the docker driver if you're using the podman driver.`

This is a similar scenario for `containerd-driver`. For users that want to use `containerd-driver` would like to disable `docker driver`. As of today, we do that by just removing docker from the machine and Nomad doesn't register docker driver.

[code]

Something simi

[2022-06-09 18:12] jdoss commented on #13303
Ok I got something useful. I thought I was taking crazy pills because I relaunched my client nodes with `log_level = "DEBUG"` logging enabled and my job started without issues using the Nomad Service discovery. I then stopped the job to remove the debug logging on one of the nodes and started it again. The job then failed on a different node that had debug logging still enabled and I got some good

[2022-06-09 18:58] philrenaud opened #13310 "Secure Variables: Acceptance tests for Create and Edit flows"
Mimic the "it correctly traverses to and deletes a variable" flow in acceptance/secure-variables-test.js

[2022-06-09 21:20] chuckyz opened #13313 "Improvements to Template + Vault during Nomad Client restarts"
First off, thank you so much for the template improvements in 1.2.4!!

We’ve implemented these in our testing environment and I’d like to make a further improvement proposal.  Today, when our config management runs (Chef) we just hard restart Nomad after each run.  This has served us pretty well to this point but unfortunately it’s pointed out a flaw within Nomad’s template system; especially when

[2022-06-09 22:13] joliver commented on #8058
I'm late to the party, but there's a slightly related scenario that I at least wanted to document: using `host_volume` rather than the CSI plugin, it's not obvious how to assign a particular allocation (e.g. 0, 1, 2, etc.) to a particular node. When using stateful resources like MySQL, PostgreSQL, etc. having a particular node be assigned to an allocation makes things operationally easier and redu

[2022-06-10 00:18] alemonmk commented on #13229
Can you point me to the code in [docker driver](https://github.com/hashicorp/nomad/tree/main/drivers/docker) where this happens? Let me look into containerd-driver and see if we can make this behaviour same as Nomad docker driver.

I believe this is it: https://github.com/hashicorp/nomad/blob/2697e63ad67c254d0d8f1be02a477807fe40c50a/drivers/docker/driver.go#L1255

Please edit and nomad job run `cs

[2022-06-10 02:15] badalex commented on #12877
So I had a little time today and played with this a bit. on 1.3.2-dev

After a few runs, I was able to tease this out of the logs:

I can get that fairly consistently. Not as frequent as the OP. Which, to me, looks like a symptom of the same problem.

So on a whim I tried this patch:
[code]

Which breaks tasks consistently with a similar looking error message, albeit much earlier with:

Kind of al

[2022-06-10 03:27] philrenaud opened #13325 "Establish "toast" style notifications service and pass secure variables notifications to it"

[2022-06-10 08:37] jrasell commented on #13303
Hi @jdoss and thanks for the extra detail. There is a lot to unpack and comment on so i'll try and do this in order with some markers using quotes from your comments.

Yes, the configuration file is available [within this repo](https://github.com/hashicorp/nomad/blob/main/e2e/terraform/etc/nomad.d/tls.hcl) and matches your setup.

As you show in your example, a well behaving HTTP API and client re

[2022-06-10 13:21] jdoss commented on #13303
No problem @jrasell! I am glad I was able to help and thanks for responding in such detail as well. 😃

[2022-06-10 13:34] tgross commented on #13313
Hi @chuckyz!

I suspect that what we're seeing here is the task failing to restore: the client's task runner hasn't successfully reattached to the task. Did this state continue after Vault connectivity was restored?

As for the template runner persisting state, this is all great and  aligned with some ideas we've been discussing.

The currently tricky thing with templating is that the template run

[2022-06-10 14:08] philrenaud opened #13332 "Secure Variables UI: Make sure a variable's items' key doesn't have a period in it"
Throw an inline form warning to the end user if there's a `.` in `sv.items[].key`

[2022-06-10 14:27] pikeas opened #13333 "volume_mount does not update allocation"
**Nomad version**: 1.3.1
**Operating system and Environment details**: Ubuntu 22.04 LTS

### Issue

Updating a job spec by adding a volume mount doesn't launch a new container with access to the volume. Stopping and starting the job does work, so it appears the scheduler does not view the new mount as requiring a relaunch.

### Reproduction steps

Run job, add a new volume_mount, run the job again

[2022-06-10 14:53] alemonmk commented on #13229
I believe I have found the caveat here despite my limited code reading skills.

tl;dr containerd-driver does not set bind mount propagation mode, thus what mounted in CSI node container does not appear in host.

First, the CSI mounting points `/local/csi` is set to be a bidirectional bind mount according to:
https://github.com/hashicorp/nomad/blob/2b054e38e91af964d1235faa98c286ca3f527e56/client/al

[2022-06-10 16:06] philrenaud opened #13336 "UI: Add Percy snapshots for variables and subpages"
- [x] /variables
- [x] /variables/new
- [x] /variables/path
- [x] /variables/variable
- [x] /variables/variable/edit

[2022-06-10 17:43] ggriffiths opened #13337 "CSI plugin timeout defaults to 30 seconds and is non-configurable"
### Nomad version
[code]

### Operating system and Environment details
CentOS Linux 7 (Core)

### Issue
CSI Plugins are killed after 30 seconds if the CSI socket is not yet available. However, some CSI plugins may take 60 seconds+ to start up.

For example, Portworx works by deploying an oci-monitor container that in turn pulls our Portworx service container (which can take a minute or two). After

[2022-06-10 17:46] tgross commented on #13337
Hi @ggriffiths! We've already got https://github.com/hashicorp/nomad/issues/13179 open and getting roadmapped, specifically because of the Portworx plugin. I'm going to close this issue as a dupe and suggest you keep an eye out for #13179

[2022-06-10 17:46] #13337 closed

[2022-06-10 17:47] ggriffiths commented on #13337
Ah awesome, thank you for the quick response! @tgross

[2022-06-10 17:52] ggriffiths commented on #13179
@RickyGrassmuck Yes that's still accurate, thanks for adding that context here. It normally only takes a few minutes to pull the image/unpack/start PX up depending on network speed.

@tgross is anyone working on this issue? If not, I can assist here.

Where were you thinking of making the timeout configurable? In the CSI Plugin stanza?

[2022-06-10 18:08] pikeas commented on #12894
I'm in the same boat, running Nomad 1.3.1. DNS works on the host (after following https://learn.hashicorp.com/tutorials/consul/dns-forwarding#systemd-resolved-setup) and not in containers.

This runs counter to https://www.nomadproject.io/docs/job-specification/network#dns:

Also relevant: https://github.com/docker/docker-ce/blob/master/components/engine/libnetwork/resolvconf/resolvconf.go#L35-L39

[2022-06-10 18:08] tgross commented on #13179
It's on our short-term todo list but no one is immediately assigned to it. I'd be happy to review a PR if you're interested.

Yeah, that seems like the right place for it and that struct is available where the readiness probe timeout happens without too much trouble.

[2022-06-10 18:10] ggriffiths commented on #13179
Sounds good, I'll send a PR soon.

[2022-06-10 18:21] philrenaud opened #13338 "Secure Variables UI: landing on variables/*/edit does not load from server"
Works fine if you traverse from /variables/* but breaks if you reload on /variables/*/edit directly

[2022-06-10 18:48] tgross commented on #13333
Hi @pikeas! This was a known bug prior to Nomad 1.3.1 but it should have been fixed with https://github.com/hashicorp/nomad/pull/13008. I just tested with the released binary and wasn't able to reproduce the problem.

Here's my jobspec:

<details><summary>jobspec</summary>

[code]

</details>

[code]

Then I uncommented the `volume_mount` block and ran it again, resulting in a new allocation:

[co

[2022-06-10 19:10] pikeas commented on #13333
Thanks for the quick response!

I just tried with your jobspec and am having the same issue.

Notes:
* Server: Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56) running on up-to-date Ubuntu 22.04 LTS.
* Client: same version, running on macOS 12.3.1, installed view homebrew. Command: `nomad job run jobs/httpd.nomad` (uses `NOMAD_ADDR=http://<addr>:4646`)
* The job definition does change: volu

[2022-06-10 19:16] #13332 closed

[2022-06-10 19:21] pikeas commented on #13333
I believe this would be the check a few lines later at https://github.com/hashicorp/nomad/blob/main/scheduler/util.go#L563-L565:

[code]

So, this *should* work. I'm not sure why we're seeing different behaviors, please let me know if there are any other logs I can check?

[2022-06-10 19:34] twunderlich-grapl commented on #12894
FYI, the PR I mentioned was https://github.com/hashicorp/nomad/pull/12817, presumably it'll actually be released as part of 1.4.0 but 🤷
I think I may take a look at how much work it would be to allow setting dns settings in the Nomad config for bridge networking instead of just host networking.

[2022-06-10 20:04] tgross commented on #13028
I've had a chance to take another look at this and the problem is pretty straightforwardly the `isNewClaim`; that bit of code is incorrectly assuming that if we're not getting a GC claim and the state is "taken", that it's new. That's causing the extra controller publish RPCs to be sent. The client has restarted, not become `lost`, so the server doesn't know that the plugins haven't been re-finger

[2022-06-10 21:05] blaggacao commented on #6925
https://github.com/norouter/norouter

[2022-06-11 00:39] lgfa29 commented on #11900
Cool, so we're probably OK. But definitely something to keep in mind during implementation 🙂

[2022-06-11 04:46] alemonmk commented on #13229
I have opened issues to containerd-driver, thank you @tgross and @shishir-a412ed for helping me get to the bottom of this with detailed analysis and thinking process.

[2022-06-11 04:46] #13229 closed

[2022-06-11 08:43] zhiguangwang commented on #8892
Most stateful workloads whose docker image run as non-root user would hit this issue. For example:

- prometheus
- grafana
- loki
- elasticsearch

[2022-06-11 13:11] danishprakash commented on #9503
Hey, I had a question about this. So, we're exclusively talking about attaching context as part of calls _to_ the docker engine made from the docker client, is that correct?

Also, this could change if we're exporting a specific call e.g. `driver.Signal()` from @tgross's earlier PR in which case, we allow the callers to provide the context (which could be derived from higher up the call stack).

I

[2022-06-11 13:45] pikeas commented on #12894
Chewing on this a bit, docker containers are already routable to the host's private interfaces, and we *do* have a way to inject ourselves into that path, iptables!

I haven't found the right invocation yet. This doesn't work:

[code]

[2022-06-11 14:05] shantanugadgil commented on #12894
@pikeas does this not help?

https://github.com/hashicorp/nomad/issues/12894#issuecomment-1125902457

[2022-06-12 02:40] gaelik commented on #8224
This issue still happens with 1.3.1 on RHEL 8

[2022-06-12 09:26] Netlims commented on #6715
Hi @tgross, I noticed the other you mentioned.
I can see that this one refers to Linux server with Docker driver, which is entirely different case than appears here.
Based on the recent discovery, is there more information you need me to provide?
This is happening on our QA environment almost twice a week and I intentionally not trying anything as a workaround (i.e increasing server count) so I wi

[2022-06-12 12:15] kolotaev commented on #11175
Hello,
@towe75, thank you for the Draft implementation! As per discussion in the Draft PR, looks like there aren't any huge restrictions/concerns for further converting it into the mainstream PR for merging it into master. Are there any plans to doing this?

[2022-06-12 12:25] kolotaev commented on #11175
One more note from my side, which I didn't realise prior to looking into the code (which you definitely already aware of). There's really a driver's config (as part of the `InternalCapabilitiesDriver` interface implementation for a particular driver) that can disable spawning logmon on a driver level, but for some reason it has been implemented only for `docker` driver. Are there any reasons for m

[2022-06-12 18:50] grembo commented on #11900
@lgfa29 See #13343 for a first version of the change.

[2022-06-13 13:54] shoenig opened #13348 "consul: optimize watching of Consul checks during deployment"
Currently the way Nomad tracks Consul health checks during deployment is inefficient. Nomad will spam Consul with 3 API requests (namespaces, services, checks) every 500 milliseconds for each allocation currently being started (assuming `update.health_check=="checks"` which is the default).

https://github.com/hashicorp/nomad/blob/v1.3.1/client/allochealth/tracker.go#L23
https://github.com/hashico

[2022-06-13 19:13] radeksimko opened #13350 "Change job spec name convention to `*.nomad.hcl`"
## Background

Nomad job spec files currently follow a documented convention of `*.nomad`. This is currently "just" a convention as users can name these files any way they wish since Nomad expects full file path when submitting (`nomad job run <FILE_PATH>`).

This may become a more strictly-enforced convention in the context of https://github.com/hashicorp/nomad/issues/7954

The motivation here is

[2022-06-13 22:19] ygersie opened #13352 "[CNI] network mode bridge doesn't allow hairpin"
When spinning up a job that uses CNI to setup the forwarding the container can't reach itself on the host port. This probably isn't a very common use case but when deploying a container that needs to discover itself and its peers through a Consul endpoint we get back the host IP + Port including itself. The connection towards the endpoint that references itself will then not work and gives timeout

[2022-06-14 03:58] kholisrag commented on #6564
just give 2 cent thought,

if we use consul alongside with nomad,
we can get list of connected nomad server ip address from it,

I think this will helpful for nomad to do automatic recovery, especially when the private ip is dynamic 😅

[2022-06-14 08:59] Davasny opened #13356 "UI fails to load job when there is @ in job name after job run in nomad 1.3.1-dev"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue
Some time ago I reported issue #12986 which was fixed but on the same version I have problem with planning job via UI. It only ocures when there is `@` sign in job name
![image](https://user-images.githubusercontent.com/25726866/173537341-fb981847-1fc3-4502-9c5b-f55d1f385304.png)

### Reproduction steps
Plan a

[2022-06-14 11:08] DerekStrickland commented on #13356
Hi @Davasny

I'm sorry to hear there are still issues with this use case, but thank you for reporting it!

[2022-06-14 11:11] DerekStrickland commented on #13352
Hi @ygersie

Thanks for reporting this issue, and for providing a potential solution!  I'll take a look at what you've got here and then discuss where it might fit in the roadmap. Also, feel free to submit a PR to add the configuration. You might get to it more quickly than we do, and community PRs are always welcome!

[2022-06-14 11:58] rongcuid commented on #13226
It is still not in the repo.

[2022-06-14 12:43] Netlims opened #13357 "AutoScaling docs are confusing"
Hi,

I'm trying to implement AutoScaling on AWS using Nomad and I find the documentation pretty confusing.
For example on the following topic, it's not clear to me where I should define the "target" definition.
https://www.nomadproject.io/tools/autoscaling/plugins/target/aws-asg#agent-configuration-options

It's under "agent configuration" so I guess it should be as part of Nomad agent configurati

[2022-06-14 12:51] DerekStrickland commented on #13352
I don't know that we could set it as the default. Some quick research seems to indicate that not all CNI implementations support it. I think the PR would need to default to false but allow user configuration to enable hairpin mode.

[2022-06-14 13:23] DerekStrickland commented on #13357
Hi @Netlims.

Thanks for using Nomad and thanks for posting this here as well as on Discuss. I hope the [examples in the autoscaler demos repo](https://github.com/hashicorp/nomad-autoscaler-demos) get you unstuck. We'll take a look at the docs as soon as we can and see how we can improve the situation.

[2022-06-14 14:04] #13179 closed

[2022-06-14 15:20] kylejmcintyre commented on #7096
We just encountered this as well...big bummer since we use dispatch job heavily.

[2022-06-14 16:11] kylejmcintyre opened #13360 "Dispatch payload no longer appears in UI after upgrading from 1.1.4 -> 1.3.1"
### Nomad version
1.3.1

### Operating system and Environment details
Ubuntu 21.04

### Issue

After upgrading from Nomad 1.1.4 -> 1.3.1, the payload box in the UI appears blank whereas it used to contain the input/payload we passed to the dispatch job API:

1.1.4 Behavior
![Screen Shot 2022-06-14 at 10 07 04 AM](https://user-images.githubusercontent.com/4512670/173624387-c533282d-f806-4eda-877f-9

[2022-06-14 17:10] ggriffiths commented on #13179
Awesome! Can we backport this to 1.1.x and 1.2.x as well? We hit this on Nomad 1.1.14 originally as well.

[2022-06-14 17:38] tgross commented on #13179
We don't generally backport new features. But I get that it makes compatibility with Portworx tricky. Lemme see what it would take to get the backport thru (it's a headache because the code changes out from under us).

[2022-06-14 18:05] tgross commented on #13179
Ah yeah that's right, the timeout was backported, so that makes it a regression to fix.

[2022-06-14 18:07] f3l1x commented on #9282
In my case tuning `update` stanza helps.

[code]

`progress_deadline` is by default 10m, it's quite long time to see that it fails, so I decrease it to 5m and `healthy_deadline` set to 4m. As for I know, downloading docker image counts to `healthy_deadline`. So count with that.

[2022-06-14 18:49] ggriffiths commented on #13179
Awesome, thank you @tgross!

[2022-06-14 20:30] mikenomitch commented on #6743
I think this is broadly a good idea, but I don't think this specific implementation makes sense. Having this be part of the Nomad binary itself seems kind of wrong. The responsibility for starting Nomad/versioning/etc would move into the Nomad binary, which could make it less flexible in the future, and increase the scope of what `nomad` does.

I do think being more prescriptive about how to do th

[2022-06-14 20:30] #6743 closed

[2022-06-14 20:32] #7293 closed

[2022-06-14 20:34] #9998 closed

[2022-06-14 20:38] mikenomitch commented on #6516
I am going to close this issue, because as Gufran said, its more of a unix issue than a Nomad issue. This will still be searchable via Google/GH search for context though!

[2022-06-14 20:38] #6516 closed

[2022-06-14 20:43] mikenomitch commented on #4715
I'm going to close this out as there hasn't been a lot of interest on this one in several years, and it could lead users down a bad path - IE they have to know about their client env to know if their job will work. This would also be tricky to do for all of our different drivers. Plus the stuff tgross mentioned.

There are also (maybe not ideal) workaround like using a host volume on the client to

[2022-06-14 20:43] #4715 closed

[2022-06-14 20:47] mikenomitch commented on #3848
Going to close this as I haven't seen much confusion about this out in the wild.

FWIW, when planning Nomad will only care about the allotted CPU requested by the config (not what is actually running at the time)

[2022-06-14 20:47] #3848 closed

[2022-06-14 20:52] mikenomitch commented on #5826
Hey @Smithx10 this isn't an inherently bad idea, but I think this doesn't apply to the majority of cases, and we want to nudge people toward immuatable & replaceable workloads. This would also just open up a can of worms in terms of implementation, so realistically I don't think we're going to get to this any time soon. Will close this issue out to reflect that.

[2022-06-14 20:52] #5826 closed

[2022-06-14 20:58] mikenomitch commented on #3573
Hi, since there will only be 10 versions max, I think querying for everything and then filtering after the request should solve this issue for most/all use cases. Going to close this out as I don't think the payoff is that great compared to other stuff we could work on.

[2022-06-14 20:58] #3573 closed

[2022-06-14 21:00] mikenomitch commented on #4511
Going to close this out as the OpenTracing project has been archived.

@lgfa29 is working on an OpenTelemetry integration for Nomad, so this request lives on in spirit!

[2022-06-14 22:02] mikenomitch commented on #13350
Thanks for the ping @tgross. Yeah, this seems like something that should be a part of a major release. Since it is "just a convention" I guess this doesn't really break anything, but it feels like something we should at least mention in a blog post and high-traffic changelog.

@radeksimko were you planning to PR this, or just opening the issue to share the idea?

[2022-06-14 23:02] chuckyz commented on #13313
Let me re-test.  I think this might be the core of that particular angle.

Looking at #12301 this would run consul-template and go-getter in the same way as Envoy where it's ran inside of an allocation in a bridge-style mode, yes?

Thinking about that, I think we'd still have the issue of a valid Vault token but the Vault fingerprint failing, and thus I'd really like some kind of a knob exposed th

[2022-06-15 08:36] radeksimko commented on #13350
@mikenomitch I could PR this potentially, as a longer (but IMO the best) way of closing https://github.com/hashicorp/vscode-hcl/issues/116

That said if you were planning to make this part of a major release, then I guess it would need some more planning - esp. to avoid a PR sitting there and accumulating conflicts. Not sure if you have separate branches for upcoming major releases to avoid this k

[2022-06-15 09:25] ygersie commented on #13352
@DerekStrickland it may not be supported by all CNI implementations but this is specifically the one used to setup:
[code]
which is used to setup port forwarding using the CNI plugins and also required when using Consul Connect. Afaik it won't affect any other (user supplied) configurations. But if there might be other issues then it definitely needs to be configurable. Please let me know what you

[2022-06-15 09:38] jrasell commented on #13352
Hi @ygersie, hope you're doing well!

I think another thing to keep in mind here is the backwards compatibility and behaviour consistency when updating the built-in CNI configuration. I wonder if we could add a new client configuration parameter similar to [`client.bridge_network_name`](https://www.nomadproject.io/docs/configuration/client#bridge_network_name) and [`client.bridge_network_subnet`](

[2022-06-15 10:28] mr-karan opened #13379 "Websockets for Events Stream"
### Proposal

I noticed that current Events Stream uses long polling to fetch new events [establishing a connection](https://github.com/hashicorp/nomad/blob/main/api/event_stream.go#L152) from the server. Websockets are generally a better choice for this usecase as they are more reliable and chances of losing an event is lesser. It's also more convenient way to subscribe to events if the Nomad API

[2022-06-15 11:52] DerekStrickland commented on #13379
Hi @mr-karan

We've thought about it a little bit. We've got an open issue with a rough todo list in the [Nomad OpenAPI](https://github.com/hashicorp/nomad-openapi/issues/27) project.

If this is something you would find valuable, would you mind upvoting it here or over there, or both? We're currently trying to understand the community demand for this feature/enhancement so we know how to prioriti

[2022-06-15 13:31] f3l1x opened #13380 "CSI: validate that single-node mounts aren't used with canaries"
### Nomad version

1.3.1

### Operating system and Environment details

Debian 11.3

### Issue

Hi ✋

We're running Nomad 1.3.1 with 3 nomad masters, 3 nomad clients, consul, traefik and NFS plugin.

We are facing given allocation in pending state forever. It will end by progress_deadline (10m) and failed deployment.

I am not sure if it's related to CSI, we are using NFS (https://gitlab.com/rocke

[2022-06-15 13:36] tgross commented on #13313
Yes, although probably not in the same network namespace as the rest of the allocation. The nitty-gritty details still need to be worked out.

`vault_retry=0` already tries an unlimited number of times. Where the containerization would help is that in order to run in their own process, the template/artifact container would need to have its own Vault/Consul API client. That API client can continue

[2022-06-15 14:20] tgross opened #13381 "bootstrap gossip encryption from secure variables root key"
Once Secure Variables https://github.com/hashicorp/nomad/issues/12802 ships in Nomad 1.4.0, we'll have an encryption key used for signing workload identity and encrypting secure variables, with automatic key bootstrapping, replication, and rotation. This provides us with an opportunity to improve the story for gossip protocol encryption.

When the encryption key for a cluster is bootstrapped, we c

[2022-06-15 14:54] DerekStrickland opened #13382 "chore: detach not always respected by CLI"
### Nomad version
1.3.x

### Issue

There are multiple CLI commands that have copy pasted code related to the `detach` flag that may or may not be behaving properly.  This was discovered when reviewing this community [PR](https://github.com/hashicorp/nomad/pull/13364). We should review and correct any remaining issues.

[2022-06-15 14:56] DerekStrickland commented on #13380
Hi @f3l1x

Thanks for using Nomad and for reporting this issue. We'll try to replicate this locally and update the issue.

[2022-06-15 15:18] DerekStrickland commented on #13380
Hi again @f3l1x

So a couple things stick out to me.  Since it sometimes runs and sometimes doesn't it can be really tricky to debug. Can you include your server and client logs ideally both when it works and when it doesn't?  Also, if you could include your server and client configs with any secrets removed that would be really helpful. Replicating your environment as best we can is going to be e

[2022-06-15 15:43] f3l1x commented on #13380
Hi @DerekStrickland. I've verified this job right now and changing only meta of the job 10 times result in same state (pending allocation -> progress_deadline).

With `sometimes run` I meant that changing different parts of job such as ports or volumes sometimes helps, but it's definitely not the way I would like to use it (changing randomly something). :-) My apologies for mystification.

[2022-06-15 16:43] kolotaev commented on #12589
It's a very useful feature especially for not-complex solutions that don't require a separate Consul service running. Simplicity and a light weight (in terms of resource consumption) are the primary reasons for choosing Nomad (at least for me). So thank you!

I'm happy that there's even a plan for improving this feature with new functionality. What I'm missing right now is the proper health-checks

[2022-06-15 17:21] mikenomitch commented on #12589
@kolotaev glad it's useful! Regarding health checks, stay tuned :). The plan right now is to add native checks in Nomad 1.4.

[2022-06-15 17:36] DerekStrickland commented on #13380
Thanks for the clarification 😄

Are you able to share the logs and configuration files with us?

[2022-06-15 17:44] f3l1x commented on #13380
I cut the logs around failed deployment. I hope that help. If you need anything more, just say.

----

Nomad server:

[code]

Nomad client:

[code]

[2022-06-15 17:57] f3l1x commented on #13380
@DerekStrickland Just an idea, but is it possible that we're facing this trouble because we use `single-node-writer` in CSI? And multiple canaries instances requires two allocations at the same time before first one gets off?

[2022-06-15 20:02] waquidvp commented on #12589
Is it worth, by default, having the Nomad server as a service? This would be useful for putting Traefik in front of the Nomad UI using the native service discovery integration.

[2022-06-15 20:46] axsuul commented on #13032
@breathe Great suggestion! In the meantime, can you touch on how you're solving this with service specific logic at the moment? My stack is identical to yours and I'm having trouble getting zero-downtime deployments to work.

I am using the canary deployment strategy but there's about a 5-10 second period where Traefik still seems to be sending traffic to the old allocation/instance even though th

[2022-06-16 07:09] chairwa opened #13388 "Static build nomad"
Hashicorp consul is released in static building binary, while nomad binary is dynamic.
I myself tried to static compile nomad in the following way, and run on Android 9 (although not officially support)

### Nomad version
Nomad v1.3.2-dev (da9f22f7ce89f004cb9b674091c765756c18d18e+CHANGES)

### Operating system and Environment details
compile-time : Ubuntu 16.04.7 LTS aarch64
runtime : Android 9

#

[2022-06-16 10:01] DerekStrickland commented on #13388
Hi @chairwa. Thanks for using Nomad and for submitting this issue!

This issue appears to be a duplicate of #5643.  We document the challenge in [contributing/cgo.md](https://github.com/hashicorp/nomad/blob/main/contributing/cgo.md). Here's what that says:

"Nomad requires the use of CGO on Linux.

Issue [#5643](https://github.com/hashicorp/nomad/issues/5643) tracks the desire for Nomad to not req

[2022-06-16 10:17] DerekStrickland commented on #13380
That's a really interesting theory. The "max claims reached" log message might point to just that. I'm cc'ing my colleague @tgross for a consultation 😄

[2022-06-16 13:46] philrenaud opened #13390 "Secure Variables /new and /edit: make eye toggles only toggle on/off for their respective row"
![image](https://user-images.githubusercontent.com/713991/174083833-1d243725-0262-4ce1-8b33-dea8faa255a2.png)

Currently they toggle all rows; make them individually toggle-able.

[2022-06-16 13:50] philrenaud opened #13391 "Secure Variables: when you're pending delete of a variable, remove the edit button"
Remove the Edit button in the circumstance shown below:
![image](https://user-images.githubusercontent.com/713991/174084719-c4eea5c9-9570-448e-bfd2-ef0bcc5022c7.png)

[2022-06-16 13:51] DerekStrickland opened #13392 "chore: The autoscaler overview could be improved to point out that the auto-scaler is a separate daemon"
### Proposal

While researching this [discuss](https://discuss.hashicorp.com/t/nomad-autoscaling-with-aws-target/40737/5) question I noticed that the auto-scaler overview implies, but does not directly state, that the auto-scaler runs as a separate daemon. This led the user to be confused that the auto-scaler agent configuration needed to be added to the Nomad agent configuration. The Auto-Scaler

[2022-06-16 13:53] philrenaud opened #13393 "Secure Variables: compact/remove empty Items[] on save"
Currently, an added-but-empty row will append to the Items array, but we should clear these out on save.

![image](https://user-images.githubusercontent.com/713991/174085410-31b77ee5-2283-44c2-b45c-6627fa40cf6c.png)
![image](https://user-images.githubusercontent.com/713991/174085426-73c750d2-d310-48a9-ad93-7f74cc20edd7.png)

[2022-06-16 13:57] philrenaud opened #13394 "Secure Variables: When rendering /edit, append a blank Items[] key/value so the other last row is deletable"
Currently, loads like this, with the last row not deletable:
![image](https://user-images.githubusercontent.com/713991/174086187-7c7f7e6c-40ad-41d3-8084-59c4e303e338.png)

Instead, let's make the initial state like this:
![image](https://user-images.githubusercontent.com/713991/174086220-3ad098a5-8df8-466a-8e2d-29ceb22bf5e0.png)

[2022-06-16 13:59] philrenaud opened #13395 "Secure Variables Path Tree: just-in-time compaction"
Currently we eagerly compact the path tree, so a/b/c/foo0 and a/b/c/bar1 as my only files cause the root to show `a/b/c` as its sole clickable directory.

This works as expected, until we try to go to a/b. When we do, we get a "Path not found" error.

Change the path tree class to handle its compaction at render/routing time instead of precomputing it so this doesn't come up.

[2022-06-16 15:17] cread commented on #11052
This bug is still causing us problems from time to time. Is anyone actually working on trying to fix it?

[2022-06-16 16:15] ChaiWithJai commented on #13390
This one seems super straight forward. @philrenaud do you think these specifications cover the job?

- Given a user is in editing mode in the secure variables form and in default password mode when they click the eye-off icon button, the input field will show text instead of asterisks and the svg icon will display .
- Given a user is in editing mode in the secure variables form and not in default

[2022-06-17 08:04] jrasell commented on #13040
cluster has now been upgraded.

[2022-06-17 08:04] #13040 closed

[2022-06-17 09:15] #13357 closed

[2022-06-17 09:15] #13392 closed

[2022-06-17 10:12] DerekStrickland opened #13413 "docs: Update reference architecture recommendations related to Consul based on new Native Service Discovery"
### Proposal

I noticed that the reference architecture mentions a couple of times that we recommend using Nomad with Consul. We should update this language now that we have native service discovery with the caveat that we still recommend Consul at certain scales and use cases.

[2022-06-17 11:23] mr-karan commented on #10219
In case anyone's interested for a stop gap solution, I made a small program which I plan to use with `vector` https://github.com/mr-karan/nomad-vector-logger

[2022-06-17 12:48] tgross commented on #13380
Hi folks. Yes, `single-node-writer` isn't going to be compatible with canaries at all. The canary instance needs to mount the volume in order to claim it, which we can't support for a volume that's only allowed to have one allocation mounting it.

We already validate that the `per_alloc` flag isn't compatible with canaries and reject it at the time of job submission. We should probably tweak this

[2022-06-17 13:05] f3l1x commented on #13380
Hi @tgross, thank you.

Can you please clarify what is the correct usage of `multi-node-single-writer`? I understand the rest, but this I don't know where to use it.

[2022-06-17 13:25] tgross commented on #13380
That's a volume that can accept multiple readers but only a single writer. As noted in the [`access_mode`](https://www.nomadproject.io/docs/other-specifications/volume/capability#access_mode) docs, support for this is controlled by the storage provider (and CSI plugin). I'm going to be honest and say I'm not sure I know of any examples of storage providers where that option is available. Most supp

[2022-06-17 17:50] nicolasscott opened #13416 "Allocs using CSI stuck in pending after terminating client node"
### Nomad version
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Ubuntu 20.04.4 LTS on AWS EC2

### Issue
When an instance that's hosting a docker alloc that is using a CSI EBS single-node-writer volume is terminated it gets stuck in pending state when it's re-scheduled. Of note that when the instance is drained the alloc is re-scheduled succe

[2022-06-17 18:00] tgross commented on #13416
Hi @nicolasscott! The node plugin on the original client must be running in order to free the claim. When a node terminates, Nomad can't know whether the node is simply temporarily disconnected or will never return. To do otherwise risks data corruption for volumes that can be written to from multiple hosts (ex. a NFS volume). If you're intentionally terminating the node, we strongly recommend dra

[2022-06-17 18:00] #13416 closed

[2022-06-17 18:03] #13395 closed

[2022-06-17 18:05] #13325 closed

[2022-06-17 18:09] mikenomitch commented on #13219
@tgross added to the 1.4 milestone after reading your comment.

Is the engineering effort on this relatively small. Seems nice, but not a major improvement. Just want to make sure we dont commit to something big. Can remove the milestone if it is big.

[2022-06-17 18:26] philrenaud opened #13417 "Secure Variables: Items as JSON"
- [x] View as JSON: https://github.com/hashicorp/nomad/pull/13439
- [x] #13441

[2022-06-17 18:28] philrenaud opened #13418 "Secure Variables: Show file metadata (namespace, last modified date) on files and folders"

[2022-06-17 18:40] philrenaud opened #13420 "Secure Variables: Handle conflicts on save"
Secure variables have a `ModifyIndex` that we expose to the UI. We can use this to inform a user that they're saving a variable that, unbeknownst to them, may have been saved by another user in the time they've had their page open.

There are a few ways this could be tackled:

### UI solution:
- Before attempting to PUT a variable, perform a GET first to see if the modifyIndex of the variable you'

[2022-06-17 18:43] mikenomitch commented on #13420
Instead of the UI pre-emptively doing a GET before PUT, could we just catch the error from the UI in case of a conflict?

That seems better than a bunch of potentially unnecessary GETs.

[2022-06-17 19:17] tgross commented on #8641
Additional notes here: the `nomad volume detach` needs to become more tolerant of broken states in general, so that we can use it to free claims that can't be unpublished because the nodes are gone.

[2022-06-17 19:40] ChaiWithJai commented on #13310
### Create Flow

Happy Path (create new variable)

- Click Create
- Navigates to `/variables/new`
- Fill the form out
- Save the form
- Navigate to `/variables/$VARIABLE_NAME`

Happy Path (start creating new variable, and quit in the middle of the process)

- Click Create
- Navigates to `/variables/new`
- Fill the form out
- Navigate away from page (assert no variable was created)
- Click Create,

[2022-06-17 19:52] ChaiWithJai commented on #13310
### Edit Flow

Happy Path (edit variable)

- Click variable
- Click edit
- Save
- Navigate to `variables/VARIABLE_ID`

Happy Path (quit while editing)
Sad Path (lacking permissions)
Sad Path (resource was deleted by someone else)
Sad Path (invalid path name)
Sad Path (invalid key/value pair)
Sad Path (network error)
Sad Path (duplicate key name)

[2022-06-17 19:53] ChaiWithJai opened #13422 "Secure Variables: Show warning if duplicate key name is entered in form."
This should not be possible.

![Image](https://user-images.githubusercontent.com/41024828/174392695-94fda26b-25d6-43d5-b4ca-2b254af52d39.png)

[2022-06-17 19:58] axsuul commented on #12940
Yep I'm facing a similar issue. We need a way to keep attempting to update indefinitely since it's much worse to just stop trying.

[2022-06-17 20:55] tgross commented on #10289
While working on https://github.com/hashicorp/nomad/pull/13407 for a customer I searched back thru open issues to see if we'd see this before. On the leader `nmd-pool-8-servers-eet0f638-c04n.us-central1` I see the following goroutine:

[code]

This exactly matches the behavior we saw on the cluster impacted by #13407, so I would expect this issue will be fixed there as well.

[2022-06-19 08:21] axsuul commented on #12020
Hey just wanted to follow up on this 👍

[2022-06-19 12:21] grembo commented on #11900
Please note that the pull request passed all tests besides the one that requires manual approval:

<img width="419" alt="Vercel - nomad - requires authorization" src="https://user-images.githubusercontent.com/5884220/174480637-23b20901-81e4-40d7-89ae-c16349d5a38a.png">

[2022-06-20 04:16] hareesha-smarsh opened #13430 "`kill_signal` not respected on Windows"
Hi Team,

I have below Spring-boot application:

![image](https://user-images.githubusercontent.com/96460599/174523560-b4f26892-5b0c-46a2-aaec-fafa702e44b1.png)

when I run the app from cmd and do CTRL+C onExit() shutdown hook method will get triggered, please find below screenshot for the same.

![image](https://user-images.githubusercontent.com/96460599/174523621-ae5bfd6f-1dc7-419c-9708-ae7bd96f

[2022-06-20 05:03] mr-karan commented on #12877
@tgross I've updated to Nomad 1.3.1 but getting this error when running CSI plugin jobs with `raw_exec` driver. Since this issue also talks about raw_exec and exec jobs behaving differently for accessing `/dev` mount points, I believe it's an related issue. Let me know if I should open a separate issue.

[code]

[2022-06-20 12:17] chilloutman commented on #12748
I'm wondering if this could be the cause: https://github.com/hashicorp/nomad/pull/11111/files#diff-c4e3135b7aa83ba07d59d003a8ab006915207425b8728c4cf070eee20ab9157a

"// track node filtering, to only report an error if all nodes have been filtered" might not be working as intended. Or maybe instead of only warnings #11111 ended up causing errors.

[2022-06-20 13:06] tgross commented on #12877
Yeah let's open a new issue for that @mr-karan. There's far more moving parts involved and we'll want to get all the CSI plugin logs and whatnot to diagnose that. (Although I'll note that CSI plugins generally aren't intended to be run without isolation, so that they work as `raw_exec` jobs is mostly just happy coincidence, but let's take it up in the new issue.)

[2022-06-20 13:17] tgross commented on #13430
Hi @hareesha-smarsh! Ctrl-C sends `SIGINT`, whereas in your jobspec you have `kill_signal = “SIGTERM”`. On Windows my understanding is this gets translated to `SIGBREAK` (or actually the `CTRL_BREAK_EVENT`). So if you want your `kill_signal` to be `SIGINT`, you should set it to `SIGINT`.

[2022-06-20 15:22] #10014 closed

[2022-06-20 15:23] tgross commented on #10014
Fixed by https://github.com/hashicorp/nomad/pull/13428, which will ship in Nomad 1.3.2 (+ backports)

[2022-06-20 16:01] ChaiWithJai opened #13435 "Secure Variables: create variable permission logic"

[2022-06-20 16:13] breathe commented on #13032
@axsuul -- I believe you have to tell traefik to enable health-checks for the service

[code]

And then your service should respond to `/healthcheck` endpoint above.  When it gets shutdown signal from nomad, the service needs to start failing health checks with non http 200 response code -- but continue to accept new connections as it will receive connections until traefik observes the health chec

[2022-06-20 17:49] philrenaud opened #13437 "Secure Variables: Items list page style and item deletion"
- [x] Individual item obfuscation / toggle
- [x] individual item copy-to-clipboard

![image](https://user-images.githubusercontent.com/713991/174655540-cc2edc07-599b-4001-a1e4-a7b4dfae1475.png)

[2022-06-20 17:55] Amier3 commented on #13360
Hey @kylejmcintyre

Just letting you know we're aware of this issue and currently working on a fix 👍

[2022-06-20 20:23] tgross commented on #13430
Ok, I just double-checked and the default value for [`kill_signal`](https://www.nomadproject.io/docs/job-specification/task#kill_signal) is `CTRL_BREAK_EVENT`. If I look at [`executor.go#L537-L552`](https://github.com/hashicorp/nomad/blob/v1.3.1/drivers/shared/executor/executor.go#L537-L552) I see that the executor overall defaults to `SIGINT` but then when we land at [`executor_windows.go#L64-L65

[2022-06-20 20:44] philrenaud opened #13441 "Edit as JSON"
- [x] #13496

[2022-06-20 20:45] #13394 closed

[2022-06-20 20:46] #13393 closed

[2022-06-20 20:46] #13418 closed

[2022-06-21 04:40] pikeas commented on #11638
Some eval control would be nice. I have an eval scheduled for the future:

[code]

I've resolved the issue that caused this allocation to fail and would like a way to unblock re-deploying the job. Currently, there's no way to purge this pending eval, re-submitting the job is a no-op, setting `count = 0` on the group is invalid, and stopping/starting the job via UI only restarts the other groups

[2022-06-21 08:01] hareesha-smarsh commented on #13430
Thank you so much @tgross for quick response.

Regards,
Hareesha S N

[2022-06-21 16:24] enaftali2 opened #13450 "Fail to detach ceph csi volume from a down node and migrate to another"
### Nomad version
Nomad v1.3.0

### Operating system and Environment details
Ubuntu 18.04.6 LTS

### Issue
Hi
We are testing ceph storage with nomad volume csi plugin, for the POC iv'e created 3 vm's on GCP with ceph cluster and nomad cluster with client and server role on all 3 vm's, the csi plugin and volumes creation and attachment work very well, i'm running mysql job, when i restart the node

[2022-06-21 16:28] tgross commented on #13450
Hi @enaftali2! This issue has been fixed in https://github.com/hashicorp/nomad/pull/13301 and will ship in Nomad 1.3.2. Essentially the problem is that there's no way for the server to send a node unpublish command to the node plugin that's running on a down node without violating the CSI spec. We've decided to break strict compliance in order to make non-graceful shutdown work.

In the meantime,

[2022-06-21 16:28] #13450 closed

[2022-06-21 17:30] ChaiWithJai opened #13451 "Secure Variables: handle recursive path capabilities permission check"

[2022-06-21 17:30] ChaiWithJai opened #13452 "Secure Variables: handle wildcards in non-global path (e.g. `/prod-jobs/*`)"

[2022-06-22 00:12] dionjwa commented on #6412
I have this same issue.
Setup: running the dev version of nomad on my local mac laptop.

On some wifi networks, the unique IP address is `IPv6`:
<img width="672" alt="image" src="https://user-images.githubusercontent.com/260221/174916711-2f9cbbfb-9c14-4c8c-9de9-9fef837af8df.png">

When that happens, my tasks fail:
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/260221/

[2022-06-22 12:29] robbah commented on #1635
Any news on this already?

[2022-06-22 12:29] robbah commented on #8368
This functionality would be nice if implemented

[2022-06-22 12:38] jrnijboer opened #13455 "error when submitting system job with constraints"
### Nomad version
Output from `nomad version`
1.2.4

### Operating system and Environment details
Linux, Centos 7

### Issue
We have a few system jobs which we deploy on certain nodes with the use of a constraint. The problem we encounter is that we submit the exact same job another time to Nomad, we get an error like `Constraint ${attr.unique.hostname} regexp myhostnamefilter.+ filtered 28 nodes`

[2022-06-22 13:46] #12811 closed

[2022-06-22 14:43] #13038 closed

[2022-06-22 16:15] heapdavid opened #13459 "Template - byTag doesn't work for nomadServices"
### Nomad version
`Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)`

### Operating system and Environment details
Debian 11
### Issue
Firstly, thank you so much for Nomad Service Discovery. I'm trying to create a few small, simple clusters for different projects and it felt like Consul etc was overkill.

I'm looking to create a config file which only includes services which have a specific

[2022-06-22 17:30] chuckyz commented on #13313
perfect!

[2022-06-23 05:25] ostkrok commented on #13064
Hi again @tgross. Sorry for not getting back sooner.

If this is the cause of our issue, wouldn't you think that the duration of the oversubscription would be shorter?

When we observe this behavior, the oversubscription persists until we manually stop jobs on the Nomad client. In the screenshot above you can see that one of our nodes was oversubscribed for around 7 hours.

[2022-06-23 06:19] osaf96 commented on #13056
Hi I would like to take a look at this issue, please assign this to me and if possible guide as I'm new to open source and i want to learn. Thanks

[2022-06-23 07:47] jrnijboer commented on #13455
So today I had time to test this on Nomad 1.3.1 (was at Hashiconf yesterday, had a good time there!) and the same issue also happens on version 1.3.1.

[2022-06-23 08:09] appland-streaming commented on #6708
Bump we run with an ugly mod on the GPU driver atm would love to be able to do this!

[2022-06-23 12:49] tgross opened #13468 "document expected evaluation counts"
The number of evaluations generated by Nomad is an important metric for operators to understand its performance. We should improve the documentation on the expected number of evaluations we create and what this means for how many nodes are processed by the scheduler.

Some example events that create Evaluations:
* For one job registration, a single Evaluation is created in raft.
* For one allocati

[2022-06-23 12:54] jrsala-auguration commented on #13056
@jrasell @osaf96 To be clear as to the scope of the issue, some of the inconsistencies I pointed out can be resolved either by modifying the documentation to adhere to observed behavior or by modifying the behavior. In some cases, I think it's preferable for the behavior to change if possible (e.g. by not returning `0` and `""` for `EvalCreateIndex` and `EvalID` when no evaluation is created). So

[2022-06-23 15:54] robloxrob commented on #13468
Fantastic write up. Add in some charts and diagrams, then you've got a stew going.

[2022-06-23 15:58] jeremy-ke commented on #13023
Also running into this issue with nomad `v1.3.1` on Debian 11 amd64

[2022-06-23 16:06] #10289 closed

[2022-06-23 18:48] shoenig commented on #13459
Thanks for reporting @heapdavid! We may have just overlooked this feature when adding Nomad support to `consul-template`.

[2022-06-23 20:13] tgross commented on #13031
1.3.1 was a security and panic fix, so it didn't include the rest of the work merged into the 1.3.x series. We have a Nomad 1.3.2 planned soonish that'll include this.

[2022-06-23 20:17] binelson commented on #13031
Great, thanks @tgross

[2022-06-24 06:56] Davasny commented on #13356
Hi @philrenaud!

Yes, I can confirm that appending `@default` to the end of url works and fixes the problem

[2022-06-24 11:20] osaf96 commented on #13056
ok Sure

[2022-06-24 13:05] philrenaud commented on #13356
That's great @Davasny , thanks for letting me know. If there is anyplace in the UI where we're linking to this job without the `@default` / `@<namespace`, please let me know and we will patch that up. Otherwise, I'm going to close this as resolved.

Thanks as always for your contribution to Nomad!

[2022-06-24 13:05] #13356 closed

[2022-06-24 15:10] #13100 closed

[2022-06-24 15:26] philrenaud opened #13477 "[ui] Keyboard Nav: Solve for multiple tables on a single page"

[2022-06-24 15:28] philrenaud opened #13478 "`j`/`k` keys to move focus among on-page tables"

[2022-06-24 19:03] #7096 closed

[2022-06-24 19:03] #13360 closed

[2022-06-24 19:04] philrenaud commented on #13360
Hi @kylejmcintyre, thanks for raising this issue. The fix in #13473 should bring the Meta and Payload sections back to parameterized child jobs, and is being backported to Nomad 1.3.x releases.

[2022-06-24 19:15] kylejmcintyre commented on #13360
Thanks! Y'all are top-notch.

[2022-06-24 22:24] groggemans opened #13483 "Nomad's native service registration fails if raw_exec and docker drivers are combined in the same task group"
### Nomad version
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Linux + docker

### Issue
Using native service registration fails if a raw_exec and docker tasks are combined.
(using two docker tasks in the same task group isn't an issue)

### Reproduction steps
Below example jobs runs two counting loops in a sh script, one in a container, the

[2022-06-25 09:27] m1keil commented on #3644
Even without auto_revert, one of the big problems is that there is no feedback from the nomad CLI about deploy issues as in the case of regular service job. `-monitor` returns 0 no matter what. This confuses both CI/CD and the user.

[2022-06-26 09:55] shantanugadgil commented on #12445
Something similar occurred on my setup on two separate occasions; the first time was valid, when I was running servers with very less memory (8GB).
The second time was when a Consul server outage upset the Nomad servers. When the Consul servers were back online, the Nomad server "upset" began.

On both occasions, bumping up the memory to 64GB (!!) allowed the Nomad server ASG rotation to ultimatel

[2022-06-26 14:49] enaftali2 commented on #13450
Hi @tgross , thanks, you were very helpful, since i saw the fix were merged to master i built a new binary with the fix i need from master, the issue is fixed, the cluster behaving as expected.
I only have one question, after i ungracefully shutdown the machine, very fast i can see the alloc in Lost state, it takes about 5-6 minutes for the alloc to be on Running state again , it's on Pending all

[2022-06-27 07:41] imcom opened #13489 "[Possible bug] Nomad 1.3.0 sysbatch job not getting evaluation done, stuck in pending"
### Nomad version

`Nomad v1.3.0 (52e95d64113e01be05d585d8b4c07f6f19efebbc)`

### Operating system and Environment details

[code]

### Issue

A `sysbatch` job stuck with evaluation without completion nor error.

when I force run the periodic job like below
[code]

the evaluation itself stuck in pending
I have nomad eval list the output looks like

[code]
no matter the eval is triggered by job-reg

[2022-06-27 08:41] obeyler commented on #13014
The associated PR is merged

[2022-06-27 10:11] imcom commented on #13489
Found a workaround

found a way to use batch instead. Using spread on attribute unique id to evenly distribute the job to all nodes ...

[2022-06-27 10:12] imcom commented on #13489
creds to https://github.com/liquidinvestigations/cluster/pull/79/files

[2022-06-27 12:18] wdenbakker opened #13494 "Wrong documentation for hcl index function"
### Nomad version
v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Issue
Documentation for the hcl index function (https://github.com/hashicorp/nomad/blob/main/website/content/docs/job-specification/hcl2/functions/collection/index-fn.mdx) is incorrect. It claims to return the index of an element, but instead returns the element at a index. E.g. `index(["a", "b", "c"], 1)` returns `b` instead

[2022-06-27 12:47] tgross commented on #13468
I've added some missing bits about deployments and periodic jobs. There's a lot more detail to some of these that we'll want to capture in the actual docs, but I want to make sure we're not missing any of the big ones here.

[2022-06-27 12:53] tgross commented on #13450
That timeout is governed by the client heartbeat timeout, which isn't currently configurable. You can also force your jobs to immediately stop by setting a [`stop_on_client_disconnect`](https://www.nomadproject.io/docs/job-specification/group#stop_after_client_disconnect) timeout but note that this will impact cases where the client agent has simply restarted (which is normally fine). The _best_ w

[2022-06-27 15:07] philrenaud opened #13495 "Handle Filesystem keyboard-shortcut enumerables"

[2022-06-27 15:38] imcom commented on #13489
Hi @jrasell I did not have the logs by hand. But here's what I saw, 1) the server agent logs to syslog with level INFO, I could find a clue in the syslog. 2) I also tried using `nomad monitor -log-level debug`, when I forced run the job, I could only see a `PUT` request being logged to start an evaluation and that's all I got. Hope this helps. If you have specific instructions for getting more log

[2022-06-27 15:53] shoenig commented on #9570
Took a brief look into making the switch; looks like it's going to be a bit more complicated than just renaming imports. In addition to `raft-autopilot` there is also `raft-autopilot-enterprise`, and the features referenced by Nomad in the old Consul autopilot library have been split up between the two.

Still very much want to make this happen - without it Nomad is forced to import consul v1.7 :d

[2022-06-27 17:00] philrenaud opened #13496 "SV: Replace ivy-codemirror with an ember modifier"

[2022-06-27 20:27] lindleywhite opened #13501 "Cluster Topology evaluates `free memory/cpu` but doesn't consider client reserved resources."
### Nomad version
`v1.1.4+ent`

### Operating system and Environment details
Ubuntu 18.04
3 Server
24 Clients ( 4 vCPUs@3100MHz, 16GB RAM)

### Issue
When looking at the cluster topology total resource graph the total amount of CPU/Memory reserved does not take into account any configuration to the client around reserved resources. In our environment we've reserved resources on the client within t

[2022-06-28 07:21] groggemans opened #13505 "Reserved port duplicates/conflicts block all allocations"
### Nomad version
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Linux

### Issue
Any duplicate port reservations or conflicts within the agent config will result in all job allocations failing with a port conflict. Even jobs that don't have any port specification will fail.

It can be debated if this is a bug, as there are only very specific

[2022-06-28 07:47] #13483 closed

[2022-06-28 08:22] ostkrok commented on #13064
Hi again,

I just wanted to follow up with some more information regarding this.

** Nomad 1.3.1 **
We initially noticed the problem with `Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)`, but we've since updated to `Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)`, and we're still seeing this issue.

![image](https://user-images.githubusercontent.com/12607181/176126766-6e54a1e9-f1

[2022-06-28 08:58] jrasell commented on #13501
Hi @lindleywhite and thanks for rising this issue with really useful information. I have added this to our UI backlog board for roadmapping when possible.

[2022-06-28 09:23] jrasell commented on #13216
Hi @thatsk, I am going to close this issue. If you're able to provide the additional information request, please feel free to add this and reopen this issue. I'll pick it back up in this case. Thanks.

[2022-06-28 09:23] #13216 closed

[2022-06-28 14:09] #13178 closed

[2022-06-28 14:43] jrasell commented on #13494
Hi @wdenbakker and thanks for raising this. It does seem both the Nomad and go-cty documentation is incorrect. We will look into fixing this up.

[2022-06-28 16:27] #13494 closed

[2022-06-28 17:53] #13496 closed

[2022-06-28 18:01] espey opened #13519 "Nomad Batch Job Inaccurate Job Summary"
### Nomad version
Nomad Version 1.3.1

### Issue
One of our Nomad Batch Jobs seems to have acquired a strange state in regards to the number of Dead and Running jobs within the Nomad Job summary. Below is a screenshot of this state from our cluster:

![Screen Shot 2022-06-28 at 5 36 51 PM](https://user-images.githubusercontent.com/9875629/176247080-7cd38932-39be-4c07-ad85-eca3bf570ac6.png)

When r

[2022-06-28 23:16] mikenomitch commented on #12589
@waquidvp good idea - we'll keep that in mind!

[2022-06-29 02:11] nakabonne opened #13520 "Ability to set CNI parameters"
Ref https://discuss.hashicorp.com/t/does-nomad-provide-the-ability-to-set-cni-parameters/40996

### Proposal
It would be nice if we could [set CNI_IFNAME as a parameter](https://github.com/containernetworking/cni/blob/main/SPEC.md#parameters) when inserting network interface into container using CNI plugin.

As far as I can tell from the source code, seems like it doesn’t accept any parameters (ar

[2022-06-29 03:14] xinau commented on #12894
My current solution is to setup systemd-resolved (version 247+) as described in the [tutorial](https://learn.hashicorp.com/tutorials/consul/dns-forwarding#systemd-resolved-setup), configure a extra stub listener for the default Docker bridge interface, e.g. docker0 and configure the docker daemon to use the bridge interface ip as dns server.

_/etc/systemd/resolved.conf.d/docker.conf_

[code]

_/e

[2022-06-29 09:13] #9986 closed

[2022-06-29 10:04] jrasell commented on #13519
Hi @espey and thanks for raising this issue. This is certainly a bug but we will need to investigate what is causing this calculation problem before we will be able to say how it gets into this state.

Reconcile summaries resolves this issue because it performs a re-calculation of all job summaries which then mitigates the pervious incorrect calculations. I am not sure whether this will fix the un

[2022-06-29 10:09] jrasell commented on #13520
Hi @nakabonne and thanks for raising this issue. It's an interesting one as the specification states that it must be passed via an environment variable to the CNI plugin called when building the network namespace. This would explain why it doesn't work when setting the env var on the Nomad agent process.

I'll mark this enhancement as needing investigation, as there are a number of UX factors to c

[2022-06-29 10:10] fred-gb opened #13526 "Docker capabilites and consul connect proxy"
### Nomad version
`Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)`

### Operating system and Environment details
[code]

### Issue
Unable to have connect-proxy when add capabilities to docker.

### Reproduction steps
My docker.hcl configuration for nomad:
[code]

#### Actual Result
Connect proxy logs:

[code]

### Job file (if appropriate)

Any jobs with consul connect after add capabilit

[2022-06-29 12:41] jrasell commented on #13526
Hi @fred-gb; the `allow_caps` configuration option is the absolute array of allowed capabilities that will be passed to Docker, therefore meaning in your example this will only be `sys_ptrace`. This causes Docker to fail as it does not have the required capabilities to run. This also holds true when attempting to use this configuration example to run the example Nomad job specified by the `nomad j

[2022-06-29 12:41] #13526 closed

[2022-06-29 13:58] karelorigin commented on #7905
I seem to be suffering from the exact same issue: https://discuss.hashicorp.com/t/no-assigned-ipv6-address-for-docker-containers-nomad-consul-connect/41391

[2022-06-29 15:16] fred-gb commented on #13526
Thanks! It works!

[2022-06-29 15:51] jrasell commented on #13505
@groggemans would you be able to expand a little on the use cases you have mentioned in the below quote?

[2022-06-29 23:16] jmwilkinson commented on #12748
Verified we hit this with constraints on 1.2.6 as well.

Mitigation was reverting this to 1.1.5.

I do not know how bugs are prioritized but this should probably be pretty high.

[2022-06-30 07:41] henrikjohansen commented on #9917
@tgross This is getting a more and more prevalent issue for us since we have no way to control the utilization of GPU resources amongst our tenants leading to all sorts of problems.

I would :heart: to see the resource quotas feature of Nomad Enterprise enhanced so that the number of available GPUs could be limited per namespace :point_down:

[code]

[2022-06-30 07:53] dext0r commented on #12748
It's the cause indeed. Reverting this pull request fixed the issue for me on 1.3.1.

[2022-06-30 13:50] philrenaud opened #13532 "UI: After editing the plan of an existing job, if that job is namespaced, that namespace is dropped upon redirect"
So you end up on a 404

For example, if I plan a job from http://localhost:4200/ui/jobs/a-nonsensical-job@mynamespace/definition and hit **plan**, I'm redirected to http://localhost:4200/ui/jobs/a-nonsensical-job, which fails.

[2022-06-30 17:51] Fuco1 commented on #4479
@MGasztold The trick is in forwarding the api calls.  Nomad frontend or something adds a referer header which you can (ab)use for this.  My config is something like this:

[code]

This is for traefik 2+.

The `/v1/client/fs/cat` is for "file system access" from the UI.

[2022-06-30 20:01] Fuco1 commented on #4697
It's 2022 and we are seeing the same thing.  Server version 1.2.6, client 1.2.3.  Our setup has 430 clients each with 16 CPUs, so this is about 7k tasks running concurrently.  The total number of tasks is 15k.  It is a batch job with count = 15000.

The Task setup takes about a minute consistently across the clients/tasks.

At some points it becomes so bad that the cluster is only using about 10%

[2022-06-30 20:43] MGasztold commented on #4479
@Fuco1  Hello, thank you for you answer. After I applied your router to my setup I get redirected to https://mydomain.com and there is nothing :(

[2022-06-30 21:30] Fuco1 commented on #4479
@MGasztold Actually I have `/ui` instead of `/nomad`.  I copied this setup from consul where I do use a subpath.  I think for nomad you would need to use some rewriting on that, but since the api calls can't be hosted elsewhere, that's where the referer trick comes in play.  I basically just gave up trying to redirect nomad.

[2022-07-01 01:29] chenjpu opened #13535 "UI: Displays Volume IDs in the column on index page"
### Proposal

### Use-cases

### Attempted Solutions

nomad volume status -namespace=*
[code]

[2022-07-01 02:08] tristanmorgan opened #13536 "IPv6 breaking docker job on macOS"
### Nomad version
`Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)`

### Operating system and Environment details
MacOS 12.4 (M1)

### Issue
When trying to run Docker jobs on Nomad (not dev mode) the network binding seems to break the container launch. it says its trying to bind to an IPv6 address when all I want is local IPv4.

### Reproduction steps
I am running Nomad with a simple confi

[2022-07-01 03:51] kevinschoonover opened #13537 "consul services registered before ACL token regeneration become orphaned"
### Nomad version
Output from `nomad version`
[code]

### consul version
[code]

### Operating system and Environment details
debian 11

### Issue
In my environment, I rotate nomad's consul ACL token every 7 days using `vault-agent`. Recently, we have noticed issues where consul services can't deregister when the nomad job moves to a new node.

The below image shows the service running on `prod-do

[2022-07-01 04:30] mr-karan opened #13538 "Unable to exec inside a running task with exec driver"
### Nomad version

[code]

### Operating system and Environment details

[code]

### Issue

I've a fairly simple job that is running with `exec` driver. However `alloc exec` fails with an EOF error

[code]

### Reproduction steps

- Run a single node Nomad with this config

[code]

[code]

- Run the `sleep.nomad` (job file below)

[code]

#### Expected Result

Since the alloc status is running, yo

[2022-07-01 04:47] mr-karan commented on #13538
This seems to be an issue specific to the entries I've listed in `chroot_env`. With the [default list](https://www.nomadproject.io/docs/drivers/exec#chroot) from here, I don't see EOFs anymore.

[code]

 `/dev/ptmx` is unavailable on my host so I am not sure what I'm missing in my list.

[2022-07-01 07:51] jrasell commented on #13535
Hi @chenjpu, would you be able to clarify this request a little please? In the sample CLI output you show, the `ID` and `Plugin ID` are both shown, so I am unsure what this request is referring to.

[2022-07-01 08:15] jrasell commented on #13536
Hi @tristanmorgan and thanks for raising this issue. In the client block of your configuration you could trying setting the [`network_interface`](https://www.nomadproject.io/docs/configuration/client#network_interface) option so that Nomad utilises a specific interface rather than the default route which it will be currently picking up.

You configuration file would therefore look similar to:
[cod

[2022-07-01 08:34] mr-karan commented on #2352
I tried a bunch of workarounds to apply  `sysctl` limits inside an `exec` task, but none seem to be applied correctly:

Inside the task.  `/etc/sysctl.conf` (which is present inside `exec` task, `chroot_env` is the default)

[code]

However, it's not "in use":

[code]

Running `sysctl -p` is also not helping:

[code]
---

**However**, I was able to set a higher limit for max open files by the proc

[2022-07-01 08:51] jrasell commented on #13537
Hi @kevinschoonover, could you clarify which version of Consul you are running please? It does seem to match with the Consul issue.

From the best of my knowledge this is correct.

Nomad utilises the agent API for service registration and deregistration.

The team do wish to make changes to the current Nomad Consul integration process, so I will add this to the backlog board as something to look i

[2022-07-01 08:56] chenjpu commented on #13535
Expect the web page to display id columns like the cli-end

[2022-07-01 12:53] tgross commented on #7905
Looks like this fell of the issue board. Re-marked for roadmapping.

[2022-07-01 17:47] neidiom opened #13543 "There should be a warning that network_mode = "host" does not work with host_network"
I started a Redis docker container that I wanted to run on my private network only

[code]

[code]

and this work perfectly.

but since I switched my Docker network_mode = "host" stuff stopped working and Redis listens on all interfaces on the host.

There should be a warning, at least a note in the documentation that host_network does not work with         network_mode = "host".