[2018-05-07 15:46] preetapan commented on #4253
@yaroot thanks for the suggestion

For some clarity, Aurora is a framework on top of Mesos, so its API and architectural decisions are based on the fact that the scheduler is another layer/framework on top of resource offers from Mesos. Nomad's
architecture is much simpler where direct access to the client node running the task is needed if the operator wants to kill the task by sending a signal.

[2018-05-07 16:04] margueritepd commented on #4252
It sounds like if my workaround _does_ work, it's unexpected and I shouldn't rely on that behaviour. Thanks for your response and I'll keep this ticket open as a feature request :)

[2018-05-07 16:16] grin0c commented on #4203
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

New installation.

`nomad alloc status 23b5d55d`

**Error: Couldn't retrieve stats: Unexpected response code: 404 (No path to node)**

Logs from the node on which the command is run:

`2018/05/07 19:09:11.743547 [WARN] nomad.client_rpc: node "cca70d66-8872-60b4-d6d4-086daf191838" exists in node connection map without any connection
2018/05/0

[2018-05-07 17:08] apenney commented on #4256
I did suspect #4170 but (buried in the giant wall of text) I mentioned we rolled the entire cluster to 0.8.1 to try and roll that out.

[2018-05-07 17:16] preetapan commented on #4255
@aconte76 Are you able to use your defined metadata as environment variables by reading them inside your executable? That should provide a way to get to them

[2018-05-07 18:18] dvusboy commented on #4258
Are you expecting 32 x 2100 for `cpu.totalcompute`? The problem with that is power management via frequency scaling of the CPUs. This is why Nomad uses the value of `/sys/devices/system/cpu/cpu*/cpuinfo_max_freq` to set `cpu.frequency`. That determines the maximum resource available, regardless the current frequency of the CPU cores. #4233 refers to the situation when `cpuinfo_max_freq` is not rep

[2018-05-07 19:18] nickethier commented on #3720
After chatting with @dadgar about this one it seems like the root of the issue is that optional metadata interpolation (like all other variable interpolation) returns the token as the value if unset. For optional metadata it is much more expected that an empty string is returned.

This something we'll working on fixing.

[2018-05-07 20:43] apenney commented on #4256
Quick update:

Using the same consul cluster I made a new nomad cluster, with new nodes/servers (completely separate from the other cluster) and deployed a single service.  It immediately started deleting/recreating services over and over.

It may just be interference from the other nodes as they talk to the same consul (different "datacenter" name for the new cluster, along with different was hop

[2018-05-07 22:21] pearkes opened #4263 "Batch job UI Timestamps and Duration"
This is a suggestion to add some information to the web UI for batch jobs.

One of my questions when on `/ui/jobs` with a batch job is "how long has this been running?" or "when did this start?"

![image](https://user-images.githubusercontent.com/846194/39727833-347048f0-5209-11e8-8cae-e495d141e0be.png)

Following this job to its specific page, eg `/ui/jobs/demo`:

![image](https://user-images.git

[2018-05-08 03:11] yaroot commented on #4253
Aurora uses its own agent to manage the task lifecycle, it will do a SIGTERM if the task does not respond to the abort/quit http calls. The agent is launched by mesos agent and running locally alongside the task, no remote calls, it's not a architecture problem.

I don't have any particular use case right now, just some thoughts from previous job.

[2018-05-08 03:33] c4milo commented on #2941
@schmichael `network_interface` doesn't seem to be working for me in 0.8.3.

[2018-05-08 10:38] srene2795 commented on #2224
How do we propagate kill signal to the application  when we execute binary like this ?

"Config": {
    "args": [
        "-c",
        "cd /my/work/dir && my-executable arg1 arg2 ..."
    ],
    "command": "/bin/sh"
}

[2018-05-08 12:45] pznamensky commented on #4258
Got it.
Indeed, the point of truth is `/sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq`.
@dvusboy thanks.

[2018-05-08 12:45] #4258 closed

[2018-05-08 13:44] apenney commented on #4256
Further woes:

* I built a brand new 0.8.3 cluster, with no history or state.  I redeployed all our services from scratch.  The same problem, services registering/deregistering.
* I built a brand new 0.7.1 cluster, with no history or state.  I redeployed all our services from scratch.  Everything worked!

I went to bed, woke up, everything was broken and no consul services existed in two of the th

[2018-05-08 14:06] dradtke commented on #2224
I think you can do that by prefixing your executable with `exec`, e.g.

[code]

The idea is to have the shell process actually replace itself with your executable, rather than create a separate subprocess.

[2018-05-08 14:50] cognitiaclaeves opened #4264 "NOMAD_ALLOC_INDEX inconsistent"
### Nomad version
Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)
( Nodes are 0.8.3+ent )

### Operating system and Environment details
CentOS Linux release 7.3.1611 (Core)

### Issue
NOMAD_ALLOC_INDEX appears to be inconsistent, if the count of the tasks > the original count of the tasks at first deployment.

### Reproduction steps
Create a job that prints NOMAD_ALLOC_INDEX. Deploy a sing

[2018-05-08 15:36] apenney commented on #4256
I... may have it.  We had our consul {} section with an address of consul.service.consul instead of 127.0.0.1:8500.  Since rebuilding the cluster (again) with this changed to localhost, the fighting over services I was seeing seems to have stopped.  I'll wait the rest of the day to confirm we've actually helped it, but this does seem to be involved.

Talking directly to the masters instead of the

[2018-05-08 16:35] dadgar commented on #4264
@cognitiaclaeves Can you share the job? Does it have canaries? Do you have a job spec you could share that reproduces this?

[2018-05-08 16:46] dadgar commented on #4264
@cognitiaclaeves Further there is no guarantee that the index will be unique. We attempt to make this value unique from 0 to count-1 but when you have canaries on the task group then there are reused indexes since you have multiple job versions running at the same time.

You can get a unique number by using a pairing function where the inputs are the job version and the alloc index

[2018-05-08 17:44] cognitiaclaeves commented on #4264
@dadgar , No I don't think I can share the job. It will take time to work up an example that I can share. ... Don't suppose you happen to know of an example job that would be easy to change into a job that prints those env variables? I could then restructure that job to match the same behavior I'm seeing.

Judging from your description of the pairing function, you seem to be describing a situation

[2018-05-08 18:04] aschofie commented on #3642
@schmichael I have my nomad client hosts setup with dnsmasq pointing at the consul agent, and

`dns_servers = ["${attr.unique.network.ip-address}"]
`
is working-- I can go into a container and see /etc/resolv.conf is pointing at the nomad client's IP.   Are there any problems with this, or is there a better/preferred way  of setting up containers with consul?

[2018-05-08 19:00] preetapan commented on #4255
@aconte76 Discussed with the team internally, and we concluded that it makes sense to support your use case. We would have to resolve them in order (i.e in order to use a variable declared in the meta stanza it would have to be defined before the one that needs it). We will add this to a future release.

Thanks for reporting this,

[2018-05-08 19:52] shantanugadgil opened #4267 "System scheduler does not support rescheduling"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
CentOS 7.4+

### Issue
A Docker system job stays stuck in failed mode if the docker image pull failed from an ECR repo.

### Reproduction steps
Nomad: 0.8.3
Driver: "driver"
Job Type: "system" / "service"

My Nomad client is correctly setup to use `~/.docker/config.json` as the i

[2018-05-09 14:11] daledude opened #4270 "set_contains constraint value not interpolating"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
Ubuntu 16.04

### Issue
I have 2 nomad clients with met

[2018-05-09 19:50] dadgar commented on #2920
Fixed by https://github.com/hashicorp/nomad/pull/4200 and https://github.com/hashicorp/nomad/pull/4259. Will be part of 0.8.4

[2018-05-09 19:50] #2920 closed

[2018-05-09 19:52] dadgar commented on #4270
Hey interpolation is only supported on the client and not server thus limiting where it may be used in the job specification and at this time constraints are not supported. Closing in favor of https://github.com/hashicorp/nomad/issues/1185 as it tracks the need for full job interpolation.

[2018-05-09 19:52] #4270 closed

[2018-05-09 20:00] daledude commented on #4270
Hey I am using the client. And the documentation for constraints specifically states:
[code]

[2018-05-09 20:02] daledude commented on #1185
Since dadagarg closed my #4270 incorrectly I'll post this here. The constraint documentation specifically states the below. Maybe correct the documentation or it's a bug?

[code]

[2018-05-09 20:30] dadgar commented on #4264
@cognitiaclaeves Yes your description is correct and I understand your concern with the pairing function. The index should be unique post promotion and if it isn't that is a bug. You should be able to just use a command such as:

[code]

And then you can have an update block that creates canaries.

[2018-05-09 20:31] dadgar commented on #4256
@apenney Your latest comment seems very likely to be the issue. You should have the agents pointing to the local consul agent. As you said give it a day but if this is the root cause, which is likely, would you mind closing this issue.

[2018-05-09 20:37] apenney commented on #4256
We haven't had any issues since.  We should add some serious documentation additions about the requirement to point at a local consul node and not a remote one, as the docs only really reference localhost as a default and not a mandatory requirement.

[2018-05-09 20:37] #4256 closed

[2018-05-09 20:38] dadgar commented on #4256
@apenney Would appreciate either a PR or filing an issue for this. Obviously would prefer a PR

[2018-05-09 20:54] aconte76 commented on #4255
@preetapan sounds perfectly inline as a normal bourne shell already does!
Thanks a lot

[2018-05-10 00:11] dadgar commented on #4253
Hm, this seems like a bit of scope bloat. This can be accomplished by having another task in the group dial the HTTP endpoint when it has received the signal.

[2018-05-10 00:11] #4253 closed

[2018-05-10 00:15] dadgar commented on #1185
@daledude The value can be an attribute or metadata on the node not from the jobspec at this moment

[2018-05-10 02:23] karma0 opened #4276 "Constraint "${attr.vault.version} version >= 0.6.1" filtered 1 nodes"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)
Vault v0.10.1 ('756fdc4587350daf1c65b93647b2cc31a6f119cd')

### Operating system and Environment details
Terraform modules in AWS:
[terraform-aws-vault](https://github.com/hashicorp/terraform-aws-vault/tree/master/modules/vault-cluster)
[terraform-aws-nomad](https://github.com/hashicorp/terraform-aws-nomad/tree/master/module

[2018-05-10 07:15] MrRacoon commented on #918
Any movement on this?

I have a gitolite server using post-receive to kick off builds by calling makefile commands from the pushed repo. What I'm hoping for, is the ability to interpolate the branch_name into the nomad job config (called from the makefile). This would give us the ability to deploy containers, based on branch, which we can then identify/route to using consul.

ATM, I have all env v

[2018-05-10 08:56] yellowmegaman commented on #4203
@grin0c confirm, same here.

[2018-05-10 08:58] grin0c commented on #4203
@yellowmegaman I confirm

[2018-05-10 13:00] angrycub commented on #4276
@karma0, This is the intended behavior.  If no client node meets this constraint, then the cluster is unable to run the vault-enabled job.  Is there an element to your issue report that I am missing?

[2018-05-10 13:35] karlgrz commented on #4256
I'm experiencing this same issue trying to experiment with consul and nomad locally. I'm just running a consul node in docker in dev mode and can confirm the constant churn of the nomad services in consul even though the nomad job containers seem to be stable and all the health checks should be passing. What was your resolution here, @apenney?

[2018-05-10 13:39] karlgrz commented on #4256
Ah, forgive my ignorance, I had only run the single server node in dev mode and did not run the agents alongside it, my mistake.

[2018-05-10 13:48] karlgrz commented on #4256
Ok, that didn't resolve it either. Even with a 3 node consul cluster locally the services keep registering and deregistering.

[2018-05-10 14:35] vin047 commented on #3463
@chelseakomlo is there an issue/pr that we can track to be notified about updates regarding support for custom drivers?

[2018-05-10 15:58] karma0 commented on #4276
Where is this constraint coming from?  Is Nomad not compatible with Vault >= 0.6.1?

[2018-05-10 16:17] angrycub commented on #4276
"Constraint "${attr.vault.version} version >= 0.6.1" filtered 1 nodes" indicates that Nomad believes that you _don't_ have Vault greater than or equal to v0.6.1.   The constraint text is the expectation.  More conversationally, this would be read as:  "One node was filtered from the eligibility because it does not meet the constraint that ${attr.vault.version} is greater than or equal to 0.6.1."

[2018-05-10 16:36] dadgar commented on #4276
@karma0 Closing this as it is expected behavior and @angrycub's explanation is correct. Make sure you have set up your clients to be able to talk to the same Vault as the servers.

[2018-05-10 16:36] #4276 closed

[2018-05-10 16:36] angrycub commented on #4276
@karma0 I will say that I was just fighting this in my local lab cluster.  Turned out that I had accidentally set my the address in my vault stanza to **https**://active.vault.service.consul:8200  when I wasn't running TLS on my Vault server.

[2018-05-10 16:49] dadgar commented on #3463
@vin047 https://github.com/hashicorp/nomad/issues/468

[2018-05-10 16:52] vin047 commented on #468
Thanks @dadgar for linking me here - looking forward to this feature. Any ETA?

[2018-05-10 17:35] dadgar commented on #4256
@karlgrz You should have your Nomad clients talking to a local Consul agent. You want to avoid the Nomad clients all talking to the same agent. The Nomad clients are doing a diff between what it wants registered and what the consul agent has. So if you have multiple nodes all pointing at the same Consul agent you will see this flapping.

[2018-05-10 17:39] karlgrz commented on #4256
@dadgar thanks for the comments. That's interesting as I can replicate this consistently with a single consul node, a single Nomad server, and a single Nomad client. This is all running locally, consul running in a docker container, the Nomad server and client running on my host. The health checks all look to be passing according to consul, but then Nomad client deregisters all of them and they di

[2018-05-10 17:48] karlgrz commented on #4256
@dadgar I can reproduce this just by spinning up the redis job generated by:

```nomad job init```

[2018-05-10 17:51] dadgar commented on #4256
@karlgrz Ah you are still pointing two agents at the same consul. The Nomad Server and the Client. I am assuming what is flapping is the Nomad agent health checks.

If you want to run a server/client on the same host and have it talk to the same consul, run `nomad agent -dev`

[2018-05-10 17:51] karlgrz commented on #4256
@dadgar ah ha! Success! Thank you so much! That seems to be holding up well.

[2018-05-10 17:54] dadgar commented on #468
@vin047 It is planned for 0.9

[2018-05-10 18:32] shantanugadgil commented on #918
@MrRacoon

I do the nearly the same thing you have described using "meta" parameters and a "parameterized" job.

My use case is the same, pass a branch name, from which code gets checked out and built.

[2018-05-10 18:53] karma0 commented on #4276
@angrycub What is the difference between `active.vault.service.consul` and `vault.service.consul`?

[2018-05-10 19:06] gmichalec-pandora opened #4280 "Feature Request: Add specification-based metrics"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)

### Operating system and Environment details
Debian Linux 8.7

### Issue
We've been using the prometheus-exported job metrics, w

[2018-05-10 19:15] angrycub commented on #4276
I think I see your issue.  You have "https://vault.services.consul:8200" and I believe it should be "https://vault.service.consul:8200"—no trailing s on service.

The only other thing I noticed in the configurations is that you don't supply `ca_path`, which is fine if the operating system's CA path contains your the CA certs used to generate your TLS certs.

As to active.vault.service.consul.  A V

[2018-05-10 22:43] dadgar commented on #4203
@grin0c @yellowmegaman Any steps to follow to reproduce?

[2018-05-11 09:59] grin0c commented on #4203
@dadgar this is my config:
[code]
On other nodes, only the ip is changed

**What I do for this**:
Assume that "task group" is running on node 2 and alloc id is 47140375. On the other node (1, 3) you need to run `nomad alloc status 47140375` and get the message `Couldn't retrieve stats: Unexpected response code: 404 (no path to node)`. If you run `node alloc status 47140375` on node 2, this message

[2018-05-11 10:35] urjitbhatia opened #4285 "Nomad allocating in-use ports conflicting with dynamic port range"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
[code]
### Issue
For high network utilization applications, nomad's dynamic port range collides with in-use ports. In my case, the port nomad is using to connect to consul agent falls within the dynamic nomad port range:

[code]
At the same time, my tasks are trying to assign thi

[2018-05-11 10:40] tantra35 opened #4286 "Can't manualy fail deployment from buggy versions of nomad"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Issue
We have some deployments which remained from old times of nomad v0.6.0 development and it bugs. So now we decide to fail this deployments because we periodically see in out server logs follow:

[code]

All this deployments shows as they running for example for deployment `354218d0-1f40-aa7d-6f9a-841a01e4d453` shor

[2018-05-11 11:39] tantra35 opened #4287 "Nomad doesn't cleanup some allocs that must be garbage collected"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details

### Issue
For some of our jobs present uncleaned allocations, and we can't remove they with forcedly GC

For example for job `githubproxy-branches`
[code]

As you can see there present 8 allocations in stop sate, which must be GC collected, but they doesn't(and sometimes they up

[2018-05-11 14:08] preetapan commented on #4287
@tantra35 We did make some changes to the garbage collection logic in 0.8 to make sure that failed allocations that are not yet replaced are not GCed. To help us debug this issue, could you also share your job specification file, and the output of /v1/allocation/<allocation_id> of one of the allocs that did not get GCed?

[2018-05-11 14:37] tantra35 commented on #4287
@preetapan

here is our job file with problem allocations

[code]

[code]

result os curl launch

[code]

[2018-05-11 15:43] shantanugadgil commented on #4285
Hi,

Check the "Ports Used" section at

https://www.nomadproject.io/guides/cluster/requirements.html

HTH

[2018-05-11 16:14] dadgar commented on #4203
@grin0c Are you using Consul as well? If you are can you share: `curl http://127.0.0.1:8500/v1/agent/services`

[2018-05-11 16:42] preetapan commented on #4285
@urjitbhatia This is a known issue with how port assignments are handed out from the scheduler, and our mitigation is that apps that fail to start due to a port conflict should get [rescheduled](https://www.nomadproject.io/docs/job-specification/reschedule.html). Do your tasks have a reschedule policy ? By default all service jobs have rescheduling enabled.

[2018-05-11 17:12] urjitbhatia commented on #4285
@shantanugadgil Thanks, I overlooked that - fixed my ephemeral port problem colliding with non-nomad assigned ports.

However, my deployments are also failing because nomad keeps assigning ports it has assigned to other tasks.

@preetapan I am using the default reschedule policy. However, as the docs for rescheduling say:
[code]

[code]

I am using the `docker` driver with `network_mode` = `host`

[2018-05-11 17:25] dadgar commented on #4203
@grin0c Could you also display `nomad agent-info` please

[2018-05-11 17:28] grin0c commented on #4203
@dadgar
[code]

[2018-05-11 17:33] dadgar commented on #4285
@urjitbhatia Can you share the two allocations that have conflicting ports and share the lsof output? This is easily reproducible for you? Could you share an example job/config that does this?

[2018-05-11 17:53] dadgar commented on #4203
@yellowmegaman Are you also running servers and clients together?

[2018-05-11 17:58] yellowmegaman commented on #4203
@dadgar yes, can provide addotional info tomorrow.

We're using small clusters,  5-7 nodes, sometimes on baremetal, so all nodes are clients too, since running server-only mode on 3 nodes would be serious waste of resources.

[2018-05-11 20:19] SergeyYakubov opened #4289 "Nomad agent fails to start"
Hi!

I have problems running nomad.

### Nomad version
Output from `nomad version`
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f
also tried with fresh compiled 0.8.4-dev
### Operating system and Environment details
bare metal CentOS Linux release 7.4.1708 (Core)
### Issue
trying to start nomad client fails immediately. nomad server seems to work

./nomad agent -dev
==> No configuration fi

[2018-05-11 20:42] preetapan commented on #4289
@SergeyYakubov Thanks for reporting, that looks like a potential unsafe call - we will have a fix for it in the upcoming 0.8.4 release.

To help us determine the exact conditions that cause this panic - Do you have docker installed on the machine you ran the client on? Any other environment variables starting with `DOCKER_`?

[2018-05-11 20:45] SergeyYakubov commented on #4289
@preetapan I seem to see the reason - I have docker installed, but it configured to use TCP port instead of unix socket. Therefore I have DOCKER_HOST=localhost:2376 and DOCKER_TLS_VERIFY=1 and DOCKER_CERT_PATH. Is it possible to use nomad in such configuration?

[2018-05-11 21:16] SergeyYakubov commented on #4289
OK, I have configured the client with
client {
  enabled = true
  options = {
      "docker.endpoint" = "0.0.0.0:2376",
      "docker.tls.ca" = "path/ca.pem",
      "docker.tls.cert" = "path/cert.pem",
      "docker.tls.key" = "path/server-key.pem"
  }
}
and it seems to work now.
But a nice(r) error message would be helpful :)

[2018-05-11 21:36] justenwalker opened #4290 "docker driver: doesn't accept 'digest' tags"
### Nomad version

Nomad v0.7.1+ent (83ac1d7316a79aacb09d349298e14e23a0aa9853)

### Operating system and Environment details

Linux ... 4.13.0-1014-azure #17-Ubuntu SMP Fri Apr 6 02:37:40 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Issue

the nomad docker driver does not allow digest tags to be used when running an image.
It will fail to recognize the `@sha256:abcdef....` portion of the image and

[2018-05-11 22:29] mlehner616 commented on #3251
Any timeline for this? I think I can get by with the API endpoint but it would be nice to be able to fire off jobs via the CLI for consistency.

[2018-05-12 19:27] urjitbhatia commented on #4285
For anyone who finds themselves in the same problem in the future:

Make sure your applications aren't using the same ephemeral ports that nomad tries to use. So far, nomad does not skip over used ports and your allocations will fail.

`sysctl -w net.ipv4.ip_local_port_range="35000 65535"`  (Currently, nomad uses port range [20000-32000](https://www.nomadproject.io/guides/cluster/requirements.html

[2018-05-12 19:27] #4285 closed

[2018-05-13 23:02] pims commented on #1061
Any update on this feature request? Or the custom driver feature?

[2018-05-14 08:31] mildred opened #4295 "Nomad should accept multiple consul certificate authorities ca_file or ca_path"
When configuring SSL with consul, it is possible to specify a CA path containing multiple CA certificates instead of just a single CA file. it's the [`ca_path`](https://www.consul.io/docs/agent/options.html#ca_path) directive (as opposed to [`ca_file`](https://www.consul.io/docs/agent/options.html#ca_file)).

This can allow graceful renewal of CA certificates. When the first CA is nearing its end

[2018-05-14 09:03] mildred opened #4296 "Nomad should accept multiple CA for tls encryption"
Consul has the ability to accept multiple CA. Nomad having similar behaviour for TLS should be able to do the same.

More specifically:

- `NOMAD_CAPATH` should be acepted as an environment variable to replace `NOMAD_CACERT` but pointing to a directory with multiple CA instead of a single CA file
- `tls.ca_path` should be accepted in the configuration to replace `tls.ca_file` that points to a dire

[2018-05-14 14:19] nickwales opened #4297 "Optional consul service tags when registering nomad services"
Vault lets us supply optional tags in the configuration as per the link below, I can't currently see that as an option in the Nomad docs. Would it be possible to add?

https://www.vaultproject.io/docs/configuration/storage/consul.html#service_tags

[2018-05-14 14:59] jippi commented on #4290
isn't this duplicate of #4211 ? :)

[2018-05-14 15:01] justenwalker commented on #4290
Yeah, looks like it - sorry; I thought I scanned the issues to check if it was already reported. I guess 'digest' didn't include your issue :D

[2018-05-14 16:00] tantra35 commented on #4287
it seems that in our case all allocations in fail state not be subjected of GC

[2018-05-14 16:36] angrycub commented on #4297
Hey @nickwales.  Have you checked out the [tags attribute](https://www.nomadproject.io/docs/job-specification/service.html#tags) of the service stanza of the job specification?  Sounds like what you are looking for.

[2018-05-14 19:37] nickwales commented on #4297
Thanks for responding, this is actually for the `nomad` and `nomad-client` services rather than the tasks on the nomad agents.

I just amended the title to hopefully make that distinction as discernible as possible!

[2018-05-15 13:25] ketzacoatl commented on #468
@dadgar would this provide/allow for generic binaries/executables as drivers, or only binaries built with golang?

[2018-05-15 17:08] nugend opened #4299 "Succesfully completed batch job is re-run with new allocation."
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
3.10.0-327.36.3.el7.x86_64

### Issue
A batch job executed, completed successfully

[2018-05-15 20:51] 42wim opened #4300 "Feature Request: Support consul service meta in service stanza"
Would be nice to have the service stanza support the consul service meta data  (See https://github.com/hashicorp/consul/pull/3881).

The use case is the same as in the original consul PR

[2018-05-15 21:39] #3818 closed

[2018-05-15 21:39] #4221 closed

[2018-05-15 22:59] djenriquez opened #4301 "POST /v1/jobs returning incorrect JobModifyIndex"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Issue
We are creating a deployment process using the HTTP API and have found that the best parameter to link between a `POST` to `/v1/jobs` and `/v1/deployments` is the `JobModifyIndex`. However, when the task is going from a stopped/dead status to a running one, the `JobModifyIndex` returned from the `POST` to `/v1/job

[2018-05-16 06:25] ramSeraph opened #4302 "systemd unit file kills executors when nomad agent is stopped"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
`uname -a`

Linux \<hostname\> 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

`systemd --version`

systemd 229
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ -LZ4 +SECCOMP +BLKID +E

[2018-05-16 06:27] ramSeraph commented on #4302
adding `KillMode=process` to the systemd unit file below fixes the problem

https://github.com/hashicorp/nomad/blob/master/dist/systemd/nomad.service

documentation reference: https://www.freedesktop.org/software/systemd/man/systemd.kill.html#KillMode=

[2018-05-16 08:09] Lamboona commented on #4299
We have also been having this behaviour since the rechedule policies were introduced in 0.8.
We use dispatch to schedule paramaterized jobs, but we also noticed the same behaviour, at some point towards the end of gc cycle it decides that the job never ran and runs it again with a new allocation.

We currently have a partial workaround, but would really appreciate a fix.

We run 3 servers tied int

[2018-05-16 10:12] hmeine commented on #3499
@dadgar I have exactly the same requirements / goals as @ryanmickler. Could you give us an update on the timeline of this feature? You mentioned that you want to "first … better organize the client to allow for this type of resource manager"; are there any related publicly visible issues that would shed a light on the progress there?

[2018-05-16 14:05] preetapan commented on #4302
@ramSeraph Could you submit a PR for changing that sample config file? - this default makes sense

[2018-05-16 17:33] judeo66 opened #4304 "Unstable health examination"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details

Host Name:                 WIN-LEIV48G6F0A
OS Name:                   Microsoft Hyper-V Server 2016
OS Version:                10.0.14393 N/A Build 14393
OS Manufacturer:           Microsoft Corporation
OS Configuration:          Standalone Server
OS Build Type:             Mult

[2018-05-16 17:55] viniciusxyz commented on #4304
Same here!

[2018-05-16 17:58] viniciusxyz commented on #4304
Nomad console out

 TCP connection from=140.0.220.156:56867
    2018/05/16 14:56:32.864780 [DEBUG] http: Request GET /v1/job/GitHubExample?index=105 (5m9.3370871s)
    2018/05/16 14:56:33.235990 [DEBUG] http: Request GET /v1/allocation/f6196d2a-9cde-05f2-aabe-6c48c982eb51?index=97 (5m18.0595379s)
    2018/05/16 14:56:33.707591 [DEBUG] http: Request GET /v1/job/GitHubExample/allocations?index=105 (

[2018-05-17 01:42] insanejudge commented on #4302
I considered doing the same (we're running `Killmode=process`) but this should have been addressed by https://github.com/hashicorp/nomad/pull/3572 , which places executors in their own process group.

[2018-05-17 05:13] chelseakomlo commented on #4299
Thanks for reporting this issue- we will investigate this further on our end.

[2018-05-17 17:27] jippi opened #4306 "Allocation eviction/migration/preempt for higher priority jobs"
I would love to have Nomad be able to evict / migrate allocations away from a client if a job with higher priority need to be scheduled on the client.

A very concrete, and frequent issue we see at SeatGeek is our routing mesh (system job with priority 75) not being put on all instances since some clients do not have sufficient cpu/memory resources for it.

It happens some times when new instances

[2018-05-17 17:32] jippi commented on #4072
@maihde would be nice to get that PR up

[2018-05-17 17:36] jippi commented on #3100
also, `meta{}` will always be exposed in `NOMAD_META_<key>` env, so this is working as it should imo

[2018-05-17 17:48] luckymike commented on #4306
This is the behavior I would expect for system jobs, so big +1.

[2018-05-17 18:32] nugend commented on #4299
No effect. We will be rolling back to a previous version of Nomad.

@Lamboona Could you let me know what your workaround was?

[2018-05-17 19:43] maihde commented on #4072
@jippi just opened up.  Thanks.

[2018-05-17 22:53] tantra35 commented on #4286
After some investigations we found a solution for this. We create fake jobs with same names as in buggy deployments, then we can fail them and clear with GC

[2018-05-18 00:17] urjitbhatia commented on #3093
@dadgar we need this too! This is what happened:
- our task count is something like 80 and we run docker containers on a bunch of underlying EC2 servers.
- a server was reaped and a new one was added. A bug in the init script prevented it from joining the nomad worker pool
- Nomad then refused to deploy newer versions of our tasks (new docker images) because it had insufficient resources (CPU)
- T

[2018-05-18 02:54] karma0 commented on #4276
The issue turned out to be a bit more convoluted.  The certs weren't setup with the correct IP addresses and/or DNS names.  I was using `private-tls-cert` and the certs' IP addresses were set to `["127.0.0.1"]` while the DNS was set to `["*.vault.service.consul", "vault.service.consul"]`.  The issue was that the Vault clients weren't coming from localhost or an IP address that resolved to any of t

[2018-05-18 09:02] Lamboona commented on #4299
@nugend We run a lot of ephemeral jobs with small units of work, so we just discounted the work that was done out of order. It only partially works, but the extra work it causes is negligible enough that we can live with it, for now.

The benefit we get from having the reschedule policy in the firstplace far outweighs the cost of the extra work.

[2018-05-18 10:46] ramSeraph commented on #4302
@insanejudge thanks for the PR. I was offline and didn't see the response

[2018-05-18 16:45] angrycub commented on #4276
@karma0  Thanks for posting your solution!  That's a great note for future explorers.

[2018-05-19 15:35] molin0000 opened #4309 "Nomad can't use in windows7/2012r2 from version 0.7.3to0.8.3"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
[0mNomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)[0m

### Operating system and Environment details
Windows 7 and Windows Server 2012 R2

### Issue

[2018-05-20 13:14] molin0000 commented on #4309
I have tried many versions, only the version 0.7.0 can work in windows7.

[2018-05-20 20:13] Inveracity opened #4310 "nomad agent advertised ports config ignored"
### Nomad version
`Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

### Operating system and Environment details
Virtual Machine
Cores: 6 Cores 2.40GHz
RAM: 8 GB
OS: Ubuntu 16.04.4

### Issue
Advertise ports are ignored, not listening on the ports specified in the config

### Reproduction steps

Create the config file with new ports
/etc/nomad/nomad-client.conf
[code]

Unexpected listenin

[2018-05-21 14:58] preetapan commented on #4306
@jippi We've been talking about this internally (preemption) and is a road map item for Nomad 0.10

[2018-05-21 17:12] preetapan commented on #4287
@tantra35 just got back to investigating this after a week's break. I tried using a somewhat modified version of your job spec and so far I haven't been able to reproduce.

Could you also provide us the exact steps you took to get nomad into this state where the failed allocs don't GC? Please provide as much detail as possible, especially about specific commands run before the GC.

[2018-05-21 17:26] #4302 closed

[2018-05-21 17:46] #4211 closed

[2018-05-21 17:46] #4290 closed

[2018-05-21 17:52] #1048 closed

[2018-05-21 18:39] dadgar commented on #4309
@molin0000 Can you display `ipconfig`

[2018-05-21 18:44] tantra35 commented on #4287
@preetapan for nowdays we stop job with failed not GC allocations, and launch new before launch we made GC to make sure everything is cleared out, then we waited when deployment will fully complete, and now allocations looks like this

[code]

as you can see we have 2 alloc in failed state that live more then 3 days

eval status for then on my oppinoon gives nothing interesting

[code]

and for se

[2018-05-21 18:44] dadgar commented on #4299
@nugend or @Lamboona Can you show the allocation output from the API of the original and retried allocations and the evaluations attached to the job

[2018-05-21 18:49] tantra35 commented on #4287
But also we have jobs with failed state without GC in more stable aws network for example:

[code]

[2018-05-21 18:53] tantra35 commented on #4287
So we doesnt do anything special, simply job standart workflow

[2018-05-21 18:58] viniciusxyz commented on #4304
Hello

This problem is probably occurring because you are pointing the Nomad-Client directly to the Consul-master instead of pointing to your consult-client and they are pointing to the master.

Try to follow the documentation always keeping the structure of not pointing anything to the Consul Server other than your Consul Clients or your followers servers

[2018-05-21 19:04] judeo66 commented on #4304
This is the problem, thank you.

[2018-05-21 19:04] #4304 closed

[2018-05-21 19:04] nugend commented on #4299
@dadgar At what point? The original allocation is garbage collected when the logs say its garbage collected. Do you mean I need to guess which allocation is going to experience this issue and capture it?

[2018-05-21 21:15] roman-cnd commented on #3752
For those looking to save some $$, this works okey:

nomad metrics -> statsd (from collectd) + ugly collectd rewrites to strip node/host info -> cloudwatch collect agent (with filters what to publish) does the job.

[2018-05-21 21:20] preetapan commented on #4287
@tantra35 I was able to reproduce this and PR #4313 should fix it. Would you be willing to try it out if I provide you a test binary tomorrow?

[2018-05-21 21:30] tantra35 commented on #4287
@preetapan great work, ofcourse we can try this binary. But I'm confused about that in our case job version wasn't changed

[code]

[2018-05-21 21:52] preetapan commented on #4287
@tantra35 that is expected if you ran a `nomad stop -purge githubproxy-branches` or used the [stop](https://www.nomadproject.io/api/jobs.html#stop-a-job) API with purge set. When the job is run again the version is reset to zero, but any previous allocs that were not GCed properly are still associated with the same job id because they were not cleaned up properly.

[2018-05-21 22:14] tantra35 commented on #4287
@preetapan Hm that sounds logical, but I'm quite sure that after stop and re-launch, there wasn't be any allocations in fail state, and was only 8 healed allocation. Also if i understand all correctly i make desigion that id of allocation hasn't changed, so i expect to found them in first message for this issue, but they there wasn't

Any way lets try

[2018-05-21 23:49] #4287 closed

[2018-05-22 02:34] #4289 closed

[2018-05-22 04:33] preetapan commented on #4299
@nugend @Lamboona - I've been looking at this and trying to reproduce. If you have debug logging turned on and the garbage collector collected this job, you should see log lines like following if the server tried to force garbage collect the completed allocation

[code]
You haven't included server logs, would you be able to attach server logs from around the time that you think it tried to restart

[2018-05-22 05:06] samart opened #4318 "Support Docker Pids Limit"
This will help us run more securely by not allowing subprocesses to be spawned in the container, or hosts being taken down by forkbombs.

/containers/create --> HostConfig/PidsLimit
https://docs.docker.com/engine/api/v1.37/#operation/ContainerList

Thanks,
Trevor

[2018-05-22 05:07] samart commented on #4318
@rcgenova FYI

[2018-05-22 10:01] nugend commented on #4299
@preetapan We were running three nodes in a combined server/client mode. I may have failed to configure the logging correctly to produce logs from both server and client or otherwise, simply did not include those specific log lines. I'll check to see if we still have those particular log statements in this case.

The job itself was not parameterized, but its parent was. The parent was not re-execu

[2018-05-22 13:59] capone212 commented on #3595
Hi all, I have this issue on cluster with windows boxes.
Managed to reproduce it stable. Simplest steps are:
1) Run one stand-alone node (server+client, bootstrap expect =1)
2) Run some tasks
3) Hibernate (sleep mode) windows for 30 minutes
4) wake up windows.

that you can see nomad node status constantly flapping from ready to down. It goes away after nomad restart.

[2018-05-22 14:47] capone212 commented on #3595
Please find nomad logs
https://gist.github.com/capone212/4a36e98aca87bfadff3b4399363ff691

Problem starts at
 2018/05/22 16:06:32.751737 [WARN] nomad.heartbeat: node '5c645ff5-528a-9e2b-744d-6e6165eedef4' TTL expired

[2018-05-22 14:48] capone212 commented on #3595
@dadgar please consider reopening this issue

[2018-05-22 16:22] nugend commented on #4299
No, you are misunderstanding: The job which is rescheduled is *not* a parameterized job. It is a one-off batch job that has been customized to run a particular batch load. The *parent* of that one-off job is a dispatched instance of a parameter job.

[2018-05-22 18:48] dadgar commented on #3595
@capone212 Would you mind trying on 0.8.3. There have been quite a few improvements to the heartbeating system. For more details on them you can look at the changelog.

[2018-05-22 19:05] nickethier commented on #4309
@molin0000 Currently nomad selects the network interface for fingerprinting based on the client's default gateway. Your client doesn't seem to have a default gateway thus you need to set the `network-interface` config option in order for nomad to fingerprint an interface. This was introduced in PR #3546 for the 0.7.1 release.

You will either need a host with the default route or configuring it as

[2018-05-22 20:20] DanToml commented on #4299
FWIW - We've seen some similar issues with one shot batch jobs being rescheduled during our 0.8.3 testing, I hadn't made the connection to GC yet, but I can take a look for that in the logs tomorrow.

[2018-05-22 21:47] #4203 closed

[2018-05-23 07:34] hvindin opened #4322 "Nomad UI Stop Button Works without ACL's if ACL's aren't enabled."
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.3+ent (ab6f867b048c6aa15052f788a2f02d48fbe2f9fe)

### Operating system and Environment details
$ cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.2 (Maip

[2018-05-23 14:16] Miserlou opened #4323 "Sustained CPU Spike and Death of Lead Server Leads to Total Collapse of the System"
### Nomad version
`Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)`

### Operating system and Environment details
Ubuntu

### Issue
I ran a job overnight. I came back to find that overnight, the lead server had a sustained and unexplained CPU spike which lead to the complete collapse of the total system.

The logs end like this:

[code]
And there are 1.7 million lines similar lines leading

[2018-05-23 15:14] dlt-maximepiton opened #4324 "Improve UX of manual allocation health setting during deployment"
During a rolling upgrade of a job with "health_check" set to "manual", we encounter two major difficulties :
- getting the full deployment UUID is complicated : the only way we found was to get the short UUID from the Web UI, and then to make a GET request to /v1/deployments?prefix=<short_UUID>. Is there another way?
- manually setting the health of the allocation must be done via the HTTP API : /

[2018-05-23 16:55] DingoEatingFuzz commented on #4322
Thanks for the bug report!

This has been fixed in #4319 and will go out with the next release. As it looks like you have already deduced on your own, the UI error message is shown in error. The job will still stop successfully with no unexpected side-effects.

[2018-05-23 18:38] DanToml commented on #4299
@preetapan Sadly, we had to put our 0.8.3 testing on hold for a couple of weeks after running into this, but I'll see if I can get a repro case or do more digging early next week

[2018-05-23 20:30] dadgar commented on #4218
@jerrypeng Can you try with this binary. It is a linux amd64 build of master as of e108f732b6c7b01ca0dcfe0510a6760ed4b6b9bb. [nomad.zip](https://github.com/hashicorp/nomad/files/2032705/nomad.zip)

From that build I ran this job file:
[code]

When I do a nomad stop both the sleep and tail process get killed.

[2018-05-23 20:33] jerrypeng commented on #4218
@dadgar thank you! I will try it out.

[2018-05-23 20:56] preetapan commented on #4299
@Lamboona will you be able to provide any debug info here - I need the output of `v1/allocation/<id>` of both the completed and the rescheduled allocation. Unfortunately, without that, it is not possible to piece together exactly what happened when I can't reproduce this issue with any test batch jobs I've written.

[2018-05-23 21:13] dadgar commented on #4299
To add more to what Preetha has asked for. What would be ideal is the following:
* /v1/allocation/<alloc_id> for both the original and the rescheduled one (from the logs shared it looks like the GC happened on the client so the server should still have the original)
* /v1/job/<name>/evaluations

[2018-05-23 21:18] dadgar commented on #4323
@Miserlou How many times did you dispatch jobs? You say there are 1.7M lines before but each looks to be scheduling a new dispatch job: DOWNLOADER/dispatch-1527025593-82387453, DOWNLOADER/dispatch-1527025593-efbec847, ...

Are your clients DDoSing Nomad by asking it to scheduling millions of jobs?

[2018-05-23 21:22] dadgar commented on #4324
@dlt-maximepiton

1. You can get the full deployment ID via: `nomad job deployments -verbose <job-name>`
2. It may be a future enhancement but we currently don't have plans for this. If you want to submit a PR that would be accepted. I believe the correct approach would be `nomad deployment set-health` command. It could take a boolean flag, which defaults to true, `-healthy` and expect a list of a

[2018-05-23 22:21] jerrypeng commented on #4218
@dadgar So I tried with the latest Nomad build you recommend me to try.  I am still getting the problem I mentioned above.

Using that version of Nomad, I submitted a Heron topology application and then I kill the application:
[code]
The nomad jobs that represent executors in heron displays as being killed. However upon further inspection of one of the jobs:

[code]

As you can see the "Desired" s

[2018-05-23 23:16] hvindin commented on #4322
So, to clarify, if we make the UI available to unauthenticated users with ACL's turned off the expected behavior is that:
1. No error message will be displayed
2. The job will be stopped?

If that is the case is there any way to disable the stop button? We have setup a server which provides users with access to the nomad dashboard so they can see what's going on in the cluster, however due to the

[2018-05-23 23:33] qkate commented on #4318
@samart This is on our radar for the current sprint -- no promises, but we're going to try to get to it!

[2018-05-23 23:46] dadgar commented on #4286
@tantra35 PR I just put up should clean them when upgrading to newer versions of Nomad. Don't want to add an endpoint since this isn't a case that should ever happen since it arouse from a bug that has since been fixed.

[2018-05-24 00:01] nugend commented on #4299
I don't know about the other users, but in our configurations, nomad is running in both client and server mode, so if there's a way to get the allocation information from the server and not the client, I would love to know how.

[2018-05-24 00:57] dadgar commented on #4218
@jerrypeng I am having quite a hard time following the heron standalone guide. I am running this:
[code]

And I see the task is failing:

[code]

Do you have a VM or simpler reproduction steps?

[2018-05-24 01:02] dadgar commented on #4299
@nugend The endpoint I gave would work in that mode `/v1/allocation/<alloc_id>`

[2018-05-24 01:04] dadgar commented on #4218
@jerrypeng If you repeat the steps from https://github.com/hashicorp/nomad/issues/4218#issuecomment-391531439 can you show what the process group is for each of those? I wonder if the python executor is changing its process group

[2018-05-24 01:09] dadgar commented on #4323
@Miserlou Can you share the full logs. I would like to see the behavior before the CPU spike, during and after.

What is your file descriptor limit for these process? Can you list the file descriptors that Nomad has open?

[2018-05-24 01:10] DingoEatingFuzz commented on #4322
Yes, this is the expected behavior.

The stop job button works by [making a `DELETE` request](https://www.nomadproject.io/api/jobs.html#stop-a-job), so something like this could still work in theory.

ACLs are essentially the way to disable the stop button. A good place to start with ACLs is the guide, which includes [a section on the Anonymous Policy](https://www.nomadproject.io/guides/acl.html#s

[2018-05-24 01:11] jerrypeng commented on #4218
@dadgar are you trying to submit to an existing Nomad cluster or did you also start the cluster via "heron-admin standalone cluster"?

[2018-05-24 01:13] dadgar commented on #4218
@jerrypeng So I ran: `heron-admin standalone cluster start`

I followed the guide here exactly: https://apache.github.io/incubator-heron/docs/operators/deployment/schedulers/standalone/

The only difference is I replaced heron-nomad with 0.8.4-dev binary. I am also running zookeeper in the started Nomad cluster before starting that topology via:

[code]

Did you see that the ENV for the downloader

[2018-05-24 01:31] jerrypeng commented on #4218
@dadgar ya I saw the null in the URL.  That usually means that the ip address could not be determined from the actual host. Are you running this on a VM via vagrant? I will try to reproduce.

Ya, you are right about the heron-executor changing the process group:
[code]

I just realized in the code of heron_executor.py. There is code to create a new process group:

https://github.com/apache/incubat

[2018-05-24 01:35] jerrypeng commented on #4218
However at the same time, though I am not a bash expert, shouldn't the trap clause in the script kill the heron-executor process when the run_heron_executor.sh gets kill by Nomad when the job is stopped?

[2018-05-24 01:54] jerrypeng commented on #4218
@dadgar so in Kubernetes, it supports a prepare phase that executes some commands prior to the main service you want to invoke. Is there something similar in Nomad? Basically a task that gets run before your "main" task.  If there is than, all the downloading of jars and creation of directories that is done run_heron_executor.sh can be moved to that phase and the "main" task can directly invoke th

[2018-05-24 01:59] jerrypeng commented on #4218
So I can also reproduce the problem with the following job spec:

[code]

and python file:

[code]

[2018-05-24 06:53] hvindin commented on #4322
Ok, makes sense to me. We're essentially trying to make everything visible to everyone but just stop anyone making changes. So an anonymous policy with read only access to everything sounds like it''s definitely a good place to start, and it's probably better than having nginx hackery in place :+1:

[2018-05-24 12:21] nanoz opened #4330 "Cluster is unstable as leader election keeps triggering"
### Nomad version
server : `Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`
clients : 0.7.0, 0.7.1, 0.8.1, 0.8.3

### Operating system and Environment details
Linux Debian, 3 nodes cluster running on m4.large instances in 3 availibility zones

### Issue
Leader election keeps triggering. The cluster is unstable and I don't know how to diagnose or fix it.

### Nomad Server logs (if appropri

[2018-05-24 13:27] capone212 commented on #3595
Opened pull request https://github.com/hashicorp/nomad/pull/4331

[2018-05-24 13:32] rkettelerij opened #4332 "[Feature request] Display resource utilisation charts in web-ui."
Currently the `nomad node-status` command prints information about resource utilisation. E.g:

[code]

It would be great to also show this information with some nice charts in the web ui.

[2018-05-24 15:09] Lamboona commented on #4299
@preetapan we run the GC more frequently, so i will have to make some environment changes to actually be able to inspect both of the allocations at once, we only discovered them because of the effect that they were having. If i can get a chance tomorrow i will spin up an environment with debug and the normal gc settings, to try and get some of these stats.

[2018-05-24 17:33] dadgar commented on #3595
@capone212 With that patch applied you do not see those logs with your reproduction steps?

[2018-05-24 17:39] dadgar commented on #4330
Hey I am going to close since this looks to be an environment specific issue and not a bug. But a few things to start investigating:

Looks like you have some high latency between the links:
[code]

Did you upgrade and not properly leave the old servers?
[code]

Looks like there is a server in the Serf pool that shouldn't be? I would look at `nomad operator raft list-peers` and `nomad server membe

[2018-05-24 17:39] #4330 closed

[2018-05-24 17:50] henn1001 opened #4334 "[question] constrain running allocations per task"
Hi ,
is it possible to restrain/limit the number of running allocations per task? I want to do something like this:

[code]

I already studied the docs but cant find a way to achieve this. Any help?

[2018-05-24 21:10] henn1001 commented on #4334
Upon further reading, the parameterized job is more fitting for my use case.

So the workflow would be to create a job and then use dispatch to create N instances.  Still leaves me with the question if i have to limit the amount of "dispatch" calls at the user input side, or if i can handle the limit by nomad.

[2018-05-24 21:10] capone212 commented on #3595
I can reproduce the problem on vanilla v0.8.3, but with my patch I can't reproduce it any more.

[2018-05-24 21:33] capone212 commented on #3595
@dadgar  I see a clear race there
Consider the following scenario:
1) Timer expires and timer handled (`invalidateHeartbeat`) scheduled for execution
2) The Timer is Reset-ed  in `resetHeartbeatTimerLocked `after client heartbeat
3) `invalidateHeartbeat ` removes active timer from `heartbeatTimers`  maps
4) client hearbeat inserts new active timer in `resetHeartbeatTimerLocked `
5) after leaked ti

[2018-05-24 22:02] rkettelerij commented on #4332
Oh doh never noticed the bars besides the allocations.

<img width="293" alt="screen shot 2018-05-25 at 00 01 23" src="https://user-images.githubusercontent.com/291572/40515897-f16a49f8-5fae-11e8-944c-a9048c65e996.png">

So this is already in Nomad. Great! Closing this one.

[2018-05-24 22:02] #4332 closed

[2018-05-24 23:01] hvindin commented on #4322
@DingoEatingFuzz your advice has essentially closed this off form me. Temporary hack: nginx limitation on Delete requests. Proper solution: go implement ACLs.

[2018-05-24 23:01] #4322 closed

[2018-05-25 00:42] dadgar commented on #4334
@henn1001 I am going to close this since this wouldn't be a feature we would implement in Nomad but can instead be done by the user as you mentioned.

You have a few options. One would be to use parameterized jobs as you mentioned and dispatch 2 at a time. Another would be to simply run 2 workers and put work on a work queue and have them pull the work and exit when everything is done.

[2018-05-25 00:42] #4334 closed

[2018-05-25 10:05] nanoz commented on #4330
I removed them from raft using remove-peers, but they still appear in serf because I just applied the upgrade to 0.8.3 before opening this issue :)

Thank you for your input, we will continue our investigation.

[2018-05-25 13:45] Lamboona commented on #4299
Here are some debug logs that i have managed to scrape together this is the original allocation.
I have copied them out of kibana, so they may not be perfect, these are just the logs pertaining to the allocation, as there are too many surrounding it for me to put more in

[code]

The following allocation 0350af5e-4203-7976-f90f-cfddae3b573f was running again by 12.12.11

[code]

I haven't been abl

[2018-05-25 15:43] Zelgius commented on #1175
Have there been any developments on this feature request? It is definitely something I'm interested in.

[2018-05-25 18:18] henn1001 commented on #4334
thank you

[2018-05-27 04:25] adragoset commented on #2299
This would be ideal. Here's what I've run into. I've got a handful of specialized build servers in my cluster. These servers are really big machines 16+ core and a ton of ram additionally they have a specific set of hardware which supports a specfic set of cpu instructions that I'm using to build and test a suite of different applications optimized for machines with these instruction sets. Ideally

[2018-05-28 06:00] sadpirit opened #4343 "Permanent re-render template in job."
### Nomad version
Output from `nomad version`
0.8.3

### Operating system and Environment details
Ubuntu 16.04LTS
### Issue
If the nomad template returns an dict, this results in a permanent restart

### Reproduction steps
1. Place dict data in vault:
[code]
2. make template in nomad job:
[code]
3. Run job.

The job will restart indefinitely
[code]

If the data in the vaultare stored in an array,

[2018-05-28 11:45] macropain commented on #2504
Having same issues as @jcomeaux and @athak - did you guys find any fix?

[2018-05-29 08:53] rvmishra opened #4344 "[question] Persist periodic job run data in Nomad"
Hi,

I am doing POC of Nomad to run periodic jobs. It is very important that the history of job-runs is persisted. However, i see that when Nomad is killed, the job-run history data is lost.

Please suggest the solution for this.

[2018-05-29 08:54] Lamboona commented on #4299
@preetapan I have managed to get some of the information out of the API.

It would seem that our problem doesn't actually stem from the garbage collection but actually happens far earlier in the process, as the batch scheduler seems to be scheduling a single dispatched job multiple times. I can attach the alloc/eval output if you want or should i open a seperate issue? As i feel anything else i ad

[2018-05-29 09:03] jippi commented on #4344
We use https://github.com/seatgeek/nomad-firehose and store it in a DB or Elasticsearch cluster :)

[2018-05-29 09:17] rvmishra commented on #4344
Thanks @jippi

So task events are put in a sink, and then a consumer collects events from the sink and puts them in a DB. Is it correct?
Is there any repo where i can see firehose in action?

[2018-05-29 09:21] jippi commented on #4344
We run our firehose persister privately, but its pretty simple to do, especially if you just dump it into Elasticsearch, maybe 100 lines of code :)

[2018-05-29 10:39] #4344 closed

[2018-05-29 13:04] mindnuts commented on #3526
@MatthiasScholz Sorry to resurrect this old thread. May i ask you were you able to pull mixed images? What we are seeing is that, using your config we are able to pull ECR images, but images from DockerHub which do not require auth fails because it tries to pull that image from ECR:

[code]

Is there a way to mix ECR private images and Public images?

[2018-05-29 13:42] Miserlou opened #4345 "Suppress Consul Sync Messages"
### Nomad version
Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)

### Operating system and Environment details
Ubuntu

### Issue

I have many tens of thousands of log messages like this:

```2018/05/28 23:27:20.557180 [ERR] consul.sync: still unable to update services in Consul after 11210 failures; latest error: error querying Consul services: Get http://127.0.0.1:8500/v1/agent/services:

[2018-05-29 13:48] preetapan commented on #4299
@Lamboona noted about the GC logs. I am pretty sure that's a red herring. There has to  be another eval for a previously completed batch job to reschedule. So the details of the evals and allocs of the dispatched job would help here.

[2018-05-29 14:26] jippi commented on #4345
do this help?

[code]

[2018-05-29 14:52] Lamboona commented on #4299
@preetapan Thats the problem the repeated jobs we are seeing have seperate job IDs, previously with the GC being so frequent we hadn't actually seen that this was the case. Which is why i think this might be a seperate issue.

If you want me to post the output from the allocs/evals they aren't exactly small do you want them pasted directly?

[2018-05-29 15:08] preetapan commented on #4299
That's interesting that they have different job ids, that usually means that something else external is calling `nomad job dispatch` on the parameterized job.

You can add them as attachments here rather than posting them directly as comments if they are huge. Please attach a job spec as well.

I can go ahead and create another issue as necessary but right now this ticket is fine.

[2018-05-29 15:40] Lamboona commented on #4299
[allocation_output.zip](https://github.com/hashicorp/nomad/files/2048909/allocation_output.zip)

I wasn't able to attach just Json files so i have zipped them together, this shows two seperate allocations that go through seperate evaluations. The jobs themselves would have been created by a single post to the HTTP API dispatch endpoint, the TOOL_RUN_ID is the way i can link them together, as these

[2018-05-29 16:55] dadgar commented on #4345
@Miserlou @jippi's suggestion will unblock you if you continue to use 0.7.1 but this does not occur on 0.8.3

[2018-05-29 16:55] #4345 closed

[2018-05-29 18:28] glimberg opened #4347 "Placement failed due to CPU resource exhaustion, 2 servers going unused."
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
CentOS 7

### Issue
I updated a job this morning to add 2 more groups into the job specification for 2 new instances of the service I'm managing via Nomad.  After updating the job specification I received the following error:

[code]

I have 7 servers acting as nomad clients in t

[2018-05-29 19:23] glimberg commented on #4347
I did just think of one possible thing that may be involved in this.  On the 2 nodes that are currently not being alloc'd on, I did perform a `node-drain` on each of them over this past weekend to so I could do some maintenance on them.  Once maintenance was finished, I turned off node-drain.

[2018-05-29 19:37] vincenthuynh commented on #4347
Can you try running: ```nomad node eligibility <node>```
https://www.nomadproject.io/docs/commands/node/eligibility.html

[2018-05-29 19:44] glimberg commented on #4347
Ahh interesting.  Must have missed the release note about that flag!  Enabling eligibility on those 2 nodes fixed the issue.  Thanks!

[2018-05-29 19:44] #4347 closed

[2018-05-29 19:47] glimberg commented on #4347
Some sort of feedback in the Web UI about eligibility would be really nice.  There's nothing in there at all as of 0.8.3.

[2018-05-29 19:48] qkate commented on #4347
@glimberg Indeed, thanks for the feedback!  We'll add it to our internal backlog.

[2018-05-29 19:53] glimberg commented on #4347
Also there may be a bug in disabling drain.  According to the docs page for the eligibility command, disabling drain should restore eligibility.  It didn't in this case.

[2018-05-29 21:42] samart commented on #2624
We're just now noticing this as we start to support our nomad clusters.   It can make it difficult to identify the container you may need to kill or inspect, etc.

any way of using the image name yet?

@rcgenova

[2018-05-30 07:25] sguru21 opened #4348 "Unable to start job , container is not going to running state"
**Issue: when i run a nomad job below error is shown. container is not moving to running state.**

 Driver Failure  failed to start task "dcmclienttask" for alloc "6e9bc49a-4f9c-d186-0a93-e3cfe265fda4": Failed to start container 7b848c8bdeaa43d34852edd1a5f5e39c4ab66a92f8da96b6ef2ba06766d906b8: API error (500): {"message":"Post http://%2Frun%2Fdocker%2Fplugins%2Fweavemesh.sock/IpamDriver.RequestAdd

[2018-05-30 07:41] dlt-maximepiton commented on #4324
Hi, thanks for your reply.

1. Right, I didn't get this one. Much easier than how we did it
2. I understand, I'll keep by my side the idea of a PR about this feature

[2018-05-30 08:09] Lamboona commented on #4299
@preetapan No we don't use any client libraries specifically for this reason. The only route that can cause a job to be run a second time is if we recieve a non 200 response code, in which case this ID could possibly be reused, is there any possibility of a job being created with a non 200 response from the http api?

[2018-05-30 10:28] #4348 closed

[2018-05-30 10:28] sguru21 commented on #4348
done

[2018-05-30 17:49] dadgar commented on #4343
@sadpirit Can you file an issue against https://www.github.com/hashicorp/consul-template and link it to this.

[2018-05-30 18:34] DingoEatingFuzz commented on #4347
Good news, @glimberg! I've been working on just that. PR now open (with screenshots): https://github.com/hashicorp/nomad/pull/4353

[2018-05-30 18:39] dadgar commented on #4301
@djenriquez Hey so the field was being populated with the correct value but the naming is quite confusing.

So when you do a PUT on `/v1/jobs`, the response is `JobModifyIndex = job.JobModifyIndex`
The deployment is created and `JobModifyIndex = job.ModifyIndex`

I have added a new field to the deployment that is set as follows, `JobSpecModifyIndex = job.JobModifyIndex`. So you will be able to use

[2018-05-30 18:55] qkate commented on #4347
@glimberg for the [suspected disable drain bug](https://github.com/hashicorp/nomad/issues/4347#issuecomment-392921289), would you mind opening a separate issue for that?  Thank you!

[2018-05-30 20:06] #4286 closed

[2018-05-30 20:31] glimberg opened #4356 "Eligibility not restored after `node-drain -disable`"
Related to https://github.com/hashicorp/nomad/issues/4347

Server/client nodes were running Nomad v0.8.1 (Linux)

Node drain enable/disable calls were executed via Nomad v0.7.x (Windows).

According to the docs, node eligibility should be disabled when `node-drain -enable` is set on a node, and eligibility should be enabled when `node-drain -disable` is set on a node.

In this case, eligibility wa

[2018-05-30 20:31] glimberg commented on #4347
@qkate https://github.com/hashicorp/nomad/issues/4356

[2018-05-30 20:42] preetapan commented on #4356
I was unable to reproduce in Nomad 0.8.1

[code]

However, our master branch did have exactly this bug and PR #4352 fixed it. @glimberg can you re-confirm your nomad version and steps to reproduce?

[2018-05-30 20:48] glimberg commented on #4356
@preetapan This occurred when calling node drain from an older version of the client that knows nothing about eligibility (0.7.x).  The servers were running 0.8.1, however.

[2018-05-30 20:59] preetapan commented on #4356
@glimberg now I see that you put that in the original description, missed that before. Thanks for clarifying

[2018-05-30 21:01] automaticgiant commented on #2633
just for tracking @schmichael, https://github.com/fsouza/go-dockerclient/issues/649 is done so the only work is in-repo now, right?

[2018-05-30 22:27] #4356 closed

[2018-05-31 06:03] jippi commented on #4343
thats a fun one, since a map in Go is not sorted, and will be random ordered on each creation - which is likely also why its re-rendering over and over :)

[2018-05-31 09:06] mehertz commented on #2093
This is a complete killer for us. We have ~7 containers that we are trying to set up as separate tasks inside a group. Unfortunately, these containers are peaky in terms of memory usage. This means that either we:

1. Grant these containers enough memory such that Nomad refuses to schedule the containers **on the very box on which they are currently running**

or

2. Reduce the memory resources su

[2018-05-31 14:00] nathanwebsterdotme opened #4358 "Nomad Job Consul Service Registration Flapping in v0.8.3"
### Nomad version
consul: v1.1.0
nomad: v0.8.3

### Operating system and Environment details
ubuntu 16.04

### Issue
When testing a simple local stack of Consul and Nomad on Vagrant, I am seeing the service registered in consul via a nomad job flapping (registers then deregisters constantly).  This is not health check related, but the service is constantly being deregistered.

This seems to have b

[2018-05-31 14:11] nathanwebsterdotme commented on #4358
I ensured the fix that @apenney put in of ensuring the Nomad client is connecting to consul over 127.0.0.1 before raising this

[2018-05-31 16:42] preetapan commented on #4358
@nathanwebsterdotme I wasn't able to reproduce this in a single node consul cluster running 1.1.0. Had some ansible errors trying your setup that I need to work through. When your Consul cluster is up, is it stable? I am wondering if there are other issues with the consul cluster in your test setup like a serf health failure that is causing the local agent to fail its checks, and the only reason t

[2018-05-31 17:57] #4301 closed

[2018-05-31 17:59] #4318 closed

[2018-05-31 18:39] dadgar commented on #4343
@sadpirit I created the issue

[2018-05-31 20:07] djenriquez commented on #2402
Not sure if this is fixed. Running Nomad v0.8.0 saw this in a deployment of a docker task with a count of 70:

[code]

[code]

I can't get this thing to get out of the pending state =/. Had to kill the node it was on. Any ideas?

[2018-05-31 20:39] djenriquez opened #4360 "bind: address already in use - 0.8.0"
Reference #2402, rarely our deployments run into the `bind: address already in use` issue. Copying + pasting from my comment in #2402:

Not sure if this is fixed. Running Nomad v0.8.0 saw this in a deployment of a docker task with a count of 70:

[code]

[code]

I can't get this thing to get out of the pending state =/. All future deployments for this job fail because of the allocation that is stu

[2018-05-31 20:47] djenriquez commented on #4360
Also, all other 69 allocations deployed to healthy, it was just this one.

[2018-05-31 22:32] djenriquez commented on #4360
Nope, the `node drai`n --> `drain disable` did not work, had to completely terminate the box to get nomad to throw the allocation elsewhere...

[2018-06-01 03:05] shantanugadgil commented on #4360
Hi, on a side note, do you have a reschedule block. (This could help reallocating the allocation elsewhere)

For me restarting the Docker service is usually adequate to make Nomad reschedule the jobs.

[2018-06-01 10:51] nathanwebsterdotme commented on #4358
Consul cluster is stable and the service has been registered successfully for over 24 hours now using Nomad v0.8.1.

[2018-06-01 14:18] molin0000 opened #4361 "Very Slow to start a batch job in some pc."
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.3 and Nomad v0.7.0 both have this mistake.

### Operating system and Environment details
Windows 7 sp1 64bit

### Issue
When I run a batch job, it

[2018-06-01 14:43] molin0000 opened #4362 "[question][ERR] client: error garbage collecting allocation: 发生意外。 (Invalid query )"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

what is the reason of this err?

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
nomad 0.7.0

### Operating system and Environment details
Windows 7 sp1

[2018-06-01 15:52] GavinPalmer1984 opened #4363 "unable to run mysql with args on windows"
### Nomad version
`0.8.3`

### Operating system and Environment details
windows server 2008 on AWS with mysql 5.6 installed and available on the path env variable

### Issue
I created a question on stackoverflow and asked for help on gitter.  It was recommended that I log an issue. https://stackoverflow.com/questions/50644172/how-should-i-run-a-mysql-command-with-nomad-and-arguments

### Reproduct

[2018-06-01 16:35] preetapan commented on #4362
@molin0000 this looks like a url encoding issue. Can you share logs or more information around the error?

[2018-06-01 16:37] constiDisch opened #4364 "Incompatiby of basic node drain command for v0.8.3 and v0.7.1"
### Nomad version
Nomad version server: `0.7.1`
Nomad version client in docker :  `0.7.1`
Nomad version on client system for starting jobs: v0.8.3

### Operating system and Environment details
ubuntu16:04
### Issue
Incompatibility for toggling the drain mode in very basic setting: It seems to be not possible to enter drain-mode using version v0.8.3, when server/client runs with v0.7.1. Of course a

[2018-06-01 16:38] preetapan commented on #4361
This seems related to issue #4362 and seems related to system encoding since the logs say "invalid query". I am going to close this one out and leave  #4362 open

[2018-06-01 16:38] #4361 closed

[2018-06-01 17:01] shantanugadgil commented on #4364
I don't think having a higher version of the client os supported.
I always upgrade my servers first, and try to keep all agents on the exact same version.

If you have a higher server, there has been in a recent fix to handle such a situation (dont have the issue id handy)

HTH

[2018-06-01 17:22] djenriquez commented on #4360
Ah, I do not have a `reschedule` stanza! I think that will suffice my needs. This happens rare enough that I think that is good enough for a resolution for me, though I don't know if we should still spend time to figure this rare occasion out? I'm good w/ the `reschedule` stanza solution.

[2018-06-01 17:35] dadgar commented on #4363
@GavinPalmer1984 Hey Gavin,

So the best place for questions like this is the mailing list but we will definitely help you out! So since you are on Windows you will need to change the driver to `raw_exec` as windows doesn't support exec.

When you run your job you probably see a placement failure saying missing drivers, and that is because your windows machines do not have the exec driver.

Once y

[2018-06-01 17:35] #4363 closed

[2018-06-01 17:41] dadgar commented on #4218
@jerrypeng Okay thanks for getting me the reproducers. So I have good and bad news. The good news is:
*  #4336 solves the issue of the alloc staying in running forever.
* #4350 solves the leaking processes

Bad news is:
* #4350 can only solve the issue on Linux and when Nomad is running as root. (There also has to be cgroups mounted but on modern OSs it is generally).

So the end outcome is that i

[2018-06-01 17:41] #4218 closed

[2018-06-01 17:47] preetapan commented on #4364
@constiDisch we recommend upgrading servers first and then upgrading clients. Usually servers have backwards compatibility built in when the requestor is a older version client. See our upgrade guide for more information https://www.nomadproject.io/docs/upgrade/index.html#upgrade-process. We don't promise backwards compatibility in the other direction.

[2018-06-01 17:47] #4364 closed

[2018-06-01 17:50] jerrypeng commented on #4218
@dadgar thanks a ton for taking the time to investigate this!

[2018-06-01 18:07] djenriquez commented on #4360
Thanks @dadgar! Yea just realized 0.8.3 doesn't run reschedules during deploys. Thanks for the info.

[2018-06-01 19:12] GavinPalmer1984 commented on #4363
@dadgar - Thank you! - that `nomad logs -stderr <alloc-id>` comment helped me a lot.  I was able to use the "exec" driver.  So maybe my version has that capability?  I tested a job with one task like this:

[code]

It appears that tasks are NOT run synchronously and I am curious how I could accomplish something like this:

[code]

[2018-06-01 19:20] GavinPalmer1984 commented on #4363
With my example above - I can imagine a few ways to accomplish the goal without requiring nomad to do synchronous behavior or use a `depends_on` kind of feature.  But I still want to know if that functionality is available and how to use  it.  Thanks!

[2018-06-01 21:06] preetapan commented on #4358
[nomad.zip](https://github.com/hashicorp/nomad/files/2064126/nomad.zip)

[2018-06-01 21:50] #4358 closed

[2018-06-02 18:34] MatthiasScholz commented on #3526
It is a valid questions. We only use ECR since we want to have a bit more control of the used images.

When I get the documentation of [AWS ECR Helper](https://github.com/awslabs/amazon-ecr-credential-helper) right: 

-> Then it would mean mixed image pulling should be supported.

Did you try to play a little bit around with the configuration? Like:
[code]
mentioned in the [Docker](https://docs.do

[2018-06-02 21:29] mikepii commented on #2734
looks like the plugin system "is planned for 0.9": https://github.com/hashicorp/nomad/issues/468#issuecomment-388132332

[2018-06-03 19:57] lzrski commented on #646
Hello. In our case all services should only bind to private network - we want to use a load balancer to publish them selectively. Is there a way to achieve that?

Our particular configuration is as follows.

We are using Nomad backed by Consul in HA on DigitalOcean machines. Here is our configuration for Nomad servers:

[code]

and Consul:

[code]

We have a test job like that:

[code]

It always

[2018-06-03 20:38] groggemans commented on #2052
Consul has the `leave` command. Would be nice to have a similar command in nomad, which would trigger a node drain, wait for it to complete, and then gracefully leave the cluster.

[2018-06-04 03:44] preetapan commented on #2052
@groggemans Nomad 0.8 added advanced node draining features. Some useful links:

[Node drain command](https://www.hashicorp.com/blog/advanced-node-draining-in-hashicorp-nomad)
[Blog post that explains node draining features](https://www.hashicorp.com/blog/advanced-node-draining-in-hashicorp-nomad)

[2018-06-04 06:56] groggemans commented on #2052
I know, and it solves/implements te draining part, but then the node should still gracefully leave the cluster. And I think the only way to do this now is by stopping/interrupting the service (with `leave_on_terminate = true` or `leave_on_interrupt = true`).

Setting `leave_on_interrupt` or `leave_on_terminate` to `true` isn't always desirable, but it should still be possible to do a graceful leav

[2018-06-04 07:20] linuxgood1230 opened #4367 "How to stop/purge one task of a job"
- I use nomad create mysql cluster
- a job with distinct_host
- one master , one rdonly, one replica, and i want to delete a replica
- count =2 decrease to count=1 ,how can i know  which task will be destroy

Can I control which task can be destroy?

[2018-06-04 07:40] mindnuts commented on #3526
@MatthiasScholz

I solved this temporarily:
[code]
It is not ideal but works for now.

[2018-06-04 07:56] jippi commented on #4367
you cannot control it, but nomad usually kill the allocation with highest alloc index

[2018-06-04 10:13] linuxgood1230 commented on #4367
If i have a task/alloc failed, I set count=2 to count=1, It will destroy failed alloc first.

[2018-06-04 10:28] linuxgood1230 commented on #4367
thanks
this maybe best. I will design by this
best way to do this is to have a group for each alloc, then you can scale up/down

[2018-06-04 12:03] skyrocknroll commented on #4306
If we are able to move not only system jobs but other jobs for bin packing so that the less utilized nodes can be shut down. It is nice to have the feature 😄 . If it is complex to implement forget it.

[2018-06-04 14:03] hvindin opened #4368 "Nomad 0.8.3+ent fails to schedule jobs with docker driver due to network endpoint not being cleaned up"
### Nomad version
Nomad v0.8.3+ent (ab6f867b048c6aa15052f788a2f02d48fbe2f9fe)

### Operating system and Environment details
[code]
[code]
### Issue
When scheduling jobs we are seeing inconsistent failures across our clusters, the only unifying event seems to be that when nomad tries to reschedule a job with a specific name we see lots of errors in the logs indicating that the docker container can'

[2018-06-04 15:08] dmartin-isp commented on #3932
I've got something similar with nomad 8.3.  We often get jobs stuck in "pending".  I'll check the Raft log indexes and I'll try SIGQUIT.

[2018-06-04 16:35] dadgar commented on #4367
@linuxgood1230 That is one option. That will work for quite a few allocs but you do not want hundreds of groups in a job! In a future release, you will be able to kill/restart individual allocations.

[2018-06-04 16:35] #4367 closed

[2018-06-04 17:29] preetapan commented on #4368
@hvindin Thanks for reporting this. Could you share the output of `docker inspect` on one of the containers that this is happening to? This looks like a cleanup issue, the inspect output should help see what the network config on that container looks like

[2018-06-04 21:15] dadgar commented on #4368
@hvindin Can you also share the output of `docker network inspect <network>`

[2018-06-04 21:23] dadgar commented on #646
@lzrski Hm the UI does look like a bug, we will look into that. Nomad currently does not manage load balancers for you. A common approach is to set up an external load balancer that points to an internal load balancer such as Fabio register services in your internal load balancer

[2018-06-04 21:27] dadgar commented on #4218
@jerrypeng Of course! Give the RC a shot and let me know if it doesn't fix the issue when you run as root on linux: https://releases.hashicorp.com/nomad/0.8.4-rc1/

[2018-06-04 21:39] dadgar commented on #1635
Hey all,

Just an update on this issue. We understand it is important and there are plans for both short and long term solution. The short is that we will have an allocation life cycle API where individual allocations can be killed and the scheduler will replace them. The longer term solution is a rebalanced system that detects these issues and rebalances the cluster over time or on-demand via an

[2018-06-04 22:06] hvindin commented on #4368
I'll have a look this morning to check if i can get an inspect of the container and network, I was going to attach them last night but cometely forgot.

For the nerwork, it's exactly as you would expect given the error messages. All the endpoints for all the jobs already exist on the network, it appears that when the docker engine was restart nomad made the decision that the node was no longer via

[2018-06-04 22:52] lzrski opened #4370 "Error reading file: Unexpected response code: 404 (No path to node) and nomad.client_rpc: node ... exists in node connection map without any connection when getting logs over SSH tunnel"
### Nomad version

`Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

### Operating system and Environment details

OS X client (Darwin AMD64) connecting via Open SSH to a Linux AMD64 server running on Ubuntu 16.04.

### Issue

When connecting to the server via SSH tunnel and getting allocation logs often (but not always) an error occurs:

[code]

### Reproduction steps

Run Nomad cluster

[2018-06-04 22:54] dadgar commented on #4370
@lzrski Can you try with 0.8.4-rc1 and report back. There have been a few fixes: https://releases.hashicorp.com/nomad/0.8.4-rc1/

[2018-06-05 02:56] nickethier commented on #3526
This has been fixed in #4266 and released in `0.8.4-rc1`. Nomad now correctly uses the AWS ECR helper as configured in your docker configuration.
Apologies for missing this issue in the list of ones this PR fixed.

[2018-06-05 02:56] #3526 closed

[2018-06-05 06:39] lzrski commented on #4370
Thank you for your prompt response @dadgar. With 0.8.4-rc1 it works as expected. Good job!

[2018-06-05 08:57] cernerpradeep opened #4371 "[question] Raw_exec driver restricting resources"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)
### Operating system and Environment details
RHEL 6.8
### Issue
In the nomad documentation it is ment

[2018-06-05 09:43] Tethik opened #4372 "Vault token renewal fails after some time"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
AWS Linux

### Issue
After running our nomad cluster for a while, the vault token that we give to the nomad server seems to have expired somehow.

The initial token given to Nomad looks like something like this:
[code]
So tokens last for a week.

My last new deployment of nomad s

[2018-06-05 11:30] prandelicious commented on #419
Any news on this?

[2018-06-05 14:29] molin0000 commented on #4362
It's the same error with the #4361 。The log is same.

[2018-06-05 14:30] molin0000 commented on #4361
Loaded configuration from server.hcl
==> Starting Nomad agent...
==> Nomad agent configuration:

                Client: true
             Log Level: DEBUG
                Region: global (DC: dc1)
                Server: true
               Version: 0.7.0

==> Nomad agent started! Log data will stream in below:

    2018/06/01 18:19:23 [INFO] raft: Initial configuration (index=1): [{Suffrage:Voter

[2018-06-05 14:31] molin0000 commented on #4362
Loaded configuration from server.hcl
==> Starting Nomad agent...
==> Nomad agent configuration:

                Client: true
             Log Level: DEBUG
                Region: global (DC: dc1)
                Server: true
               Version: 0.7.0

==> Nomad agent started! Log data will stream in below:

    2018/06/01 18:19:23 [INFO] raft: Initial configuration (index=1): [{Suffrage:Voter

[2018-06-05 14:33] molin0000 commented on #4362
But in other the same language pc, it's run good.

[2018-06-05 15:03] chelseakomlo commented on #4371
Thanks for reporting this issue. Can you include logs from the client and [job status](https://www.nomadproject.io/docs/commands/job/status.html) that seem to indicate that resources are being restricted?

[2018-06-05 15:50] chelseakomlo commented on #4372
See Vault's documentation for renewing tokens: https://www.vaultproject.io/docs/commands/token/renew.html. The Nomad process must be sent a `SIGHUP` signal to renew the Vault token, see  https://www.nomadproject.io/docs/agent/configuration/vault.html#vault-configuration-reloads for more information.

Let us know if this solves this issue.

[2018-06-05 15:55] jippi commented on #4372
@chelseakomlo so its expected of the nomad operator to SIGHUB the nomad _servers_ on a specific interval to ensure Vault keep a fresh set of vault tokens? why won't nomad maintain them automatically?

[2018-06-05 15:58] slobo commented on #2093
CPU resource limits are soft and can be exceeded - process gets throttled appropriately if there is too much contention. Memory should be handled similarly, no? I.e. we can have a limit for bin packing and another hard limit to protect form memory leaks etc.

Docker supports both `--memory` (hard) and `--memory-reservation` (soft), why not let us specify both in job spec?

[2018-06-05 16:08] Tethik commented on #4372
Thanks for the replies.

I would assume the nomad server is already renewing the tokens given the log statements before, i.e.
[code]
Only having glanced at the code [this seems to be doing a renewal](https://github.com/hashicorp/nomad/blob/f945e51bc79f98cb7b33be0c729e49f55fc51fac/nomad/vault.go#L457). The vault integration guide also says that the "Nomad servers will renew the token automatically"

[2018-06-05 16:11] Tethik commented on #4372
I think I tried manually creating a new token the same way I provision it and sending the `SIGHUP` to reload, but it did not seem to work. I'll try it next time though (which if this happens again should be next week :tada:). Hopefully it can be a workaround until this is resolved.

[2018-06-05 16:30] preetapan commented on #4372
@jippi and @Tethik  - Nomad servers will **renew** the token you provided it close to when it gets to half of the remaining TTL. However, its possible that if that token was revoked entirely in vault, or the operator wants to replace it with another one, so we pointed out the SIGHUP docs above if you want to **change or update** the token given to Nomad. Sorry for the confusion if any.

@Tethik -

[2018-06-05 16:49] shantanugadgil opened #4376 "Duplicate services after update to 0.8.4-rc1"
### Nomad version
0.8.4-rc1 (upgraded from 0.8.3)

### Operating system and Environment details
CentOS 7.5 + updates

### Issue
My test cluster consists of Consul 1.1.0 and Nomad 0.8.4-rc1 (previously 0.8.3).
I have configured Consul and Nomad as systemd services
A few **system** jobs and a lot of **service** jobs.

Just like usual, I ran my "update_all_clients" script.

My "update" script basical

[2018-06-05 16:54] dadgar commented on #4371
Hey I am going to close this until it can be demonstrated resources are being restricted. There are no provisions for this to occur.

[2018-06-05 16:54] #4371 closed

[2018-06-05 16:56] dadgar commented on #4370
@lzrski Sweet thanks for testing so promptly!

[2018-06-05 16:56] #4370 closed

[2018-06-05 16:57] dadgar commented on #1635
@jippi Aiming to have allocation life cycle APIs in the 0.9.X series.

[2018-06-05 16:58] dadgar commented on #419
As mentioned early this is either in 0.9.x or 0.10.x.

[2018-06-05 17:29] jippi commented on #1635
@dadgar nice!

[2018-06-05 18:52] dadgar commented on #4362
@molin0000 Is `发生意外。` a disk drive name or network resource? Do you know what that value is referring to?

[2018-06-05 18:57] schmichael commented on #4237
Can you paste the output of `docker inspect ...` on the container that's created? That will include the environment passed to Docker by Nomad and should help debug this even if the container has exited.

[2018-06-05 19:51] chelseakomlo commented on #4372
Apologies for the confusion- as Preetha mentioned above, Nomad servers will maintain tokens on the fly, but if a token has been revoked in Vault, tokens can be updated for the Nomad agent via `SIGHUP`.

More information would be helpful for us to diagnose this issue. Can you provide the following:
- Full Nomad logs (above it looks like only a subset of logs are provided)
- Output from Vault for th

[2018-06-05 20:21] preetapan commented on #4358
@nathanwebsterdotme this should be fixed in the 0.8.4 release candidate. Thanks for reporting this.

[2018-06-05 20:56] preetapan commented on #4376
@shantanugadgil Had some questions to help us debug this more:

- Are those services that got deduplicated from tasks you run in Nomad, or are you also seeing duplicate services named `nomad` and `nomad-client` in Consul ?
- Can you share your Nomad server and client configs?
- Do you point more than one nomad client at the same consul agent? The syncing behavior introduced in 0.8 will cause issue

[2018-06-06 00:53] shilov commented on #3932
Bump into this as well. Restarting the agent seems to help.

[2018-06-06 00:59] #4376 closed

[2018-06-06 01:03] dadgar commented on #4376
@shantanugadgil Here is a Linux AMD64 binary to test! [nomad.zip](https://github.com/hashicorp/nomad/files/2074439/nomad.zip)

[2018-06-06 06:04] cernerpradeep commented on #4371
@chelseakomlo
[root@monetfbkf02 ~/nomad]# ./nomad alloc-status 46a82636
ID                  = 46a82636
Eval ID             = d037a8ad
Name                = RawExecDistMEF.Syslogd[0]
Node ID             = dabf6fcd
Job ID              = RawExecDistMEF
Job Version         = 2
Client Status       = running
Client Description  = <none>
Desired Status      = run
Desired Description = <none>
Created

[2018-06-06 06:20] shantanugadgil commented on #4376
hi @preetapan @dadgar
I have rolled out the new binary on my cluster and services are stable for a few hours.
_No more ghost services!_ 👻

Unfortunately I had started the cleanup (rm data_dir) before I saw the comments.

All my Nomad agent configs have always pointed to consul on `127.0.0.1:8500`, This cluster (albeit growing over time) has been in use since  0.6.x. with the same config.

Would th

[2018-06-06 09:30] Tethik commented on #4372
Here are some more verbose logs w/ `grep vault --after 10 --before 10` from one of the failing servers.
https://gist.github.com/Tethik/13eb0c3cba2e53f642b8d70651aeabaa

The first failure shows at `2018/06/04 13:55:30.666020` when nomad tries to revoke an old token. I'm thinking that like you said @preetapan it could also be an issue in vault where the token might have been revoked. I'm pretty cert

[2018-06-06 11:35] c4milo commented on #3643
@dadgar, FWIW. I just noticed nomad 0.8.3 does not update its vault token upon sending it a SIGHUP signal when reloading from systemd. I had to restart the service in order to get it to pick up a newly set vault token.

[2018-06-06 12:29] preetapan commented on #4376
@shantanugadgil Thanks for testing this binary.

We don't need your configs anymore, that PR fixed the issue.

As of now we don't plan on an RC2, we will be releasing 0.8.4 within the next few days

[2018-06-06 15:04] chelseakomlo commented on #4372
Thanks for including this information. Can you also include the Nomad agent's Vault policy? https://www.nomadproject.io/docs/vault-integration/index.html#required-vault-policies

[2018-06-06 15:28] Tethik commented on #4372
Here's the `nomad-server` policy.
[code]

I noticed this difference from the documentation, not sure why I did this. Although this change to v0.8.1? might be related. https://github.com/hashicorp/nomad/pull/3992
[code]

The `auth/token/roles/nomad-cluster` looks as follows.
[code]

[2018-06-06 15:33] Tethik commented on #3643
@c4milo I would assume it's not intended since I was just recommended to use that in https://github.com/hashicorp/nomad/issues/4372

[2018-06-06 15:52] c4milo commented on #4372
@chelseakomlo @preetapan FWIW, I just noticed nomad 0.8.3 does not update its vault token from HCL configurations upon sending it a SIGHUP signal when reloading from systemd. I had to restart the service in order to get it to pick up a newly set vault token. I can create a new issue if you think that behavior is not expected and is different to what it is being reported here.

[2018-06-06 16:03] chelseakomlo commented on #4372
@c4milo thanks for notifying us about this issue- if you could open a new ticket with a description of steps to reproduce and the Nomad agent configuration/relevant logs, that would be helpful.

[2018-06-06 16:27] jrasell opened #4381 "Feature - add the local clients advertise address to interpolation env vars"
In some situations, Nomad tasks need to communicate to the Nomad API. Currently there is no interpolation environment variable which allows the local Nomad clients advertise address to be passed to the task for use making calls. It would be super helpful if `NOMAD_ADVERTISE_ADDR` or similar could be added for this task.

[2018-06-06 16:41] preetapan commented on #4299
@Lamboona sorry for the late response. You might get a 500 response if there was an unspecified server side error, but in that case the job would not have been dispatched at all. You can also get permission errors but those are safe to retry. Will have to investigate this some more to see if there's some other edge case we missed.

Do you log anything on your end before you call the nomad dispatch

[2018-06-06 20:20] chelseakomlo commented on #4372
@Tethik I tried reproducing this issue with a token with a period set to 1 minute, but was unable to do so. There isn't a code path for Nomad agents to revoke their own tokens, so this token must be revoked out of band.

If you turn on [Vault audit logs](https://www.vaultproject.io/docs/audit/index.html), this should give a better idea of the token's lifecycle. I'm going to close this issue for no

[2018-06-06 20:20] #4372 closed

[2018-06-06 20:42] Tethik commented on #4372
Thanks @chelseakomlo for taking the time and debugging. I appreciate it. I'll try out the suggestion for using audit logs.

[2018-06-06 21:33] c4milo commented on #4372
@chelseakomlo, my specific issue may be difficult to happen in a real environment since Nomad servers are going to renew the token just fine if needed.

The way how I'm able to reproduce my particular issue is with my local Vagrant environment by closing my laptop and X time later opening it up 😬.  I would see Nomad complaining about being unable to access Vault to renew the token. Then, I run an

[2018-06-06 21:55] preetapan commented on #4368
@hvindin I was unable to reproduce this on the same Docker version 17.06.02 (CE not EE) using the same docker config you had. When I stopped and then eventually restarted docker, the logs on Nomad look like below:

[code]
The Nomad client first tries to create the container, and if it already exists (like it should when docker is run with live restore turned on), then Nomad will re-attach to the r

[2018-06-06 22:18] chelseakomlo commented on #4372
@c4milo FYI, we've reproduced the issue with not being able to reload Nomad's Vault configuration via `SIGHUP`, a fix for this will be included in the next Nomad release (0.8.4).

[2018-06-06 22:20] dadgar commented on #3643
@c4milo Unfortunately a regression we will fix in 0.8.4: https://github.com/hashicorp/nomad/pull/4386

[2018-06-06 22:22] dadgar commented on #4371
100MHz is the reserved amount but since you are using raw exec it can exceed that value since nothing is limiting it to 100.

[2018-06-06 22:47] hvindin commented on #4368
That was actually my line of thinking at the moment as well. We only have live restore enabled form back in the days before we where using nomad. Given that stopping the docker agent on a host (seemingly) causes nomad to stop the allocation on the job, it seems kind of useless to have it set and it does seem to be causing weird outcomes.

[2018-06-06 22:55] dadgar commented on #4368
@hvindin I would +1 on disabling live restore. As for this issue, we have spent quite a bit of time trying to reproduce and have not been able to. For us to add any more advance cleanup logic would require at least being able to reproduce and then determine the best fix. If you can come up with a set of reproduction steps that would be greatly appreciated. Otherwise from our end we don't have many

[2018-06-07 03:48] shantanugadgil commented on #4371
Hi @dadgar,
Would it be possible to add the information to the output of 'alloc status', about the limits being hard or soft.

It becomes mental overhead for the operator/user to cross check with the job file.

For my use case I have "multiple docker containers on a single machine".

Regards,
Shantanu

[2018-06-07 05:36] cernerpradeep commented on #4371
@dadgar Yes you are correct.But when it reached the limit and resources didn't exceed.

[2018-06-07 06:20] harkamals opened #4389 "nomad client fails to submit job on a windows 10"
### Nomad version
Nomad v0.8.3

### Operating system and Environment details
Windows 10

### Issue
nomad client fails to submit job
Error getting job struct: Error getting jobfile from "example.nomad": symlink C:\ws\example.nomad C:\temp\jobfile697008935: A required privilege is not held by the client.

### Reproduction steps
nomad job run example.nomad

### Job file (if appropriate)
example.nomad

[2018-06-07 10:04] sirkjohannsen opened #4391 "[feature] "parameterized" driver"
Hi nomad devs :)

We have the use-case (and I think others might as well) to trigger a parameterized job periodically with a different payload.
The benefits:
* the parameterized job has all the config defined in its job definition
* the periodic job can stay slim and just passes a different payload to the existing parameterized job

We currently solve it by doing a curl in a periodic job to the lo

[2018-06-07 11:53] cernerpradeep commented on #4371
@dadgar @chelseakomlo
Thanks so much for your time. Actually I was misled by the limit that was displayed. I increased load rapidly and it was able to use more resources that reserved.

[2018-06-07 13:10] angrycub commented on #4389
This appears to be a duplicate of #3491.  I'm going to go ahead and close it in favor of the older issue.

[2018-06-07 13:10] #4389 closed

[2018-06-07 13:54] harkamals commented on #3491
Think of a global financial institution, which hardens windows os to the extent possible and getting to have exceptions to group policy is near impossible.

But, hey, why would a file copy need to create a symbolic link, this itself asks for a review.

[2018-06-07 17:23] dadgar commented on #4391
Hey @sirkjohannsen,

It is an interesting idea but not something we would create. For now you can use the API as you are doing. In Nomad 0.9 we will be working on custom drivers, and you could implement this yourself if you'd like.

[2018-06-07 17:23] #4391 closed

[2018-06-07 23:29] dadgar commented on #3720
Unfortunately the original PR didn't fix this. The correct fix which we will get in for 0.9.0, is to attached the parameterized configuration to the dispatched job but to add a boolean field that specifies that it is the dispatched instance. Then we can use that new field to determine if the alloc is an instance of a dispatched job and keep all the changes from the original PR.

[2018-06-08 09:14] far-blue commented on #4358
Just FYI, I ran into the same problem yesterday when upgrading our cluster. We run both server and client on the same nodes and reverting to 0.8.1 did the trick. Thanks for @nathanwebsterdotme for providing all the info needed to debug and @preetapan for the patch and the info on when the fix will be available :)

[2018-06-08 10:35] lzrski commented on #4163
I had similar problem and by trial and error got it working with following settings:

[code]

So apparently the interpolation with `${NOMAD_SECRET_DIR}` is needed *inside* the task container (in args passed to the app), but template can just have literal path to `secrets/`.

⚠️ This seems to be security sensitive and I'm just beginning to learn Nomad and Vault. Please **apply my example with cauti

[2018-06-08 12:13] jrasell commented on #3644
@preetapan @schmichael @dadgar this is something I really want to see and am happy to have a crack at it unless its already being worked on internally? If you're not, any thoughts, ideas or tips would be greatly appreciated.

[2018-06-08 12:46] lzrski opened #4397 "Tasks not getting restarted when secret used in template is updated"
### Nomad version

`Nomad v0.8.4-rc1 (26e6ffd1c42fcf300b213d80257765d4ae94e24d)`

### Operating system and Environment details

Ubuntu 16.04

Vault version:

[code]

Everything backed by Consul. Version:

[code]

### Issue

The task using template stanza with `change_mode = "restart"` is not getting restarted when value of a secret changes.

### Reproduction steps

When I run the job below initial

[2018-06-08 16:51] chelseakomlo commented on #4397
This looks similar #4226- we will work on reproducing on our end.

[2018-06-08 22:34] lzrski commented on #2818
I'm also unable to get artifact from private Git repository, even when putting base64 encoded, unencrypted private key. I'm getting errors like this:

[code]

I believe it's related to https://github.com/hashicorp/go-getter/issues/55 i.e. github.com is not a known host, so ssh client refuses to open connection. How can I work around it?

[2018-06-09 07:21] shantanugadgil opened #4401 "[feature request] Implement TableSorter like functionality for Nomad GUI"
### Nomad version
Nomad v0.8.4-rc1 (c17e0fc9dc5fd288935ab2b68fb441b4d25ac189+CHANGES)

### Operating system and Environment details
CentOS 7.5+

### Issue
How about if the Nomad GUI was able to behave like "TableSorter" with filters for the clients' page.
I personally feel the need for a pinned filter (on top) of the client list when I want to search for connected/disconnected clients.

Example: h

[2018-06-10 10:15] lzrski commented on #2818
The workaround is to call

[code]

on every node running a Consul client. Not very pretty.

Also, putting literal key in a job file is not very pretty. Is there any way to avoid it? It seems that interpolations just don't work for `sshkey` in artifact:

[code]

Below is a feature request. It would be perfect if `sshkey` (or some new option, say `sshkey_file`) could take a path to a file containing

[2018-06-11 09:36] momania opened #4402 "[feature] Automate run after plan (with check-index)"
As life is all about doing as less repetitive work as possible, automation is key.
If Nomad job descriptor files are to be templated, the first thought is using `consul-template`. But then: why not automate the execution of `run` and `plan` too?

The beauty of the Nomad 2 stage `plan` -> `run` idea, is that the `check-index` returned by `plan`, should give enough confidence to automatically go on

[2018-06-11 09:55] hamann commented on #2504
I can confirm that /dev  is re-mounted as readonly once an exec job starts. Tested with nomad 0.7.1 and 0.8.3

[code]

After that we're not able to mount disks attached at runtime and have to manually remount /dev as rw.

[2018-06-11 16:55] dadgar commented on #4401
@shantanugadgil What are the filters you'd like

[2018-06-11 16:56] dadgar commented on #4397
@lzrski Hey I am going to close this. Unlike Consul, Vault doesn't have a mechanism for blocking queries to get notified when a value changes. The tunable for staleness with vault is the secret TTL.

[2018-06-11 16:56] #4397 closed

[2018-06-11 16:58] shantanugadgil commented on #4401
@dadgar anything that is currently part of `nomad node status -verbose` would be good to have.

[2018-06-11 20:17] #3720 closed

[2018-06-12 12:19] lzrski commented on #4397
Thanks for clarification @dadgar

Frankly I wouldn't consider this issue to be resolved. At least Nomad and Consul Template docs should state the way TTL works clearly. The Nomad docs imply that changing secrets will restart the task: https://www.nomadproject.io/docs/job-specification/template.html (there is no clear distinction between Consul's `key` and  Vault's `secret` statements). I would say

[2018-06-12 15:03] SoMuchToGrok commented on #3247
There may have been a regression with this logic sometime after v0.7.1, specifically around reloading the RPC TLS config. After upgrading from v0.7.1 to v0.8.3, it appears that all RPC communication fails after sending a SIGUP to a process when the contents of the TLS certificates have changed (just the data itself, not the location of the certs on the filesystem). I'll open up a new ticket if I c

[2018-06-12 18:54] schmichael opened #4408 "Certificate not reloaded on SIGHUP for dev agents"
### Nomad version

`Nomad v0.9.0-dev`

350c8366b0ab811d8196ddf326fc08c3b9d39177

**for dev agents only**

Regular clients and servers handle SIGHUP correctly.

### Issue

### Reproduction steps

Run `nomad agent -dev -config tlsagent.hcl` in the root of the nomad repo with the following `tlsagent.hcl` file:

[code]

Verify the certificates reported by the agent are the same as those on disk:

[cod

[2018-06-12 18:58] schmichael commented on #3247
@SoMuchToGrok I tested certificate reloading in 0.8.4 and ran into issues that I mentioned in #4408. I didn't see RPC issues, but I was only running a single dev agent. Feel free to add comments to that issue or open up a new one. Sorry for the trouble!

[2018-06-12 20:52] schmichael commented on #3247
@SoMuchToGrok The team looked into this, and I wanted to mention two things we found:

1. The EOFs are to be expected: existing connections using the old certificates are closed. Everything should reconnect and use the new certificates and not cause any further errors.
1. #4408 only affects dev agents. SIGHUP works properly for regular clients and servers.

[2018-06-13 08:43] tbartelmess opened #4411 "Ability to create a shorter token name"
Amazon IAM usernames are limited in length, vault tokens are usually quite long. AWS IAM only allows 64 characters.

We are seeing a lot of warnings form Vault, with messages "the calling token display name/IAM policy name were truncated to fit into IAM username length limits", which is coming from here: https://github.com/hashicorp/vault/blob/3ba9486ba933283cba18a7d7f298947e892eaba9/builtin/logic

[2018-06-13 08:55] jippi commented on #4411
wondering what it has to do with nomad? :)

[2018-06-13 11:42] SoMuchToGrok commented on #3247
@schmichael appreciate you and the team taking time to look into it.

I tried to reproduce [#4408](https://github.com/hashicorp/nomad/issues/4408) and I can confirm that I'm not experiencing that.

I'm still trying to make sense of what issue I'm seeing. From what I've seen so far, the EOF errors never stop and continue endlessly. Additionally, once the EOF errors do start, all Vault interactions

[2018-06-13 16:04] SoMuchToGrok opened #4413 "Nomad client RPC communication errors after TLS rotation + SIGHUP"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
Ubuntu 16.04
Consul v1.0.6
Vault v0.10.2

### Issue

Since upgrading from v0.7.1 to v0.8.3, nomad client -> server RPC communication seems to error out continuously when I rotate my TLS certifications and send a SIGHUP to the nomad client PID. Additionally, all vault-integrated j

[2018-06-13 16:41] momania commented on #3526
@nickethier Is there also a summary on how to configure it properly now? I've updated to 0.8.4 and still can't figure it out.
Got my /root/.docker/config.json as:
[code]

[2018-06-13 16:43] orthecreedence commented on #2016
I believe this is happening to me as well. This was after a cluster-wde upgrade. Here was my process:

- Had 4 nomad servers (1 vote-only), 8 nomad clients, all running (0.7.1)
- Upgraded each server, one-by-one (leader server last) to 0.8.3
- Installed the new 0.8.3 binary on all clients at the same time
- *Accidentally* restarted nomad agent on all clients at the same time
- Many of our jobs sto

[2018-06-13 17:00] dadgar commented on #4411
I am going to close this. Feel free to clarify your request more.

The ACL token is composed of three parts:
1. Token Accessor ID: This is a standard UUID and we will not shorten this.
2. Token Secret ID: This is a standard UUID and we will not shorten this.
3. Token Name: This is user definable and has a max length of 256. So it can be set as desired.

[2018-06-13 17:00] #4411 closed

[2018-06-13 17:05] dadgar commented on #4413
@SoMuchToGrok Can you provide sample certificates that demonstrate this behavior? Also are you seeing the EOF forever after sending the signal or just immediately after. We do close connections after reloading the certificates so this would be expected behavior. Sustained errors would be bad though.

[2018-06-13 17:57] schmichael commented on #2016
Replies to @orthecreedence:

Hm, I'm confused by this: Nomad does not have vote only servers. Nomad 0.8 Enterprise supports non-voting servers: https://www.nomadproject.io/docs/agent/configuration/server.html#non_voting_server

Nomad always suggests an odd number of voting servers to ensure one side of partitions is able to form a quorum.

Restarting all clients should *not* have broken anything.

[2018-06-13 18:15] shantanugadgil commented on #2016
jfyi ...

https://github.com/hashicorp/nomad/issues/4401#issuecomment-396556309

Updating running Nomad agents causes issues for me too. More pronounced when I update amd reboot than when I only update.

[2018-06-13 18:31] orthecreedence commented on #2016
Whoops, my bad. I thought I had configured non-voting, maybe I am losing my mind. Also, good tip on the odd servers. I'll make sure to change to 3 servers.

Probably not. I wasn't running the logs in debug mode and was pretty frantic trying to get everything running once the cluster emptied out. This isn't really my issue though, since everything is running fine now.

That's fine, but the log line

[2018-06-13 18:41] orthecreedence commented on #2016
In my nomad servers, I'm seeing this (minutely):

[code]

I wonder if this has something to do with the minutely `dropping update to alloc` messages?

[2018-06-13 18:56] SoMuchToGrok commented on #4413
I'm seeing the EOF forever (well...at least 24+ hours and counting; going to assume it will keep going on). I'm additionally seeing secrets expire on the Vault side, but nomad is continuing to use them (presumably it'll try to keep using the secret even after it fails to communicate with Vault).

I'll work on generating some sample certificate (including the full chain) and will update when I have

[2018-06-13 21:29] MatthiasScholz commented on #3526
Do not put the setup in the /root/ directory - only the root user has access to it then.
Nomad is not running as root.

Please check my comment above for the correct folders to use for the configuration.

[2018-06-13 21:42] schmichael commented on #2016
@orthecreedence Likely although completely unrelated to the original issue. The original issue should have been fixed a long time ago, and we forgot to close this issue!

I'm going to close this issue. Please open a new one and follow the template providing as much logging as you can (you can attach zips and such to Github issues).

A sample job status, alloc status, job file for one of the allocs

[2018-06-13 21:42] #2016 closed

[2018-06-14 08:46] momania commented on #3526
Ok got it in the end.
So I moved the docker config into `/etc/docker/` and then added
`"docker.auth.config"  = "/etc/docker/config.json"` to my nomad config.

`"docker.auth.helper" = "ecr-login"` is not needed as that would probably make all docker pulls use ecr-login.

The missing link in the end was that the init system doesn't use the aws credentials file so you need to add the credential envir

[2018-06-14 17:56] codyja commented on #3962
I would love to see this as well. We have a need to audit what has happened, especially for tracking down issues, who's done deployments, node drains, etc.

[2018-06-15 00:12] tantra35 opened #4419 "[feature request] Ability to stop particular allocation by id in task group"
It will be cool. But here may be some problems in this approach:

1). consistency `NOMAD_ALLOC_ID`  env variables
2). count in task group also must be decreased, and generally speaking when taskgroup have only 1 allocation, this means factually stop

[2018-06-15 14:32] dropje86 opened #4420 "[question] ephemeral_disk sticky changed?"
### Question
Not sure in which release this changed as I migrated all the way from 0.5.4 to 0.8.4 but we also see this on another cluster running version 0.7.1.
With version 0.5.4 of Nomad you could stop a job with an ephemeral disk configured and upon re-start the scheduler placed the new allocation on the same node reattaching the data directories. Now this only seems to work when you drain a no

[2018-06-15 15:31] dropje86 commented on #4420
One use case where this is really necessary is when a scheduled maintenance occurs dropping all workers from the cluster due to missed heartbeats. If that happens you lose all data in the current situation.

With the old situation there was the option to shut everything down before maintenance and start back up after retaining the data.

[2018-06-15 16:41] dekimsey opened #4421 "plan's diff output does not sort arrays numerically"
### Nomad version

[code]

### Operating system and Environment details

OS X, though likely n/a

### Issue

The plan diff output lists the `args[]` changes, but is not sorted numerically. As a user, I'd expect an array to be sorted numerically by index.

[code]

### Reproduction steps

Change Task arguments in a arg list that exceeds 10 arguments.

[2018-06-15 17:37] Miserlou opened #4422 "Improve Telemetry for Dispatch Jobs"
### Issue

We use Nomad to dispatch many hundreds of thousands of dispatch jobs.

Currently, the telemetry about these dispatched jobs is extremely poor. There are no summary statistics. The only slightly useful endpoint is `stats.gauges.nomad.nomad.blocked_evals.total_blocked.mbp`, but this isn't particularly useful in a complex system because it isn't broken down by type.

There is a `stats.gaug

[2018-06-15 17:44] Miserlou commented on #4422
Related-ish: https://github.com/hashicorp/nomad/issues/4280

[2018-06-15 19:02] #4368 closed

[2018-06-15 19:02] preetapan commented on #4368
@hvindin please reopen if you experience this after disabling live restore

[2018-06-15 19:04] schmichael commented on #4420
Just FYI: Generally we recommend skipping at most a single point release at a time (eg 0.5.4 => 0.7.1).

The behavior has changed, and I'm sorry it wasn't made clear! Once a job is stopped, we do not consider newly run jobs with the same name as being updates to the old job. This could lead to scenarios where a "db" job is stopped, and a new unrelated "db" is started and given all of the stopped j

[2018-06-15 19:04] #4420 closed

[2018-06-15 20:21] dropje86 commented on #4420
Hey Michael, thanks so much for your detailed answer! I’ll have a look next week to see if I can prevent nodes getting in to the lost state during shutdown and might bump the heartbeat_grace quite a bit. I rather have delay in node failure detection than unnecessary data shifts.

I’ll post my results here.

[2018-06-15 21:49] schmichael commented on #4421
Confirmed and can be reproduced by running `nomad plan -verbose foo.nomad` on any job file with 10 or more args:

[code]

Output snippet:

[code]

[2018-06-15 23:17] dekimsey commented on #4421
Thank you for providing a test case @schmichael. I was feeling pretty lazy at the time and didn't want to figure out how to make a minimal job spec. :frowning:

[2018-06-16 07:59] molin0000 commented on #4362
It means there is an error.

[2018-06-16 08:03] molin0000 opened #4423 "[question] How to set a timeout value for a batch job?"
How to set a timeout value for a batch job?

I want to limit the job max run time , how can I set the batch job's timeout value?

[2018-06-16 08:59] shantanugadgil commented on #4423
For now, there is no way to do that directly in Nomad.

What the folks usually recommend is using timeout and minor scripting to achieve the same.

HTH,
Shantanu

[2018-06-16 11:43] molin0000 commented on #4423
@shantanugadgil How to use a timeout minor scripting?   For example? Thank you!

[2018-06-18 20:44] henrikjohansen opened #4424 "Constraints work differently for groups and tasks ?"
The job file below fails to place allocations  ...

[code]

However this *does* work as expected :
[code]

### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Linux foo-foobar  4.4.0-128-generic #154-Ubuntu SMP Fri May 25 14:15:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-06-18 20:49] angrycub commented on #4424
From the [Nomad docs](https://www.nomadproject.io/docs/job-specification/group.html):

There would be no way to satisfy the first set of constraints since by definition all tasks in a group are scheduled on the same host.  I'm going to go ahead and close this issue since Nomad is working as inspected.

[2018-06-18 20:49] #4424 closed

[2018-06-18 22:33] schmichael commented on #4421
No worries @dekimsey -- your report was great! As a tip though `nomad init -short` is a great way to get a smaller sample job file without the tons of comments of the standard `nomad init` output. #4239

[2018-06-19 03:45] shantanugadgil commented on #4424
Hi @angrycub, would it be possible to flag this error during plan so it is obvious to user what the error is?

@henrikjohansen what is the plan output for the first job?

[2018-06-19 13:33] angrycub commented on #4424
I made a [cut-down version of the job described above](https://gist.github.com/angrycub/fe05a8142ffa5773156cb9570552366d).

The plan output would look similar to the following:

[code]

The output indicates that the first instance of the hostname constraint filters out all of the nodes but the one node (it's a three client-node cluster) matching the given hostname.  The second constraint then filt

[2018-06-19 15:51] preetapan commented on #4423
@molin0000 We currently don't have support for killing batch jobs based on a timeout, like @shantanugadgil mentions.

To do this yourself you have two options:

- Have the batch job stop and exit itself based on a timer
- Monitor the batch job using nomad's [allocation api](https://www.nomadproject.io/api/jobs.html#list-job-allocations) and if it has been running longer than your timeout period, s

[2018-06-19 15:51] #4423 closed

[2018-06-19 18:38] cheeseprocedure commented on #4413
Just chiming in: I believe we've encountered this same issue on a Nomad 0.8.4 cluster. After updating certificates (issued via Let's Encrypt) and issuing a SIGHUP to reload, clients began reporting ``rpc error: EOF`` errors. We were able to hit the HTTP API of two out of 3 Nomad servers OK during this time, but the third returned the same "rpc error: EOF``. This was happening for at least fifteen

[2018-06-19 19:15] dadgar commented on #4423
Closed in favor of https://github.com/hashicorp/nomad/issues/1782

[2018-06-19 23:33] cheeseprocedure commented on #4413
As a reproduction test case, I created and distributed self-signed certificates for every node (3x servers, 2x clients in our case) and issued a SIGHUP against all Nomad services.

After repeatedly swapping between Let's Encrypt and self-signed key material then triggering a reload, I've been unable to reproduce the scenario above. I'll keep trying.

[2018-06-20 06:15] onlyjob opened #4426 "sloppy vendoring of "github.com/ugorji/go""
[github.com/ugorji/go](https://github.com/ugorji/go/releases) is a [semantically versioned](https://semver.org/) library.

It must be vendored by release tag instead of [random commit](https://github.com/hashicorp/nomad/blob/master/vendor/vendor.json#L296).

Please update vendored `github.com/ugorji/go` to its latest _tagged_ release.

Thanks.

[2018-06-20 07:23] onlyjob opened #4427 "please update Docker client to current "stable" release"
Current "stable" release of Docker-CE is 18.03.1: https://docs.docker.com/release-notes/docker-ce/

Please update Docker client to current "stable".

Thanks.

[2018-06-20 08:14] onlyjob opened #4428 "Update "github.com/fsouza/go-dockerclient""
[github.com/fsouza/go-dockerclient](https://github.com/fsouza/go-dockerclient/releases) is a [semantically versioned](https://semver.org/) library that should be vendored by release tag instead of a [random commit](https://github.com/hashicorp/nomad/blob/master/vendor/vendor.json#L106).

Please update vendored `github.com/fsouza/go-dockerclient` by tag.

Thanks.

[2018-06-20 09:01] TheSpbra1n opened #4429 "Prometheus can't scrape metrics from nomad leader when raft peers have ipv6 address"
### Nomad version
Nomad v0.8.3

### Issue
Prometheus returns error: "invalid metric name" when scrape metrics from nomad leader and raft peers have ipv6 address

Example metrics name:
"nomad_raft_replication_appendEntries_logs_[xxxx:xxx:xxxx:xx:xxxx:xxxx:xxxx:xxxx]:4647"

[2018-06-20 09:21] yuremboo opened #4430 "Stale mode is not working with Remove Raft Peer"
We are using Operator API to automate outage recovering. Currently we faced with the problem of removal dead node in case no cluster leader. By the documentation we used [stale parameter](https://www.nomadproject.io/api/operator.html#stale):
`curl -X DELETE 'http://127.0.0.1:4646/v1/operator/raft/peer?address=192.168.33.4&stale'`
The output is code 400 "No cluster leader". With others endpoints in

[2018-06-20 09:31] jippi commented on #4430
tried `stale=1` ?

[2018-06-20 09:41] yuremboo commented on #4430
Tried, result is the same for both

[2018-06-20 10:57] momania commented on #2560
I'm getting this too on v0.8.4
Allocation ids that it tries to recover don't match with the ids found in `/var/lib/nomad/alloc`

[2018-06-20 14:57] preetapan commented on #4430
@yuremboo this is expected behavior. Making changes to the raft configuration requires a leader and quorum. The documentation is incorrect and we will update it today.

doing a `GET` to read the configuration should work when stale=true

[2018-06-20 14:57] #4430 closed

[2018-06-20 15:08] camerondavison commented on #3932
@dadgar I am running `0.8.3` and have an allocation that is stuck in pending, but the node that it is allocated to is `down` so I cannot run `SIGQUIT` any idea what else could get it unstuck?

[code]

[code]

[2018-06-20 15:31] preetapan commented on #3932
Hi @camerondavison!

What does `nomad node status 9b9f60bb` for that node that's down return for you?

Strange that the client status didn't get updated to `lost` when your node went down.

Could you try running `nomad job eval <jobid>`. That should force a scheduler evaluation and if the node is marked as down that'll transition any pending allocs to lost.

[2018-06-20 15:59] preetapan commented on #4426
@onlyjob agree with your concern. However, note that we have been using this library long before they added semantic versioning, looking at https://github.com/ugorji/go/releases/tag/v.1.1-beta the first versioned release they had was in December 2017, and we haven't updated this library since July 2017.

Now that they do have versioning, we will consider updating to 1.1.1 after regression testing

[2018-06-20 16:07] camerondavison commented on #3932
what I posted above was the node status sorry if that was not clear.

[code]

And the eval
[code]

[2018-06-20 16:16] onlyjob commented on #4426
Thank you. It is perfectly understandable how it was historically vendored by snapshot...

[2018-06-20 17:33] shantanugadgil commented on #2560
I too face this issue often, if I abruptly reboot my client nodes.
I have updated my scripts to stop the docker daemon altogether (my use case is dockers), stop Consul and Nomad, sync a few times (for good luck), and then reboot.

Since this modification, I haven't hit the issue.

[2018-06-20 19:31] camerondavison commented on #3932
oh sorry @preetapan I did not realize that you wanted me to force a new eval of the job. I thought that you just wanted the eval status. Looks like after 24 hours maybe a garbage collector or something ran and it got re-evaled by itself.
[code]

The failure was expected, but not the `lost`

[2018-06-20 20:11] royalj opened #4435 "'Update' stanza is not using user specified settings, uses defaults instead"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
CentOS Linux release 7.4.1708 (Core)

### Issue
We submit jobs to Nomad by POST'ing a JSON jobspec to the `/v1/jobs` API endpoint. I am attempting to update settings in the 'update' stanza under 'TaskGroups' (e.g. enable auto_revert, increase healthy_deadline timeout to 10m)  in

[2018-06-20 20:24] djenriquez opened #4436 "Change health status for allocation when stopping"
When deployments are running and allocations are stopping, there currently no easy way, using Consul, to drain connections to those allocations since they report `Healthy` like all other allocations. Having a way to identify through Consul that an allocation is stopping is ideal. I believe making it as "WARN" would be great.

Open for other ideas as well.

[2018-06-20 20:58] #4381 closed

[2018-06-20 21:17] preetapan opened #4437 "Allocation left in pending state after node lost"
See comment trail starting with https://github.com/hashicorp/nomad/issues/3932#issuecomment-398786137

[2018-06-20 21:28] dekimsey opened #4438 "[request] sighup refreshing node capabilities/capacity"
### Nomad version
[code]

### Operating system and Environment details

CentOS 7.5.1804

### Issue

I recently added memory and cpu to a virtual machine running the nomad client. I had to restart the agent before nomad would see the new capacity (memory, cpu, disk). That's fine, but it'd be cool if the nomad daemon would refresh node capacity on a SIGHUP (or on the fly, that's cool too).

This may

[2018-06-21 02:07] dekimsey commented on #4438
VSphere* the virtual machine sees the changes nearly immediately.

[*] Sigh... not a fan.

[2018-06-21 02:18] preetapan commented on #3932
@camerondavison I opened another issue for this #4437. The other issues on this ticket indicate something on the client kept jobs at pending, but the situation you described today is different. Didn't want to keep piling onto this ticket. Lets continue the discussion on that ticket.

If you still have that alloc and job, can you also add the full json response from our API for the alloc, the job,

[2018-06-21 03:18] shantanugadgil commented on #4438
Thanks!!!

Off-topic ... But PVE does seem to suport this:
https://pve.proxmox.com/wiki/Hotplug_(qemu_disk,nic,cpu,memory)

#today_i_learnt_something :D

[2018-06-21 06:53] linuxgood1230 commented on #3690
It would be nice to choose a spread algorithm vs a pack.

[2018-06-21 07:04] jippi commented on #4437
is this a bug in 0.8.4 too? and if so, will it be fixed in 0.8.x hot-fix release?

[2018-06-21 09:21] capone212 opened #4439 "Windows: timeout during CPU fingerprinting"
### Nomad version
v0.8.3

### Operating system and Environment details
Windows

### Nomad Client logs (if appropriate)
[code]

### Issue
Nomad client crashes at start after CPU fingerprinting failes. I have enhanced  logging and able to obtain proper error message:
[code]

We see this problem on small set of windows boxes. On those boxes request to WMI take a lot of time (17 seconds). It clearly d

[2018-06-21 12:46] angrycub commented on #4439
I experienced the same situation in 0.8.3 and resolved it with 0.8.4 because of https://github.com/hashicorp/nomad/pull/4265 for the log line and https://github.com/hashicorp/nomad/pull/4268 to extend the timeout for queries to 10 seconds.

It is interesting that you are seeing 17 second WMI queries, this will cause the newly extended timeout to still fail for you.  However, you could use the same

[2018-06-21 13:21] preetapan commented on #4437
@jippi still trying to reproduce this, so not confirmed that its a bug yet.

[2018-06-21 13:22] capone212 commented on #4439
Nice! Thanks for info.
I glanced changes and noticed this
cpuInfoTimeout = 10 * time.Second

10 seconds is too short for our case, clearly.

[2018-06-21 14:40] sichkarmg commented on #4439
this is time in seconds of execution cpuInfo.exe.
we make a test at 4 servers

`server1 | 16,4854817 | server2 | 16,6513576 | server3 | 16,6954994 | server4 | 16,7710169
server1 | 16,5614402 | server2 | 16,6765325 | server3 | 16,8458999 | server4 | 19,7886261
server1 | 16,552988 | server2 | 19,8700942 | server3 | 16,9373356 | server4 | 16,5826111
server1 | 16,4926388 | server2 | 16,8146097 | serve

[2018-06-21 14:45] capone212 commented on #4439
cpuinfo is simple test tool:

[code]

[2018-06-21 14:48] sichkarmg commented on #4439
Hello,

Below are testing results on real windows 2012 R2 servers in production environment. Numbers are seconds of execution. Tests were repeated 20 times for each of four servers.
`
server1 | 16,49
server1 | 16,56
server1 | 16,55
server1 | 16,49
server1 | 16,60
server1 | 16,48
server1 | 16,48
server1 | 16,47
server1 | 16,65
server1 | 16,50
server1 | 16,48
server1 | 16,48
server1 | 16,47
server1

[2018-06-21 17:08] schmichael commented on #4428
Hi @onlyjob!

I was curious why you cared whether we used tagged release or arbitrary commits until I noticed you're also the [maintainer of the `nomad` package in Debian!](https://tracker.debian.org/pkg/nomad) Am I right in assuming you would like to model Nomad's dependencies as Debian package dependencies which try to only package versioned releases?

Either way this is a reasonable request we'

[2018-06-21 21:44] camerondavison commented on #4437
@preetapan everything got garbage collected. I will have to update this ticket if it happens again.

[2018-06-21 22:13] #4061 closed

[2018-06-21 22:47] preetapan commented on #4435
@royalj your json payload has incorrect field names for the update stanza. It should be `"AutoRevert":true` etc. This is documented in the example in https://www.nomadproject.io/api/jobs.html#create-job and also in https://www.nomadproject.io/api/json-jobs.html.

[2018-06-21 22:47] #4435 closed

[2018-06-22 07:15] dukeland9 commented on #4306
Priority based preemption is very much needed.

[2018-06-22 15:13] treanz opened #4443 "[question] Rescheduling job on another node after outage recovery"
`[question]`
### Nomad version
`0.8.4`

### Operating system and Environment details
`CentOS Linux release 7.4.1708 (Core)`

### Question
I have 2-machines setup. Nomad run in server+client mode on each host (2 servers and 2 clients) connected via consul. And there are two jobs, running on second host, with reschedule params. To run them on the first node **after network failure** i create **peers

[2018-06-22 16:06] #4439 closed

[2018-06-22 16:14] preetapan commented on #1500
Revamped node drain in 0.8 addresses this, closing

[2018-06-22 16:14] #1500 closed

[2018-06-22 16:32] preetapan commented on #4436
@djenriquez when the tasks in an allocation are being stopped, they first cleanup by deregistering themselves from Consul https://github.com/hashicorp/nomad/blob/4e352f3814feb2f4f1c918b0dd2a09cb05c3ad36/client/allocrunner/taskrunner/task_runner.go#L1223 and then if your task has a [ShutDownDelay](https://www.nomadproject.io/api/json-jobs.html#shutdowndelay) that gives it extra time for inflight re

[2018-06-22 16:32] #4436 closed

[2018-06-22 18:42] djenriquez commented on #4436
Hey @preetapan Thanks for clarifying. I did verify this was the case, interestingly, our application doesn't behave that way, but thats our problem now 😉.

[2018-06-23 19:04] rkettelerij commented on #4443
Do note that from a reliability perspective a 2 node setup isn't recommended. With 2 nodes you can't tolerate the loss of one node. The recommended deployment is either 3 or 5 servers. See https://www.nomadproject.io/docs/internals/consensus.html

[2018-06-23 22:30] orthecreedence opened #4446 "Logs filling up with: [ERR] client: dropping update to alloc ..."
### Nomad version
`Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

### Operating system and Environment details
`Linux hive04 4.4.0-1061-aws #70-Ubuntu SMP Fri May 25 21:47:34 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

### Issue
Log files of nomad agent are filling with messages of `[ERR] client: dropping update to alloc '<alloc id>'`. Seems to happen slowly at first, but then accellerate

[2018-06-24 07:57] FlorinAsavoaie opened #4447 "Network dependency not satisfied properly"
If filing a bug please include the following:

### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
- Ubuntu 16.04.2 LTS
- IPVLAN Network Driver for Docker
- Docker 17.12.0-ce

### Issue
When using a "container:XXX" network mode, the task using this network doesn't get restarted when the container of which network it uses restarts.

[2018-06-25 06:59] onlyjob commented on #4428
Yes, that's me, but I'm not proud as currently Nomad in Debian is far behind current release...

Yes, we are packaging most dependencies as individual (reusable) packages.
This approach have significant advantages in automatic tracking of new upstream releases, CI, testing on multiple hardware architectures, security, etc. For example Golang build system run no tests for vendored libraries hence o

[2018-06-25 07:02] linuxgood1230 opened #4448 "[Fingerprint] suppport consul-kv as fingerpirnt config source"
1. Too many fingerprints, we do not add a go file to support
use consul-kv config it.

[2018-06-25 11:46] pznamensky opened #4449 "prometheus exporter: `nomad_driver_docker_oom` is not actually a counter"
### Nomad version
 ~ $ nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
`nomad_driver_docker_oom` counter resets after some time.
Because of this it's hard to understand "OOM-killer speed"

### Reproduction steps

1. start container which is being killed by OOM-killer and then being restarted by nomad
2. get value of `nomad_driver_docker_oom` from https://nomad-clie

[2018-06-25 14:45] chelseakomlo commented on #4448
Do you mind clarifying this comment? Is the request to add Consul-KV as a configuration option for Nomad to fingerprint, as opposed to fingerprinting by default?

[2018-06-25 15:25] chelseakomlo commented on #4446
Thanks for the detailed description of this issue- we will investigate this on our end.

Do you mind including the output of `nomad job status <job_name> -all-allocs -verbose` for further information? https://www.nomadproject.io/docs/commands/job/status.html#all-allocs

[2018-06-25 16:14] orthecreedence commented on #4446
No problem, here's the output of `nomad job status tickr-worker.persist.hydrate.25650 -all-allocs -verbose` (tickr-worker.persist.hydrate.25650 is a job listed in one of the "dropping update to alloc" messages).

[code]

Also, there are some extra nomad *server* logs that might shed more light (specifically the "large raft entry" log that gets spit out quite often):
[code]

[2018-06-25 20:35] orthecreedence commented on #4446
The tool that deregisters jobs can definitely deregister jobs more than once.

The basic logic is as follows:

- Every minute, grab channels from beanstalkd
- For each channel with pending jobs, create a worker instance for that channel
- For each channel that has no pending jobs, delete any workers associated with that channel

A channel in beanstalkd can have non-active jobs in it though (for in

[2018-06-25 20:46] chelseakomlo commented on #4446
Yes, we should handle this more gracefully in Nomad. We'll discuss as a team how to better handle this case, but in the short term, doing a check before running `DELETE` on a job that has already been deregistered should ideally help.

Let us know how this works and if anything else comes up.

[2018-06-26 02:28] linuxgood1230 commented on #4448
Now, It is very hard work to define user own schedule strategy.
Like database , we can not use bin-pack. database not just a  process, we want locate new database in lower number mysql master instance.

[2018-06-26 02:35] linuxgood1230 opened #4450 "[Schedule] schedule is core function, can user define their owner"
1. may you define the Algorithm and logic. like bin-pack, spread out
Least Recently Used.
2. we define data , the tag key value to schedule
3. we define schedule tag sort, like sort , disk, ram, cpu, (mysql_master, mysql_slave, mysql_iops...user defined key value)
4. the data define in the consul-kv

[2018-06-26 02:43] linuxgood1230 commented on #4448
Like https://github.com/hashicorp/nomad/issues/4300

[2018-06-26 02:50] linuxgood1230 commented on #4450
Also: https://github.com/hashicorp/nomad/issues/2985

[2018-06-26 07:42] orthecreedence commented on #4446
Thanks for the tip. I tried updating the worker scheduler to run a `GET` on the job and check if it exists (and is not `State=="dead"`) before running the `DELETE` but we're still seeing a ton of these messages fill the logs (still around 5000 per minute). Actually, you know what? I just did a `cat nomad.log | grep ' 20:45:' | grep 'dropping update' | wc -l` and it seems that the norm from the las

[2018-06-26 08:05] jrasell opened #4451 "Feature - allow Nomad jobs to register with Consul connect"
Consul 1.2 announced Consul connect as a feature and it would be awesome to allow Nomad jobs within their service stanza to configure connect such as registering dependant services as detailed - https://www.consul.io/intro/getting-started/connect.html

[2018-06-26 08:20] jippi commented on #4451
How is this not a thing already? its been multiple minutes since it was announced! </sarcasm>

[2018-06-26 10:36] hvindin commented on #4451
@jippi because hashicorp is a single company which owns all these tools and they have been working on this internally for a very very long time, a lot of the nomad team where directly involved etc. etc. or at least that's what I've been able to gather anyway `</assuming you already knew that but just incase someone else reads this>`

[2018-06-26 13:56] chelseakomlo commented on #4451
Thanks for the feature request, good to hear Consul Connect will be a useful feature to Nomad! Supporting Consul Connect integration is on the Nomad roadmap for later this year- we have a few major features planned for our next 0.9 release (Affinities, Driver Plugins, etc) and then we will be adding Consul Connect afterwards.

[2018-06-26 14:45] jippi commented on #4451
@hvindin yep, i know - I got carried away with @jrasell at hashidays when they announced it - so was all in good spirit :)

[2018-06-27 03:14] lawliet89 commented on #4451
https://www.consul.io/docs/connect/platform/nomad.html

Documents how we can use Consul connect currently without built in support from Nomad.

[2018-06-27 06:27] onlyjob opened #4454 "Still uses "go-msgpack/codec" - unmaintained fork of "ugorji/go/codec""
[nomad/structs/structs.go](https://github.com/hashicorp/nomad/blob/master/nomad/structs/structs.go#L40) uses [hashicorp/go-msgpack/codec](https://github.com/hashicorp/go-msgpack) which appears to be an obsolete (no commits since 2015) fork of actively maintained [github.com/ugorji/go](https://github.com/ugorji/go), [imported from the same file](https://github.com/hashicorp/nomad/blob/master/nomad/

[2018-06-27 10:18] onlyjob opened #4455 "sloppy vendoring of "hashicorp/yamux"; commit does not exist"
[hashicorp/yamux/](https://github.com/hashicorp/yamux) is vendored by unknown commit:

 https://github.com/hashicorp/nomad/blob/master/vendor/vendor.json#L191

The problem is that commit 2658be1 is missing from [yamux history](https://github.com/hashicorp/yamux/commits/master).

[2018-06-27 22:41] wrightMatthew commented on #646
Mentioned in related issue (#209)[https://github.com/hashicorp/nomad/issues/209] was binding to all interfaces by binding to 0.0.0.0. It was also mentioned in this original question. Is there any progress for that? I can't figure out how to go about configuring my service to be available on all network interfaces.

[2018-06-27 22:52] ted-jung commented on #3831
@jippi Hi Jippi
Thanks for your excellent example.

A question is "how the template(unicast.txt) interfaced with the docker option below".
"-Ediscovery.zen.hosts_provider=file"  <= "file" (just use "file") or do i need to change with some value?

Thanks in advance

[2018-06-28 07:29] onlyjob commented on #4428
Nomad 0.8.4 is in Debian now. :)

[2018-06-28 09:15] omame opened #4456 "Make cpu.cfs_period_us configurable"
### Nomad version
Nomad v0.8.1 (46aa11ba851f114f5faa0876839b45fbca0c47f0)

### Operating system and Environment details
Linux 4.4.0-111-generic x86_64 - Ubuntu 14.04

### Issue
In #3825 and #3915 cpu hard limits have been introduced in the Docker driver. This is working great (thanks @jaininshah9!) but [the inability to configure `cpu.cfs_period_us`](https://github.com/hashicorp/nomad/blob/master/

[2018-06-28 13:53] dekimsey opened #4457 "[bug] Plan's diff always shows a full Network Resource change"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
OSX

### Issue

I added just the "jolokia" port resource to my task, yet the plan output shows the entire Network stanza changed. This is incorrect, I'd expect to only see the jolokia output as an addition.

#### Saw:
[code]

#### Expected:
[code]
### Reproduction steps

1. Submi

[2018-06-28 20:09] chelseakomlo commented on #4455
Thanks for letting us know about this issue- indeed, we try to be careful with issues like this (we've had similar problems with our own dependencies).

We'll investigate and if needed upgrade to the latest version of yamux to fix this issue.

[2018-06-28 20:29] chelseakomlo commented on #4457
Thanks for the steps to reproduce- agreed that showing the specific diff would be ideal. We will investigate this further on our end and discuss as a team.

[2018-06-28 20:36] scalp42 commented on #2126
@diptanu @justinwalz mirroring the events bus from Marathon would be amazing, see https://mesosphere.github.io/marathon/docs/event-bus.html

[2018-06-29 11:58] linuxgood1230 opened #4459 "[question] can we global disable nomad alloc health check"
1. we have two datacenter.
2. when a datacenter 's nomad server network isolation.
3. all alloc check failed , all reschedule

[2018-06-29 13:06] dmicanzerofox commented on #4413
Helo, I'm working with @SoMuchToGrok and attached should be a full chain of certificates:

### Root
[code]

[code]

### Nomad Server
[code]
[code]

### Nomad Client
[code]

[code]

----

Please let us know if there's any more information we can provide to help you with this.

[2018-06-29 17:56] schmichael commented on #4459
I am having a hard time understanding your question.

If Nomad clients are disconnected from servers, they are considered `lost` after a [grace period](https://www.nomadproject.io/docs/agent/configuration/server.html#heartbeat_grace) elapses.

Allocations on `lost` clients are rescheduled. If _all_ of your clients are unable to contact your servers, all work will be rescheduled as clients become a

[2018-06-29 21:20] MrDeguito opened #4460 "[question] Getting the list of IPs of identical tasks in the same group as an environment variable before running the image"
Hello nomad community,

I was hoping to get some help with "Nomadizing" an in-house distributed application. The way this application has been written, at startup it needs to be passed down a list of IP:PORT pairs for all of the hosts that will be part of this cluster. It is expecting that value in an environment variable. We already run this application manually with docker today and pass the env

[2018-06-29 23:45] mlehner616 commented on #4280
I second this request and am quite surprised this wasn't already an included metric. Especially since Nomad has such strict hard memory caps.

 In order for
`nomad.client.allocs.<Job>.<TaskGroup>.<AllocID>.<Task>.memory.max_usage`
or
`nomad.client.allocs.<Job>.<TaskGroup>.<AllocID>.<Task>.memory.rss`

to be actually useful, we need a way to determine the percentage of memory the allocation has use

[2018-06-30 00:42] linuxgood1230 commented on #4459
thanks

  - -A INPUT -p tcp -m state --state NEW -m tcp  --dport 4647 -j DROP

[2018-06-30 05:10] shantanugadgil commented on #4460
Hi, just curious, in the docker only scenario, is the port on all the machines fixed (same)?

[2018-06-30 22:11] MrDeguito commented on #4460
Yes, the port on all the machines is fixed (it doesn't have to be but it is)

[2018-07-01 13:36] linuxgood1230 commented on #1990
like databae , mirgate cost very much. I do not know how many resource may be used at first.
but later, one node has ten+ alloces, when one or two alloc used up their resource, the while node will
overload. then the node has no response, and will down.
nomad light use raw_exec or java dirver, but it's schedule is human schedule, not wise.

[2018-07-02 15:29] preetapan commented on #4459
@linuxgood1230 looks like you are asking for a configurable way to limit allocs rescheduled when a client node is marked "lost". Nomad reschedules those allocations because if the clients are lost, any updates to the state of those allocations can't reach the server. So, from a correctness perspective, Nomad reschedules them to a node that's still alive. Heartbeats between the client and server ar

[2018-07-02 16:00] linuxgood1230 commented on #4459
thanks
I test two ways
1.  Network is a complex problem.
2.  a nomad server failed of a datacenter
those will reschedule all my allocations.
I want control the numbers of allocations/nodes can be failed at the same time.
May be -- this way, we known, what will happen, and the result of the isssue.
we do not let all  alloctions reschedule happen, nerver happen auto. may we can  mannul trigger.
limi

[2018-07-02 16:03] jippi commented on #4456
why is that ? my understanding would be that it should "refill" its quota and eventually stop throttling if it uses well below its hard limit?

[2018-07-02 16:25] linuxgood1230 commented on #4459
like database mysql
nomad health check is very simple. we want use  orchestator to make decision.
just want
nomad raw_exec, schedule(now it's very simple, can not custome)

[2018-07-02 17:01] preetapan commented on #4459
@linuxgood1230 We don't recommend running a mysql database on Nomad yet. We have future work supporting device plugins for that. Right now, Nomad is optimized for batch jobs, and long running services that don't store state on disk (because rescheduling such services is a hard problem).

To your other request about controlling the number of allocations rescheduled when a node is lost, this isn't s

[2018-07-02 17:01] #4459 closed

[2018-07-02 17:36] camerondavison commented on #4299
i saw this happen where the eval status said that it was triggered by `job-deregister`

[code]

when I run nomad alloc status the job itself has been garbage collected, but the alloc is still running.

kill the node killed the alloc and it did not get retried

[2018-07-02 19:20] dcparker88 opened #4463 "nomad server panic: runtime error: invalid memory address or nil pointer dereference"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
`Linux nomad-97d52edaa6767264 2.6.32-696.30.1.el6.centos.plus.x86_64 #1 SMP Wed May

[2018-07-02 19:35] dcparker88 commented on #4463
I think I *might* have it narrowed down to a job in our cluster causing it - but I'm not sure how to delete/kill this job since the servers aren't up long enough for me to stop it.

[2018-07-02 19:39] nickethier commented on #4463
@dcparker88 I'm looking into this now, what about the job makes you think its causing it?

[2018-07-02 19:46] dcparker88 commented on #4463
I might be way off - but I turned on Debug logs, and it lists out jobs, but never lists out a batch job that we have. The batch job also seems to be "flapping" - appearing and disappearing in the job status list, etc.

This could just be a symptom of the nomad servers constantly restarting, however.

[2018-07-02 19:57] dcparker88 commented on #4463
here is a full log coming from a clean start (deleted everything in nomad data dir and started it fresh)
[code]

[2018-07-02 19:58] 42wim commented on #4463
Looking at the code it seems to lookup a node based on id of the allocation (in `findPreferredNode`) but is getting a empty node (nil) back.

Some inconsistency somewhere, to get your servers (probably) running again you could add a `if n == nil { return false }` before https://github.com/hashicorp/nomad/blob/1eedb7753f93dcd827819e42e8583cebe5fbc075/nomad/structs/structs.go#L1431

But maybe hashic

[2018-07-02 20:31] nickethier commented on #4463
@dcparker88 I think I found the bug, but I don't have a work around for fixing your state yet (and I'm not sure if I will (but I'm trying!)).

I think a job (maybe the problematic one you mentioned) trying to get scheduled to a node that for some reason doesn't exist in the state store. You could ultimately fix this by stopping all nomad server nodes, wiping the datadir and starting them backup.

[2018-07-02 20:32] nickethier commented on #4463
@42wim correct, the fix proper is here: 1acbf1d

[2018-07-02 20:41] dcparker88 commented on #4463
thanks - resetting the data dir on all my servers did work. I lost all my jobs - but that's ok for now since we can recreate them quickly in terraform.

[2018-07-02 20:51] omame commented on #4456
But then you'd be wasting resources to overcome an inefficient configuration of the cgroup.
Not to mention that after the startup, the process will ideally (at least in our scenarios) start serving traffic, which would add more pressure to the resource quota. Eventually this may even lead to the task becoming unhealthy and getting killed.

We've seen throttling constantly happening because the pro

[2018-07-02 20:52] nickethier commented on #4463
@dcparker88 glad you’re working again and it wasn’t too much of an impact, never a route you should have to take though.

The current hypothesis is that it’s related to sticky volumes. Did the job you mentioned have a sticky enabled volume by chance?

[2018-07-02 21:20] dcparker88 commented on #4463
one of our jobs does, yes. the one I thought was the impact did not, but again I might be wrong about what actual job it was. the sticky job also has a distinct_host constraint turned on.

[2018-07-03 01:38] linuxgood1230 commented on #4459
thanks very much
may increase a switch. global disable  allocation health check.
just create, migrate, delete, schedule , others can custom their own .

[2018-07-03 02:16] gwellington opened #4464 "[0.8.4] Nomad UI Hanging on Allocation Viewing"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
0.8.4

### Operating system and Environment details
Ubuntu 16.04.4 LTS

### Issue
In the Nomad UI, when you click on a job or client to view allocations, the UI hangs attempting to load

[2018-07-03 03:30] nickethier commented on #4464
Hi @gwellington

Sorry you're experiencing this issues. I've got a few questions for you to try and get to the bottom of this:
 * What browser and version were you using when you experienced this?
 * You mentioned that you experienced this while "re-roll"ing nomad servers. What does this mean exactly? Were you upgrading them? If so from what version?

[2018-07-03 07:16] jrasell opened #4465 "[feature] allow Nomad to manage its own TLS certificates"
I am not sure quite how feasible this is but it would be helpful if Nomad had the ability to manage its own TLS certificates through Vault integration so that low TTL certs can be used and rotated without custom scripts or manual intervention.

[2018-07-03 13:13] jrasell opened #4466 "[feature] notify systemd after agent has joined the cluster"
In the same style that Consul integrated, it would be nice if Nomad could have the potential to notify systemd when the agent has successfully joined the cluster and is operational. This would allow dependant services to be correctly chained off Nomad rather than blindly starting assuming the service is OK.

Consul PR - https://github.com/hashicorp/consul/commit/31a310f551c36243d2aae9ed80054c200e0

[2018-07-03 15:35] nickethier commented on #4465
Hey @jrasell

This is a great idea and we've had it requested before. It is definitely something on our radar. I'll leave this issue open so as to track any progress on it.

[2018-07-03 16:07] chelseakomlo commented on #4463
Can you please include the job files for the one which requires sticky volumes, and the other job that you thought was suspect mentioned above?

[2018-07-03 22:58] jbott commented on #1081
Are there any plans to implement this or something similar? I have a use case where I am connecting hardware resources to individual nodes, and I would need to expose that info at the scheduler level to correctly place tasks.

[2018-07-04 03:30] onlyjob opened #4469 ""kardianos/osext" is obsolete on go-1.8+"
The following patch allows to remove redundant `github.com/kardianos/osext` dependency:

[code]

https://github.com/hashicorp/nomad/blob/master/vendor/vendor.json#L195

[2018-07-04 20:35] yellowmegaman commented on #1636
Same thing on nomad v0.7.0 + consul v1.0.1

[code]

With healthcheck being perfectly ok.

[2018-07-05 08:33] sadpirit opened #4470 "Template stanza does not render a template from the consul"
### Nomad version
0.8.4

### Issue
When you try to store a template in the consul, the template renderer does not occur

### Reproduction steps
**template stanza**:
[code]
**content of app/it/tdagent_local**
[code]
**contents of the file local/td-agent.conf, after running the job:**
[code]

[2018-07-05 08:45] iconara opened #4471 "Ambiguous use of "filtered""
When I query an evaluation, or a job, that has not been possible to place I get a list that uses the word "filtered" ambiguously.

For example

[code]

I can't tell whether or not "filtered" in this list means "selected" or "rejected". I assume "rejected" because I can kind of figure that out from the last list entry and my knowledge about the context, but at the same time, in most programming lan

[2018-07-05 08:56] rohitpmore opened #4472 "[question] Configurable mount point for Nomad ui"
Hello,
Is there any way to mount the UI component on a configurable non root location?

Thanks,
Rohit.

[2018-07-05 12:55] dcparker88 commented on #4463
yeah - here is the relevant group: https://gist.github.com/dcparker88/2f450f8976a43490db0654e738b4e5ba

[2018-07-05 12:57] dcparker88 commented on #4463
the one I thought was potentially causing it is here: https://gist.github.com/dcparker88/705effd1b374bfc51399e3c54f25e571

[2018-07-05 14:54] nickethier commented on #4466
Hey @jrasell

Thanks for raising this issue. I'd advise holding off on any immediate work as there some work in progress that could affect this. I think this may benefit from some work we're doing to support external plugins. This is a valuable use case to identify and will help add perspective.

[2018-07-05 15:18] nickethier commented on #4469
Thanks for the patch! I applied it with the vendor changes in the referenced PR.

[2018-07-05 15:41] nickethier commented on #4460
Hi @MrDeguito

In your issue you say that in order to start up, your application needs to know the IP and PORT for each instance of the application. Nomad does not know this information before starting your application. You could define each instance as its own group and use constraints to force each allocation to a node with a static port, thus knowing upfront what all of the IP and PORTs will be

[2018-07-06 00:32] tantra35 opened #4477 "Ability to truncate raft.db on nomad server nodes"
### Nomad version
0.8.4

After some launch of huge jobs we have very big `raft,db` files on server nodes, so restart of nomad server takes huge amount of time, and nomad server eats too many memory. When we replace one server with this huge `raft.db` with new one, on that node `raft.db` not so big, and nomad eats expected amount of memory. So it will be very usfull to manually truncate `raft.db`

[2018-07-06 07:15] jippi commented on #4477
can you please put some actual numbers to these definition ? :)

[2018-07-06 08:43] tantra35 commented on #4477
In our case nomad servers was on t2.micro instances. And we launch spark jobs  with 2000 executors. After cluster hung, due insufficient hardware we upgrade servers to t2.xlarge, but fo now `raft.db` take 30GB and nomad uses 65% of memory, but for now on that cluster at now days launched only 10 jobs with 1-3 allocations within job, and restart of nomad server doesn't help to reduce memory consupt

[2018-07-06 10:15] jippi commented on #4477
@tantra35 that seem quite underpowered, see the [recommended production requirements](https://www.nomadproject.io/guides/cluster/requirements.html) - especially with the bursty capacity of the t2 family - personally we use m4.xlarge and m4.2xlarge in prod

[2018-07-06 10:16] rkettelerij commented on #2422
To get back on my comment. It's a few months later now and altough Terraform as a template tool for Nomad jobs works. I found [Levant](https://github.com/jrasell/levant) to be a superior alternative. Above all because Levant is able to monitor your Nomad deployment which in turn allows you to pass/fail your CI/CD pipeline. So for future readers in need of a templating solution: try Levant.

[2018-07-06 11:08] ppiastucki opened #4478 "[question] Setting update stanza parameters globally"
Hi,

Is it possible to configure healthy_deadline and other update stanza parameters globally for all jobs?
I know it can be configured on a per-job basis but I am looking to change the default values (5 minutes  in case of healthy_deadline) to something else and ensure the new default value is automatically inherited by any jobs that do not overwrite it.

[2018-07-06 11:48] tantra35 commented on #4477
@jippi I understand this(and we already made new more power cluster), but it seems looks strange that after we dramatically reduced allocs count(ie stop all spark jobs), nomad doesn't return occupied memory, and doesn't make this even after restart server, its not problem to replace all server nodes(in that case as i mention above, new server takes expected amount of memory), but sometimes this no

[2018-07-06 13:59] dmwilcox commented on #3622
With the recent release of Consul Connect I think this should be reconsidered.

The only proper way I see to integrate Nomad with Consul Connect and an unmanaged proxy is run it in the same task group.  (along with something like the gloo connect agent)

I may be able to manage if I modify the rkt driver to spit out the veth IP inside of a container as a property (a bug I should file), but otherwi

[2018-07-06 19:38] mgkanani opened #4479 "[question] Custom route for Nomad UI"
Hi,

Is there any configuration for Nomad-UI to have different endpoint(e.g.` /nomad-ui`) instead of `/`? I could not find any such configuration in documentation. It really helps in grouping all the nomad related requests when Nomad-ui is behind the proxy.

Thanks,
Mahendra

[2018-07-07 12:19] sumerman opened #4482 "[question] Is there a way to avoid network binding at all on nomad clients?"
It is advised to run a nomad client as a root. Therefore allowing it to listen on any network interface, even a loopback doesn't sit right with me. Furthermore, from the architecture documentation, it doesn't seem necessary. I was unable to find a way to disable undesired behavior in the documentation. Did I miss something?

[2018-07-07 16:40] ramSeraph opened #4483 "[ Feature/Question ] Ability to reload config meta variables on SIGHUP to nomad agent"
It would be nice to have nomad agent reload meta variables in the client config on SIGHUP.

currently, this requires a nomad agent restart.. though this hasn't caused any problems yet.. this seems a bit extreme.. reload would be nicer if possible.

Alternatively, I would like a confirmation that restarting the nomad agents often( quite a few together in a span of minutes, maybe once a day ) is not

[2018-07-07 19:59] jippi commented on #4477
did you try to [force a gc](https://www.nomadproject.io/api/system.html#force-gc)?

[2018-07-08 11:10] tantra35 commented on #4477
@jippi this was first what we did

[2018-07-09 08:55] SergeyYakubov opened #4484 "Nomad does not try to restart a system job that failed due to the template renderer"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
### Operating system and Environment details
CentOS Linux release 7.5.1804 (Core)
### Issue

After a

[2018-07-09 12:09] linuxgood1230 commented on #4483
I think meta need store in consul-kv as fingerprint.
Reload client, a lot work.

[2018-07-09 13:14] fho opened #4485 "Support cgroup pid limits for exec driver"
Similar then #4341 but for the exec driver:
Support limiting the amount of PIDS that an application can use via the cgroup Process Number controller (https://github.com/torvalds/linux/blob/master/Documentation/cgroup-v1/pids.txt).
This will prevent that an malicious application can shutdown the whole machine by using up all pids (fork bomb).

[2018-07-09 16:30] #4469 closed

[2018-07-09 16:34] nickethier commented on #4460
@MrDeguito closing this now, but please reopen if this doesn't answer your question.

[2018-07-09 16:34] #4460 closed

[2018-07-09 16:35] camerondavison opened #4486 "Deployment cancelled due to newer version, even though nothing new submitted"
### Nomad version
0.8.3

[code]

[2018-07-09 17:16] Magical-Chicken commented on #4486
The deployment does complete successfully, the old allocations are shut down properly, and allocations using the updated job version are started successfully; however, the deployment status does not report success as it should. We are automatically deploying jobs and checking status via the http api, and using deployment status as an indicator that the job has started properly, since nomad perform

[2018-07-09 17:41] groggemans opened #4487 "[feature] allow Nomad to manage its own ACL replication token"
I manage Nomad ACL's trough vault, and Nomad is connected to the same vault cluster. When I had to deploy some new servers I accidentally used an ACL replication token created by Vault, thinking it would be renewed automatically. It was after a small hour of testing and looking at the logs I realized that it would never work, as Nomad currently doesn't support auto renewing the token.

Similar to

[2018-07-09 19:01] svenstaro opened #4488 "Doesn't compile against lxc 3.0.1"
### Nomad version
0.8.4, git master

### Operating system and Environment details
Arch Linux, lxc 3.0.1

### Issue
Compilation fails

### Reproduction steps
make test

### Logs
[code]

[2018-07-09 23:07] schmichael commented on #1081
Device Plugins are planned but still in an internal design phase, so I don't want to make any promises regarding the timeline. Posting detailed use cases and implementation ideas here is definitely welcome and will be taken into account!

[2018-07-09 23:40] schmichael commented on #1636
Hi @yellowmegaman,

Nomad now heartbeats TTL health checks via the agent process instead of the executor. This means that if the Nomad agent is down for longer than the TTL, the TTL will expire like you're seeing. When using script checks you should make the TTL long enough to handle Nomad restarts. My apologies that we don't adequately document this behavior and we intend on improving the docs!

[2018-07-10 10:39] fho opened #4491 "exec-driver: nomad + health-check process are part of memory limit cgroup"
The following was observed with Nomad v0.8.3.

From the description in the docs I would expect that the `memory` parameter of the `resources` stanza  should be set to the maximum amount of memory that my application uses at most.

But when an application is run with the exec-driver, the memory limit of the cgroup does not only account for the application process but also for the `nomad executor` a

[2018-07-10 11:01] ramSeraph commented on #4483
@linuxgood1230 consul-kv as fingerprint and ability to set constraints on jobs based on the consul-kv values would be ideal for me.. because the data for the current meta variables of the nomad agent is coming from consul-kv.. but this would mean some convention about which consul kv values are for which node.. ( i am guessing setting up that convention and making it generic would require careful

[2018-07-10 16:46] preetapan commented on #4486
Thanks for the report @camerondavison @Magical-Chicken. So far I am unable to reproduce with a job that runs a redis docker container and has an update stanza similar to the above. Will keep trying, but in the meantime, can you also include the output of `nomad job deployments <job_id>` for the above where it got into this state.

[2018-07-10 17:09] preetapan commented on #4484
Hi @SergeyYakubov - Task setup failures are considered irrecoverable and so the restart policy doesn't take effect. This is working as designed because if Nomad fails in the task set up stage (wrong executable path/missing file system etc, its not useful to keep restarting).

However your use case with a system job, and using a network mounted filesystem that may not be available when the task run

[2018-07-10 17:29] Magical-Chicken commented on #4486
Thanks for taking a a look at this. Unfortunately it looks like nomad has garbage collected all the older deployments for the job, so there's only info on the one that failed. I don't have a reliable way to reproduce this yet, it seems to be intermittent and happens to only a few jobs out of 15+ submitted to nomad at the same time. When it occurs again I will try to collect more data faster, befor

[2018-07-10 19:41] preetapan commented on #4491
@fho The executor is responsible for managing the lifecycle of the application, so its a desired feature to have it be in the same cgroup. As implemented, any tracking inside the executor (for healthcheck and stdout/stderr management) should not be a memory resource hog, it has a pretty low footprint.

I am going to close this issue out because the cgroup behavior is working as desired. If you are

[2018-07-10 19:41] #4491 closed

[2018-07-10 19:46] preetapan commented on #4484
@SergeyYakubov discussed this internally and while we can special case system jobs to always restart, it introduces unnecessary work in cases where a required precondition is not present (like a filesystem or external resource missing).

As a workaround, in your environment, you could enforce that any filesystems needed by jobs are mounted on nomad client nodes first prior to running nomad jobs on

[2018-07-10 19:46] #4484 closed

[2018-07-10 19:55] schmichael commented on #4491
Just to add a little more detail: We plan on improving the script check documentation to clarify that it runs inside the container. That's definitely something we need to mention! Allowing script checks to run outside the task's container and resource limits would be a major security and isolation issue.

We also have longer term plans to allow setting memory requirements easier such as soft limit

[2018-07-11 01:30] #4463 closed

[2018-07-11 03:47] shantanugadgil opened #4494 "[feature request] exec driver with syslog forwarding"
### Nomad version
0.8.4

### Operating system and Environment details
CentOS 7.5+

### Issue
How about if the "exec" driver was able to forward the stdout/stderr of the process to a central syslog server?

Do you think the request makes sense?

This came to mind while comparing 'exec' with 'docker' (docker+syslog combination)

Cheers and Regards,
Shantanu

[2018-07-11 04:41] holtwilkins commented on #3421
Hey @schmichael I'm pretty curious about this too.  I'm trying to make Nomad stop being so aggressive about cleaning up old allocations, but not having much luck.

I've tried setting `gc_max_allocs` to 600, and it seems to have helped a little, but Nomad is still cleaning-up allocations well before I've collected 600.  It shouldn't be getting anywhere near 80% disk utilisation either (or 70% inode

[2018-07-11 07:57] yellowmegaman commented on #1636
@schmichael Actually still investigating, but not the case probably because we've used consul lock inside healthcheck and that seems to be the problem. Thank you!

[2018-07-11 09:53] fho opened #4495 "Nomad task got OOM killed when it was using only ~70% of it's MemoryMB limit"
This is the same issue then described in https://github.com/hashicorp/nomad/issues/4491 but as bug report.

### Nomad version
Nomad v0.8.3

### Issue
We have a nomad job that runs an application called `claimsearch-service` with the exec executor.
The memory limit is set to 50MiB in the nomad job file.
The application got OOM killed when it was only using 35,35MB RSS.

In the memory cgroup were th

[2018-07-11 17:08] schmichael commented on #3421
Hi @holtwilkins,

Nomad servers periodically GC dead jobs and force GC their allocations on their client nodes. You can configure that interval on servers with the [`job_gc_threshold`](https://www.nomadproject.io/docs/agent/configuration/server.html#job_gc_threshold) parameter. It defaults to 4 hours.

[2018-07-11 17:22] tantra35 commented on #4477
@burdandrei can you share how you solve this in your case?

[2018-07-11 17:30] preetapan commented on #4471
@iconara thanks for the suggestion. While I can see how generally filter can mean both "filter out" and "filter only", in this specific case the intent is "filtered out" and hopefully known from the rest of the sentence. It is listing specific constraints and showing how many nodes did not meet the constraint.

We could perhaps change it to "filtered out" to make it clearer.

[2018-07-11 17:31] Dirrk opened #4496 "[feature] create a check_update stanza which allows checks to be warning during deployment"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details

### Issue
During a deployment, I would like to be able to have some checks in the warning state without having to give up the "checks" upgrade strategy.

### Reproduction steps

Run the check below and it will fail as the checks never become healthy which is expected.

`nomad

[2018-07-11 17:44] preetapan commented on #4477
@tantra35 Until nomad takes a snapshot, the raft DB is not compacted. Currently the threshold of when we take a snapshot is not tunable, it does it after 8192 raft writes.

What's the output of `nomad agent-info` (https://www.nomadproject.io/docs/commands/agent-info.html) on your server? The specific values of interest are ` last_snapshot_index` and `last_log_index`. Usually after that number reac

[2018-07-11 17:52] preetapan commented on #4482
@sumerman Nomad clients are recommended to run as root for certain drivers to work, particularly the exec driver which does chroot and creates cgroups.

You don't have to make nomad listen on all interfaces, the configuration for client agents support restricting bind/rpc/serf addresses as appropriate. https://www.nomadproject.io/docs/agent/configuration/index.html#addresses

[2018-07-11 17:52] #4482 closed

[2018-07-11 17:56] sumerman commented on #4482
Thank you for the answer. Is it feasible to add an option that'd completely prevent it from listening on any network interfaces? Or is there a part of functionality requires nomad-clients to accept connections?

[2018-07-11 17:57] burdandrei commented on #4477
well @tantra35 in the meantime i changed servers to be i3.xlarge to have 32 GB ram and NVME for the data dir. but to be honest raft.db file is hardly reaching 200MB.
I found the memory problem was because of our job scaler. It submitted the jobs too fast while the last deployment was still running, so we had a LOT of canceled deployments.
As soon as I added a condition [scaler](https://github.com/

[2018-07-11 18:02] preetapan commented on #4483
@ramSeraph this is as designed  - since meta data can affect scheduling the idea is that operators that change node metadata also shutdown and restart the client so that any existing allocs can be migrated elsewhere.

[2018-07-11 18:02] #4483 closed

[2018-07-11 18:11] preetapan commented on #4482
Clients need to listen on the specified http port for [client end points](https://www.nomadproject.io/api/client.html) to get allocation stats, read log files etc which is required to provide visibility into a specific running task.

[2018-07-11 18:18] sumerman commented on #4482
It also states:

I read this as: "it's nice if a client can listen on HTTP, but not required." In other words, if I send a PR, will it be at least considered?

[2018-07-11 19:16] preetapan commented on #4487
@groggemans thanks for the feature suggestion. However, our secret backend integration is designed this way so that ACL token management can be done externally and not be a Nomad concern. Having Nomad talk to vault to renew its ACL token would tightly couple the two so we will not be doing this at this time.
Having more automation to manage internal ACLs in Nomad is something we will consider in t

[2018-07-11 19:16] #4487 closed

[2018-07-11 23:21] kak-tus opened #4499 "[feature request] check_reschedule stanza"
It is great to have ability to reschedule job (to other node), if check is unsuccessful.

Use case: some node is failing by some reason, nomad continue normally working on this node, but jobs - not. And their health checks fails.

As example, this may be external network problem. But internal network is working. And if job migrates to other node in this case - it begin to work normally.

check_res

[2018-07-11 23:53] dadgar commented on #4499
Hey @kak-tus,

If you have your restart stanza mode to "fail" which is the default, and use check_restart you get this behavior.

[2018-07-11 23:53] #4499 closed

[2018-07-12 02:39] atrauzzi opened #4500 "Can't resolve relative path for local artifacts when provisioning docker tasks"
### Nomad version
`0.8.4`

### Operating system and Environment details
macOS with Docker for Mac

### Issue
Receiving message _"failed to download artifact "../": relative paths require a module with a pwd"_

### Reproduction steps

I sent this to my API:

[code]

[2018-07-12 03:18] camerondavison commented on #4486
i was reading through
https://github.com/hashicorp/nomad/blob/86c1817334a67f845dfdba76b25a3441cedfe1c6/scheduler/reconcile.go#L251-L262
and then looking at the json blobs and noticed that the `.Job.Version` in the above output is `3` and the deployment `.JobVersion` is `4` am I reading that correctly? would that cause it to have this cancellation behavior? any idea what would get that out of sync?

[2018-07-12 08:32] wapclick commented on #4499
Thank you. I've tried this, but job was not rescheduled. I will try again.

[2018-07-12 08:36] kak-tus commented on #4499
Thank you. I've tried this, but job was not rescheduled. I will try again.

[2018-07-12 20:13] preetapan opened #4505 "Allow disabling binding to http/rpc ports on clients"
Since Nomad 0.8, Clients no longer need to bind to http/rpc ports for allocation logs/fs requests. Nomad should allow starting client agents with -1 as the http/rpc ports. Will need changes to how ephemeral disk migration works to support this.

More discussion context in #4482

[2018-07-12 20:13] preetapan commented on #4482
@sumerman Since Nomad 0.8.0 it is no longer necessary for clients to bind to the RPC or HTTP port for allocation stats to work, however there's more work outstanding around making config validation work when the ports are not specified, as well as handling ephemeral disk migration which still uses the HTTP port. I opened #4482 to track this.

[2018-07-12 20:15] preetapan commented on #4495
@fho thanks for the details. We plan to fix executor memory utilization in the upcoming release, 13MB is rather high.

[2018-07-13 01:39] camerondavison commented on #1191
i have not see this any more

[2018-07-13 01:39] #1191 closed

[2018-07-13 01:48] camerondavison commented on #4486
I am not sure if this is helping, but I am seeing it with another job. It looks like maybe there is a job version update happening that is unexpected. It could be because this job spec is from an old version of nomad?

[code]
you can see above that the job thinks that it is version 2, but the allocation thinks that it has a version 3 in it. And the job json says version 2.

[2018-07-13 04:46] lxy9805287 opened #4508 "too many many bugs"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `0.8.4`

### Operating system and Environment details
centos 6.5 x64
### Issue
### Reproduction steps

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appr

[2018-07-13 09:06] fho commented on #4495
@preetapan
The amount of memory that `nomad executor` consumes is not the issue.
As long as the task is in a cgroup with other processes , the task gets OOM killed when it uses less
memory then it's configured memory limit.

Let's assume the memory consumption of `nomad executor` was lowered from 13MB to 5MB.
Now I run a task with a low memory footprint of 2MB via nomad, configure it's memory limi

[2018-07-13 10:17] atrauzzi commented on #4500
That doesn't seem to work. The files have to be on the machine before I can reference them.  It's also not clear what my PWD or sucker context is when the commands run on the machine.

I know the path based on where I'm running the command, but it must be relative because it is inside of a repository that could be checked out anywhere on someone's hard drive.

[2018-07-13 13:10] hexfusion commented on #4508
@lxy9805287 could you please elaborate on the issue, I don't see any details of a single bug let alone many.

[2018-07-13 14:10] #4508 closed

[2018-07-13 14:18] preetapan commented on #4495
@fho see comments me and my co-worker made already about why the executor and script checks have to be in the same cgroup.

https://github.com/hashicorp/nomad/issues/4491#issuecomment-403942294
https://github.com/hashicorp/nomad/issues/4491#issuecomment-403946018

There's always going to be some amount of overhead from using the executor, and we will address that with a TBD mechanism - will likely

[2018-07-13 16:18] fho commented on #4495
@preetapan

Allowing script checks to run outside the task's container and resource limits would be a major security and isolation issue.

I don't understand yet why they have to be in the same cgroup.
It would be great if you could elaborate on it.

- What would be the disadvantages of other solutions like having each check and each nomad-executor in their own memory cgroups?
- What are the advan

[2018-07-13 22:23] qkate commented on #2560
Thanks all for the reports!  We're in the middle of some refactoring work right now that we are hoping will resolve this (and other!) issues.

[2018-07-14 13:25] jrasell opened #4511 "[feature] opentracing with Jaeger/Zipkin integration"
It could be advantageous to have Nomad configurable with optional tracing output to Jaeger/Zipkin using the [opentracing](http://opentracing.io/) standard in a similar manner to [Traefik](https://docs.traefik.io/configuration/tracing/).

Users could then setup tracing alongside their applications to have better visibility into the environment as a whole.

[2018-07-16 21:09] #2673 closed

[2018-07-16 21:25] Dirrk commented on #4500
@atrauzzi

I think you are misunderstanding how the artifact stanza works.  The artifact stanza defines an artifact that the nomad client will download/fetch before starting the nomad tasks.  This means that you must provide a remote artifact location (s3/http/git...) that the nomad client can retrieve said artifact from.   What it appears that you are assuming is that, when you run `nomad run` th

[2018-07-17 07:35] linuxgood1230 opened #4515 "[feature] control task restart/reschudle"
- sometime reschedule a task is cost too much.
   like database sechdule to another node , we need restore data, it is too slow.
-  reschedule  need a limit ratio or count in a job /taskgroup
     we do not know, what will happen, like network , iptables  cause rechedule.
     when reschedule/failed too many , we want stop reschedule, manual check
-   restart a task is also very useful

[2018-07-17 09:34] capone212 commented on #2560
Same problem, waiting for the solution/

[2018-07-17 17:40] Magical-Chicken commented on #4486
After investigating another occurrence of this bug, it appears that it may not be linked to job version numbers being incorrect, or at least not in all cases.

[code]

[2018-07-18 10:18] mveitas opened #4519 "Display details about docker image (sha256) in allocation UI Recent Events table"
It would be helpful to include some additional data about the docker image, such as the sha256 of the image) when viewing the details of an allocation we see a step in the "Recent Events": `Downloading image myecr.amazonaws.com/my-api:v1.0`.

[2018-07-18 10:19] shantanugadgil commented on #4401
hi @dadgar any updates on when/if this is planned? 🥇

[2018-07-18 16:10] Magical-Chicken opened #4520 "Nomad has running deployments for non existant jobs"
Nomad has running deployments listed for jobs which were stopped several months ago and have long since been garbage collected. It should not be possible to have running deployments for non-existent jobs, they should have been canceled when the job was stopped and garbage collected.

Nomad Version: `Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

This causes error messages in the nomad s

[2018-07-18 16:16] chelseakomlo commented on #4520
Thanks for reporting this issue. Can you please include further steps on how to reproduce this issue? For example, a sample job config, how the job was stopped/garbage collected, and the amount of time before you started to see this issue occur would all be helpful.

[2018-07-18 17:00] Magical-Chicken commented on #4520
Thanks for taking a look at this so quickly. Unfortunately, I do not have reliable steps to reproduce this issue, as it was recently found in our infrastructure, although in the next week or so I will hopefully have time to investigate this as well as https://github.com/hashicorp/nomad/issues/4299 which I suspect might be related, as both result in components of a job persisting after the job has

[2018-07-18 17:18] dadgar commented on #4520
Hey in some earlier releases of Nomad we had a data race were multiple deployments could be created. This has since been remedied and 0.8.4 includes a fix to remove the leaked deployments: https://github.com/hashicorp/nomad/pull/4329

So please upgrade to 0.8.4. If this issue still is there, let us know and we can re-open

[2018-07-18 17:18] #4520 closed

[2018-07-19 08:17] pznamensky commented on #2299
Would be very useful for us too.
We have tons of .nomad files and we wouldn't like to modify them all. Would be great to add some constraint/flag on client side.

[2018-07-19 15:52] dansteen commented on #4343
I seem to have this issue even when the data is not a map.   As an example,  given the following template stanza:

[code]
I find that it is re-rendering the secrets/file.env constantly.   As a note, the lease duration is set to quite high:

[code]

[2018-07-21 01:35] atrauzzi commented on #4500
What's the difference between local filesystem and S3 in this case then?  Sure, the only thing is the job. But if the machine the job is running on has files and I know where to find them...??

[2018-07-22 14:50] burdandrei commented on #4420
Adding my 2 cents:
we got 0.8.4 with ACL enabled running.
Here is the Anonymous policy:
[code]

We tried to use ```ephemeral_disk {
      migrate = true
      size    = "500"
      sticky  = true
    }
  }```

and this is what i can see in the client debug logs:
[code]

Looks like because Nomad client doesn't know to run with the agent token, like consul and anonymous token cant read the fs of the

[2018-07-23 04:51] Dirrk commented on #4500
@atrauzzi I personally would use the full path and mount a volume as I originally suggested. But as it stands it doesn't appear to support what you are trying to do.  Hopefully that helps.

[2018-07-23 08:24] burdandrei opened #4525 "Ephemeral disk migration fails when ACL is enabled"
### Nomad version
Output from `nomad version`
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.4 LTS"

### Issue
Ephemeral disk migration fails when ACL is enabled
Here is the Anonymous policy:
[code]

We tried to use ```ephem

[2018-07-23 13:21] schmichael commented on #4525
Nodes use an ephemeral "migration" token when using ACLs and migrating ephemeral disks. I'll investigate to see if there was a regression in 0.8.4

[2018-07-23 13:39] schmichael commented on #4525
Unfortunately I was unable to reproduce this using a 2 node cluster with ACLs enabled. I see the data migrated from one node to the other and a successful HTTP snapshot request (the request used to migrate):

[code]

I tried it a few times without error. Does this happen every time for you? Is every node in the cluster on 0.8.4? Can you post any logs associated with either of those alloc IDs on ei

[2018-07-23 14:51] volym3ad opened #4526 "Batch jobs fail to update periodic stanza"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.5 (stretch)
Release:	9.5
Codename:	stretch

### Issue
When adding `periodic` stanza to batch job I'll get the following error:
[code]
Even if I stop batch job and try to run it once more, the error remains.

The only way to m

[2018-07-23 14:59] angrycub commented on #4526
@volym3ad

If you run `nomad stop -purge «job name»` you should be able to resubmit the non-periodic job as a periodic job.  This is expected behavior and is to ensure that this change has been intentionally made by an operator.   I will look into improving the documentation around this state.

Please let me know if this resolves this issue for you.  Regards!

[2018-07-23 17:55] atrauzzi commented on #4500
Gotcha, thanks!

[2018-07-23 17:55] #4500 closed

[2018-07-23 19:42] burdandrei commented on #4525
Happened every time for me.
I triggered the migration by draining the node running the allocation.
Every node is 0.8.4.
I'll reproduce it and gather both server and client logs and will update.
Thanks for quick answer!

[2018-07-24 10:49] SoMuchToGrok commented on #4413
Is there anything additional we can do to help with this issue? We're still stuck on Nomad v0.7.1 because of this bug.

[2018-07-25 09:05] ygersie opened #4531 "[feature] readiness health checks"
Some situations require a one time (deployment) health check to pass. K8s has a separation between `liveness` and `readiness` health checks. Ideally Nomad would support the same thing. In some cases you might want to warm-up caches before inserting the service into the pool, or you want to wait for a new MySQL slave to be caught up with the Master. Is this on the roadmap somewhere?

I looked aroun

[2018-07-25 13:48] tantra35 opened #4532 "Nomad doens't make GC for manualy stoped batch allocations"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
If we made stop foar batch jobs then launch it again throw `nomad run`. Old Allocations will not be gc, manual gc also doens' help

### Reproduction steps
for example we have test job:

[code]

then we launch it  throw `nomad run ./test.nomad`, then stop(`nomad stop test`) then again `nomad run ./test.nomad`, then

[2018-07-25 16:34] #4456 closed

[2018-07-25 16:48] dropje86 commented on #4531
Hey Alex, yes I think you’d achieve the same thing. Basically a check which is specifically for deployments. If possible keeping the service registration of the others (for discovery purposes during and after deployment). So maybe using maintenance mode or smth?

[2018-07-25 23:19] robloxrob commented on #2214
I would like to see this as well. It would help people to default to using a more secure Hashistack environment. We should definitely encourage the use of TLS auth and ACLs to drive using the products with a focus on security.

[2018-07-26 03:32] lawliet89 commented on #1899
This issue is a little dated but I would like to chime in on this with my use case. I am currently using Vault to issue my jobs AWS credentials to write to S3. Since IAM is [eventually consistent](https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency), there is a short period of time (probably < 10s) between Vault's creation of the IAM

[2018-07-26 16:25] emate opened #4534 "Nomad deployment does not place desired canaries workers."
### Nomad version
Nomad v0.8.3

### Operating system and Environment details
Ubuntu 12.04

### Issue
When triggering new deployment with posting the new version of Job, scheduler produces only 26 out of 38 desired canary workers, ignoring explicit `Canary: 38` setting.
After promoting the current deployment, missing canary workers are placed.

### Reproduction steps
This seems to be related to the

[2018-07-26 18:03] dadgar commented on #4534
@emate Can you provide reproduction steps? And share the server logs as well if you had them in debug mode. A dump of the allocations via `v1/job/<name>/allocations` would be useful as well. Does this happen on 0.8.4?

[2018-07-26 19:49] adamsmithkld commented on #2633
This is even more important now that Docker for Windows supports side-by-side Linux and Windows containers (via the experimental feature). We are also a Windows development shop that builds Linux Docker containers. The only thing missing is Nomad support for Linux containers on Docker for Windows.

[2018-07-26 23:43] dadgar commented on #4526
Closing out since it’s expected and docs have been updated.

[2018-07-26 23:43] #4526 closed

[2018-07-26 23:43] dadgar commented on #4526
Closing out since it’s expected and docs have been updated.

[2018-07-27 10:08] emate commented on #4534
As soon as I will be able to find a repeatable way to reproduce that, I'll send an update, along with server logs (now I have them in INFO mode).
Allocations dump: https://gist.github.com/emate/533d60873f81e0031c31cc5640d2e8a0 - version 33 instead of version 31 there, but everything else is exactly the same.

I haven't tried 0.8.4 yet, but once I'll have a repeatable way to get into that state, I'

[2018-07-27 12:31] i-prudnikov opened #4537 "Service maintenance mode check removed by nomad agent from consul"
### Nomad & Consul version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`
`Consul v1.2.0
Protocol 2 spoken by default, understands 2 to 3 (agent will automatically use protocol >2 when speaking to compatible agents)`

### Operating system and Environment details
Server - Windows 2016 Datacenter, run on VM
Agent - Windows 2016 Datacenter, inside container microsoft/windowsservercore:late

[2018-07-27 15:12] i-prudnikov opened #4538 "Nomad agent raw_exec driver can't stop the process in windows container"
### Nomad version
 `Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details
Windows 2016 Datacenter, container (microsoft/windowsservercore:latest).

### Issue
Nomad agent can't stop an instance of application started with raw_exec driver, in windows container.
If the task is killed manually then in nomad GUI the related allocation switch to 'complete

[2018-07-28 00:09] leprechau commented on #545
Similar use case here.  We would like to be sure that things like our OAuth service, auditing service, etc.. are started and listed as dependencies before other backend applications start.

[2018-07-28 21:53] jippi commented on #4531
I could use this as well - my case is like this

We run a lot of Redis clusters in Nomad, using [Resec](https://github.com/yotpoLtd/resec/) - some of these clusters are rather big (12GB+ data). We run 1 master + $n replicas

During a rolling replacement, we need to health-check the following (using [redis-health](https://github.com/seatgeek/redis-health))

1) Redis is running
2) that Redis is not

[2018-07-29 06:45] nicolai86 commented on #2115
Is there any information where this is on the roadmap?

[2018-07-29 07:11] Dirrk commented on #4531
I just proposed this last week with no feedback but I feel like it follows the pattern of the existing configs  https://github.com/hashicorp/nomad/issues/4496

[2018-07-29 14:16] burdandrei commented on #4525
Hi @schmichael
here is what we have:
Job description:
[code]

here are the logs from node A:
[code]

Here are the logs from node B:
[code]
Couldn't ding anything on the server side(Leader).
Anything else i can do to debug this?

[2018-07-30 15:12] tantra35 commented on #4477
@preetapan A few seconds agon on one of our cluster diff between `last_snapshot_index` and `last_log_index` is 8192, and snapshort action was performed, but `raft.db` still huge about 17GB(not truncated),

[code]

but snapshot(`state.bin`) is about 130MB

[code]

This looks like a bug

[2018-07-31 15:50] Jeff-Hanson opened #4542 "Specifying a non-existent job version causes SEGV in nomad CLI"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
09:36 $ nomad version
Nomad v0.8.4

### Operating system and Environment details
OSX 10.12.6

### Issue
When running 'nomad job history -full -version bad-ve

[2018-07-31 16:53] preetapan commented on #4537
@i-prudnikov Thanks for the details and reproduction steps, I confirmed this behavior as well.

As part of #4170 we made an assumption that any checks registered on behalf of Nomad tasks are only created and managed by Nomad, so we remove extraneous checks that Nomad is not aware of. This plays badly with maintenance mode, which caused the behavior you saw.

We'll fix this in an upcoming release f

[2018-08-01 00:12] preetapan commented on #4542
Thanks for the bug report @Jeff-Hanson, was able to repro this. We'll fix this in the upcoming release.

[2018-08-01 04:33] mlehner616 commented on #4241
Just a bump on this. Because nomad is so strict on memory reservations, it is really crucial to be able to measure a given allocation's usage against its own reservation over time. Measuring this in real time via API is _almost_ pointless because it doesn't account for so many things that can happen while you're not observing the task (nightly process or high load request for example).

[2018-08-01 05:54] shvar commented on #3924
@hihellobolke, this not exactly an answer to your question, but we recently managed to find out a workaround for a similar issue. We tried to run nomad in circleCI container and when it got a task for dispatch, it failed with the same error.

Turned out, that this was happenning because of the fact, that Nomad drops permissions and tries to mount task directory to the client's folder, that was cre

[2018-08-01 07:00] pengchujin opened #4546 "Can't run a consul nomad job by -bind $(hostname -i)"
### Nomad version
nomad_0.8.4_linux_amd64

### Operating system and Environment details
Ubuntu 16.04 alibabaCloud
I can run the consul by:
[code]
But can't run consul job by this
[code]
Bcause  ECS has Multiple private IPv4 addresses

### Job file (if appropriate)
[code]