[2018-08-01 07:57] jippi commented on #4546
`command` is not a shell/bash interpreter, so you would need to do something like, manually calling bash and the command you wish to run

[code]

[2018-08-01 08:15] pengchujin commented on #4546
[code]
because i am using consul arifact is not ok, but i added consul to /usr/local/bin in the client i can run it .
thanks!

[2018-08-01 08:42] i-prudnikov commented on #4537
@preetapan thank you for fast reply! Will wait for next nomad release.

[2018-08-01 15:13] shantanugadgil commented on #1371
Hi, sorry for necromancing this thread, but I am getting this intermittently when dispatching a parameterized job.

I am submitting from my on premise server. The other server is on AWS.

[2018-08-01 15:31] preetapan commented on #4538
Discussed this internally, and running the nomad client inside a docker container isn't something we support or recommend even for Linux users. We do not recommend adding another layer of abstraction here with a windows docker container. Going to close this out, as this is not a common way of running Nomad.

[2018-08-01 15:31] #4538 closed

[2018-08-01 18:28] camerondavison opened #4550 "cpu.frequency wrong for c5 amazon machines"
`/sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq` does not exist for CoreOS `1800.5.0` running AWS `c5.9xlarge` or `c5.4xlarge`

This is causing `cpu.frequency` to use the `/proc/cpuinfo` value which is a point in time value not the max cpu freq.

[2018-08-02 01:23] robloxrob opened #4555 "Unable to revert a Nomad job with Vault policies when allow_unauthenticated is set to false"
### Nomad version
Nomad v0.8.4

### Operating system and Environment details
CentOS 7.5

### Issue
Unable to revert to a previous revision of a job when `allow_unauthenticated` is set to false on the nomad server. We can create the job and the validation works. However when attempting to do a revert I get a 500 error that the Vault token is missing. This is a similar error I would receive if I did

[2018-08-02 08:43] yellowmegaman commented on #1061
Also would be happy to see this live.

Got very simple and important use case - flush cassandra database before shutdown.

[2018-08-02 12:31] Anand231985 opened #4556 "failed to allocate all place holder"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue

### Reproduction steps

### Nomad Server logs (if appropriate)
==> Evaluation "319a92a8" finished w

[2018-08-02 12:31] Anand231985 commented on #4556
I have few dead jobs on the server. Is there a way to release them.

[2018-08-02 18:14] preetapan commented on #4546
Closing, thanks for helping the community @jippi

[2018-08-02 18:14] #4546 closed

[2018-08-03 00:18] schmichael commented on #4550
Hi @camerondavison!

Are you running Nomad in a container on CoreOS? Is sysfs mounted and readable inside the container? Can you use `rkt enter` to find out?

sysfs is the standard way to read CPU frequency. Please let me know if you're aware of another interface, and I'd be more than happy to try to get this fixed in our upstream library!

In the mean time you'll have to manually set the CPU freq

[2018-08-03 01:35] Magical-Chicken commented on #4550
Hi @schmichael, thanks for taking a look at this,

We are not running the nomad client in a container, it is run directly via a systemd unit file. The same nomad client configuration and invocation is used across multiple different instance as workers for an autoscaling group, but only the c5 series of aws instance types seem to have this issue.

In theory the dmi/smbios data should be correct in

[2018-08-03 17:29] schmichael commented on #4550
Thanks for looking into this!

`dmidecode` would be a good fallback option since Nomad is usually run as root. Strange that only that one instance type is missing the sysfs entry we look for. Are any cpu stats available via sysfs? Maybe there's another option? This almost smells like a kernel/hypervisor bug.

Can you grep for `CONFIG_CPU_FREQ` in your kernel's build config (eg `/boot/config-4.15.0

[2018-08-03 18:56] sethvargo commented on #1760
Closing due to inactivity. I'm trying to get the list of issues I've submitted under control, and it doesn't look like there's interest in building this functionality at this time.

[2018-08-03 18:56] #1760 closed

[2018-08-03 18:56] sethvargo commented on #1777
Closing due to inactivity. I'm trying to get the list of issues I've submitted under control, and it doesn't look like there's interest in fixing this bug at this time.

[2018-08-03 18:56] #1777 closed

[2018-08-03 18:56] sethvargo commented on #1781
Closing due to inactivity. I'm trying to get the list of issues I've submitted under control, and it doesn't look like there's interest in building this functionality at this time.

[2018-08-03 18:56] #1781 closed

[2018-08-03 18:56] sethvargo commented on #1881
Closing due to inactivity. I'm trying to get the list of issues I've submitted under control, and it doesn't look like there's interest in fixing this bug at this time.

[2018-08-03 18:56] #1881 closed

[2018-08-03 18:57] sethvargo commented on #1882
Closing due to inactivity. I'm trying to get the list of issues I've submitted under control, and it doesn't look like there's interest in fixing this bug at this time.

[2018-08-03 18:57] #1882 closed

[2018-08-05 04:46] nicolai86 commented on #3854
@latchmihay I tried this to retrieve S3 credentials from vault but it did not work for me combined with the artifact element...

[2018-08-06 14:37] chelseakomlo commented on #4556
Have you tried GCing these jobs? https://www.nomadproject.io/api/system.html#force-gc

Do you mind outputting the status of the jobs which are dead but haven't been removed from the Nomad client? https://www.nomadproject.io/docs/commands/job/status.html

[2018-08-06 18:55] yellowmegaman commented on #2509
Since creating this issue, I've reworked all containers to be host-independent, even databases. But not load balancers.

But still, sometimes i wish i could place priority for databases to be on higher IOPS instance/geo stuff without making strict constraint.

[2018-08-06 19:17] jippi commented on #2509
See #4513 :)

[2018-08-07 14:57] jippi opened #4560 "Nil pointer when an allocation's task group is no longer found on the job"
### Nomad version

Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue

Nil pointer on all servers when they get raft leadership

I'm not sure what was done to get into this state, but a nil pointer should never happen :)

[code]

[2018-08-07 15:11] preetapan commented on #4560
@jippi Digging through the code, looks like this happens when an allocation's task group is no longer found on the job - https://github.com/hashicorp/nomad/blob/v0.8.4/nomad/structs/structs.go#L5987. Would be curious to see the alloc/job details if you have them.

Nomad should not have panicked though, will fix this in the upcoming release.

[2018-08-07 15:15] jippi commented on #4560
My current fix is this

[code]

[2018-08-07 15:16] jippi commented on #4560
@preetapan based on the stack trace and the logs just before it, i can't find any reference to what job exactly that is causing it to crash - guidance is welcome if you got some pro-tips :)

[2018-08-07 17:46] cpg1111 opened #4561 "Specify Layer 4 Protocol for Port Allocation"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details
From `uname -a`: `Linux <redacted hostname> 4.15.0-29-generic #31~16.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

### Issue
I will preface this with the fact I'm not entirely sure this is the best place for a feature request, but...

Currently,

[2018-08-07 20:11] yellowmegaman commented on #2509
@jippi thanks!)

[2018-08-07 21:26] camerondavison commented on #4550
not sure if this is what you are asking for or not, but
[code]
looks mostly the same across all instance types for me

[2018-08-07 23:43] schmichael commented on #4550
Yup! Thanks! Just wanted to sanity check that CONFIG_CPU_FREQ was set. Really not sure what's going on on this instance, but it seems like a kernel/hypervisor bug.

Still hopefully we can land dmidecode support upstream to offer a workaround. In the mean time you'll have to set the [`cpu_total_compute`](https://www.nomadproject.io/docs/agent/configuration/client.html#cpu_total_compute) client conf

[2018-08-08 07:54] jippi commented on #4550
On Ubuntu 14.04 i get the correct `54416` value for c5.4xl instance

[2018-08-08 11:10] arnobroekhof opened #4562 "Unable to disable update checking"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 LTS"

### Issue
Unable to disable update checking

### Reproduction steps
put the following setting into the nomad configuration file:

[code]

### Nomad Serve

[2018-08-08 11:46] sirkjohannsen opened #4563 "[BUG] Dimension "disk" exhausted is not true"
### Nomad version
[code]
### Operating system and Environment details
Ubuntu 16.04
[code]
### Issue
When trying to schedule a job I get
[code]
although there is more than enough disk-space available .
How can this be possible.
I restarted all clients multiple times but nothing seems to fix this issue.

### Reproduction steps
[code]

Also - the node shows weird stats:

[code]

### Job file (if appr

[2018-08-08 11:53] sirkjohannsen commented on #4563
Addtionally the `unique.bytesfree` value is completely wrong as well:
[code]
[code]

[2018-08-08 11:59] sirkjohannsen commented on #4563
Followup:
After removing the node completely from the cluster (deleting the `data_dir`) and adding it as a new node, it actually shows up with correct values:
[code]

[2018-08-08 13:37] chelseakomlo commented on #4563
Is it possible that you re-sized the available disk after the client had started up? Fingerprinting disk space isn't done dynamically so it is possible this metric could get out of sync. See https://github.com/hashicorp/nomad/issues/3151 for more information.

[2018-08-08 13:58] sirkjohannsen commented on #4563
The disk was resized at some point but the client was restarted many times afterwards.

[2018-08-08 15:00] Miserlou commented on #2390
In case anybody is here looking for this **basic functionality that Nomad should provide but doesn't**, and you have **likely made a mistake by choosing this stack**, you can at least try this:

[code]

[2018-08-08 22:36] byronwolfman opened #4566 "Promoting a canary causes its service check to immediately become critical"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
Consul v1.2.0

### Operating system and Environment details
CentOS Linux release 7.5.1804 (Core) (EC2)

### Issue

Our engineering teams have noticed that their web apps sometimes brown out whenever we promote canaries. Many of these apps are very small, and we only run two containers. Therefore in our update stanza we set `

[2018-08-08 22:54] byronwolfman commented on #4566
For fun, I fired up an old test environment that's running an older version (Nomad v0.7.1 (0b295d399d00199cfab4621566babd25987ba06e)). This problem does not occur on 0.7.1 since consul service definitions are not replaced.

Using the same workflow as above, I can check during deploy:

[code]

And then after promoting:

[code]

[2018-08-09 03:30] shantanugadgil commented on #4566
Wow, I too had observed such behavior when using a test setup of Dockers and using blue green promotion.

I had marked it as something I had done wrong among the myriad of options between `check_restart` and `restart` stanzas.

but I guess others are facing a similar issue.

I haven't tried using a previous version to see if blue green works.

BTW, the usual rolling upgrade setting works, i.e. ser

[2018-08-09 04:16] RenEvo commented on #2633
Is there any traction on this, currently even with drive sharing in windows, nomad is unable to allocate a job due to permission denied on mounting drives.

[code]

I am able to mount volumes when running containers natively with docker for windows (linux containers, non-experimental), but nomad isn't able to mount.

PS: I am running nomad on windows, instructing to use the pipefile.

[code]

[2018-08-09 04:27] RenEvo opened #4567 "Enterprise only Error SPAM"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
[code]

### Operating system and Environment details

Windows

### Issue

Error Log Spam for enterprise only:

[code]

### Reproduction steps

Start single n

[2018-08-09 12:05] ramSeraph commented on #4566
saw this too.. with nomad 0.8.4 and consul 1.2.0 and this happened when I was trying out canary tags.. I thought it was a misconfiguration on my part and didn't get a chance to really check it out.

[2018-08-09 13:09] byronwolfman commented on #4566
https://www.nomadproject.io/docs/job-specification/service.html#initial_status

Yep, but I've described why this is almost worse than the service check flapping to critical. By setting `initial_status = "passing"`, the task will immediately enter into the catalog and start receiving traffic whether it's ready or not ("not" meaning that it is still starting up, or that it is panic-looping).

We don

[2018-08-09 15:51] chelseakomlo commented on #4561
Thank you for the feature request- after discussing this as a team, we are going to close this as it isn't clear what the intended use case of adding this feature would be. Furthermore, adding this feature would also add more complexity for operators when writing a jobspec and also add more complexity to scheduling decisions/operations.

Feel free to add use cases to this ticket and we can continu

[2018-08-09 15:51] #4561 closed

[2018-08-09 16:31] cpg1111 commented on #4561
I'm sorry, I tried presenting a use case, but it must not have been clear.  The particular use case I was trying to convey involves having two jobs, these jobs need to be on a specific reserved port due to requirements of a protocol, lets use DNS for example, this is a protocol that is both over TCP and UDP, now if one job handles all TCP traffic and another job handles all UDP traffic, but need p

[2018-08-09 18:49] dadgar commented on #4567
Hey we will likely fix this in 0.9.1

[2018-08-09 19:36] chelseakomlo commented on #4562
Thanks for reporting this issue- we reproduced the issue and will be adding a fix for this in our upcoming release.

[2018-08-10 09:53] sboisson opened #4569 "Add nomad driver for Facebook eXecutable ARchives (XAR)"
Facebook has developed and deployed XARs, or eXecutable ARchives, a system for distributing self-contained executables that encapsulate both data and code dependencies.

https://code.fb.com/data-infrastructure/xars-a-more-efficient-open-source-system-for-self-contained-executables/

A XAR is a simple combination of a few primitives:

- A four-kilobyte preamble that is a shebang pointing to a helpe

[2018-08-10 17:53] Xopherus commented on #4413
I was able to reproduce with the following:

* 1 Consul agent on version 1.0.6 (dev-mode)
* 1 Vault server on version 0.10.2
* 1 Nomad client and 1 Nomad server on version 0.8.4 / 0.9.0-dev (non-dev-mode)

When you re-issue a cert and send a SIGHUP to the nomad client, everything is fine. It's when you re-issue a cert for the **nomad server** that the problem manifests itself.

## Nomad Server Log

[2018-08-10 19:11] Xopherus commented on #4413
I believe I found the issue! I will open a PR with a proposed fix - let me know if that will be acceptable!

@dadgar @cheeseprocedure

[2018-08-13 05:59] shantanugadgil commented on #4566
@byronwolfman apologies, I didn't see you have already mentioned setting the `initial_status` as `passing` in your original post.

I too had thought about the side effects of marking something healthy when it is not.
Thankfully, the apps where I use it have retry mechanisms which let this behavior slide. 😉

Regards,
Shantanu

[2018-08-13 11:47] jrasell opened #4575 "[feature] Allow Nomad agent to log in JSON format"
Collecting Nomad agent logs for aggregated logging is currently annoying particularly due to the agent config startup message. It would be nice if operators could specify what logging format to choose, including the option to log in JSON format.

[2018-08-13 12:29] jippi commented on #4575
huge 👍 on this - ideally logging in Gelf or similar standard format would be huge win

[2018-08-13 18:28] chelseakomlo commented on #4569
Thanks for opening this request- Nomad 0.9 will add support for pluggable externally-maintained drivers, so this is something that can be externally written and used by the community in later Nomad releases.

[2018-08-13 18:28] #4569 closed

[2018-08-13 20:02] #4562 closed

[2018-08-13 20:06] Jeff-Hanson opened #4576 "Provide vault tokens to nomad to use for docker-credential helper"
If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad 0.8.4

### Operating system and Environment details
Any

### Issue
Currently there is no way to provide a vault token that can be used by a docker-credential helper. The credential helper would use the vault token to retrieve private docker repo credentials to be used by nomad to satisfy a job with a

[2018-08-13 21:08] chelseakomlo commented on #4555
It is worth looking at whether this issue is also related to https://github.com/hashicorp/nomad/issues/4226

[2018-08-13 22:23] dbresson opened #4578 "secrets/vault_token created with execute permissions"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
Ubuntu

### Issue
When using the vault integration, a file is dropped in secrets/vault_token. For no good reason I can imagine, this file is mode 0755.

### Reproduction steps
Use the vault integration and check the permissions of secrets/vault_token.

[2018-08-13 22:28] schmichael commented on #4578
This is a bug! It has been fixed in the client refactor feature branch that will land for v0.9: https://github.com/hashicorp/nomad/blob/r-arv2/client/allocrunnerv2/taskrunner/vault_hook.go#L338

[2018-08-13 22:28] #4578 closed

[2018-08-13 23:46] chelseakomlo commented on #4408
Fixed in #4476

[2018-08-13 23:46] #4408 closed

[2018-08-14 02:50] onlyjob opened #4579 "8.4.0: driver.rkt: panic: runtime error: invalid memory address or nil pointer dereference"
[code]

### Nomad version

Nomad v0.8.4

### Operating system and Environment details

Debian "amd64"; rkt-1.30.0

### Reproduction steps

`nomad job run` with job where `driver = "rkt"`.

[2018-08-14 03:23] onlyjob opened #4581 "please upgrade vendored "runc" to latest released version"
Currently vendored _runc_ uses random in-between releases commit from March 2016.

Please upgrade _runc_ to [current release v1.0.0-rc5](https://github.com/opencontainers/runc/releases) (fast-forward to February 2018) and please remember to vendor by release tag/commit whenever possible.

Thanks.

[2018-08-14 03:38] shantanugadgil commented on #4562
@chelseakomlo Is 0.8.5 happening anytime soon? 😄  OR do we have to wait for 0.9.0 ?!? 😢

[2018-08-14 04:44] onlyjob commented on #4579
Please disregard this bug report. The problem was caused by my immature patch to build with newer runc... Sorry.

[2018-08-14 04:44] #4579 closed

[2018-08-14 05:07] onlyjob commented on #2629
Being able to set hostname is quite important as some applications need certain hostnames. Definitely worth implementing.

[2018-08-14 05:11] onlyjob commented on #2657
I think it is worth implementing to avoid specific bugs about adding new options to stay in sync with _rkt_. For instance I could use `rkt_options` to set `--seccomp` option as one of my apps does not work with current defaults.

[2018-08-14 16:43] robloxrob commented on #4555
I don't believe they are related. My issue seems to occur for an API call against a Nomad master to the revert the job to a previous version. The issue #4226 is related to restarting the Nomad client service.

[2018-08-14 18:34] onlyjob opened #4585 "Please provide bash-completion(s)"

[2018-08-14 18:35] onlyjob opened #4586 "Please build man pages"
Man pages might be possible to generate from docs...

[2018-08-14 18:39] chelseakomlo commented on #4585
Nomad provides CLI autocompletion: see https://www.nomadproject.io/docs/commands/index.html#autocomplete

Please re-open this ticket if this isn't what you had in mind or if there are other use cases that aren't captured.

[2018-08-14 18:39] #4585 closed

[2018-08-14 18:56] onlyjob commented on #4585
This is odd and unusual way to install autocompletion... Is there a way to get it on build-time for distro-friendly installation?

[2018-08-14 19:12] onlyjob commented on #4585
This is a very confusing feature... When `nomad -autocomplete-install` runs as `root` it is completely silent and no new files appear neither in `/etc/bash_completion.d` nor in `/usr/share/bash-completion/completions`.

When run as user it throws an error:
[code]

Apparently it injects `complete -C /usr/bin/nomad nomad` into `.bashrc` which is a wrong way to install completion.

P.S. I can't re-op

[2018-08-14 19:26] onlyjob commented on #4302
FYI, https://github.com/hashicorp/nomad/pull/4305#issuecomment-412978568

[2018-08-14 19:36] onlyjob commented on #4581
The following patch fixes FTBFS with v1.0.0~rc5 and appears to work well:

[code]

For the record, the above patch fixes the following:

[code]

[2018-08-14 20:04] dadgar commented on #4586
Hey we currently have no plans of doing this. If you would like to create a PR to automate the generation, we would consider it but this isn't something we will be doing at the moment.

[2018-08-14 20:04] #4586 closed

[2018-08-14 20:14] onlyjob commented on #4586
Fair enough, but It would be nice to keep the issue open to encourage contribution.

[2018-08-14 21:34] #4542 closed

[2018-08-15 01:08] onlyjob commented on #2052
A relevant discussion happened in #4305. @insanejudge, @schmichael.

Indeed draining node on shutdown is the best and service file could be adjusted to do that. However graceful restart can not be implemented in systemd service because it can not distinguish shut down from restart. Regardless, `KillMode=control-group` (default) is better than `KillMode=process` because the latter does not guarante

[2018-08-15 02:45] onlyjob commented on #2560
I get this very often on v0.8.4 after restarting _nomad_ after full drain: daemon just fails to start (after clean shutdown) with the following error:

[code]

Removing `/var/lib/nomad/client/state.db` helps but should not be necessary...

[2018-08-15 12:49] huntercatalan commented on #3660
ServiceID used (nomad 6.3) to default to _nomad-executor-{{ALLOC_{{TASK_NAME}}-{{SERVICE_NAME}}

It appears that in Nomad 0.8.4 this ID has become _nomad-task-{RANDOM_HASH}.

Previously, I could derive the ServiceID for unique services (even if multiple ran on same box) through environment variables assuming the service name is default or provided. I can no longer derive this id, which breaks serv

[2018-08-15 14:53] Miserlou commented on #4446
We also have this problem. We use dispatch jobs and don't manually deregister anything.

[code]
ad infinitum.

[code]

You'll also note the we apparently have `-64` jobs running.

Serious question: does Hashicorp actually use Nomad for anything _real_? Real meaning: significantly sized jobs in production? I get the feeling that nobody is actually using this tool for anything serious in house. For

[2018-08-15 17:40] shantanugadgil commented on #4446
@Miserlou

does it take time even if the output is redirected to file?

[code]

[2018-08-15 20:47] camerondavison opened #4587 "[feature] add labels to blocked eval metrics"
https://github.com/hashicorp/nomad/blob/812881a11ba5750fe361c38fc224f425ad5ea4b1/nomad/blocked_evals.go#L604

add labels like type and job id

[2018-08-16 15:44] huntercatalan commented on #2086
Not sure why this is marked as an enhancement. My nomad jobs are registering themselves as services (within my code) and registering checks associated with those services. (within my code). When nomad runs a garbage collection cycle, it decides to deregister my services/checks. What gives nomad the right to do that? What if my job is registering services external to itself (this job just happens t

[2018-08-16 18:08] xmackex opened #4589 "Nomad migration/drain issue"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
CentOS Linux release 7.5.1804 (Core)

### Issue

I've faced an issue with node draining and `migration` stanza.

It seems that Nomad does not respect `min_healthy_time` option.

Here are details:
- 2 nomad jobs with `count = 2`
[code]

- 2 nomad client nodes, all allocations are

[2018-08-16 18:13] dadgar commented on #4589
@xmackex Hey it looks like some of those allocations are from separate jobs? There is no coordination between jobs. Would you mind giving the output of curling the /v1/job/<job-name>/allocations endpoint. Also if you have server logs that are in debug mode, those would be great to see as well.

[2018-08-16 19:49] dadgar commented on #4589
@xmackex Can you post a set of reproduction steps with the jobs you use.

[2018-08-16 20:04] dadgar commented on #4589
Looking at the logs you gave it looks well behaved:
[code]
We can see that it took 3 minutes to migrate two which is right about your 90 second healthy time

[2018-08-16 20:07] dadgar commented on #4589
@xmackex I would clear out the cluster of those jobs, set the debug level of the servers to trace and start over. If you share the allocs, server logs and the output that is incorrect that would be the most useful.

[2018-08-17 05:39] xmackex commented on #4589
@dadgar sorry for late reply

I cleared all cluster jobs, created 2 new jobs which use plain nginx image.
Unfortunately I see same issue. Issue happened with job-B.
[code]

As I understand from the log second evaluations of `job-B` migration started in 1 second after first one, despite `min_healthy_time`

[jobs.zip](https://github.com/hashicorp/nomad/files/2296097/jobs.zip)
[nomad_debug.log](https

[2018-08-17 09:37] jrasell opened #4593 "[feature] allow reload of Consul config stanza and Consul client"
When using TLS for Consul connectivity, it is obviously preferable to use low TTL certificates with frequent renewal. Currently in order to renew the Consul certificates the Nomad client must be restarted. It would be preferable if the Nomad client could use SIGUP in order to reload the Consul client/config like reloading the Nomad TLS certificates. This would be a much less intrusive operation an

[2018-08-17 14:37] Miserlou commented on #1782
+1 for this, it's basic functionality for a job scheduler. Amazing this doesn't exist. @mlehner616 is obviously correct about why having the timeout checker inside the container itself is a boneheaded recommendation. We got bit by 3 hung jobs out of 100,000 that prevented our elastic infrastructure from scaling back down.

[2018-08-17 18:38] marcosnils commented on #698
Is there a way to do this but without having downtime?. Stopping and running the job won't honor the update stanza.

[2018-08-17 19:29] maihde commented on #698
@marcosnils the workaround I've used is placing something in the `meta` stanza that can be changed as described in this post.

https://github.com/hashicorp/nomad/issues/698#issuecomment-367789499

Of course this is kinda annoying, hence the reason I made the pull-request that added the restart behavior directly.

[2018-08-18 02:26] AndrewSav commented on #1782
@Miserlou as mentioned earlier in this thread a workaround would be to wrap your app in a timeout script. There is an example of how you can do it above. That might save your beckon in the scenario you described.

[2018-08-18 14:41] ershad commented on #419
Would love to have this feature!

[2018-08-18 23:26] davidMcneil opened #4601 "Unable to perform any non-GET request due to CORS"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Ubuntu 16.04

### Issue
When attempting to perform a non-GET request to the http ap

[2018-08-19 13:14] orarnon opened #4602 ""panic: runtime error: invalid memory address or nil pointer dereference" Kill Nomad Cluster"
### Nomad version
0.8.4

### Operating system and Environment details
Ubuntu 16.04

### Issue
panic: runtime error: invalid memory address or nil pointer dereference
### Reproduction steps
No idea.
### Nomad Server logs (if appropriate)
[code]
### Nomad Client logs (if appropriate)

### Job file (if appropriate)

[2018-08-20 13:43] tkoestler commented on #1897
Is this ever going to be addressed?

[2018-08-20 17:16] davidMcneil commented on #4601
I believe it is because the OPTIONS method is not correctly supported. I believe the consul fix was here https://github.com/hashicorp/consul/pull/3885

[2018-08-20 21:32] byronwolfman commented on #4566
Hi all, any traction on this?

[2018-08-20 21:57] dadgar commented on #4602
Hey thanks for reporting! Will get this fixed for the next release!

[2018-08-20 22:00] dadgar commented on #4602
Actually already fixed in master! https://github.com/hashicorp/nomad/pull/4474/files

[2018-08-20 22:00] #4602 closed

[2018-08-20 23:06] tantra35 opened #4604 "Constantly increased sockets inside nomad server or client in CLOSE_WAIT state when working with nomad http api"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
We have a script that periodically call nomad api(we request nomad server, not client) to make some statistic about launched jobs. Our nomad setup is a federation between 4 regions(in nomad terminology). In this script we call nomad api and if response took too long time(timeout), close connection

The code below

[2018-08-20 23:30] scalp42 opened #4605 "Nomad unable to parse network speed on AWS instances C5 & M5"
### Nomad version

[code]

### Operating system and Environment details

[code]

### Issue

Starting Nomad client, seeing the following in the log:

[code]

This is related to the new `ens5` on M5 instances vs old `eth0`:

[code]

[2018-08-20 23:34] scalp42 commented on #4605
On a T2.medium instance:

[code]

On a C5 instance:

[code]

[2018-08-21 07:45] orarnon commented on #4602
Hi @dadgar and thanks for replying.
Can you elaborate what has caused this issue? It happened when we tried to upload a new job spec but we're not sure that's the reason.
Was this version of master already released? (we have the latest 0.8.4) already

[2018-08-21 08:56] yellowmegaman opened #4606 "Flag to wait till deployment actually succeeded"
Hello there! Question here.

It would be really great if i could run `nomad run` and it won't release terminal till deployment is not only scheduled, but also completed successfully.

Use case:
- all deployments are being run from CI
- template nomad job against some environment via consul-template
- or template nomad job via terraform (template_file)
- plan/run template to deploy stuff
- terminal

[2018-08-21 10:02] jippi commented on #4606
a work-around for now is to use [jrasell/levant](https://github.com/jrasell/levant)

[2018-08-21 10:52] yellowmegaman commented on #4606
@jippi thanks! seen it before, never had a chance to use it yet.

In my opinion it's not something that should be external to nomad, since it is already aware of the state of deployed services.

Anyway, gonna try levant for now, leaving issue open in case there would be some update whenever feature may land on roadmap for some future release.

[2018-08-21 13:42] jippi commented on #4606
Yes, I'm pretty sure Nomad will eventually support this - should be pretty trivial to add - just wanted to unblock you until Nomad got native support  :)

[2018-08-21 13:56] yellowmegaman commented on #4606
@jippi in that you've succeeded =) Thank again

[2018-08-21 15:55] yellowmegaman commented on #4606
Well, levant seems to be completely broken, deploying nomad job with broken on purpose healthcheck results in success, so hope this issue will see some attention someday.

[2018-08-21 16:58] jrasell commented on #4606
@yellowmegaman feel free to raise an issue against Levant and I can take a look into it. We use it extensively and successfully so I would be curious what the issue is.

[2018-08-21 17:36] dadgar commented on #4606
@yellowmegaman I do think it is a good feature and would want to add it. @jrasell PRs welcome 😄

[2018-08-21 18:10] xmackex commented on #4589
@dadgar
same setup, 2 nodes, 2 jobs, count=2
I set default migrate policy for all jobs.

And the main issue that I face is that 2 allocations of the same job (but random if reproduce several times) are migrated at one time

Allocations:
[code]

Drain monitor:
[code]

As I can see here allocations that belong to same job became `status running -> complete` despite default `min_healthy_time`
[code]

[2018-08-21 19:32] yellowmegaman commented on #4606
@dadgar that is super-awesome =)
@jippi https://github.com/jrasell/levant/issues/227

[2018-08-21 20:38] tantra35 commented on #4604
The same happens on client nodes, except logs slightly different, because on client rcp pool used

[code]
 and if we made many http requests to nomad api with timeouts we see many follow sockets (`lsof -p <nomad pid>`):

[code]

[2018-08-21 21:04] tantra35 commented on #4605
I think that is not a bug, due of limitations of aws virtualisation platform ethtool <interface> doesn' t print too much info like on real hardware

you may use https://www.nomadproject.io/docs/agent/configuration/client.html#network_speed, as work around, also you may note that real network speed in aws depend on instance type, and doesn't published in official documentation. You may use follow s

[2018-08-22 00:42] schmichael commented on #4589
Hi @xmackex, I'm going to take a crack at this one. I have a 2 client 1 server v0.8.4 cluster (with Consul 1.2.2) and have tried to reproduce your job as closely as possible: https://gist.github.com/schmichael/911b288f6e2af3a970771874ae960b48

However when draining a node with both allocs on it, it appears to properly honor the 90s min healthy time:

[code]

I'm just running 3 Vagrant VMs in a pre

[2018-08-22 04:35] xmackex commented on #4589
Hi @schmichael
Here is what I have:

* Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
* Consul v1.2.2
All servers are on AWS

Nomad:

* 1 server
* 2 clients:
    * `770642f0  us-west-1  client-1  dev    false  eligible     ready   0`
    * `04b803d2  us-west-1  client-2  dev    true   ineligible   ready   1`

How do I reproduce:

1. Restart nomad server (debug log)
2. `export NODE='04b803

[2018-08-22 07:32] jippi opened #4607 "Nomad Server: fatal error: concurrent map read and map write"
### Nomad version

`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details

[code]

### Issue

Nomad server panics with `fatal error: concurrent map read and map write`

It happened on 2 out of the 3 Nomad servers in the cluster

Restarting the Nomad servers causes them to panic the same way after a short time

Clients seem unaffected

`go test -race

[2018-08-22 12:59] Anand231985 commented on #4556
Yes. I tried but it didn't help.

[2018-08-22 13:02] Anand231985 opened #4609 "Vault installation on Linux"
I want to install the Vault on UBuntu. I have the precompiled binary zip file.
it would be very happy to provide the step by steps to have the vault initialized.

[2018-08-22 16:58] dadgar commented on #4609
@Anand231985 Hey, I would check out the getting started guide for Vault: https://www.vaultproject.io/intro/getting-started/install.html

Going to close as this is a question and for a different product. Good luck.

[2018-08-22 16:58] #4609 closed

[2018-08-22 17:11] preetapan commented on #2657
We discussed this internally yesterday. Will be closing this ticket for two reasons:

- With such a generic way to pass options, we have concerns that it allows bypassing resource constraints or other properties that are explicitly set through existing rkt driver options. There are ways we can address that in the implementation, but it didn't seem worth it.
- Our upcoming plugin work in 0.9 which

[2018-08-22 17:11] #2657 closed

[2018-08-22 20:18] camerondavison commented on #1956
any update on this?

[2018-08-23 07:44] onlyjob commented on #2657
Well IMHO this ticket should be closed in favour of other viable solution and at the moment I see none... :(
I came across this due to lack of facility to pass `--seccomp` option. Currently no complete set of _rkt_ parameters is implemented go generic solution appears to be an easy way to cover all current and future _rkt_ options.

Why would it be a problem with resource constraints? To avoid mal

[2018-08-23 14:12] tantra35 commented on #4607
We have the same issues
[nomad_race.logs.txt](https://github.com/hashicorp/nomad/files/2314563/nomad_race.logs.txt)

But patch you are provided doesn't looks legal, `DelayHeap`  imho must be threadsafe neutral
and more correst patch will be looks like so

[code]

But I'm not sure about requirements of this lock

[code]

in `func (b *EvalBroker) processEnqueue(eval *structs.Evaluation, token string

[2018-08-23 15:48] carl-thomas opened #4610 "[question] Deploy AspNetCore on Windows"
I am trying to deploy an AspNetCore website/api on Windows using Nomad. My job runs and downloads the artifact .zip, unpacks it and copies it to the `/local` directory. Then my `raw_exec` command runs to run the app. In the command line I would usually run `dotnet MyApplication.dll` in the root of the directory where my application sits.

However when I run this using the `raw_exec` it fails with

[2018-08-23 16:35] stevenscg opened #4611 "[feature] Delayed job / Run once at a certain time"
We recently ran into a scenario where we wanted to run a batch job exactly one time but at a certain time (by timestamp) in the future. This is likely analogous to a "delayed job" or "delayed message" construct in the queue and stream processing world.

In our case, our system is reacting to incoming events and launching dispatch jobs into the cluster as those events arrive. Under certain conditio

[2018-08-23 16:39] dadgar commented on #4611
@stevenscg It is a good idea. I would definitely recommend solving this out of band for now since it is a corner case and as such a little lower priority for us to implement but I can see this being useful.

[2018-08-23 16:41] stevenscg commented on #4611
@dadgar Thanks. We are already headed down that path, but wanted to write it up in case we missed existing native functionality or somebody else finds it useful.

[2018-08-23 16:43] dadgar commented on #4610
@carl-thomas Can you paste the output of `nomad logs -stderr <alloc-id>` and `nomad logs <alloc-id>` and `nomad alloc status <alloc-id>`?

[2018-08-23 22:50] RenEvo commented on #4446
We also got stuck in a state where our cluster would spam the nomad.fsm error (copied from above, but basically the same) and almost all deregisters would get stuck in pending (stopped).

    2018/06/25 16:00:02 [ERR] nomad.fsm: deregistering job failed: job "tickr-worker.persist.default" in namespace "default" doesn't exist to be deregistered

[2018-08-25 12:46] phihos commented on #2624
We would like to use [watchtower](https://github.com/v2tec/watchtower) for auto updating our containers. But the naming of the image prevents it from detecting the correct docker hub repository.

[2018-08-27 08:39] carl-thomas commented on #4610
Any ideas anyone?

[2018-08-27 10:28] shantanugadgil commented on #4610
Just my thoughts: the error seems to indicate that the dotnet.exe could not get the MyApplication.dll in the "current" directory.

Would it be possible to wrap the startup cmd in a batch script which emit variables and such like the "environment" and the output of the current directory.

[2018-08-27 14:27] jippi commented on #4607
@preetapan can you or someone on the nomad team please triage this?

[2018-08-28 03:33] FlankMiao opened #4622 "how to use the 'prefix' parameter in list nodes API to filter?"

[2018-08-28 06:50] jippi commented on #4622
`/v1/nodes?prefix=derp`

[2018-08-28 10:12] onlyjob opened #4623 "rkt: support for "--seccomp" option"
Please add support for rkt's `--seccomp` option.

See #4583 for discussion why not use generic `rkt_options` instead.

[2018-08-28 10:13] onlyjob opened #4624 "rkt: support for "--working-dir" option"
Please add support for rkt's `--working-dir` option.

See #4583 for discussion why not use generic `rkt_options` instead.

[2018-08-28 10:14] onlyjob opened #4625 "rkt: support for "--user" option"
Please implement support for rkt's `--user` option.

See #4583 for discussion why not use generic `rkt_options` instead.

[2018-08-28 14:03] vikramjadon921995 opened #4626 "Nomad for a rails application"
**I have the following requirements:**
1. I have a rails application with some API endpoints
2. I want to start a task (rake task) on a separate server everytime an API is called. So that multiple tasks are running parallely in separate server.
3. All these tasks return data to main server.
4. I am using AWS

How can I use nomad for above mentioned requirements ?
Do I have to use docker ?

[2018-08-28 16:45] schmichael commented on #4625
[`user`](https://www.nomadproject.io/docs/job-specification/task.html#user) is supported by all drivers (except QEMU). The rkt driver also supports setting the group, but it was undocumented. I've opened a PR for fixing the docs: #4627

[2018-08-28 16:45] #4625 closed

[2018-08-28 17:28] dadgar commented on #4622
@FlankMiao the answer given is correct. You add it as a query parameter, and only IDs matching the prefix are returned.

@jippi Thanks for responding 👍

[2018-08-28 17:28] #4622 closed

[2018-08-28 20:09] carl-thomas commented on #4610
I now have this working. I used
[code]

[2018-08-28 20:09] #4610 closed

[2018-08-28 21:36] dadgar commented on #4323
I am going to close this issue as we never received reproduction steps and nothing of the sort has been reported since.

If this does happen again the following details would be useful:
* A list of the number of nodes
* The job being dispatched
* A dump of the job's evaluations
* The output of the `/v1/metrics` endpoint on the servers.

Thanks!

[2018-08-29 02:58] onlyjob commented on #4625
Thanks.

[2018-08-29 10:12] tantra35 commented on #4626
You may read folow blog post https://www.hashicorp.com/blog/replacing-queues-with-nomad-dispatch

but i think that nomad not well suited for this case, and it is best use for this 2 queue. One for dispatch task to workers and sencond which will be handled by server, where workers will send they response

[2018-08-29 10:34] onlyjob commented on #1782
Timeout for batch jobs is an important safeguard. We can't rely on jobs' good  behaviour... Job without time limit is a _service_ hence timeout is crucial to constrain buggy tasks that might be running for too long...

[2018-08-29 17:31] kurtwheeler commented on #3686
If this is such a guaranteed issue, could it be included in docs somewhere? Maybe on this page: https://www.nomadproject.io/guides/cluster/requirements.html?

[2018-08-30 02:51] FlankMiao commented on #4622
thanks

[2018-08-30 05:19] elasti-ronenc opened #4630 "Volume Driver NFS"
[question]
Is there is a way to use nfs persistence volume  and add volume_driver = nfs ?
[https://www.nomadproject.io/docs/drivers/docker.html#mounts](url)

[2018-08-30 07:57] analytically commented on #3337
Another usecase: downloading large binaries (>400mb, raw_exec) to be used by other tasks.

[2018-08-30 08:14] rkettelerij commented on #4593
I assume this only applies if you configured the Nomad agent to talk with the Consul agent over HTTPS (https://www.nomadproject.io/docs/agent/configuration/consul.html#ssl)? If you use plain HTTP (over localhost) and you've configured Consul with short-lived certificates then you'll only need to restart the Consul agent when certificate renewal occurs.

[2018-08-30 08:18] jrasell commented on #4593
@rkettelerij you're correct.

[2018-08-30 10:59] shantanugadgil commented on #4611
@dadgar @stevenscg

I have a use case that along with my loadbalancer I submit a DNS job to run on the same node as the loadbalancer.
My DNS job is setup to be a periodic job (just in case the IP changes of the machine)

My requirement is that the DNS job run once **immediately** and then settle into its CRON schedule.

A parameter along the lines of `run_immediately` (or equivalent in meaning) wo

[2018-08-30 13:07] stevenscg commented on #4611
@shantanugadgil Do you know about the [force periodic](https://www.nomadproject.io/api/jobs.html#force-new-periodic-instance) option on the API and cli? That could be an option for you that might be better than curl.

[2018-08-30 15:57] shantanugadgil commented on #4611
@stevenscg yes, I use the same:
[code]

by out-of-band, I mean, its not part of the run process.

I am willing to take a command-line flag to `nomad run` even, if that is doable (but, I think that would be too weird)

[2018-08-30 18:15] stevenscg commented on #4611
@shantanugadgil Ok. That's the best way to do it right now I think. My only other thought on a workaround right now is to have a 1-shot batch job that you launch first and then submit the periodic job.

[2018-08-30 19:28] hvindin commented on #4451
@lawliet89 Consul allowing nomad jobs to be addressed via consul connect is very different from native integration:

I suspect that the ideal outcome would be the ability to declare a nomad job with all intentions and side car configurations ready to go so that there's no extra steps required once the nomad job is up and running.

So while you *could* do it manually, I know that my team and I aren

[2018-08-30 23:10] xmackex commented on #4589
@schmichael could you please share your vagrant files so I could try reproduce issue on that env?

[2018-08-31 01:00] lawliet89 commented on #4451
@hvindin of course. I was just pointing out the workaround for now.

[2018-08-31 12:33] pkrolikowski commented on #4607
Hi,
We are also facing the same problem. Just as @jippi described, Nomad servers are throwing:
`fatal error: concurrent map read and map write`
and it seems that's related with draining bunch of nodes (that's the only thing we've done).

**Nomad version:**
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

**Operating system and Environment details**

[code]

[2018-08-31 13:18] preetapan commented on #4607
Sorry for the late response, been traveling this week.

This is on our radar and I'll have a PR up for it by early next week.

[2018-08-31 13:36] pkrolikowski commented on #4607
@preetapan thanks, for info. Any suggestion for some hotfix ? Server restart or sth.
We are not able to interact with our production cluster at the moment and it's crucial for us to solve this problem somehow.

[2018-08-31 13:45] preetapan commented on #4607
@pkrolikowski yes restarting the server should work. Draining several nodes at once increases the chances of the race condition occurring again so I would suggest avoiding that till I merge a fix to master. Sorry for the bug,

[2018-08-31 13:55] pkrolikowski commented on #4607
Ok, so to clarify. Now all our servers (three of them) are restarting all the time (system jobs with `restart=on-failure` flag). Restarting one server at a time doesn't do the trick. Should I try to restart all of them at the same time ?

[2018-08-31 19:41] groggemans opened #4633 "Nomad 0.8.4 panics when talking to vault 0.11.0"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Raspbian linux

### Issue
Nomad panics when trying to access the vault api

### Reproduction steps
Run nomad agent in server mode and connect with a vault 0.11.0 cluster

### Nomad Server logs (if appropriate)
[code]

I think this needs a fix in the vault code, but posting here f

[2018-08-31 20:34] jefferai commented on #4633
Nomad needs to pull in updated API livs

[2018-08-31 21:06] schmichael commented on #4589
@xmackex I used `nomad-server01` and `nomad-client0{1,2}` from the root Vagrant file. It's sadly a bit of a pain to setup.

Also I want to assure you I have forgotten about this issue! Hoping to get back to it next week.

[2018-08-31 21:09] analytically opened #4634 "Wrong defaults in documentation"
The default restart mode is wrongly documented.

![image](https://user-images.githubusercontent.com/254434/44935895-6f491800-ad6a-11e8-9d45-c70f07190772.png)

[2018-09-01 15:06] jefferai commented on #4633
This doesn't seem to be a 0.11 bug. It appears to be this: https://github.com/hashicorp/vault/pull/4553 which was fixed in Vault 0.10.2. This, however, appears to be after Nomad last pulled Vault API libs.

We'll put in a workaround for 0.11.1 but Nomad should pull in updated API libs.

[2018-09-01 16:48] mafonso commented on #2517
I got it 0.8.4 to work on the pi zero using the vagrant box.
I'm not sure if something changed since Feb, but just adding GOARM=6 to `GNUmakefile` did the trick

[code]

after copying the binary to the pi zero

[code]

but `readelf -A ./nomad` returns nothing for some reason.

[2018-09-02 16:50] tantra35 commented on #4604
This happens again and again, after we attach delve debbuger we found this(tons of goriuntines):

[code]

stack trace for one of them is:

[code]

[2018-09-03 13:41] Siluetti opened #4636 "Tasks with Java driver pending indefinitely on "Task Setup Building Task Directory""
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Linux 3.10.0-862.11.6.el7.x86_64 #1 SMP Tue Aug 14 21:49:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

CentOS Linux release 7.5.1804 (Core)

#### Java
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mod

[2018-09-03 19:31] xvello opened #4637 "Client: support unix scheme in NOMAD_ADDR"
I am tunnelling access to remote Nomad/Consul hosts via ssh port forwarding. To avoid other processes hijacking the forwarded port, I am forwarding to local unix sockets.

While the consul client supports connecting with `CONSUL_HTTP_ADDR=unix:///path/to/socket`, the nomad command (v0.8.4) does not.

I plan on contributing this by porting [the consul client logic](https://github.com/hashicorp/cons

[2018-09-04 19:58] #4607 closed

[2018-09-04 20:51] kak-tus commented on #4633
May be problem is not only in https://github.com/hashicorp/vault/pull/4553?

I dumped request/response in this case.

Request:
[code]

In curl form
[code]

Response on this request is
[code]

So, as you can see - there is exists "capabilities" key in response - in "data" subkey. And fix in https://github.com/hashicorp/vault/pull/4553/files do

[code]
And this code not fully fixed the problem - it

[2018-09-04 21:14] Miserlou opened #4639 "Dispatched Parameterized Jobs Do Not Respect Constraints"
### Nomad version
`Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

### Operating system and Environment details
Ubuntu, 20x AWS `x16.xlarge`.

### Issue
I want to ensure that only one dispatched task runs on one node at a time. I have tried this using:

[code]

and

[code]

in both the `job` and `group` sections (it is forbidden in `task`).

In all cases, this does not work. Once dispatc

[2018-09-04 22:14] kak-tus opened #4641 "Nomad failes to get token from standby Vault"
### Nomad version
v0.9.0-dev

### Operating system and Environment details
Ubuntu 16.04

### Issue
When Nomad tries to get token from standby Vault it fails with "error validating wrapping token: Vault is in standby mode".
Same issue is here https://github.com/hashicorp/vault/issues/3071.

There is 0.6.1 Vault api libraries vendored in Nomad. Is it possible to update them to at least 0.8.3? This v

[2018-09-05 05:57] onlyjob opened #4643 "rkt: support for "--name" option"
Please add support for rkt's `--name` option.

See #4583 for discussion why not use generic `rkt_options` instead.

[2018-09-05 07:59] FlankMiao opened #4644 "how can I filter nomad nodes by namespace or meta-data props?"

[2018-09-05 08:11] jippi commented on #4644
filter where? in the UI?

[2018-09-05 09:17] adamlc commented on #4633
I'm also having this issue! I'm a little worried that if my nomad servers restart for whatever reason then they aren't going to come back. So it sounds like updating the vault libs alone doesn't fix the issue?

[2018-09-05 09:17] FlankMiao commented on #4644
@jippi the go library . I put some nodes in namespace A others in B,but when I use the go library to filter nodes, there is a API which has only one  parameter "prefix" to filter the nodeID.  How can I get the nodes in the namespace A?

[2018-09-05 09:20] FlankMiao commented on #4644
@jippi here  the api:
// List is used to list out all of the nodes
func (n *Nodes) List(q *QueryOptions) ([]*NodeListStub, *QueryMeta, error) {
	var resp NodeIndexSort
	qm, err := n.client.query("/v1/nodes", &resp, q)
	if err != nil {
		return nil, nil, err
	}
	sort.Sort(resp)
	return resp, qm, nil
}

func (n *Nodes) PrefixList(prefix string) ([]*NodeListStub, *QueryMeta, error) {
	return n.List(&

[2018-09-05 09:32] kak-tus commented on #4633
@adamlc I fixed it in file sys_capabilities.go and use nomad version with this patch

![image](https://user-images.githubusercontent.com/3152421/45084662-8e97ca80-b107-11e8-84ac-5f44d40b9931.png)

[2018-09-05 09:34] adamlc commented on #4633
@kak-tus thanks I'll give it a try! Does it break the vault integration though? As I imagine if nomad can't determine its capabilities it won't work correctly?

[2018-09-05 10:29] adamlc commented on #4633
I can confirm the above fix is working perfectly :)

[2018-09-05 13:36] preetapan commented on #4605
#4550 is another related issue with fingerprinting on AWS C5s

[2018-09-05 13:50] lpicanco commented on #4566
An alternative would be to update one consul service at a time, avoiding to leave all of them in a critical state at the same time. What do you think?

[2018-09-05 13:55] flyinprogrammer commented on #304
---

---

---
As a Nomad operator, and huge, fan - these statements seem to contradict each other, on the basis that in my opinion there is nothing "physically local, low-latency" about a truly global deployment.

So are you guys suggesting or implying that most folks do not have a literal global deployment of infrastructure?

Maybe if we quantified what a "physically local, low-latency" network i

[2018-09-05 14:00] preetapan commented on #4626
Closing this as its not a feature request/bug. Feel free to continue the discussion on our mailing list.

[2018-09-05 14:00] #4626 closed

[2018-09-05 14:08] byronwolfman commented on #4566
I appreciate this (and other) well-meaning workarounds, but this is not our desired workflow, and doubles the time it takes to deploy an app. I opened this issue because the change breaks a documented workflow for Blue/Green deployments here:

https://www.nomadproject.io/guides/operating-a-job/update-strategies/blue-green-and-canary-deployments.html

The breaking change here isn't to an undocument

[2018-09-05 14:13] preetapan commented on #4634
Fixed in #4645

[2018-09-05 14:13] #4634 closed

[2018-09-05 14:21] #4630 closed, assigned to nobody

[2018-09-05 15:05] margueritepd opened #4646 "job name tagging in telemetry should be less specific for periodic jobs (should not include `/periodic-1235...` info)"
### Nomad version
0.8.4

### Operating system and Environment details
Ubuntu 16.04

### Issue
I'm trying to use Nomad telemetry, eg `nomad.client.allocs.running`, in datadog. I would like to monitor that my periodic job successfully runs on an ongoing basis. According to the docs, this metric is tagged with the job-name, which should in theory allow me to filter the metric by the name of my job an

[2018-09-05 16:37] shantanugadgil commented on #304
Amazing coincidence of this thread.
Only today I realized my folly when I set region to 'us' for my datacenters 'us-east-1' amd 'us-west-2'

All my infra is on private IPs and we have many AWS regions which are vpc peered, though not full mesh, and will not be full mesh.

The fact that the servers having a common region are trying to talk to each other on 4647 hit my deployment plans.

Now I am pl

[2018-09-05 21:46] Miserlou commented on #4646
Related: https://github.com/hashicorp/nomad/issues/4422

[2018-09-05 21:46] Miserlou commented on #4639
Any ideas?

[2018-09-06 09:38] commarla opened #4649 "Nomad plugin server error (use of closed network connection)"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Debian Stretch on ext4

### Issue
Randomly some jobs fail to be allocated with these errors :
[code]
or
[code]
This one is a periodic defined with :
[code]

but I found the error on classic service job.
Nomad server is running around 100 allocs.

### Nomad Server logs (if appropr

[2018-09-06 12:42] shantanugadgil commented on #646
@dadgar

We have a use case where we have to start **public facing** loadbalancers in AWS VPC (Fabio/Gobetween).

This is a blocker for us using Nomad + Docker and have temporarily reverted to using "raw_exec" to launch the loadbalancer.

Wouldn't it be possible to be able to easily allow the docker port forwarding on 0.0.0.0 rather the private IP ?

Maybe a config parameter ?

[2018-09-06 15:50] Miserlou commented on #4639
@preetapan Anything I can do to help test ideas?

[2018-09-06 21:07] memelet commented on #4495
I'm having a hard time understanding this. I have a container with 600MB limit. A java process with use heap+non-heap used of ~360. And its getting oom killed every 10 minutes or so. I can't be that nomad services are using 240MB? And if not, how can i tell _why_ the processing is getting killed?

[2018-09-07 03:48] shantanugadgil commented on #2522
I too experienced this recently.

The `Building task directory` seems to be as if things are "hung" and not working.

The time taken it takes is not obvious to a new user and it takes a bit of "I have seen this symptom before" to understand what is going on rather than just by looking by the info/error messages.

Would there be a way too show some sort of progress indicator during the `Building ta

[2018-09-07 11:04] shantanugadgil opened #4652 "set Consul service meta from Nomad service definition"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
CentOS 7.5+, Ubuntu 14.04.5+

### Issue
Using these as reference:
https://www.consul.io/docs/agent/services.html
https://www.nomadproject.io/docs/job-specification/service.html

How can I set the Consul service metadata ("meta") from Nomad's service definition?
As I can gather it

[2018-09-07 14:53] fmrtl73 commented on #4636
Having similar issue with batch jobs like this one straight out of the docs:
[code]

[2018-09-07 15:02] shantanugadgil commented on #4636
@fmrtl73 this seems to be a common issue for `exec` i.e. `chroot`.
Can you try with `raw_exec` and see if that takes times too?

[2018-09-07 15:17] fmrtl73 commented on #4636
Thanks @shantanugadgil - that worked.

[2018-09-08 09:51] dudd opened #4653 "Kernel crash on CentOS7.2(Kernel 3.10.0.862.9.1.el7.x86_64)"
### Nomad version
v0.8.4

### Operating system and Environment details
OS: CentOS7.2
Kernel: 3.10.0.862.9.1.el7.x86_64
Hardware: Dell R730xd 2*E5-2650V4(2.2G,12C)

### Issue
kernel crash and os reboot
PANIC: "BUG: unable to handle kernel NULL pointer dereference at 0000000000000010"

### Reproduction steps

### Nomad Server logs (if appropriate)
![nomad-kdump](https://user-images.githubusercontent

[2018-09-08 15:08] jippi commented on #4653
Sounds like a kernel bug to me - 3.10 kernel are *very very* old - move to 3.16 / 3.18 or even 4.4 / 4.9 / 4.14 LTS

[2018-09-08 16:13] shantanugadgil commented on #4653
@jippi

Off topic:
Stock CentOS wont move the kernel ahead.
The user will have to explicitly install `kernel-lt` or `kernel-ml`

@dudd
When does the crash occur? Steps to reproduce the issue?

[2018-09-08 17:03] kcwong-verseon commented on #4653
3.10 is not a vanilla 3.10. You'd get bug fixes back ported by Red Hat, but you don't get most of the new features. That's how Red Hat manages the kernel. That said, I've been having many problems with the 862 series (from refusal to boot on some machines to random crashes), I'm sticking with 3.10.0-693.21.1.el7.x86_64.
The `kdump` I've seen mostly ended up affecting nomad executor because that's

[2018-09-08 21:56] jippi commented on #4653
Nomad won't be able to trigger a kernel panic - either its a Kernel bug, or a Go - I'm willing to put $ on kernel bug

[2018-09-10 16:16] lorenzo commented on #4531
I think it is also important to consider readiness checks not tied to the concept of a service. For instance parameterised jobs and batch jobs should not do any work before the checks have passed, but currently it is not possible without coding the checks in the job itself.

[2018-09-10 16:53] tantra35 commented on #4604
when we launch patched nomad(with timeout of rpc communications 10 seconds) in client mode we got tons of follow error messages:

[code]

Then we increase timeouts to 60 seconds, but still getting timeouts errors

@preetapan or @dadgar  Is this normal that `Node.GetClientAllocs` so slow?

[2018-09-10 17:34] kcwong-verseon commented on #4653
@jippi I have no doubt on that either. Here's a backtrace from one `kdump` that involved `nomad`:

[code]

And this kernel crashed on a different host, ended up crashing `consul`. The backtrace is completely different:
[code]

The primary thing in common are the kernel version.

[2018-09-10 18:03] josegonzalez commented on #4531
To expand on @lorenzo's point, here is a real use-case we have at work:

We run a few different services as sidecar tasks - telegraf (metric collection), filebeat (log shipping), maxscale sql proxy (for connection pooling), and soon envoy (for request routing). What we'd like to do is ensure that all of those things are running and healthy before having any leader tasks start. This way we can ensu

[2018-09-10 18:16] #4560 closed

[2018-09-11 16:10] dekimsey opened #4663 "[req] nomad log, stop follow on allocation termination"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details
OS X

### Issue
I use the `nomad alloc logs -f` a great deal. I would like seeing the behavior of terminating when the allocation is complete or no longer running. There will never be more logs, continuing (or following in general) an exited allocation doesn't seem to make much

[2018-09-11 16:18] preetapan commented on #4637
@xvello we would accept a patch that handles client logic, and modifying the agent to accept a socket address to bind to. Additionally, we would want to make it possible to disable HTTP binding on the client agent (by allowing -1 in the config to mean that http binding is disabled). If you are interested in implementing the feature in its entirety we welcome that as a PR.

[2018-09-11 17:29] dmartin-isp commented on #2381
I've just run into this as well.  I launch my jobs from ansible, and now I have to tell ansible that exit code 2 is OK, which is .. sub optimal.

[2018-09-11 18:01] xvello commented on #4637
thanks @preetapan, what's your next release timeline, so I can gauge the timing?

[2018-09-11 18:55] hbasappa opened #4664 "make release not working on master"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`

### Operating system and Environment details
on Vagrant supplied in nomad folder
### Issue

vagrant@linux:/opt/gopath/src/github.com/hashicorp/nomad$ make r

[2018-09-11 19:11] #4633 closed

[2018-09-11 21:23] tantra35 opened #4666 "Seems that after leader fail, some agents may forgot about servers except leader, what leads this nodes to miss they heartbeats"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
We see this situation time to time, when one of nomad servers hung due hardware failure or network connectivity problems. At last time was follow situation due aws fail, one of nomad servers hung, and exactly this server was leader:

[code]

By this logs lines we conclude that node with ip `172.29.20.70`, was lead

[2018-09-11 21:59] tantra35 commented on #4532
@preetapan Is this expected behavior?

[2018-09-11 22:02] wyattanderson commented on #4299
I've been noticing this more and more recently as well, and unfortunately only usually notice it well after the allocations have been garbage collected, which happens extremely frequently in our environment due to our job volume. When I've seen it, I've seen the exact same dispatched job ID in the new allocation (`REDACTED/dispatch-1534540234-a09077f0/periodic-1536645600`). The parameterized part

[2018-09-11 22:58] dadgar commented on #4666
Can you share the server logs for `172.29.20.70` around the issue and more of the client logs.
Also can you share the client's config

[2018-09-11 23:59] tantra35 commented on #4666
Here only this logs from `172.29.20.70` for that day

[code]

and absolutely silence at moment of crash. May be logs from server doesn't reach collector, but this is all we have, aws forcedly terminate that server and it volume is lost

our client config is separate by files:

client.hcl
[code]

acl.hcl
[code]

vault.hcl
[code]

consul.hcl
[code]

advertise.hcl
[code]

replicator.hcl
[code]

[2018-09-12 07:54] samirdash4u opened #4667 "Nomad job log timestamps are in GMT"
If filing a bug please include the following:

### Nomad version
nomad 0.8.4

### Operating system and Environment details
RHEL 7.3

### Issue
All the jobs started via nomad write the logs in GMT timestamp. When i run the service in standalone mode the logs are written with system time.

### Reproduction steps
There is no specific steps for the same. Any job started via nomad has this behaviour

#

[2018-09-12 09:03] mildred opened #4668 "Allow nomad to declare canary instances and non canary instances in different consul services"
### Nomad version

`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details

<details><summary>CoreOS</summary><pre>
core@ip-10-0-9-185 ~ $ cat /etc/os-release
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1800.7.0
VERSION_ID=1800.7.0
BUILD_ID=2018-08-15-2254
PRETTY_NAME="Container Linux by CoreOS 1800.7.0 (Rhyolite)"
ANSI_COLOR="38;5;75"
HOME_UR

[2018-09-12 12:37] Siluetti commented on #4636
For me running exec driver does the same thing as running Java driver.

Running raw_exec, on the other hand, gives:

[code]

And in the GUI I can see following:

[code]

Not that it is space issue as df -H tells me:

[code]

###Configuration

I added following to my /etc/nomad/config/client.hcl (under client object):
[code]

And modified the test.nomad job file as follows:

[code]

If you have any

[2018-09-12 12:49] shantanugadgil commented on #4636
@Siluetti  `raw_exec` is considered "special" and has to be explicitly enabled in the Agent Configuration.

[2018-09-12 16:29] dcparker88 commented on #2052
Not sure if this is relevant or related - but even when I have `leave_on_terminate` set in my config - it doesn't seem to fully leave. I've been doing some testing with the stuff above, and I can see in my logs the node is cleanly shutting down:

[code]

but when I check `nomad node status` it still shows down:
[code]

is that expected behavior? I would expect once the node leaves the cluster it d

[2018-09-12 16:37] dadgar commented on #4668
@mildred I am a little confused by the request. The title and your ask seems to be different. Are you asking to have a canary_name such that canaries are registered separately?

[2018-09-12 17:03] schmichael commented on #2052
@onlyjob Does systemd allow configuring different signals for reloads, restarts, and shutdowns? If so we could use SIGHUP, SIGINT, and SIGTERM respectively to separate the shutdown behaviors. Adding APIs+CLI commands would also be useful. This is definitely something we're hoping to do, but I don't know if it will make it into 0.9.0.

@dcparker88 Unfortunately `leave_on_terminate` is not implement

[2018-09-12 17:22] tantra35 opened #4670 "Increased total_waiting counter for eval broker on non leader nodes"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
on non leader servers we see constantly increased total_wating counter for eval broker

![default](https://user-images.githubusercontent.com/1377084/45441891-19a92f80-b6c9-11e8-9e58-cb7d635d28b9.png)

On screenshot, node `vol-cl-constrol-03` is current leader, and it broker is ok, but on non leaders servers this c

[2018-09-12 21:04] mathematician opened #4672 "Downtime when using canary deployments, but none when using rolling deploys"
### Nomad version
Output from `nomad version`
nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Ubuntu 16.04

### Issue
We use Kong as our gateway to access our applications running on nomad. This is done by referencing the consulDNS SRV record for a service. We receive downtime when using a canary deployment with the following config:
[code]

Th

[2018-09-12 21:06] dadgar commented on #4672
@mathematician I am going to close since it appears to be the same issue as the one you linked. You will have both versions in Consul. You can differentiate them using the canary_tags.

Thanks for the extra detail, it will be helpful as we fix the feature 👍

[2018-09-12 21:06] #4672 closed

[2018-09-12 21:34] tantra35 commented on #4670
Also it is very strange that eval broker methods doesn't check it enbless

[2018-09-12 22:34] onlyjob commented on #2052
No it doesn't... There is `ExecStop` but not `ExecRestart`... Anyway IMHO it is _wrong_ to distinguish. Node should be drained on restart as well because it is the only safe approach. If updated executable fail to start then system will end up with dangled unaccounted services.

[2018-09-13 07:42] Siluetti commented on #4636
@shantanugadgil Thanks, fixing the typo helped. :) I got that to work, I'll try some more complex stuff and keep you posted after I get results.

[2018-09-13 08:04] onlyjob commented on #2052
It is OK if you are committed to support restart without draining. However this is unsafe and therefore should be configurable. Moreover draining node on restart must be default behaviour. It is not OK to leave dangling VMs because they are not cheap to restart.

Betting on perfect stability of the Nomad client is a strategy for the perfect world, like saying that defects in your code (will) never

[2018-09-13 14:57] dcparker88 commented on #2052
@schmichael ah thanks - that makes sense then. Do you know if that's a planned feature, or should I just continue to use GC to clean out down nodes?

[2018-09-13 17:42] dekimsey commented on #4663
Additional areas for improvement:
 1) How'd the allocation close? Maybe report on stderr the exit status of the allocation.
 2) Allow binding to logs that aren't yet available (again, stderr reporting awaiting allocation to run?). There are delays from when the allocation is scheduled to when logs are available. Right now, I have to run `nomad alloc logs` in a loop to get re-try behavior.

[2018-09-13 19:07] dadgar commented on #4649
What is your PID limit for the nomad process? It is likely just set too low

[2018-09-13 20:25] shantanugadgil opened #4674 "[feature request] capability to limit task count to '1'"
### Nomad version
0.8.5

### Operating system and Environment details
CentOS 7.5+, Ubuntu 14.04+

### Issue
Somewhat related to https://github.com/hashicorp/nomad/issues/4334

I have a distributed (multi AWS region) monolithic app and want to use Nomad to launch all its components.
The app has grown over time and the new "features" of this app are services (horizontally scalable), but there are so

[2018-09-13 21:57] dadgar commented on #4674
Hey Shantanu,

This is a something that can be accomplished in Nomad enterprise today either by using namespaces/quota or by using sentinel. This type of governance is something that will exist in the enterprise offering.

If that is something that is not an option to you I would consider using ACLs to limit the number of people who can change jobs. Thanks for your understanding!

[2018-09-13 21:57] #4674 closed

[2018-09-13 22:03] kak-tus commented on #4641
Unfortunately, https://github.com/hashicorp/nomad/pull/4658 was not fix the problem.

[2018-09-14 01:33] dudd commented on #4653
@shantanugadgil

[2018-09-14 01:36] dudd commented on #4653
@shantanugadgil
Sorry to reply you late. The crash

[2018-09-14 01:38] dudd commented on #4653
@shantanugadgil
Sorry to reply you late. The crash is random, and I can't steps to reproduce the issue, because it's not under my control.

I'll keep watching and progress will be in sync.

[2018-09-14 06:51] commarla commented on #4649
Hi @dadgar ,

[code]

Nomad is started with systemd with the following settings
[code]

Do you have any advice ?

Thanks,

[2018-09-14 10:19] mildred commented on #4668
I'm asking something like the service stanza could gain an attribute:

- `instances` (string, default: `all`): determines which instances are registered for that consul service. This field can contain:
    - `all`: all instances should be registered with consul
    - `promoted`: only promoted instances should be registered with consul
    - `canary`: only canary instances should be registered with

[2018-09-14 14:45] Miserlou commented on #4422
We've found that not only is the current telemetry worse than useless, we've found that it actually adds about 15-25 seconds of overhead per connection, making it worse-than-worse-than-useless.

[2018-09-14 16:11] sashichotu4321 opened #4676 "[question] Edit nomad cron job schedule time"
[question] - Is it possible to edit an existing batch job cron using java?

[2018-09-14 16:38] dadgar commented on #4676
Yes, you can resubmit the job with an update cron specification. It will be applied for the next run.

[2018-09-14 16:38] #4676 closed

[2018-09-14 16:46] sashichotu4321 commented on #4676
Thanks Alex, I am actually a newbie, using this for first time, can you please help me in understanding, how to update the cron specification using java.

[2018-09-14 17:08] schmichael commented on #2052
We hoped shutdown improvements would land in 0.9.0, but some larger features (eg plugins) take priority so you may want to continue using GC for the time being. If they don't make it in 0.9.0, hopefully we'll get them out in a patch release.

This is the plan!

This is precisely reason 2 I gave above for supporting inplace upgrades. A guiding principle in Nomad's design is in the face of errors: d

[2018-09-14 17:52] tantra35 commented on #4670
Also in some cases this can lead to memleaks on non leader nodes due uncleared `delayHeap`

[2018-09-14 18:11] tantra35 commented on #4226
@schmichael We have the same issue with dynamic secrets when nomad agent restarts due upgrade process. Of course we can do node drain but it is not very convenient, also this doesn't cover cases when nomad crash due for example internal bug and restarted by systemd, upstart etc

[2018-09-14 19:00] sujeetsm commented on #3931
Hi @schmichael  I am facing the exact same issue ..
1) It doesnt allow absolute path to be specified .. what ever path we mention in volumes tag it is basically appended to the path for Task  which is basically the temp path create for that task
```C:\\Users\\UserName\\AppData\\Local\\Temp\\NomadClient952618186\\30910d5a-a99c-cf9d-d293-ddfb8a4a83be\\elastic\```
So If I was to give
```C:\\data:C:\\

[2018-09-14 20:04] Miserlou commented on #4639
Any updates?

[2018-09-14 20:07] superboum commented on #2770
As it was not straightforward for me, it is how I did (you need to replace `{{ public_ip }}` and `{{ private_ip }}`):

[code]

And just run:

[code]

I had to use this hack as Scaleway provides only public IPs via a NAT.

[2018-09-14 22:35] tantra35 commented on #4666
@dadgar this situation may be reproduced if you hung nomad server by debugger in our case this is 100% reproducible (we do `dlv attach <nomad server pid>`) and it not depend what to hung leader or not

[2018-09-15 01:27] tantra35 commented on #4666
I think that a reason of this is lock held by `consulDiscoveryImpl` which may hold it to very long time if some communication with nomad server hung

[2018-09-15 04:06] onlyjob commented on #2052
Thanks. :) I think there is a flaw in this reasoning... We need to separate two issues: avoiding stopping services during normal operations and a case when Nomad client itself is restarting.
It violate principles of integrity and common sense to leave scheduled jobs running when nomad client exited...
Service downtime is _necessary_ when manager/dispatcher is restarting because it is the only safe

[2018-09-15 06:45] markpapadakis opened #4680 "Per agent/node environment variables for all tasks scheduled on those nodes"
Greetings,

We have those use cases where it would be very beneficial if we could specify a set of environment variables specific to agents/nodes, and for each new task scheduled on those agents/nodes, those node-specific environment variables would be set, in addition to whatever env.variables are configured in the job spec file.

For example, we have a cluster of application servers, and, say, 1

[2018-09-15 08:37] perrymanuk commented on #4649
[code]

[2018-09-15 09:52] jrasell commented on #4680
@markpapadakis would using Nomad client meta values on nodes be what you're looking for - https://www.nomadproject.io/docs/configuration/client.html#meta

Within each job you can then consume these via the ${meta.<key>} interpolation method - https://www.nomadproject.io/docs/runtime/interpolation.html#node-variables-

[2018-09-15 09:56] markpapadakis commented on #4680
Thank you.  That seems perfect.

[2018-09-15 09:56] #4680 closed

[2018-09-15 21:46] jozef-slezak opened #4681 "[feature] pluggable storage"
I would like to ask for a new feature: pluggable storage. Similarly to what Vault already has:
- https://github.com/hashicorp/vault/tree/master/plugins/database
- https://github.com/hashicorp/vault/tree/master/physical

It would great to add an option to configure different storage than bolt DB for Nomad (external KV, S3 or even SQL) because:

Motivation:
- Bolt is outdated (github repository is a

[2018-09-16 01:05] onlyjob opened #4683 "Fails to start a task with systemd.unified_cgroup_hierarchy=1 (cgroup2)"
Nomad v0.8.4 (client) fails to start a task with unified cgroup hierarchy:

    mountpoint for cgroup not found

[code]

Debian amd64 "testing" / systemd 237 / Linux 4.17.8 booted with `systemd.unified_cgroup_hierarchy=1`

P.S. Task is on _rkt_ which I can start manually. Unlike Docker, _rkt_ works with cgroupv2.

[2018-09-16 06:20] onlyjob opened #4684 "Qemu driver should allow to specify architecture (hard-coded qemu-system-x86_64)"
Currently hard-coded `qemu-system-x86_64` severely undermines usefulness of Qemu driver.
It would be useful to be able to run _arm_ images on _x86_64_ architectures through `qemu-system-arm` executable, etc.

Please allow to specify qemu architecture in config.

[2018-09-17 08:35] commarla commented on #4649
Hi,

I misread your answer. I increase the value on one node to test
[code]

Immediately after I got the same error :
[code]

thanks,

[2018-09-17 10:07] mildred commented on #4566
And that's a problem. How can you use blue/green and have traffic only redirecting to canaries only or promoted allocs only if you have no way to differentiate between the two ?

I don't see how it can be a problem if that's done by Nomad on Consul service replacement. `initial_status = "passing"` would need to be set only for services updated after canary deployment that re known to be passing al

[2018-09-17 10:11] mildred commented on #4566
@preetapan You are the one who improved the deployment in commits indicated by https://github.com/hashicorp/nomad/issues/4566#issuecomment-411631801. Do you know why the consul service id is a hash of the canary flag (and the canary tags)? Why was it done that way? Could we consider removing the canary flag and tags from the hash to fix this issue ?

[2018-09-17 10:20] mildred commented on #4566
@schmichael and @preetapan You are the ones who improved the deployment in commits indicated by https://github.com/hashicorp/nomad/issues/4566#issuecomment-411631801 (more specifically https://github.com/hashicorp/nomad/pull/4259/commits/17c6eb8629ba946d4f090e7b313e8c35973ae6a0#diff-8612d5e61f84976db572b3f38eb380c0L1043). Do you know why the consul service id is a hash of the canary flag (and the

[2018-09-17 10:55] tantra35 commented on #4666
@dadgar The problem was more complex than simply remove hearbeatLock from consulDiscovery, so we make PR to solve this https://github.com/hashicorp/nomad/pull/4678

The key idias is:

1. Prevent to triggerDiscovery if we have health servers(new server list must be geted in this case only from heartbeats)

2. Change logic of Setservers in Manager(client/servers/manager.go), it only changes servers

[2018-09-17 12:04] mildred commented on #4668
Reading other issues, what i'm suggesting is basically what is suggested in https://github.com/hashicorp/nomad/issues/2920#issuecomment-353386502:

However, this suggestion should be weighted in regard to the following issue: [#4566 Promoting a canary causes its service check to immediately become critical](https://github.com/hashicorp/nomad/issues/4566) where updating the consul catalog during ca

[2018-09-17 12:19] tantra35 opened #4685 "two 'client: node registration complete' in cleints logs after start"
### Nomad version
Nomad v0.8.5 (cb59eb6ca99910d0e9e798e30e1ada3d1f9bef65+CHANGES)

We see in logs after up log verbosity to INFO 2 mesages about `client: node registration complete`, its not so huge bug but `but looks sloppy`:

[code]

Here present 2 log entries
[code]

and

[code]

[2018-09-17 13:16] preetapan commented on #4566
@mildred I addressed this in a comment on the mailing list https://groups.google.com/forum/#!topic/nomad-tool/GatYXal9evg

TLDR - Using the service ID's hash to encapsulate all its internal state(like canary status/tag values) was in retrospect, not the right design decision and has been a source of brittleness. We are working on redesigning this for 0.9.

[2018-09-17 13:47] jzupka commented on #2633
exactly same to me

[2018-09-17 16:47] dadgar commented on #4685
If the client state changes there can be a re-registration. The state detected is just be pushed to the server.

[2018-09-17 16:47] #4685 closed

[2018-09-17 19:31] stevenscg commented on #1185
@Mayeu I don't think there has been much movement on this, but I can recommend [levant](https://github.com/jrasell/levant) for templating anything and everything within your job file prior to submission.

[2018-09-18 12:29] FlankMiao commented on #4644
@preetapan thanks

[2018-09-18 12:40] sirkjohannsen opened #4689 "[FEATURE] telemetry: provide "memory limit" metric"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details
Ubuntu 16.04
AMD 64

### Issue
Nomads telemetry api should expose a metric for the configured maximum memory for a task.
That way one could set an alert for jobs approaching the memory limit.

For example:
[code]

[2018-09-18 14:29] nattvasan opened #4690 "Unable to contact nomad agent [Error querying job: Get http://127.0.0.1:4646/v1/jobs?prefix=nginx: dial tcp 127.0.0.1:4646: connect: connection refused]"
`[question]` I'm running nomad server agent with '-bind' parameter but still i'm getting error trying to get status of the job

### Nomad version
Nomad v0.8.5

### Consul version
Consul v0.8.5

### Operating system and Environment details
Ubuntu 16.04.5 LTS \n \l

### Issue : Unable to view the nomad job status

### Nomad Server logs (if appropriate)

:/etc/nomad.d# nomad job status nginx
Error qu

[2018-09-18 15:34] angrycub commented on #4690
This would be expected behavior.  You can use the NOMAD_ADDR environment variable to avoid having to pass it with every command run.

[2018-09-18 15:34] #4690 closed

[2018-09-18 16:05] sujeetsm commented on #2633
upvote this one .. windows now supports homogeneous support for linux/windows containers.

[2018-09-18 17:42] tantra35 commented on #4226
@schmichael We have first corse version of patch

[code]

[2018-09-18 21:24] Miserlou opened #4694 "Disk Resources in Task"
Here was a typical task death for us:

[code]

Where is the `Disk: 300MiB` coming from? We're not defining that ourselves, there is nothing mentioning disk in the `resources` stanza documentation, and this value will ultimately limit our ability to pack jobs if it's set to this 300MiB value, since we do all of our actual disk operations on a mounted disk, not the root HDD.

Similarly, in a `nomad

[2018-09-18 21:31] angrycub commented on #4694
You can find information about the ephemeral disk settings here: https://www.nomadproject.io/docs/job-specification/ephemeral_disk.html#size

[2018-09-18 21:59] dadgar commented on #4694
@Miserlou Hey the link @angrycub gave you is the where you can define the disk resources. These are shared with all tasks in a group.

 The kill reason appears to be due to the task running out of memory rather than disk (just so that you are aware). I am going to close this issue since it is working as intended.

[2018-09-18 21:59] #4694 closed

[2018-09-19 00:07] tantra35 commented on #4226
We made patch to solve this:

[code]

[2018-09-19 06:25] hbasappa opened #4696 "Allocate same cgroup parent for all containers started by nomad client wrt docker"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
0.8.4

### Operating system and Environment details
centos 7

### Issue
docker support cgroupParent which can be used to potentassign same cgroupParent to al

[2018-09-19 15:27] Miserlou commented on #4694
Yeah, I know that's why it got killed, that's not what this ticket was about. Thanks though.

Why is it listed under Task Resources in the output if it isn't defined under Task Resources?

Besides being confusingly placed, the documentation/feature set also seems incomplete. For instance, there is no way to disable this, there is no way to set the volume path (we use small local file systems and v

[2018-09-19 16:39] Miserlou opened #4697 "Checking for Downloaded Image Takes A Long Time // Docker Context Size"
We have to run about 3,000,000 dispatch jobs.

[code]

We're finding that the startup overhead for each job is a minimum of 15 seconds, because of this `Downloading image wkurt/dr_downloaders:latest` step. The image isn't actually being downloaded except for the first time, since the image is already in the local registry. So, this is 15 seconds being spent checking the existence of something we k

[2018-09-19 16:55] nickethier commented on #4697
Hello!

This latency is likely coming from docker checking the remote repository for the image. There is special handling around the `latest` tag. Nomad will always attempt to force pull the image if the image tag is `latest`. If you use any other tag Nomad will only pull the image if it's not present (or if you configure it to force pull in the job spec).

Could you try to use a different image t

[2018-09-19 19:04] jippi opened #4699 "Increase lineScanLimit in log rotation logic"
This is a follow-up on #1048 and #4282

We have some applications that are logging quite long lines of JSON (up to 25KB) - and we see our files being split across files mid-line, which causes all kind of bad error and unreadable logs in Graylog.

I would like to have [lineScanLimit](https://github.com/hashicorp/nomad/pull/4282/files#diff-2589ff362b7178dc7ba8776ee549a4f8R29) increased from 16K to 2

[2018-09-19 20:01] daledude commented on #4270
Documenting still wrong or nomad still broken.

[2018-09-19 20:03] daledude commented on #1185
Don't count on this ever being done (or fixed since the docs say you can do things you cant).

[2018-09-19 20:10] Miserlou commented on #4697
This appears to mostly solve that facet of the problem, however, there is still a massive overhead in between time received and time started, ex:

[code]

This `Task Setup  Building Task Directory` appears to take about 45 second every single time across thousands of jobs, regardless of whether or not the image needs to be re-downloaded.

I don't know what this Building Task Directory step is doin

[2018-09-19 20:21] Miserlou commented on #4639
This is still completely unaddressed.

[2018-09-19 20:27] kurtwheeler opened #4700 "Nomad dispatch jobs are restarted when they should not be"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details

We are running this within AWS using an ubuntu AMI:
[code]

### Issue

I am running dispatch jobs and I have tried to configure them to not be restarted, because I have my own system for restarting jobs. Each job should only ever be started once and I have checks in my code to m

[2018-09-19 20:30] Miserlou commented on #4639
@dadgar ?

[2018-09-19 20:53] latchmihay opened #4701 "Scheduler not distributing allocations across idle agent nodes"
Nomad bin packing is great but tends to start all allocations on a few agent nodes, and leaves the rest idle.

### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
[code]
### Issue
Nomad bin packing is too good leaving available cluster agent nodes idle.

[code]
The non utilized servers do have one allocation running because its ru

[2018-09-19 21:48] nickethier commented on #4701
Hello!

This is the intended behavior. Nomad will optimize scheduling for bin packing. There are definitely many valid use cases where this is problematic. Look out for our next major release (0.9) as it introduces an new feature to tell the scheduler to spread instead of bin pack.

Closing this issue, but feel free to reopen if needed.

Thanks for using Nomad!

[2018-09-19 21:48] #4701 closed

[2018-09-19 22:18] dadgar commented on #4700
Hey the job is being rescheduled because it failed. To disable rescheduling, set the reschedule attempts to zero: https://www.nomadproject.io/docs/job-specification/reschedule.html#attempts

[2018-09-19 22:18] #4700 closed

[2018-09-19 22:38] kurtwheeler commented on #4700
Ok, I guess that makes sense then. I actually looked at that page though and saw this:

[code]

which made me think that this wasn't what was affecting me because:
1. I hadn't specified any rescheduling parameters.
2. The task was being requeued directly on the same node and the documentation said it would be scheduled on another node.

Anyway, I'm glad there's an easy solution but I think perhaps

[2018-09-20 03:56] nickethier commented on #4697
Hey @Miserlou

Would you have a job spec you could share?

There are numerous things that happen between building the task dir and starting the task. Such as writing dispatch payload, fetching artifacts if configure, rendering templates etc. Also debug logs from a client thats experiencing this could be helpful.

[2018-09-20 05:12] matthoey-okta opened #4705 "Clarification on client mode user documentation"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue
I've been following the documentation for what kind of user should run the agent in client mode. One

[2018-09-20 10:14] emate commented on #4534
As we've upgraded all the clusters to 0.8.4, we neither encounter nor being able to reproduce this bug, so I guess it can be marked as resolved.

If I'll encounter it again, I can reopen/create a new issue.

[2018-09-20 10:14] #4534 closed

[2018-09-20 19:40] insanejudge commented on #4639
parameterized jobs are dispatched as separate jobs, and there is no scope for inter-job constraints/scheduling, so this sounds like a mismatched expectation/feature request for that?

[2018-09-20 19:48] Miserlou commented on #4639
So it's completely impossible to constrain the number of dispatched jobs per node? That can't be right.

If that's the case, that should be warned against in the documentation, and it should warn that these constraints won't be respected for parameterized jobs when the job is registered.

However, I think it's more likely that this is just a bug or non-fully-implemented feature rather than an impo

[2018-09-21 01:36] jarro2783 opened #4708 "[question] No useful Prometheus metrics?"
### Nomad version

0.8.5

### Operating system and Environment details

Ubuntu 16.04.

### Issue

I can't get any useful metrics output in Prometheus format. The only metrics I am able to get are the standard golang metrics.

I have configured Nomad with:
[code]

There seem to be more metrics if I don't use `format=prometheus`, so I'm not sure if I'm missing something.

### Reproduction steps

`cu

[2018-09-21 01:48] jippi commented on #4708
Did you actually enable [prometheus_metrics](https://www.nomadproject.io/docs/configuration/telemetry.html#prometheus_metrics) ? don't see it in your sample config

[2018-09-21 01:56] jarro2783 commented on #4708
Oh sigh. I completely missed that in that section. I thought it was just enabled by default.

[2018-09-21 01:57] jarro2783 commented on #4708
Yep that worked. Thanks very much.

[2018-09-21 01:57] #4708 closed

[2018-09-21 18:42] Miserlou commented on #4639
@dadgar can you weigh in on this?

[2018-09-21 19:56] Miserlou commented on #4639
We're not even convinced that it's properly respecting `priority` either.

[2018-09-21 20:45] kurtwheeler commented on #4639
https://www.hashicorp.com/blog/replacing-queues-with-nomad-dispatch, which is a large part of why we chose Nomad for our project, claims:

__Instead of relying on a centralized queue, the scheduler can serve as the queue, and it has the ability to weigh even more complex strategies like prioritization and has built-in support for failure handing.__

Do parameterized jobs actually have the ability

[2018-09-21 20:53] Miserlou commented on #4639
Support for constraints is also explicitly mentioned in the [job dispatch documentation](https://www.nomadproject.io/docs/commands/job/dispatch.html#usage).

[2018-09-23 00:47] insanejudge commented on #4639
Constraints are respected, we use dispatch jobs with multiple task groups and node meta constraints for scheduling _task groups within the job_ and it works fine. As the documentation for `distinct_property` and `distinct_host` states plainly, they are for scheduling groups and allocations within jobs.

You are dispatching distinct jobs and expecting per-job constraints to somehow apply between th

[2018-09-24 00:30] samart opened #4714 "Support docker run arg --tempfs"
Please add support for the tempfs option in docker.  we are looking to use this as part of our secure container strategy.

@rcgenova

[2018-09-24 09:40] mildred opened #4715 "Allow to specify per node environment variables to tasks"
This is a feature request to allow nomad clients to forward specific environment variables to all the tasks they run. Those variables would be specified by key and value in the nomad client configuration.

Example client HCL config file:

[code]

Use case (as shown above) is to be able to set consul address of the local node without having to specify it in the metadata and having each job file spe

[2018-09-25 11:40] liemle3893 opened #4719 "Docker args should be parsed before passing"
### Nomad version
Output from `nomad version`
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
### Operating system and Environment details
Vargrant: ubuntu/xenial64 - 20180727.0.0
### Issue
Nomad does not escape string before pass down docker args.

### Job file (if appropriate)
[code]
Expected result: consul:1.2.2 agent -bind='{{ GetInterfaceIP "eth1" }}'
Received: consul:1.2.2 agent -bin

[2018-09-25 12:17] #4719 closed

[2018-09-26 11:01] onlyjob commented on #4714
Could it be done by configuring Nomad clients to put `alloc` dir to _tmpfs_?

Arguably using _tmpfs_ is not too secure as it allows to overuse host's RAM.
How do you address that concern?

Besides _rkt_ is much more secure than Docker...

[2018-09-26 11:05] onlyjob commented on #4684
It would be great to get some attention here please.
This issue is not only limiting how Qemu could be used on _x86_64_ but also makes Qemu driver _useless_ on all architectures other than _x86_64_.
On Debian Nomad is built for 10 hardware architectures - all of them have Qemu as well...

[2018-09-26 11:59] samart commented on #4714
You just need to pass the arg to docker engine.  Nomad has nothing to do except pass the arg, and should not care about this otherwise.  Just like it doesn’t care about most other docker engine Args it passes

[2018-09-26 13:37] nickethier commented on #4684
Hey @onlyjob

I'm doing some refactor work on drivers for the upcoming release. I will see if I can take care of this during that work. Thanks for reporting.

[2018-09-26 14:44] yukron commented on #646
Any luck we will have this feature in 2018?
Right now it is required to mess with NAT and/or routing for specific services and do all advertising in our own code instead of consul+nomad stack.

[2018-09-26 17:36] aedades opened #4725 "Unable to retrieve template secrets from Vault"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Linux ip-10-6-18-143 4.14.51-60.38.amzn1.x86_64 #1 SMP Tue Jun 26 23:06:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Issue
Unable to retrieve secrets from Vault (version 0.11.1), though I believe Nomad servers and clients have been configured properly:
[code]

### Reproduction

[2018-09-26 17:51] schmichael commented on #4725
There is a known bug with Nomad v0.8.4 and Vault 0.11.x: #4633 (PR: #4658)

Would you be able to test with Nomad v0.8.5?

[2018-09-26 18:03] dadgar commented on #4725
@aedades Have you included a `vault` stanza in the task. Otherwise you are trying to request secrets without credentials

[2018-09-26 19:46] aedades commented on #4725
Thanks @schmichael , @dadgar , I'm still seeing the same error, but I've updated to nomad 0.8.5, and have added
[code]

[2018-09-26 21:31] aedades commented on #4725
I was able to get this working after moving the `vault` stanza to the task level.  Thank you both!

[2018-09-26 21:31] #4725 closed

[2018-09-26 23:37] onlyjob opened #4729 "Constraint numeric comparison"
For some reason job with

[code]

Is placed to machines with `cpu.numcores == 8`.

Why? Even if constraints are not mandatory but merely advisory a job should have been placed to client with 10+ cores, right?

[2018-09-26 23:39] dadgar commented on #4729
I changed the title of the issue. Constraints are compared lexicographically. We should parse it as a number if possible however. Marking as an enhancement

[2018-09-27 14:47] stevenscg commented on #2056
I have a use case that is similar to the original mailing post and posted yesterday at https://groups.google.com/forum/#!topic/nomad-tool/wOdpCu4zmBg.

My case is when responding to alerts based on allocation telemetry (failed, pending, etc), it is nearly impossible to quickly view allocations by status. Operators would have to attempt to find the job or jobs and interrogate the allocations for ea

[2018-09-27 15:28] margueritepd commented on #4241
@burdandrei please open up a PR with your branch! I see that #3882 has since been merged :)

[2018-09-27 15:30] burdandrei commented on #4241
@margueritepd  hardly believe that so outdated branch will survive the rebase, but I'll see what's left from it

[2018-09-27 16:47] tantra35 opened #4731 "Negative numbers in "Children Job Summary" for periodic tasks"
### Nomad version
Nomad v0.8.6 (fcc4149c55399eb4979cd3fe3fb983cfe6c8449a+CHANGES)

### Issue
[code]

is it normal that `pending` and `running` are negative

[2018-09-27 16:58] dadgar commented on #4731
Do you have reproduction steps?

[2018-09-27 17:02] jeteon commented on #4652
What would be nice is if the _job_, _group_ and _task_ level meta would be merged and then sent to Consul when setting up the service entry. From the Consul end of things it looks like the API already supports setting the meta key:
https://github.com/hashicorp/consul/blob/eddcf228ea1a0b90030db3c820d469ff5b8106a9/api/agent.go#L119-L134.

so it could be added here:
https://github.com/hashicorp/nomad

[2018-09-27 17:03] tantra35 commented on #4731
We just start stop virtual box instances in in various non-deterministic sequence, to monitor how evaluations will be catched by our cluster autoscale stolution

[2018-09-27 17:04] tantra35 commented on #4731
And have folow evaluation log

[code]

[2018-09-27 17:06] tantra35 commented on #4731
So after some time we just see that was launched 2 child jobs despite the fact that `prohibit_overlap = true` was set

[2018-09-27 17:12] tantra35 commented on #4731
Hope this helps

[2018-09-27 17:32] tantra35 commented on #4731
And on leader at moment of launch buggy allocation was follow in logs

[code]

[2018-09-27 17:39] tantra35 commented on #4731
At the same time no any agent nodes have network problems, because thy logs are empty at that momennt(15:17)

[code]

[2018-09-27 20:43] joshuaclausen commented on #4664
I get the same thing from the vagrant vm.  Still looking for a workaround, but figured I'd post.
Windows 10
vagrant installed
cloned latest from master branch

vagrant up
vagrant ssh
make release

vagrant@linux:/opt/gopath/src/github.com/hashicorp/nomad$ make release
==> Cleaning build artifacts...
==> Building pkg/linux_386/nomad with tags ui release...
# github.com/hashicorp/nomad/command/agent

[2018-09-28 02:55] JoeOrtiz commented on #3629
I see this as well from Nomad v0.8.6.

[2018-09-28 13:20] tantra35 commented on #4604
@dadgar @preetapan

This happes again, but we now get more info about that

On remote region to where request proxied one of controls have grows gorountine count. And this nomad server can't itself handle request so for example `nomad node status 0d87a811` hung

![default](https://user-images.githubusercontent.com/1377084/46210454-70ee0780-c339-11e8-9b3c-b75b4f257677.png)

then we attach to workin

[2018-09-28 14:11] tantra35 commented on #4604
Also i must said that this happens only when we query allocations from particular client not all

[2018-09-28 14:22] #4429 closed

[2018-09-28 15:50] Miserlou commented on #4639
They're not the distinct jobs though, they're the exact same job with the exact same specification and name, just with different parameters. The use case I'm talking about is described in the documentation and the blog post. It's an _absolutely critical requirement_ of a queue-replacing job scheduler.

There are so many ways that this could be solved, even with the current implementation - for ins

[2018-09-28 17:53] joshuaclausen commented on #4664
It's related to building the UI, though that may be obvious if you've already explored this.  I'm able to build the non-UI nomad client binaries, at least for Windows.

[2018-09-28 22:38] dhv commented on #4664
Was able to get it to build by restoring the command/agent/bindata_assetfs.go file from a previous commit:

git checkout dbee1d7d051619e90a809c23cf7e55750900742a -- command/agent/bindata_assetfs.go

[2018-09-28 22:42] tantra35 commented on #4731
@dadgar We reproduce this on test stand

What we do

1. Found leader node
2. In virtualbox interface on instance where was leader we switch off network

![default](https://user-images.githubusercontent.com/1377084/46236642-76bf0980-c388-11e8-8c35-329b18e8239e.png)

3. Voila we have additional job, which is buggi(it never must be launched due `prohibit_overlap = true`)

[code]

[2018-09-29 05:38] dbabits opened #4733 "[question] How to have self-healing Nomad/Consul cluster"
Nomad can restart failed tasks.
But is there a way for Nomad to restart a failed Nomad agent?
I know each member of a Consul cluster gets a message when one of agents fails, I assume so does Nomad.
I would like one of them to ssh to a host where and agent failed and restart it.
To avoid all agents racing to do this they should probably try and obtain a lock, and one would win and do it.
All in all

[2018-09-29 09:08] shantanugadgil commented on #4733
I have Nomad and Consul configured as system services under 'systemd'

Some suggest to run Consul itself as a system service (host network mode)

My systemd jobs are configured in a sort of "always restart" mode (with a delay of 10 seconds between restarts, if it ever exits)

The only failure I have ever observed of startup itself is when Nomad's data directory becomes corrupt (the usual task buck

[2018-09-29 17:28] dbabits commented on #4733
Thank you. I dont have syatemd though, no root access.

On Sat, Sep 29, 2018, 05:08 Shantanu Gadgil <notifications@github.com>
wrote:

[2018-09-29 17:47] josegonzalez opened #4735 "[feature] Admission controllers"
Admission controllers in Nomad would be super useful. For those that dont know, in Kubernetes you can have an [admission controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/) that either mutates or validates (or both, but in that order) a request that is going to be persisted to Kubernetes (so deployments or whatever).

This would be super useful for creating

[2018-09-29 19:28] plaisted opened #4736 "Poor parameterized job scheduling performance"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
Windows Server 2012 R2 Standard
"Development" nomad setup. Single server, shared nomad exe for client and server.

### Issue
I'm researching replacing our current job scheduling setup with Nomad. Nomad is already used for some of our services so it would make sense to use

[2018-09-30 13:11] tantra35 commented on #4731
@dadgar After we apply this patch all works as expected:

[code]

[2018-09-30 17:51] josegonzalez opened #4737 "Add a "go home" page to 404 page in Nomad UI"
### Nomad version
Output from `nomad version`

Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details

[code]

### Issue

It would be nice if Nomad had a "go home" link on it's 404 pages when it cannot find an allocation. I come up against this frequently when restarting my VM from scratch.

![https://cl.ly/9729433ea603/Image%202018-09-30%20at

[2018-09-30 20:15] vipul-hk commented on #4464
The ui lists the jobs correctly but hangs trying to load job details.
Console log shows the following error message. I started getting this behaviour after running the following periodic task.

CLI works fine and I can see that the periodic task is running correctly.

<img width="1680" alt="screen shot 2018-10-01 at 4 01 56 am" src="https://user-images.githubusercontent.com/6162849/46262074-e7078f

[2018-10-01 01:05] tantra35 commented on #4731
To solve statistic aditional patch needed

[code]

[2018-10-01 10:03] dgonzalezruiz opened #4738 "Nomad deployments getting stuck with allocations that fail due to client issues"
### Nomad version
Nomad v0.8.1 (46aa11ba851f114f5faa0876839b45fbca0c47f0)

### Operating system and Environment details
Ubuntu 14.04.5 LTS

### Issue
When a deployment is being performed and is in `running` state, a failed allocation due to an error inherent to the client makes the deployment get stuck, and not even draininly the failed client makes the deployment go on; manually failing such depl

[2018-10-01 14:34] Miserlou commented on #4323
This ticket should be re-opened as this problem is not fixed. We have also had this issue occur since, and people should be aware that Nomad has this fundamental flaw.

![image 1](https://user-images.githubusercontent.com/139987/46295216-89db0080-c565-11e8-8b75-f3fd7b6011fe.png)

[2018-10-01 14:39] Miserlou commented on #4736
Related: https://github.com/hashicorp/nomad/issues/4697

Some other reasons you probably don't want to use parameterized Nomad jobs for production workloads:

https://github.com/hashicorp/nomad/issues/4639
https://github.com/hashicorp/nomad/issues/4323

(If you're still evaluating using this software, it is my recommendation that it is not production-ready yet.)

[2018-10-01 14:44] Miserlou commented on #4323
And here's a graph of the queue length for that second total system crash, peaking at 180,000 jobs:

![image 2](https://user-images.githubusercontent.com/139987/46295806-f60a3400-c566-11e8-8c24-5e22e80c931d.png)

[2018-10-01 14:45] Miserlou commented on #4323
The second crash occurred in 0.8.3, the first in 0.7.0.

[2018-10-01 14:51] nickethier commented on #4323
Hey @Miserlou

Thanks for the information. We still would like the information Alex requested to help root cause this:

[2018-10-01 14:55] Miserlou commented on #4323
3 nodes.
There are 67 different jobs.
The servers are dead so there are no /v1/metrics and `nomad status` is unresponsive. This was reported before. Logging information was previously provided.

[2018-10-01 15:20] Miserlou commented on #4323
You can even think of this issue as `die gracefully` if it helps, but one-too-many-jobs-and-the-whole-system-dies obviously isn't an acceptable behavior for a distributed job scheduler.

[2018-10-01 16:33] josegonzalez commented on #4735
Thinking on this more, I believe we could follow a similar pattern to [what is done in Vault](https://www.hashicorp.com/blog/building-a-vault-secure-plugin). Plugins would be communicated to via RPC over TLS using mutual TLS that is managed by Nomad (through vault libraries maybe?).

Plugins would be required to live on the leader server, and configured via the nomad config on disk, so adding a ne

[2018-10-01 16:59] plaisted commented on #4736
@miserlou I agree with your overall assessment of the current state of batch scheduling in Nomad.

I noticed similar issues to #4323 when batching large numbers of jobs however I was just using a single server setup at our DC not a large cluster. A portion of jobs would be scheduled at a consistent rate and then CPU usage would spike and scheduling would just essentially stop (a couple jobs, 1-3is

[2018-10-01 17:00] dadgar commented on #4738
Hey with Nomad 0.8.4 or greater the allocation will get rescheduled and the deployment will continue until the progress deadline is hit. I suggest you update to 0.8.6!

[2018-10-01 17:00] #4738 closed

[2018-10-01 17:10] dadgar commented on #4733
@dbabits As @shantanugadgil suggested you should restart Nomad using systemd, upstart. This is a very common practice.

If Nomad itself exits, you need something other than Nomad to detect and restart this as Nomad itself is no longer running.

[2018-10-01 17:10] #4733 closed

[2018-10-01 17:14] dadgar commented on #4639
@Miserlou @insanejudge's answer is correct. The dispatched job is a separate instance of the job and the distinct host constraint applies only to the scope of that job and not any other dispatched instance. I am sorry if this was confusing to you and we would be happy to take a PR for documentation to clarify that each dispatch job is treated separately. However this is not a bug in our perspectiv

[2018-10-01 17:14] #4639 closed

[2018-10-01 17:34] Miserlou commented on #4736
Yeah, that problem gets worse as you add more jobs. For instance, there is no ability to remove jobs in batches, so if you need to make a chance, it has to be done one by one, which can take many hours. You'll find that sort of issue at every possible turn.

We went with Nomad because of the claims made in the blog post you linked and it has been a total disaster. A lot of my life is now spending

[2018-10-01 17:45] Miserlou commented on #4639
So it's impossible to apply constraints to dispatches of the same job spec? And there's also no way to do any kind of forward capacity planning to ensure placement for higher priority jobs? And there's no plan to implement these features?

I think the blog post and documentation should be updated to reflect these major limitations. I honestly feel deceived.

[2018-10-01 18:22] dbabits commented on #4733
yes, but another Nomad or Consul or Serf is running, on another host.
And they get a message of hard exit of their peer(Serf does for sure, I
checked).
Could one of them not ssh to the host and restart the failed brother?

Why depend on external systems like systemd

On Mon, Oct 1, 2018, 13:10 Alex Dadgar <notifications@github.com> wrote:

[2018-10-01 18:55] rcgenova commented on #4714
@samart This will be in Nomad 0.9.

[2018-10-01 19:09] plaisted commented on #4736
@dadgar Maybe I'm using the term scheduling wrong. The jobs are accepted by nomad nearly instantly as you have noted. Based on https://www.nomadproject.io/docs/internals/scheduling.html it appears Nomad considering the allocation to be part of "scheduling" which your example does not include. Regardless I'm referring to the time it takes for a job to be allocated and run. None of the jobs in your

[2018-10-01 19:16] dadgar commented on #4736
@plaisted Can you run your test again with the following:
`$ nomad agent -dev -config config.hcl`

config.hcl:
[code]

[2018-10-01 19:41] aaroncline opened #4740 "System Scheduler Does Not Rotate Deployments or provide Deployment ID"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version

Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details

CentOS 7
Consul v1.0.7
fabiolb 1.5.6
3 nomad clients
3 nomad servers

### Issue

[2018-10-01 19:46] plaisted commented on #4736
This helped. For degree of parallelism of 1 the scheduling time per task went from ~3.5s to ~2s. For high degree of parallelism (17) it reduced from ~25s to ~2s.

I'll go ahead and close this issue as 2 seconds seems to fall within the expectations set in the documentation / blog.  It would be nice if this could be further optimized as there are a lot of use cases where 2s of added latency would b

[2018-10-01 19:46] #4736 closed

[2018-10-01 19:57] dadgar commented on #4736
@plaisted Agreed. We will be looking into this code path to optimize it. Hopefully for the next release

[2018-10-01 20:03] nickethier commented on #4323
The logs help look at the timing inside the driver. If I understand your environment you have many jobs being started concurrently on a given client. I suspect this is contention in the docker daemon.

[2018-10-01 20:17] aaroncline commented on #4740
I misreported initially and have made some edits.  This actually appears to be a bug in the hierarchy of the Group and Job Update stanza's.  According to your docs, the Group stanza should have the higher precedence.   https://www.nomadproject.io/docs/job-specification/update.html

[2018-10-02 00:09] dadgar commented on #4740
@aaroncline Hey Aaron,

The system job currently doesn't support the new update system using deployments. You can see the callout here: https://www.nomadproject.io/docs/job-specification/update.html

I am going to rename the issue to reflect this

[2018-10-02 13:49] pznamensky opened #4742 "[feature] ACL: add `change-job-state` capability"
Currently the only way to allow to stop jobs via ACL is to give `submit-job` capability or `write` policy.
Though for starting periodic job it is enough to have `dispatch-job` capability.
So it looks like it would be more logical to have something like `change-job-state` capability that allows stop or start any type of jobs.
Also as for us it's not secure to give permissions to modify jobs, but st

[2018-10-02 16:08] Miserlou commented on #4323
This ticket shouldn't be closed.

[2018-10-02 16:29] wyattanderson commented on #4299
A hunch: our servers (for historical reasons) have their time zone set to `EST5EDT`, which is UTC -4. I haven't confirmed this yet, but I've noticed that for a few duplicate batch jobs we've seen, they've come in almost exactly 4 hours after the job was originally scheduled. Is it possible that there's a faulty comparison somewhere between tz-aware and tz-naive datetimes?

Can other folks maybe ch

[2018-10-02 16:41] shantanugadgil commented on #4299
@wyattanderson We run our entire infrastructure on UTC time (though things could be in any timezone)

Would it be possible to switch your setups to UTC and see if the problem goes away (or occurs anyway)?

[2018-10-02 17:34] nickethier commented on #4697
Sorry @Miserlou I realized I commented on the wrong issue of yours yesterday.

The logs help look at the timing inside the driver. If I understand your environment you have many jobs being started concurrently on a given client. I suspect this is contention in the docker daemon. I did some local testing to try and simulate this (hard to get the same results on my local machine vs your prod environ

[2018-10-02 18:29] notnoopci commented on #4299
In test environment, I was able to hit this issue 1-5% depending on various configurations and potentially the position of the moon.  I added my notes and reproduction steps and logs in https://github.com/notnoopci/nomad-0.8.3-job-rerun-bug .

It does seem that problem is related to GC - and looks like job deregistering somehow resulting into new allocations for re-runs.  This matches @camerondavi

[2018-10-02 18:48] dadgar commented on #4323
@Miserlou Can you provide the crash output?

[2018-10-02 18:52] Miserlou commented on #4323
It's literally dozens of gigabytes of log output of the kind I already linked with the lines every thousandth of a millisecond. I described the number of jobs above. This was with 3xm4xlarge

[2018-10-02 19:52] dadgar commented on #4323
@Miserlou I am asking for the output of the agent crashing. Was it a panic, an out of memory, etc.

[2018-10-02 19:57] Miserlou commented on #4323
Those servers were terminated spot instances. I'm guessing it was an OOM since we solved the problem last time by throwing more RAM at it, it should be easy to reproduce yourself by starting a cluster and throwing jobs at it until it falls over like this.

[2018-10-02 20:06] dadgar commented on #4323
@Miserlou There really is not a lot to go off with this issue. You are reporting a server that is unresponsive and or crashing. There is no log of it crashing to know the root cause of that. The log lines you are showing is that Nomad has hit its file descriptors limit but the list of open files is not given or the limit set for Nomad.

1. Do you have a graph of the memory usage of Nomad over this

[2018-10-02 20:19] Miserlou commented on #4323
The fd limit was raised to 65536. I don't have the memory graphs since those servers were rotated. The server nodes are dedicated and there are no other services on them. There are 10 clients connected.

This isn't an issue about what I should do, this is an issue about Nomad shouldn't fail so catastrophically. It's not one server that this happens to, when it happens, it happens to ever single de

[2018-10-02 20:31] dadgar commented on #4323
@Miserlou Sorry you feel like it wasn't clear. We never state that dispatch is meant for high volume: https://www.hashicorp.com/blog/replacing-queues-with-nomad-dispatch#caveats.

The reason all servers fail is that Nomad uses Raft as a consensus protocol. Thus all data is replicated, and if you have more working set data than can fit in memory, Nomad will crash with out of memory.

Unfortunately

[2018-10-02 20:31] #4323 closed

[2018-10-02 21:14] Miserlou commented on #4323
That isn't what the blog you linked says at all. It says:

[code]

These aren't jobs which take a short time to process, these are jobs which take hours to run. There's just a lot of them. They aren't tiny jobs either, they have reasonable resources allocated to them. You still haven't said anything about the scale which you test at, but you use the words "enterprise", "production ready" and "scal

[2018-10-03 16:45] MorphBonehunter commented on #4332
@rkettelerij / @dadgar  would you mind to reopen this issue as your original request is still valid (or did i miss something).
The Ressource usage is only per allocation, but on the client page the isn't anything that shows the metrics which are shown ob the cli.
It would be nice if the allocation summaries ("Allocated Resources" and "Allocation Resource Utilization") and the host summary "Host Re

[2018-10-03 21:01] wyattanderson commented on #4299
Finally able to capture this.

The redispatched allocation:

[code]

and the evaluation:

[code]

[2018-10-03 21:18] notnoopci commented on #4299
@wyattanderson I think that matches my observation too with `job-deregister` evals and GC being the trigger tool.

One workaround is to run separate GC process that watches for nomad completed jobs and immediately calls `Deregister` on them directly before the core scheduler Jobs GC process them.

[2018-10-03 21:40] kurtwheeler opened #4746 "Small dispatch jobs with low priority prevent large high priority dispatch jobs from running"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details

Ubuntu 16.04 within AWS ecosystem

### Issue

Using Nomad as a job queue as suggested in this blog post: https://www.hashicorp.com/blog/replacing-queues-with-nomad-dispatch doesn't handle jobs of various sizes very well. Specifically, a queue with a lot of small, low priority di

[2018-10-03 22:56] dadgar commented on #4746
Hey,

Nomad currently uses priority to decide the order in which jobs get access to the scheduler. It doesn't prevent low priority jobs from accessing resources if there are queued high priority jobs. This is not the approach Nomad will be taking to solve the problem. Instead we will be using pre-emption such that when the high priority job is examined by the scheduler, it will be able to evict lo

[2018-10-03 22:56] #4746 closed

[2018-10-04 00:39] kmcvicker opened #4747 "error message says need "root" capabilities. Now called "sudo" in vault"
### Nomad version
not sure, I run the vault server not the nomad server

### Operating system and Environment details
linux

### Issue
From the nomad error logs.

* token must have one of the following capabilities ["update" "root"] on "auth/token/revoke-accessor"; has [deny]
* token must have one of the following capabilities ["read" "root"] on "auth/token/roles/nomad-server"; has [deny]
* token

[2018-10-04 11:56] LuciferInLove opened #4748 "Nomad goes to corrupt state after restart"
Hello. I'm testing Nomad in our environment. I have some jobs like this:

[code]

Sometimes when I restart nomad client via systemctl I get such message:

[code]

I don't manually delete any files before restart. After unmounting secrets and deleting this folders Nomad starts correctly. Why does it happen?

Agent config:

[code]

Nomad agent runs in client and server mode.

### Nomad version
0.8.6

[2018-10-04 13:13] angrycub commented on #4747
There is a known issue with compatibility between older Vault versions (before Vault 0.10.0) with Nomad 0.8.5.  This was corrected and additional testing to prevent regression added in Nomad 0.8.6 via https://github.com/hashicorp/nomad/issues/4698.  Is it possible that you are encountering that combination?

[2018-10-04 13:40] angrycub commented on #4747
A follow-up comment:  the `sudo` capability in Vault is used (when paired with an appropriate action capability—create,read,update,delete,list) to perform that action on "paths that are root-protected".  Nomad does not use those paths, so does not require the `sudo` capability.

I will mark this resolved, but please ping back if this additional information doesn't resolve your concerns.

[2018-10-04 13:40] #4747 closed

[2018-10-04 14:18] rkettelerij commented on #4332
@MorphBonehunter I belief something like that is already in the works: https://github.com/hashicorp/nomad/pull/4704

[2018-10-04 14:30] kurtwheeler commented on #4746
Is there any chance that the behavior I described could be provided as an alternative via configuration? I can see the advantages of the pre-emption method for more persistent workloads, but for a batch based queue workload it seems to make much more sense to queue the work intelligently rather than interrupting jobs which may be close to completion.

[2018-10-04 15:25] tantra35 opened #4749 "In some rare cases possible present 2 leaders in nomad servers cluster"
### Nomad version
0.8.6

### Issue
We saw this 2 or 3 times. And this looks like that present 2 nomad leaders at the same time

Look at screenshot of nomad telemetry
![default](https://user-images.githubusercontent.com/1377084/46482776-e9a00880-c7fe-11e8-9aa6-a6851f6f436d.png)

There is present overlap (2 leaders present in the cluster) of heartbeats on graphs above. When first switch of leaders h

[2018-10-04 16:58] dadgar commented on #4748
Closing in favor of https://github.com/hashicorp/nomad/issues/2560

Hopefully some work in 0.9.0 will be able to close this out.

[2018-10-04 16:58] #4748 closed

[2018-10-04 17:47] MorphBonehunter commented on #4332
Ok, thanks for that, i will keep an eye on the whole #4727

[2018-10-04 20:36] kcwong-verseon commented on #2560
Just to echo @onlyjob and #4748, the corrupt state is different from before where clearing the `alloc` directory resolve the issue. The new behavior with 0.8.x is the state DB is corrupted and either removing it or `cat /dev/null >/var/lib/nomad/client/state.db` is needed, clearing `alloc` does not address the state.

[2018-10-04 20:51] Miserlou commented on #2825
It's been more than a year and the docs are still lying about this, is there anywhere to submit PRs to fix mistruthful docs?

[2018-10-04 21:56] nhi-vanye opened #4751 "dispatched job returned IDs but never "recorded" in server"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
0.8.3

### Operating system and Environment details

Linux (CoreOS)
Windows2016

### Issue

After calling `thisApp.scheduler.job.dispatch_job( "startir", met

[2018-10-04 21:58] nhi-vanye commented on #4751
Should have mentioned this is using Python SDK

[2018-10-04 22:03] dadgar commented on #4751
@nhi-vanye When you say repeatable you can easily trigger this behavior? Can you provide the logs and the output of `curl http://<nomad>/v1/jobs` and `curl http://<nomad>/v1/evaluations`

[2018-10-04 22:32] nhi-vanye commented on #4751
By repeatable - this job is scheduled on a regular basis (every hour) - From our application logs from the customer this is doing the same thing every dispatch cycle. I haven't been able to trigger the issue on our dev/test environment.

I don't have direct access to the customer system at this point (trying to get it) - I did previously capture the output from `nomad status` at the console - a sn

[2018-10-04 23:35] tantra35 commented on #4749
Seems that not taken into account the fact that `establishLeadership` can work very long, and at that moment can be flapping in raft between leader and follower state.

![img-2018-10-05-02-19-57](https://user-images.githubusercontent.com/1377084/46508351-db290f80-c845-11e8-96d4-125b355c8f6f.png)

On graph below, we can see that `establishLeadership`  on `consulnomad-2` works about 38 seconds.
Duri

[2018-10-05 18:48] kitotik commented on #2818
ideally we could hit the vault pki backend to issue the private key. For existing keys outside of vault wouldn't it be even easier to skip rendering the template and just pass the vault secret directly to the options?

Something like:
[code]

[2018-10-05 19:36] nugend commented on #4299
Has anyone seen any of this behavior cease after upgrading to 0.8.6 or anything?

[2018-10-05 20:37] notnoopci commented on #4299
@nugend yes, I was able to reproduce it with latest nomad master in my tests.  In simulated environment, two jobs re-run that's mentioned in https://github.com/notnoopci/nomad-0.8.3-job-rerun-bug/blob/master/run-1538770428/output.txt#L47-L48

[2018-10-06 03:01] nugend commented on #4299
Holy moly, I didn't notice how much work you've put into debugging this already!

Since you have a script to reproduce and detect the issue, have you tried running it through `git bisect` yet? I guess it'd take a while.

I know for a fact you can put the start at 0.7.1 (we're using that in Production and haven't seen the issue).

[2018-10-08 14:04] jozef-slezak commented on #2560
I am facing the similar problem. I have a fix: https://github.com/hashicorp/nomad/pull/4739
@qkate the fix is being implemented against (I hope so)

@dadgar I would suggest handling missing key like this:
1. like this https://github.com/hashicorp/nomad/pull/4739/commits/ffdbbcebad83788b5203d186ce611650ac1dc137
2. It might be better if GetTaskRunnerState(), GetAllAllocations() would not return erro

[2018-10-08 15:01] psiwczak opened #4760 "HTTP nodes API - cannot unmarshal string into Go struct"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
0.8.4

### Operating system and Environment details
Ubuntu 18.04
### Issue
Trying to follow the guide on using Nomad HTTP API to drain a particular node:
htt

[2018-10-08 17:07] dadgar commented on #4760
@psiwczak Hey thanks for reporting. I have fixed the example and it will hit the website next time we push: a027e5cbd4406d05d4e2ff68a73208edea06a5ee

The deadline field should be an integer not a string!

[2018-10-08 17:07] #4760 closed

[2018-10-08 22:18] dmartin-isp commented on #3854
++
It's painful to have an artifact section that supports S3 and not have the ability to pull the aws credentials from Vault.

[2018-10-09 02:41] preetapan commented on #4699
@jippi we would take a PR for this for the 0.9 release if you want to get this in!

[2018-10-09 06:17] jippi commented on #4699
@preetapan thanks! I'll get it wrapped up today

[2018-10-09 08:04] jippi commented on #4699
PR open in https://github.com/hashicorp/nomad/pull/4765

[2018-10-09 08:34] nattvasan opened #4766 "Nomad docker pull image issue"
I'm using ECR repository to pull images.

### Nomad version
Nomad v0.8.5

### Operating system and Environment details
Redhat - Linux [Not using EC2 - I am using standalone VM]

### Issue
I'm using ECR repository to pull images. Unable to succeed.

### Reproduction steps

**Task config file:**

config {
                                image = "xxx.dkr.ecr.us-west-2.amazonaws.com/xxx/xxx:latest"

[2018-10-09 10:58] tantra35 commented on #4749
To prevent raft leader flapping we apply this stupid patch:

[code]

The key idea, since `establish_leadership` may take too long time, so if in this time multiple leader switching was happend(due perhaps not guarantied network between t2 instances in aws), when waiting for "leader goroutine"(`leaderLoop`), additional goroutine will launched, which "eat" all possible leader flapping, so this poten

[2018-10-09 15:54] dadgar commented on #4766
@nattvasan You are using all three methods of authentication (user/pass, docker config file and the helper.

Do you expect your user/name password to work to pull that image? That gets first preference, followed by the config and then the auth.helper.

[2018-10-09 17:43] dadgar commented on #4766
@nattvasan Likely not as the username/password is only valid for 12 hours (https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html) that is why it is recommended to use the credential helper (https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/)

So I would remove the auth from the job spec and also remove `"docker.auth.h

[2018-10-09 21:03] schmichael commented on #2825
Yes! You can submit a PR against [our entire website](http://nomadproject.io) as its located in the `website/` subdirectory: https://github.com/hashicorp/nomad/tree/master/website

The readme covers building/testing locally.

[2018-10-10 11:14] blockmar commented on #3523
At least make the page size larger, like 25 or 50. I much prefer scrolling over paging

https://github.com/hashicorp/nomad/blob/master/ui/app/controllers/jobs/index.js#L22

[2018-10-10 11:48] nattvasan commented on #4766
@dadgar I did the same what you suggested! Used docker.auth.config to pull images and it Worked like Charm !!! Thanks for the help ! Cheers!

[2018-10-10 18:49] Magical-Chicken commented on #1782
I'd also very much like to see nomad implement this, for the use case where nomad's parameterized jobs are used as a bulk task processing system, similar to the workflow described here: https://www.hashicorp.com/blog/replacing-queues-with-nomad-dispatch

There are major advantages for us to use this workflow, as it takes advantage of infrastructure already in place to handle autoscaling, rather th

[2018-10-10 19:02] Miserlou commented on #1782
@Magical-Chicken - I strongly, strongly recommend you avoid using Nomad for that purpose. There are claims made in that blog post which are simply untrue, and many people are being duped by it.

See more here:
https://github.com/hashicorp/nomad/issues/4323#issuecomment-426419394

[2018-10-10 19:20] Magical-Chicken commented on #1782
@Miserlou Thanks for the heads up, that is a pretty serious bug in nomad, and is pretty concerning since we have a large amount of infrastructure managed by it. The volume of dispatches we are handling currently isn't too high, so I'm hoping nomad will be ok to use here in the short term, but long term I will definitely consider switching this system over to a dedicated task queue.

`Nomad will cr

[2018-10-10 20:04] dansteen opened #4770 "Occasionally, when a template changes, allocations are not restarted."
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
debian 9.3

### Issue
We have an issue where dynamic credentials generated by vault will get updated, and the file that the template will write to is updated, but the application is not restarted.

An example of this is the following allocation.  Notice that the alloc mod

[2018-10-11 10:28] nattvasan commented on #4766
@dadgar

(https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html) that is why it is recommended to use the credential helper (https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/)

As per your comment to use 'docker-credential-ecr-login', I used and installed it successfully. But Nomad is still failing to pull.

Logs:

R

[2018-10-11 15:13] DBuret commented on #2214
Same here: consul, nomad, but no vault. how to read consul ACL protected K/V store from nomad jobs in the template stanza?

[2018-10-11 22:36] hvanvoorhis-ISP opened #4774 "Nomad will not run as a service in Windows"
We need nomad to run as a service so we can select "Allow service to interact with desktop" as we are using some d3d(GPU) APIs. If we run with task manger we cant do this (to my knowledge) without having a foreground cmd window.

When we try to run nomad as a windows service it gets timeout error 1053.

### Nomad version
0.8.5

### Operating system and Environment details
Windows Server 2012 R2
##

[2018-10-12 00:40] angrycub commented on #4774
Nomad does not currently provide the interface necessary to be added as a Windows service.  You can use NSSM or srvany  as a compatibility layer between the Nomad executable and the Windows Service Manager.

[2018-10-12 00:40] #4774 closed

[2018-10-12 04:12] nattvasan opened #4776 "Nomad-ECR pull issue"
Reference Issue : https://github.com/hashicorp/nomad/issues/4766

(https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html) that is why it is recommended to use the credential helper (https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/)

As per your comment to use 'docker-credential-ecr-login', I used and installed it su

[2018-10-12 04:18] dadgar commented on #4776
No need for two issues regarding the same thing. Closing this in favor of the original

[2018-10-12 04:18] #4776 closed

[2018-10-12 09:41] nattvasan commented on #4766
Any update @dadgar , my setup in Nomad-consul is stalled due to this ECR pull issue

[2018-10-12 16:34] angrycub commented on #3931
We have identified the root cause of this issue and it is a bit more complicated than suspected when we initially commented on the GH issue.

There is commentary on the [moby project that discusses the issue](https://github.com/moby/moby/issues/8604#issuecomment-332685815) with using the `-v` style syntax with absolute paths on Windows boxes.  This also led us to the resolution of the issue which

[2018-10-12 17:15] nattvasan commented on #3526
Do I need to make the client section at my nomad client or in Nomad server configuration stanza, please clarify ?

[2018-10-12 17:46] nattvasan commented on #3526
Sorry to quoting it, Did you moved the config.json of docker in client machine and updated the client.hcl file in the Client machine ? Please clarify

[2018-10-12 18:44] nattvasan commented on #4766
So Do I need to run that docker-credential-ecr-login script in my client machine as well ? Please confirm

@dadgar

[2018-10-12 19:18] momania commented on #3526
@nattvasan
Yes, it's all configured in the Nomad client part of the config. (The server doesn't execute jobs 😉 )

I ended up putting my AWS credentials in an environment file for my systemd setup for Nomad.

[2018-10-12 19:45] nattvasan commented on #4766
Fixed the issue, completely !!!!!! Woohoo ! Nomad you beauty ! Thanks @dadgar

[2018-10-12 19:45] #4766 closed

[2018-10-12 19:47] nattvasan commented on #3526
@momania Yes, I figured that lately.! i'm new to nomad, ! Figured out the issue and it resolved!

Yes, I did the same !

[2018-10-12 21:09] rodriguezsergio commented on #3526
https://github.com/hashicorp/nomad/issues/3526#issuecomment-374890827 is definitely the way to go.

Thanks.

[2018-10-12 21:31] dadgar commented on #4766
@nattvasan Nice glad you figured it out! Would you mind saying what the fix was? May help others if the search 👍

[2018-10-14 17:32] samart opened #4781 "Nomad should pass job, alloc and task ids as docker labels"
It woudl be very useful if nomad passed jobId, alloc Id, and taskid as docker labels on container.create().

This will allow us to correlate - via monitoring tools, (Sysdig/Prometheus/etc) and security tooling - running containers with nomad Runtime metadata.  Its very common for these tools to pull in docker labels as means for identification and other categorization purposes.

@rcgenova

[2018-10-14 17:40] jippi commented on #4781
[You can just pass them in](https://www.nomadproject.io/docs/drivers/docker.html#labels)

[code]

[2018-10-14 17:43] samart commented on #4781
Where would the values come from at runtime?   Are there variables i can use to set them?   (Let me look..)

[2018-10-14 18:32] jippi commented on #4781
you can reference any [environment](https://www.nomadproject.io/docs/runtime/environment.html) key using [interpolation](https://www.nomadproject.io/docs/runtime/interpolation.html)

[2018-10-14 18:47] nadilas opened #4782 "Health check fails after x minutes when running two clients"
### Nomad version

`0.8.6`

### Operating system and Environment details

Windows Server 2012

### Issue

Running 3 servers and one client instance is working fine. Consul registered services are discoverable and the system is up and running.
As soon as a second client is started, the allocations are doubled up and consul starts failing the services, which leads to nomad restarting the services.
T

[2018-10-15 05:44] nattvasan commented on #4766
@dadgar I was completely out of mind to configure the docker-aws-credentials on Master servers instead of Client machine... My bad! Lately i figured out and fixed the issue

[2018-10-15 13:53] tantra35 opened #4786 "Rolling updates doens;t work well for system jobs"
### Nomad version
0.8.6

We have system job with follow roling update config

[code]

Job have one task group with count of 3. When we update it some times nomad doens't wait `30m` between task restarts, and update all task at one time:

[code]

In output above we can see, that distance between task restarts much less that must be(30m)

[2018-10-15 14:03] tantra35 commented on #4786
Perhaps, one of one way to reproduce is to make a node drain in moment of rolling update. But before, when we saw this behavior, we doesn't do any `node drain`

[2018-10-15 14:17] preetapan commented on #4786
@tantra35 system jobs can only have a count of 1. Do you have a full job spec you can post here?

[2018-10-15 15:18] tantra35 commented on #4786
@preetapan Sorry I misspelled it. I mean job running on 3 instances. And here job spec

[code]

[2018-10-15 19:48] adragoset commented on #3499
Any update on this? Right now I'm just setting the docker daemon to default to the nvidia runtime and dedicating certain hosts to only gpu work. Messy but i don't know of a better option until this feature makes it in.

[2018-10-15 20:52] dadgar commented on #3499
@adragoset We are actively working on this feature and it should be part of 0.9.0.

[2018-10-17 07:04] PacoDu opened #4796 "[feature] Output artificat for batch jobs"
Hi, we have been working with nomad for some months to test its capabilities for our use case (mostly batch processing). And we found that nomad was missing a feature for artifact management:
it would be really nice to have an output artifact stanza that will upload the batch results to S3 after the job completes. Something like:

[code]

[2018-10-17 12:07] rkettelerij opened #4797 "Docker volumes (bind mounts) pointing to a concrete file aren't updated when the file changes"
### Nomad version
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
Ubuntu 16.04
Docker version 18.03.0-ce, build 0520e24

### Issue
If you create a file using the `template` stanza and map this to a location in a Docker container then the contents of the file in Docker are never updated, even though Nomad (through the template stanza) has render

[2018-10-17 16:33] jontowles opened #4798 "Welcome Screen Bug"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
1.1.4

### Operating system and Environment details
MacOS High Sierra and Mojave

### Issue
Welcome screen comes back after every reboot even when using the DontShowWelcome key

### Rep

[2018-10-17 16:38] DingoEatingFuzz commented on #4798
Hey @jontowles, Nomad has no welcome screen (in the UI or otherwise), plus there is no version 1.1.4.

I'm gonna close this, but please feel free to clarify your issue!

[2018-10-17 16:38] #4798 closed

[2018-10-17 20:51] tantra35 commented on #4786
@preetapan @cgbaker
Just checked this on test stand, and we made conclusions that rolling updates are fully broken for all types of jobs.

We test with follow job definition

[code]

Then to test rolling updates we begin reduce memory from 500 to 400 then to 300 then to 200, and see follow

[code]

Distance between allocations launch, not 30 minutes, and much less

[2018-10-18 06:12] lawliet89 opened #4804 "Nomad Clients cannot discover servers with Consul 1.3.0"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details

Ubuntu 16.04.

Configuration file:

[code]

### Issue

Using the exact configuration on the same machine, once I upgrade Consul from 1.2.3 to Consul 1.3.0, Nomad clients can no longer discover Nomad servers. If I downgrade Consul back to 1.2.3, the problem goes away.

Th

[2018-10-18 06:40] jippi commented on #4786
https://www.nomadproject.io/docs/job-specification/update.html

You probably care about `min_healthy_time` for your service jobs :)

[2018-10-18 09:08] burdandrei commented on #4646
sorted here: https://github.com/hashicorp/nomad/pull/4392

[2018-10-18 09:48] tantra35 commented on #4786
@jippi yes you right, for service job type new update block work, and react on `min_healthy_time`(in my last post i made incorrect conclude) are happens, but for system job types this new parameters absolutely ignores, and only `stager` work fo them(unfortunately, the documentation here does not indicate the true state of things),

On test stand we 100% reproduce situation when one of nodes are dr

[2018-10-18 13:37] burdandrei opened #4805 "Periodic job is triggered using previous version after deploy"
### Nomad version
Output from `nomad version`
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
### Operating system and Environment details
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.5 LTS"

### Issue

On the first run after deploy (update the job definition) from time to time, we can see that periodic job is triggered twice using the o

[2018-10-18 16:48] far-blue commented on #4804
We're seeing the same thing. Reverted back to consul 1.2.3 and everything works.

[2018-10-18 17:12] tantra35 commented on #4804
Just test this on test stand, and doens't confirm this, all works as expected

[2018-10-18 23:19] aedades opened #4806 "Failure to lookup Vault periodic token"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
Linux ip-10-7-19-134 4.9.91-40.57.amzn1.x86_64 #1 SMP Tue Apr 3 17:32:06 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Issue
An allocation using a template to set vault secrets fails with permission errors (to `auth/token/lookup-self`), though we're using a root token.

No

[2018-10-18 23:41] dadgar commented on #4806
@aedades The error is saying that the Nomad server is not able to verify its own Vault token. Either its token is expired or invalid. I would do a `vault token lookup` on the token you have given your Vault server and ensure it is valid.

[2018-10-18 23:42] dadgar commented on #4806
Also I may be misreading what you said, and if so feel free to ignore, but as a best practice you should to have your QA and production environments be talking to the same Vault.

[2018-10-19 00:08] aedades commented on #4806
Hello @dadgar , hmm the token actually is valid:
[code]

[2018-10-19 01:45] dadgar commented on #4806
@aedades Are you configuring Nomad to talk to Vault via consul dns? Do you have multiple instances of Vault? The line of questioning is, is Nomad talking to a different Vault instance than you think.

Further you should look at the logs outputted by Nomad at startup. It should emit why some information about why it thinks the token is invalid.

[2018-10-19 12:32] momania commented on #3499
@dadgar Great news!
Is there any info available on what the feature will look like? Will the gpu's for instance be added to the resources and as such be configurable per job?

[2018-10-19 12:51] tantra35 commented on #4786
To demonstrate what actually goes wrong, on test stand we launch nomad with debug logs. Configurations of test stand is follow 3 nomad servers and 4 nomad clients.

We launch system job, then make some change in it to switch on rolling update, so logs from nomad server looks like this:

[code]

then on some node we made node drain (`nomad node drain -enable -yes c45751e3`), and additional log outp

[2018-10-19 15:32] jozef-slezak commented on #2560
This problem is still reproducible even today (with the latest commit) on 0.9.0-dev just by restarting the cluster. Please see my fix #4807.

Nomad version
0.9.0-dev

Operating system and Environment details
Centos 7

Issue
Nomad agent crashes on startup after the reboot say it cannot restore some allocations.
failed to read local task runner state: no data at key local_state"
bucket: Task bucket

[2018-10-19 17:22] aedades commented on #4806
@dadgar Not ideal, but we only have the one vault cluster to connect to.

Prior to the above errors, we do see nomad successfully connect to vault:
[code]

[2018-10-19 18:32] aedades commented on #4806
@dadgar Thanks for the support, deriving a new root token for nomad worked:
[code]
Ignoring the failure because the secret doesn't exist yet, deriving the token succeeded.  Is it expected that using the same token for different nomad clusters would not work?  (I'm sure this practice is frowned upon, we will be moving to different tokens using the token role based integration in the future.)

[2018-10-19 20:35] dadgar commented on #4806
@aedades There is nothing stopping that from working. It definitely is not a best practice though. I am not sure what caused your issue but it was likely an issue with the token. The error that is being generated is when Nomad tries to confirm the token is valid with Vault and we retry periodically: https://github.com/hashicorp/nomad/blob/master/nomad/vault.go#L412-L438

So for some reason, the to

[2018-10-19 20:35] #4806 closed

[2018-10-22 03:19] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:19] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:20] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:22] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:23] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:23] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 03:23] Mayeu commented on #899
I really hope this will soon be part of Nomad. It's currently the main deal breaker for me as I can not seriously run container without proper network isolation...

[2018-10-22 04:06] Mayeu commented on #899
I hope this will soon be part of Nomad. It is the main deal breaker on our side to adopt Nomad. I can realistically run containers in production without good network isolation.

[2018-10-22 13:15] jvrplmlmn commented on #3636
@dadgar sorry for the ping, but is this planned somewhere in the roadmap? 😄

[2018-10-22 13:40] cofonseca commented on #646
+1. Having the ability to specify public/private in my jobspec is critical to us. I would really love to see this implemented at some point if it has not been done already.

[2018-10-23 01:31] lawliet89 commented on #4804
Let me know if more details are needed. There's nothing "unusual" about my setup. It was based off the Terrraform Nomad and Consul modules in this Github organization.

[2018-10-23 03:41] xzeequike opened #4808 "Driver "raw_exec" failed to write "devices.allow" when using a single mount entry for cgroup"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
Debian 8.11 x86_64 with SysV
with cgroup mounted under a single hierarchy.
[code]

Nomad detects mountpoint of cgroup as
`unique.cgroup.mountpoint = /sys/fs`

### Issue
When using driver "raw_exec", task failed with message like this:
[code]

But the driver "exec" works f

[2018-10-23 06:58] nvx commented on #4323
Is there a reason this is closed? At the very least there should be some published guidance around the scaling limitations of this (eg, memory required per x number of concurrent jobs scheduled or hard limits that should be observed/different configurations that avoid the issue like using an external queue in front of nomad/etc).

[2018-10-23 20:43] vvitayau commented on #2920
I've confirmed this is still an open issue for my hashi-ui.nomad job that "Requires Promotion"

Running
  * Consul v1.4.0-rc1 (1757fbc0a)
  * Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)
  * traffik v1.7.3

Using
[code]

where consul has all three machines tagged where both traefik.frontend.rule above across the board.
IMHO only the canary running service should have the canary

[2018-10-23 20:47] vvitayau commented on #2920
I would have reopened https://github.com/hashicorp/nomad/issues/3340 but it was closed since it was marked as a duplicate of this ticket.

[2018-10-23 21:06] vvitayau commented on #2920
nvm ... ignore my comments, I figured it out.
[code]

[2018-10-23 22:31] nhi-vanye commented on #4751
Hi @dadgar,

I've now got logs from the customer - including the results of /jobs and /evaluations.

Is there a good way to share them ? The full logs do include customer internal details/product details that I would want to redact before sharing them publicly.

[2018-10-24 05:46] mayuresh82 commented on #646
Another use case for allowing to bind to 0.0.0.0 instead of just the interface ip that faces the default route.  We use anycast load balancing where a separate loopback is configured on the host per service. Because Nomad tells docker to only bind to a single IP, all requests to this loopback IP fail.

It is also quite mind boggling why Nomad would tell docker to bind to a specific IP rather than

[2018-10-24 06:29] Mayeu commented on #646
Or the capacity to bind on loopback only.

As of now this even ignore the `ip` option of docker (to set the default ip binding daemon wide). This also mean that without `"iptables": false` in your daemon config, the services you are running via docker will ignore any of your firewall configuration and may end-up available to the whole world.

The sane & secure default should anyway be loopback bin

[2018-10-24 19:56] nugend commented on #4299
We've noticed that we have some jobs which failed and were explicitly configured to not restart or reschedule just get scheduled again on 0.7.1

I can only conclude that this has always been an issue and it's just certain garbage collection policy changes that cause it to be more or less prevalent.

[2018-10-24 23:49] joshuaclausen commented on #3242
2 use cases that being able to specify the dynamic port range in the network stanza would support:

1. Legacy applications that have external dependencies on a specific port range, e.g. Xbox Live Services requires a defined port range for online services that an application on an Xbox will be permitted to call out to.  That list may not be in the default Nomad port range.

2. Applications (legacy

[2018-10-25 01:48] shantanugadgil commented on #3242
I have recently solved this using a jinja template and a for loop within jinja to do something similar.
I also added the for loop for the service blocks.

FWIW, I changed the restart mode of the job to fail as all processes inside the job don't necessarily exist all the time.

[2018-10-26 07:29] tantra35 commented on #4808
Intstall cgroup-lite pkg

[2018-10-26 07:43] PacoDu commented on #899
Same here, I can't find a proper network isolation setup to run consul + nomad with docker driver and benefit from consul connect proxies. The only solution is to use `network_mode = host` but this removes docker network isolation and then any docker running from nomad can potentially access a service proxy on the loopback interface without any ACL verification from consul.

I'm wondering if using

[2018-10-26 08:17] FlorinAsavoaie commented on #899
FYI, you can run multiple containers on the same network namespace, using network="container:containername", aka. the sidecar pattern. They would look just like the containers of a K8s POD that share a network namespace.

[2018-10-26 10:08] jrasell opened #4809 "[potential-bug] raw_exec artifact not set as executable"
### Nomad version
`Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)`

### Operating system and Environment details
[code]

### Issue

When using the raw_exec driver and downloading an artifact binary, the binary is not getting set as executable.

The file permissions:
[code]

The job error message:
[code]

As far as I am aware when using the raw_exec driver and downloading a binary, nomad/g

[2018-10-26 12:29] lmctest opened #4811 "Nomad API - promote a deployment (canary release)"
I am not able to promote a deployment (canary release) using the Nomad API.
It always says HTTP 400 Bad Request. I am able to fail the deployment using following:
curl -D- -sk -X POST http://localhost:4646/v1/deployment/fail/868a986d-b694-8ea8-8fbb-43812a6d73fc
HTTP/1.1 200 OK
Content-Type: application/json
Vary: Accept-Encoding
X-Nomad-Index: 144688
Date: Fri, 26 Oct 2018 12:28:57 GMT
Content-Len

[2018-10-26 13:50] rallister commented on #4804
Got same issue on Ubuntu 18.04

[2018-10-26 14:20] viniciusxyz opened #4812 "How to connect 2 services on different machines?"
How can I connect 2 services running on different machines? I have several applications connected to a database and I need the execution of each part of this set can be done in a distributed and independent way, how can I do this without depending on the DNS of the consul? (I prefer not to DNS because it is not 100% stable in Windows we had several problems with it)

I am using Consul 1.3.0 and No

[2018-10-26 15:13] preetapan commented on #4782
@nadilas can you post a job spec file as well?

Also, the initial status of the check can be set https://www.nomadproject.io/docs/job-specification/service.html#initial_status

[2018-10-26 19:19] #4811 closed

[2018-10-26 20:04] preetapan commented on #4809
@jrasell from the following reproduction steps it looks like go-getter does not make the file executable. Nomad does not directly change file permissions in the artifact stanza.

[code]

[2018-10-26 20:28] dadgar commented on #4812
@viniciusxyz Most people will use DNS. You have two other options.

1. Use the template stanza to render a config that has the addresses of the services you would like to talk to and then read that when setting up your app. You can also render to env vars:
https://www.nomadproject.io/docs/job-specification/template.html
https://github.com/hashicorp/consul-template

2. Use the Nomad API to read the

[2018-10-26 20:28] #4812 closed

[2018-10-26 20:45] preetapan commented on #4809
@schmichael pointed out that our executor should mark the file as executable (https://github.com/hashicorp/nomad/blob/e7f6419077c2c940f3334118c04c2c8d0f82a0fc/client/driver/executor/executor.go#L284). any other errors or log messages from the client you can share before it gets to this state?

[2018-10-26 20:47] jrasell commented on #4809
@preetapan thanks for the quick responses; i'll run it again tomorrow and capture any relevant logs from the client to add here.

[2018-10-26 21:07] preetapan commented on #4809
I was able to reproduce this with the following job spec file, adapted from https://github.com/hashicorp/nomad/blob/community-call-0/community/specs/hello.nomad but using `raw_exec` instead of `exec` driver

[code]

[2018-10-26 21:14] preetapan commented on #4809
After playing around with the above spec file some more, got it to work after changing the command to the following change:

[code]
That's the relative path to the task directory, use that instead of ${NOMAD_TASK_DIR} and it works.

If that doesn't work for you, please re-open this.

[2018-10-26 21:45] preetapan commented on #4809
We can make a fully interpolated path like `${NOMAD_TASK_DIR}/binary' work with a small patch to https://github.com/hashicorp/nomad/blob/e7f6419077c2c940f3334118c04c2c8d0f82a0fc/client/driver/executor/executor.go#L506, so reopening this.

[2018-10-27 00:09] #4809 closed

[2018-10-28 23:16] matthoey-okta opened #4814 "Interpolation does not work with artifact checksums"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)
### Operating system and Environment details
Amazon Linux 1 2018.03.1
### Issue
I looked at the relea

[2018-10-29 09:36] nadilas commented on #4782
@preetapan I can, but I don't think it makes any difference. There is not one specific job which gets restarted, over the course of a 15 minutes run, all scheduled jobs get interrupted and rescheduled.

Initial status is not the problem, as the services do come up as healthy, but after a few seconds, minutes they fail. Whether it's the consul side or the nomad side, I cannot begin to speculate. Fa

[2018-10-29 10:11] lmctest commented on #4811
So, how about you fix the documentation and provide something like:
`curl -s -X POST -H "Content-Type: application/json" -d "{ \"DeploymentID\": \"${deployment_id}\", \"All\": true }" http://localhost:4646/v1/deployment/promote/${deployment_id}`

[2018-10-29 14:02] rkettelerij commented on #4797
I've stumbled upon a user with the exact same issue: https://groups.google.com/forum/#!topic/nomad-tool/s9cw-GeFF8M

[2018-10-29 15:42] mimato opened #4815 "Nomad should not set Consul ServiceAddress / setting ServiceAddress should be configurable"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details

Ubuntu 16.04

[code]

### Issue

When Nomad registers a service in Consul, it always sets the ServiceAddress for that service. This means that the address translation that works with the node address for WAN/LAN addresses will not work for these registered services. There are

[2018-10-29 18:13] dadgar commented on #4814
Good catch. Issue is that we are checking for the length pre-interpolation: https://github.com/hashicorp/nomad/blob/master/nomad/structs/structs.go#L6143-L6182

We will have to lower the level of validation we provide if there is an interpolation since on the server we may not have all possible values to interpolate with.

[2018-10-30 01:46] #4699 closed

[2018-10-30 17:19] cgbaker commented on #4804
Hi all, I have not been able to reproduce this on macOS, Ubuntu 16.04 or Ubuntu 18.04.
If you could, please paste full server and client config, as well as server, client and consul logs.

[2018-10-30 18:31] sportebois opened #4820 "Doc errror or bug? boolean in env stanza"
I would be happy to try to contribute and help trying to submit a fix PR, but I don't know which assumption is true:
- option A: the observed behavior is the expected one, but the documentation is misleading
- option B: the documentation correctly describes the expected result, and the value gets incorrectly cast to an integer at some point

### Nomad version
Output from `nomad version`

`Nomad v0

[2018-10-30 21:16] robloxrob commented on #2560
I ran into this issue on nodes where my disk ended up filling up.

Nomad version
0.8.6

Operating system and Environment details
Ubuntu 16.04

[2018-10-31 00:38] techduderavi opened #4824 "[feature?] Nomad for orchestrating service daemons like httpd, ntpd on a linux machine"
**Nomad Version**
0.8.6

**Operating System**
Ubuntu 16.04

**Issue**

Does nomad offer ability to orchestrate services on a linux machine like httpd, ntpd. I can see that exec/raw driver can be used to run binaries. Assuming this can be implemented using exe/raw binaries what is a proper way of doing this. How are you handling services on Linux with Nomad and  monitor/orchestrate for failure and

[2018-10-31 06:55] shantanugadgil commented on #2560
@robloxrob
I use CentOS7 (systemd)
I run a cron job which checks the status of the service named "Nomad" to see if it is unhealthy/dead
If it is dead, I proceed to stop Nomad, Consul, Docker daemons, wipe out the "datadir" and reboot the machine.

This is a workaround, but keeps machine chugging along rather than having to debug this issue :)

HTH,
Shantanu

P.S.
I haven't implemented it yet, but

[2018-10-31 07:59] shantanugadgil commented on #918
@MrRacoon

apologies for the extreme delay ... contents of my CentOS (Packer) build job which I run under Nomad:

File: centos_ami.nomad
[code]

Ways to submit the dispatch job ...
[code]

HTH,
Shantanu

[2018-10-31 16:35] #4814 closed

[2018-10-31 17:36] matthoey-okta commented on #4814
Thanks!

[2018-10-31 17:45] alexiri commented on #4429
@TheSpbra1n why did you close this issue? I'm having the same problem with ipv6 addresses in the metrics. Did you solve it somehow?

[2018-10-31 18:15] TheSpbra1n commented on #4429
Not actual, after upgrade raft protocol to v3 ( https://www.nomadproject.io/docs/configuration/server.html#raft_protocol )

[2018-10-31 18:53] cgbaker commented on #4804
Please re-open this issue with the configs necessary to reproduce this.

[2018-11-01 10:02] alexiri commented on #4429
You're right, switching to raft protocol 3 solves this. Thanks!

[2018-11-01 23:38] sevagh commented on #4036
Some accidental churn as I deleted my old fork of Nomad, but my pull request to implement this feature request is as of yet unmerged, and according to some other users here, I think several people are running custom Nomad exporters to expose this info (which this PR would help eliminate):

https://github.com/hashicorp/nomad/pull/4831

[2018-11-01 23:46] sloan-dog opened #4832 "Cannot find auth for AWS ECR after using credential helper"
### Issue
I need to pull images from ECR and docker hub. ECR requires authentication.
To that end this is my docker config -> /etc/docker/config.json
[code]

And in my nomad config client stanza
[code]
Failed to find docker auth for repo "overv/openstreetmap-tile-server": docker-credential-ecr-login with input "overv/openstreetmap-tile-server" failed with stderr: 2018-11-01T22:34:30Z [ERROR] Error

[2018-11-02 09:14] pmcatominey commented on #4797
I had this issue, mounting the directory rather than the file directly resolved it.

https://github.com/moby/moby/issues/15793

[2018-11-02 09:36] pmcatominey commented on #4797
Seems that consul template [copies](https://github.com/hashicorp/consul-template/blob/master/manager/renderer.go#L168) the file into place rather than editing in place.

[2018-11-02 10:33] sloan-dog commented on #4832
This is resolved...
Docker auth does not accept a repo identifier with an image at the end
i.e. <ZYZ>.blah.blah.ecr vs <ZYZ>.blah.blah.ecr/image:tag

[2018-11-02 10:33] #4832 closed

[2018-11-02 10:53] subvillion commented on #2381
same with 0.8.4, but errcode 1...

[2018-11-02 12:12] pznamensky opened #4834 "syslog: Long stdout lines support"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
nomad writes docker's stdout/stderr to a file by 16kb chanks at a line.
It causes wrong order in a case when logs are aggregated from several servers.
And the worse thing: it breaks our JSON-formatted logs

### Reproduction steps
- add nomad job with docker
- log long line (>16k symbols) to stdout from the contain

[2018-11-02 14:38] jippi commented on #4834
might be fixed in #4699

[2018-11-03 16:04] alexdulin commented on #4804
Managed to reproduce this issue using a somewhat crude example below. The problem seems to occur when consul servers are running a version lower than 1.3.0 (in this example 1.2.3), and the consul clients are running 1.3.0.

[code]

[2018-11-05 00:53] cgbaker commented on #4804
Okay, reproduced this... will re-open and put updates here. thanks again, @alexdulin

[2018-11-05 09:51] rallister commented on #4804
Hi,
All my consul & servers are 1.3. Initially client could not see the server in the catalog so I had to add server_join directive in hcl config.
`server_join {
    retry_join = ["provider=aws ...
  }
`
I've noticed that in your config you're specifying the service name of nomad server and was going to try that as well:
`
server_service_name = "nomad"
`
But after I've commented out server_join cl

[2018-11-05 19:40] rwiggins commented on #2201
This would compose well with the new Vault Agent.

[2018-11-05 21:48] cgbaker commented on #4804
Okay, I've found the underlying issue. The endpoint that the Nomad server is querying on the Consul client is returning an invalid response. Specifically, the call
`GET /v1/catalog/service/nomad?...&tag=rpc`
is returning an empty list `[]`.

The cause of this is the version mismatch between the Consul client and the Consul server; it is not really supported to mix different "major" versions of Con

[2018-11-05 21:48] #4804 closed

[2018-11-05 23:35] jessica-ritter opened #4840 "[question]actual_cpu units"
Nomad Version 
Operating System Ubuntu 16.04
Issue
Looked through the [API Allocations](docs(https://www.nomadproject.io/api/allocations.html),) as well as the metrics docs and other API docs, could not find unit mention for CPU in sample responses. Can only see CPU units listed (https://www.nomadproject.io/guides/operating-a-job/resource-utilization.html) to my knowledge. Currently I am working o

[2018-11-06 12:36] yurij-stranger commented on #4470
This BUG is reproduced in our infrastructure also.

It will be good idea to start doing something with this

[2018-11-06 16:03] TheSpbra1n commented on #1029
It is also necessary for "Prometheus" =)

[2018-11-06 18:47] vvitayau commented on #1185
Hi @csawyerYumaed,

Could you help to clarify how to sed  inside nomad hcl to perform ${NOMAD_ALLOC_INDEX}+1
[code]

[2018-11-06 19:14] csawyerYumaed commented on #1185
I'm not sure what you mean about ${NOMAD_ALLOC_INDEX} as that comes from nomad itself..

Here is an example of how we use it:

job.nomad.sed
[code]

and my Makefile that runs from our CI/CD system:
[code]

Both of these are just snippets obviously, but sed just takes values from my env (here the BUILD_NUMBER as defined by my CI/CD system as $BUILD_NUMBER and makes it the docker image tag name in t

[2018-11-06 21:00] kurtwheeler commented on #157
I think I just ran into this bug. I have 154 dispatch jobs all on the same node that say they're running, but their allocations are stuck in a pending state:
[code]

And it's because they're waiting on downloading the docker image:
[code]

I checked to see if that image had been downloaded:
[code]

and it hadn't so I tried to manually pull it onto the node:
[code]
And all of the layers were downlo

[2018-11-06 21:58] lmayorga1980 opened #4846 "[ERR] nomad: "Node.Register" RPC failed to server <ip>:4647: rpc error: failed to get conn: dial tcp <ip>:4647: i/o timeout"
I have 3 ec2 instances.

1 is running as a nomad server and the others as nomad client. For some reason I get the error that the Node Could not register.

I am using a Default VPC and all instances are in the same region/subnet and are able to see each other.

Also ubuntu firewall is disabled.

Any source of issue?

[2018-11-07 13:59] lmayorga1980 commented on #4846
Security Groups :open_mouth:

[2018-11-07 13:59] #4846 closed

[2018-11-07 15:52] lmayorga1980 commented on #2527
:+1: Hope this feature is implemented soon.

[2018-11-07 15:54] dantoml commented on #1983
Closing this because it was resolved in the [mailing lists](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/nomad-tool/zf5-yD2UYPU/KhqI_-IuAgAJ).

Please don't hesitate to file a new issue or message the list if you have any further problems.

[2018-11-07 15:54] #1983 closed

[2018-11-07 15:57] lmayorga1980 commented on #1944
:+1:

[2018-11-07 16:36] lmayorga1980 commented on #1944
:+1

[2018-11-07 18:33] sevagh opened #4848 "[question] Query Container ID"
I'm looking for a way to associate running containers to an alloc id. This is for general debugging, or for example to use tools like https://github.com/google/cadvisor

I experimented with the label solution, where I add this to my HCL:

[code]
Also, the container name seems to contain the alloc id in it, e.g. `${task-name}-${nomad_alloc_id}` in the output of `docker ps`.

I'm sure the ContainerI

[2018-11-08 00:09] pznamensky opened #4849 "[Feature] add date and time into job's log lines"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Issue
Currently job's log lines are written to alloc/logs/task.stdout(stderr) as is it.
But the problem is that we're losing information about the time when a log line was written.
There're only two options to save date at the moment:
- use custom logger for docker jobs
- modify applications in order to add time in log

[2018-11-08 00:30] DingoEatingFuzz commented on #4401
@shantanugadgil, I think eventually the Nomad UI will be able to do most things that jquery plugin can do. It won't look the same but the feature set will be roughly matched.

- [x] **Search:** this is already supported. It isn't per-field, but the search input does matching across appropriate fields in the dataset
- [x] **Sort:** columns that make sense to sort by can already be clicked to sort.

[2018-11-08 00:33] DingoEatingFuzz commented on #4464
Hi @vipul-hk, what URL are you trying to load? Is that `/jobs/:job_id/allocations`?

That error message suggests that there is something fishy with an API response. Which isn't to say the API response is bugged, but it may be in a shape the UI isn't expecting but should support.

[2018-11-08 01:08] alexdulin commented on #4804
Thanks @cgbaker, you are definitely correct. After following the Consul upgrade guides and updating the consul binary version on the server agents first, then updating clients, I can confirm that the issue does not occur (have not seen it once while updating 80+ nodes).

[2018-11-08 11:10] michabbb commented on #1664
this helps to do this right: https://serverfault.com/a/801259/221690

[2018-11-08 13:58] ThomasObenaus opened #4853 "LXC CPU metrics are wrongly calculated"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details
AWS Amazon Linux 2

### Issue
It seams that the nomad_c

[2018-11-08 15:42] lmayorga1980 opened #4854 "nomad cannot find any available drivers[not even exec] on Windows 2016 Server"
I am new to nomad and trying to set up a Windows 2016 Nomad Client with the following configuration

[code]

**Running the Nomad Client Manually**

[code]

![screenshot from 2018-11-08 10-40-05](https://user-images.githubusercontent.com/3172378/48209281-b8a57d00-e342-11e8-82d5-08bbeedbdb13.png)

[2018-11-08 15:53] angrycub commented on #4854
Windows does not support the exec driver.  According to [the docs](https://www.nomadproject.io/docs/drivers/exec.html)

Also, raw_exec needs to be enabled by [configuration](https://www.nomadproject.io/docs/drivers/raw_exec.html#client-options).
If you have docker installed on your box, it should be fingerprinting if it is properly running.

I'd give those things a look first to see if that resolv

[2018-11-08 15:53] #4854 closed

[2018-11-08 15:54] lmayorga1980 commented on #4854
@angrycub I am not using docker on the windows machine. I am just trying to execute some commands with the `raw_exec` driver.

[2018-11-08 16:01] angrycub commented on #4854
You will need to add:
[code]
 to the `client` stanza of your configuration and restart your client node.  At that point the raw_exec driver should be available for use.  This is documented [here](https://www.nomadproject.io/docs/drivers/raw_exec.html#client-requirements)

[2018-11-08 16:14] lmayorga1980 commented on #4854
:+1:
![screenshot from 2018-11-08 11-14-20](https://user-images.githubusercontent.com/3172378/48211447-7df21380-e347-11e8-95fa-ecb2561aeb1b.png)

[2018-11-08 16:29] preetapan commented on #4840
@jessica-ritter the unit is Mhz and mentioned here https://www.nomadproject.io/docs/job-specification/resources.html#resources-parameters

Will accept a doc update PR from you if you want to add it to more places, can see how this is hard to find.

[2018-11-08 16:29] #4840 closed

[2018-11-08 17:40] lmayorga1980 commented on #419
:+1: for 0.9

[2018-11-08 22:39] nathanhruby commented on #2719
Looks like https://docs.docker.com/engine/api/v1.39/#operation/ContainerCreate indicates this is passable as part of the API now in recent docker engines.

[2018-11-09 09:13] mildred commented on #4566
As you are redesigning this, perhaps it would be a good time to implement #3636: an option to enable automatic promotion of canaries when they are all healthy

[2018-11-09 14:50] commarla commented on #4550
We have the same issue here. On some c5 instances the file is here but sometimes not. We are using the `cpu_total_compute` option for now.

We're using debian stretch with kernel 4.16 or 4.18. but it's seems not related to the kernel version.

[2018-11-10 05:05] hvindin opened #4862 "Nomad should try and schedule enough healthy allocations to meet the count requirement without being bound by broken unhealthy allocations that cant be removed."
### Nomad version
Nomad v0.8.6+ent (306d85c455fe13d67ac788c890aad225863dd531+CHANGES)
(also version 0.8.5)

### Operating system and Environment details
RHEL 7.3 & RHEL 7.4
Docker EE 18.03.3 & Docker EE 18.03.4

### Issue
When a container allocation becomes unhealthy and nomad tries to reschedule it we have observed instances where docker fails to remove the container (which is definitely a docker

[2018-11-11 13:50] xiaohui opened #4863 "it should be `c.StdoutPath` instead of `c.StderrPath` here"
https://github.com/hashicorp/nomad/blob/31045da9bedfde4a416d271718e645d6ca0bc716/client/driver/executor/executor.go#L138

[2018-11-12 14:30] Miserlou opened #4864 "Nomad Lead Server at 100% CPU Usage Leading to Total System Death"
![screen shot 2018-11-12 at 9 23 12 am](https://user-images.githubusercontent.com/139987/48353195-d0d80d80-e65c-11e8-9b60-2030accb2f5c.png)

You know the drill by now - use Nomad for a heavy workload, come back from the weekend to find that the entire system has completely collapsed because the lead server is using 100% CPU and won't accept any connections, even to `nomad status` itself. Classic.

[2018-11-12 15:57] adragoset commented on #4300
Any ETA on this? Pretty important when you start doing things like updating loadbalancers off of consul service records. Currently there is no way to pass messages from the deployment job to those types of services without querying the nomad api in addition to the consul api.

[2018-11-12 18:34] nickethier commented on #4864
Hey @Miserlou sorry you're experiencing issues again.

Please share the logs for this node as well as other server nodes spanning this incident. Debug level would be especially helpful. Could we also get your nomad server configuration if possible and the version of nomad you're running. As for connections, can you provide the open file handles and what your file handle limit is. Further, can you

[2018-11-12 19:12] nickwales opened #4866 "[bug] Nomad UI breaks when a job name includes a period"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.6

### Operating system and Environment details
Ubuntu 16.04

### Issue
The UI breaks whenever a job name has a period

### Reproduction steps
Run a job with periods in the n

[2018-11-13 06:08] dantoml commented on #4863
Thanks @xiaohui - I just filed a PR with the change.

[2018-11-13 10:29] sagarrakshe opened #4870 "Cannot access jobs after stopping a periodic job"
### Nomad version
`Nomad v0.8.6`

### Operating system and Environment details
Ubuntu 16.04.5 LTS

### Issue
When a nomad `periodic job` is submitted and stopped via nomad UI, after sometime I am not able to access any job details on UI. I can access the nomad UI but I cannot get go to any job by clicking on job.
When I checked on browser console, I got the following errror
[code]

### Reproductio

[2018-11-13 11:29] shantanugadgil commented on #4870
Hi,
job details could be getting cleaned up due to the periodic GC.
can you try tweaking the GC timeouts (on the agents) and see if helps?

BTW '*/1' would be the same as just '*', right?

[2018-11-13 17:26] angrycub commented on #4770
Also could be related to #4226

[2018-11-13 17:35] Miserlou commented on #4864
[code]

Viewing the UI directly gives this:

![screen shot 2018-11-13 at 12 19 18 pm](https://user-images.githubusercontent.com/139987/48430910-64cdd600-e73e-11e8-9a7b-d2a3fd20ae4a.png)

This looks like it was the crash:

![screen shot 2018-11-13 at 12 31 02 pm](https://user-images.githubusercontent.com/139987/48431652-318c4680-e740-11e8-815f-3eb0b7b6c122.png)

I can't enable debug now since this

[2018-11-13 17:53] Miserlou commented on #4864
As a reminder, when this problem occurs, it takes down _all servers in the cluster_.

Restarting the server manually appears to cause a `No cluster leader` problem, so it doesn't look like this will even be solvable by a `monit` based solution as the cluster is completely unrecoverable once this occurs. I'd like to try trashing the working directories and starting over but I'll keep them for now i

[2018-11-13 17:56] Miserlou commented on #4864
After about 15 minutes it actually did start an election again, but one of the agents simply died in the process for no reason and so everything failed:

[code]

[2018-11-13 18:14] nickethier commented on #4864
Hey @Miserlou I'm working on going through this info. What immediately sticks out at me is in your server config you have:
[code]
Does this mean this value is set to 3 on other servers and if so why?

Additionally it looks like you're running 4 servers?

This shouldn't be an issue, but 3 servers will actually yield better performance without sacrificing any reliability. You can only loose 1 server

[2018-11-13 18:29] nickethier commented on #4864
`bootstrap_expect` should be the same on all nodes. From the docs:

Additionally enabling debug mode and setting the logging level to `DEBUG` would really help if this happened again. Debug mode doesn't affect the cluster until you attach the debugger to it then it is a very small amount of performance overhead. Debug logging will produce additional logs, but otherwise won't impact the server and

[2018-11-13 18:34] nickethier commented on #4864
Would you share a graph of the memory usage as well? Any chance there are OOM killer events in dmesg?

[2018-11-13 18:40] Miserlou commented on #4864
Actually that time it happened on two servers:

[code]

It's way, way, way too noisy to use DEBUG on our production systems - especially when this particular error occurs, it generated [gigabytes of log output in a few seconds](https://github.com/hashicorp/nomad/issues/4323#issuecomment-391369482).

It _does_ look like those `Killed` messages are system OOMs:

[code]

CWL doesn't automatically tra

[2018-11-13 18:49] nickethier commented on #4864
Progress! So Nomad is running out of memory. Now lets try a few things to figure out why.
First if you are able to share the state.bin and raft.db files that would help.

Try grepping for this in your server logs of the incident:

Also could you share the job you're dispatching?

[2018-11-13 18:59] nickethier commented on #4864
Do you have graphs for all of Nomad's metrics? Seeing the following would be really helpful:
* `nomad.broker.*`
* `nomad.blocked_evals.*`
* `nomad.worker.*`

[2018-11-13 19:01] Miserlou commented on #4864
We have lots of different jobs, many of them are in this directory: https://github.com/AlexsLemonade/refinebio/blob/dev/workers/nomad-job-specs/salmon.nomad.tpl - that's a template, it ends up being about 70 job specs total at registration time.

I'm not sure about sharing the files because a) they're very big and b) I don't know if they're safe to share. What information do they contain? Obviousl

[2018-11-13 19:58] Miserlou commented on #4864
[code]

[2018-11-13 20:55] nickethier commented on #4864
Yeah I don't want you sharing those if you're templating in secret data. Many people use the vault integration so secrets aren't leaked into job specs.

I think we may have reproduced a condition that can cause memory bloat under your use case. I'll share in more detail tomorrow, but wanted to get a reply to you today.

[2018-11-13 21:00] jessica-ritter commented on #4840
Hi Preetapan,

Thanks so much for responding. I think perhaps these links might help me explain a bit more. I noticed that here:
[code]

[2018-11-13 21:13] Miserlou commented on #4864
Sounds good, looking forward to the fix.

[2018-11-13 21:15] Miserlou commented on #4864
Did you see my note about your internal load testing?

Because it still seems that you're advertising a product for production work loads that you've never actually tested at scale yourselves, which is obviously pretty astounding.

[2018-11-13 21:33] shantanugadgil commented on #4864
As an observer, I feel for Miserlou's pain and frustration as he keeps tackling the various issues he is facing.

Though, @Miserlou I have one thing to add; "You are lucky" ... Having HashiStack is "actually a good thing" ™️ 😁  as Nomad is **extremely flexible** yet **adequately rigid**.

I have been trying to convince folks to adopt HashiStack, though without much luck, mostly due to their off-th

[2018-11-13 22:40] notnoop commented on #4299
@nugend Thanks for your patience!  We have resolved this issue and intend to ship a point to release with the fix soon.  Would you be able to vet a test build in your environment soon?  I'll update the ticket as soon as we cut.a release.

[2018-11-13 22:51] nugend commented on #4299
I've already built a release from the master branch. We'll be testing it in a few days.

[2018-11-13 23:16] preetapan commented on #4299
@nugend master has a lot of churn due to ongoing work with driver plugins, so would definitely not recommend running a build based on master in production.

[2018-11-14 01:01] preetapan commented on #4824
@techduderavi you can use Nomad system jobs for this https://www.nomadproject.io/docs/schedulers.html#system

In the future, please ask questions in our google groups mailing list - https://groups.google.com/forum/#!forum/nomad-tool, it helps keep github issues for bug reporting only, and you can also search previous posts for system jobs.

[2018-11-14 01:01] #4824 closed

[2018-11-14 03:36] techduderavi commented on #4824
@preetapan Thank you and agreed 👍 !

[2018-11-14 14:10] preetapan commented on #4786
@tantra35 sorry for the late reply. This is a known issue with the system scheduler, the `stagger` parameter  creates a follow up evaluation for the scheduler at a later time, but any extraneous event such as node drain or a lost node that causes the scheduler to look at that job again would still cause an alloc update.

We are tracking improvements to the system scheduler in #4740 where we will a

[2018-11-14 14:10] #4786 closed

[2018-11-14 14:37] mindnuts opened #4876 "Dimension "memory" exhausted on 1 nodes"
Nomad fails to allocate resources (RAM) for a job even if system has available RAM.

### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)
### Operating system and Environment details
Ubuntu 18.04
### Issue
Even though the system has resources, the task refuses to be scheduled.
### Reproduction steps
Our use case is bit different. We are using Nomad for scheduling our m

[2018-11-14 14:46] preetapan commented on #4876
Can you paste the output of `nomad node status <ID>` on the node that's exhibiting this behavior? Rather than looking at the overall system resources to diagnose this, we will need to see the node's available and reserved resources according to Nomad.

[2018-11-14 15:16] preetapan commented on #4820
@sportebois this is a documentation being somewhat misleading. We use [mapstructure|https://github.com/mitchellh/mapstructure] which handles turning `true` to "1", the string representation of a boolean. Feel free to submit a PR to correct the doc.

[2018-11-14 15:17] mindnuts commented on #4876
There you go:

[code]

[2018-11-14 15:22] sportebois commented on #4820
Perfect, I assumed so but hadn't found the time (traveling...) so far to dive into the code to double check this.
I'm going to open a PR to try to make this less misleading for future readers later today (or at least later this week). Thanks for the feedback!

[2018-11-14 15:36] preetapan commented on #4876
@mindnuts this is expected behavior

[code]
Even though the allocations running on that node are using 2GB, they asked Nomad for 6.8 (Allocated resources above), and that memory is reserved for those allocations, so Nomad will not schedule anymore on that node.

We've discussed supporting oversubscription in a future release which will allow the scheduler to reclaim unused memory and calculate res

[2018-11-14 15:36] #4876 closed

[2018-11-14 15:40] margueritepd commented on #2065
Any thoughts about the priority of this item / if it would end up on the roadmap any time soon?

[2018-11-14 15:47] preetapan commented on #2065
@margueritepd building a `nomad exec` capability is on the roadmap for a minor release after 0.9 is out.

[2018-11-14 15:58] preetapan commented on #4862
@hvindin Can you share the output of `nomad alloc status <>` of the container that's in this state. In general if its `ClientStatus` is failed, it will get rescheduled on to another node.

[2018-11-14 16:09] preetapan commented on #4849
@pznamensky Thanks for reporting this. The upcoming 0.9 release introduces a plugin architecture for logging, and we are planning to build on top of that to support logging plugins (#1469). That will enable operators being able to use a custom plugin that adds timestamps/supports different ways of formatting the log output etc.

[2018-11-14 16:09] #4849 closed

[2018-11-14 16:17] preetapan commented on #4848
@sevagh thanks for the suggestion. This isn't something we are actively working on, but will consider adding it to a future roadmap with a more generic way to surface allocation metadata.

The upcoming 0.9 release will add support for passing allocid/taskid etc as docker labels. #4781 tracks this.

[2018-11-14 16:24] preetapan commented on #4696
LEaving this issue open, see my comment in https://github.com/hashicorp/nomad/pull/4662. we'll take an updated PR against the docker driver plugin after the ongoing work on that is merged.

[2018-11-14 16:40] sevagh commented on #4848
Thanks @preetapan - so that means instead of manually specifying `labels = "${NOMAD_*_ID}"` in all of my HCL files, Nomad will do it automatically in the new release?

[2018-11-14 20:34] nickethier commented on #4864
Before I dig into the details of the fix I think it important to highlight that you may still be misusing Nomad. Nomad is a workload scheduler and is suitable as a replacment for a classic job queue system in many applications. However it is not designed to be a distributed durable queuing system such as Kafka for example. Nomad must hold all pending Jobs in memory to schedule them, it currently h

[2018-11-14 21:05] Miserlou commented on #4864
Hey Nick, big thanks for the deep dive on this. We've added a limiter for the number of dispatched jobs, which are all stored in a database anyway, so hopefully that gives us a safety buffer.

We are now **well aware** that Nomad isn't a suitable tool for our needs - however we got this impression because [you are lying to people about Nomad's capabilities](https://github.com/hashicorp/nomad/issue

[2018-11-14 21:34] cgbaker commented on #4804
By the way, this issue was just filed in Consul and fixed in a 1.3.1 release:
https://github.com/hashicorp/consul/blob/v1.3.1/CHANGELOG.md

[2018-11-15 00:21] kcwong-verseon opened #4880 "NOMAD_PORT_<label> and NOMAD_HOST_PORT_<label> have the same value"
### Nomad version
Nomad v0.8.6 (fcc4149c55399eb4979cd3fe3fb983cfe6c8449a)

### Operating system and Environment details
CentOS 7.5

### Issue
For the inline `template` in this job spec:

[code]

### Reproduction steps

Run the above job and see the content of `local/config.hcl`. This is the output I got:

[code]

I expect the last 4 lines to be:

[code]

This is kind of the opposite of #1391.

[2018-11-15 06:08] #4496 closed

[2018-11-15 10:37] #4864 closed

[2018-11-15 19:04] #1419 closed

[2018-11-16 01:08] greenpau opened #4887 "building nomad from source on alpine fails"
The building of `nomad` fails on Alpine Linux:

[code]

Alpine version:

[code]

Go version:

[code]

Nomad is at:

[code]

[2018-11-16 14:18] sportebois commented on #4820
Closing this, since both concerns were addressed:
- @preetapan clarified the origin of the confusion (thanks a lot!)
- hopefully, #4882 will make this less misleading in the future

[2018-11-16 14:18] #4820 closed

[2018-11-16 15:20] james-masson commented on #2303
Kubernetes has recently announced support for exactly this - https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/

With Nomad/raw Docker, specifying cpuset params is the only way to do this right now, and it doesn't scale well, due to potential clashes between tasks.

For bonus points, take into account the kernel "isolcpus" flag, which is another commonly used tweak in this space.

[2018-11-17 14:18] migueleliasweb opened #4899 "[Question] Why use "cpushares" instead of "cpus" with the Docker driver?"
Hey everyone!

This question came to me as I was trying to setup a Nomad cluster with different server types. It's quite hard to setup properly the Job resources considering the frequency of the CPU in Mhz.

Choosing the "cpus" option would make more sense because it's easier to think in the number of cores* instead of the frequency**. It would also help properly constrainting the process to not o

[2018-11-17 14:25] shvar opened #4900 "[feature] support CRL (certificate revocation list) files"
### Preface
Nomad is currently using two systems for securing its protocols.
  * ACL (which has a token revocation mechanism) controls access to data and APIs
  * mTLS that could work in an untrusted  #environment and even prevent other services from masquerading as Nomad agents.

### Use case
We have to use nomad agents over the internet and would like to protect our communication channels. So, m

[2018-11-18 19:50] ThomasObenaus commented on #4853
Hey @dadgar do you have an update regarding this issue? Am I just wrong/ did not understood how these metrics are meant or is this a bug?

[2018-11-19 01:37] migueleliasweb commented on #4887
Hey @greenpau It would be good to specify the Dockerfile you've used to run those commands. For me it seems you might have missed to install musl-dev in your alpine container.

[2018-11-19 01:43] greenpau commented on #4887
@migueleliasweb, :+1 I will check regarding musl-dev. I am not building it in a container. i have alpine running on bare metal.

[2018-11-19 16:55] stevenscg commented on #4862
@hvindin I think I have similar problems on a similar setup as you: Nomad 0.8.6, CentOS 7.5, Docker CE 18.06.1-ce (overlay2 on xfs).

This condition often results in service outages for us and multiple total node failures throughout the cluster.

Do you see something like this when looking at an alloc status??

[code]

[2018-11-19 17:06] mcandre opened #4902 "RPM with systemd integration?"
Awesome to see HashiCorp providing an open source, distributed scheduler! Could we get RPM's uploaded, preferably with systemd integration, to make nomad servers easier to setup?

[2018-11-19 18:04] shantanugadgil commented on #4902
The .service files are already part of the source tree.
I see the value of having OS packages, but the alternative os just as easy.

I used to use FPM to create a HashiPack (Consul and Nomad) but soon realized that just a bunch of quick commands suffice;

wget/s3 cp from a known source
create the config file and service file
start the services.

Using an image based deployment, this just meant pac

[2018-11-19 20:17] #4737 closed

[2018-11-19 22:53] josegonzalez commented on #4737
Thanks for that, @DingoEatingFuzz :) Small ui enhancements always make users happier :)

[2018-11-20 18:38] DingoEatingFuzz commented on #4737
I agree!

[2018-11-21 00:18] tantra35 commented on #4532
It seems that is normal behavior

[2018-11-21 15:06] dantoml commented on #4770
It looks like this bug has been fixed as part of the client refactoring work in 0.9, given the following job file:
[code]

I get the following after changing consul values:

[code]

[2018-11-21 15:21] atillamas commented on #3227
Not sure if this is related or if i should start a new issue.
We bring up some instances during specific hours, and nomad fails to place one specific task from a group of 3 different tasks.
Some days it works, and some days i just have to rerun the jobspec to have nomad allocate the task. This does not happen in any of our other environments.
Running Nomad 0.8.6

[2018-11-23 11:04] mildred opened #4913 "Add interpolation for driver IP address of another task within the group"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Feature Request

There is currently no way to interpolate another task *driver* IP address within the same group. By driver IP address, I mean the IP address associated to the docker container within the docker network. The same address as advertised by [`address_mode = driver` within a service stanza](https://w

[2018-11-23 12:53] tantra35 commented on #2504
We have the same issue, and think that nomad must prepare /dev in chroot like docker does. I think that follow will be enough:

[code]
 or do this like in this script:
https://github.com/funtoo/realdev/blob/master/realdev

Its not normal, that nomad change root system