[2015-08-27 21:46] cbednarski opened #10 "Race in nomad/nomad tests"
Periodic failure (probably a race condition) while running tests on `nomad/nomad`; seen on linux with 2 cpus, running `make test`. Log below.

/cc @armon

[2015-09-03 14:52] catsby opened #17 "Adjustable kill time"
Right now processes have 5 seconds to clean up before a force kill.
We should explore ways to make this configurable, depending on the job(s)

Backstory:

- https://github.com/hashicorp/nomad/pull/15#discussion_r38571044

[2015-09-03 22:58] cbednarski opened #18 "Put demo Java app in git"
The demo Java app is currently in Dropbox. We should put this in the git repo and serve via http test server or similar.

[2015-09-04 19:36] cbednarski opened #20 "Drop privileges on exec'd processes"
Nomad itself will need root to access things like network resources and cgroups. However, processes that are started by nomad should be forked as `nobody` or other non-privileged access by default.

[2015-09-08 18:19] #18 closed, assigned to nobody

[2015-09-08 21:31] catsby opened #25 "Artifact fetcher"
We need a common utility for fetching source artifacts over the internet. It should at least:

- support retries
- some authentication support

Possibly an interface that has more concrete implementations, like `SSHFetcher` or `HTTPSFetcher`, etc.

[2015-09-08 21:36] catsby opened #26 "Extract `httptest.NewServer` from AWS ENV Test into something reusable"
https://github.com/hashicorp/nomad/pull/14 introduced a mock server for HTTP requests. It should be extracted into a generic thing that wraps `net.httptestserver`, and allows a given test library to append "endpoints" to it:

[code]

Or something like that...

[2015-09-09 04:46] cbednarski opened #27 "Change termination to SIGTERM instead of SIGINT"
POSIX conventions give us three means to stop a program:
1. SIGINT is actually a keyboard interrupt (Ctrl-C). Many traditional daemons (apache, mysql) ignore this.
2. SIGTERM means please cleanup and shutdown immediately. Apache, MySQL obey this as the termination command.
3. SIGKILL Aaaand you're done. In the application is stuck or you want to crash instead of waiting for cleanup, you can kill t

[2015-09-09 18:29] cbednarski opened #30 "Resource constraints for exec"
On Linux we can use cgroups to constrain resource usage. There is initial support and documentation for this feature in the Docker driver, but we should extend it to other drivers.

Questions:
- Is there a good cgroups library for go? If not we can use the `cg*` tools but will need to note that they are an external dependency that must be installed on the system in advance.

Docs:
- [x] [Linux](ht

[2015-09-10 00:07] #27 closed, assigned to nobody

[2015-09-12 00:43] ryanuber opened #40 "Log the config files used"
Suggested by @cbednarski in #33: It could be helpful to an operator if we had a debug-level log to show the names of the config files used when starting the agent, especially in cases where a config dir is used.

[2015-09-12 01:03] armon opened #41 "Change default region to 'global'"
Most deployments will have only a single region and "global" sounds better than "region1"

[2015-09-14 01:13] armon opened #44 "API client does not use ListStub"
@ryanuber Many of the "list" APIs use a Stub response instead of the full object. For example, job list returns the JobListStub instead of a list of Job structs. We are decoding into the full struct, which is fine as its a super set. I just wonder if its confusing since many fields will be blank. It may be more clear to also have ListStub versions in the API. Up for discussion, I'm not sure either

[2015-09-14 01:18] #41 closed, assigned to nobody

[2015-09-14 03:11] #44 closed, assigned to nobody

[2015-09-15 04:42] ryanuber opened #48 "Sidebar Nav"
The sidebar in the docs (and probably other) sections is a bit too tight. We end up line-breaking just about everything we put there. Can we make it wider? /cc @captainill

![](http://i.imgur.com/C68hQzr.png)

[2015-09-15 05:34] ryanuber opened #49 "Use nomad.structs import in api package"
@armon Right now we have mirrored structs in the API the same way we do in other projects. I think the point of this was to avoid the extra import of the `structs` package everywhere. Can we just import the structs package in the API, and use `structs.Job` and the stubs directly? Or are there other reasons I'm not thinking of?

Motivation is #46. We are going to need [this](https://github.com/hash

[2015-09-15 20:57] ryanuber opened #51 "Rename some agent-* commands"
Since some of the agent-\* commands only pertain to servers, it would be more obvious if they were named accordingly.

[code]

Thoughts?

[2015-09-16 01:56] cbednarski opened #54 "Truncate UUID to the first 8 characters"
When displaying the UUID in the UI we should truncate to the first 8 chars. Two considerations:

- The UI should accept short UUIDs
- We should have a way to detect a duplicate truncation (pretty unlikely, but possible).

[2015-09-16 03:20] #20 closed, assigned to cbednarski

[2015-09-17 17:34] armon opened #56 "Need a new API/CLI to query and set server list for client agents"
Client agents do not use Serf, and instead are provided a list of server hostnames or IPs. As a result, we need some way to query and manipulate that.

[2015-09-18 00:42] ryanuber opened #58 "Duplicate allocations during reschedule"
@armon documenting this here, but it's the same bug we were seeing earlier today.

We are seeing duplicate allocations when a job is rescheduled. For example, register a simple job with 1 task. You get 1 allocation. Then schedule the same thing again. You get 2 more new allocations. Scheduling yet again yields 4 new allocations.

Steps to reproduce:

[code]

I think this is also the reason behind

[2015-09-18 17:11] #58 closed, assigned to nobody

[2015-09-19 00:23] cbednarski opened #59 "Pass dynamic port(s) down to the executor via ENV or similar"

[2015-09-19 00:25] cbednarski opened #60 "Support chroot for exec / java"
Chroot gives us disk isolation and also provides a foundation to `mount` shared data and persistent volumes.

[2015-09-19 00:27] cbednarski opened #61 "Support mounting volumes into executor context / task alloc dir"
When running a task we would like to share data between other tasks in a task group. Also, if using something like ceph or EBS we would like to support mounting a volume into the executor's context (chroot, cgroup, etc.) so it can write persistent data.

Probably depends on #60, so mounts are mounted into a tasks's environment and have some level of isolation from other tasks on the system.

[2015-09-19 00:34] cbednarski opened #62 "Add volumes for docker driver"
Similar in theme to #60 and #61, we want to share data between tasks in a group. We will need to mount the task group allocation directory as a docker volume so we can share data between these processes.

[2015-09-19 01:53] cbednarski opened #64 "Cross-compilation failures"
When building #63 on OS X, I get the following errors:

[code]

[2015-09-20 22:13] armon opened #70 "Community Updates"
Please made sure you add yourselves to community page.
/cc: @cbednarski @catsby @dadgar @ryanuber

[2015-09-21 02:28] armon opened #72 "Docs for Task Drivers"
Could you guys please fill in the docs for the task drivers as you are more familiar.
Feel free to copy/paste from `exec` for consistency.
- [x] Exec
- [x] Java
- [x] Docker
- [x] Qemu

/cc: @cbednarski @catsby @dadgar

[2015-09-22 18:10] #51 closed, assigned to nobody

[2015-09-22 18:52] #49 closed, assigned to nobody

[2015-09-22 20:00] ryanuber opened #80 "Bootstrapping guide"
There are a few places in the docs or CLI usage where it would be nice to reference a comprehensive bootstrapping guide, like Consul has, rather than re-documenting bootstrap a couple of times.

[2015-09-22 22:46] armon opened #84 "Client should inject nomad version information as attributes"
We should have a "fingerprint" that just reports our build information as a node attribute.

[2015-09-22 22:56] cbednarski opened #85 "Scan for and reserve already-used ports when nomad starts"
Ports are dynamically allocated in a range between 20000 and 60000. We should scan and detect ports in this range that are already bound so we don't collide with other services. The high port range is likely safe, but we should check.

Also, we should check for low ports in case a service tries to use a reserved port in that range.

[2015-09-22 22:57] cbednarski opened #86 "Reserve nomad's ports"
When nomad starts it should mark its own ports as reserved to prevent tasks from trying to use that port number.

[2015-09-22 22:59] cbednarski opened #87 "Add reserved ports from drivers"
When a driver or fingerprinted runs it should mark any related ports as reserved. For example, we should prevent a task from trying to allocate the same ports used by docker or consul, if we detect those on the nomad host.

[2015-09-23 04:20] ryanuber opened #91 "generic_sched panic"
@armon seeing this during some tests: https://gist.github.com/ryanuber/c358e95f2e3e468f1210

After tracing some code, it looks like it stems from this: https://github.com/hashicorp/nomad/blob/master/scheduler/generic_sched.go#L106 if `Process()` is called on an eval with its initial `TriggeredBy != "job-register" && TriggeredBy != "node-update"`.

[2015-09-23 04:45] #91 closed, assigned to nobody

[2015-09-23 05:25] cbednarski opened #92 "Docker driver doesn't resolve the correct image if there are multiple versions of the same image on the machine"
I think this is a good time to refactor this call to use the API instead of CLI. The CLI doesn't give me the data I want here.

[2015-09-23 22:40] armon opened #99 "QEmu driver should use NetworkResource ports not user configured ports"
There are two sets of ports we are concerned with, those _internal_ to the VM and those _external_ which are running on the host. The internal ports are specific to the machine and application and we don't know what they are. Likely they are hard coded based on the application.

The external ports may either be statically reserved ("always give me 8080") or dynamically assigned. The task driver sh

[2015-09-24 01:23] #59 closed, assigned to cbednarski

[2015-09-24 01:27] cbednarski opened #100 "Export the proper alloc dirs in environment variables"
Right now we use something like execContext.AllocDir but we actually want to use task.AllocDir

[2015-09-24 06:51] cbednarski opened #102 "Support mixed case / lowercase for port labels"
These will all be uppercased for use in environment variables. As such they should be normalized and de-duped. We should do the same thing with meta tags.

[2015-09-24 06:52] cbednarski opened #103 "Support static ports for docker"
Docker currently supports dynamic ports but not static ports

[2015-09-24 22:44] #103 closed, assigned to cbednarski

[2015-09-25 14:40] catsby opened #115 "Add vagrant file for Getting Started guide"
The Getting Started guide references a vagrant file to download,we need to post it and update the link:
- http://localhost:4567/intro/getting-started/install.html

[2015-09-25 16:03] catsby opened #116 "`nomad run` doesn't tell you if the allocation succeed"
I run `nomad run example.nomad` and I see the eval all worked and is now `complete`.

[code]

However, I do not see if my thing is actually running. In my example, it's not..

[code]

[2015-09-25 18:19] catsby opened #117 "CLI command to display the agents fingerprint(s)"
For operating or debugging, it would be helpful if I could run a command on a node and get some information on the results of the Fingerprints, both which ones ran, and what they recorded. This would be helpful for understanding why a job isn't placing where I thought it would, or debugging a Fingerprint.

Ex:

[code]

[2015-09-25 19:03] #56 closed, assigned to nobody

[2015-09-25 23:28] ryanuber opened #119 "Handle nil task resources consistently"
We have some spots (maybe even just docker) where we panic if the provided task resources is a typed nil. We should either handle this uniformly before invoking a specific driver, or remove the panic.

Example: https://github.com/hashicorp/nomad/blob/master/client/driver/docker.go#L65-L67

[2015-09-26 05:29] #92 closed, assigned to cbednarski

[2015-09-26 05:29] #102 closed, assigned to cbednarski

[2015-09-26 06:49] ryanuber opened #122 "Clean up docker images periodically"
It would be nice to remove docker images only after they are unused after X time. This allows minor gaps in time where the image isn't in use, but still cleans up stale images that aren't needed.

[2015-09-26 07:38] #119 closed, assigned to nobody

[2015-09-26 19:46] clstokes opened #123 "-config option fails and throws error when directory is passed."
When starting nomad with the `-config` option and passing a path to a directory, Nomad fails and throws an error. Passing a path to a file works fine.

#### Error
[code]

#### Successful
[code]

Full error log and successful log at https://gist.github.com/clstokes/4cb766a9209dda8fff65.

[2015-09-28 00:07] #115 closed, assigned to nobody

[2015-09-28 01:31] kelseyhightower opened #131 "Consider managing deps with something like Godeps"
In my attempt to build nomad I had to update the following deps:

[code]

Might be better to manage this with something like Godeps.

[2015-09-28 01:33] kelseyhightower opened #132 "Running test on OS X does not seem to work."
Looks like make test assumes it's running on AWS with access to the docker daemon socket. Maybe the README should be updated to reflect environment requirements for development.

[code]

[2015-09-28 02:12] #48 closed, assigned to nobody

[2015-09-28 05:30] #70 closed, assigned to nobody

[2015-09-28 05:30] #72 closed, assigned to cbednarski

[2015-09-28 05:32] #60 closed, assigned to dadgar

[2015-09-28 05:33] #99 closed, assigned to nobody

[2015-09-28 06:06] kelseyhightower opened #134 "Service jobs should support the ability to be restarted after a failure"
While testing the example redis job, I stopped the agent and the job was marked dead. When I restarted the agent, the job did not get rescheduled. This maybe by design, but it was unexpected, and I assumed since the job was a service nomad would just reschedule the job to an health node.

[2015-09-28 06:10] kelseyhightower opened #135 "nomad agent fails to start when it can't locate a container."
After stopping nomad for about a minute or two and attempting to restart it, I get the following error:

[code]
[code]

Maybe nomad should start regardless of missing containers and just log an error.

[2015-09-28 23:05] EvanKrall commented on #122
Perhaps you could use something like https://github.com/yelp/docker-custodian?

[2015-09-29 01:46] blalor opened #142 "Add driver for rkt"
It'd be fantastic if Nomad supported CoreOS's rkt container engine in addition to Docker.

[2015-09-29 04:37] lachie83 commented on #132
Also having the same issue as described by @kelseyhightower. Please update README with requirements.

[2015-09-29 06:14] robzienert opened #144 "Add cron type to job description"
We have the ability to create "service" and "batch" jobs, but it'd be really nice to have an additional "cron" type. In this type, a task would be created whenever the cron triggers and once the task is complete (be it the process exits gracefully or not), the task is not recreated until the next cron trigger.

The type would not allocate a new task if the number of tasks are already at the maximu

[2015-09-29 06:57] adriaandejonge opened #146 "Can't schedule a job because "resources exhausted""
I tried starting nomad on both CoreOS (local and GCE) and Debian (GCE) and running a cluster (both with -dev and with client/server. For installation, I follow the steps described in the [Vagrantfile](https://raw.githubusercontent.com/hashicorp/nomad/master/demo/vagrant/Vagrantfile).

As soon as I try to run:
[code]

I get a message that my resources are exhausted:
[code]

Or this variant:
[code]

[2015-09-29 08:56] F21 opened #147 ""Smarter" job specifications"
I am not sure if this is within the scope of the project, but I think a use-case like this is pretty common place.

I would like to run something like hdfs on a nomad cluster. Mesos uses schedulers and executors for their frameworks. They have a hdfs framework here: https://github.com/mesosphere/hdfs

Basically I would like to be able to do the following:
- Collocate a namenode, journalnode and zo

[2015-09-29 09:34] F21 opened #149 "Support ip / virtual ip per task group"
In kubernetes, there is the idea of services. Essentially, it assigns a virtual ip (from a range) to each task launched in the cluster.

This means, that if we launch task, we do not have to ask nomad to dynamically assign a port, or force it to assign a port and hope it exists. Since each task has a virtual ip, we can access all http services on 80, https on 443, etc.

[2015-09-29 10:45] F21 opened #150 "Persistent data on nodes"
Nomad should have some way for tasks to acquire persistent storage on nodes. In a lot of cases, we might want to run our own hdfs or ceph cluster on nomad.

That means, things like hdfs' datanodes needs to be able to reserve persistent storage on the node it is launched on. If the whole cluster goes down, once its brought back up, the appropriate tasks should be launched on its original nodes (whe

[2015-09-29 11:19] aldergren opened #151 "Parsing of df output fails on Linux when filesystem paths are very long"
I was testing nomad in my Linux environment and I was unable to launch the agent:

    $ nomad agent -dev
     ==> Starting Nomad agent...
     ==> Error starting agent: client setup failed: fingerprinting failed: Failed to parse `df` output; expected at least 4 columns

I checked the output from df, and this happens because df on Linux adds breaks up the output when filesystem paths are very long

[2015-09-29 13:29] jweissig opened #156 "Modifying job count kills existing containers"
Congrats on the launch (looks very cool so far)!!

Working through the Vagrant / Docker example tutorial at https://www.nomadproject.io/intro/getting-started/jobs.html and found a strange issue.

Docs mention, "It is idempotent to run the same job specification again and no new allocations will be created", but this does not appear to be working.

Scaled to three redis instances, then re-ran “noma

[2015-09-29 13:38] henrikhodne opened #157 "docker driver stalls downloading images with poor DNS servers"
I was going through the tutorial at home, and couldn't get any of the Docker containers to start up at all. Every time I did `nomad run`, it would just get stuck in a "pending" state, even if I waited for 30 minutes:

[code]

I ran `sudo docker images` to see if the images had been downloaded at all, since I suspected that's what it got stuck on, and saw this:

[code]

So it looks like somewhere i

[2015-09-29 13:51] kelseyhightower commented on #146
I think the problem here is that nomad assumes eth0 for all systems, which is not true for systemd. See the code here: https://github.com/hashicorp/nomad/blob/master/client/fingerprint/network_unix.go#L38

[2015-09-29 13:53] kelseyhightower opened #158 "nomad should not assume all linux hosts use eth0 as the default."
systemd systems do not have eth0. Maybe nomad should detect the default interface based on the default gateway: https://github.com/hashicorp/nomad/blob/master/client/fingerprint/network_unix.go#L38

[2015-09-29 14:41] kelseyhightower opened #159 "Restarting nomad can lead to orphaned containers"
After restarting nomad I get the following errors in the logs and nomad fails to start.

[code]

[2015-09-29 15:02] apognu commented on #158
Or maybe allow for a configuration dierctive to set the interface to use. Not everybody wants to use the default gateway.

[2015-09-29 15:38] sethvargo commented on #146
Cross-linking with https://github.com/hashicorp/nomad/issues/158

[2015-09-29 16:39] mzupan commented on #156
I see this two.. not only that is once killed it takes 19 seconds to load new containers.

https://gist.github.com/mzupan/53a1a7dcb8c4882df20d

[2015-09-29 17:45] adriaandejonge commented on #146
Thanks for your reply @kelseyhightower & @sethvargo

Trying to test this hypothesis:

* I forked the nomad repository at https://github.com/adriaandejonge/nomad/
* I changed the line in the network_unix.go from eth0 to ens4v1 (see [commit](https://github.com/adriaandejonge/nomad/commit/61425615e612c5a55173bdde6fc569ac94040b20))

I choose this because:
[code]

After compiling the modified version o

[2015-09-29 17:59] henrikhodne opened #161 ""failed to configure task directory: No task directory exists" for exec driver"
I tried running a small test job with the exec driver, and got some errors when running it. The error in the agent logs is this one:

[code]

Here's the full log output from `sudo nomad agent -dev`:

[code]

Here's the job file:

[code]

This is running Nomad v0.1.0 using [this Vagrantfile](https://github.com/hashicorp/nomad/blob/b0899cba727146e129cd6e47ab5923e8f6f4573a/demo/vagrant/Vagrantfile) o

[2015-09-29 18:26] mgenov commented on #149
+1

[2015-09-29 21:08] mgenov opened #163 "looking for nomad executable is checking gopath twice"
The NomadExecutable function is checking twice where executable is in GOPATH instead of checking and the current working directory as comment says.

[code]

Could be changed to:
[code]

[2015-09-29 21:21] justenwalker commented on #161
:+1: - I'm also experiencing this on dedicated linux machines (1 server, 1 client)

- [Job Spec](http://pastie.org/private/nmpu3ozfvsk2umsda5hw)
- `nomad run sleep.nomad` => [output](http://pastie.org/private/jotbglhtjquqyw4llerq)

[2015-09-29 21:31] mauilion commented on #156
This appears to be a behavior in -dev not in prod. In prod we see that the existing container is left to run.

[2015-09-29 22:03] consultantRR opened #164 "task health check to kill & replace"
It would be great to be able to register a task health check in a job definition (a la Consul) that, optionally, could be leveraged by Nomad to kill and replace a failed task.

[2015-09-29 22:09] ryanuber commented on #123
This should be fixed in 61f4e63 !

[2015-09-29 22:09] #123 closed

[2015-09-29 22:14] ryanuber commented on #163
Hmm, looks like something that could maybe just be solved by scanning `$PATH` plus the local directory for the nomadExe though I'm not sure about cross-platform in that case. Marking as an enhancement, thanks! /cc @dadgar

[2015-09-29 22:15] ryanuber commented on #163
Changed to a bug since we actually aren't scanning the local dir, almost missed that.

[2015-09-29 22:48] dadgar commented on #161
Thanks fixed in https://github.com/hashicorp/nomad/commit/d377731f3dc952cfbe58e5a2715e1e6f445df254

You will want to `vagrant destroy` and then `vagrant up`

[2015-09-29 22:48] #161 closed

[2015-09-29 23:15] ryanuber commented on #156
@catsby noticed the same - seems isolated to dev mode currently. Will take a look, thanks!

[2015-09-30 04:51] robzienert opened #167 "Add event lifecycles for job updates"
Having the ability to have lifecycle events for rolling updates would be a great feature to have, most namely in the shutdown phase in a rolling update. I'd like the ability to subscribe to a signal within an application to perform any cleanup.

Real world example: I have an application that has thousands of persistent connections to it that I want to gracefully drain, prior to completely shutting

[2015-09-30 05:01] darron opened #168 "SHA256 Checksum for AMD64 is off."
Got the Checksum from here:

https://dl.bintray.com/mitchellh/nomad/nomad_0.1.0_SHA256SUMS?direct

It says `6d48846e40a44449f2b84eb37f32859eff98468ebffef3b4475d7a060f14fa32`

But when I download to verify it's actually:

[code]

Not a huge deal - but should be corrected.

I haven't checked the other versions.

[2015-09-30 06:57] F21 opened #169 "Add more documentation about how nomad and consul works together"
There are some bits here and there in the docs talking about how consul can be used for service discovery, however it's unclear how it all fits together.

There should be more information regarding this, and perhaps an example cluster where nomad and consul is set up in tandem.

[2015-09-30 07:02] apognu opened #170 "fingerprinting: ifconfig regex fails"
Hi,

The ifconfig version that comes with net-tools 2.10-alpha (on Arch) breaks the regex used in network_unix.go.

[code]

Is there any compatibility reason not to use iproute2 for IP management (are there any distros out there where it's not available?)?

As for #158, maybe we could add a configuration directive to bypass automatic detection?

Regards,

[2015-09-30 07:10] apognu opened #171 "cgroup issue with systemd 226"
Hi,

I'm not sure if this falls under nomad's scope, but it would appear, as referenced in docker/docker#16256, systemd version 226 introduces _init.scope_ into their cgroup FS, and it messes up quite a bit (nomad could not run containrs on my system).

I have not read anywhere what distros nomad means to support, so I assume recent systemd-based ones are part of it.

I understand this may not be

[2015-09-30 08:06] zrml commented on #169
+ 1

[2015-09-30 08:18] zrml commented on #150
+1
we also want to mount a specific FS of a shared storage volume...
we need an API/flag to be able to specify this affinity

[2015-09-30 08:22] zrml commented on #116
status says failed. However we need to know why. We need more feedback perhaps with a debug flag.

[2015-09-30 08:24] zrml commented on #62
+1
Fundamental!
Thanks

[2015-09-30 08:29] zrml commented on #61
@cbednarski: you would like to share some data or do you mean host dirs & files sharing? (I'm translating task = container right now)
In the use cases I have in mind, container in DB1 with -v /DB1:DB1
must not share anything with container DB2.

[2015-09-30 09:07] aldergren commented on #151
Also, this behaviour seems to have been [removed](https://github.com/coreutils/coreutils/commit/99679fff629f4a624f4fe7a67335c6e90533afc2) from coreutils/df some time ago -- but it does prevent me from running nomad on a default install of CentOS 6.7. It works fine on CentOS 7.

[2015-09-30 10:04] Eyjafjallajokull opened #172 "Support for AWS AutoScale"
Hi, just a quick question, because I didn't found info: does Nomad supports Amazon AutoScale?

[2015-09-30 10:51] LordFPL commented on #159
For information i ask for a similar pb... and it can be worse :
https://groups.google.com/forum/#!topic/nomad-tool/Hm7BhF0iCIE

[2015-09-30 10:55] sielaq commented on #169
I suspect they do not work together yet, but it would be awesome to not to use registartor for that.
+1

[2015-09-30 10:57] zrml commented on #30
https://github.com/jeffbmartinez/docker/blob/master/cgroups/cgroups.go  maybe??

this one https://github.com/vbatts/go-cgroup is just a C lib wrapper.
or
how about opencontainers/runc ?
https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/cgroups.go

HTH

[2015-09-30 11:00] zrml commented on #30
jsut saw this simple one
https://github.com/s-kostyaev/go-cgroup/blob/master/cgroup.go

[2015-09-30 11:44] apognu opened #173 "Specify envvars for docker driver"
Is there any way to specify environment variables to be sent with the creation of a Docker container? According to [the doc](https://www.nomadproject.io/docs/drivers/docker.html), it's not.

I know I can add items to the _meta_ specification directive, and it will, as a result, add envvar to my running container, unfortunately those are prefixed with _NOMAD_META__, and developing my application to

[2015-09-30 11:53] JensRantil opened #174 "update stagger is not explained in the job specification docs"
I just read https://www.nomadproject.io/docs/jobspec/index.html#update. I have no idea what `stagger` does/means. Maybe it's my bad English, don't know.

Suggestion: Improve description what it does/means.

[2015-09-30 13:10] zenvdeluca opened #175 "Networking: support docker --net=host"
I'd like to spin up my containers with nomad without need of a docker0 bridge, or need of NAT to expose my services.

docker supports --net=host, which spin up the container sharing the host network namespace.
that means containers will bind ports using the host network stack. this should simplify a lot for using in production environments, where we don't want to use overlay networks and rocket sc

[2015-09-30 13:46] reidja commented on #174
It says exactly what it does:

update - Specifies the task update strategy. This requires providing max_parallel as an integer and stagger as a time duration. If stagger is provided as an integer, seconds are assumed. Otherwise the "s", "m", and "h" suffix can be used, such as "30s". Both values default to zero, which disables rolling updates.

Stagger is the time duration between updates, and max

[2015-09-30 14:14] dimfeld commented on #173
If you need this right away, a quick-and-dirty solution would be to change `SetMeta` in /client/driver/environment/vars.go to not add the prefix. That said, official support for this would be great.

[2015-09-30 14:56] dimfeld commented on #173
@hashicorp-team Not sure if this is on your roadmap but I'd be glad to work on it in my free time over the next few weeks and submit a PR. Seems like it's just a matter of adding another map to the Task structure (named `env` or `environment`, perhaps?) and associated code for parsing from HCL and applying the settings. Any thoughts?

[2015-09-30 14:58] apognu commented on #173
I was starting to read the code to do exactly that myself.

[2015-09-30 15:02] dimfeld commented on #173
Feel free to take it on if you'd like, but either way is fine with me so long as we don't do duplicate work :)

[2015-09-30 15:02] justenwalker opened #176 "Restarting nomad after exec tasks complete results in cgroup errors"
I'm trying to simulate some exec job completing and running it again. I'm using sleep of 30 seconds and using nomad run twice. It doesn't allocate any nodes the second time I run it, and if I restart the nomad client, it fails to bring itself back up.

## Steps to reproduce

This is on an Ubuntu 14.04. I have two machines - a server and client. I am running all of these commands on the client mach

[2015-09-30 15:31] purehyperbole commented on #175
+1, this would be super useful!

[2015-09-30 15:32] apognu commented on #173
Yeah, almost got something ready to PR, should be ready tonight or tomorrow morning.

[2015-09-30 15:33] dimfeld commented on #173
:+1: Cool, sounds great!

[2015-09-30 17:46] macb opened #178 "agent: advertise and addresses configuration is confusing"
It's unclear why both are required in addition to `bind_addr` and `port` configuration. I think collapsing advertise and address into a single configuration of `addresses` that documents that it will bind there and be advertised there.

[2015-09-30 17:50] justenwalker opened #179 "Unable to start nomad agent on windows"
When i try to run nomad.exe on Windows Server 2012 R2 (64bit) I get an error about docker unix sockets.

[code]

[2015-09-30 18:57] ryanuber commented on #178
@macb it is sometimes useful to advertise a different address than you bind to, for example in NAT cases. The advertise addresses are not required, and are automatically set to the bind address if unspecified. We still expose the functionality to handle more complex networks, though.

[2015-09-30 18:58] ryanuber commented on #178
After reading the docs over I can see how it might be confusing. I think this might have been copy-paste error. I'll get that sorted so it is more clear.

[2015-09-30 19:02] LordFPL commented on #175
+1 for me too... and for all other docker options :-) (env & volumes essentially in my case)

[2015-09-30 19:09] ryanuber commented on #178
I've updated the descriptions for these options in 3a69532. @macb does that clear things up?

[2015-09-30 19:20] ryanuber commented on #167
Good idea, sounds like we basically just need to signal the running processes or containers, and then wait for them to complete within a reasonable timeout before doing the hard kill. Marked as an enhancement, thanks!

[2015-09-30 20:13] macb opened #180 "server: join semantics are not exposed via configuration"
Similar to how consul offers [flags](https://www.consul.io/docs/agent/options.html#_join) and [config file](https://www.consul.io/docs/agent/options.html#start_join) to have a server join the cluster `nomad` doesn't. Was this an intended deviation?

[2015-09-30 20:42] macb commented on #178
That makes sense and that commit is a lot more clear. If its only applicable to `servers` would it be worth nesting it under the `servers` key to make that clear?

[2015-09-30 21:20] dadgar commented on #174
@JensRantil I am going to close this. If the answer given didn't explain it to you feel free to post on the user group: https://groups.google.com/group/nomad-tool

[2015-09-30 21:32] dadgar commented on #163
Fixed https://github.com/hashicorp/nomad/commit/2351a97776a0a9f534cff340bfe5195713298784

[2015-09-30 21:32] #163 closed

[2015-09-30 21:34] dadgar commented on #168
Thanks! Will fix this soon

[2015-09-30 21:41] ranjib commented on #158
im running ubuntu 15.04 with systemd and it has eth0. both gateway as well as route introspection can be tricky, i 'll prefer to have a direct config option as @apognu suggested.
also , ifconfig is fairly old/deprecated, the code should probably use ip instead.

[2015-10-01 00:48] cleung2010 opened #182 "Runtime error if -config path specified is empty"
As the title says, nomad exits with a runtime error if the `-config` path specified is empty:
[code]

Edit: This also happens if the directory is non-empty, but does not have any HCL or JSON specific files:
[code]

[2015-10-01 01:46] timfallmk opened #183 "Atlas integration not taken by servers"
I'm setting up a 3 server cluster for bootstrapping and I've tried passing the `atlas` config in through a config file or through command line arguments, and neither seem to be picked up by the agent. I've tried the following:

[code]

And also passing it in `config.hcl`

[code]

[2015-10-01 03:21] rvm2015 commented on #146
+1 Nomad docker images do not currently function on CentOS 7 or CoreOS stable (766.4.0), same error (using example.nomad)

==> Monitoring evaluation "129a2fab-8d5a-4ff6-71ab-e6463c12e854"
    Evaluation triggered by job "example"
    Scheduling error for group "cache" (failed to find a node for placement)
    Allocation "9c141829-63bb-81ae-8267-802a7154c4e4" status "failed" (0/3 nodes filtered)

[2015-10-01 05:06] mmlb opened #185 "docker is not mapping dynamic ports"
Following the getting started guide I expected to see the dynamic redis ports mapped, but `docker port` returns empty. Possibly related to fsouza/go-dockerclient#220

[2015-10-01 05:08] rvm2015 commented on #151
+1 This works on CentOS 6 if you use standard partitions instead of LVM (LVM creates the log filenames)

[2015-10-01 05:12] ghost opened #186 "RPC Advertise Address not Advertisable if -bind 0.0.0.0"
Getting the following:

    [root@nomad ~]# nomad agent -server -bootstrap-expect 1 -data-dir /tmp/nomad -bind 0.0.0.0
    ==> WARNING: Bootstrap mode enabled! Potentially unsafe operation.
    ==> Starting Nomad agent...
    ==> Error starting agent: server setup failed: Failed to start RPC layer: RPC advertise address is not advertisable: [::]:4647

This happens only if -bind 0.0.0.0 is set, set

[2015-10-01 05:15] rvm2015 opened #187 "-client only nodes need a -servers cli flag"
There does not appear to be a flag for the command line that is the equivalent of this config option:

    client {
      servers = ["SERVER_IP:4647"]
    }

This would be helpful for inserting this value via an environment file in a SystemD service file. Currently -client can't really be used without a config file without also specifying -server.

[2015-10-01 05:17] rvm2015 commented on #173
+1 This is critical for pretty much any 12 factor app

[2015-10-01 09:43] LordFPL commented on #186
I encounter the same pb : bind on 0.0.0.0 is working, but there is a problem witj advertise address... only one can be used.

In consul, i never encounter this problem... maybe it's implicit... but in nomad you have to specify it.

Here is a part of my config :
[code]

I have asked in the google gorup about a way to specify a dynamic var like $(hostname -i).

[2015-10-01 15:39] markpollack commented on #185
I was not able to connect to the redis server using the redis-cli (tried the obvious port numbers) when following the getting started guide - how can I determine the port?  netstat didn't help much.  (using ubuntu 14.04)

[2015-10-01 16:05] purehyperbole commented on #185
I'm also hitting this issue, netstat returns nothing on the docker host.

[2015-10-01 17:39] purehyperbole commented on #185
Just leaving this here for reference:

It turns out the container port is accessible, it's just not mapped back to loopback on the docker host. You can find the correct IP by inspecting the docker container using this command (you have to run this on the host your container is running on).

```$ docker inspect CONTAINER_ID | grep IPAddress````

You should then be able to connect using that IP/Port

[2015-10-01 17:54] rvm2015 commented on #185
+1 This option is not functioning properly, setting dynamic_ports["redis"] or dynamic_ports["6379"] would expect to map 6370 from the docker host through to the redis container however this is not happening on either localhost or the public ip of the docker/nomad host.

    [core@bastion ~]$ ansible 10.42.0.60 -m shell -a "netstat -pan | grep LISTEN | grep 6379"
    10.42.0.60 | FAILED | rc=1 >>

[2015-10-01 18:12] dadgar commented on #182
Fixed in https://github.com/hashicorp/nomad/commit/61f4e638b83e8d1ce749e6a7670f6984b5c2220c

[2015-10-01 18:12] #182 closed

[2015-10-01 18:21] #151 closed

[2015-10-01 18:43] ryanuber commented on #187
Thanks, this should be pretty straight-forward to add.

[2015-10-01 18:49] ryanuber commented on #186
Ah, so in Consul I think this worked because we had a function that would scan for a private IP address, and automatically use that. There were a number of different opinions surrounding that option, and although in most cases it made things easier to start, it was intentionally left out so that it would always be clear which address we were binding and advertising. It just gets ambiguous if there

[2015-10-01 18:52] ryanuber commented on #169
This integration is in the works and should be functional soon! We will definitely include detailed documentation on the specifics.

[2015-10-01 18:56] ryanuber commented on #183
Hey @timfallmk,

The Atlas side of things doesn't yet support Nomad, but it is a feature which should be introduced in a coming release. We added all of the internals to Nomad to make that work, but we are still working on the Atlas side to tie it all together.

[2015-10-01 18:58] ryanuber commented on #180
@macb this was probably just an oversight for the servers. In Nomad the client's don't need to join the gossip pool, so only the server nodes should need these options. We should add them, though. Thanks!

[2015-10-01 19:02] ryanuber commented on #179
Hey @justenwalker,

Sorry about that, we noticed a similar issue on Linux, but unfortunately the fix we made didn't also cover Windows. We'll get this fixed!

[2015-10-01 19:04] ryanuber commented on #172
@Eyjafjallajokull Nomad doesn't directly interact with AWS in any way currently. However, if you have an AMI with Nomad installed, new client nodes could easily be deployed based on your ASG configuration and join in to an existing Nomad cluster to increase your cluster capacity.

[2015-10-01 19:04] #172 closed

[2015-10-01 19:06] ryanuber commented on #178
We intentionally didn't nest that block since we currently have network settings in the outermost layer. If clients need to support an advertise address at some point we wanted to just have the single block for specifying all of the options, even in cases where a node might be a client and a server simultaneously.

I'm going to close this one out, but feel free to ask any other questions if that d

[2015-10-01 19:06] #178 closed

[2015-10-01 20:13] ryanuber commented on #142
Implementation is going on in #165 !

[2015-10-01 21:27] markpollack commented on #185
Thanks @purehyperbole !

[2015-10-01 21:33] cbednarski commented on #61
@zrml We want to support something like this:

[code]

This way tasks in a task group can share data amongst themselves. I think there is already some work for this in the exec chroot implementation -- I probably have the directories wrong. @dadgar might be able to share some more details.

[2015-10-01 21:53] zrml commented on #61
not a bad idea... I think I see where you are going (shared volumes vs private). OK Cool.
thanks guys.
Keep it coming :)

[2015-10-02 00:30] dadgar commented on #187
Fixed in https://github.com/hashicorp/nomad/pull/191

[2015-10-02 00:30] #187 closed

[2015-10-02 02:32] #175 closed

[2015-10-02 04:07] darron opened #193 "raft: Failed to make RequestVote RPC to 127.0.0.1:4647: dial tcp 127.0.0.1:4647: connection refused"
I've built a small 3 node Terraform server cluster - but am having problems getting it to converge.

The code I used to build it is here: https://github.com/darron/nomad-cluster

I see nodes join:

[code]

But they never successfully have an election. I also see quite a few of these logs:

[code]

I pulled the config and full logs out of one of the nodes I built - it's posted here:

https://gist.g

[2015-10-02 06:38] achanda opened #196 "docker: setting network mode is not working"
For some reason, setting a non-default network mode is not working by doing a `hostConfig.NetworkMode=mode`. It works fine when I do a `NetworkMode: mode` in the `createHostConfig` function. I'd need to move all the validation logic there. Not very sure why this does not work.

[2015-10-02 09:57] charliedrage commented on #146
It seems I am getting the same issue on Debian:

[code]

[code]

[code]

[2015-10-02 13:44] dockerciworkshop opened #198 "nomad does not restart a failed container"
Description:
https://www.nomadproject.io/intro/ states `Nomad will handle placement and recover from failures automatically.`
However when killing a docker container Nomad does not restart it.

Repeat by:
[code]

[2015-10-02 13:51] bastiaanb commented on #198
Nomad, does log the failure, just doesn't act on it:
[code]

[2015-10-02 14:46] apognu commented on #186
Maybe, in the case the specific IP address of the server isn't known in advance, its advertise addresses could be derived from a given subnet. Something in the likes of:

[code]

I already have a patch somewhere that would give nomad this feature, if it is deemed interesting.

[2015-10-02 15:47] joshua commented on #198
I'm experiencing the same issue If I attached to the docker container and kill the service. Nomad does log the failure and change the allocation's state to 'dead' but doesn't attempt to restart or reevaluate.

May be related to #134.

[2015-10-02 16:23] dadgar commented on #185
I think there might be some confusion on what dynamic ports means. When the job asks for a dynamic ports, the scheduler will pick any available port on the host. So asking for dynamic port REDIS will pick a random port. That is why you can't ping redis on its default host. Nomad sets an environment variable for each port so you can determine which port you were assigned as you can see in docker in

[2015-10-02 16:24] dadgar commented on #198
Going to close as it is a duplicate of #134

[2015-10-02 16:24] #198 closed

[2015-10-02 16:27] dadgar commented on #158
#189 addresses this.

[2015-10-02 16:27] #158 closed

[2015-10-02 17:06] mmlb commented on #185
@dadgar the problem I originally encountered was with the docker driver. Reading the `Manual Port Mapping` section of the docs seems to indicate that the driver will pickup on the env var, then map the randomly selected port 1:1 to the container, then pass the env var down to the container so that it can bind to said port and/or advertise the correct port to others.

I might have mis-read that (if

[2015-10-02 17:17] mmlb commented on #185
I'd like to expand on the possible mis-reading of the docker driver docs.

The docs states
[code]

Where did `1.2.3.4:223333` come from? Is it the tuple randomly selected by higher layer? How do I map it to lower? I read further down and see `http`. Will that correspond to the `22333` from above?

Having the code block almost looks like the start of a new subsection since it does not seem to be in

[2015-10-02 17:19] dadgar commented on #185
@mmlb sorry I totally misread this. I am opening it back up.

[2015-10-02 17:52] #196 closed

[2015-10-02 17:52] #185 closed

[2015-10-02 19:54] rvm2015 commented on #159
+1 This prevents the service from restarting with any options using the original data-dir.

[2015-10-02 20:04] rvm2015 opened #201 "nomad init example does not expose redis port"
This may be related to a misreading of issue #185 or how the nomad init example file is supposed to work, however when scheduling the nomad init example redis instance port 6379 is not actually exposed on the docker host. Is this a placeholder example designed to just run the instance but not expose anything? Running example with count = 3 on a nomad 3 host cluster using master.

    [core@bastion

[2015-10-03 00:39] #146 closed

[2015-10-03 00:54] #173 closed

[2015-10-03 06:29] nathwill opened #207 "nomad binary in release archive is not executable"
release binary should be executable when extracted

[2015-10-03 06:40] ryanuber commented on #207
This is fixed in the current build scripts, but didn't make it in to the initial release. 0.1.1 will be released soon for some initial bugfixes and enhancements so this should go away then. Thanks for letting us know!

[2015-10-03 06:40] #207 closed

[2015-10-03 06:44] nathwill commented on #207
great, thanks!

[2015-10-03 10:36] blalor commented on #142
👍

[2015-10-03 18:12] jippi opened #208 "easy way to increase/decrease number of group.count"
for dynamic scaling up and down, instead of writing the full job file and apply it, it would be nice with a "incr" and "decr" api endpoint for just that

[2015-10-03 18:36] macb opened #209 "unclear how to assign ip address for docker container"
I'd like to launch containers and have docker forward all interfaces to the container for the dynamic port. It doesn't seem like that is currently supported as `ip` isn't exposed in the network config and whatever is configuring it is defaulting to the `10.20.x.x` network which is reachable from the host but no where else.

I could easily be missing something though.

[code]

[2015-10-04 03:17] achanda commented on #209
`docker` selects a IP range to be used on `docker0` (in bridge mode). All containers are allocated IPs from that range. Nomad does not provide a way to configure that. You can try to:
1. Assign a IP to `docker0`. This can be done by starting the daemon with a `--bip` parameter as described in https://docs.docker.com/articles/networking/#docker0 This is independent of nomad.
2. Use host networking

[2015-10-04 04:41] rvm2015 opened #212 "Docker driver should expose ports when it creates a container"
This is related to #201 and #203. Running nomad master as of today on CentOS 7 and docker 1.8.2 the dynamic_ports option seems to be inconsistently working.

To better understand how dynamic ports work I've created a small web service that just outputs the running environment.

Test code and nomad HCL definition can be found here (written in golang with net/http): https://bitbucket.org/howihumante

[2015-10-04 05:05] rvm2015 commented on #209
You can also start docker in non-masquerading mode, turn on routing in the kernel, and then route traffic through the host IP. You'll run into problems if you have more than one docker host however as you'll have to configure the bridge interface to have it's own private subnet on each host. It's doable but ugly to scale.

[2015-10-04 05:21] achanda commented on #212
@rvm2015 dynamic_ports was broken for a while. Can you make sure you have latest code?

[2015-10-04 05:23] rvm2015 commented on #212
@achanda I'll pull from master, rebuild, and retry. I'm also wondering if it might be a docker problem, it should be at least detecting my open port but the ports field of docker ps is empty.

[2015-10-04 05:29] achanda commented on #212
I don't believe so. I've been using docker 1.8.2 and it has been doing port bindings fine. You can try `docker inspect`, If `inspect` does not show it, it's definitely not port binding. But, in this particular case, nomad was not setting host config correctly for docker to use.

[2015-10-04 05:35] rvm2015 commented on #212
@achanda nada, same result. Pulled master a few minutes ago.

[2015-10-04 05:41] achanda commented on #212
@rvm2015 that's weird. Can you see if you can set a `network_mode` in task config? You can use this task https://gist.github.com/achanda/62b001601af76bd7d3e5 Please check if docker sees all the options by doing a `docker inspect`

[2015-10-04 05:46] rvm2015 commented on #212
@achanda No change, the redis example works with the network mode set (it worked before as well using a 6379 port) however if I set network_mode for httpenv it doesn't forward through.

    [root@nomad ~]# docker ps
    CONTAINER ID        IMAGE               COMMAND                  CREATED              STATUS              PORTS                        NAMES
    bd17a86a9fe4        redis:latest

[2015-10-04 09:44] jippi opened #213 "simple exec (no cgroups, docker or resource isolation)"
hi,

a nice feature would be to have a very simple exec driver, that just runs a command

no fancy docker, cgroups or resource isolation - just running a command

would allow me to replace supervisord with nomad, and get a lot of the features I'm missing from supervisor backed right into nomad

[2015-10-04 16:00] rvm2015 commented on #213
There is one https://nomadproject.io/docs/drivers/exec.html

There are even Qemu and JVM drivers.

[2015-10-04 16:52] jippi commented on #213
Every time I execute a job with `exec` my mount points gets messed up - some goes missing and it remounts the data dir as well -- currently it doesn't seem like the job is actually executed either, as `nomad.out` is nowhere to be found.

Example:

[code]

gives

[code]

[2015-10-04 19:40] dadgar commented on #213
Hey,

Would you mind describing your environment?

BTW the stdout and stderr logs can be found in the tasks local directory. This can be found at <nomad_alloc_dir>/<alloc_id>/<task_name>/local/<task_name>.stderr/stdout

[2015-10-04 19:55] armon commented on #156
Fixed by 69e7d21

[2015-10-04 19:55] #156 closed

[2015-10-04 19:58] armon commented on #147
@F21 This should be specifiable today!

You would group the first set of 3 apps (NN, JN, ZK) in a single "task group". You would run the standby in a second "task group". This ensures those are all co-located together. The other components get their own "task groups" as well.

By default, Nomad applies an anti-affinity to other task groups from the same job to spread them between machines. You can

[2015-10-04 20:57] macb commented on #209
Hmm, I'm not sure if we're all talking about the same thing. In `bridged` mode if you start a container like:

[code]

Then it's available both on localhost as well as via the server's IP:
[code]

It appears that when nomad starts the container it finds an IP to apply to it and sets the `-p` flag as `ip:port:port`. This is seen in nomad's logs if `log_level="DEBUG"` mode is enabled [here](https://

[2015-10-04 21:14] F21 commented on #147
@armon Would it be possible to set a priority for each task group and set the count to infinity? In the above use-case, I would like to set the standby and active task groups for the name nodes to have a higher priority. Then, I would like to set the datanode task group to have a lower priority and a count of infinity.

Thus, if new clients are added to the nomad cluster, once the specified amount

[2015-10-05 03:52] jmitchell commented on #193
Have you tried stopping all the server agents, deleting each of their `data_dir`s, and starting the agents again? That worked for me.

In my case, on each server `nomad server-members` listed all members as expected. Even so, they weren't successfully coordinating an election. I was also seeing lines like `[WARN] serf: Failed to re-join any previously known node`.

Now that my servers have success

[2015-10-05 08:08] jippi commented on #213
Hi,

I'm running the 5 x nomad servers and 7 x nomad clients - with v0.1.0 - each on its own dedicated vm.

both the nomad servers and nomad clients are running inside a QEMU / KVM instance running Debian 7.8 with a custom 4.0.6 kernel

Is it possible to make a executor that won't touch anything, but simple exec a command without any server modifications ? :) I'm not looking for nomad for resource

[2015-10-05 08:55] aldergren commented on #213
From my understanding of the code, the exec driver relies uses the [executor](https://github.com/hashicorp/nomad/blob/master/client/executor/exec_linux.go#L34) to run your task within a per-task chroot. It will make some mounts available within this chroot but most won't be. Which mounts are accessible is currently not configurable. I have the same requirement as you and I'd be willing to attempt

[2015-10-05 15:04] dancannon commented on #147
@armon Does Nomad attempt to spread tasks between DCs/regions or does it only take into consideration what machine the task has been scheduled on.

I suppose one way to do this would be to create a task per region/DC in a task group but this is not quite as easy to maintain.

[2015-10-05 16:32] bhameyie commented on #169
+1

[2015-10-05 17:03] troyswanson commented on #149
I could be completely off base here, but isn't this what Consul is about?

[2015-10-05 17:51] dadgar commented on #212
Hey @rvm2015 it looks like the port forwarding is working looking at docker inspect output. Further you said you can access the port on the host? It sounds like there is just a port forwarding issue on the host if you are trying to access it externally? Let me know if I am reading this wrong.

[2015-10-05 17:51] #168 closed

[2015-10-05 19:24] rvm2015 commented on #212
@dadgar I can access the service at ip address assigned to the container, I cannot access it by connecting to the forwarded port on the docker host. netstat -pan shows the port is not actually opened by docker.

This only happens if I start the task through nomad, if I start it manually with docker run using the -p option it works perfectly.

[2015-10-05 19:47] wagnersza commented on #213
+1 simple exec (no cgroups, docker or resource isolation)

[2015-10-05 19:48] rvm2015 commented on #209
My understanding is you would have to assign dynamic_ports = ["9000"], this will pass a NOMAD_PORT_9000 environment variable through to the container when it's started. This port will be a random port in the service ports range, nomad is expecting the container to register this port in service discovery somewhere (consul or etcd). You can see which one it is by doing docker ps or docker inspect on

[2015-10-05 19:56] macb commented on #209
[This](https://github.com/macb/nomad-bootstrap/blob/master/work/repeater.nomad) is the job that's being run which has worked well for starting the container and having it map a dynamic port to the port in the container. However it also applies and IP address when I'd rather it use `0.0.0.0` so it's only reachable from the host. `nc 10.20.0.167 32755` instead of `nc 127.0.0.1 32755` in the `docker

[2015-10-05 20:46] jayunit100 commented on #149
My understanding is as follows.

- Consul does have a registration functionality which is sort of similar to kube services : nodes can say they provide a service and then be discovered as necessary.
- Meanwhile, kube services find labelled pods and load balance across them.

So:

- You could **sort of** build your own cabernets on top of consul and docker, I think
- but of course you'd be missing

[2015-10-05 21:17] F21 commented on #149
@jayunit100 is pretty much correct. However, if you use services, you would not lose any scheduling functionality.

In most cases you would schedule your services using a replication controller. This would set up the constraints, number of instances etc for your pods.

You would then set up labels for those running containers and then add a service that will load balance the appropriate pods by ma

[2015-10-05 21:39] jayunit100 commented on #149
Hmmm.. Is this about Kube or nomad? I think I see what you mean but seems like we are talking more about kubernetes specific components now....

[2015-10-05 21:51] F21 commented on #149
My response was regarding kubernetes.

Anyway, the point of this issue is to hopefully have some sort of service/load balancer ala kubernetes in nomad.

[2015-10-05 22:04] cbednarski commented on #212
This worked for me when I developed the feature. Here are the [demo app and job file](https://github.com/cbednarski/commento) I used.

I developed on Ubuntu 15.04. I'm curious if the demo app works on Cent 7. There may be some OS-specific networking things we need to look for to make sure this works.

I am not looking directly at this right now but I will include a Cent 7 build in the test matrix.

[2015-10-05 22:21] cbednarski commented on #212
The other bit of info that may be interesting is that go-dockerclient exposes two types of configuration which we use to start the container. One is configuration for the _image_ (this typically includes export info and such) and the other is for the _container_ (which should include configuration that you want to customize if you launch multiple instances of the same image).

The redis image has

[2015-10-06 02:47] armon commented on #149
With Nomad, the approach as mentioned will be to lean on Consul. Consul gives a service a logical name like "foo.service.consul". Load balancing is done automatically via DNS, or Consul-template can be used with an LB.

We don't plan on incorporating virtual networking directly into Nomad. However, we can support IP-per-task in IPv6 very naturally since each machine has a large block of IPs availa

[2015-10-06 02:54] armon commented on #147
@dancannon Nomad does spread between the datacenters that are specified in the job. A job cannot span multiple regions, so it does not spread between regions.

@F21 You cannot set an infinite count, as that would cause a number of issues. I don't think you even need the complexity the priorities. You can probably just have a single high priority job with the NN and other control nodes, and a separ

[2015-10-06 02:55] F21 commented on #147
@armon That sounds great! Looking forward to giving that a spin!

[2015-10-06 02:56] armon commented on #208
@jippi There isn't currently an API for doing this, but I do like the idea of it! I think it's something we'd like to support in the future.

[2015-10-06 05:28] ryanuber opened #220 "Builds broken on Linux"
Running some tests I noticed the current master build is broken on Linux. Looks like the root cause is an [upstream change in runc](https://github.com/opencontainers/runc/pull/276/files) from earlier today. The lines affected in Nomad are [here](https://github.com/hashicorp/nomad/blob/master/client/executor/exec_linux.go#L208-L209).

[2015-10-06 07:36] #201 closed

[2015-10-06 07:38] cbednarski commented on #212
@rvm2015 Can you try adding `EXPOSE` in your `Dockerfile` for the relevant port when you build your docker image?

[2015-10-06 08:24] jippi commented on #208
lovely! :)

[2015-10-06 08:28] HenryTheHamster commented on #186
+1 to the subnet idea, or something similar to avoid having to know the IP up front

[2015-10-06 08:32] cbednarski commented on #186
@apognu That would be welcome!

[2015-10-06 08:56] dancannon commented on #147
@armon That's great, thank you for getting back to me so quickly.

[2015-10-06 09:21] apognu commented on #186
Give me a few hours, I'll submit a PR.

[2015-10-06 17:51] jmitchell commented on #161
I saw this behavior with my own project in v0.1.1.

I tried to replicate it by building master in the standard Vagrant environment, but was blocked because master is broken (see issue #220 and pull request #222).

Anyone else seeing this?

[2015-10-06 22:45] dadgar commented on #161
@jmitchell: we are aware of this. Trying to get a v0.1.2 release out to fix it. It is a cross-compiling issue.

[2015-10-06 22:47] #220 closed

[2015-10-06 22:53] dadgar commented on #213
Just as an update, this is something we plan to allow.

[2015-10-06 23:07] achanda opened #224 "Local tests are failing in env_aws_test.go"
This is what I see
[code]

[2015-10-07 01:57] dimfeld commented on #224
Are you running the test from an EC2 VM? I think if there actually is a test server at the default URL the test will fail in the way you showed above.

[2015-10-07 01:58] achanda commented on #224
This is a GCE VM. I was expecting the tests to be skipped if they cannot be run.

[2015-10-07 01:59] achanda commented on #224
I wonder if your change #215 will fix this.

[2015-10-07 02:01] dimfeld commented on #224
Ah, that will also trigger the problem then.  In the master branch the AWS fingerprinter thinks it's on AWS on a GCE node as well.  Yes, #215 will fix the AWS test issue on GCE, though the GCE fingerprint test will fail since the "non-GCE" test will successfully contact the test server. I'll update the new GCE test to not do that.

[2015-10-07 02:27] dimfeld commented on #224
Updated the AWS test as well, so this issue should no longer occur on GCE and AWS once the PR merges.

[2015-10-07 02:28] achanda commented on #224
Thanks!

[2015-10-07 03:40] F21 opened #227 "Authentication and authorization"
For production use, authentication so that we can restrict who has access to administrate the cluster is important.

It would be nice to also have some sort of authorization, for example:
- Users can only manage their own jobs.
- Users can only use x amount of resources in the cluster.
- etc

[2015-10-07 07:36] nathwill opened #228 "use net.ipv4.ip_local_port_range sysctl for port range selection"
if available (i.e. "on linux"), it might be nice to follow the `net.ipv4.ip_local_port_range` [sysctl](http://en.tldp.org/LDP/solrhe/Securing-Optimizing-Linux-RH-Edition-v1.3/chap6sec70.html) tuning instead of using hard-coded min and max port ranges; it's a good way to set up a contract with the user about keeping that range free of bindings from other non-nomad-managed services that might be ins

[2015-10-07 07:41] nathwill commented on #30
[systemd-run](http://www.freedesktop.org/software/systemd/man/systemd-run.html) is probably a good way to provide resource-control for the exec driver as well, used like `systemd-run -p BlockIOWeight=10 updatedb`

[2015-10-07 07:43] cbednarski commented on #30
Linux has been implemented using `runc` since Nomad 0.1. We'll be looking at ways to do this for other operating systems going forward.

[2015-10-07 07:49] nathwill commented on #30
:+1:

[2015-10-07 11:03] olvesh opened #230 "Killing a job and re-running the job does not start the job again"
Ref discussion at:
https://groups.google.com/forum/#!topic/nomad-tool/U63kPAQ1uMo

I have been messing around with the steps in the getting started guide, and tried to check what happens when I kill a running job (Allocation).

Armon Dadgar suggested I file a bug for the case. I follow the same steps with one server and two client. A simpler example might be possible, but I haven't got the time to

[2015-10-07 15:17] rvm2015 commented on #212
This image wasn't built with a dockerfile, it was built manually off CentOS:7. I can recreate it using a Dockerfile this evening however and test.

[2015-10-07 17:14] dadgar commented on #227
This is something we will do, however are not focusing on currently.

[2015-10-07 22:30] F21 commented on #149
@armon Any ETA for when this ip-per-task feature? I think that coupled with consul for discovery, health checks and load balancing would be a really awesome and powerful combination.

[2015-10-07 22:39] moderation opened #231 "Build breaking on Linux"
Build from source failing on Linux. Xubuntu 15.04

[code]

I'm wondering if this is due to the upstream runc change mentioned in https://github.com/hashicorp/nomad/issues/220

[2015-10-08 00:08] cbednarski commented on #142
This was completed in https://github.com/hashicorp/nomad/pull/165. Please try it out!

[2015-10-08 00:08] #142 closed

[2015-10-08 18:35] armon commented on #149
The main things needed to support it are already done. However, the bigger issue is that IPv6 is not broadly supported in datacenters.

[2015-10-08 20:27] rvm2015 commented on #231
This is still happening with current master:

    $ make test
    --> Installing build dependencies
    --> Building nomad
    # github.com/hashicorp/nomad/client/executor
    client/executor/exec_linux.go:213: cannot use uint16(resources.IOPS) (type uint16) as type int64 in assignment
    make: *** [test] Error 1
    $ make bin
    ==> Getting dependencies...
    # github.com/hashicorp/nomad/clie

[2015-10-08 20:47] davidbirdsong opened #238 "weird environment variables issue when run under process supervisor"
OS: ubuntu 14.04
nomad v0.1.2

running under circus, circus job ini file:
[code]

/tmp/test.sh (illustrates PATH is set properly and `uname` is findable):
[code]

stdout and stderr from circus:
[code]

to further verify that PATH is the problem, I checked out tag: *v0.1.2* and made this change:
[code]
sure enough, running interactively PATH prints out, when run under the process supervisor, PATH i

[2015-10-08 20:57] cbednarski commented on #238
According to the [circus docs](https://circus.readthedocs.org/en/0.9.2/configuration/#watcher-name-as-many-sections-as-you-want), circus' environment is not copied to child processes by default. See the `copy_env` and `copy_path` options.

[2015-10-08 23:00] ranjib opened #239 "Nomad does not work on ARM/Rapsberry Pi due to wrong cpu info"
gopsutil reports ARM processors with empty cores/resources. leading to failure in allocation
https://github.com/shirou/gopsutil/issues/88

[2015-10-08 23:03] cbednarski commented on #239
Thanks for opening this. I'm excited about building a NomadPi cluster also!

[2015-10-08 23:06] dadgar commented on #231
I think you are on an old version of lib container: https://github.com/opencontainers/runc/blob/master/libcontainer/configs/cgroup.go#L61

You can update your dependencies when working with Nomad with: `make updatedeps`

[2015-10-08 23:06] #231 closed

[2015-10-09 00:36] djsly commented on #169
:+1:

[2015-10-09 01:23] djsly opened #241 "Improve CLI feedback when job cannot be placed because the preferred datacenter is missing"
_When the datacenter specified in the job spec does not match the region identifiers used by the Nomad cluster, the job says it cannot be placed but does not say why._

_We should be able to indicate that the evaluation failed because no matching datacenter can be found._

_- @cbednarski_

_Original issue below._

----

I am running the digital ocean demo you have under the demo folder.

Created t

[2015-10-09 01:27] cbednarski commented on #241
If you look at the agent logs from the nomad leader there may be some more information to help assess. The CLI output is not super verbose.

Off the top of my head, though, do you have docker installed on your nodes? If you are running nomad as a non-root user, does nomad have permission to read/write to the docker socket? Something like `usermod -aG group user`.

[2015-10-09 01:31] dimfeld commented on #224
My PR isn't merged yet, but @dadgar checked in the AWS portion of it to master in https://github.com/hashicorp/nomad/commit/ae6829c4f6e74fcbc4aae1023ad9f900a31295fc, so I think this one can be closed.

[2015-10-09 01:36] djsly commented on #241
I currently cannot see anything obvious... Nomad was started as root (using your packer image)

executed fresh trial

[code]

from the leader

[code]
[code]

From the clients
[code]
[code]

[code]

[2015-10-09 01:38] djsly commented on #241
thats the only WARN that I can digest

[code]

hence the reason I removed the network : mbits = 10,  resource

[2015-10-09 01:45] cbednarski commented on #241
Ah, I think you are missing server from your startup command. Server is false here:

[code]

And you started with this:

    /usr/local/bin/nomad agent -config /usr/local/etc/nomad

I think you will want to start your server nodes like this:

    /usr/local/bin/nomad agent -server -config /usr/local/etc/nomad

The difference between an agent and a server agent is that the server agent can perform

[2015-10-09 01:51] djsly commented on #241
Thanks, the snippet I provided were from both clients, (I realized that a lot of text to try to separate, I will try to use bold text next time to make it clearer ;) )

The good news is that I was able to run the example !

The issue was the datacenter was left to be *dc1*

While I now have *nyc3* registered!

[code]

[code]

Sorry about the trouble, I guess this goes to show that we need a bit mo

[2015-10-09 03:11] F21 opened #242 "Constraint operator documentation needs clarification"
The documentation says these operations are available:
`=`, `==`, `is`, `!=`, `not`

However, it is not clear if `=`, `==` and `is` are equivalent.

There should be more documentation regarding to reduce confusion.

[2015-10-09 04:06] F21 opened #243 "Ability to list all regions and their datacenters"
It would be nice if there's a way (using the cli and the http api) to get a list of all regions and their datacenters.

[2015-10-09 06:27] cbednarski commented on #241
Thanks for following up with the solution! We can certainly improve the feedback here.

[2015-10-09 07:41] cbednarski commented on #228
We can add configuration for you to specify reserved resources when you setup the agent. For instance, you could block out ports 11500-11600 and reserve 1gb ram for other processes. I think we can also add configuration to specify the port range.

However, in order to make scheduling decisions, perform bin packing, and provide QOS, Nomad assumes it owns the resources on each node in the cluster. I

[2015-10-09 08:00] cbednarski commented on #209
@macb Thanks for the report. We are working out the kinks in networking (some bug fixes have landed in master already), and binding to 127.0.0.1 is not intended.

To clarify the design, we bind a task to one interface (ip address), potentially with multiple ports on that IP. The scheduler allows you some control over this so you can select a private or public subnet. The design does not currently

[2015-10-09 08:08] cbednarski commented on #171
I developed the docker integration on Ubuntu 15.04 (which uses `systemd`) but we do not currently support interaction with `systemd`.

We use docker as-is so if docker supports a particular systemd feature, Nomad will support it in that limited capacity. However, our isolation mechanisms for exec do not currently support systemd, so you may have strange compatibility problems if you run both types

[2015-10-09 11:59] djsly commented on #241
Feel free to rename / close for the improvement request. 
Thanks again !
Next step running my 15 container stack :/

Sent from Outlook on iPhone

On Thu, Oct 8, 2015 at 11:27 PM -0700, "Chris Bednarski" <notifications@github.com> wrote:

Thanks for following up with the solution! We can certainly improve the feedback here.

—
Reply to this email directly or view it on GitHub.

[2015-10-09 13:25] rvm2015 commented on #231
Looks like that was it, make updatedeps should be added to the README.md as it's not in there.

[2015-10-09 14:36] defender commented on #169
+1

[2015-10-09 15:45] nathwill commented on #228
if nomad's using the provided system behavior for port range selection, it wouldn't need to write in its own reserved port handling, because the administrator could just use `net.ipv4.ip_local_reserved_ports`.

i agree. the main point in mentioning the sysctl's was to bring up that "hey, there's a standard way of setting the port range for dynamic port allocations, it might make sense to use it (l

[2015-10-09 17:20] rvm2015 commented on #212
Sorry for the delay. I updated my code to take a PORT option and just set it to 8080 by default. I then had this port exposed in the docker file.

That works with the Dockerfile and httpenv.nomad currently in my repo tag alpha1 so somewhere in this process, possibly in the underlying library, nomad is specifically looking for the EXPOSE option to do the binding, it doesn't work if EXPOSE isn't the

[2015-10-09 17:24] rvm2015 commented on #227
An interim solution could be to give nomad cli and option to set simple auth, and then stick nginx or something in front of the endpoint doing ssl and authentication (like how private docker registry works).

[2015-10-09 18:22] cbednarski commented on #212
Thanks for testing and following up!

Expose and port forwarding are two different configs in docker. In your example you used `-e` and `-p` on the CLI, respectively. The docker driver currently only uses `-p`. It sounds like we will need to expand it to also use `-e`.

[2015-10-09 18:26] cbednarski commented on #170
@apognu Is this still an issue since #189 has been merged? If so can you clarify what still needs to be addressed?

[2015-10-09 18:31] dadgar commented on #213
We now have a raw_exec driver!

[2015-10-09 18:31] #213 closed

[2015-10-09 18:44] rvm2015 commented on #212
Sure thing, I'll watch this for a branch or PR and test it with the original configuration.

[2015-10-09 19:10] davidbirdsong commented on #238
surprise, surprise. the shim bash script must have been a red herring--there's probably some implicit bash argument that simulates a login or something.

 anyway, you're right.

[2015-10-09 19:10] #238 closed

[2015-10-09 19:11] cbednarski commented on #238
:+1: Thanks for following up!

[2015-10-09 23:49] cbednarski commented on #228
Ah, I see. This makes sense! Thanks for clarifying. As you mentioned, using a Nomad-centric config makes it easier for us to support and document behavior on multiple operating systems so for now this is hard-coded and we have not  explored platform-specific ways to configure it. We're certainly open to improving this and I would be happy to review a PR for this feature.

[2015-10-10 07:48] F21 opened #250 "Support multiple statsite or statsd servers for telemetry"
I am interested in building a small cli interface to stream telemetry from my nomad agents. It would be wire-compatible with either statsite or statsd.

In such cases, it makes sense to be able to stream telemetry to multiple endpoints, because we might have a statsite or statsd server that actually ships the telemetry data to long-term storage and the cli interface streaming live telemetry to the

[2015-10-11 04:01] prashanth5192 commented on #193
Yes, Mitchell that definitely helped solving the problem. But everytime I try to do a node-status or submit a job.. the server defaults to look up at by local loopback instead of the bind addr. Do you know how we could solve this issue ?

[2015-10-11 06:02] #224 closed

[2015-10-11 09:43] cbednarski opened #264 "(potential) scheduling conflicts with docker host networking"
Based on discussion here https://github.com/hashicorp/nomad/pull/219/files#r41707947 I learned that the docker host networking option will cause a process to bind to all interfaces on a Nomad host.

I need to verify, but I think this will cause a scheduling conflict because Nomad only reserves a port on one interface when it makes an offer for the port allocation. I know there are several places t

[2015-10-11 09:55] zenvdeluca commented on #264
I think docker host is a nice feature, but if you choose to use it, you need to know what you're doing since it can't live well with conflict, i.e:

if you try bind two redis servers using tcp/6379 on same Host with an unique IP, the second job will fail (container goes down because it can't execute redis-server: 6379 port is already binded).
one way to handle this on Nomad is detecting and sendin

[2015-10-11 11:28] F21 commented on #264
Does this problem also exist if we use `reserved_ports` on a port? For example, I want to run nginx and have it server on port 80 of the client it's launched on.

[2015-10-11 18:16] cbednarski commented on #264
@F21 With respect to the ip / port bid, reserved and dynamic ports work the same way.

[2015-10-12 19:35] crhuber commented on #62
+1

[2015-10-12 22:03] F21 commented on #150
It would be awesome if direct attached storage can be implemented as a preview of some sort.

One of the things that came to my mind is the idea of updating containers while keeping the storage:

For example, let's say we have a MySQL 5.6.16 container running and it was allocated 20GB of storage on a client to store its data. If there's a new version of the MySQL container (5.6.17), we want to be

[2015-10-12 22:08] F21 opened #273 "Document upgrade procedure"
The upgrade procedure for nomad should be documented, so that it's clear what exact steps should be taken to upgrade a nomad cluster.

Since consul is going to be used for discovery and load balancing, it would also be very useful to provide any special procedures for updating a consul cluster when it is being used with a nomad cluster.

Duplicate / Closes #562

[2015-10-13 00:01] cbednarski commented on #193
@darron Sorry for the delay on responding to this. This is definitely a bug on our side, though I have not had a chance to setup a cluster like yours to debug this yet.

It looks like you are using a non-standard port (4647 vs 4646). Can you curl that port? Does this work with the default port? Do you have network connectivity between nodes on that port? Particularly:

[code]

leads me to believe

[2015-10-13 00:37] armon commented on #242
@F21 We can clarify the docs, but they are all equivalent!

[2015-10-13 09:27] zrml commented on #150
@F21 good use case too.

[2015-10-13 09:44] dmayo3 commented on #147
Will there be some way of prioritising data affinity for batch scheduling? The kind of workload I'm thinking of would be a continuous stream rather than a single big batch every so often.

[2015-10-13 14:35] ketzacoatl commented on #61
I see this similar to http://kubernetes.io/v1.0/docs/user-guide/volumes.html, and an equivalent to http://kubernetes.io/v1.0/docs/user-guide/volumes.html#awselasticblockstore would push this over the top!

[2015-10-13 16:59] jippi opened #276 "Improvement to raw_exec"
Hi!

Would be nice if `raw_exec` could support a `user` directive, executing the command with the `uid` / `username` with `sudo` or something similar

If nomad runs as root, this UNIX user account will be used as the account which runs the program. If nomad can’t switch to the specified user, the program will not be started.

This issue + #208 are basically the only piece missing for a full replac

[2015-10-13 17:04] jippi opened #277 "HTTP endpoint to tail job logs, stdout, and stderr"
Would be a nice addition for easy debugging

I realise non-nomad version of this would be to pipe everything to syslog or similar, but it requires a few more moving parts

[2015-10-13 17:05] jippi opened #278 "HTTP UI like consul-ui"
Much like consul-ui, it would be nice with a nomad-ui project to visually access and modify jobs etc

Until Nomad has it's own native UI, [jippi/hashi-ui](https://github.com/jippi/hashi-ui/releases) provides a Nomad and Consul UI

[2015-10-13 21:03] cbednarski commented on #276
This existed in an earlier version of the driver. I might be able to resurrect the code.

[2015-10-14 03:16] achanda commented on #276
This one? https://github.com/hashicorp/nomad/commit/cdd065cb07155e6f54166ad727d87c577ab78268

[2015-10-14 06:45] jippi commented on #276
Okay, so its just missing from `raw_exec` ?

[2015-10-14 12:47] defender commented on #278
+1

[2015-10-14 13:04] JensRantil commented on #174
@dadgar I opened this issue not because I didn't understand, but more so that the documentation was lacking. ;)

The only thing the documentation states about `stagger` is that 1) it is a time duration and 2) can be specified in various time units. The documentation does not explain, in any way, what `stagger` influences. I suggest reopening this issue until the documentation actually states what

[2015-10-14 14:43] richard-mauri opened #281 "github homepage link to download binaries of Nomad is broken"
https://github.com/hashicorp/nomad/blob/master/website/source/docs/install/index.html.md
broken downloads link: https://github.com/hashicorp/nomad/blob/master/downloads.html

What is the recommended url to the latest nomad binaries for Linux?
Thanks

[2015-10-14 14:46] sethvargo commented on #281
https://nomadproject.io/downloads.html

[2015-10-14 14:47] sethvargo commented on #281
Hey @richard-mauri

The link is not broken, it's not designed to be viewed on GitHub. The project site is nomadproject.io and you can download the binaries from there :smile:

[2015-10-14 14:47] #281 closed

[2015-10-14 23:00] cbednarski commented on #174
Thanks for following up. I think we can clarify the phrasing here.

[2015-10-14 23:41] davidbirdsong opened #283 "Nomad crashes when serialized state is partially removed"
apologies if this was already reported. i looked and didn't find something similar.

this is after stopping nomad, wiping it's data dir, and attempting to start again:

[code]

nomad version: b83afeb889c3 (built from source)

After throwing a few panics and print statements around, `r.alloc` is nil here:
https://github.com/hashicorp/nomad/blob/master/client/alloc_runner.go#L267

but not here:
http

[2015-10-14 23:45] cbednarski commented on #283
Thanks for the report! I'm not familiar with the bootstrapping process but I don't think Nomad expects partial tampering with its internal state. We will probably need to do a `bootstrap-unless-exists` process.

For now if you remove all of the nomad directories you should be able to do a fresh run on the same node. This is what we do with the `-dev` flag.

[2015-10-14 23:50] davidbirdsong commented on #283
ah, so to say I wiped the data dir is not entirely true. i wiped it of files not subdirectories. wiping all subdirectories helps.

thanks for the clarification.

[2015-10-14 23:51] cbednarski commented on #276
@achanda That's the one! @jippi We changed how that mechanism works in exec to use a cgroup instead of a user.

[2015-10-14 23:53] cbednarski commented on #276
@achanda Initially `RunAs` was part of the executor interface and we would try to drop to `nobody`. This is no longer the case so I think this probably needs to be an option on the `raw_exec` driver config.

[2015-10-14 23:55] djsly opened #284 "nomad dev mode and boot2docker on OS X. Docker.endpoint doesn't seem to work"
Hello.

I saw that in master a new patch was done to rely on the DOCKER_* env var to connect to docker.

In the meantime, what's the best approach to make it work with boot2docker.

I tried creating a .hcl config file with
'''
docker.endpoint = "tcp://host:port"
'''

My docker ps command works
My sudo -E docker ps also works.

When I do sudo -E nomad agent -dev I only get the exec and Java drivers

[2015-10-14 23:57] cbednarski commented on #284
@djsly `-dev` will not read a config file so currently there is not a way to do this. You can run without `-dev`, run on linux, build from master, or wait until the 0.2 release which will fix the `-dev` case. Sorry about that!

[2015-10-14 23:57] #284 closed

[2015-10-15 00:01] cbednarski commented on #273
Thanks for opening an issue. Consul has its own upgrade docs [here](https://www.consul.io/docs/upgrading.html).

We will add an upgrade doc for Nomad. I would also encourage you to read the release notes for each project before upgrading.

[2015-10-15 00:06] djsly commented on #284
Thanks for this quick response. 
I got confused since at first my config file had syntax error and nomad bailed out saying invalid config. 
Maybe a warning should be printed out saying that -config will be ignored while the -dev is used ?  (All ignored flags actually)
I temember reading that with the -dev flag no other flags where needed but it was not cleared that they would be ignored. :)

Sent

[2015-10-15 00:21] cbednarski commented on #179
This was fixed in  https://github.com/hashicorp/nomad/pull/225

[2015-10-15 00:21] #179 closed

[2015-10-15 00:28] cbednarski commented on #131
Thanks for the suggestion! Our general philosophy around this is described here https://github.com/hashicorp/terraform/issues/2964

[2015-10-15 00:30] #100 closed

[2015-10-15 00:30] cbednarski commented on #100
This is implemented using a mount so it is found in a standard location in each allocation.

[2015-10-15 00:33] cbednarski commented on #64
Going to close this in favor of more-specific issues.

[2015-10-15 00:33] #64 closed

[2015-10-15 00:41] cbednarski commented on #150
6Just to add some details, we need two overarching features: one is the notion of persistent storage that is either mounted into or otherwise persisted on the node, and is accounted for in terms of total disk space available for allocations.

The second is global tracking of where state is located in the cluster so jobs can be rescheduled with hard (mysql) / soft (riak) affinity for nodes that alr

[2015-10-15 01:03] cbednarski commented on #122
@EvanKrall We have logic to cleanup containers but we don't currently have a way to this on a periodic or delayed basis. Currently containers are purged when a job is terminated.

At some point we may want to introduce a nomad-controlled delay on cleanup so jobs can be rescheduled on the same host as before and not need to re-pull all of the artifacts. This requires a bit of state tracking in Noma

[2015-10-15 01:11] cbednarski commented on #167
Related: https://github.com/hashicorp/nomad/issues/17

[2015-10-15 01:20] cbednarski commented on #164
This will be included in our consul integration (probably in 0.2).

[2015-10-15 01:26] cbednarski commented on #144
Thanks for the suggestion! I think we will need to start with a design doc to iron out some of the expected behavior / use cases.

For example, "run this on every machine on my cluster once a day" or "run this every 5 minutes (I don't care which machine it runs on)." or "don't overlap if a job is already running".

[2015-10-15 01:42] cbednarski commented on #277
@jippi Thanks for the suggestion. We would like to support this because it is a super convenient way to debug things on a small cluster. In a large scale environment we recommend using centralized logging.

[2015-10-15 01:44] cbednarski commented on #243
Thanks for the suggestion! We would like to add more ways to inspect Nomad's internal state, including datacenters and regions. We haven't scheduled work on this yet but we'd be happy to look at a PR for it.

[2015-10-15 01:45] robzienert commented on #144
I think you hit the nail on the head with the 3 examples you gave. Expanding on that, the cron expression would make sense to me to adhere to

[2015-10-15 01:46] robzienert commented on #144
Oops.

[2015-10-15 01:52] cbednarski commented on #250
Thanks for the suggestion. We currently use statsite for monitoring and ETL separately, but we'd be happy to look at a PR to add this feature.

[2015-10-15 01:58] cbednarski commented on #230
Thanks for the report! I think this is a duplicate of https://github.com/hashicorp/nomad/issues/176

I'm going to close this as a duplicate issue but if this is not the same please reopen and/or ping me.

[2015-10-15 01:58] #230 closed

[2015-10-15 01:58] cbednarski commented on #176
Thanks for the report! Unfortunately this is a bug and will be addressed in 0.2. Sorry for the inconvenience!

[2015-10-15 02:03] cbednarski commented on #157
Thanks for reporting this! This might be a bit tricky for us to fix for two reasons:

1. The DNS lookup failure is happening in the docker daemon, not the nomad process.
2. The failure happens on the nomad agent node and there is not a great way to inform the client without passing logs back. See https://github.com/hashicorp/nomad/issues/277

I think we can improve this via #277 by adding simple r

[2015-10-15 02:15] armon opened #285 "Scheduler not respecting rolling update"
See this mailing list post for context: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/nomad-tool/CUhE_pFpAE4/cdT1CWezBgAJ

----

Summary:

When a job specification is updated with a change to both the container version and the count, the changes are applied immediately. I presume this happens because the change to count can be applied immediately, and supersedes the vers

[2015-10-15 04:44] jippi commented on #144
:+1:

[2015-10-15 10:00] zrml commented on #150
@cbednarski sounds like you guys are going in the right direction! Cool!

[2015-10-16 00:32] armon opened #289 "Scheduler should support reserving of entire CPU cores"
Currently the scheduler uses a CPU unit that is computed as (Cores * Frequency) to adjust for heterogeneity in CPU speed and core count. This works for certain types of applications, but some like VMs would rather reserve entire cores. This should be supported as well, potentially as an alternative or as an additional constraint to the existing CPU reservation.

[2015-10-16 03:23] clstokes opened #292 "Unable to specify JVM options for Java job."
I'm able to specify [args](https://www.nomadproject.io/docs/drivers/java.html#args) for the application but not [JVM options](http://docs.oracle.com/javase/7/docs/technotes/tools/windows/java.html) with Nomad's Java driver. For any reasonably sized Java application, JVM options are a _must have_ for configuring memory usage, classpath, etc.

JVM options should be able to be passed with the Java dr

[2015-10-16 03:32] clstokes commented on #292
Source of the JAR file in the example job config is at https://github.com/clstokes/nomad-java-job if needed.

[2015-10-16 05:18] jippi opened #294 "load based scheduler"
instead of allocating resources based on cpu, memory etc - it could be beneficial to schedule jobs based on server load - since some jobs can fluctuate quite a lot between idle or super busy, making a set resource allocation of cpu hard to use on its own

[2015-10-16 09:41] peterbourgon commented on #131
The Go universe is coalescing around the GO15VENDOREXPERIMENT method, and early results look promising.

[2015-10-16 09:43] peterbourgon commented on #116
I also had some confusing moments when apparently-successful allocations were actually reported as failed or dead. I had to read Nomad server logs to diagnose; there didn't seem to be a way to get that information using the CLI. Better introspection would be useful.

[2015-10-16 15:54] zenvdeluca commented on #264
Another good point to keep supporting Docker host mode, is when creating sidecart containers, like Docker ambassadors idea.

if I want to spin up a job where one task is the application, and the other task is a proxy to expose this app, docker host mode allows us to bind/connect sockets on localhost -- loopback shortcuts a lot of linux network stack, giving us a good performance.
case: app connect

[2015-10-16 17:05] ChrisHines opened #295 "nomad agent -dev fails on Windows"
OS: Windows Server 2012 R2 Standard
ARCH: amd64

[code]

[2015-10-16 17:31] dadgar commented on #295
PR #225 should fix that issue. This has not made it into one of our pre-compiled binaries however. Let me know if it still doesn't work on HEAD.

[2015-10-16 18:04] ChrisHines commented on #295
Yes, I am just getting started with the pre-compiled binaries and didn't see a previous issue about this.

I won't be able to test HEAD until I get Nomad building from source.

[2015-10-16 18:49] hankerepo commented on #278
That would be perfect.  I support to many point and clickers to get this to fly without it.

[2015-10-16 19:44] ChrisHines commented on #295
I have built nomad from source:

[code]

After copying the resulting binary to the server it still doesn't work, but it gives a different error now:

[code]

[2015-10-16 20:37] #292 closed

[2015-10-16 23:54] armon commented on #116
We should probably wait until all of the allocations are either in a running or terminal state before we bail, so that we can provide more useful feedback including why the allocation is dead.

[2015-10-17 08:30] advanderveer commented on #289
Hey Guys! Again thanks for considering this feature. We are very excited to use Nomad for tackling our scheduling needs. At our company we offer customer compute resources in an highly decentralised fashion; their will be many more "datacenters" then there are servers inside a datacenter. As such, the multi datacenter scheduling nature of Nomad is the killer feature for us.

Like other providers s

[2015-10-18 08:01] melo commented on #150
Hi @cbednarski, thanks for the explanation of your goals.

This is something that we would also like to see. Other services that we would like to manage that require data storage are Redis Sentinel, Consul, and NSQ.

Currently we dedicate nodes to this tasks, so affinity is something that we manage manually. I understand that other use cases might need/want some more magical targeting, but it woul

[2015-10-18 08:41] diptanu commented on #150
+1 to @cbednarski's thoughts.

We might also need to think about identity of data volumes. Data Volumes are slightly different than other compute resources like cpu/memory/disk etc which are scalar in nature since these are resources which can be loaned to any processes that might need compute resources where as volumes are usually used by the same type of process which created it in the first pla

[2015-10-18 20:20] sielaq commented on #278
+1
something that looks like marathon UI

[2015-10-18 21:47] cetex commented on #186
I'd like to add another thing here, this should behave like consul does, so -bind=:: should work. (Bind to any ipv4 or ipv6 ip address available) as well as the commandline option -advertise=<address>

In our consul environment i set all nodes to -bind=:: and then -advertise=<the "real" ip of the node>

On all masters i setup a secondary ip-address of 10.255.255.255 on loopback (this is anycasted

[2015-10-18 21:57] cetex commented on #85
What if something launches outside of nomad after nomad has "scanned" the range of ports?

I'd say the best solution is to define ephemeral ports in sysctl and then setup nomad to use ports outside that defined range when assigning ports to services.

If you're using ports from the ephemeral range when assigning ports to services you're gonna have collisions regularly on most servers in a high-tra

[2015-10-18 22:10] cetex commented on #294
This is interesting, but the tasks running may need that cpu at any time, may work if cpu-priority of tasks deployed like that were set to the lowest possible so they're always preempted when another task that has reserved the resources needs them.

Basically, if resources are reserved for one task and we oversubscribe them and launch a new task, which one is going to die when the resources run ou

[2015-10-18 22:35] cetex commented on #264
A third good reason to support docker host mode is if you want to support hosts with larger traffic volumes. (2.5-20Gbit for reference, although it mostly depends on how many and how shortlived the connections are, not bandwidth)

If we run docker without --net=host (which means we run it "the docker way" = bridge + nat + portforward) we're wasting quite a lot of resources just for NAT / conntrack

[2015-10-19 01:41] rvm2015 opened #301 "nomad alloc-status typo"
Usage: nomad alloc-stauts [options] <allocation> <--alloc-stauts insead of alloc-status, master as of a few minutes ago

    AC02MK0LSFD58:~ rvm2015$ nomad alloc-status
    Usage: nomad alloc-stauts [options] <allocation> <--alloc-stauts insead of alloc-status

      Display information about existing allocations. This command can
      be used to inspect the current status of all allocation,

[2015-10-19 01:48] rvm2015 opened #302 "erroneous "cpu exhausted" message using qemu"
Using current master, any qemu or docker instance I attempt to schedule is coming up unable to find a node for placement. This may or may not be because I'm attempting to run something paravirtualized (or I could just not have the nomad file built properly), if so it would be helpful if the allocator told me this. Tested with a 4 core node with 4 gigs of memory. I've run docker images on this setu

[2015-10-19 01:55] rvm2015 opened #303 "nomad node-status <node id> should show capabilities and cpu/memory max/available"
Related to #302 it would be helpful when trying to troubleshoot bugs and setup issues if there was an easy way to see node capabilities and resource availability. Sometimes it's hard to tell if something is failing to allocate because there is an actual problem or if nomad is simply not seeing some resources it actually does have available.

[2015-10-19 01:58] rvm2015 commented on #302
Rolling this to nomad 0.1.2 fixes docker, partially fixes qemu. Qemu is now stating "failed to start: Missing source image Qemu driver" however this appears to be a check on the source address of the qemu image which is correct.

    AC02MK0LSFD58:~ rvm2015$ nomad alloc-status 9439010a-b52c-ad2a-c35d-ecf9560d10b0
    ID                = 9439010a-b52c-ad2a-c35d-ecf9560d10b0
    EvalID            =

[2015-10-19 02:18] rvm2015 commented on #302
I suspect it's possible something in a dependent library changed since 0.1.2 was released. If I check out v0.1.2 and rebuild it I get the same error about exhausted cpus.

[2015-10-19 02:35] rvm2015 commented on #302
Yeah it looks like the current master tag of gopsutil is broken, get a nil object when testing the library,  opened a bug report with the maintainer.

[2015-10-19 02:58] F21 commented on #301
Master looks fine to me: https://github.com/hashicorp/nomad/blob/master/command/alloc_status.go#L14

[2015-10-19 04:49] achanda commented on #303
I'd prefer a new `nomad node-show <id>` command. Showing resources in `node-status` might be a little cluttered.

[2015-10-19 04:55] achanda commented on #302
The fix to gopsutil has been merged. You should be able to manually pull those changes and rebuild nomad. But yes, a way to reproduce build deterministically is absolutely essential.

[2015-10-19 05:29] F21 opened #304 "Ambiguity in docs regarding advertise, addresses configuration parameters and multi-datacenter deployments"
I am interested in setting up a multi-datacenter cluster. The documentation for configuring the `advertise` and `addresses` options are ambiguous.

In particular:
- In the `addresses` section, it says that the `rpc` address should be accessible to all agents, but should only be accessible to cluster members. This sounds a bit contradictory. Should the `rpc` address be accessible to only agents wit

[2015-10-19 06:54] vbichov opened #305 "Question: Docker Strategy, Scheduling, asymetric clusters"
Hello,
Nomad is looking very promising, however it also appears to be at a very early stage.
A few questions about the road map:
* Will there be other strategies aside from "pack"? such as spread?
* Will global scheduling be supported?
* Will it be possible to run tasks that require "orchestration" that is, the transfer of data from one node to the other? such as an IP address of a leader etc.

Th

[2015-10-19 07:50] jippi commented on #294
one way to do it would by using a priority value, if the box run out of resources, start killing / moving low priority jobs to another box until there are free resources

it could also be as simple as a 5min avg load and based on that + threshold start killing processes

[2015-10-19 08:50] cetex commented on #294
yeah. i kinda agree. cpu is easy, just don't give it cpu-time. memory is trickier, only way out there is to kill it.

This should be done before OOM has a change to trigger as well since by then any task can be killed.

[2015-10-19 16:28] raykrueger commented on #169
:+1: Definitely interested in this.

[2015-10-19 17:29] dadgar commented on #294
Hey guys,

Describing the resource requirements of a job can be difficult. But from the scheduler perspective this is a required input to do things like constraint matching and bin packing. There are heuristics to try and intelligently model the resources usages of tasks but for the time being jobs will have to supply their constraints.

However, there are things that will eventually mitigate this

[2015-10-19 17:29] #294 closed

[2015-10-19 17:34] dadgar commented on #305
Hey! I will try to answer these questions. Also feel free to post in the nomad-tool google group.

1. Nomad applies an anti-affinity to placing task groups on the same machine. So it naturally tries to spread load across the cluster.
2. PR #287 adds support for global scheduling. A full-up PR will be coming soon that invokes an evaluation on node joins to complete the global scheduling picture.
3.

[2015-10-19 17:34] #305 closed

[2015-10-19 17:38] cbednarski commented on #295
@ChrisHines When the driver fails to fingerprint it should simply deactivate. This failure scenario seems to be happening a bit differently on Windows. We'll get this fixed up. Thanks for the report!

[2015-10-19 17:41] dadgar commented on #301
Thanks for filling this. Closing as it is fix on head

[2015-10-19 17:41] #301 closed

[2015-10-19 17:42] cbednarski commented on #302
@rvm2015 Thanks for the detailed report. I think you're correct we will need `godep` to prevent this type of issue. We're discussing this internally.

[2015-10-19 18:09] ranjib opened #306 "job specification with less than the minimum required CPU gives an unhelpful error"
the failure seems to come from runc cgroups/fs manager code. the client os is running under systemd. Im still browsing through the code, will update the issue if i get any more data
[code]

----

This error appears when a job specification is configured with less than 200mhz in CPU shares. We should change this to validate at the run step so the nomad client can report the problem, instead of wait

[2015-10-19 18:14] ranjib commented on #239
the cpu frequency issue has been resolved on the upstream gopsutil code. But the total comput capacity is still reported as 0 due to the following code in nomad https://github.com/hashicorp/nomad/blob/c5397b3dc88161c58eb1752001a63dec730f7671/client/fingerprint/cpu.go#L37
for systems that does not have multiple cores (like arm) c.Cores will be 0 always (even with 4 cpu), resulting in total compute

[2015-10-19 18:21] dadgar commented on #306
Hey the output got cut-off but it appears that the CPU resources may have been set too low? I am getting this from the end of the error message: "The minimum allowed cpu-shares is "

[2015-10-19 18:31] dadgar commented on #306
6e01e1c should not return an error message if my suspicion is correct.

[2015-10-19 19:57] ranjib commented on #306
@dadgar sorry, updated the error.im checking why the number of cpus is less than 2, it should be 4. may be some bug on gopsutil

[2015-10-19 20:08] cbednarski commented on #239
Every CPU should have at least 1 core. Does `gopsutil` report 0 here? If so I think we should push that fix upstream.

[2015-10-19 20:19] ranjib commented on #306
@dadgar it was my mistake to specify cpu share 1 MHz on the job config. setting that to 200 fixed it. sorry for the false alarm

[2015-10-19 20:20] cbednarski commented on #306
We should probably give a different error message when we validate the task.

[2015-10-19 20:23] ranjib commented on #239
@cbednarski yeah gopsutil reports 0, cause it fetch the number of cores from /proc/cpuinfo, linux on arm does not have that line in cpuinfo.
by the way, this was the last bug for getting nomad running on pi. i got it working just now :0-) . super happy

[2015-10-19 20:25] cbednarski commented on #239
Thanks for clarifying. I think we could work around in this in Nomad but since 0 is not the correct value I would like to take the opportunity to push the fix upstream.

[2015-10-19 20:34] #306 closed

[2015-10-19 20:36] cbednarski commented on #306
@dadgar Clarified that this is specific to the cgroups implementation, and as such we don't have a good way to validate before submitting the job. We may be able to improve this later on.

[2015-10-19 21:12] F21 commented on #304
If someone from the nomad team could answer those questions in the mean time, that would be awesome! :smile: I am keen to build a test virtualized cluster simulating a multi-data center deployment.

[2015-10-19 23:15] cbednarski commented on #304
@F21 We can certainly make these docs more clear. To clarify a few things:

#### Terminology

- A **region** is a cluster of Nomad server agents, which run a raft log and a gossip ring.
- A **datacenter** represents something like an AWS availability zone, a physical datacenter location, or some other physical fault domain or boundary.

#### Multi-datacenter

The Nomad server cluster operates only

[2015-10-19 23:51] ranjib commented on #239
yeah, i'll create an issue to track this on gopsutil.

[2015-10-20 00:35] dadgar commented on #250
This is something that can be supported upstream from Nomad. Your CLI could fanout the nomad telemetry to as many servers as you wanted. You could use something like the FanoutSink in this package: https://github.com/armon/go-metrics

[2015-10-20 00:35] #250 closed

[2015-10-20 04:15] kardianos commented on #239
This should be fixed in gopsutil now.

[2015-10-20 04:30] ranjib commented on #239
@kardianos i just tried this
[code]
[code]
as long as Cores is reported as 0, nomad will fail.

[2015-10-20 04:38] kardianos commented on #131
@cbednarski There are several ways to use godep. Primary suggestion is to NOT use godep as a build tool or modifying the GOPATH. Either use godep with import path rewriting or use the vendor folder with GO15VENDOREXPERIMENT=1.

I would recommend using the vendor folder approach, which godep supports. I think the vendor folder would also fit in with your current workflow reasonably well.

As the au

[2015-10-20 04:40] kardianos commented on #239
@ranjib I'm sorry, I didn't fully read this issue; I confused it with a previous one. Let me look into that.

[2015-10-20 05:04] kardianos commented on #239
@ranjib @cbednarski  There could be a semantic meaning issue here. "gopsutil" on my single socket six core machine will report six processors, each with 6 cores. In nomad/client/fingerprint/cpu.go, this will result in nomad reported 36 total cores. Either nomad needs to count cores differently or gopsutil needs to alter how it reports topology.

Related: https://github.com/shirou/gopsutil/issues/1

[2015-10-20 13:29] Dahs81 commented on #169
:+1:

[2015-10-20 13:52] rvm2015 commented on #278
+1

[2015-10-20 13:54] rvm2015 commented on #277
+1 Having the ability to shove this output somewhere (like logspout with docker) for 12 factor apps would be nice.

[2015-10-20 15:01] feliksik opened #309 "raw_exec driver: task failed with: wait: no child processes"
I am running commands with the raw_exec driver (great that this is there, by the way).

Inspecting the allocation result with 'nomad alloc-status <id>', sometimes gives me:
ClientDescription = {"vm":{"Status":"dead","Description":"task failed with: task exited with error"}}

This is ok, in this case, as the bash script I run fails. But sometimes the alloc-status gives:
ClientDescription = {"vm":{"

[2015-10-20 19:33] feliksik commented on #303
This makes sense not only for troubleshooting,  but also to build a monitoring/status listing or graphical frontend that shows the cluster utilization. Compare the DCOS overview page,  which shows CPU/mem utilization in partial circles.

[2015-10-20 21:19] F21 opened #311 "Health checks using scripts within task/container"
From the discussion I have seen, nomad plans to lean heavily on consul for service discovery and health checks.

While consul provides the ability to perform a check by running a script, the script must exist within the context of consul. For example, if I have a HDFS cluster running on nomad, it would be a good idea to perform a check by using the `hadoop` command. Currently, as it stands, a copy

[2015-10-21 00:14] #285 closed

[2015-10-21 00:15] diptanu commented on #285
This should be fixed now.

[2015-10-21 00:37] F21 commented on #304
@cbednarski Thanks! That was very useful.

Another question about multi-region deployments: There doesn't appear to be any setting to have a list of server ips for servers to join to. Do servers automatically discover each other and join (as long as they can reach each other)?

[2015-10-21 09:52] jsoriano commented on #285
It works great now for the "happy case", when the tasks start fine. But it still leaves all the tasks as dead if they fail to start. It'd be nice if it could revert the update if any of the updated tasks die (or cannot start) during the process.
And it'd be even nicer to support some kind of healthchecks that have to be passed before continue with the update :)
Are these features planned?

[2015-10-21 21:02] diptanu commented on #285
@jsoriano Yes these are planned for future releases, it should be possible to keep tasks running if the update fails while doing a rolling deploy. I am creating a new ticket to track those enhancements to rollig deploy.

[2015-10-21 23:11] diptanu opened #317 "Advanced Strategies for Rolling deploys"
Rolling deploys in Nomad should support the following strategies -
- Nomad should restart the old version of the task if the update for that task failed and stop the rolling deploy.
- Nomad should support querying health of the updated task from Consul and only proceed with the rolling deploy when the current set of Tasks that it has updated becomes healthy.

[2015-10-22 00:01] diptanu commented on #285
Created #317 to track enhancements to rolling update.

[2015-10-22 00:06] dadgar commented on #304
@F21: They do not automatically discover each other. You can join servers in two ways. You can use the `nomad server-join [list of servers]` or you can hit the [HTTP API](https://www.nomadproject.io/docs/http/agent-join.html)

[2015-10-22 00:13] F21 commented on #304
@dadgar Is this also something I can set in a configuration file?

[2015-10-22 00:34] diptanu commented on #311
@F21  We are currently adding support in Consul to run a script inside a Docker container for doing health checks. When Nomad registers a Task with Consul if the user has defined health check in a job we will pass that information to Consul too, which will be then used by Consul to start doing health checks by running scripts inside the Docker container.

If a user is running tasks which are exec

[2015-10-22 00:49] dadgar commented on #304
It is not something that can be set in the configuration file. The reason is in most cases the IP to join is not known when writing the static config file. You can see how we over-come this when boot-strapping a cluster in this [terraform file](https://github.com/hashicorp/nomad/blob/master/demo/digitalocean/terraform/server/main.tf). The file launches three nomad servers and then calls the HTTP A

[2015-10-22 01:16] F21 commented on #311
Awesome! In the case of consul running a script directly on the host for `exec` or `raw exec` jobs, I would assume it's doing so using the consul remote execution feature right?

[2015-10-22 01:20] F21 commented on #304
Probably getting a bit off-topic here, but wouldn't it be possible to have something like consul's [`start_join`](https://www.consul.io/docs/agent/options.html#start_join) where you give it a list of IPs in the config that it will attempt to contact and join when it starts?

[2015-10-22 01:58] diptanu commented on #311
@F21 I think we can avoid remote execution for doing healthchecks for tasks which are running via exec and raw exec on Nomad by running Consul Agent as a system task on the node in the raw exec mode. So Consul would be able to run any script on the host or in any chroot.

[2015-10-22 02:19] F21 commented on #311
That sounds like the way to do it! I hope consul support is added to nomad soon, would love to give that a spin!

[2015-10-22 03:14] sshi100 commented on #62
+1

[2015-10-22 09:31] jsoriano commented on #285
Great, thanks!

[2015-10-22 14:41] feliksik opened #318 "Nomad cli client has no easy to use library (bindings for server REST API)"
In trying to programatically (in Go) schedule jobs at the nomad server, I am creating a Job struct and trying to schedule it. This means I am basically trying to reimplement large parts of the `Run(args []string) int ` method in https://github.com/hashicorp/nomad/blob/master/command/run.go .

However, this is not so easy to me. I have to validate the job, convert the Job to an ApiJob with `apiJob,

[2015-10-22 17:02] #303 closed

[2015-10-22 18:16] dadgar commented on #318
Maybe I am misunderstanding but couldn't you use the HTTP API? https://www.nomadproject.io/docs/http/job.html

[2015-10-22 19:15] feliksik commented on #318
Sure that's possible, but I think often language specific libraries are built on top of that API, right? Allowing people to use a thin library instead of doing the HTTP calls. Does that make sense?

I will happily use the REST api,  if that is your advice. I just think I will eventually be implementing the bespoke library,  so want to check your opinion!

[2015-10-22 20:19] sielaq opened #320 "Job specification idea for canary releases, when consul comes in"
Probably you have think already about canary releases (AKA a/b testing) and consul integration,
but it would be cool, to have possibility
to name service in consul agnostic from nomad name.
So in the end it would be possible to handle with canaries releases like:
[code]
and if some LB/router ([traefik](https://github.com/EmileVauge/traefik)/[Fabio](https://github.com/eBay/Fabio)) was connected to

[2015-10-22 20:48] cbednarski commented on #320
@sielaq Thanks for the suggestion. In the past I have used blue-green deploys and achieved this by creating mirrored environments suffixed with `-blue` and `-green` respectively and merging the config back and forth with a script. I think we can fairly easily support what you've described to allow jobs to share a key or other identifier in Consul.

In addition to what you've described, we would (e

[2015-10-22 22:17] dadgar commented on #318
Ah okay! Thanks for clarifying!

The community is more than welcome to maintain language specific wrapper libraries for interfacing with the Nomad HTTP API but for the foreseeable future we will not be maintaining one.

I am going to go ahead and close this bug. If there are any more concerns let me know!

[2015-10-22 22:17] #318 closed

[2015-10-22 23:53] dadgar commented on #62
This PR closes this https://github.com/hashicorp/nomad/pull/290

[2015-10-22 23:53] #62 closed

[2015-10-23 04:08] kardianos commented on #239
@ranjib This is now fixed in gopsutil.

[2015-10-23 04:21] ranjib commented on #239
@kardianos :sunflower: i'll take it for a spin tonight and validate. I am maintaining similar patch on my fork now, i'll get rid of that https://github.com/ranjib/nomad/blob/lxc/client/fingerprint/cpu.go#L37
thanks a lot, really appreciate it

[2015-10-23 05:36] feliksik commented on #318
Perfect,  thanks @dadgar!

[2015-10-23 15:41] clstokes commented on #54
The [Short SHA-1](https://git-scm.com/book/en/v2/Git-Tools-Revision-Selection#Short-SHA-1) model from git is pretty user-friendly IMO. Allowing users to type only the first few characters of the UUID and have Nomad match based on that (but reject if multiple are found) would be nice and a familiar experience for users.

[2015-10-23 19:50] catsby opened #326 "TaskEnvironmentVariables should return an error and be handled in the Drivers"
This method should return an error and be handled in the drivers.

- https://github.com/hashicorp/nomad/blob/f-go-getter/client/driver/driver.go#L120

ref: https://github.com/hashicorp/nomad/pull/288#discussion_r42893475

[2015-10-23 21:19] jeffbaier commented on #278
+1

[2015-10-23 22:56] jeffbaier opened #328 "Docker Task Driver: advanced options and privileged mode"
From reading the documentation, it looks like there are only 3 configuration options for the docker task driver: image, command, and network_mode. Then there are other nomad options that are abstracted for all the task drivers, for example port mapping and resource limiting.

But there are a lot of other `docker run` options missing. How can I pass some advanced config parameters to Docker? For ex

[2015-10-23 23:07] dadgar opened #329 "Remove API duplicates of nomad/structs and remove the compose api."
The api package has copies of the nomad structs used everywhere else. We should just remove them (example https://github.com/hashicorp/nomad/blob/fd3dccead257b42110e58543e8f39ecafe34e21d/api/jobs.go#L111) and also the compose helpers (https://github.com/hashicorp/nomad/blob/master/api/compose_test.go)

[2015-10-24 08:52] roivanov opened #331 "java driver fails to run jar when chroot"
java driver fails to run jar when chroot

Running nomad on Amazon Linux
**AMI ami-52978200 (Amazon Linux AMI 2015.09.0 x86_64 HVM GP2)**

removed java-1.7.0 and installed java-1.8.0
[code]

Got the following error when running java job
[code]

[code]

Java location is
[code]

When Oracle jdk is installed
[code]

Java location is
[code]

[2015-10-24 15:30] iverberk commented on #117
Is there still a need for the -fingerprint flag or is this fixed by #313?

[2015-10-25 08:53] achanda opened #332 "Add documentation for the demo"
Not everyone is super familiar with terraform. This needs a readme file
https://github.com/hashicorp/nomad/tree/master/demo/digitalocean

[2015-10-25 10:20] gregory-m opened #333 "Configurable Serf ReconnectTimeout and TombstoneTimeout"
Part of our infrastructure running on AWS spot instances. I played with nomad on spot instances and finished with 50 members in "failed" state. I only run 3 instances concurrent, and can imagine what will happened when I will run 50 agents on spot instances. The default 3 days timeout its huge if you running on spot instances.

If you agree I can open PR.

Thanks.

[2015-10-26 18:06] dadgar commented on #328
Hey Jeff,

Agreed some of the more advance flags need to be added. I would not go with the fork/exec strategy because it won't allow you to wait for the container task to finish. Docker commands are passed to the dameon so `docker run` would succeed instantly and then the task would believe it was done. It is better to properly route the flags to docker and that is something we plan on doing!

[2015-10-26 18:12] dadgar commented on #333
Hey,

Is there a concern with this? Nomad won't schedule to the failed nodes, they just remain in the system in case they reconnect.

But I agree, we need to expose more of the configuration so a PR would be appreciated!

[2015-10-26 18:34] gregory-m commented on #333
It's only user interface issue. And yes its only important to these who run nomad on highly changeable environments like spot instances. For example we bid on 10 spot instances. After hour or two somebody overbids us, and we decide to launch 10 regular instances. 5 hours later spot instances prices go down. And we decide to run 10 spot instances and shutdown regular ones.

This will lead to 20 ins

[2015-10-26 18:42] dadgar commented on #117
I think it is largely solved by that PR. I think it is best we close this PR. Thanks so much!

[2015-10-26 18:42] #117 closed

[2015-10-26 21:16] dadgar opened #346 "Investigate better caching of ProposedAllocs within scheduler stack"
For reference see PR: #321

[2015-10-26 22:13] dancannon opened #347 "Add ability to specify custom directories in chroot"
Unfortunately we have services that have a dependency on files in an external directory and to get our services to run in Nomad I have had to fork nomad and add out directory to the list of chroot directories manually (https://github.com/dancannon/nomad/commit/8b6a394601784e69237c5aee5bf317d57473f491)

It would be nice to specify a list of environments in the driver config which are mounted when t

[2015-10-26 22:25] dadgar commented on #347
Thanks for filing this! Definitely something we want to expose. I just want to clarify one thing. The way the chroot is created is that it creates hard links to files inside those directories and when that fails it copies that the data. So if you including a folder that was less a NFS mount for your persistent data you would not have the expected behavior (it would just copy everything). We need a

[2015-10-26 22:34] dancannon commented on #347
Thanks thats great to hear. Ill be honest my version was just a hack to get something working. Our services currently require some config files in a certain directory so having read only (or at least non-permanent) access is not an issue.

Slightly unrelated but I had a quick look into this issue and noticed that driver config has the type `map[string]string`, how would you see setting config for

[2015-10-26 23:19] cbednarski commented on #347
@dancannon This is in design phase for us and is not in the current dev cycle so I don't want to get into specifics that may change, but I think we will pass this into the driver via a specialized data structure, not as key-value pairs.

[2015-10-26 23:21] dancannon commented on #347
@cbednarski Ok sounds good, I am just trying to understand how the internals work as I am really interested in the project.

[2015-10-26 23:25] cbednarski commented on #347
@dancannon For some examples:

1. [Network configuration](https://github.com/hashicorp/nomad/blob/master/jobspec/test-fixtures/multi-network.hcl#L11-L21)
2. [How we represent this internally](https://github.com/hashicorp/nomad/blob/master/nomad/structs/structs.go#L614-L623)
3. [How it's used by a driver](https://github.com/hashicorp/nomad/blob/master/client/driver/docker.go#L186-L219)

[2015-10-27 01:33] dadgar opened #348 "Add artifact_checksum to drivers"
Add an artifact_checksum that using the go-getter checksum feature: https://github.com/hashicorp/go-getter/pull/1/files

[2015-10-27 16:28] ghost opened #349 "Support for docker load/docker import."
It would be helpful to have the ability to source docker images/containers from tarballs pulled via http alongside a docker registry (as most private docker registries are still relatively primitive and not all code is appropriate for docker hub).

Using docker load on an image tarball would probably be the most straightforward solution though also being able to do docker import on a container tar

[2015-10-27 16:32] rvm2015 commented on #277
+1 It would be highly preferable to me that whatever format gets used is compatible with logstash. I'm currently using logspout -> syslog -> logstash but being able to remove the logspout step would be helpful. I'm not fond of sidecar docker instances ex. Kubernetes.

[2015-10-28 03:37] armon commented on #348
This may not be necessary after talking to @mitchellh, since the checksum can be a query parameter in `artifact_source`

[2015-10-28 13:28] catsby commented on #348
Maybe we could support both? An explicit `checksum` type config option feels better to me, but I'm fine either way.

Regardless, I'll clean up the Qemu driver that does this on it's own, since it's now built into go-getter, and I'll make sure the other drivers behave as expected when a checksum is included

[2015-10-28 17:15] bsoutham commented on #347
Another example -- a simple Spring Boot app needs to find a "/tmp" directory in order to startup.  Currently it fails with

[code]

So just the simple ability to specify a directory that is created is useful.

[2015-10-28 17:52] dadgar commented on #348
I could go either way. As long as we have a section in the docs documenting that you can add the checksum it is fine.

[2015-10-28 17:59] dadgar commented on #349
Yeah that sounds worthwhile. I think we wouldn't want to support `docker load` as that is source locally but `docker import` would be useful. We would be happy to take a PR for this if you are interested.

[2015-10-29 10:44] i0rek opened #359 "nomad agent should use the bind addr"
I am starting nomad in AWS with the `-bind` flag:

[code]

When I run `$ nomad agent-info` it fails with: `Error querying agent info: failed querying self endpoint: Get http://127.0.0.1:4646/v1/agent/self: dial tcp 127.0.0.1:4646: getsockopt: connection refused`. But running `$ NOMAD_ADDR=http://10.127.130.175:4646" nomad agent-info` fixes it.

I think the agent should use the `bind` address inste

[2015-10-29 10:45] i0rek commented on #193
@prashanth5192 I think you are having this problem: https://github.com/hashicorp/nomad/issues/359.

[2015-10-29 10:57] gregory-m opened #360 "#353 Breaks tests on Mac OS X"
After #353 merged I can't run tests locally on my mac.

logs:
[code]

my ifconfig output:
[code]

[2015-10-29 17:06] dadgar commented on #347
@bsoutham: Is it possible to create the temp folder? The directory structure in the chroot is a starting point. The application should be able to create anything it needs

[2015-10-29 20:56] #360 closed

[2015-10-29 22:45] #333 closed

[2015-10-30 00:05] dadgar commented on #359
Hey,

The Nomad CLI commands are calling APIs exposed by the local Nomad Agent which can bind to any interface. The implication of this is that when you run Nomad CLI commands, it does not know the bind address of the Nomad Agent so it tries to resolve the address by looking in the environment variable $NOMAD_ADDR, trying a default address or by using the address passed to the command with the fla

[2015-10-30 00:05] #359 closed

[2015-10-30 08:57] i0rek commented on #359
I understand your reasoning. I was thinking that there is no way that the local agent can be reached if it is binded to something else. and since the client ships with the agent, I did expect it to know about the bind.

Thank you for your help and your work!

[2015-10-30 16:09] BSick7 opened #367 "Improve documentation for setting up a server cluster and keeping it healthy"
I am trying to launch a 2-server cluster.  Server 2 joins Server 1 successfully through a `server-join`.  I was hoping to query the node-status of the cluster; however, I received this error: `Error querying node status: Unexpected response code: 500 (No cluster leader)`.

After looking in the logs, I found that only 1 vote was tallied for leader and another error occurred during the election proc

[2015-10-30 16:30] diptanu commented on #40
@ryanuber @cbednarski I think it migiht be better if we exposed this information on an agent-debug endpoint rather than logging it, since this is something that will be logged during the startup and after a few hours/days it might be rotated out.

[2015-10-30 16:42] ryanuber commented on #40
That's true, but I think the same could be said for just about anything we log at start time. Logging it is just the easy way to solve the general use case since that's where other startup information lives currently.

[2015-10-30 18:22] cbednarski commented on #40
Also it's likely if there is a problem at startup (for instance if the node fails to come online) that you may only have log data.

[2015-10-30 18:47] cbednarski commented on #367
@BSick7 Thanks for the report. Membership is very sticky. Once an entry has been made into the raft log identifying a node, Nomad will try to reestablish communications with that node for quite a while (IIRC 36 hours).

- Did you at some point attempt to join 172.24.93.91 to the cluster by way of CLI command or config file?
- Did you previously have 172.24.93.91 in your cluster and removed it?
- D

[2015-10-30 19:00] BSick7 commented on #367
@cbednarski I am using terraform to provision this cluster.  The list of servers in the description are the only servers that connected.  (You can actually see 3 of them are in the failed state because terraform tore down the other servers)  There could have been a client with that IP address that I'm not aware.

I have been following the immutable infrastructure philosophy, so I do not transfer o

[2015-10-30 19:11] cbednarski commented on #367
This should only happen amongst the server nodes. The client nodes aren't part of the raft group.

[2015-10-30 19:21] cbednarski commented on #367
My guess is that there is some stale state in your main server's raft log that is polluting the rest of the server nodes, so at some point in the past 172.24.93.91 _was_ a member of the cluster and the node that remembers it is asking it to vote, or another node that has replicated the log is asking it to vote.

Likely if you have not succeeded in forming a quorum then your main server is the defa

[2015-10-30 19:25] BSick7 commented on #367
@cbednarski Thanks for the info.  I have been struggling to form a proper server quorum.  You guys are killing it and very early in the development cycle, but I would love to see some instructions creating the recommended 3 or 5 server cluster.  We buy into the hashicorp ecosystem so anything tailored for terraform would be very helpful.

[2015-10-30 19:30] cbednarski commented on #367
This is pretty complicated under the hood, but from an operator perspective it should be relatively straightforward:

1. Boot three fresh nodes, A, B, and C
2. Join node B to node A
3. Join node C to node A

These three nodes should perform leader election (I think if you watch the logs on all three you can see this happen). I've [done this with Consul](https://github.com/trydb/tryconsul) and it's

[2015-10-30 22:10] trevorgray commented on #278
+1

[2015-10-30 23:26] #10 closed

[2015-10-31 03:56] a1017 commented on #278
+1

[2015-11-01 09:29] spinx commented on #278
+1

[2015-11-02 03:03] stevenpall commented on #144
+1

[2015-11-02 13:37] stevenpall opened #371 "Docker --net container: Parameter"
I noticed that in `docker.go`, the Docker network mode is checked to be one of `bridge`, `none`, or `host`. If it is none of these, `bridge` is defaulted to.
[code]
I have a use case where I'd like to run a primary container with `net=none` and then use pipework (https://github.com/jpetazzo/pipework) to assign a macvlan interface to it. In addition to this, sidecar containers would be run, ideally

[2015-11-02 14:40] BSick7 commented on #367
Step 3 is very helpful as it seems counter to a point made https://nomadproject.io/docs/commands/server-join.html.

[2015-11-02 20:39] cbednarski commented on #371
@stevenpall Thanks for the feedback. I think there are two significant considerations here.

First, our initial Docker implementation was naive with respect to various Docker network configurations, and a later community PR expanded the options beyond Nomad's intended design. Nomad's current design provides a single IP shared nonexclusively across all tasks in a task group. We still need to do som

[2015-11-02 21:07] Sdedelbrock commented on #328
There seems to be a handful of requests to enhance the configuration options for drivers (specifically docker).  We would like to submit a PR for the Docker driver, addressing this issue as well as others. but would like to hear your opinion of how you prefer it is implemented.   It seems driver based configuration best fits within the `Task.Config`.  Unfortunately `Task.Config` is a `map[string]s

[2015-11-02 23:31] maxenglander commented on #169
:+1:

[2015-11-03 08:12] defender commented on #169
+1

[2015-11-03 15:02] bertrand-quenin opened #378 "Nomad multi-node, multi-master: restart container issue"
Hi,

I've setup a 4-node nomad cluster with the following configuration for the agent:
 - node1 on 172.31.13.220, both server and client:
[code]

 - node2 on 172.31.13.221, both server and client:
[code]

 - node3 on 172.31.13.222, both server and client:
[code]

 - node4 on 172.31.13.223, only client:
[code]

After launching the 4 agents on the 4 nodes, I make the server join each other:
 - On no

[2015-11-03 15:17] diptanu commented on #378
@bertrand-quenin Hi, restarts were not implemented in Nomad 0.1.2. This is in the works now, and the first part of the PR, https://github.com/hashicorp/nomad/pull/369,  has been merged. This should be released with Nomad 0.2 over the coming weeks. We will be merging more PRs in the next couple of days which should restart tasks when they are killed. The above PR explains how Restarts will work fro

[2015-11-03 21:41] catsby commented on #348
Proposing  https://github.com/hashicorp/nomad/pull/381 as a fix

[2015-11-03 22:49] bsoutham commented on #347
@dadgar With the Spring Boot -- no.  It is starting tomcat to handle connections to the app, which occurs automatically, before the actual app is started.  The app doesn't have a chance to create a directory, because it fails prior to even running any code that I've written.  It fails in the Spring bootstrapping, over which I don't have control.  The directory needs to exist prior to being execute

[2015-11-04 01:56] cbednarski opened #382 "Network interfaces are not detected on Windows"
Nomad on Windows does not detect any network interfaces because the [network fingerprinter for Windows](https://github.com/hashicorp/nomad/blob/master/client/fingerprint/network_windows.go) is not currently implemented.

Fortunately our [implementation for *nix](https://github.com/hashicorp/nomad/blob/master/client/fingerprint/network_unix.go) was recently rewritten to use native go APIs that work

[2015-11-04 12:50] bertrand-quenin commented on #378
Ok thanks for your answer. Is there any draft roadmap available somewhere?

[2015-11-04 21:04] dadgar commented on #328
@Sdedelbrock: Lets keep it as a string for now. It is the least invasive change and should be fully expressive as well. Look forward to your PR! :+1:

[2015-11-05 12:44] LordFPL opened #387 "Docker --name option"
Hello,

Following a conversation on the newsgroup (https://groups.google.com/forum/#!topic/nomad-tool/WrTGqvjW6xo) I will wish be able to set in a Nomad job the name of a container (--name option in docker).
The reason is a easier viewing on the host machine, but also for monitoring tools that use this value.

Thanks in advance :)

[2015-11-05 15:16] charliedrage commented on #227
@rvm2015 @dadgar
Would the plan be perhaps to go the same route as Consul with it's encryption? https://www.consul.io/docs/agent/encryption.html

[2015-11-06 18:07] cbednarski commented on #387
@LordFPL Container names have to be unique across the cluster (we might start more than one container from the same job on a single host), and as such they have some randomly-generated string in the name no matter what.

It seems like labels are a better fit for cross-referencing. For instance, we could attach a label to the container that indicates the name of the job that started it, and potenti

[2015-11-06 20:48] LordFPL commented on #387
Thx for your answer :) I have to test if label can be a solution... but i always found name in "docker ps" more understandable than label.

Imho label are more for informations about an app (dev/prod, locality, project, team, etc...)

I understand the problem of unicity accross the cluster, but with PR https://github.com/hashicorp/nomad/pull/321 maybe an implicit constraint can be added ? (If opti

[2015-11-06 21:42] cbednarski commented on #387
The naming issue should not be conflated with a scheduling restriction. If it's your _intent_ to never colocate two instances of a job on the same machine, that should be explicit.

The proposed change in https://github.com/hashicorp/nomad/pull/389 works around the naming unicity issue by essentially randomizing it, so I'm curious whether the proposed solution would actually work for your intended

[2015-11-08 16:28] adamveld12 commented on #169
:+1:

[2015-11-09 14:30] iamthemuffinman commented on #278
+1

[2015-11-09 21:57] zanedeg commented on #278
+1

[2015-11-09 21:58] zanedeg commented on #169
+1

[2015-11-10 15:39] marcelocorreia commented on #169
+1

[2015-11-10 17:33] dimfeld commented on #387
AFAIK logspout (https://github.com/gliderlabs/logspout/) does not look at docker container labels, and logstash filters on the receiving end could easily filter out the allocation ID (or whatever gets appended) from the name. On the other hand, logspout does send the docker image name along with the log data, so that may also be sufficient for most people's needs.

[2015-11-10 20:50] danehans opened #404 "Swarm Comparison"
Disclaimer: I am by no means promoting Swarm or Kubernetes. I am interested in Nomad and currently performing due diligence. Which brought me to the following comparison:

https://nomadproject.io/intro/vs/swarm.html

Although Swarm is focused on container abstraction, Docker Compose provides a higher-level abstraction and integrates (currently not complete) with Swarm. I think it's fair to mention

[2015-11-10 22:39] F21 opened #406 "GPU resources"
Mesos recently announced some work they have been doing with nvidia to treat GPU resources like CPU and memory resources: https://mesosphere.com/blog/2015/11/10/mesos-nvidia-gpus/

It would be interesting to see if this is something nomad can support too.

[2015-11-11 02:03] diptanu commented on #406
Hi Francis,

I am interested to hear some use cases and applications that would run on Nomad and use GPUs. 

At the end of the day it's upto applications to exploit heterogenous processor architectures on a host. A cluster manager can help with applications which wants to use GPUs by placing them on a machine which has GPUs and accounting their usages and by being the resource allocator and schedu

[2015-11-11 02:11] F21 commented on #406
Some possible use-cases:

- Accelerate image processing with OpenCV using the GPU module: http://docs.opencv.org/2.4/modules/gpu/doc/introduction.html
- Machine learning with nvidia GPUs: http://www.nvidia.com/object/machine-learning.html

[2015-11-11 02:14] dadgar commented on #309
Should be fixed by executor updates and driver refactors.

[2015-11-11 02:14] #309 closed

[2015-11-11 02:15] dadgar commented on #348
#381 fixes

[2015-11-11 02:15] #348 closed

[2015-11-11 02:18] dadgar commented on #328
Closing at #390 enables these.

[2015-11-11 02:18] #328 closed

[2015-11-11 02:20] dadgar commented on #378
#393 should fix this so I am going to close. If it is still an issue we can reopen!

[2015-11-11 02:20] #378 closed

[2015-11-11 02:21] dadgar commented on #159
This should be fixed now.

[2015-11-11 02:21] #159 closed

[2015-11-11 02:25] dadgar commented on #170
We don't use the regex anymore so closing.

[2015-11-11 02:25] #170 closed

[2015-11-11 02:26] dadgar commented on #25
Using go-getter.

[2015-11-11 02:26] #25 closed

[2015-11-11 02:29] dadgar commented on #131
Closing as we have yet to decide what we will do and want to wait to see the official vendoring solution brought in Go 1.6

[2015-11-11 02:29] #131 closed

[2015-11-11 02:30] dadgar commented on #134
PR #393 fixes this.

[2015-11-11 02:30] #134 closed

[2015-11-11 03:30] #295 closed

[2015-11-11 03:43] jeffbaier commented on #328
This is a great start! It will be very helpful to have `privileged` as an option. However, I don't feel like this issue should be closed. There are many more options to support. Are there plans to support all the options, or will the options be restricted?

[2015-11-11 03:52] cbednarski commented on #406
@F21 I think we can support this via fingerprinting, and in AWS this can probably already be detected via instance type.

Deeper integration, e.g. with the CUDA API or similar, will require a custom build of Nomad with a C toolchain, which is something we can't support.

I'm not sure what kernel support exists for this (I suspect none without custom drivers) but unless there is some way for Nomad

[2015-11-11 04:16] diptanu commented on #406
@cbednarski I think once we have a plugin architecture in place, we should be able to have fingerprints outside our main binary to enable such use cases.

My main question was around how do we expose the GPU capacity available on a node and if there are any ways to bound resources across multiple Tasks using the available GPU on a node.

[2015-11-11 04:29] kardianos commented on #131
It's the vendor folder. Same as 1.5 under a flag.

On Tue, Nov 10, 2015, 18:29 Alex Dadgar <notifications@github.com> wrote:

[2015-11-11 09:09] peterbourgon commented on #131
Strong +1 to just using GO15VENDOREXPERIMENT now.

[2015-11-11 19:21] Sdedelbrock commented on #328
I can't speak for the nomad team, however my personal opinion is that it would be unwise to bloat the code base with options that may not be needed.  Tackling the issues one by one gives a better wholistic view to the use cases, which may lead to better implementations.

If there is a configuration option you are in need of, we would be more then happy to kick off a new issue.

[2015-11-11 20:19] maguec commented on #212
+1 since docker containers built with packer do not expose any ports:

How Docker sees Packer built containers
[code]

vs Dockerfile built containers

[code]

In the docker logs I do not see the allocate_port task run
[code]

[2015-11-11 20:32] #135 closed

[2015-11-12 00:22] cbednarski commented on #406
@diptanu Yeah that's the part where I think this requires integration with the CUDA API, or use of a customized kernel. There's a lot of research in this area but I'm not aware of any mainline features to support this.

Assuming that is there, though, I think it should be possible to support some kind of arbitrary resources in the scheduler. Likely we will want this to track other constrained or p

[2015-11-12 23:16] c4milo opened #410 "Re-spawning killed tasks does not seem to work."
I just went through the Clustering guide, locally, started 3 redis instances, killed one and I was expecting Nomad to start a new instance again but it never happened.

agent log:
[code]

nomad status example output:
[code]

[2015-11-12 23:18] diptanu commented on #410
@c4milo Are you running our 0.1.2 release? We have recently added support for Restart Policies in Nomad master, which is going to be released soon.

[2015-11-12 23:21] c4milo commented on #410
@diptanu yes, that's what the Vagrantfile from the documentation installed. I'm going to use master for my next tests then. Thank you for the heads up!

[2015-11-13 00:09] diptanu commented on #410
@c4milo  Cool! I am closing this issue, please feel free to open issues if you find anything which isn't working as expected or have any other questions.

[2015-11-13 00:09] #410 closed

[2015-11-13 19:08] joonas-fi commented on #278
+1

[2015-11-13 19:23] ChrisHines commented on #30
I am not sure the Windows information linked to above is the best approach for Nomad. Have you considered using [Job Objects](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684161(v=vs.85).aspx)? I think that API may be a better fit.

[2015-11-13 19:41] #212 closed

[2015-11-13 20:07] cbednarski commented on #30
@ChrisHines Thanks for the tip! This looks great. I'm a complete novice at win32, unfortunately, but I'll do some reading about this.

[2015-11-13 20:25] ChrisHines commented on #30
@cbednarski I may be able to help out here, once I'm more up to speed with the Nomad code base. I have written (in Go) a service similar to the nomad client for our current cluster manager that we run in a mixed Windows/Linux cluster. We are evaluating Nomad as a replacement down the road and are prepared to contribute code to help it meet our needs.

So far I have not used JobObjects for resource

[2015-11-14 23:15] benmccann opened #418 "deb/rpm packages"
[The docs](https://www.nomadproject.io/docs/install/index.html) say "We do not have any near term plans to provide system packages."  However, I thought I would file an issue to be able to track whether any work is done on this front. It would be much easier for us operationally as currently everything we deploy is packaged as a .deb package.

[2015-11-15 04:46] mfischer-zd commented on #387
+1 on this

[2015-11-15 04:50] mfischer-zd commented on #387
+1

[2015-11-15 05:06] mfischer-zd commented on #371
I disagree that Nomad should support only the lowest common denominator with respect to configuration.  I'd much rather we support the full Docker option palette than burden the user with tuning it manually.  There's nothing wrong IMO with exposing Docker's configurability to the user any more than exposing the configurability of other implementations would be.

The ambassador pattern, where conta

[2015-11-15 05:27] mfischer-zd opened #419 "Provide for dependencies between tasks in a group"
Tasks in a group sometimes need to be ordered to start up correctly.

For example, to support the Ambassador pattern, proxy containers (P[n]) used for outbound request routing by a dependent application may be started only after the dependent application (A) is started.  This is because Docker needs to know the name of A to configure shared-container networking when launching P[n].

In the first a

[2015-11-15 23:20] ketzacoatl commented on #180
I am really appreciative for the flexibility and simplicity inherent in Consul's leader election, and the lack of the same semantics in Nomad makes deploying Nomad leaders to AWS auto-scaling groups much difficult than Consul. (I would welcome any suggestions - in case I am missing something obvious).

To be more clear: the current setup with Consul makes it possible to easily give Consul an arbit

[2015-11-15 23:32] ketzacoatl commented on #278
At least from my limited perspective, this seems like an obvious big win. @dadgar, I would be interested in what brainstorming is needed for this?

The reasons why I am particularly interested: 1) Consul's UI was a major sell for me any my team evaluating Consul and etcd 2) when Nomad has a UI, devs who have a difficult time with the CLI can still be effective (important when comparing mesos/etc t

[2015-11-15 23:38] ketzacoatl commented on #144
I have also considered Nomad as a simple distributed solution to running various server/cluster cleanup jobs through cron - I would love the ability to schedule a task to run on specific nodes (use tags, or worker capabilities?), all nodes, and at various schedules (X time of day, every X period, etc).

[2015-11-16 12:42] LordFPL commented on #387
Sorry for late answer, the #389 change is a good solution imho... and will be much better than random docker names.
Many thx to have digging all tools, i have to work with label now :)

[2015-11-16 15:30] c4milo commented on #144
I would start by looking at how https://github.com/mesos/chronos does it.

[2015-11-16 19:09] ChrisHines commented on #419
+1

Batch jobs need task dependencies to manage data-flow between tasks.

[2015-11-16 19:13] ChrisHines opened #423 "Batch jobs fail validation without an explicit task group with a restart configuration."
[code]

[code]

[2015-11-16 22:52] c4milo commented on #149
I applaude the decision of keeping Nomad simple! I don't think baking everything inside Nomad is the way to go either. I can see how one could make the load balancer part of the tasks of a job, with consul-template to update backend servers. It is a much more cleaner and modular approach compared to that of K8s.

[2015-11-16 22:57] c4milo commented on #169
I'm very much looking forward to having this.

[2015-11-17 06:54] macb opened #427 "restore state appears to attempt to Kill twice"
Figured I'd give the new state reset merges a try and everything worked great. However it looks like the cleanup might run twice though, leading to slightly confusing log lines.

[code]

[2015-11-17 07:26] macb opened #428 "jobs with update blocks don't get fully re-scheduled"
If we have a job like:

[code]

and 5 clients on which it is running. If we trigger an evaluation (run the job again, kill a node, or set a node) to drain, only `max_parallel` will ever be rescheduled. It's possible to trigger another `max_parallel` worth of allocations to be set by triggering another evaluation. This does not seem to be the desired behavior as it should be up to the scheduler to

[2015-11-17 08:01] diptanu commented on #423
@ChrisHines Sorry for the oversight. A PR is out which fixes this - #429

[2015-11-17 13:47] suyash1983 opened #430 "Unable to issue job for driver "exec""
I am running nomad server and client (both single instance) on the same machine. On the same machine I have created a job file with following content:
[code]

While submitting a job i am getting following error with (failed to find a node for placement):
[code]
I don't know what's i am doing wrong here.

[2015-11-17 15:21] yongtang opened #431 "Support docker with user created network (docker network create)"
With the release of Docker 1.9, it is possible to provide  a user-created network (docker network create):

[code]

The user-defined network is too convenient in that it is possible to wire up different links among containers (across different hosts) without mess up with Docker's default docker0 bridge. With user-created network and plugin, it is much easier to integrate a customized networking so

[2015-11-17 17:37] diptanu commented on #430
@suyash1983 I think you have a typo in your job, the name of the driver is ```exec``` and not ```exce```

[2015-11-17 18:19] c4milo commented on #144
@armon, @cbednarski I'm in need of this feature, is blocking me right now to get something done. So, I am available to work on this :dancer:. Do you have any update @robzienert?

[2015-11-17 19:35] dadgar commented on #427
Just verified the bug. Thanks for reporting!

[2015-11-17 20:05] dadgar commented on #427
Should be fixed by baeea15aa2b8f4fc498f840d85159b7af8b10d4f

[2015-11-17 20:05] #427 closed

[2015-11-17 20:09] #423 closed

[2015-11-17 23:11] cbednarski opened #435 "Change ParseAndReplace to accept a list instead of a string"

[2015-11-17 23:25] cbednarski commented on #371
Thanks for the feedback on this issue!

I've removed the restriction around container networking mode in #434. This should allow you to use nomad with custom drivers and technically it enables container networking also.

However, my understanding is that in container networking mode the configuration is passed as a tuple: `--net=container:name`. Currently there is no way to specify `net container:

[2015-11-17 23:36] mfischer-zd commented on #371
Thanks @cbednarski!  Your progress is much appreciated.

[2015-11-18 01:24] #431 closed

[2015-11-18 03:44] stevenpall commented on #371
Thank you, @cbednarski!

[2015-11-18 04:42] cbednarski opened #440 "TestDockerDriver_Start_Wait creates a lingering container"
After changing to named containers TestDockerDriver_Start_Wait would fail after the first run because it does not clean up the container it creates. I've changed the driver to purge the old container before creating a new one but I'm still not sure why the test is not cleaning up after itself.

[2015-11-18 06:40] suyash1983 commented on #430
Thanks Diptanu, now it's working it was typo.

[2015-11-18 07:06] suyash1983 opened #444 "Usecase of nomad"
We are looking for cloud cluster management service for following requirements:

- Discovery and monitoring of services (health check, resource utilization)
- Configuration management (installation, un-installation i.e. orchestration of services)
- Automatic failover/failback of services.
- User and log management and it's monitoring.

So my question is how Nomad help us to achieve above requireme

[2015-11-18 09:29] carlosdp opened #447 "Documentation on Network resources outdated"
I think this happened around 87f49c4f , but it looks like Nomad wants networks to look like this now:

[code]

The documentation hasn't been updated, I only figured it out by looking at the tests.

Edit: in master, not 1.2 clearly

[2015-11-18 09:44] F21 commented on #444
Nomad is a task scheduler that is comparable to Apache mesos.

To stand up an Apache mesos cluster, you need to install a Zookeeper quorum (so mesos can perform leader election), mesos itself and marathon to launch jobs.

In contrast, nomad ships all of that in 1 binary, so it is much simpler to deploy and manage.

In terms of discovery and monitoring, the plan is to lean on consul for service dis

[2015-11-18 09:56] F21 commented on #150
Maybe it's possible to lean on https://github.com/emccode/rexray for persistent on non-local storage. It doesn't manage persistent on local disks though, so that portion would still need to be implemented.

[2015-11-18 13:08] suyash1983 commented on #444
We are trying to understand the Hasicorp stack in our infrastructure, but we found there are so many products which raise confusion as below:

``Serf`` : Cluster Node configuration & management.
- So I assume, If I need to configure, manage and orchestrate cluster of nodes, then this package has to be used. Please confirm?

``Otto/Terraform/Vagrant`` : Infrastructure management
- Little confused a

[2015-11-18 14:03] bluk opened #448 "Interpreted variables in environment variables"
The Constraint section in the [Job Specification](https://www.nomadproject.io/docs/jobspec/index.html) has a table with interpreted variables such as `$node.id` and `$meta.<key>`. I assume the interpreted variables are meant for just constraints but I want to use them in other parts of the config.

For my use case, I've added some host machine unique metadata to the Nomad client's [meta](https://w

[2015-11-18 17:22] c4milo commented on #144
How about a service outside of Nomad, with an HTTP API, that receives nomad's job configurations as well as its repeating interval (ISO8601). It stores this information in a Consul K/V store and polls it at a give interval using Check-and-Set operations to avoid double scheduling when running multiple instances. It then calls Nomad every time a job needs to run using the Batch scheduler. It could

[2015-11-18 18:20] #176 closed

[2015-11-18 18:20] dadgar commented on #176
PR #408

[2015-11-18 21:09] ChrisHines opened #453 "client/driver/environment.ParseFromList broken by Windows cmd.exe"
cmd.exe on Windows creates some strange environment variables that contain an `=` in the key, which breaks the `environment.ParseFromList` function. See [this SO question](http://stackoverflow.com/questions/10431689/what-are-these-strange-environment-variables) for more info about the strange environment variables.

The upshot of the answers on SO is that environment variables starting with a `=`

[2015-11-18 22:02] ChrisHines commented on #453
@cbednarski I'm not sure I follow. Here is what I was thinking the behavior should be:
[code]
Do you agree?

[2015-11-18 22:02] cbednarski commented on #447
@carlosdp Thanks! We're working on the docs now. Can you link to the pages that you noticed are out of date?

[2015-11-18 22:04] cbednarski commented on #448
@bluk Thanks for opening an issue. This is currently supported only in a limited capacity. We'd like to expand this in a future release.

To design and implement this correctly can you describe your use case? For example, I know one use-case is to configure docker container networking via `container:<id-of-container-with-networking>`.

[2015-11-18 22:04] #430 closed

[2015-11-18 23:05] carlosdp commented on #447
The only one I had noticed was the main Job Spec page https://github.com/hashicorp/nomad/blob/master/website/source/docs/jobspec/index.html.md , but looks like @diptanu fixed it today in 8917fd8

[2015-11-18 23:53] bluk commented on #448
@cbednarski Actually I'm trying to use the Nomad's client meta (used `$node.id` as a simpler example). Sorry for the misleading example.

I am putting a unique UUID for Vault to use in Nomad's client meta configuration. Then I was hoping to use `$meta.uuid` to have the variable interpreted by Nomad when the task was run. When a Docker container is run, it would be passed the UUID as an environment

[2015-11-19 00:49] cbednarski commented on #435
This was fixed in #456

[2015-11-19 00:49] #435 closed

[2015-11-19 01:59] ChrisHines commented on #453
Some more testing reveals that these special cmd.exe environment variables can be retrieved by normal means. Note that the Windows implementation of `os.Getenv` eventually calls the Win32 function [GetEnvironmentVariable](https://msdn.microsoft.com/en-us/library/windows/desktop/ms683188(v=vs.85).aspx).

Code for test-env:
[code]

From a cmd.exe prompt:
[code]

[2015-11-19 02:41] #453 closed

[2015-11-19 06:08] suyash1983 commented on #444
Thanks a lot for the quick reply.

Now with respect to Nomad I have certain queries:

1) We have set of physical/virtual machine where we want to execute particular binary/script (not in containers or docker) via Nomad . Those binary/script could be long running process like a daemon or it could be any command (short lived).

2) If any long running job like daemon executed by Nomad fails (because

[2015-11-19 09:07] suyash1983 opened #465 "Nomad client configuration with driver "raw_exec" is not working"
I am using Nomad (v-0.2.0) and with following client configuration I found this issue:
[code]

Here is my client configuration file:
[code]

[2015-11-19 14:58] gourao commented on #150
I am one of the maintainers of (https://github.com/libopenstorage/openstorage)[https://github.com/libopenstorage/openstorage].  The goal of this project is to provide persistent cluster aware storage to Linux containers (Docker in particular).  It supports both data volumes as well as the Graph driver interface.  So your images and data are persisted in a multi node scheduler aware manner.  I hope

[2015-11-19 16:34] ryanuber commented on #144
@c4milo this is something we want to support first-class in Nomad. Our current thinking is that this will be part of Nomad 0.3. If you've got some ideas on how this should work, it would be good to get those into a Google doc to collaborate on the design and make sure everyone is in alignment.

[2015-11-19 17:42] cbednarski commented on #465
@suyash1983 Thanks for opening an issue. Can you try adding quotes around `driver.raw_exec.enable` to look like `"driver.raw_exec.enable"`?

Also, the offset 12:8 seems off. Did you remove any lines from your config when you posted it? If not we may need to fix the offset.

[2015-11-19 17:50] cbednarski commented on #448
@bluk I see. So to clarify, you want to pass a value based on which _node_ the job is placed on?

Thanks for highlighting that use case! I think we can improve this. What I would recommend for now is putting a file on the filesystem on that machine, which you can read in your exec or mount into a container.

[2015-11-19 17:58] bluk commented on #448
@cbednarski Yes, exactly! :)

Forgive my ignorance, but how do you mount an arbitrary filesystem into your container via Nomad? I didn't see any way to do that in the documentation.

[2015-11-19 18:02] cbednarski commented on #448
@bluk Ah that's a good question. We don't actually support this yet. Sorry to mislead you about this!

[2015-11-19 18:36] dadgar commented on #465
Hey @suyash1983 You need to put the options inside the client block as the options only apply to the client! Hope you enjoy Nomad 0.2

[2015-11-19 18:36] #465 closed

[2015-11-19 18:37] dadgar commented on #447
Thanks @carlosdp! Going to close this since it is resolved now.

[2015-11-19 18:37] #447 closed

[2015-11-19 19:12] dadgar commented on #328
@Sdedelbrock hit the nail on the head. We want to support as many useful options for our users and this is best accomplished by seeing what our users need.

[2015-11-19 19:28] dadgar commented on #169
Here you guys go: https://www.nomadproject.io/docs/jobspec/servicediscovery.html

[2015-11-19 19:36] c4milo commented on #144
@ryanuber, first-class support is even better. If anybody from Hashicorp is currently working on this I can switch to other pressing tasks I have. Otherwise, I could spend time taking a stab to sending a PR.

[2015-11-19 19:37] Sdedelbrock commented on #144
with the v.2 release (congrats btw), this is the only big feature we are waiting on.  We are also willing to contribute to the specs, as well as implementation.

[2015-11-19 19:43] dadgar commented on #387
Closing this as #389 addresses it. For background we append the alloc id to ensure that the name is unique. Otherwise docker name adds the potential for conflicts.

[2015-11-19 19:43] #387 closed

[2015-11-19 20:05] davidpelaez opened #467 "Limit available drivers through client configuration"
I'm missing the fact that I cannot limit what drivers the node will listen to. For instance I can disable exec in Consul, I wish I could only have docker in a set of nodes. Something like driver whitelist or blacklist would be great. This is mostly useful in conjunction with custom drivers or a specific exec binary to impose more organizationally imposed constraints on access to machines.

I work

[2015-11-19 20:08] davidpelaez commented on #227
@dadgar I understand this in the level of expressiveness suggested by @F21 is not a priority. How about encryption of gossip and raft traffic? I think that would be within the scope of a issue with this title but I want to confirm if it should have it's own issue.

[2015-11-19 20:12] davidpelaez commented on #122
I think that some regularly scheduled jobs could allow this to be easily added by the user. Maybe a common job running every day could take care of this. This makes think automatically about how job definition sharing could be useful instead of baked directly into nomad.

[2015-11-19 20:19] davidpelaez opened #468 "Custom drivers as external binaries"
I don't know how the custom drivers were originally designed. However in the spirit of unix philosophy of having a tool that does one thing very well we could have binaries as drivers. Ideally those binaries would be in a well known folder either as links of the files themselves and they would reply to several command passed as first argument and extra data comming from standard input. This would

[2015-11-19 20:24] dadgar commented on #468
Your suggestion was great and it is something we recognize. We plan on adding plugins for drivers similar to how Terraform implements them in a future release of Nomad.

[2015-11-19 20:28] davidpelaez opened #469 "Encrypt cluster traffic to limit access through certificate data"
This is somewhat related to #227 but not sure it's the same. Before production use makes sense there's gotta be control into who can join the cluster and under what role.

The consul MO https://www.consul.io/docs/agent/encryption.html seems like a nice beginning but I don't know if we could also limit client/server and admin roles using data on the certificates. This is something used in OpenVPN s

[2015-11-19 20:29] davidpelaez commented on #469
This issue could be of course named with a broader title, I just wanted to use the most descriptive one I could find to begin with.

[2015-11-19 21:11] dadgar commented on #30
@ChrisHines contributions are always welcome :)

[2015-11-19 21:11] F21 commented on #169
@dadgar Are there still any plans to let nomad manage consul?

[2015-11-19 21:14] F21 commented on #150
@gourao That sounds really exiciting! Are there any plans to support things beyond docker: qemu, rkt, raw exec etc?

[2015-11-19 21:30] dadgar commented on #227
@davidpelaez: Yep that should be its own issue!

[2015-11-19 21:43] dadgar commented on #169
@F21: Not in the sense that we will have the Nomad client download or even launch Consul during startup. Instead we will be advocating the usage of a System job that schedules Consul on every node. We will hopefully be able to write a tutorial on this in the near future.

[2015-11-19 21:45] gourao commented on #150
Yes @F21, that's the plan.  There are a few folks looking at rkt support, and as the OCI spec becomes more concrete, this will hopefully be a solved problem.

[2015-11-19 22:21] ketzacoatl commented on #122
Agreed!

[2015-11-19 22:52] cbednarski opened #471 "Support equivalent of DOCKER_CERT_PATH in agent config"
This allows clients to authenticate with the docker daemon using a TLS client certificate.

[2015-11-19 22:54] ChrisMcKenzie opened #472 "port_map doesn't work"
I maybe misunderstanding but when I configure the `port_map` section of `task.config` it should take the ports given in that map and use them as the port the port that I am listening on in my container and map it to the port that was randomly selected on the host. If this correct it does not appear to be doing that it expose the port from the map but it is not mapped to the host ports

docker repo

[2015-11-19 22:58] cbednarski commented on #472
Thanks for the report. Can you show me the task config you're using?

There was a similar PR merged this morning to fix the wrong port being exposed but it looked like `port_map` was working correctly here. https://github.com/hashicorp/nomad/pull/466

[2015-11-19 23:08] ChrisMcKenzie commented on #472
I think that #466 is exactly what I am experiencing.

for what its worth I have been trying a few different task but I was unable to even get this example.nomad to work I get the same looking port map as in #466
[code]

[2015-11-19 23:09] cbednarski commented on #469
Thanks for the suggestions. There are a handful of issues you identified here, including:

- Secure communication
- Authenticated Membership
- Client identity management
- Secure introduction
- Auditing

I think Nomad should be able to handle the first two cases. In the latter three cases, though, you will likely need to use a security toolset like Vault or features of your platform (i.e. centrali

[2015-11-19 23:18] F21 commented on #471
Can this be somehow tied together with vault?

[2015-11-19 23:28] diptanu commented on #472
@ChrisMcKenzie This is already fixed in master, we will release a binary of 0.2.1 this Friday, in the meantime let us know if you see any other issues.

[2015-11-19 23:29] #472 closed

[2015-11-19 23:39] ChrisMcKenzie commented on #472
Thanks so much!

[2015-11-19 23:45] cbednarski commented on #471
Eventually. In the mean time we'll just read this off the filesystem.

[2015-11-20 00:31] cbednarski commented on #418
@benmccann Thanks for the suggestion. We don't have plans to do this. We don't have a good way to update these packages if they're pushed into official repos, and we also don't have the infrastructure to build / test / host these via PPA or private mirrors or similar.

We already support a fair number of OS and architecture permutations and adding distro flavors and versions to the mix would incre

[2015-11-20 00:31] #418 closed

[2015-11-20 02:28] F21 commented on #149
What's the nomad team's view on how this would be implemented? Docker has landed overlay networking support in 1.9. Qemu and other executors would still need coordination by nomad. I am assuming nomad will not manage the overlay networking component of docker and we are expected to have that configured outside of nomad, right?

[2015-11-20 02:36] ChrisMcKenzie opened #474 "Support for Consul KV"
Perhaps this is already on the roadmap but it would nice to be able to use values from consul as metadata for a job as well as env variables this way configuration and such can be updated dynamically causing a restart of a job?

perhaps allowing for something like this in the `env` section:

[code]

This would tell nomad to fill that `env` variable in with the value from the consul path given.
It

[2015-11-20 02:39] F21 commented on #169
@dadgar In the case of running consul as a system job, would consul be in a docker container (with host networking) or would consul be run using exec?

[2015-11-20 02:46] ChrisMcKenzie opened #475 "Job Logs"
Currently it seems there is no way to view the out put of a job other than using `docker logs` (if you are scheduling docker) on a individual container. it would be awesome if the logs were made available via a stream or something, this would also make for a useful ui feature in that you can see your jobs get allocated and see there output, perhaps even see the logs of all of the instances of a ta

[2015-11-20 05:15] suyash1983 commented on #465
As per @dadgar suggestion, I moved option to client block and then restart the client agent but It doesn't work.

Then as suggested by @cbednarski, quote the ``driver.raw_exec.enable`` as ``"driver.raw_exec.enable"`` then finally It works.

I was configuring my client agent as per following documents. Please update it.
- Driver Document hosted by [github](https://github.com/hashicorp/nomad/blob/ma

[2015-11-20 05:46] ketzacoatl commented on #169
I think the docs are clear @F21: it's up to the operator to make that all work - and depending on the details in your setup, either _could_ work.

[2015-11-20 05:51] veerals123 commented on #444
i am also curious to know, whether Nomad handles service high availablity (auto failover) as mentioned in the Otto foundation description (although it shows us up as a future offering)

[2015-11-20 06:33] cbednarski commented on #475
Thanks for the suggestion. This is a duplicate of https://github.com/hashicorp/nomad/issues/277 so I'm going to close this issue. If you have any additional feedback please add it to 277. Thanks!

[2015-11-20 06:33] #475 closed

[2015-11-20 06:37] cbednarski commented on #474
Thanks for the suggestion. We are planning to add this. We have not yet done so because we don't yet have a way to provide security or access control around the K/V store. Since all clients appear to be Nomad, Nomad needs some idea of who owns which job and what permissions they should have.

[2015-11-20 06:40] ChrisMcKenzie commented on #474
Cool, yeah I kind of started working on this a little bit using the consul client available in the task_runner I might look in to the sec and acl stuff as my implementation does not take that in to account.

[2015-11-20 06:45] cbednarski commented on #474
Robust security features are pretty complicated and still a ways out but I think this is likely useful in the mean time. :+1:

[2015-11-20 07:11] fernandezvara commented on #474
I would like to help on that too. Allowing to add consul KV access to the tasks is a nice addition.  But I don't know if the implementation must allow to set variables like terraform definition make, since it can be nice to be able to iterate on the keys if array.

Also it must set and get on KV. If there are already a design document for this feature I could like to join and help there.

Somethin

[2015-11-20 07:16] ChrisMcKenzie commented on #474
Yeah I like this way a little better you get a bit more flexibility on how consul is configure (not just whatever the nomad agent is set too!)

[2015-11-20 07:22] fernandezvara commented on #277
I would point to heka, since the docker log input allows to get all the logs with a simple configuration setting.

http://hekad.readthedocs.org/en/v0.10.0b1/config/inputs/docker_log.html

If you don't like to get the container name as log source, you can add any information you need from the environment variables.  (Adding a name_from_env_var, like 'TASK_NAME' will return the value if found instea

[2015-11-20 10:05] cbednarski commented on #474
By the way, if you have an immediate itch to scratch you may also be able to use [envconsul](https://github.com/hashicorp/envconsul) or [consul-template](https://github.com/hashicorp/consul-template), both hashicorp projects which have been around awhile and have a lot of features.

[2015-11-20 17:31] ChrisMcKenzie commented on #474
Has a design doc for this been made, anything we might be able to help with?

[2015-11-20 19:48] cbednarski commented on #277
From #475

[2015-11-20 19:50] cbednarski commented on #277
@rvm2015 Our expectation is that you will have a log shipping agent setup on the host, or co-scheduled in your task group. Can you give us some specific examples of configuration you need to specify that is currently not available in Nomad?

[2015-11-20 22:07] #467 closed

[2015-11-20 22:20] cdrage opened #478 "Problems building / testing undefined msgpackrpc.NewCodecFromHandle"
Managed to build it fine before, but after a git recently pull it borked.

[code]

[2015-11-20 22:20] davidpelaez commented on #467
Amazing! :+1:

[2015-11-20 22:25] dadgar commented on #478
Can you please run `make updatedeps`. The msgpack library was modified to support the behavior we needed. You probably have the old version of the library. Going to close and if it is still an issue we can reopen.

[2015-11-20 22:25] #478 closed

[2015-11-21 00:32] cbednarski commented on #471
Added in #480

[2015-11-21 00:32] #471 closed

[2015-11-21 04:09] macb commented on #448
For the new `system` type it would be nice to gather some information for common application configuration, such as `hostname` or `ip`. This would be equally useful as `args` for the fork/exec drivers.

[2015-11-21 21:57] dadgar commented on #444
@suyash1983: I can answer some of your questions:

1) Yes Nomad supports this workload. You can use the `exec` or `raw_exec` driver for this.
2) Nomad will detect the failure because Nomad Client's heartbeat to the server. If too many heartbeats are missed, the Client will be marked as dead and the tasks will be migrated.
3) The Nomad Client will restart your failed jobs according to the restart p

[2015-11-21 21:58] dadgar commented on #444
@veerals123: Nomad will do restarts at the client and will handle node failures as well by rescheduling on a different node.

[2015-11-21 21:58] dadgar commented on #444
Going to close this ticket and recommend we have these types of discussions on the Google mailing list.

[2015-11-21 21:58] #444 closed

[2015-11-21 22:01] dadgar commented on #169
@F21: Yeah it will depend on your use case. If you are doing script based health checks then possibly with a `raw_exec`. If you aren't then docker or exec would both work but with docker you would have to set up networking correctly.

[2015-11-21 22:01] #169 closed

[2015-11-22 16:27] bluk opened #484 "Consul Support for HTTPS Addresses and Token"
I've set the `consul.address` for service discovery, but it seems that HTTPS scheme is not supported for Consul connections.

[code]

Startup logs have something like:

[code]

I imagine that Consul token support is also necessary at some point.

[2015-11-22 18:49] davidpelaez commented on #469
@cbednarski thanks for summarizing in a much clearer list my presented points. I agree in the benefits of having other tools provide the heavy lifting. However I think the security implications of not including a feature should be carefully considered.

If we don't include something like client identity management (please correct me if I'm wrong) there's not way to establish per node controls into

[2015-11-22 20:18] sielaq opened #485 "docker driver canot create container using simple command/args"
Hi

I'm not sure if bug or if I'm doing something wrong.
What I want to do, is run simple example:
`docker run -ti ubuntu:14.04 /usr/bin/python3 -m http.server 8000`

I have tried with modified example, that is provided by `nomad init`,
so my modification is:
[code]
(of course by analogy I have changed port name in checks and resources.)

The error I got:
[code]

Similar problem I have with `args`

[2015-11-22 20:35] max0d41 opened #486 "Consul fingerprinting does not close HTTP connections"
In the fingerprint code for consul at every call a new config is created, and so a HTTP client with an own `http.Transport`. This transport uses keep alive which is not working as it should. The connection to consul is never closed. The result is that the open connections are rising untill consul (or even nomad) reaches ulimit (see https://github.com/hashicorp/consul/issues/907).

Setting `http.Tr

[2015-11-22 21:10] dadgar commented on #485
Hey,

If you look at the documentation on the docker driver you will see that there is both a command and args field (https://www.nomadproject.io/docs/drivers/docker.html#args). So you config would become:

[code]

[2015-11-22 21:10] #485 closed

[2015-11-22 21:20] sielaq commented on #485
I took command and args per analogy to marathon that works here slightly different here.
thx anyway

[2015-11-22 22:19] sielaq commented on #485
and How would you start  something like this then:
[code]
?

[2015-11-22 22:22] dadgar commented on #485
The exact args might be a little off but it would be something like:
[code]
`bash -c` will execute the args as if they were bash input.

[2015-11-22 22:37] sielaq commented on #485
I thought so, but unfortunately it doesn't work :(
(We have highly sophisticated `args` in marathon this example is just a piece of cake :) )

[2015-11-22 23:53] dadgar commented on #485
Ah try putting all the args after -c in the same parenthesis. That should work.

[2015-11-22 23:54] dadgar commented on #485
You can definitely do this as we do this in our unit tests

[2015-11-22 23:56] #486 closed

[2015-11-23 04:56] F21 opened #489 "Setting distinct_hosts to a boolean causes panic"
The document states that the `distinct_hosts` attribute of the `constraints` object should be a boolean:

[code]

However, if I set it to `true`, nomad panics:
[code]

[2015-11-23 05:21] F21 opened #490 "Improve consul integration user experience."
I spent most of my morning trying to build a test nomad + consul cluster using vagrant.

I am finding that as it stands, consul integration is very difficult to run on top of nomad. I am sure the issues outlined here will spawn child issues that are more specific, but I think having a general issue will help provide discussion improve the user experience before we break it down to specific tasks.

[2015-11-23 06:23] sielaq commented on #485
ok, quotes did the trick.
thx a lot, I will take a look into unit tests first next time ;)

[2015-11-23 07:09] diptanu commented on #490
@F21 The Nomad client continues to keep trying to the Consul agent. The moment it connects to the agent it syncs all the service definitions of Tasks running on that node.

[2015-11-23 08:16] diptanu commented on #489
@F21 It looks like we are assuming that the bool value true/false for this constraint is in quotes. so ```distinct_hosts="true"``` works.

cc/ @dadgar @cbednarski Thoughts about the UX? I think the value that we get from the hcl parser is of type ```interface{}``` It might be nice for us to not treat the value as a string. I can have a PR going for this.

[2015-11-23 08:21] sielaq opened #492 "runing multiple instances (count) allocate same dynamic port"
Hi there,

try nomad init example with `count = 2`
(where no example was running before)
you will see error like this:
[code]

Same if you want to scale up (from 1 to 4) it will spawn only one new container, and 2 gonna be failed.
seems like it allocate dynamic port for every instances.

[2015-11-23 08:27] sielaq commented on #492
definitely in v0.2.0, I'm trying now against master...

[2015-11-23 08:31] F21 commented on #490
@diptanu I agree that the Consul servers probably won't need to use the system scheduler.

Having said that, my initial rationale was to use `distinct_host` as a way to prevent the consul agent from being scheduled onto clients where the consul server was running.

However, even after setting the consul server `count` to `1`, I am still getting scheduling errors:

[code]

[code]

[2015-11-23 09:16] sielaq commented on #492
and the same in master

[2015-11-23 20:56] dadgar commented on #492
@sielaq: Thanks for reporting. Confirmed it as a bug and we are working on a fix now

[2015-11-24 02:26] #492 closed

[2015-11-24 14:44] sielaq commented on #169
I have created small playground,
so you have all pieces (Scheduler/ServiceDiscover/Proxy-LoadBalancer)  in one box
https://github.com/eBayClassifiedsGroup/KomPaaS
enjoy

[2015-11-24 17:11] diptanu commented on #490
@F21 It looks like the agent and server are getting scheduled on the same machine, that's why you're getting the port collision. distinct_hosts at the job level just means that all the task groups are going to be running on distinct machines. But a system job still would run on every single machine and that's the consul agent is getting scheduled with the consul server. We might need a way to excl

[2015-11-24 18:49] ryanuber opened #496 "Guard cross-region joining"
It would be helpful if we could guard against cross-region joining, where a client configured for "region1" attempts to join servers in "region2". We currently allow it, but Nomad internally can't support regions without datacenters so the logs will just fill up with warnings.

[2015-11-24 21:31] ryanuber commented on #243
Regions are now query-able, however the individual datacenters within each region are not currently available. This is a little more involved because we don't have the convenience of the gossip protocol for the client nodes, and by design only a single datacenter per region should have servers deployed in it. Nomad's API calls are all driven by the region ID and not the datacenter, so I'm not sure

[2015-11-24 22:05] F21 commented on #243
@ryanuber My usecase is to build a web UI to perform monitoring and show the status of the nomad cluster. One of the key features would be to have a dashboard that shows all the clients and servers from all regions, and to be able to filter them by region and datacenter.

[2015-11-24 23:22] ryanuber commented on #243
For the time being, with the addition of the `/v1/regions` endpoint, you can now get a complete world view by first querying the region ID's, and then querying the individual nodes, jobs, and allocations endpoints using the `?region=` parameter. Does that satisfy the use case? We might add specialized API's later on if needed, but there currently are no plans for this.

[2015-11-24 23:34] F21 commented on #243
I think that should be sufficient for now, however querying each node poses a scalability issue if we have got loads of nodes. Maybe an endpoint to get the status of nodes in 1 go would be nice, but I think we should open another issue for that.

[2015-11-25 01:38] ashmckenzie commented on #492
Can confirm a nomad binary built from master solves this problem :+1:

[2015-11-25 08:08] Nomon opened #499 "Specifying consul service names without job/group/task names"
I am running docker registry via nomad, with 0.1.0 I had gliderlabs/registrator running on all the nomad client nodes and registering any containers to consul based on their SERVICE_NAME env variables.

So the registry had SERVICE_NAME=registry and all the registry servers were thus available at registry.service.consul. Now after updating to nomad 0.2.0 and replacing the registrator container with

[2015-11-25 11:18] legal90 commented on #85
Wasn't it fixed by #494, by the way ?

[2015-11-25 15:47] xied75 opened #500 "Nomad vs. AWS ECS page"
Dear Team,

For this page: https://www.nomadproject.io/intro/vs/ecs.html
The first three paragraphs can be shortened as it just repeating one fact, that ECS is AWS & Docker only, which is clear enough for people to get it. There is no reason to repeat it.

Also the 2nd paragraph mentioned about AWS severs are closed source, this can be more clear as the first several reads I did makes me think tha

[2015-11-25 17:52] diptanu commented on #499
@Nomon Hi Nomon, this is a valid use case and users will be able to override the prefix of the names generated by the service block soon.

[2015-11-25 17:53] c4milo commented on #144
From of the top of my head this is what I may expect ( be aware that I'm still getting familiar with Nomad source code)

* Ability to specify which of the tasks in a task group use cron execution. This is mainly because in my specific use case I may need to co-locate them along with other service tasks.
* Ability to pause cron executed tasks
* Ability to specify a webhook URL to let a third-party

[2015-11-25 17:53] diptanu commented on #484
@bluk We are using the Consul api client, I think it uses http by default. Let me see how we can do https with it.

[2015-11-25 17:57] diptanu commented on #484
@bluk Looks like the API client supports https via the Scheme parameter https://github.com/hashicorp/consul/blob/master/api/api.go#L157

We will add an option to support http very soon in the consul config, and until then if you set up the environment variables ```CONSUL_HTTP_SSL``` and ```CONSUL_HTTP_SSL_VERIFY``` via the Jobs DSL the current code should be able to do https since it appears that

[2015-11-25 18:11] bluk commented on #484
@diptanu Thanks!

[2015-11-25 19:40] dadgar commented on #500
Thanks for the feedback @xied75. We are target a broad audience with our documentation who may not be familiar with ECS so we prefer to error on the side of being verbose but clear.

[2015-11-25 19:40] #500 closed

[2015-11-25 20:38] #489 closed

[2015-11-25 20:54] dadgar commented on #85
@legal90: Not quite. The idea was when the Nomad Client boots it would scan and figure out what ports were already being used and then reserve them

[2015-11-25 20:56] rothgar commented on #490
I'm glad I'm not the only one running into this problem. There really should be a recommended way in the docs to run consul because having that service running is crucial for a production ready cluster.

[2015-11-25 21:14] rothgar commented on #490
I tried splitting up consul-server and consul-agent into different services (instead of system) to let them run independently but that doesn't appear to be the right solution (or I missed something in the config)

The nomad server running consul-server keeps restarting the service
[code]
And the server running consul-agent restarts a couple of times and then gets stuck
[code]
I'm still digging int

[2015-11-25 23:14] #484 closed

[2015-11-26 08:08] legal90 opened #505 "Cross-compilation failure on OS X host"
This issue has been mentioned here: https://github.com/hashicorp/nomad/pull/438#issuecomment-157568019

[code]

I'm new with Golang :(. Please, advice - how can I fix that? I believe, it should be possible to cross-compile Nomad for Linux.

P.s. Seems like there is some new stuff in Go 1.5, related to cross-compilation:
http://dave.cheney.net/2015/03/03/cross-compilation-just-got-a-whole-lot-bette

[2015-11-26 17:13] poll0rz opened #507 "Problems with port mapping (docker driver)"
Hi there guys,

First of all, thanks for this awesome project and the recent 0.2 release powered with Consul integration.

I'm having problems with port mapping using Docker driver.
I have a test environment with 1nomad server and 2nomad clients.
Just trying the example provided with `nomad init`, then run `nomad run example.nomad`, and the job is allocated in one of the clients (the one that has

[2015-11-26 19:21] diptanu commented on #507
Hi, this was a bug in the 0.2.0 release, we are doing a 0.2.1 release today which fixes this.

[2015-11-26 19:28] poll0rz commented on #507
that's great Diptanu. thank you!!!

keep up the good work :)
El 26/11/2015 20:21, "Diptanu Choudhury" <notifications@github.com>
escribió:

[2015-11-27 07:17] poll0rz commented on #499
+1 thanks!

[2015-11-27 07:28] #499 closed

[2015-11-27 08:14] adrianlop opened #510 "Autoregister Nomad servers and clients as a service into Consul"
Hi,

Is this feature in the Nomad-Consul roadmap? I think it would be nice to have this.

Thank you!

[2015-11-27 08:25] erSitzt commented on #278
+1

[2015-11-27 08:42] poll0rz commented on #278
+1

[2015-11-27 09:01] diptanu commented on #510
@poll0rz Can you give us some use cases for registering the Nomad Clients with Consul please? The clients currently doesn't have any API and they are constantly sending heart beats to the Nomad servers, so using Consul checks or making them discoverable over the network for other applications probably doesn't add a lot of value.

[2015-11-27 09:52] poll0rz commented on #510
Sure, here is an example:
Problem --> a machine where a Nomad client is up & running, but Nomad client failed or was killed by the OS OOM killer, so Nomad server marks this client as down and you cannot allocate any job in this machine anymore (so if you are in AWS, you're paying for a machine with no use).
Solution --> If you have the Nomad clients registered in Consul, you can easily monitor you

[2015-11-27 10:00] poll0rz commented on #304
+1, I agree with @F21, it's very easy to automate the cluster installation & startup with `start_join` in the config file.

[2015-11-27 10:01] poll0rz commented on #180
+1

[2015-11-27 12:21] gurvindersingh opened #511 "networking model"
Thanks for putting out a new project in resource manager space. I am interested to learn more about Nomad and specifically its networking model. Currently it seems that containers/jobs share the host network and expose the ports based on that. I am wondering if having each job/container having its own address make sense in nomad and if yes can you put up some design documentation how you plan to a

[2015-11-27 22:43] skozin commented on #209
@cbednarski, could you please tell me how I can select private or public subnet for a specific Docker task? I was unable to find this in the docs and thought it is not possible yet.

[2015-11-28 07:08] diptanu commented on #209
@skozin We don't support selecting one of many interfaces in Nomad yet. Support for doing that is going to come fairly soon.

[2015-11-28 14:26] skozin commented on #209
@diptanu Thanks for the info. That's the only thing that really prevents us from using Nomad.

We have cluster of machines, and some of these machines have both public and private interfaces. These two-nic machines run infrastructure services, that need to listen only on private interface, as well as public services, which should listen on public interface.

I really hope that it will be available

[2015-11-28 19:01] carlosdp commented on #505
#421 potentially removes the CGO dependency, so you could just use Go's native cross-compiling.

[2015-11-28 19:24] legal90 commented on #505
@carlosdp Thanks! I will track it.

[2015-11-30 07:02] suyash1983 commented on #419
Any tentative date to add this enhancement feature in Nomad?

[2015-11-30 07:43] poll0rz commented on #507
Great, now it works with 0.2.1 release.

[2015-11-30 07:43] #507 closed

[2015-11-30 14:27] pires opened #515 "Client failed to update status"
I'm seeing this a lot with Nomad 0.2.1.

[code]

Looking at the client logs, it makes sense:
[code]

What may the issue be here?

[2015-11-30 14:31] pires commented on #515
Same thing with 0.2.0.

[2015-11-30 16:34] pires commented on #515
Nevermind, networking issues!

[2015-11-30 16:34] #515 closed

[2015-11-30 16:56] c4milo opened #517 "Feature request: option to balance task scheduling among different datacenters."

[2015-11-30 18:54] legal90 opened #518 "Qemu driver failed to load image from local filesystem"
Nomad version: 0.2.1
OS: Ubuntu 14.04 x64  (running as Vagrant VM in Parallels Desktop on OS X 10.11 host)

#### Symptoms
Nomad fails to run qemu job if "artifact_source" is pointing to the local file. Symlink is created, but seems like it is not available for nomad job running in chroot.

#### Job configuration:
[code]

#### Nomad run output:
[code]

#### Nomad agent output:
[code]

#### Job stde

[2015-11-30 19:16] Raffo commented on #329
@dadgar Can you explain what needs to be done here? It's not really clear to me.

[2015-11-30 19:22] dadgar commented on #329
You will notice that the two packages duplicate all structs returned by the HTTP API. I linked an example. So the task is really to make the API layer return structs defined in nomad/structs

[nomad/structs package](https://github.com/hashicorp/nomad/blob/fd3dccead257b42110e58543e8f39ecafe34e21d/nomad/structs/structs.go#L733)
[api package](https://github.com/hashicorp/nomad/blob/fd3dccead257b42110

[2015-11-30 19:32] dadgar commented on #419
@suyash1983: we don't have any dates yet but it will most likely be something that comes in 0.4

[2015-12-01 04:31] F21 opened #522 "Allow setting graceful termination timeout for each task"
It would be nice if we could set a custom timeout for terminating tasks.

For example, I might have a task (running in docker) that provides an api for other services and takes a while to clean up on termination. I would like to be able to do the following:

1. On termination, it is deregistered from consul so that no more new requests flow to it.
2. It continues working to complete current reques

[2015-12-01 05:37] eveld commented on #278
I think that if Nomad were to have a UI it should be a lot more useful than the UI of Mesos/Marathon, as they are lacking.

I would like to be able to filter/search my tasks, see their history/logs, easily see how the tasks are spread and why my task ended up on a certain node. When everything is working fine the Marathon and Mesos UIs are fine, but if something with your job goes wrong or not acc

[2015-12-01 07:35] kaskavalci commented on #510
I'm wondering as well what is the proposed action to re-run the clients when they fail.

[2015-12-01 16:50] RVN-BR commented on #278
Is this somewhat similar to Rancher (which does have a UI)?  I'm currently evaluating several different options for docker running/orchestration... apologies if I'm off the ball...

[2015-12-01 17:06] dadgar commented on #522
Yeah that is a possibility. Nomad already does this. It first does a SIGTERM and then a SIGKILL but the period is not user specifiable currently. Do you need it to be configurable or you just want the soft kill then hard kill behavior?

[2015-12-01 18:19] jippi commented on #278
@RVN-BR I love the rancher UI, or tutum.co - would love to see that for nomad, paid or free :)

[2015-12-01 18:42] cbednarski commented on #505
@legal90 Thanks for opening an issue. We are already using the go 1.5 cross-compilation improvements via gox. I will take a look at this today in conjunction with #421.

[2015-12-01 18:57] RVN-BR commented on #278
Agreed... There are so many great prjects "almost there"... if nomad (or xxx project) would join with rancher (or yyy project) and we had "less" optiosn, but better software it would be so much better for the community :(

[2015-12-01 19:13] sielaq commented on #278
to be honest, most important from UI, should be:
* scaling (up/down)
* healthy status of services,
* and deployment progress.
Additionally: on fly changes like add/remove tag/checks, history of deployment, flapping detection, etc..

The rest stuff, like creating new service (which is important) but shouldn't be priority
since ideally, all stuff should be done automatically, and in repeatable way -

[2015-12-01 19:18] spinx commented on #278
Is this on the roadmap @dadgar?

Does it need to be Ember as for Consul ? I'd love to contribute and this is something where I and probably a lot of others can.

[2015-12-01 21:21] F21 commented on #522
I would love to be able to configure the timeout, because some tasks might take a bit longer to clean up (hence a longer timeout).

[2015-12-01 22:59] dadgar commented on #278
Hey guys,

There will be a Nomad UI and it will be through [Atlas](https://atlas.hashicorp.com). This is being actively worked on. We will not be merging any HTTP UI code into this repo because we do not want to duplicate efforts and maintenance across two different web UIs.

[2015-12-01 23:45] cbednarski commented on #518
Thanks for the report. I'm curious if this is a side effect of running with Vagrant because the file is mounted from the host rather than copied, so there is an extra level of indirection. I have had difficulty with linking to files like this in the past.

My guess:

1. Host has file `/path/debian.img`
2. Guest has mounted file `/vagrant/debian.img`
3. Guest symlink `/tmp/NomadClient.../debian.img

[2015-12-01 23:59] cbednarski commented on #505
You should now be able to cross-compile with `GOOS=linux GOARCH=amd64 build -o bin/nomad .` but `make bin` is still broken. I will need to dig more.

[2015-12-02 13:39] BSick7 opened #525 "Nomad client deregistering from consul"
We are running consul server + nomad (running in server and client mode) on the same boxes that we call "managers".   We also create "workers" that run consul client + nomad client.

We place a service registration in the consul config directory so that `nomad.service.consul` resolves to nomad servers.  This allows us to configure nomad clients to configure `servers = ["nomad.service.consul:4647"]

[2015-12-02 17:19] cbednarski commented on #525
Our expectation is that in a production cluster nomad server and client don't run on the same node so I suspect some weirdness is caused by that. (We should still fix this, though.) I'm curious if this problem persists if you run these on separate nodes.

I recall from reviewing this code that Nomad should only deregister services that it is tracking (that it has started) so if there are host-leve

[2015-12-02 18:24] cbednarski commented on #522
This is a duplicate of https://github.com/hashicorp/nomad/issues/17

[2015-12-02 19:14] BSick7 commented on #525
Thanks @cbednarski.  It would seem that it's deregistering more than nomad-tracked services.

In production, I would imagine it could be common that nomad servers are idle.  This means 3+ m4.large aws instances are sitting idle burning holes in your pockets.  By compacting nomad clients on nomad servers, it becomes cost-effective to run small clusters.

[2015-12-02 20:03] dadgar commented on #525
@diptanu

The current design assumes that the Nomad Client is the sole user of the local Consul Agent. As @cbednarski mentioned we expect you would not run both the server and client on the same node. To support that would require a re-architecture of how Consul registration takes place.

[2015-12-02 20:54] diptanu commented on #525
So like @dadgar said, in the current design Nomad Client registers/de-registers the running services with Consul on a node.

The reason why we de-register everything and register only the processes we know are running is that we don't want any zombie services registered which is not running anymore. Say for example, we register a Redis container with Consul and the client crashes and it restarts a

[2015-12-02 21:35] diptanu commented on #525
@BSick7 We discussed about this, and we would change the current implementation to de-register only services that the Nomad client doesn't know about and are tagged or have an id prefixed based on a convention.

[2015-12-02 22:02] cbednarski commented on #525
In a smaller cluster you could possibly run Nomad and Consul server nodes on the same machines but there's currently no way to account for the resource utilization here so Nomad can't effectively schedule workloads around this. As cluster size grows both nomad and consul become fairly RAM hungry since they keep state in memory, and both are subject to varying CPU load depending on scheduling event

[2015-12-02 22:23] BSick7 commented on #525
I could easily see zombie services getting out of control with little visibility.

If it's really detrimental to run nomad in server mode and client mode, perhaps the following configuration would emit a warning.

[code]

Once I configured the following, nomad worked brilliantly revealing that node in both `nomad server-members` and `nomad node-status`.
[code]

[2015-12-02 22:37] cbednarski commented on #525
Agreed, that makes sense.

I take it you used non-consul DNS for that? Or did I miss a step?

[2015-12-02 23:21] cbednarski commented on #510
Your init system should restart Nomad in these cases. I think it makes sense to be able to use Consul to keep an eye on things, though.

[2015-12-02 23:22] cbednarski commented on #525
Related to #510

[2015-12-03 00:59] gedw99 opened #528 "type in web docs :)"
https://github.com/hashicorp/nomad/blob/master/website/source/docs/jobspec/schedulers.html.md

its in the first para.

you have "hen", but i am guessing you want to say "when"

BTW, your docs are the best i have ever read. Great stuff.