[2022-08-22 19:01] tgross commented on #10949
Just has a chat w/ the UI folks. For whomever ends up fixing this on the backend side, please let the UI folks know when you've done so, so it can be handed off to look at the graph history quirk shown above where the whole line is lost. It may just go away when we properly fix the API bug.

[2022-08-22 19:27] robsonj commented on #14197
I just ran into this one also

[2022-08-22 20:25] #14085 closed

[2022-08-22 20:41] #13995 closed

[2022-08-22 23:25] tamsky commented on #8914
/cc @rickardrosen

If known, please share a link to where this issue was moved.
Thanks!

[2022-08-23 08:08] Median555 commented on #14210
Thanks for the reply @tgross! Sounds great. Sorry for the noise, I should have looked a little closer at the releases.

[2022-08-23 13:06] shoenig opened #14229 "fix cpuset cgroup manager initialization"
While tracking down another bug, I got really confused by log messages that you'll only see on the first run of a Nomad agent on a new system, caused by some spaghetti code in how we bootstrap the cpuset manager on the client.

(the `error` content is from a branch)
[code]

This block will attempt to retrieve the effective cpuset (if reservable cores are not set) - **before** actually ensuring the

[2022-08-23 13:42] tgross commented on #698
Doing some issue cleanup and realizing there's a whole lot of _different_ feature requests being discussed in this issue over the years, many of which landed long ago. I'm going to re-title this issue to narrow the scope to the remaining request.

[2022-08-23 14:40] t-davies opened #14233 "Vault health check fails with "unsupported path""
### Nomad version
`Nomad v1.3.2 (bf602974112964e9691729f3f0716ff2bcdb3b44)`

### Operating system and Environment details

### Issue
Nomad is unable to call Vault's health check endpoint with an expired Vault token, this should be possible since this Vault endpoint is not namespaced and does not require a token. The Vault client making the call should _not_ be attempting to send credentials.

Ther

[2022-08-23 15:15] t-davies commented on #14233
If I intercept the request going from Nomad to Vault, I see that it is adding Vault token and Vault namespace to the health check request.

[code]

[2022-08-23 15:23] t-davies commented on #14233
This is the Vault policy for Nomad servers, mostly taken directly from the Vault integration docs.

[code]

[2022-08-23 15:26] philrenaud commented on #14193
Acceptance tests

[2022-08-23 15:26] tgross commented on #13860
Hi @thatsk I tried to come up with a reproduction for this and wasn't able to; I'm not much of a Ceph expert and my Ceph isn't letting me create block device volumes.

That being said, it looks like this error is bubbling up from the `mount` syscall that `runc` is making, so it's way at the bottom of the stack in how `runc` is treating the block device. Do you still see this problem if you mount t

[2022-08-23 15:59] shoenig opened #14235 "nomad fails to place second allocation in basic job"
This job reliably fails to run one of the two allocations. Using dev mode and machine has plenty of resources. The only interesting thing I can think of is it's running CentOS 9.

[code]

The job
[code]

Running the job
[code]

One of the allocs will never become healthy

[code]

Looking at the evals
[code]

[code]

Alloc status returns incomplete results

[code]

There are no WARN or ERROR statem

[2022-08-23 16:08] t-davies commented on #14233
Thanks! FWIW, after some more investigating it seems like the token failing to renew is because we don't have the `nomad-server` role configured correctly in Vault, but yeah shouldn't cause this issue even so.

[2022-08-23 16:22] #13746 closed

[2022-08-23 16:22] #13950 closed

[2022-08-23 16:22] #14063 closed

[2022-08-23 16:22] #13850 closed

[2022-08-23 16:22] #13619 closed

[2022-08-23 16:22] #13592 closed

[2022-08-23 16:22] #13390 closed

[2022-08-23 16:22] #13851 closed

[2022-08-23 16:22] #13590 closed

[2022-08-23 16:23] #13593 closed

[2022-08-23 16:23] #13127 closed

[2022-08-23 16:23] #14167 closed

[2022-08-23 16:23] #13126 closed

[2022-08-23 16:23] #13272 closed

[2022-08-23 16:23] #13051 closed

[2022-08-23 16:23] #13391 closed

[2022-08-23 16:23] #13452 closed

[2022-08-23 16:23] #13451 closed

[2022-08-23 16:23] #13435 closed

[2022-08-23 19:02] tgross opened #14244 "restrict variable path names"
We should ensure that variable paths don't include characters that are going to be problematic in the UI and Consul Template and return validation errors on them. `@` and `.` in particular.

[2022-08-23 19:12] shoenig commented on #14235
spotted this in a stack dump while the agent was stuck - not sure I like the coincidence of being in the same function as https://github.com/hashicorp/nomad/issues/14217

[code]

[2022-08-23 19:43] shoenig commented on #14235
Whelp it seems we sometimes enter `user.Lookup` and never return.

In the logs we see both allocs being created, entering `dropDirPermissions`. However, once we see
[code]
we apparently never return from the lookup, and never hear anything about alloc `56f37b30` ever again (!)

[code]

[2022-08-23 19:48] tgross commented on #14235
This lookup issue smelled familiar, so leaving a link to this closed issue https://github.com/hashicorp/nomad/issues/12342

[2022-08-23 20:00] shoenig commented on #14235
Yeah we've seen trouble with looking up nobody elsewhere too.

On this install we have nobody in `/etc/passwd` though so the hang and panic are surprising.
[code]

[2022-08-23 20:12] shoenig commented on #14217
closing this as related to https://github.com/hashicorp/nomad/issues/14235 and probably https://github.com/hashicorp/nomad/issues/12342

[2022-08-23 20:12] #14217 closed

[2022-08-23 20:15] tgross commented on #10914
Augh, sorry, I was doing some issue cleanup and I just realized this issue was over a year old at this point. Not reasonable of me to assume you'll get back to us now. If you do happen to come back to this, great and we'll be happy to re-open. Apologies for dropping this one.

[2022-08-23 20:15] #10914 closed

[2022-08-23 20:20] shoenig commented on #14235
Well some random googling suggests perhaps `getpwnam_r` isn't thread safe, which makes sense with our symptoms I guess.

e.g.

https://github.com/collectd/collectd/issues/229
https://bugs.schedmd.com/show_bug.cgi?id=3159

We could try doing a single lookup of `nobody` and cache the result since it should never change anyway.

[2022-08-23 20:25] tgross commented on #14235
Can we get away with using the `osusergo` build tag to force the non-CGO implementation? I know that'll block stuff like https://github.com/hashicorp/nomad-enterprise/issues/790 (internal), but it could get us into a shipping state reasonably quickly and we can circle back to fixing this "for real" if we end up tackling that?

[2022-08-23 20:31] shoenig commented on #14235
Huh, TIL! That does actually seem to fix the problem.

[code]

[2022-08-23 21:00] lutemartin commented on #14085
I was able to get the error cleared by reverting to nomad 1.2.6 from 1.3.3 on one particular instance. Deleting the nomad config folder and clearing all client state has also been a fix on other instances.

[2022-08-23 21:02] tgross commented on #14233
I've been trying to write a test that exercises this area of the code and I think I've found one obvious bug in how we instantiate the two client configs in [`vault.go#L445-L465`](https://github.com/hashicorp/nomad/blob/v1.3.2/nomad/vault.go#L445-L465):

[code]

Note that we _always_ set the token on the `client`, but that `client` and `clientSys` are the same pointer if the namespace is unset. So

[2022-08-24 07:41] vladaman opened #14275 "Java Corretto 17 not detected on Nomad"
Fresh install of Nomad did not detect java environment on ubuntu 22.04.

[code]

[code]

Steps to reproduce:
[code]

[2022-08-24 08:45] t-davies commented on #14233
Thanks @tgross, "how did this ever work?" bugs are always the best kind 😅
Just pulled the logs again and yes - looks like there was a SIGHUP in between.

[code]

[2022-08-24 12:52] tgross commented on #14233
Great, that really helps narrow things down a lot. I'll report back once I've got a clean repro from there.

[2022-08-24 13:11] #14235 closed

[2022-08-24 13:21] ChaiWithJai opened #14279 "[ui] Aggregate check status for a given service into a health check bar"
![Image](https://user-images.githubusercontent.com/41024828/186429472-8dc11f21-08d4-4021-a8a6-35dd489ad498.png)

[2022-08-24 13:24] shoenig commented on #14275
Hi @vladaman, can you find out where the `java` command is actually being installed? It might not be included in the default `chroot` if it's being installed somewhere atypical.

I pasted that version output into our java version parser tester `TestDriver_parseJavaVersionOutput` and it seems to work okay.

[2022-08-24 13:43] nidhin077 opened #14280 "Connection Issue"
### Nomad version
Nomad v1.3.3 (428b2cd8014c48ee9eae23f02712b7219da16d30)

### Operating system and Environment details
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https:/

[2022-08-24 13:49] tgross commented on #14280
Hi @nidhin077!

I've wrapped the output you provided in a code block for clarity, but you haven't actually said what command you're running. That looks like the logs from a server agent? You'll need to provide your server configuration and logs for us to be able to diagnose further.

[2022-08-24 14:13] ljb2of3 commented on #9872
I just wanted to drop in and say a prestop feature would be very useful for my use case as well.

Due to the architecture of the system I'm working on, it takes about 10 minutes for traffic to stop flowing to a task once it's removed from our load balancer. It would be great if I could have a prestop job that removes it from the load balancer, then sleeps for 10 minutes before allowing the main ta

[2022-08-24 14:22] ljb2of3 commented on #9872
Of course, as I continue reading the docs... it appears that shutdown_delay will actually meet my needs. @shcherbachev and @liemlhdbeatvn would this work for you as well?

https://www.nomadproject.io/docs/job-specification/group#shutdown_delay

With that in mind, I'd still vote that prestop be added for completeness.

[2022-08-24 14:26] fho opened #14284 "logmon/rotator: reducing CPU usage when idle"
Hello,

we have nomad test environments, that are using small-sized VMs and are
running ~80 nomad allocations.
We noticed that the `nomad logmon` processes, using the CPUs also when the
applications are not writing anything to STDOUT and STDERR.
According to `top`, each one uses 0.2-0.5% CPU time.
Because of the number of `nomad logmon` processes, this adds up to a noticeable
amount of CPU time.

[2022-08-24 14:41] ChaiWithJai commented on #14193
It appears that this block of work must occur before "Aggregate check status for a given service into a health check bar" can happen and before any work in "Allocation-contextual Service-specific Flyout" can happen.

[2022-08-24 14:50] nidhin077 commented on #14280
The below command was used to connect the server
nomad node config -update-server 3.83.84.111:4647

I'm actually having trouble connecting the servers, so if you could explain how to do it, that would be helpful.

[2022-08-24 14:50] tgross commented on #14284
periodically and so often. I guess this is done, to ensure that a user streaming
logs via nomad alloc logs, sees the output with a barely noticeable delay,
instead of only after the buffer got full and is written to the file? Is this
correct?

Right logs especially you're likely to have writes that don't fill up the 64k buffer. Those won't show up for the operator until that flush happens. The buf

[2022-08-24 14:52] tgross commented on #14280
You'll need to provide your server configuration and logs for us to be able to diagnose further.

[2022-08-24 15:21] fho commented on #14284
@tgross thanks a lot for the your detailed answer.

Do you maybe have an idea why those 0-byte write/reads on the fifo happen?
I would have expected that the flush go-routine does not cause noticeable CPU-usage when the buffer is empty. I guess that these read/write syscalls, that I can't explain, are the expensive part.

great idea, I would be happy to learn more about how it could work

[2022-08-24 15:43] #2707 closed

[2022-08-24 15:57] srisch opened #14293 "node drain returning complete before jobs have stopped"
### Nomad version
[code]

### Operating system and Environment details
`Ubuntu 20.04`
### Issue
When draining a node that is running service jobs with a long kill timeout ( say 1h ) to finish existing traffic - the node drain command instantly returns "Drain Complete" while allocations are still in the stop/running state and waiting to safely finish.

[code]

This behavior currently causes the nom

[2022-08-24 16:01] srisch commented on #14293
May be related to https://github.com/hashicorp/nomad/issues/12915 ?

[2022-08-24 16:17] tgross commented on #14293
Hi @srisch! I think there may be an issue similar to #12915 in the way we're reporting that a drain is complete, so I'll take a second look at that.

But the next thing to check here is that the allocations you're talking about aren't for `system` jobs, which don't hold up the drain by default.

The full function in [`draining_node.go#L50-L82`](https://github.com/hashicorp/nomad/blob/v1.3.3/nomad/

[2022-08-24 16:20] srisch commented on #14293
Hi @tgross  thank you for the quick reply and the code snippet - will definitely give it a look through and I appreciate you looking into this!

Indeed we are only using service jobs atm
[code]

[2022-08-24 16:42] lgfa29 commented on #14085
Thanks for sharing the extra info @lutemartin.

I think another option is to explicitly set `gid` and `uid` to `-1`. But a fix for this is coming in Nomad 1.3.4, so, if possible, it may be better to wait for the new version 🙂

[2022-08-24 16:47] lutemartin commented on #14085
@lgfa29 very impressive turn around time, thank you as well. I will try the 1.3.6 release when it becomes available.

[2022-08-24 18:37] tgross commented on #14233
Ok, so I haven't been able to reproduce what you're seeing with Nomad 1.3.2 yet. But I wanted to give you an update on what I've discovered so far. I've got one patch coming out of this which I'll land in `main` but I don't see any way that can be your problem. I'm going to need to switch off tasks for a little bit after that, but I'll come back to this as soon as I can.

(1) Well it turns out tha

[2022-08-24 20:06] DerekStrickland opened #14299 "task lifecycle: long running poststop task with dynamic template data can hang"
### Nomad version

1.3.3

### Operating system and Environment details

Ubuntu 20.04
3 Servers
3 Clients
Single Region

### Issue

A long running `poststop` task that references dynamic data can cause an allocation to never stop if the dynamic data keeps  changing before the long-running `poststop` task can complete.

### Reproduction steps

First, create some sort of dynamic data that can be refe

[2022-08-24 20:25] #14079 closed

[2022-08-24 21:43] #9464 closed

[2022-08-24 21:43] #9688 closed

[2022-08-24 21:43] #9841 closed

[2022-08-25 03:30] nidhin077 commented on #14280
Hi @tgross

This is the server configuration I've been using.

server.hcl
------------------
server {
  enabled          = true
  bootstrap_expect = 3
}

server {
    server_join {
      retry_join = ["10.10.20.114"]

  }
}

nomad.hcl
---------------------
# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0

[2022-08-25 10:09] DerekStrickland commented on #12296
Thanks @hmeine!

I see your [comment](https://github.com/fsouza/go-dockerclient/issues/905#issuecomment-1227016992) about this being fixed upstream in the [moby repo](https://github.com/moby/moby/pull/43597).

If I am following this correctly, based on what I am seeing in the current Nomad [go.mod](https://github.com/hashicorp/nomad/blob/546bdb8b95a85ec7c8a5ae390a90da774f6d3d7c/go.mod#L29) we shou

[2022-08-25 10:17] freef4ll commented on #5217
Would like to also say that cache of artifact stanza when using `exec`/`raw_exec` is very useful for production and local development.

There are workarounds like using http and s3 caching via [nginx-s3-gateway](https://github.com/nginxinc/nginx-s3-gateway), but this adds to complexity.

[2022-08-25 13:04] tgross commented on #9375
@jorgemarey can you open a new issue for this?

[2022-08-25 13:10] tgross commented on #14280
@nidhin077 you've got what looks like 3 different configurations here and they're mashed together in a way that I can't tell which piece is what without guessing. Help us help you by wrapping your configs in code blocks.

Server and client logs for Nomad will be found in the journal, like every other log on the system.

[2022-08-25 13:40] jorgemarey commented on #9375
Yes, of course!

[2022-08-25 13:43] jorgemarey opened #14321 "Allocation not stopping on new job deployment"
Nomad version 1.2.6

When making a new deployment an allocation wouldn't stop so the new allocation was left in pending state and the deployment stuck, we had to manually run a `docker rm -f` to stop the allocation.

Here are the allocation events:

[code]

Relevant logs:

[code]

At this point after a few minutes I run:
`$ docker rm -f <container-id>`

[code]

I don't know if this is a docker pro

[2022-08-25 15:17] tgross commented on #14321
Hi @jorgemarey!

In your goroutine dump, we're blocking at the very end of `(*TaskRunner) handleKill`, at [`task_runner.go#L963-L968`](https://github.com/hashicorp/nomad/blob/v1.2.6/client/allocrunner/taskrunner/task_runner.go#L963-L968):

[code]

The result channel that it's waiting on is owned by the task driver. It's a little unclear to me where all your logs are from; some of these look like N

[2022-08-25 16:19] #14229 closed

[2022-08-25 19:13] tgross commented on #12915
I'm working up some notes now, but it looks like as part of my investigation into https://github.com/hashicorp/nomad/issues/14293 that this is _not_ a UI bug after all, but the `DrainStrategy` field is getting reset prematurely.

[2022-08-25 19:39] jorgemarey commented on #14321
Yeah, sorry. Logs are both from nomad and dockerd. Doesn't seem to be any goroutine on (taskhandle).kill . Regarding taskhandle this is the only one I found (besides others from stats and collectstats)

[code]

In the "8 minute" time (since the allocation should have stopped)  there's only 4 goroutines blocking

[code]

In the first one there's a `context.TODO()` just calling Kill on the taskRunne

[2022-08-25 20:26] srisch commented on #14293
I will add I made a local test build and changed TerminalStatus to ClientTerminalStatus and it does appear to achieve desired behavior except that the drain never is marked complete even after they finish up.  Still working on understanding the code but it's some progress

[code]

[2022-08-25 20:31] tgross commented on #14293
Ha, I was _just_ about to post the following that shows exactly the same! 😀  tl;dr when we do so we're somehow falling out of the `IsDone()` function in the drainer and that's why it gets stuck there. I've got a goroutine dump I'm rummaging thru to figure out why, but I've got to wrap up for the day. I should be able to come back to this tomorrow.

My original post I was about to post:

---

Ok, s

[2022-08-25 20:48] tgross commented on #14293
Ok, last item before I'm done for the day. The goroutine is stuck here:

[code]

So we've returned from the `handleMigratedAllocs` and just waiting on another event, which we're never getting. Tomorrow's mission will be to discover what we're missing!

[2022-08-25 20:50] srisch commented on #14293
Hivemind! I appreciate the detail!  If it helps your testing I've added some additional logging and I've found that when I use the ClientTerminalStatus i'm not hitting my log lines in

https://github.com/hashicorp/nomad/blob/aa74aa0f14b5e0733d58d59109da39470a6db046/nomad/drainer/watch_nodes.go#L42-L116

However when I use TerminalStatus the log lines I've added within the `if done {` block seem to

[2022-08-25 21:04] ChaiWithJai commented on #14193
Should we mark this as not possible?

[2022-08-26 02:09] philrenaud commented on #14193
I think this is actually the default way that things will work; we use the current list to show both consul and nomad services, and we hydrate the nomad ones with health check statuses.

[2022-08-26 02:34] stevenheinze57 opened #14328 "Vault-Nomad-Consul Integration Refinement"
Is there a way to integrate Nomad with both Consul and Vault in a way where there is no need for a CONSUL_TOKEN or VAULT_TOKEN. I would then solely need to get my Nomad authentication from the [vault_nomad_secret_role](https://registry.terraform.io/providers/hashicorp/vault/latest/docs/resources/nomad_secret_role) configured in Vault.

The main reason I am asking this is because looking through a

[2022-08-26 04:27] k0wl0n opened #14330 "Topology hostname label disappear"
### Nomad version
Output from `v1.2.0`

### Operating system and Environment details
amazon-linux

### Issue
Topology hostname label disappear

### Reproduction steps

#### Expected Result
the topology hostname label is showing
![alt text](https://i.imgur.com/0hbjS1N.png)

#### Actual Result
Topology hostname label disappear
![alt text](https://i.imgur.com/rp1taX4.png)

### Job file (if appropriat

[2022-08-26 06:47] heikkilamarko opened #14331 "Consul link in Nomad UI missing after updating to Nomad v1.3.4"
### Nomad version

Nomad v1.3.4

### Operating system and Environment details

Microsoft Windows Server 2019 Standard

### Issue

Consul link in Nomad UI top bar is missing after updating to Nomad v1.3.4.

![Screenshot 2022-08-26 at 9 42 22](https://user-images.githubusercontent.com/3757314/186839743-a81e91f4-a454-4e4b-91b4-915b62409b0c.png)

Agent config:

[code]

[2022-08-26 11:04] hmeine commented on #12296
I think so, yes!  Looking forward to that, even though it does not affect normal operation.

[2022-08-26 13:04] tgross commented on #14328
Hi @stevenheinze57!

For Vault, I think you can get most of what you're looking for with the [`vault.create_from_role`](https://www.nomadproject.io/docs/configuration/vault#create_from_role) configuration combined with setting [`vault.policies`](https://www.nomadproject.io/docs/job-specification/vault#policies) on the jobs. If you configure a minimally permissioned role and then add policies to th

[2022-08-26 13:46] tgross commented on #14330
@k0wl0n it looks from your screenshot that you've narrowed the window quite a bit, and when the window narrows past a certain point the name is no longer visible? Is that correct?

If so, I can't reproduce that behavior on Chrome 104.0.5112.101. Which browser are you using? In any case, I'll flag this for the web UI folks.

[2022-08-26 14:06] tgross commented on #14331
Hi @heikkilamarko! I can confirm that I can see the Consul link on Nomad 1.3.3 but not on Nomad 1.3.4. I'll flag this for our UI folks @philrenaud and @ChaiWithJai for triage. Thanks!

[2022-08-26 14:54] tgross commented on #14293
Ok, the following additional patch apparently fixes this bug by ensuring we get the event we need:

[code]

The resulting drain for the allocation with a 30s `kill_timeout`:

[code]

Note that this breaks a couple of our existing tests, so I need to review those to see if the test is simply wrong or whether I'm missing a case this change breaks. This is obviously a very complex area of the code an

[2022-08-26 14:54] #14116 closed

[2022-08-26 15:06] tgross commented on #14293
I'm working a draft PR in https://github.com/hashicorp/nomad/pull/14348

[2022-08-26 15:15] srisch commented on #14293
Awesome thank you so much! Glad you figured it out! I was looking at the logger  when I was investigating this and I noticed the agent/client and other things use the new Intercept Logger, and this seemed to update it to the same pattern - Unsure if you'd like to include it in there or not but thought i'd toss it out there. :smile:

[code]

[2022-08-26 15:17] johnnyplaydrums commented on #14200
Hi @tgross! Thank you for your quick response here and for providing an easily reproducible example. I tested this on our clusters and confirmed that Nomad is behaving as you describe, going through the normal deployment process when reverting a job. I think I was testing this with the wrong job spec (e.g. `max_parallel == count`) that made it look like the `update` stanza was being ignored. When

[2022-08-26 15:17] #14200 closed

[2022-08-26 15:33] tgross commented on #14293
I did some code spelunking and I think I figured out why node drain uses the `alloc.TerminalStatus()` which includes both server and client status. The node drain code in question https://github.com/hashicorp/nomad/commit/8217ebf11e2b7585bef61b142550fa9bd3dfcb0e was written a month before there ever was a separate client status method https://github.com/hashicorp/nomad/commit/7fa7655ebebb84a1b7fa4

[2022-08-26 16:32] cqueinnec opened #14349 "Low throughput of batch jobs allocations on clients"
### Nomad version
- Servers: 1.3.1
- Client: 1.3.4

### Operating system and Environment details
- 3 Servers: CentOS
- 1 Client: Windows Server 2019
  - 8 cores, 24GHz
  - 32GB of RAM
  - SSD drive

### Issue
We're running Nomad since a few years with small volumes of batch jobs. Now I'm analyzing how Nomad behaves when running big number of batch jobs, of different natures.

My first experiment i

[2022-08-26 17:12] altosys opened #14350 "Have Nomad display a warning if templating secrets to alloc folder other than `secrets`"
### Proposal
Add a configuration parameter toggling a setting for whether or not Nomad will display a warning, and perhaps even halt, in case a `template` stanza is set to fetch secrets from Vault with `{{ with secret "kv/mysecret" -}}` templating, and the template destination is not set to `secrets`.

This would help the user to prevent secrets from getting exposed via env vars or files mounted i

[2022-08-26 19:27] DerekStrickland commented on #12296
Great. 1.3.4 is now [released](https://releases.hashicorp.com/nomad/1.3.4/).  Let us know how it goes.

[2022-08-26 19:54] tgross commented on #14350
Hi @altosys! I love this idea... but it's going to be challenging architecturally.

The Nomad server doesn't read the contents of the `template` block at all. The `template` contents could come from a [`source`](https://www.nomadproject.io/docs/job-specification/template#source) that doesn't exist on the host until it's fetched via `artifact`. Nomad hands the template off to an embedded [`consul-t

[2022-08-27 02:26] iluminae opened #14359 "Many UI bugs in v1.3.4"
### Nomad version
Nomad v1.3.4 (a267b2b000ae72ba05fa571eaafe170a7b9c4d1b)

### Operating system and Environment details
Linux [arm,arm64,amd64]
ACLs are not enabled

### Issue
I will try to enumerate all the issues here, but the UI is very broken in v1.3.4.
* _Any_ graph is blank and spams the browser console with errors. They all seem to be like this error: `Uncaught Error: TypeError: Cannot read

[2022-08-27 03:02] LukeFlynn commented on #6385
Any update on this issue? Facing it and it's causing very annoying stability issues on a select few hosts.

[2022-08-27 03:02] philrenaud commented on #14359
Hi @iluminae, thanks for raising this. Digging into it now. To help me isolate the problem more quickly, do you happen to know the most recent version of Nomad you were using without the aforementioned UI errors?

[2022-08-27 03:18] iluminae commented on #14359
v1.3.3 - and I kept one client back at that version so I can use it's UI. (all of the features work fine on there, including clients -> eligible toggle and draining options)

[2022-08-27 03:51] philrenaud commented on #14359
Thanks for the info and great find. We've been able to find the cause and will fix this asap.

As a (temporary) workaround, in your chrome dev console, try doing the following:

[code]

If you try to load your charts/logs/files after that, they should be fine.

Look for an upcoming fix for this soon, and my apologies for the bugs.

[2022-08-27 04:06] iluminae commented on #14359
@philrenaud workaround looks like it is working for me, thanks!

[2022-08-27 05:46] heikkilamarko commented on #14359
I can confirm that the workaround fixes this one too: #14331

[2022-08-27 05:50] heikkilamarko commented on #14331
For a temporary workaround to this issue, see: https://github.com/hashicorp/nomad/issues/14359#issuecomment-1229115136

[2022-08-27 08:23] unnimona opened #14360 "how to run helm charts in nomad?"
i want to run helm charts with nomad
i installed nomad and helm charts but helm charts is not detecting nomad nor connecting to it.
please provide command to connect helm charts with nomad

helm ls -A
Error: Kubernetes cluster unreachable: Get "http://localhost:8080/version": dial tcp 127.0.0.1:8080: connect: connection refused

[2022-08-27 16:34] pop commented on #10117
I have a similar use-case where we want to temporarily scale *down* a Group which is part of a larger Job and is which is managed by the Nomad Autoscaler. It would be nice to forcibly scale down the Group without the autoscaler scaling it back up automatically in this case. All deployments go through a CI/CD pipeline making the cost of trivial changes like this fairly high.

Being able to edit a s

[2022-08-27 21:17] ednxzu commented on #14359
If I can add to this, it seems like the UI does not allow you to run job if ACL aren't setup anymore.
I went from 1.3.3 to 1.3.4 on a test cluster that doesnt have ACLs setup, and the UI will not work unless you setup ACLs (grayed out buttons with "you do not have the permissions to run job" message).

[2022-08-28 03:39] iluminae commented on #14359
@philrenaud when using the workaround above, I still get an error when using the UI to change the job definition of a thing:```
Plan Error
acl token lookup failed: index error: UUID must be 36 characters
[code]

[2022-08-28 03:41] philrenaud commented on #14359
Ah thank you! That'll teach me for using arbitrary metasyntactic variables.

[2022-08-28 04:19] ttys3 opened #14361 "nomad v1.3.4 can not show task logs and files"
### Nomad version

[code]

### Operating system and Environment details

ArchLinux  + podman v4.2.0 +  nomad-podman-driver

### Issue

1. after upgrade to nomad v1.3.4 can not show task logs (click `Logs` in nomad web ui)
2. click `Files` in web ui, will result in "Something went wrong" error.

### Reproduction steps

install  Nomad v1.3.3 +  podman v4.2.0 +  nomad-podman-driver
setup any jobs
eve

[2022-08-28 04:21] ttys3 commented on #14361
maybe related: https://github.com/hashicorp/nomad/issues/14359

[2022-08-28 04:23] ttys3 commented on #14361
confirmed this workaound works:

ref https://github.com/hashicorp/nomad/issues/14359#issuecomment-1229367069

[code]

[2022-08-28 04:23] #14361 closed

[2022-08-28 06:21] jwoglom opened #14362 "Hitting exec on UI task group page results in wrong allocation ID being used for exec"
### Nomad version
Output from `nomad version`

[code]

### Operating system and Environment details

[code]

Ubuntu virtual machine running through KVM/Libvirt on a TrueNAS Scale host

### Issue

When navigating to a task group inside a periodic task and clicking on the Exec button, a window with "Select a task to start your session." is shown with a list of tasks inside the task group on the left

[2022-08-28 06:24] jwoglom commented on #14362
I specifically observed this on a task of type `batch`, but have been able to replicate similarly weird behavior with a job of type `service`. For example, here is an exec to the ccc default task which actually has the bbb default task's task ID.

<img width="975" alt="image" src="https://user-images.githubusercontent.com/192620/187060680-adce855e-50bf-466b-b65e-05a1c47a8f96.png">

[2022-08-28 06:30] jwoglom commented on #14362
I was also able to replicate this bug on the latest v1.3.4, which appears to contain the related bug of saying I don't have permission to run Exec despite the fact I can still click on the button an do so, in a standard setup with no ACL settings specified.

[2022-08-28 15:07] blmhemu opened #14367 "Nomad job plan errors with the below logs."
### Nomad version
1.3.4

### Operating system and Environment details
Debian ARM64

### Issue

When doing a nomad job plan, I am getting the following error
`Error submitting job: Put "http://100.66.210.90:4646/v1/jobs?namespace=default&region=home": EOF`
The plan was working if change_mode is NOT set to script.

### Reproduction steps
Added `change_mode="script"` and `change_script` to the job te

[2022-08-28 15:14] blmhemu commented on #14367
I think i updated only the remote agents and not my local agent 🤦

[2022-08-28 18:32] iluminae commented on #14360
helm is kubernetes only. _however_ a very similar technology is called [nomad-pack](https://learn.hashicorp.com/tutorials/nomad/nomad-pack-intro).

[2022-08-29 12:32] tgross commented on #14360
Hi @unnimona! As @iluminae has mentioned, Helm is for Kubernetes, and Nomad is not in any way based-on or compatible-with Kubernetes. You should definitely check out Nomad Pack!

[2022-08-29 12:32] #14360 closed

[2022-08-29 13:08] shoenig opened #14370 "services: add support for check_restart in nomad service checks"
Nomad v1.4 will add support for checks in services provisionied in Nomad's native service provider. Not all features supported by the Consul integration are supported yet, including `check_restart`.

Let's add support to make `check_restart` functionality work with Nomad service checks.

[2022-08-29 13:17] shoenig opened #14371 "cgroups: v2 should use kill interface instead of freezer"
When implementing support for cgroups v2 we mostly tried to keep the v1 logic but retrofit it onto v2. This includes the block of code for forcefully killing processes related to a task https://github.com/hashicorp/nomad/blob/v1.3.4/client/lib/cgutil/group_killer.go#L98

In v2, there is now the `cgroup.kill` interface file, which we can simply write a `1` into to kill all processes present in the

[2022-08-29 13:28] shoenig opened #14372 "cgroups: v2 disable unused controllers"
Given the "inverted" nature of cgroups v1 & v2, one could describe v1 as "opt-in" controllers and v2 as "opt-out" controllers. When we added support for v2 did not consider that processes being added to Nomad's task cgroups would be having all controllers activated - including ones that were never being used before like `rdma`, `misc`, etc. These may have unwanted side affects.

Nomad should set `

[2022-08-29 13:40] shoenig opened #14373 "cgroups: v2 raw_exec does not respect no cgroups flag"
Similar to https://github.com/hashicorp/nomad/issues/14372, but `raw_exec` needs to go a step further when [no_cgroups](https://www.nomadproject.io/docs/drivers/raw_exec#no_cgroups) flag is set. The problem is tricky because the PID is being added to a cgroup for `cpuset` management (and then inheriting all the other controllers, a bug) - we need to decide if setting `no_cgroups` means "no really,

[2022-08-29 14:05] shoenig commented on #13022
@jacksod1 can you (or someone) describe (or link to docs) what needs to be done to support this configuration?

[2022-08-29 14:32] shoenig opened #14375 "cgroups: push controller management into drivers"
In Nomad cgroups management is split. The Client directly manages the `cpuset` controller, whereas individual task drivers manage other controllers. This is because `cpuset` values are dynamic - as tasks are created and destroyed they may request or let go of `cores` resources. The Client actively manages the `cpuset`  value of every cgroup in response. In v1 this architecture was reasonable - the

[2022-08-29 15:06] shoenig opened #14376 "cgroups: purge the use of libcontainer for cgroups management"
We use `libcontainer` for cgroup management in Client and driver code. The expectation was this library would provide a convenient abstraction over the details of cgroups, provide a common way to interface between v1, v2, etc. In practice the library does not abstract v1 vs v2, does not abstract nuances of managing cgroups (e.g. we still have all our custom `kill` code), imposes unnecessary hoops

[2022-08-29 15:11] #14367 closed

[2022-08-29 16:24] ChaiWithJai opened #14380 "[ui] handle visualizing health status checks for duplicate services"
If an Allocation have duplicate services, we aren't able to differentiate between health checks statuses because the Service Fragment does not have an `id`. We need to refactor how we differential between duplicate service names.

![Image](https://user-images.githubusercontent.com/41024828/187248595-d3c0b32d-fdf9-4993-b1ff-5dd9057d7863.png)

[2022-08-29 16:36] josegonzalez commented on #6970
I'm still seeing this in Nomad 1.2.8+ent. We use namespaced deploys to allow for review-app style testing and thus we have a ton of child jobs that we need to purge now.

[2022-08-29 19:24] michalgm opened #14384 "-hcl1 should imply -hcl2-strict=false"
### Nomad version
Nomad v1.3.4+ent

### Operating system and Environment details
Debian 11

### Issue
When running any command that takes the `-hcl1` option, I get this error:
[code]
the workaround is to include `-hcl2-strict=false`, but this seems redundant and also will break our tooling if not all clients are updated to the nomad version that accepts the `-hcl2-strict` flag.

[2022-08-29 20:18] philrenaud opened #14386 "[ui] Service Discovery: Service fly-out detail view"
![image](https://user-images.githubusercontent.com/713991/187290618-0c72425f-1635-4dc5-b8c7-fe0c64f4ebc4.png)

[2022-08-29 20:38] philrenaud opened #14387 "[ui] Service Discovery: table sorting"
at jobs/:jobid/services

[2022-08-29 21:55] lgfa29 commented on #9464
Hi all 👋

The work to enable this has been complete and release in Nomad v1.3.4. You can use the new [`-all-tasks`](https://www.nomadproject.io/docs/commands/alloc/restart#all-tasks) when restarting an alloc to re-run lifecycle tasks.

[2022-08-29 21:55] lgfa29 commented on #9841
Hi all 👋

The work to enable this has been complete and release in Nomad v1.3.4. You can use the new [`-all-tasks`](https://www.nomadproject.io/docs/commands/alloc/restart#all-tasks) when restarting an alloc to re-run lifecycle tasks.

[2022-08-29 22:21] lgfa29 commented on #14085
1.3.4 is available now and this problem should be fixed now, but let us know if that's not the case and we can reopen this issue 👍

[2022-08-30 02:22] echan00 commented on #2944
same here, no idea why my deployment is failing

[2022-08-30 12:49] rikhuijzer opened #14392 "ACL disabled does not equal all features being available"
### Nomad version
1.3.4

### Operating system and Environment details
Ubuntu 22.04

### Issue
The CPU and Memory Resource Utilization graphs in the UI are empty as well as the logs. When looking through the errors in the browsers console (errors listed below), one error points to `/v1/acl/policy/anonymous`. When the Nomad front end tries to load this endpoint, the endpoint returns a 400 with the t

[2022-08-30 14:02] #14371 closed

[2022-08-30 15:16] lszmit-nm commented on #14392
This exact error scenario also applies to the "Exec" functionality, including when the workaround in #14359 is used.
The exec box appears empty, with an error in console after a call to `/v1/acl/token/self`

[code]

[2022-08-30 15:20] tgross commented on #14392
Hi folks. This is indeed a dupe of https://github.com/hashicorp/nomad/issues/14359 and has been fixed on `main` with https://github.com/hashicorp/nomad/pull/14381. That'll be shipped as a patch shortly.

[2022-08-30 15:20] #14392 closed

[2022-08-30 15:36] suikast42 opened #14401 "Unique hostnames"
The nomad [docu ](https://www.nomadproject.io/docs/configuration) says  for agent configura

But if I set two workers wit same node name then consul denies one of the hosts and nomad not.

[2022-08-30 15:42] jrasell commented on #14401
Hi @suikast42; this value is only required to be unique on Nomad agents running with [server mode enabled](https://www.nomadproject.io/docs/configuration/server#enabled). This differs from Consul due to the architectural differences between the two applications.

Could you confirm whether you are seeing this name issue when running the Nomad agent within server mode or not?

[2022-08-30 16:15] tgross commented on #14233
My colleague @DerekStrickland has a PR open that isn't for this specific symptom but is something that smells _awfully_ similar: https://github.com/hashicorp/nomad/pull/13279 Tagging him here to see if he thinks this could be related.

[2022-08-30 16:42] stevenheinze57 opened #14402 "Consul ACL Token Permissions Require Total Access to KV Store"
Through some testing I found that in consul token permissions require total access to the consul KV store, when submitting Nomad jobs.

Before setting the right policy I was getting this:

[code]

And [here](https://github.com/hashicorp/nomad/blob/b7fea76f7fffdc3aca856e1910bb1ba1758da992/nomad/consul_policy.go#L299) it seems to be checking for an empty key_prefix read policy.

I was actually able

[2022-08-30 16:48] johnalotoski opened #14403 "Nomad job with envoy escape hatch has no dynamic port interpolation available"
### Nomad version
Nomad v1.2.9, v1.3.2

### Issue
Envoy uses a default [stream_idle_timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-stream-idle-timeout) of 5 minutes which is in conflict with a few long runnin

[2022-08-30 18:16] tgross commented on #14293
Doing some more research on this while waiting for CI to run I remembered we have https://github.com/hashicorp/nomad/issues/9902 open which is exactly this issue. The behavior was never particularly well-defined, which is probably why this is a little confusing; without a kill timeout a drain being marked complete "too early" isn't a noticeable problem for anyone.

[2022-08-30 19:42] rismoney commented on #14359
will we get a rather quick release when fixed, like a 1.3.5?  A bunch of bug fixes in 1.3.4 are super helpful , but the ui bugs don't allow troubleshooting the alloc fs which kills a lot of inspectability ?  TYVM!!!

[2022-08-30 19:59] DerekStrickland commented on #14233
It could be related.  Do you see a `Can't request Vault token for terminal allocation` entry at basically the same time?

[2022-08-30 21:09] josegonzalez opened #14411 "Add purge button to web ui"
### Proposal

It would be great to add the purge button to the web ui, next to the start/stop buttons on the jobs page.

### Use-cases

This would allow for quickly purging a job without needing to find the correct incantation on the cli to perform the action.

### Attempted Solutions

I can do this via the cli, but I would like to provide alternatives to those not as familiar with the cli.

[2022-08-30 21:21] djenriquez opened #14412 "v1.3.4 UI Regression (possible state management regression)"
### Nomad version
[code]

### Operating system and Environment details
Amazon Linux 2

### Issue
After upgrading from 1.3.3 to 1.3.4, seeing some regression in the UI:
1. The server page is not properly identifying the leader (every node has leader:false even though the /v1/status/leader endpoint reveals the leader), nor is it clearing out the old 1.3.3 servers that have left even after 24 hours (

[2022-08-30 21:41] djenriquez commented on #14412
I found other similar issues after posting, I do have some cases not discussed in those issues though. Should I keep this issue open for that or just close and post the additional info over on the existing issues?

[2022-08-31 06:32] aniaptebsft commented on #14412
Seeing the same issue with grayed out exec button. This is causing a lot of disruption to our engineering workflows.

[2022-08-31 07:43] jrasell commented on #14412
Hi @djenriquez and @aniaptebsft and thanks for raising this with the context. I will link the issue to https://github.com/hashicorp/nomad/issues/14359 which has been tracking some UI regressions within 1.3.4, however, I will let @philrenaud read through this and decided whether to close this issue out as duplicate.

[2022-08-31 07:43] shantanugadgil commented on #14412
Hi, we are seeing a bunch of the UI issues reported after upgrading to 1.3.4 for the Nomad servers.

This particular issue (`Exec` button disabled) is especially bothersome.

The UI shows the version a the bottom left only on the first load, and then it disappears.

cross referencing #14359   #14331

[2022-08-31 07:46] jrasell commented on #14411
Hi @josegonzalez, this sounds like a really useful idea, thanks for raising the issue.

[2022-08-31 07:53] shantanugadgil commented on #14359
same question from me too ... would/could there be a 1.3.5 soonish? (UI fixes only)

I could deploy and report back if the various UI bugs are fixed/solved or still present.

[2022-08-31 09:21] suikast42 opened #14414 "Job status if data center not exists"
I am playin arround with[ traefik deployment in nomad ](https://gist.github.com/dalfonzo-tc/242236257a868f6daa9471f9cc3428c5#file-traefik-hcl).

I made a misstake and define a wrong datacenter in the job file.

The deployment status in nomad ui stays green and no allocations is started.
This is little bit confusing. An appropriate status on deployment level could be very nice.

### Nomad version
N

[2022-08-31 09:35] benvanstaveren commented on #14359
As requested, adding the following: in a multi-cluster setup, UI no longer allows me to select the cluster I want to operate on. This after an upgrade from 1.2.5 to 1.3.4, on a 4 cluster setup with ACL disabled.

[2022-08-31 10:22] shantanugadgil commented on #14412
Another question @jrasell @philrenaud how concerned should we be with version 1.3.4 and the non-UI functionality. Have there been any issues reported which are *not related* to the GUI?

The current state is that we have upgraded ONLY the servers to 1.3.4 and were planning to roll out the clients with 1.3.4 within the week.

[2022-08-31 14:01] jrasell opened #14415 "deps: migrate from deprecated github.com/Azure/go-autorest packages"
The [repository readme states](https://github.com/Azure/go-autorest#note-the-modules-in-this-repo-will-go-out-of-support-by-march-31-2023--additional-information-can-be-found-here) "_repo will go out of support by March 31, 2023_"; therefore we should look into migrating away from this dependency using the information [within this guide](https://azure.microsoft.com/en-us/updates/support-for-azure-

[2022-08-31 16:10] philrenaud commented on #14412
Hi @shantanugadgil — the issues described are solved in https://github.com/hashicorp/nomad/pull/14381 which are restricted to the UI alone. We would still recommend moving to 1.3.5 when that releases (very shortly)

[2022-08-31 16:13] philrenaud commented on #14412
Hi @djenriquez , @aniaptebsft — sorry for the hassle here. The issues you see will be fixed with 1.3.5, going out shortly, and can temporarily be alleviated on a per-browser basis by adding the following to your browser console:

`localStorage.setItem('nomadTokenSecret', 'thisisathirtysixcharacterlongstring!');` (per [this comment](https://github.com/hashicorp/nomad/issues/14359#issuecomment-12293

[2022-08-31 16:13] #14412 closed

[2022-08-31 16:25] gmichalec-pandora opened #14421 "Add client name tooltip to allocation view"
### Proposal
The new client name tooltips when hovering over the client_id in the allocations tables is very helpful. I'm wondering if it would be possible to add that same functionality to the client_id that appears on the allocation view:
![image](https://user-images.githubusercontent.com/39168929/187729513-dea664c0-7ff1-4916-a019-03f870bf0a98.png)

### Use-cases
When drilled down to a the alloc

[2022-08-31 17:01] gmichalec-pandora opened #14422 "CLI: flag to not require VAULT_TOKEN for `nomad job validate` and `nomad job plan`"
### Proposal
The recent change to verify a user's vault_token against the requested policies in the job spec is breaking some of our workflows. It seems a little odd to require authentication for a non-destructive, non-privileged operation. This is particularly painful for us, because we do not federate our vault regions, and thus, we need to render and parse the job spec to identify the target re

[2022-08-31 17:30] lgfa29 commented on #14414
Thanks for the report @suikast42!

I was expecting https://github.com/hashicorp/nomad/pull/11111 to generate a warning in this scenario as well, but it doesn't seem to handle datacenters, just constraints.

I edited the title to better reflect the expected behaviour here.

[2022-08-31 17:49] lgfa29 commented on #14384
Hi @michalgm 👋

Thanks for the report and I think it makes sense, since this is a required combination of flags.

[2022-08-31 17:53] lgfa29 commented on #14362
Hi @jwoglom 👋

Thanks for the report. I believe this is the same issue as described in https://github.com/hashicorp/nomad/issues/10962, so I will close this one as a duplicate of that.

It's currently set for triaging so I would suggest adding a 👍 to that issue as it helps us gauge priority 🙂

[2022-08-31 17:53] #14362 closed

[2022-08-31 17:55] lgfa29 commented on #14359
Hi everyone 👋

Yes, we're planning to have a quick 1.3.5 release out today, so keep an eye out for the announcement, and apologies for the troubles in 1.3.4.

[2022-08-31 17:58] lgfa29 commented on #14331
Hi @heikkilamarko 👋

I have confirmed that this is being cause by the same issue as #14359. Those JavaScript errors prevent the Nomad UI from rendering the custom links.

As I mentioned in that issue, we're planning on having a release with the fix out today so I'm going to close this for now to keep the discussion focused in #14359.

Thank you for the report 🙂

[2022-08-31 17:58] #14331 closed

[2022-08-31 18:03] shantanugadgil commented on #14412
This is good news indeed. Thanks! 👍🏻🙏🏻

[2022-08-31 18:06] shantanugadgil commented on #14359
Awaiting eagerly for 1.3.5 ...👍🏻🙏🏻

[2022-08-31 18:23] MattRiddell commented on #10324
It might be a good idea to let people know in the docs that if you specify a minimum and maximum size you're locked in to the minimum size

[2022-08-31 19:25] gmichalec-pandora opened #14423 "nomad job plan leaks VAULT_TOKEN in output"
### Nomad version
`Nomad v1.3.4+ent`

### Operating system and Environment details
Debian 11

### Issue
`nomad job plan` now requires a vault token to successfully run. The diff returned by the plan now includes the vault token, even if the token was submitted via environment variable or CLI option. This is a potential security risk - we run plans as part of our deploy pipeline, and this would res

[2022-08-31 19:48] ScatteredRay commented on #14085
Ok, oddly enough, I never upgraded any instance, everything in my cluster has been setup excursively on 1.3.3 from the start.

Having said that, I just updated to 1.3.4 and the problem appears to be resolved, thanks!

[2022-08-31 22:23] lgfa29 commented on #14359
1.3.5 is now available: https://releases.hashicorp.com/nomad/1.3.5/

I'm going to close this issue for now, but let us know if the problem persists.

Thank you for the patience and understanding everyone!

[2022-08-31 22:23] #14359 closed

[2022-09-01 00:01] lgfa29 commented on #14421
Thanks for the suggestion @gmichalec-pandora. I think this will be helpful as well 🙂

[2022-09-01 03:00] zizon opened #14429 "Data erased by moving a raft region leader into another region"
### Nomad version
Output from `nomad version`
Nomad v1.2.6

### Operating system and Environment details

### Issue
Moving a raft leader under region A to another region B, by changing region field in config file, causing region B raft state being overwrite by A thus causing all running state in region B being lost.

We had encounter this severe disaster recently.
For brief summery, we had,
1. **1

[2022-09-01 03:12] shantanugadgil commented on #14359
Deployed the servers with version 1.3.5 in the staging environment. The UI issues seem resolved. I shall try to deploy to production in a few hours and reconfirm here if it works as expected.

[2022-09-01 03:35] jwoglom commented on #10962
I think a fix for this issue should be prioritized. For what it's worth, I would be okay with this bug if it selected the wrong task but at least highlighted the task inside the correct task group in which it arbitrarily decided to use. But in #14362 I raised the fact that it highlights the group name for the task you selected on the left hand side, **despite selecting the identically named task i

[2022-09-01 12:38] shantanugadgil commented on #14359
I have deployed this to PROD as well and this works fine for now. The UI issues of the `Exec` button are no longer there.

[2022-09-01 12:47] srisch commented on #14293
Very interesting - Indeed the only thing that indicated to me something wasn't right was the use of the kill timeout with the nomad-autoscaler.  The autoscaler detected the job as complete and it shut down my AWS node while my job was still stop/running.  I haven't taken a peek at the autoscaler code yet to see if that's desired or not, but i'm guessing it was just reading back from the API that t

[2022-09-01 12:53] tgross commented on #14293
Yeah almost certainly. The autoscaler _should_ be able to rely on the drain complete message being correct. It's just wrong in the design. I think the remaining piece of the puzzle in #14348 is to track "has migrated" and "has been asked to migrate" separately for purposes of calculating doneness. Full disclosure, I'm probably not going to get a chance to wrap that up this week because of some oth

[2022-09-01 12:56] srisch commented on #14293
No worries thanks again for all your help on this and I appreciate the heads up!

[2022-09-01 14:00] lgfa29 commented on #14359
Great! Thank you for the confirmation 🙂

[2022-09-01 14:01] #14423 closed

[2022-09-01 14:09] benvanstaveren commented on #14359
I've just deployed to prod as well and it seems the UI issues are now resolved.

Just to throw in my 2 cents as well :)

[2022-09-01 14:42] #14384 closed

[2022-09-01 18:27] #9570 closed

[2022-09-01 19:19] lgfa29 opened #14444 "Prevent an agent to start if it has data from another region"
### Proposal

A Nomad region defines the data boundary of servers. Servers in the same region replicate their data among each other with the leader being the source truth, meaning that followers will always replace their own local state with the leader state.

If a server starts in one region, but then its `region` configuration value is changed without removing the data from the previous region,

[2022-09-01 19:25] lgfa29 commented on #14429
Hi @zizon :wave:

I'm sorry to hear you went through an experience like this but, unfortunately, the Raft replication process worked as designed here. This scenario is similar to if you were to add a test database server to a production cluster with data replication enabled: your production data would be overwritten with test data.

In terms of how we can improve Nomad to avoid situations like thi

[2022-09-01 19:25] #14429 closed

[2022-09-01 20:12] lgfa29 commented on #14422
Hi @gmichalec-pandora 👋

The changes brought these commands closer to the result you would get from a `nomad job run` execution, but I can see how it could be useful to have a way to skip this check (or maybe turn them into a warning).

I will discuss with the team on how to best implement this. Thanks for the idea 🙂

[2022-09-01 20:43] lgfa29 commented on #14403
Hi @johnalotoski 👋

https://github.com/hashicorp/nomad/pull/14445 adds interpolation to configuration values, so I think what you described would then be possible.

I'm building a binary from that PR here: https://github.com/hashicorp/nomad/actions/runs/2974808759

Once that's done, would you be able to try and validate if this provides what you need?

Thanks!

[2022-09-01 21:06] phinze opened #14450 "UI disables exec button while CLI works"
### Nomad version

Server: `1.1.4+ent`
CLI: `1.2.6`

### Operating system and Environment details

I don't think it's relevant, but further details can be provided on request!

### Issue

Nomad UI shows `exec` button as grayed out and disabled when my ACL should allow it. CLI `nomad exec` works properly.

### Reproduction steps

Create an ACL Token with the following policy:

[code]

Launch a job

[2022-09-02 02:39] zizon commented on #14429
I agree that it is not a bug for raft but there are bigger issues under this design/usage flaw.
I will disclose more on #14444 .

[2022-09-02 02:55] zizon commented on #14444
According to #14429 , the fundamental flaw is that, raft start without verifying peers.
Nomad use/start serf to dissever raft peers **after** restore and start raft consensus.

It maybe better to add/accept raft peers via verifying configs in dissevered serf.

If we did not verify peer legitimate, it turns out to be an attack plane for Nomad, especially for non-TLS enabled RPC setting,
since one a

[2022-09-02 09:23] RYunisov commented on #4977
Don't forget to add stanza in the job
[code]

[2022-09-02 11:07] hntrmrrs commented on #12261
I'd like to re-open this as it is still an issue with a cluster running with agents all running 1.3.5 (servers and clients). The cluster in question frequently (3-4 hours per day) experiences sustained high batch scheduler load. High batch scheduler load corresponds to higher raft commit times and a higher incidence of the "Vault: server failed to derive vault token: Allocation xxx-123-bbb does no

[2022-09-02 11:20] hntrmrrs commented on #12261
So I am not super familiar with the state snapshot code, but I think the issue might be stemming from this line:

https://github.com/hashicorp/nomad/blob/main/nomad/node_endpoint.go#L1608

[code]

Based on the comments over here: https://github.com/hashicorp/nomad/blob/c9b6d0e71b36062805b9daaf80d7fc844b3f4684/nomad/state/state_store.go#L219

[code]

Is it possible that the allocation's persistence

[2022-09-02 12:48] suikast42 commented on #6594
What about auto_config ? The consul client certificates are dynamic there or am I worng?

[2022-09-02 16:37] lgfa29 commented on #14402
Hi @stevenheinze57 👋

I was able to reproduce this and I agree that this check may be too strict. The function you linked was added in [this commit](https://github.com/hashicorp/nomad/commit/a97254fa209c0d64b3fb0f71d95ce8d1e29a97c2#diff-b3fa2dbd6520f4c84fe21b55f48b958b5e9ef24191c15477720a23702fb07405R195), which mentions this:

So I suspect this was an accidental change in 1.1.0. I will check with

[2022-09-02 17:08] johnalotoski commented on #14403
Hi @lgfa29, thanks very much for the fix!  I took the diff from [here](https://github.com/hashicorp/nomad/commit/00c5a8b9d49a05019cc1eaca1e8f75dbd8b6f123.diff)  and compiled it into our Nomad 1.3.2 version currently being used, and tested it works!

I did find that the notation I needed to use to get the variable substitution to work correctly was (modifying the example snippet from above slightly

[2022-09-02 18:38] lgfa29 commented on #14349
Hi @cqueinnec 👋

Given that all allocations were created and placed in the `pending` state I would say that the servers are performing as expected, so the client may be the bottleneck.

When you click in those pending allocations, then in the task (`ping` in your sample job), what task events do you see? There should be a table like this:

<img width="735" alt="image" src="https://user-images.gith

[2022-09-02 18:51] lgfa29 commented on #14403
Nice! Thanks for test it. I will update the docs and get that PR merged so it's available in the next release 🙂

Ah yeah. The interpolation is done within a string right? `${...}` would start an HCL2 expression, so it needs to be escaped:
https://www.nomadproject.io/docs/job-specification/hcl2/expressions#string-templates

[2022-09-02 19:00] #14403 closed

[2022-09-02 19:20] #10545 closed

[2022-09-02 19:27] lgfa29 commented on #14085
Oh interesting, but yeah I can see how that would be a problem as well. Glad to hear the fix worked for you 🙂

[2022-09-02 20:29] suikast42 opened #14458 "auto_config does not work out of box with tls and service mesh"
### Nomad version
Nomad v1.3.5

### Cunsul version
Consul v1.13.1

I try out the nomad ( consul ) service mesh capabilities. I try out the [counter-dashboard](https://www.nomadproject.io/docs/integrations/consul-connect) example.
Without TLS enabled it works as expected. So it counts :-)

After the first success of deployment I follow the [guide for consul security](https://learn.hashicorp.com/tut

[2022-09-02 20:37] lgfa29 commented on #13483
Ah sorry for that. Yes, the initial plan was to have it shipped in 1.3.2 but the backport never happened, so this was shipped in 1.3.4.

Apologies for the confusion.

[2022-09-04 16:15] dotdiego opened #14460 "An argument named "provider" is not expected here."
Hello,

Documentation at [Job Specification/service](https://www.nomadproject.io/docs/job-specification/service) states that a service stanza  in a task can contain a provider with value **consul** or **nomad**.
However when trying to run a job through the Web UI, i'm getting a generic error :
`An argument named "provider" is not expected here.`

Are the docs outdated on this topic ?

[2022-09-04 16:43] henrikjohansen commented on #9920
@tgross FYI - the CLI `quota` command still lists ***Network Usage*** in Nomad v1.3.5+ent :

[code]

[2022-09-05 06:54] jrasell commented on #14460
Hi @dotdiego, could you please let us know which Nomad version you're currently running?

[2022-09-05 07:51] shoeffner opened #14461 "ui: Vault and Consul ui_url not available without ACL token"
### Nomad version
Output from `nomad version`
`Nomad v1.3.4 (3bed4df9e498e747278cd7f4c509884812751ed6+CHANGES)`

### Issue

Since v1.3.3, more specifically since https://github.com/hashicorp/nomad/blame/61fd9436ab046bbb8c31bee9de23229cfd2dce33/ui/app/services/system.js#L39-L40, the UI does no longer show the Vault and Consul links for users who did not provide an ACL token in the top navigation ba

[2022-09-05 08:47] ednxzu commented on #14461
The problem has been addressed in #14359 and I believe release [v1.3.5](https://github.com/hashicorp/nomad/releases/tag/v1.3.5) fixed it, tho I did not update yet.

[2022-09-05 10:58] xorander00 opened #14462 "HCL2 length function not taking string?"
### Nomad version
v1.3.2

### Operating system and Environment details
FreeBSD 13.1-STABLE

### Issue
HCL2 length() function, [according to the docs](https://www.nomadproject.io/docs/job-specification/hcl2/functions/collection/length), should accept an argument of any of the following types: string, array, map, or tuple.
It seems to only accept collections though, not a string.  I know I can remov

[2022-09-05 11:06] shoeffner commented on #14461
Thanks, you are right, it's fixed with #14359 .

[2022-09-05 11:06] #14461 closed

[2022-09-05 12:34] jrasell commented on #14462
Hi @xorander00 and thanks for raising this issue. The current length function does indeed only support maps, lists, or tuples. I will raise a change to the documentation for this as well as add a new function to allow for calculating the length of a string.

[2022-09-05 12:54] xorander00 commented on #14462
@jrasell No problem!

I do have a quick question that overlaps with this issue. Is the HCL2 module used in nomad trailing by a few versions? I'm trying to use formatdate() with timestamp() as the 2nd argument (to use the current date/time).

timestamp() is not listed in the Nomad docs, so it's not a surprise that it fails, but I do see it in the packer docs.  I'm trying to use formatdate to set a

[2022-09-05 13:31] jrasell commented on #14462
Hi @xorander00; merely importing the library is not enough to make the language and function usable. The functions in particular [need to be mapped](https://github.com/hashicorp/nomad/blob/d33f1eac719c848f88de3cfc5606d85800b9ef62/jobspec2/functions.go#L25-L114) for use which means there is potential for differences between implementations.

If you have a use case for adding additional HCL2 functio

[2022-09-05 21:18] attachmentgenie commented on #13483
i can confirm this now works in 1.3.5

[2022-09-06 00:26] #14387 closed

[2022-09-06 00:27] #14202 closed

[2022-09-06 04:24] mr-karan commented on #13538
@tgross Hi, can we please re-open this? Sorry this skipped my attention. I am still facing the above issue. This time, I was able to reproduce this on Ubuntu 22.04 (Minimal version) as well.

1. On the host:

[code]

2a. With the default `chroot_env` also I am facing this issue:

[code]

2b. With the modified `chroot_env`:

[code]

Strangely, this issue isn't limited to just `exec` driver. I am ab

[2022-09-06 04:59] mr-karan commented on #12877
This is what I am experiencing as well here: https://github.com/hashicorp/nomad/issues/13538#issuecomment-1237643867

I'm running 1.3.1

[2022-09-06 07:24] fraenku opened #14465 "Nomad-UI: Displaying resources of task groups"
### Nomad version
1.3.5

### Operating system and Environment details
RockyLinux 8.6

### Issue
I've defined a job which is using the resource Stanza and defining two cores instead of cpu (by the way: in the documentation cores is  declared as beta, is this still the case?):
`resources {
        cores = 3
        memory = 8000
 }`
This should also be displayed in nomad-ui. In the moment only the c

[2022-09-06 08:14] jrasell commented on #14401
Hi @suikast42, as we have not had a response I am going to close this issue. If you are still experiencing this problem, please feel free to reopen it with additional context as requested in my previous response.

[2022-09-06 08:14] #14401 closed

[2022-09-06 08:29] ygersie commented on #13028
Hey @tgross we also ran into this issue and apart from triggering the failed allocations, Nomad also seems to lose track of the running containers meaning those containers will never be cleaned up.

[2022-09-06 09:41] Kamilcuk opened #14467 "Nomad-UI: &reg is replaced by ® in logs"
### Nomad version
1.3.5

### Operating system and Environment details
Linux, Fedora release 29

### Issue
The string `&reg` is being replaced by `®` character in logs.

### Reproduction steps
Run the job file included below. Navigate to allocation logs and inspect them. You'll see this:

![obraz](https://user-images.githubusercontent.com/15679217/188601612-0f38add8-f7a6-4dee-adfe-32fbf431082f.png)

[2022-09-06 12:30] tgross commented on #13028
@ygersie you have an open ticket with the Support team on that, which we're following up on independently. Let's keep this issue specific to the matter at hand.

[2022-09-06 12:31] tgross commented on #13538
Re-opening, but possible dupe of https://github.com/hashicorp/nomad/issues/12877?

[2022-09-06 12:57] tgross commented on #9920
Thanks @henrikjohansen. Fixed in https://github.com/hashicorp/nomad/pull/14468

[2022-09-06 13:05] shoenig commented on #14465
Thanks for the report @fraenku! Real quick, which task driver are you using to run the job? The way metrics are gathered and reported are dependent on each driver.

[2022-09-06 13:24] fraenku commented on #14465
It's the docker driver.

[2022-09-06 14:46] jamesdmorgan opened #14470 "Configuration to disable exec from the UI"
### Proposal

Add configuration to disable exec into container functionality from the UI.

It feels like it ought to be disabled by default but I appreciate the functionality has been available for a while now.

### Use-cases
We would like to enable this functionality in our testing environments but disable it in production.

### Attempted Solutions
Its possible via ACLs but it would be much easie

[2022-09-06 15:27] ChaiWithJai opened #14471 "[ui] [bug] Browser becomes laggy when polling `/checks` endpoint."
The browser becomes laggy when we keep the `/allocations/:allocationId/index` view open. This behavior is likely because we're long polling both the `/checks` and `/stats` endpoints even when the browser isn't active. This behavior didn't occur prior to long-polling the `/checks` endpoint on the same route.

The goal of this issue is to only long poll `/checks` when we're actively on the route.

!

[2022-09-06 16:34] mr-karan commented on #13538
Possible but as I noted above, this isn't just limited to `raw_exec` that #12877 mentions. The error message does seem familiar  though (`failed to open a tty: open /dev/ptmx: operation not permitted`)

[2022-09-06 16:42] #14462 closed

[2022-09-06 19:34] lgfa29 commented on #14444
Hi @zizon 👋 ,

[mTLS](https://www.nomadproject.io/docs/configuration/tls) and [Serf encryption](https://www.nomadproject.io/docs/configuration/server#encrypt) are the core of [Nomad's security model](https://www.nomadproject.io/docs/concepts/security). A cluster that doesn't have them properly configured is exposed to several attack vectors and is, therefore, not considered production ready.

In y

[2022-09-06 20:16] spiralw opened #14476 "NOMAD_ALLOC_COUNT environment variable"
### Proposal
Add an environment variable `NOMAD_ALLOC_COUNT` that represents the `count` variable in a task group.

### Use-cases
If an app needs to do a specific number of tasks while knowing which sequential task it's doing, tasks can be split between replicas and the alloc index / alloc count can be used to calculate the tasks that each alloc ends up doing.

In my personal use-case, I run a Dis

[2022-09-06 21:00] lgfa29 commented on #14402
Quick update after discussing wit the team, this check is done to avoid a privilege escalation problem. Since the template is rendered by the Nomad client, it uses the client's Consul token to access Consul KV store, and this token usually has wide access to KV paths in order to run several different jobs.

At job registration Nomad doesn't know where the job's allocations will run yet, so it can

[2022-09-07 04:58] RobbieFernandez opened #14478 "Validation error when submitting task with template.change_mode = "script""
### Nomad version
Output from `nomad version`
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

I am submitting the job via nomad-pack:
Nomad Pack v0.0.1-techpreview.3 (3b4163b)

### Operating system and Environment details
Ubuntu 22.04 LTS

### Issue
I'm attempting to submit a Nomad task where a template generates an nginx config file. I'm trying to use the change_mode = "script" and chang

[2022-09-07 10:57] cqueinnec commented on #14349
Hello,

Thanks for your feedback!
Here's a video showing that for a task received 2 minutes ago (and for which the client seem to already have been determined), as long as the status is `pending` there is no task for the allocation. Once it starts, the events table shows that the whole process is performed in 3 seconds or so.

![2022-09-07_06h50_08](https://user-images.githubusercontent.com/466805

[2022-09-07 11:35] ostkrok commented on #13064
Hi again @tgross,

We've now been able to collect output from `nomad node status -verbose`.

[code]

One interesting thing is that the allocated CPU seen in the output above (218800) doesn't match what we see in `nomad_client_allocated_cpu` (218700). I.e. it differs by 100 Mhz.

We also went through and checked every alloc with `nomad alloc status`, fetched the task resources, and summed these up.

[2022-09-07 11:35] Oloremo opened #14479 "[feature request] provide a new job status if some of the job groups or allocations are failed"
### Proposal
Every nomad job could have multiple groups of allocations.

Imagine one group failed for any reason and restart stanza swithc it to the "fail". The other one is still running fine.
If you do a `nomad status job_name` for such job it will show us "running" in it's status which is a bit misleading here.

What do you think about adding come kind of new indication for such situations? It

[2022-09-07 12:56] jrasell opened #14480 "networking: allow cluster operators to specify their own bridge CNI config"
The Nomad bridge [network mode](https://www.nomadproject.io/docs/job-specification/network#bridge) uses CNI to configure the interface via the [bridge plugin](https://www.cni.dev/plugins/current/main/bridge/#overview). The CNI plugin configuration is [embedded within the client](https://github.com/hashicorp/nomad/blob/main/client/allocrunner/networking_bridge_linux.go#L141-L180) with a small numbe

[2022-09-07 13:02] tgross commented on #14476
Hi @spiralw! This sounds like a good idea on the surface and it's similar to requests we've had before for a `NOMAD_JOB_VERSION` environment variable. But we're not going to be able to implement this. I'm going to give both an explanation of why and a workaround for you below.

This feature runs into two important invariants:
* Once a process has started, only that process can modify its environme

[2022-09-07 13:02] #14476 closed

[2022-09-07 13:20] spiralw commented on #14476
@tgross hey, thanks for the explanation and the workaround. however, i'm not seeing the same behaviour as you - when I change the `count` variable on a group, every allocation gets restarted:

[code]

(and if the readout from job plan doesn't mean what i think it means, i did try it and my allocations do get rolling restarted as if I changed a different part of config)

is that not intended?

[2022-09-07 13:35] #13931 closed

[2022-09-07 13:35] #13930 closed

[2022-09-07 14:06] tgross commented on #14476
The plan is showing "in-place update", which is just the version bump in this case. I'd need to see the rest of your job spec to figure out why it's rolling the whole thing; it generally shouldn't unless there's something that's getting interpolated at job submission time.

[2022-09-07 14:40] philrenaud opened #14482 "[ui] Service Discovery Health Checks: show Sparklines indicating previous health check results"

[2022-09-07 17:15] thatsk commented on #10324
Hi tim when we are planning to ship in nomad

[2022-09-07 17:26] tgross commented on #10324
Hi @thatsk There's an open PR I worked on a long while ago https://github.com/hashicorp/nomad/pull/10281 but I haven't had a chance to get back to it. It's not currently on the roadmap so if I manage to ship it, it'll be unplanned work. In general though, we don't publish a roadmap.

[2022-09-07 17:40] #14193 closed

[2022-09-07 17:55] thatsk commented on #10324
K but it's good use case where csi volume can resize from volume defination and use iac in storage management to keep up this Strong contender in container orchestration.

[2022-09-07 17:56] thatsk commented on #10324
Hoping it should get on roadmap and release soon to use it nomad with CSI

[2022-09-08 00:41] chuckyz opened #14488 "Panic when `attribute` is unset inside constraint stanza."
### Nomad version
v1.2.3

### Operating system and Environment details
macohs big sir

### Issue
Big ol' panic when trying to do `nomad job plan` on a job with a constraint stanza with an empty `attribute` value.

### Reproduction steps
add
[code]
to any job

#### Expected Result
Something like `Error: no attribute set in constraint stanza (line number)`

#### Actual Result
[code]

### Job file (i

[2022-09-08 06:09] bubejur commented on #12062
Hi all! @DerekStrickland do you have any news about that?

[2022-09-08 06:51] Netlims opened #14489 "Unknown allocation following drain"
Hi,
We have an issue that we see pretty often with nomad.
There is a scheduled task that run every night that replaces the application binaries.
In order to do that we first set all of the backend nodes as `ineligible` and then we execute a drain using the following parameters:
[code]
After the drain is completed we replace the binaries and then make the nodes eligible again.
Most of the time this

[2022-09-08 07:00] Netlims commented on #14489
After reviewing this ticket I noticed something weird that might be the source.
Currently, the leader is 10.0.1.25:
[code]
But notice that when the client return `Unknown allocation` to the API call `http://localhost:4646/v1/client/allocation/d73ccf99-5a18-12b5-d388-c0197f707785/stats`, it got this information from `10.0.1.247`, which is a follower.
The logs from 10.0.1.247 are not showing anythin

[2022-09-08 07:29] mr-karan opened #14490 "Metrics for raw_exec tasks"
### Nomad version

[code]

### Operating system and Environment details

[code]

### Issue

For tasks running with `raw_exec` task driver, memory related metrics aren't being exported. Is this an expected behaviour?

### Reproduction steps

Run a task as `raw_exec`:

[code]

When querying for metrics, notice that `nomad_client_allocs_memory_usage` is not exported for this task. If the task driver

[2022-09-08 09:21] jrasell commented on #14488
Hi @chuckyz and thanks for the report. I was able to reproduce this using `v1.2.3`, however, can confirm this bug has been fixed within `v1.2.6` a later. I am not sure why the changelog entry is not correctly populated and will look into this, however,  https://github.com/hashicorp/nomad/pull/13036 contained the fix.

[2022-09-08 09:21] #14488 closed

[2022-09-08 12:51] shoenig opened #14494 "cgroups: unable to initialize cpuset manager on CentOS9"
Out of the box, CentOS 9 is disabling `cpuset` (among other controllers) from being created by subgroups. We can probably turn it back on ourselves, but this is probably an artifact of them RH trying to push apps into using a systemd cgroups driver.

[code]

[code]

[code]

[2022-09-08 16:19] sammynx opened #14505 "ProhibitOverlap not respected after a restart"
### Nomad version
Output from `nomad version`
Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)

### Operating system and Environment details
Linux 4.19.0-21-cloud-amd64 #1 SMP Debian 4.19.249-2 (2022-06-30) x86_64 GNU/Linux

### Issue
I have a scheduled job running with `ProhibitOverlap=true` in its periodic stanza. When the job was running the machine crashed and when it came back Nomad st

[2022-09-08 18:31] #8965 closed

[2022-09-09 10:36] scaleoutsean commented on #13380
AFAIK CSI `SINGLE_NODE_WRITER` allows multiple allocations *on the same host* (node).

[code]

That means if a bunch of workloads are dispatched *to the same Nomad client*, that should work for SINGLE_NODE_WRITER (RWO) volume - they're still single writer from the host perspective, not from the process perspective.

[2022-09-09 10:43] vladaman commented on #14275
@shoenig the issue was that nomad was not running under root. Figure it out.

[2022-09-09 10:43] #14275 closed

[2022-09-09 12:35] tgross commented on #13380
Hi @scaleoutsean. That's not my reading of the spec: "published" is a different state than "staged", and publishing includes the association with a specific workload.

[2022-09-09 13:04] ChaiWithJai opened #14522 "ui: Fix bug in `api-client` when used with `run.sh` bash script"

[2022-09-09 13:05] ChaiWithJai opened #14523 "ui: integrate replay w/ playwright to capture test artifacts for time-travel debugging"

[2022-09-09 13:06] ChaiWithJai opened #14524 "ui: test ACL token UI configuration to unblock #13847"

[2022-09-09 15:18] philrenaud opened #14526 "[ui] Keyboard nav: disable hints on window defocus"
If you're trying to cmd+shift+4 on a mac for a screenshot, for example, keyboard hints persist. Disable them when you're not focused on the browser/window in question.

[2022-09-09 16:21] philrenaud opened #14530 "[ui] For Consul services, if UI stanza has a consul link, provide it in the UI."

[2022-09-09 18:02] tomqwpl opened #14531 "High/Excessive memory consumption on nomad server"
### Nomad version
v1.3.0

### Operating system and Environment details
Windows

### Issue
I'm seeing what I consider to be excessive memory consumption in nomad. Memory seems to constantly increase as I submit jobs, apparently without end.

Initially I'm wanting to understand whether what I'm seeing is expected or not. Maybe this is how nomad is expected to work, but it feels wrong to me. Certainl

[2022-09-09 18:31] tgross commented on #14531
Hi @tomqwpl! Something that might be missing your model here is that Nomad's state store is entirely in-memory. That's the go-immutable-radix you're seeing. The raft logs are persisted to disk, but those are _logs_. The slow startup time is also consistent with a large state store -- the raft logs have to get re-read into the state store memory.

The only thing that seems a little odd here is that

[2022-09-09 19:22] DerekStrickland commented on #14505
Thanks for reporting this issue @sammynx.  Just to clarify, is this what happened?

- You had an instance of the job running (run 1)
- The entire machine crashed - not just the Nomad agent process
- The machine restarted
- Nomad restarted
- Nomad did not resume the previous job run (run 1)
- Nomad scheduled a new run (run 2)
- Before run 2 could finish, a new run (run 3) started

Is this accurate?

[2022-09-09 20:19] DerekStrickland commented on #14489
Thanks for reporting this @Netlims .  I'll take a look and see what I can find.

[2022-09-09 20:24] DerekStrickland commented on #14478
Hi @RobbieFernandez.  Thanks for reporting this issue. I'll take a look at this, and thanks for pointing out the Pack aspect.

[2022-09-09 23:35] diegs commented on #5764
I tried to accomplish this use case via metadata interpolation in the constraint.

[code]

However when I `nomad job dispatch` it seems that the metadata is not interpolated:

[code]

Per the constraints docs (https://www.nomadproject.io/docs/job-specification/constraint#value) and other issues I think this should work, and metadata is obviously interpolated correctly elsewhere in the job spec, so

[2022-09-10 05:12] scaleoutsean commented on #13380
@tgross okay, then - even though our opinions differ, it's useful to know how the spec is understood by Nomad.

If you're willing to entertain the possibility of the spec being wrong or not clear: yes, publishing is different, but as you said that's an association with a workload (not covered by the spec) whereas `SINGLE` vs `MULTI` describes the number of worker nodes where that may happen (cover

[2022-09-10 06:22] mr-karan commented on #14490
I think it'a a helpful metric to export, yes. I've a namespace where I deploy jobs with `raw_exec` and `exec`. I am plotting the values on Grafana where I am visualising memory usage for each namespace. So by default, I get an _inaccurate_ graph because jobs with `raw_exec` are being excluded.

[code]

I noticed that when we query for `nomad alloc staus -stats <alloc-id>`, the RSS value is shown h

[2022-09-10 12:16] DerekStrickland commented on #14467
Hi @Kamilcuk.  Thanks for reporting this issue and thanks for using Nomad. I've confirmed it and am adding it to the backlog for roadmapping.

[2022-09-10 12:20] DerekStrickland commented on #14465
Hi @fraenku.  Thanks for reporting this issue and for using Nomad!  I've confirmed what you are seeing and am adding this item to the backlog for scheduling.

[2022-09-10 16:25] tomqwpl commented on #14531
Thanks @tgross . Yes I can see that I have a very large number of allocations.
If I tweak the garbage collection parameters for evaluations, and make it run the gc more often I can see that the memory usage stays more reasonable. It's still pretty high, but it's not growing.

I notice that there is no "gc threshold" for allocations. How are allocations garbage collected?

I need to do some more in

[2022-09-12 03:55] mr-karan opened #14540 "Update Grafana Dashboards"
Hi!

I noticed that this repo contains a [Grafana dashboard](https://github.com/hashicorp/nomad/tree/main/integrations/grafana_dashboards) but that seems outdated based on the current metrics which are exported.

I recently open sourced 3 dashboards (server, client, allocations) and I am happy to contribute the same to upstream: https://github.com/mr-karan/nomad-monitoring

Please let me know if t

[2022-09-12 04:48] the-maldridge commented on #7941
I just ran into this again after having to increment the "it was DNS" counter over with Void Linux.  We use traefik which finds almost everything via consul, but finds the nomad server via DNS.  I figured I'd be smart and have it find everything via consul, and smacked right into this config-shaped wall.

[2022-09-12 07:46] MatthiasZerau commented on #11278
Hi,

encountering the same issue, however right from the start on the first allocation of the task.

### Nomad version

1.3.3

Nomad running on a single host in server and client mode in an automated test environment.

### Operating system and Environment details

Windows 2016, using raw_exec driver

### Issue

A Java application is started via Nomad and blocks after a while. Stack traces of the J

[2022-09-12 08:49] t-davies commented on #14233
Sorry @DerekStrickland, missed this notification. Haven't seen any logs similar to that though - unfortunately.

[2022-09-12 09:11] t-davies commented on #14233
Haven't seen any issues since, but I'm going to try updating to 1.3.5 this week and see how that runs. Seems like a bunch of things that _might_ have contributed towards this happening have been fixed.

[2022-09-12 10:44] hoh commented on #6661
@Edstub207 The job in my example uses Nginx, but I believe the issue to be independent from the software running and Traefik should be impacted the same way.

I haven't tried to reproduce this issue with v1.3.5, the test is a year and a half old now.

[2022-09-12 11:00] pruiz commented on #12120
Hi,

I have a working setup with cilium-agent & cilium-cni working on top of nomad, and I can deploy services/tasks on top of cni/cilium, however I still need to solve howto assign labels to endpoints during creation. As currently endpoints get stuck with reserved:init label, and no assigned identity. Not sure if cilium-operator nay help in this.. I'll update when I have some more progress.

Regar

[2022-09-12 11:30] DerekStrickland commented on #14540
Hi @mr-karan.  Another great resource for the community!  Thanks for sharing.

As you can see, that example dashboard is 5 years old. I don't think we plan to take on maintaining a dashboard. Your work seems like something it would be great to link to from the [tools](https://www.nomadproject.io/tools) page and from the integrations [doc](https://github.com/hashicorp/nomad/tree/main/integrations/g

[2022-09-12 11:30] #14540 closed

[2022-09-12 11:36] DerekStrickland commented on #14458
Hi @suikast42 .  Thanks for sharing your experience. I'm glad that you ultimately figured out how to get things working. I'm sorry the documentation wasn't as clear as you hoped. I'll take a look and see if there is something that needs improvement.

[2022-09-12 13:06] tgross commented on #14531
Allocations are GC'd _on the server_ in the same GC function as evaluations. An evaluation has to live at least as long as any allocation(s) it creates, otherwise you'd end up with data integrity issues (ex. trying to ask "which eval created this alloc?"). The allocation's threshold is the same index as the evaluation, but based on the allocation's last _modify_ time. Otherwise we'd end up with al

[2022-09-12 13:29] tgross commented on #13380
In my experience that's, uh, definitely a possibility. 😀 So we're absolutely open to discussing it. As it turns out, there's an open issue in the spec repo that covers exactly this case: https://github.com/container-storage-interface/spec/issues/178 which suggests that you're not alone in wanting this.

Totally agreed that the application could own the "who's writing?" semantics. The application d

[2022-09-12 13:36] DerekStrickland commented on #14233
Great. We'll keep this open for now pending your update and observation.

[2022-09-12 13:42] pkazmierczak commented on #14478
Hey @RobbieFernandez, it was indeed an issue with Nomad Pack, its API dependency package wasn't updated along with the changes we introduced in Nomad. Apologies—I overlooked this while working on the feature.

[2022-09-12 14:00] #14530 closed

[2022-09-12 15:38] shoenig opened #14548 "cleanup: refactor "unit_test.go" Consul integration tests into proper e2e/unit tests"
In https://github.com/hashicorp/nomad/pull/14546 we're removing a chunk of Consul integration testing out of the unit tests - these tests are _extremely_ invasive on implementation details of various components of Nomad's wrapper around Consul. Well written tests do not do this - instead functions should be tested individually, the whole integration should be covered in e2e testing.

[2022-09-12 16:02] #14478 closed

[2022-09-12 19:10] #14526 closed

[2022-09-12 20:23] tgross commented on #13538
I've had a look at https://github.com/hashicorp/nomad/issues/14372 and I'm reasonably confident after a conversion with my colleagues that this issue will be covered by that fix as well.

[2022-09-12 20:37] #14244 closed

[2022-09-12 20:56] FranksRobins opened #14554 "Logical operators in nomad job constraint configuration"
### Proposal
Hi Hashicorp team,
I am trying to fine tune a constraint but Nomad seems to be missing the right operators to achieve my goal. Would it be possible to have a AND and OR operators in the constraint stanza?
There are situations where the current list cannot be a fit:
[code]
An `&&` and `||` operators would also be useful to add flexibility to the stanza to be used in the **operator** fi

[2022-09-13 02:10] #14482 closed

[2022-09-13 03:37] mr-karan commented on #13538
@tgross Awesome, good to know that! We can close this if you want :)

[2022-09-13 10:48] DerekStrickland commented on #14554
Hi @FranksRobins. Thanks for using Nomad and for raising this issue.

To first answer the question, of is it possible, I suspect that yes Nomad could be modified to support these operators. However, the operators we have are very well vetted, so I'd like to explore using what exists first.

To set the context, let me restate that constraints are used to determine if a node is _feasible_ for placin

[2022-09-13 11:02] jrasell commented on #14460
Hi @dotdiego, I am going to close this issue out owing to the additional context needed here. If you are still experiencing this issue, please feel free to re-open it with the Nomad version you are currently running.

[2022-09-13 11:02] #14460 closed

[2022-09-13 13:37] #14386 closed

[2022-09-13 13:37] #14213 closed

[2022-09-13 13:38] #14471 closed

[2022-09-13 13:38] #14279 closed

[2022-09-13 13:38] #14380 closed

[2022-09-13 13:47] #13146 closed

[2022-09-13 13:47] #13147 closed

[2022-09-13 13:47] #13148 closed

[2022-09-13 13:47] #13149 closed

[2022-09-13 13:47] #13150 closed

[2022-09-13 13:47] #13151 closed

[2022-09-13 13:47] #13153 closed

[2022-09-13 13:47] #13154 closed

[2022-09-13 13:47] #13155 closed

[2022-09-13 13:47] #13156 closed

[2022-09-13 13:47] #13189 closed

[2022-09-13 13:47] #13200 closed

[2022-09-13 13:47] #13220 closed

[2022-09-13 13:49] ChaiWithJai commented on #12760
Closing this issue out. It's stale and lacking a description.

[2022-09-13 14:26] tgross commented on #12802
Variables is ready to ship for Nomad 1.4.0 beta!

[2022-09-13 14:26] #12802 closed

[2022-09-13 14:55] #14370 closed

[2022-09-13 15:57] dynamix commented on #12339
Is this maybe the wrong issue link? Otherwise it would mean #12339 it is a duplicate of itself?  @tgross @lgfa29

[2022-09-13 16:20] tgross commented on #13219
Just a heads up that the updated raft-autopilot is shipping in Nomad 1.4.0 beta (and backports) but we've run out of time to make additional feature updates and it's not clear to me which of this is going to be automatically covered by the library update vs not. So what I'm going to do is to self-assign this issue and verify which of the reported behaviors we're still short on. If everything "just

[2022-09-13 16:23] tgross commented on #12339
Whoops, good catch! Looks like that dupe is https://github.com/hashicorp/nomad/issues/9745

[2022-09-13 18:03] ChaiWithJai commented on #14522
This wasn't actually a bug with our code. Instead it was an issue making an HTTP request from a Docker container to the local machine because the Nomad Agent was not bound to an address to access the HTTP interface.

[2022-09-13 18:03] #14522 closed

[2022-09-13 18:04] ChaiWithJai opened #14571 "ui: refactor job specification in E2E to remove default specifications to make future changes easier."

[2022-09-13 18:08] ChaiWithJai commented on #14571
Hey @angrycub any chance you can help me on this.

Details can be found [here](https://github.com/hashicorp/nomad/pull/14504#discussion_r966116121). But the tl;dr is that I took your advice a did a dry parse of a job spec using `nomad job run -output`. However, we want to trim the specification down to make future refactoring easier.

[2022-09-13 19:36] suikast42 opened #14574 "Nomad Consul connect and Traefik"
If I deploy the whoami job as a standard job then erverything is fine with nomad and treafik.

I see my own certificate ( static no acme)  on the web browser,  But when I deploy the same container wuth consul connect side car then traefik tells me  a Bad Gateway error.

As I can see from the treafik logging, trafik does his job.

time="2022-09-13T19:22:11Z" level=debug msg="vulcand/oxy/roundrobin/

[2022-09-13 19:52] #10440 closed

[2022-09-13 20:00] #14421 closed

[2022-09-13 20:08] philrenaud opened #14578 "[ui] Task links as sub-items within allocation tables"
So as to speed up navigation.

![image](https://user-images.githubusercontent.com/713991/189998780-774514b3-2f2e-4ceb-a8e8-d13d461c89a2.png)

- [x] poll for cpu and memory
- [ ] mirage fixtures / acceptance tests
- [ ] persist show/hide to localStorage
- [ ] table row line styles

[2022-09-13 20:48] philrenaud opened #14579 "[ui] Task logs in sidebar"
![image](https://user-images.githubusercontent.com/713991/190006220-e488e9ce-ae4d-48ed-bf87-0b6fa3d27ccb.png)

[2022-09-13 20:53] philrenaud opened #14580 "[ui] Change breadcrumb for Allocations/Groups/Tasks a dropdown when there are multiple"
If a task group has multiple allocations, make the current breadcrumb link into a dropdown that allows you to move between allocs.

Ditto when a job has multiple task groups, and when an alloc has multiple tasks.

![image](https://user-images.githubusercontent.com/713991/190006520-044cd470-04da-4e84-9e14-0a0c8cfb9a8c.png)

[2022-09-14 04:38] FranksRobins commented on #14554
Hi @DerekStrickland, thanks for your reply!
The `set_contains_any` does not accomplish the desired result. It will effectively figure out which nodes' meta.machine-role value match the constraint but the `_any` from the operator most likely will behave like an _OR_ condition based on a partial match. Meaning that it will stop evaluating after one of the value stated in the _value_ field returns tr

[2022-09-14 08:13] suikast42 commented on #14574
It seems so that something lags in acl permissions.

If I change the default_policy from deny to allow then it works even with full enabled tls.

The strange thing is that the used token is the global-management token.

global-management-token
[code]
[code]

[2022-09-14 09:47] sammynx commented on #14505
This is what happened

- one instance of a periodic job was running (run 1)
- the entire machine crashed
- the machine restarted
- Nomad restarted
- Nomad resumed all running jobs, including run 1
- Nomad scheduled a new run for the periodic job (run 2)
- while run 1 was still running, Nomad started run 2

This is the entire jobspec:
[code]

[2022-09-14 10:06] Lord-Y commented on #13833
I can confirm that the actual code is working. I'll close this issue.

[2022-09-14 10:06] #13833 closed

[2022-09-14 11:36] DerekStrickland commented on #14574
Hi @suikast42

Thanks for reporting this issue. I'll try to take a look at it this week. The  update you provided the ACL config is really helpful.

[2022-09-14 15:29] ChaiWithJai opened #14588 "UI: Test user journeys requiring ACL tokens"

[2022-09-14 15:35] ChaiWithJai opened #14589 "UI: Test user journeys where the UI needs a set namespace in the URL"
Playwright tests where the URL needs namespace query parameter.

[2022-09-14 15:36] ChaiWithJai opened #14590 "UI: Test all real-time views."
Test all views that use the Watcher system.

[2022-09-14 15:40] tomqwpl commented on #14531
@tgross Hi, thanks for the detailed information. I'm getting a bit more of an understanding of how it works.

The "operator debug" output I'm investigating has an evaluations.json file that is too big to view (it's >1GB). This is from an installation where nomad was consuming 3GB memory I think, and had essentially become unresponsive. I don't know how big the machine was on which it was running,

[2022-09-14 18:17] tgross commented on #14531
The `node-update` evaluations all come from the various [Node RPCs](https://github.com/hashicorp/nomad/blob/main/nomad/node_endpoint.go), so those are going to be from events where the node has updated either new up/down status, or more likely in your case, changes to its available resources as batch jobs have completed.

That does seem like an awful lot of evals though. How many allocations made

[2022-09-14 20:36] tgross commented on #14531
Actually, I just re-read that bit of code and did some local testing here to make sure, and batch jobs completing and freeing resources won't trigger those updates. That suggests there's something triggering a lot of node updates. Either something in the fingerprint is changing or it's got a flaky connection. There's a Client Events section on the UI but it doesn't really get a lot of information.

[2022-09-14 20:56] tgross commented on #13350
This missed 1.4.0 as it got slotted into community triage instead of the backlog 😊 . Sticking it on the backlog project for visibility in the next pass. Sorry about that @radeksimko

[2022-09-15 02:31] surajthakur opened #14595 "Nomad exec websocket: close 1000 (normal)"
### Nomad version
Output from `nomad version`
[code]
### Operating system and Environment details
- Debian 10

### Issue
Hi Community,
We are facing a small issue, thought someone would have come across already, so asking here first before raising a git issue.

I get kicked out of nomad exec after 10 mins and get this error

[code]

To try with latest version, I have updated my local client versio

[2022-09-15 10:34] DerekStrickland commented on #14595
Hi @surajthakur.  Thanks for reporting this issue.  From what you've shared with me this seems like an idle timeout.
This message `websocket: close 1000 (normal)` indicates to me that no traffic has been sent for a while, so the connection gets shut down.  Does this seem like what your are experiencing, or is this happening when you are actively interacting with the alloc?

[2022-09-15 10:43] kirill-shtrykov opened #14597 "Vault stanza ignored on job/group level"
### Nomad version
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
Ubuntu 22.04.1 LTS

### Issue
From [documentation](https://www.nomadproject.io/docs/job-specification/vault) we can place Vault stanza on any hierarchy level, job, group, task. But in my case Nomad ignores stanza on job or group levels.

### Reproduction steps
 - Open job definit

[2022-09-15 11:58] DerekStrickland commented on #14554
No worries!

So this goes back to the point I was making about _feasibility_.  Here's a useful explanation from one of our [blog posts](https://www.hashicorp.com/blog/resilient-infrastructure-with-nomad-scheduling).

"Placing allocations is split into two distinct phases: feasibility checking and ranking. In the first phase the scheduler finds nodes that are feasible by filtering unhealthy nodes,

[2022-09-15 11:58] #14554 closed

[2022-09-15 14:13] DerekStrickland commented on #14597
Hi @kirill-shtrykov.  Thanks for reporting this issue. I believe I've successfully reproduced this behavior.  Interestingly, this seems to only happen from the UI. For me the CLI (using HCL at least) plan as I'd expect.  I'll set this for roadmapping. If you have time, I'd be curious to know if this works from the CLI for you.

[2022-09-15 16:13] nguyenvulong commented on #10060
Was you able to make it work?

I have tried all available suggestions, but

[code]
throws

**and**

[code]
throws

And yes, the only option that worked for me is `unconfined`.

[2022-09-15 20:30] angrycub opened #14603 "Add a helper function to NomadVariableItems to get the Items as `map[string]interface{}`"
### Proposal

Provide a helper function on `NomadVariableItems` to get the map as a `map[string]interface{}`

### Use-cases

There are several consul-template formatting functions that require that their parameter data to be typed as `map[string]interface{}`. Providing a helper to re-type the NomadVariableItems collection would enable the items to be used with these functions.

### Attempted Solut

[2022-09-15 21:52] l-monninger commented on #11748
Where does this sit currently?

[2022-09-15 22:00] pruiz commented on #11748
On calico I have no idea, but for other CNIs there are some users (me among them) with somewhat working or work-in-progress setup of nomad+cilium (see: https://github.com/hashicorp/nomad/issues/12120). I am still polishing things and may make a write up or at least publish a github repo with sample configs, jobs, etc. but not there yet.

[2022-09-16 04:18] surajthakur commented on #14595
Hi @DerekStrickland
It's in both the cases, but the issue causing is someone already working gets kicked out and get this message.
To link this to a recent change. We moved our infra from OVH cloud provider to AWS provider, but the architecture remains the same, we use HAproxy as our load balancer, same version of it running after the migration.
If we can get some idea why `websocket: close 1000 (

[2022-09-16 11:47] stswidwinski opened #14605 "Allow listing of client-local allocations / tasks / task groups."
### Proposal

Allow Nomad Client local queries for allocations known to the node.

When using a localhost http client to communicate with the local Nomad node, I can expect a subset of RPC calls to not leave the localhost (as defined here: [nomad/rpc.go at main · hashicorp/nomad · GitHub](https://github.com/hashicorp/nomad/blob/main/client/rpc.go#L263)). This allows me to get information about a p

[2022-09-16 14:22] shoenig commented on #14574
@suikast42 If setting the Consul ACL policy to `default_policy: "allow"` fixes the problem, that's likely a sign you are missing a Consul intention enabling a connection between the two Connect services.

https://www.consul.io/docs/connect/intentions

[2022-09-16 14:28] shoenig commented on #13946
added in https://github.com/hashicorp/nomad/pull/14553

[2022-09-16 14:28] #13946 closed

[2022-09-16 14:28] shoenig commented on #13947
added in https://github.com/hashicorp/nomad/pull/14559

[2022-09-16 14:28] #13947 closed

[2022-09-16 16:25] Lord-Y commented on #11392
Any news about this issue?

[2022-09-16 16:41] DerekStrickland commented on #14595
Hi @surajthakur

I ran an "idle" exec session this morning without a disconnect for over an hour and a half. Strictly speaking, it's not idle, since it turns out we are heart-beating.  Given the information you provided about the switch to AWS, I'd start to look there. I'm not sure which product you're connecting through, butI've heard of customers having to tune their session timeouts. A quick wa

[2022-09-16 16:41] #14595 closed

[2022-09-16 16:57] DerekStrickland commented on #11392
Hi @Lord-Y

We actually just talked about doing a pass on Consul configuration syncing a couple of hours ago. I've added this issue to the list. Thanks for checking in.  The reminder was timely!

[2022-09-16 17:34] tomqwpl commented on #14531
OK thanks.
In terms of the jobs, they are all simple task group, single task, generally batch jobs with no restart policy (I literally want to run a single process, nothing more complex than that).

I'll have to delve into the debug zip we've got and see what else it contains. I looked at the client log, but I wasn't sure what I was looking for.

When you say "something changing in the fingerprint

[2022-09-16 19:58] #14578 closed

[2022-09-16 20:05] tgross commented on #12261
Reopening as per https://github.com/hashicorp/nomad/pull/14521#pullrequestreview-1111161052

[2022-09-16 20:12] tgross commented on #12465
@DerekStrickland I've reopened https://github.com/hashicorp/nomad/issues/12261 based on feedback from the user that the problem isn't fixed in their 1.3.5 build, but I see you've got #13279 open still. I'll point them that way but wanted to give you a heads up.

[2022-09-16 20:13] tgross commented on #12261
@hntrmrrs I've raised this issue with my colleagues @DerekStrickland and @lgfa29 who've been working on a very similar problem over in https://github.com/hashicorp/nomad/pull/13279. I'm hoping that this issue might provide them with some more evidence around their diagnoses.

[2022-09-16 20:16] tgross commented on #14531
The fingerprint can be updated by the task driver changing any attributes of the node. But it can also be updated if you have a Consul or Vault client that loses connectivity.

[2022-09-16 21:50] bew opened #14613 "Functions are skipped for meta inputs of parameterized jobs"
### Nomad version
Output from `Nomad v1.3.5`

### Operating system and Environment details

OS: ArchLinux

Nomad installed through Nix package manager.

### Issue

### Reproduction steps

1. Run `nomad agent -dev`
2. Submit job (see job file at end of issue), job registration is successful
3. Run `nomad job dispatch   -meta input=foo/bar.txt   bug-function-param-job`
4. Check the logs of the dispa

[2022-09-16 23:53] IamTheFij commented on #10999
In the mean time, I wrote a small web server that can be run along side Nomad to facilitate logging into Vault, getting a token, and then storing it for the web UI to use.

Right now it's specified to only use Vault `userpass`, but that could probably be forked and changed.

https://github.com/iamthefij/nomad-vault-login

It's not pretty, but it does the thing.

[2022-09-17 02:23] pruiz opened #14614 "Reloading agent does detect CNI plugin changes (due to FingerprintManager.Reload() not being invoked)"
### Nomad version
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
Linux/amd64

### Issue
While trying to integrate cilium with nomad (see: https://github.com/hashicorp/nomad/issues/12120), I've found nomad agent's is not checking changes on CNI during SIGHUP, which means it cannot detect changes applied to CNI's configuration files. However, by

[2022-09-17 10:03] l-monninger commented on #10318
Are there any know sharp corners with this? I don't know what I did to my config, but I now can't pull `gcr.io/google_containers/pause-amd64`.

[code]

And, when I add the pull to my startup script, I successfully pull the image:

[code]
But, the error remains. Which would suggest to me that the infra_image pull is not being used.

[2022-09-17 11:19] suikast42 commented on #14574
I have this suspicion too.

By the way activate auto_config option.

With auto_config consul generates the ACL shown below:

[code]

[2022-09-17 15:43] kirill-shtrykov commented on #14597
Hi @DerekStrickland!
I found time on weekend and check the CLI. I have same behavior with `nomad run --json job.json`. And no problem with `nomad run job.hcl`. But in this case I see that Nomad moves Vault stanza to task by itself.

[2022-09-18 08:53] Lord-Y opened #14616 "Send trafic to ingress-gateway"
Hello guys,

I'm opening an issue here as I didn't get any answer from [discuss](https://discuss.hashicorp.com/t/send-trafic-to-ingress-gateway/44054).

I’m using nomad 1.3.5 and consul 1.13.1.
I’m trying to send trafic to consul ingress-gateway deployed in nomad with the following:

[code]

[code]

[code]

[code]

From the docker container loadbalancer-nginx here is the curl result:
[code]

I cre

[2022-09-18 15:16] maxadamo commented on #9369
@tgross the syntax that you have used for the volume is now deprecated.
About `host_volume` the documentation states this:

`Exposes paths from the host as volumes that can be mounted into jobs.`

Is there another way to mount files under `/local` or `/secrets`?

[2022-09-19 08:57] EtienneBruines opened #14617 "Dynamic node metadata"
### Proposal

Adding a `HTTP PUT` for `/v1/node/:node_id/meta` to update the metadata stanza of that node.

Potential issues: what if the node reloads? Which metadata should be used? One solution would be to always use the "latest", e.g. upon reloading the file-config, using that which is defined. Ideally, the dynamic metadata would persist a reload/restart.

### Use-cases

The end-goal would be t

[2022-09-19 13:04] DerekStrickland commented on #14597
Thanks for testing that out and the providing extra information.

[2022-09-19 13:45] DerekStrickland commented on #12465
@tgross  Thanks for the heads up. Sorry for the delay.  The testing we're doing is not complete, but is actively ongoing.

[2022-09-19 15:17] shoenig opened #14618 "services: zombie service in nomad service provider"
[code]

I've been playing whack-a-bug getting this job to run, there were client restarts and task failures, etc, and eventually got it working but also noticed in the end there are 2 services registered when there should be only 1. ~Not great, but the real problem now is there doesn't seem to be a way to delete the zombie service. Stopping the job does not clean it up, and the `service delete` co

[2022-09-19 15:18] fumblehool commented on #13594
Hi! @tgross
I've used Nomad and I really Love it!
I would love to work on this if nobody is currently working on this.
Please assign this to me 😄

[2022-09-19 17:36] tgross commented on #13594
All yours, @fumblehool! Take a look over the contributing guide and once you've made a PR we'll be happy to review it!

[2022-09-19 19:58] lgfa29 commented on #14617
Thanks for the idea @EtienneBruines.

We've heard a few similar requests in the past. I placed the item for further scoping and roadmapping. We will let you know if have any further updates.

Thanks again!

[2022-09-19 20:35] brahima commented on #12588
Hello,

With the great new features/enhancements of Nomad 1.4 (beta as i'm writing this), that would be great to have a simple DNS resolution feature.

That would allow this kind of thing (see code below). My exemple is adapted for [HaProxy configuration](https://www.haproxy.com/blog/dns-service-discovery-haproxy/) file with [consul DNS resolution feature](https://learn.hashicorp.com/tutorials/nom

[2022-09-19 20:37] lgfa29 commented on #14613
Hi @bew 👋

This is actually the expected result. As you pointed out HCL functions are evaluated at job submission, which happens when you run `nomad job run`. After this, the job is stored as JSON and HCL is not involved anymore.

When you run `nomad job dispatch`, Nomad will use the stored JSON representation to create the child job, so it doesn't have any HCL function to run. You can see this wh

[2022-09-19 20:37] #14613 closed

[2022-09-19 21:15] bew commented on #14613
For me, in the case of `basename` at least, it can usually be implemented as a pure function, just looking at the input, returning `.` for a path given without parents.

What happens on the call to the basename hcl function then?
If it's just bypassed, would it be possible to have a warning on job submission? (as I don't think there is a reasonable case where this is an ok thing)

[2022-09-19 21:50] lgfa29 commented on #14614
Hi @pruiz 👋

Thanks for the report. Client config reload is kind of a tricky area because there are all sorts of dangerous race conditions that can happen during this process, so for now there is a very specific list of configuration values that are reloaded:
https://www.nomadproject.io/docs/configuration#configuration-reload

That being said, I was investigation the history of this part of the co

[2022-09-19 21:54] lgfa29 commented on #14613
It returns just `NOMAD_META_input` since there's no path to break into `dirname` and `basename`. That's why the final JSON has `--- ${NOMAD_META_input}` 🙂

[2022-09-19 22:18] bew commented on #14613
Did you already considered adding a warning when passing a `NOMAD_META_` to an hcl function? or more generally when giving any reference to a thing that is currently unknown / that cannot be resolved to a value?

Or has this been discussed already?

[2022-09-19 22:52] shoenig opened #14623 "services: handle lots of tags more gracefully in service CLI commands"
Using nomad services with tag information for registering into traefik (a common example) leads to some tough to look at CLI output.

e.g.

[code]

I think at the very least the `info` command could put the `Tags` column last. I'm wondering if there's something more we could do with multi-line output for tags in these extreme cases.

[2022-09-20 06:34] suikast42 opened #14624 "Nomad server node does not start after power shutwdown"
After hard power shutdown the nomad server do not come up anymore.
The client node is running.

### Nomad version
Output from `nomad version`
Nomad v1.4.0-beta.1 (d17021a366178a11b79353f13735389629102d6a)

### Operating system and Environment details
Ubuntu 22.04
### Issue

Nomad server node does not start after power shutwdown

### Nomad Server logs (if appropriate)
WARNING: keyring exists but -e

[2022-09-20 07:54] Netlims commented on #6715
Hi @tgross , Any news maybe? Is there anything else you need from us?
We are experiencing this issue on a daily basis so we can give you any information you need.
If this would help I can offer a remote session where I'll share my screen and you will be able to investigate it online.

[2022-09-20 09:16] pruiz commented on #14614
Hi @lgfa29,

From what I see, Reload() on cni code is a noop, because the way it works is the fingerprint manager, after calling Reload, re-does the actual fingerprinting by calling 'fingerprint' on each (reloadable) fingerprint implementation again, see this code from fingerprint manager:

<img width="1073" alt="image" src="https://user-images.githubusercontent.com/191225/191218854-671d33be-76e1-

[2022-09-20 10:42] yaroslav-007 opened #14625 "Nomad Operator API ignores https protocol from NOMAD_ADDR"
### Nomad version
nomad version used: 1.3.3

### Operating system and Environment details
No needed
### Issue
`nomad operator api` creates  http connection address ignoring the `https` protocol in  NOMAD_ADDR env variable
### Reproduction steps

[code]

#### Expected Result
`nomad operator api ` should constant the URL with HTTPS  when nomad address is with HTTPS

#### Actual Result
nomad is const

[2022-09-20 13:18] shoenig opened #14626 "docker: cpuset_cpus setting being ignored"
It seems setting `cpuset_cpus` in the `config` block of a task using the docker driver has stopped having an effect.

docker api confirms the setting is being set in the docker container config
[code]

but the `docker-` cgroup is allowed the full set of cores
[code]

as is the nomad managed cgroup from which the values are copied from
[code]

<details><summary>example job</summary>

[code]
</detai

[2022-09-20 14:42] jrasell opened #14627 "template: use a parsed Consul config to support sockaddr addresses"
The Nomad documentation states the [Consul address](https://developer.hashicorp.com/nomad/docs/configuration/consul#address) parameter supports sockaddr functions to lookup the address at runtime. The template is executed within the [ApiConfig()](https://github.com/hashicorp/nomad/blob/54474a9534ca8f105ca5c35ec2f11a3f7602c485/nomad/structs/config/consul.go#L255-L261) function call which is used by

[2022-09-20 15:01] shoenig commented on #14626
I believe what's happening is, we added support for `resources.cores` (Apr 2021) after the docker driver config supported `cpuset_cpus`, (Nov 2020) which then stopped behaving as expected because Nomad will always add allocations to a "shared" cpuset managed by Nomad containing all cores that have not yet been reserved.

On systems with cgroups v2 instead of a shared cpuset cgroup, the cpuset book

[2022-09-20 15:18] mikenomitch opened #14628 "Add link to Support Docs from main docs"
### Proposal

[The Support help page](https://support.hashicorp.com/hc/en-us/categories/115001976467-Nomad) is fairly hidden. It would be nice to link to this from our [main docs page](https://developer.hashicorp.com/nomad/docs).

We should:
* Add a link from our docs homepage: https://developer.hashicorp.com/nomad/docs
* Add a link to the resources section of the sidebar called: "Help Center" (th

[2022-09-20 15:33] shishir-a412ed commented on #14626
We are trying to run cockroachDB in NUMA configuration, and the issue we are seeing is Nomad is not respecting `cpuset_cpus` (Nomad docker driver option) and end up using all the cores.

E.g. If we deploy the below nomad job (This is just an example job, not the real job) on a physical node with two NUMA nodes `node0` and `node1` (64 vCPUS) with the following configuration.

[code]

[code]

We wou

[2022-09-20 15:36] MageshSrinivasulu commented on #9785
Is there any update on the issue I am facing a similar problem when the pod starts up envoy sidecar failing with the error

`[2022-09-20 11:28:42.859][1][warning][config] [bazel-out/k8-opt/bin/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:101] DeltaAggregatedResources gRPC config stream closed: 16, unauthenticated: ACL not found`

[2022-09-20 17:00] tomqwpl commented on #14531
The reason I think that I have a bunch of jobs that are "stuck" and not being GCd is these extra evaluations. Looking at the code, the job GC logic looks at all evals associated with a job and checks whether those evals are eligible based on the threshold. Only if all evals are eligible is the job garbage collected. Since there seems to be a new eval created for each of these jobs every couple of

[2022-09-20 17:17] tgross commented on #14531
Thanks @tomqwpl. There seems like enough info here for me to attempt a reproduction. Let me give a go at that and I'll come back with more details or next places to look.

[2022-09-20 18:06] tomqwpl commented on #14531
Looking at the code, and the fact that we have a custom task driver, my guess is that the most likely reason for these "node update" evaluations is the driver being updated in some way (there are no devices and no csi volumes). From the code (func (c *Client) updateNodeFromDriver) this is a cause of the "state changed, updating node and re-registering" message.

If I look in the nomad ui and look

[2022-09-20 18:10] tgross commented on #14531
My first repro attempt was against a cluster with 3 low-powered servers with 3 nodes. I ran the following script until I saw GC run. Memory never got above ~230MB RSS, and I don't see any `node-update` evals whatsoever.

[code]

[code]

Oh, yes that seems really plausible.

It might, but I'll warn you that attaching a debugger to Nomad is tricky because there are a lot of concurrent goroutines. It

[2022-09-20 18:39] lgfa29 commented on #14624
Hi @suikast42 👋

Thanks for reporting the issue. This seems like a data corruption issue in BBolt due to the power shutdown. A similar problem is described here: https://github.com/etcd-io/etcd/issues/10466.

Normally the recovery procedure would be to delete the corrupted server `data_dir` and have it join the cluster again, where it would replicated the Raft logs from the other servers. But it s

[2022-09-20 21:43] olanmills commented on #11052
How is this not a higher priority issue? It seems like one of the main features of Nomad is to orchestrate jobs for you, yet it's not reliable and you have to orchestrate it yourself anyway. At the very least, you need to update your documentation so that people know that prohibit_overlap doesn't actually work. You're still advertising the feature in your documentation here:
https://www.nomadproje

[2022-09-20 22:06] mikenomitch commented on #517
This should be handled with [spread](https://www.nomadproject.io/docs/job-specification/spread) now.

[2022-09-20 22:06] #517 closed

[2022-09-20 23:18] jdoss commented on #13303
Hey @jrasell any update on getting this sorted out? I'd like to move away from Consul service discovery over to Nomad service discovery so I can use it with traefik's new Nomad integration. https://traefik.io/blog/traefik-proxy-fully-integrates-with-hashicorp-nomad/

[2022-09-21 07:34] tomqwpl commented on #14531
OK, I've tracked it down. When I said "the driver attributes we set in the fingerprint don't change though", turns out that wasn't quite true:
[code]
This is causing the node update to be prompted.
I will fix that up and see whether that makes a difference to things.

[2022-09-21 10:14] jrasell opened #14636 "driver: allow operators to disable logmon process spawning"
PR https://github.com/hashicorp/nomad/pull/6820 added an experimental driver interface which allowed operators to disable logmon process spawning. This interface is only available to builtin drivers as it was not added to the driver capabilities functionality to allow for UX improvements and modifications to the interface.

In some cases, cluster operators would like to disable spawning logmon pro

[2022-09-21 11:43] stswidwinski commented on #14605
@jrasell, thanks for tagging and triaging! I'm curious if you have a sense of when the roadmapping / triaging / discussion would happen (weeks / months)?

If accepted by the team, I'm happy to provide a PR to facilitate the change and save myself from working around the issue at hand. Let me know what you think

[2022-09-21 11:51] geovannyAvelar commented on #13594
@fumblehool I'm so sorry. I worked on this issue without assignment. I sent a PR yesterday, but don't worry, go ahead and send your PR. You assigned it first so it's all yours.

[2022-09-21 11:51] #14531 closed

[2022-09-21 12:39] tgross commented on #14531
Oof, that's a subtle gotcha! So glad that you've got it figured out!

[2022-09-21 12:48] tgross commented on #13594
Oops, that happens! How about we review #14631 and maybe pull @fumblehool in for comments if they've already started work?

[2022-09-21 13:45] jrasell commented on #13303
Hi @jdoss, the team have unfortunately been busy on other prioritised work. We are doing some roadmapping in the coming weeks though, so I will keep this issue in mind and add any updates as they are known.

[2022-09-21 15:39] suikast42 commented on #14624
Hi @lgfa29

thanks for the clarification. You ara right. The problem occurs on a single sever worker setup on my local machine.
I will consider that the three server setup is required for situations like this.

For reproduce this issue I must do hard powershutdown on my window host machine. I am a little bit affraid of that. But maybe at the weekend.  Maybe it needs a revocer of windows itself :-D

[2022-09-21 15:55] lgfa29 commented on #14624
Ah yes, I certainly wouldn't want you to crash any more nodes 😄

What I meant was that, if you still have the corrupt file available, to test the `bbolt` CLI commands to see if it's able to restore the file.

[2022-09-21 19:30] suikast42 commented on #14624
I have some problems with my business notbook. If I plug off my docking station the whole system freeze. It's easy to reproduce 😄

[2022-09-21 20:25] krishnaprateek6 commented on #13198
is there any info or progress on why systemctl restart nomad takes too long for nomad service to restart please

[2022-09-21 22:09] kyledicesare opened #14644 "UI making frequent requests with no delay on task groups page"
### Nomad version
Output from `nomad version`
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)
I've also seen this on Nomad v1.2.12 (ad603b02153700fae06e2487ae2b5a164ffa2c4d)
### Operating system and Environment details
Ubuntu 22.04 (I've also seen this on other versions of Ubuntu)
### Issue
The task groups page is making requests for /v1/job/jobname with no delay between them. I've noticed

[2022-09-22 01:55] philrenaud commented on #14644
Thanks for raising this, @kyledicesare — we'll give this a look as soon as possible.

[2022-09-22 07:09] jrasell opened #14647 "e2e: test `TestSpread/TestSpread_Multiple` is flakey"
The work conducted in PR #14598 did not completely fix the E2E test and rather made it so that it is now an occasional flake as demonstrated within [this E2E test run failure](https://app.circleci.com/pipelines/github/hashicorp/nomad-e2e/616/workflows/d944fc9b-2aa1-47f5-9bd7-8488c307b20c/jobs/3566/tests#failed-test-0). It is possible the code included within the PR has a bug, or that the spread te

[2022-09-22 08:02] suikast42 opened #14648 "Lifecycle poststart after service is healthy"
The current behaviour of post start is defined as "Will be started once all main tasks are running".

That means that the posstart logic starts if the deployment is started. But that means the service is under circumstances not healthly.

So the potstart logic mus deal with that.

A better approach could be that the poststart logic can define the helath state of the dependant service.

[code]

[2022-09-22 13:44] #14625 closed

[2022-09-22 13:50] #13826 closed

[2022-09-22 13:50] #13827 closed

[2022-09-22 14:13] Rumbles commented on #14597
We are seeing this issue when using the "nomad_job" resource from terraform with a hcl based jobspec file. Moving the vault stanza to the task seems to solve the issue for us

Using nomad 1.3.5

[2022-09-22 14:21] lgfa29 commented on #14616
Hi @Lord-Y 👋

I'm a little confused about your intended goal, so if you could expand a little bit on what your final goal is that will be super helpful!

The way you currently have things setup is not expected to work. Your Nginx load balancer is trying to connect ***to*** the ingress as an upstream.

[code]

So what you currently have is this:
![image](https://user-images.githubusercontent.com/77

[2022-09-22 14:28] DerekStrickland commented on #14505
Linking this to #11052.  This is possibly a duplicate.

[2022-09-22 14:29] DerekStrickland commented on #11052
Referencing #14505 as a possible duplicate issue.

[2022-09-22 14:32] DerekStrickland commented on #14505
@sammynx  Do you have the logs available, and if so can you tell if a leader election was in progress?

[2022-09-22 14:36] ChaiWithJai opened #14654 "`Ports` table should always show."
### Nomad version
Output from `nomad version 1.3.5`

### Operating system and Environment details

### Issue
The `Ports` table should always show.

### Replay of the Bug
[Watch the Replay](https://app.replay.io/recording/allocation-ig-bridge-demoingress-group0-nomad--677d0c42-4762-4f20-8bdd-64aa5529a101)

#### Expected Result
`Ports` table always shows.

#### Actual Result
`Ports` tables sometimes

[2022-09-22 14:38] ChaiWithJai commented on #14654
@lgfa29 just opened an issue regarding this. I'll take a peak into this on Monday and we'll aim to have a patch out for `1.3.5.1`(?) not sure if I referenced the version number properly, but you know what I mean.

[2022-09-22 14:56] #13101 closed

[2022-09-22 14:58] #14579 closed

[2022-09-22 15:16] jimrazmus opened #14657 "Golang API reports Artifact Headers are an invalid key"
### Nomad version

github.com/hashicorp/nomad v1.3.5
github.com/hashicorp/nomad/api v0.0.0-20220922140200-349501f82584

### Operating system and Environment details

Mac OS 12.5.1

### Issue

Calling jobspec.Parse (github.com/hashicorp/nomad/jobspec) with a job containing an artifact clause with 'headers' fails and reports that 'headers' is an invalid key.

Looking at the parseArtifacts function i

[2022-09-22 15:16] philrenaud opened #14658 "[ui] Variables: warn users before leaving a partially-filled form"

[2022-09-22 16:23] lgfa29 commented on #14624
Cool, so if this happens again, try those `bbolt` commands and see if they fix the problem 🙂

I'm going to go ahead and close this for now, since there's not much Nomad can do about it. If your experience with the `bbolt` CLI goes well we can document the process to help others.

[2022-09-22 18:49] #13595 closed

[2022-09-22 19:13] lgfa29 commented on #14657
Thanks for report @jimrazmus!

This is also a problem when running `nomad run -hcl1`. For a while we were deciding on how to handle and deprecate HCLv1 parsing, but it was decided to keep support for both for now. This change was probably caught in the middle of that discussion.

Just as a heads up, the `jobspec` and `jobspec2` packages are not part of the `api` package, so we don't have any break

[2022-09-22 19:20] philrenaud opened #14666 "[ui] Service Health Checks: update design to show timings, explicit failures"
https://user-images.githubusercontent.com/713991/191832899-b83d586b-5c32-4b85-989e-99904f55691d.mov

[2022-09-22 19:50] lgfa29 commented on #14648
Thanks for the suggestion @suikast42 🙂

We're usually a little reluctant to add coordination between entities that would require the server to act (like dependencies between jobs), but something like this could maybe be implemented with just data available to the client.

I added it to our backlog for further roadmapping.

Thanks again!

[2022-09-22 20:17] daniel1302 opened #14668 "Nomad binary crashed due to go-getter error"
### Nomad version

[code]

### Operating system and Environment details

Linux ubuntu

### Issue

When i deploy **incorrect** job, the nomad client is failing and going down. Then i have to remove job + remove nomad data on the broken client for that allocation to be able start it.

### Reproduction steps

I suspect it is caused by incorrect artifact - `...789//data-node`

[code]

#### Expected Re

[2022-09-22 20:24] jorgemarey opened #14669 "Autoscaler changes count in the middle of a deployment"
### Nomad version
v1.3.4

### Issue

Autoscaler changes count in the middle of a deployment.

### Reproduction steps

1) Run the job
2) Make a change to the job (have a sufficiently large healthy_time so the autoscaler can perform scaling actions)
3) Launch request to make the autoscaler try to scale the job

#### Expected Result

I expected that the job wouldn't scale during the deployment, but i

[2022-09-22 20:49] lgfa29 commented on #14613
When the job registration happen Nomad needs to be completely agnostic as to which values are passed to functions. `NOMAD_META_` is not correct in your case, but it could in others, so we can't make that kind of validation.

[2022-09-22 22:18] DingoEatingFuzz opened #14672 "Storybook: Data visualization stories aren't loading data"
### Issue

Several of the line chart stories are not loading data. I haven't dug into why and I don't know how long it's been this way but I know there is some funny business in some of these stories. There's a chance it was Ember upgrade related. If not Ember itself maybe a related dependency.

### Reproduction steps

Visit this story or some of the other ones: https://nomad-storybook-and-ui.verc

[2022-09-22 22:44] lgfa29 commented on #14614
Ah right, I missed that detail that the fingreprinter will run again thanks!

So it does seem like we may have forgotten to invoke the `FingerprintManager.Reload`method during the initial implementation 😞

I will try to get some tests for this, probably in our end-to-end test suite. But thanks for the report and the PR!

[2022-09-23 11:04] suikast42 commented on #14648
Thank you well ✌️

[2022-09-23 15:15] Allan-Nava commented on #11814
How to send the entire log message from nomad job to graylog?

[2022-09-23 17:45] attritionorg commented on #6430
Apologies for replying to an old issue, but can you verify that CVE ID please?

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12741
https://github.com/jamesagnew/hapi-fhir/commit/8f41159eb147eeb964cad68b28eff97acac6ea9a
https://github.com/jamesagnew/hapi-fhir/issues/1335
https://github.com/jamesagnew/hapi-fhir/releases/tag/v3.8.0

The vulnerability described in this issue sounds consider

[2022-09-23 18:04] bjornbyte opened #14676 ""cores" parameter in resource stanza not behaving as expected"
### Nomad version
Output from `nomad version`
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
Windows 11 WSL

### Issue
When attempting to schedule a job with
[code]
in the `task` stanza, plan is returning `Dimension cores exhausted on 1 node` even though there are no other jobs running and the client attributes in the UI shows `cpu.numcores |

[2022-09-23 18:06] fumblehool commented on #13594
No issues @geovannyAvelar.
Fortunately, I was planning to work on the weekend 😅

[2022-09-23 18:13] tgross commented on #6430
@attritionorg that does look wrong to me. The other CVEs from the same release show up as "reserved" on Mitre too. I'd need to follow up with our product security folks (cc @picatz) to dig up our internal records on that, as these versions are out of support for us and so not really on our radar right now.

[2022-09-23 18:17] attritionorg commented on #6430
@tgross Appreciate the quick follow-up. It's rare to see a duplicate assignment across products like this, as dupes tend to be within the same organization.

[2022-09-23 19:18] philrenaud opened #14678 "[ui] Visual Diff tests w/ Percy: expand to major app features"
Now that [Percy tests are stable](https://github.com/hashicorp/nomad/pull/14551), we should aim to get visual regression tests established in other major parts of the app.

Top-level routes:
- [x] Clients index
- [x] Jobs index
- [x] Servers index
- [x] Evaluations
- [x] ACL Tokens
- [x] Topology
- [x] Variables
- [x] Volumes
- [ ] Optimize

Specific flows and child routes:
- [x] Creating and view

[2022-09-23 20:53] #14666 closed

[2022-09-23 20:53] #14658 closed

[2022-09-23 21:14] lgfa29 commented on #14669
Hi @jorgemarey 👋

That's definitely not expected since the Autoscaler [has a check to avoid scaling groups while a deployment is active](https://github.com/hashicorp/nomad-autoscaler/blob/v0.3.7/plugins/builtin/target/nomad/plugin/plugin.go#L148-L153).

Do you see any scaling events for the job? You can use the [`nomad job scaling-events`](https://developer.hashicorp.com/nomad/docs/commands/job/sc

[2022-09-23 21:15] lgfa29 commented on #14668
Thanks for the report @daniel1302!

We are investigating this problem and we will get back to you once we have more information.

[2022-09-23 21:28] lgfa29 commented on #14676
Hi @bjornbyte 👋

Nomad detected 16 cores in the machine, but none of them are set as reservable:

[code]

This may be due the issue described in https://github.com/microsoft/WSL/issues/4189 where WSL doesn't mount cgroups by default, which is what [Nomad uses to detect reservable cores](https://github.com/hashicorp/nomad/blob/v1.3.5/client/fingerprint/cpu_linux.go#L11).

Could you try the fix ment

[2022-09-24 00:28] bjornbyte commented on #14676
That appears not to have helped, unfortunately.

[2022-09-25 13:11] suikast42 commented on #11925
Can we reopen this issue ?

The docker daemon can only mirror image pulls releated to docker.io. It's not like containerd so that I can mirror every pull request.

![image](https://user-images.githubusercontent.com/5046525/192145152-52c045b3-7238-4bcc-b15c-a953b7baa4fc.png)

That is not so feasible in a airgapped ennvironment, isn't it?

[2022-09-25 13:19] suikast42 opened #14682 "Nomad native registry mirroring"
Due to docker can only mirror docker.io and nomad uses for example the image gcr.io/google_containers/pause-amd64, it is not possible to have a 100% air gapped environment with the docker daemon.

I see a closed [issue](https://github.com/hashicorp/nomad/issues/11925). But IMHO this is critical for airgapped environments.

![image](https://user-images.githubusercontent.com/5046525/192145438-e9c631

[2022-09-25 13:27] suikast42 commented on #14682
I see a infra_image stanza in docker driver stanza. That could be workarround for this.

A stanza like image_mirror could be more helpful imho. With the infra_image you must track the version releases of that image.

[2022-09-25 19:17] pruiz commented on #14614
@lgfa29 sure, np. Glad to help ;)

[2022-09-26 09:52] ebarriosjr commented on #4740
@schmichael any updates? We could also really use this feature.
Thanks!

[2022-09-26 14:23] ChaiWithJai commented on #14644
@philrenaud going to start picking up this investigation on Wednesday of this week.

[2022-09-26 15:23] Lord-Y commented on #14616
Hi @lgfa29 Thx for your reply. I'm going to explain you my goal.
I have an application deployed in multiple namespaces in nomad.
I barely touch the loadbalancer-nginx configuration.
I wanted to have nth ingresses instance per namespaces and potentially modify his configuration in namespace A but not B.
Based on headers, the `loadbalancer-nginx` will send the trafic to the appropriate `ingress-gate

[2022-09-26 15:23] #14616 closed

[2022-09-26 15:25] ChaiWithJai opened #14689 "[docs] write documentation for contributing to UI E2E test suite"

[2022-09-26 16:31] shoenig commented on #14676
Hi @bjornbyte, without cgroups (and specifically the cpuset controller) you won't be able to make use of `resources.cores`, which is based on using cgroups to isolate work across physical cores. As a workaround you can use `resources.cpu` to specify the amount of CPU resource for the Nomad scheduler to allocate to the task in terms of MHz.

[2022-09-26 18:46] shoenig opened #14698 "cleanup: rename Equals to Equal"
tl;dr `s/Equals(/Equal(/g`

Much of Nomad's code predates Go convention, including our `Equals` methods. It seems `Equal` (no s) is becoming the norm.

https://pkg.go.dev/golang.org/x/exp/maps#Equal

Let's update Nomad to follow the convention.

[2022-09-26 19:05] philrenaud opened #14700 "[UI] Visual Diff tests: Exec"

[2022-09-26 19:22] philrenaud opened #14703 "[ui] Visual Diff tests: error states"

[2022-09-26 20:10] philrenaud opened #14708 "[ui] Visual Diff tests: Task Logs"

[2022-09-26 20:26] bjornbyte commented on #14676
Thanks.  could it be that WSL (or the ubuntu version I'm running there) is not putting these where nomad expects them?
I have

[code]

and

[code]

I took a quick look at the code you linked to around detecting reservable cores, and there seems to be a conditional branch around using v1 or v2, and some of the comments etc there seem to indicate that I've got a "hybryd system" with cgroup2 mounted

[2022-09-26 20:38] shoenig commented on #13802
Pretty sure this was fixed between https://github.com/hashicorp/nomad/pull/14127 / https://github.com/hashicorp/nomad/pull/14009 which addressed some pretty old / bad logic around allocation restarts.

[2022-09-26 20:38] #13802 closed

[2022-09-26 20:51] shoenig commented on #14676
Oh interesting, so it's setup with cgroups v1, but we should be able to support that. I'm not sure why you're getting an empty cpuset. When you first startup the Nomad Client agent, do you see any of the WARN log messages from
https://github.com/hashicorp/nomad/blob/v1.3.5/client/lib/cgutil/cpuset_manager_v1.go#L32  ?

[2022-09-26 20:57] bjornbyte commented on #14676
I don't see any of those, but I do see this one, which looks suspiciously like it might be important:

[code]

[2022-09-26 21:02] bjornbyte commented on #14676
so, yea, if I run nomad with sudo then:

[code]

[2022-09-26 21:08] bjornbyte commented on #14676
after that, since the /sys/fs/cgroup/cpuset/nomad directory exists, if I start it without sudo I get a warning
`    2022-09-26T14:06:27.997-0700 [WARN]  client.cpuset.v1: failed to ensure reserved cpuset.cpus interface exists; disable cpuset management: error="mkdir /sys/fs/cgroup/cpuset/nomad/reserved: file exists"`
but it still works.

[2022-09-27 12:30] blmhemu opened #14715 "Ability to run scripts periodically in existing jobs."
### Proposal
A mechanism to run scripts in a task periodically or cron based. For example, if when running a postgres task, we need a way to dump databases periodically for backup.

### Use-cases
One particular use case is to create database dumps for backups.

### Attempted Solutions
Recently change scripts has been introduced in the templates. On hacky way to do this is to re-render the template

[2022-09-27 13:04] tomqwpl opened #14719 "Provide method of defining greater than/less than constraints on numeric attributes"
There appears to be no method of defining a >, >=. <, <= constraint on a numeric attribute such as memory.totalbytes or cpu.numcores.
I naively created such a constraint and it didn't work as expected. The documentation does say that the comparison is done lexicographically.

Could a means be provided to do a numeric comparison for attributes? Something like a custom driver attribute, or a user me

[2022-09-27 13:36] shoenig commented on #14676
Ah, that'll do it it! Just FYI running Nomad as a non-root user isn't supported yet, but it's something we're exploring in https://github.com/hashicorp/nomad/issues/13669

[2022-09-27 13:36] #14676 closed

[2022-09-27 13:47] shoenig commented on #14715
Hi @blmhemu that's an interesting idea, especially since as you point out Nomad can already run scripts in the context of individual tasks. I do wonder though if there's substantial use-cases that couldn't be covered by the already-existing support for [periodic jobs](https://www.nomadproject.io/docs/job-specification/periodic) - which unlike these scripts would have the full capabilities of the N

[2022-09-27 14:03] tgross commented on #7978
Note for implementation: one of the things we deliberately did with [Task Access to Variables](https://www.nomadproject.io/docs/concepts/variables#task-access-to-variables) was to prefix the task variables path with `nomad/jobs`, leaving room for us to do something like `nomad/volumes` in the future. We could automatically grant claims access to secrets that match the volume name in the same way w

[2022-09-27 14:24] #14700 closed

[2022-09-27 14:25] #14708 closed

[2022-09-27 15:34] kirooshu commented on #10628
We would like to see this implemented for Nomad as well. Mainly echoing @apollo13's comment from above, 100%.

[2022-09-27 16:07] #4729 closed

[2022-09-27 16:07] #14719 closed

[2022-09-27 16:18] #14657 closed

[2022-09-27 16:57] lgfa29 commented on #14616
I think this may be the part that is confusing you. The ingress gateway, by definition, lives at the edge of the mesh. Its goal is to bridge the traffic from outside the mesh into the mesh.

If both `nginx` boxes were inside the mesh, then they can communicate directly through their sidecars and you would have no need for the ingress gateway. You actually be creating your own ingress gateway 😅

[2022-09-27 18:04] tgross commented on #13380
@scaleoutsean thanks for that reference. It looks like the k8s folks have at least at some point nudged the spec folks about this very issue: https://github.com/container-storage-interface/spec/issues/465#issuecomment-739046063. Our team is currently focused on getting Nomad 1.4.0 out the door, but I think this is worth having further discussion about here once we've got some breathing room.

[2022-09-27 18:27] bjornbyte commented on #14676
roger that, but it is a handy mechanism to create the right filesystem nodes so that it works when run as normal.

Now what I really was after was getting cores working in my local docker compose nomad cluster with multiple client agents running in containers, but what I learned here should help with that and I will open a new issue if I encounter something else that is a nomad problem and not my

[2022-09-27 18:29] bjornbyte commented on #14676
oops, I misread.  it's not supported as non-root, although that usually seems to work just fine in dev mode.

[2022-09-27 19:46] #14703 closed

[2022-09-27 19:55] tgross commented on #13219
Ok, I had a chance to review this issue in a detail following the switch to the raft-autopilot library. The ask here is "just" to emit the autopilot state metrics from the followers. But the reason we don't emit the metric from the followers is because that in Nomad we only run autopilot on the leader. The followers don't know the autopilot state, so they can't emit correct metrics for it!

Wherea

[2022-09-27 20:39] tgross commented on #13219
Ok, I had a chance to chat with Matt sooner than expected, and those autopilot features were intended to support the new Consul dataplane work (see [CSL-166](https://docs.google.com/document/d/1EsdzYWUHfgH_KjyK7o2xTYDEnvg7Val74YnlqLUpcCk/edit#) for internal folks). So nothing that helps us on Nomad directly.

However, Matt pointed out that not having autopilot running on the followers and getting

[2022-09-28 07:11] henrikjohansen commented on #14715
@blmhemu Right now we use a rather hacky approach that involves special periodic jobs running commands against selected allocations using `nomad alloc exec`.  Doable but somewhat tedious.

Having a `periodic {}` stanza for individual tasks in a task group or perhaps a periodic hook for `lifecyle {}` would probably be a better option :grin:

Some of the use-cases we try cover with this approach are

[2022-09-28 13:17] henrikjohansen opened #14732 "nomad service info <service_name> always returning "No service registrations found""
### Nomad version
Nomad v1.4.0-rc.1 (6aa153c9af6420fc85e9d146fbbb01cf9c9a31fe)

### Issue
`nomad service info <service_name>` returns "**No service registrations found**" even though `nomad service list ` shows <service_name> to be registered.

### Reproduction steps
1. Run the attached job file.
2. Check that the redis service is registered

[code]
3. Run the `nomad service info ` subcommand

[co

[2022-09-28 13:32] shoenig commented on #14732
Hi @henrikjohansen, can you confirm that an allocation for this job is successfully placed and running?

e.g.

[code]

[2022-09-28 14:43] henrikjohansen commented on #14732
Hi @shoenig, yes an allocation was in fact running.
I could also see the service details and health check results in the UI? :thinking:

I resubmitted the job (`nomad stop -purge example && nomad run example.nomad)` and now `nomad service info <service_name>` returns the desired output - not quite sure why? :man_shrugging:

[2022-09-28 14:43] #14732 closed

[2022-09-28 16:03] Mileshin opened #14734 "After rendering the template, the script runs constantly restarts"
Nomad v1.3.5
I'm trying to set up nginx to reload the config generated from a template:
[code]
To do this, I set the change_mode = "script" value in the job and add the change_script section.
[code]

When the template changes, the script is executed. However, after that it starts to run continuously.

![image](https://user-images.githubusercontent.com/23279846/192826100-82d44744-681f-4245-a5e3-11e

[2022-09-28 20:44] jdoss opened #14737 "Nomad 1.4 can no longer allocate tasks if the nobody user is missing from /etc/passwd"
### Nomad version
Output from `nomad version`

Nomad v1.4.0-rc.1 (6aa153c9af6420fc85e9d146fbbb01cf9c9a31fe)

### Operating system and Environment details

Fedora CoreOS 36.20220906.3.2

### Issue

Nomad 1.4 can no longer allocate tasks if the `nobody` user is missing from `/etc/passwd`. Nomad 1.3.x works just fine on Fedora CoreOS.  When launching a job on 1.4 I get this error on the task:

[code]

[2022-09-28 20:58] jdoss commented on #14737
It looks like in 1.3.x this issue was impacting the exec driver only https://github.com/hashicorp/nomad/issues/13047, but now in 1.4 it is impacting all jobs from what I can see.

[2022-09-28 21:43] jdoss commented on #14737
From https://github.com/hashicorp/nomad/issues/13047 it talked about https://pkg.go.dev/os/user#Lookup being used.

It looks like the Makefile is setting the `osusergo` tag which will disable cgo and this will cause `user.Lookup("nobody")` to manually parse `/etc/passwd` instead of using `getpwnam`. Removing the `osusergo` tag and building with cgo fixes things:

[code]

[2022-09-28 21:56] jdoss commented on #14737
Looks like https://github.com/hashicorp/nomad/pull/14583 from 15 days ago is causing things on Linux to go sideways. @lgfa29 can be reverted so Linux user direction works again?

[2022-09-28 22:47] quinndiggitypolymath commented on #14644
I am also seeing this behaviour - the following UI pages result in thousands of requests being sent in just a few seconds:
[code]

[2022-09-29 12:37] tgross commented on #14737
Hi @jdoss so the reason we switched to `osusergo` for the lookup wasn't because of the exec driver (which is that open issue https://github.com/hashicorp/nomad/issues/13047), but because we were experiencing _crashes_ because of the call to `getpwnam_r`. See https://github.com/hashicorp/nomad/issues/14235. We're doing that before we hand off to libcontainer to create the pivot root (on Linux where

[2022-09-29 14:32] tgross commented on #14737
@jdoss we've just merged https://github.com/hashicorp/nomad/pull/14742 with what we think will fix the underlying bug, and will remove the `osusergo` tag. We're in the midst of discussing whether we'll cut a RC2 or whether this will go out in the GA, but I'll report back here when we know more.

Thanks for trying out the RC and catching this before we went GA!

[2022-09-29 14:41] philrenaud opened #14744 "[ui] Give users an option to run a job from URL, or by dragging/uploading a job spec"
Add URL and drag/upload options here:

![image](https://user-images.githubusercontent.com/713991/193062106-50301e32-9879-4ae9-a09c-8033fa51ea76.png)

[2022-09-29 14:42] philrenaud opened #14746 "[ui] run an example job via the UI"
On the jobs/run route in the UI, give users the same convenience as `nomad job init` gives them from the CLI.

[2022-09-29 15:03] jdoss commented on #14737
Woop! Thanks @tgross and @shoenig for the quick turn around. 🙌🏼

I just tested things out with the changes in https://github.com/hashicorp/nomad/pull/14742 and things are working as expected.

[2022-09-29 15:49] shoenig commented on #14737
Thanks for the very clear bug report, @jdoss!

[2022-09-29 19:40] lgfa29 commented on #14734
Thanks for the report @Mileshin!

#14749 should fix this problem by enforcing the [`splay`](https://developer.hashicorp.com/nomad/docs/job-specification/template#splay) timeout value, which defaults to `5s`.

[2022-09-29 20:05] tgross commented on #8588
Fixed by https://github.com/hashicorp/nomad/pull/14750

[2022-09-29 20:05] tgross commented on #13468
Fixed by https://github.com/hashicorp/nomad/pull/14750

[2022-09-29 20:05] tgross commented on #13731
Fixed by https://github.com/hashicorp/nomad/pull/14750

[2022-09-29 20:12] Mileshin commented on #14734
Thank you very much!

[2022-09-29 20:37] tgross commented on #12420
`fingerprint.denylist` also needs to be reimplemented as new config.

[2022-09-29 20:40] tgross commented on #13936
👋 Haven't heard back on this one in a while and I think it's been answered at this point. Going to close this out.

[2022-09-29 20:40] #13936 closed

[2022-09-29 20:41] tgross commented on #14075
We haven't heard back on this one in a while so there's not much more we can do and I'm going to close this issue out. Please feel free to let us know if you have the debugging info we've asked about and we can reopen at that time. Thanks!

[2022-09-29 20:41] #14075 closed

[2022-09-29 20:43] tgross commented on #14280
We haven't heard back on this issue with more information, so I'm going to close it out. But if you have the information requested we'll be happy to reopen. Thanks!

[2022-09-29 20:43] #14280 closed

[2022-09-29 20:46] tgross commented on #13860
Haven't heard back on this one and there's not enough information for us to reproduce (and it feels like a Ceph config issue?). If you've got more information, we'll be happy to reopen. Thanks!

[2022-09-29 20:46] #13860 closed

[2022-09-29 20:48] tgross commented on #14328
Doing some issue cleanup and I think this one has been answered. I'm going to close it out but please feel free to add additional context and we can reopen if necessary. Thanks!

[2022-09-29 20:48] #14328 closed

[2022-09-29 20:49] tgross commented on #13933
Doing some issue cleanup and it looks like we have a solid idea at this point of where all the memory went. I'm going to close this out but if you have more context to add, we can certainly continue the conversation (and reopen if necessary). Thanks!

[2022-09-29 20:49] #13933 closed

[2022-09-29 20:57] tgross commented on #14603
Closing as this is merged into https://github.com/hashicorp/consul-template/pull/1632 which is shipping in 1.4.0-rc1 already

[2022-09-29 20:57] #14603 closed

[2022-09-30 02:03] axsuul commented on #13936
Thank you Tim, that helped. One other thing to note is that it looks like all upstream ports also need to be unique for Consul Connect.

[2022-09-30 13:20] Lord-Y commented on #13832
@tgross Thx for your reply and sorry for the very late answer.
I cannot reopen the issue but I'll reach you via the enterprise support.
After re reading the [doc](https://learn.hashicorp.com/tutorials/nomad/reverse-proxy-ui?in=nomad/manage-clusters#enable-websocket-connections) again and again, I just realise that this nginx configuration will never work in our case.

As a reminder, here is how we

[2022-09-30 15:11] #14734 closed

[2022-09-30 15:13] josh-m-sharpe opened #14761 "cluster is in healthy state, but each individual node is reporting different results for `nomad server members`"
### Nomad version
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
amazonlnux
3 node cluster
generally healthy state

I just rebooted all the servers (individually).  The cluster never falterd.  I'm not sure if this is related.  The issue may have pre-dated this cluster refresh - but i have no way to tell now.

### Issue
My three nomad servers a

[2022-09-30 15:41] tgross opened #14762 "deps: update consul-template for Nomad Variables"
A reminder for post-Nomad 1.4.0:

We've got a PR open https://github.com/hashicorp/consul-template/pull/1632 that adds support for Nomad Variables. Because the timelines for releasing consul-template, releasing Nomad 1.4.0-beta.1, and release Nomad 1.4.0 GA are intertwined, we decided there that Nomad would release with `go.mod` pointing to the commit at the HEAD of that PR. Once that's been merge

[2022-09-30 15:47] tgross opened #14763 "configurable max entry size for Nomad Variables"
Nomad Variables is shipping in Nomad 1.4.0 with a very small maximum entry size (16KiB) in order to reduce the potential performance impact of Variables on our raft store. Per-namespace control over total entry size has already been implemented via Enterprise quotas.

Once RPC rate limiting have been merged (see https://github.com/hashicorp/nomad/pull/13480) it might be worth at least considering

[2022-09-30 15:52] shoenig commented on #14761
I believe `left` servers get removed automatically only if [autopilot](https://www.nomadproject.io/docs/configuration/autopilot#autopilot-stanza) enabled.

You may be able to manually remove them with `nomad server force-leave [options] <node>`, and ensuring the `server_join` configuration is correct on each server.

[2022-09-30 15:58] josh-m-sharpe commented on #14761
Even if that's true - the inconsistency across servers is still kinda weird, no?

[2022-09-30 15:59] tgross opened #14764 "ACL policy interpolation"
If the `variables.path` label in ACL policies supported templates, we could allow finer-grained control over access to secrets. This will only be especially useful once Nomad has expanded the work on [Workload Identity](https://www.nomadproject.io/docs/concepts/workload-identity)

Example:

[code]

[2022-09-30 16:36] axsuul commented on #817
Need additional clarification on this, does draining a node always force quit tasks or will it use the configured `kill_signal`?

[2022-09-30 16:59] josh-m-sharpe commented on #14761
Fwiw, force-leave appears to have no effect here:

[code]

[2022-09-30 17:26] schmichael commented on #817
Draining a node stops tasks in the same way [`nomad alloc stop`](https://www.nomadproject.io/docs/commands/alloc/stop) or a deployment stops tasks:

1. Services are deregistered from Consul/Nomad
2. After [`shutdown_delay` ](https://www.nomadproject.io/docs/job-specification/group#shutdown_delay)the [`kill_signal`](https://www.nomadproject.io/docs/job-specification/task#kill_signal) is sent to the

[2022-09-30 17:36] tgross commented on #14682
Hi @suikast42! This is really out of scope for Nomad. If you want to set up a registry mirror you can already do so and point your image names to that, the Docker daemon will happily use that. And you'd need to set up [Authentication](https://www.nomadproject.io/docs/drivers/docker#authentication) as noted in the docs.

[2022-09-30 17:36] #14682 closed

[2022-09-30 17:53] tgross commented on #14715
Just jotting down some thoughts on this notion of "local" periodic tasks in this sense:

* The client agent can stop for arbitrary amounts of time and the tasks for an allocation are left running. When the agent comes back up, there's no way for us to know if the clock has skewed while we're down, so even if we recorded last-run we'd be at risk of having incorrect periodicity. (Which _might_ be ok

[2022-09-30 18:02] chrismo commented on #12923
I've run across the same scenario as @optiz0r ... I have a nomad server configured in AWS behind an ALB with an HTTPS cert on it, and all of the nomad CLI works just fine with NOMAD_ADDR set to https://nomad.mydomain.com ... and even `nomad operator api ${NOMAD_ADDR}/v1/jobs` works - but just `nomad operator api -verbose /v1/jobs` shows:

[code]

I'm not using any of these vars: NOMAD_CACERT, NOMA

[2022-09-30 18:27] tgross commented on #14761
Hi @josh-m-sharpe! By way of background, Nomad uses raft to back its consistent state store. But in order for Nomad to put get the raft peers together it uses [serf](https://www.serf.io/), an eventually consistent gossip protocol. Serf isn't necessarily consistent across servers, whereas raft is the fully consistent state you'd expect.

The `nomad server members` command hits a couple different en

[2022-09-30 18:31] tgross commented on #12923
This behavior was fixed by https://github.com/hashicorp/nomad/pull/14635 which is shipping in Nomad 1.4.0. If you have new problems after trying this with Nomad 1.4.0, please open a new issue. Thanks!

[2022-09-30 18:58] tgross commented on #2352
👋 I'm going to close out this issue because frankly, we're not likely to implement limits in the `exec` driver at this point without a full refresh of the driver which we've been chatting about internally. When we open an issue around an `exec` driver refresh, we'll be sure to keep this problem in mind.

@mr-karan, as for what you're seeing note that Nomad's `exec` driver doesn't set limits _at al

[2022-09-30 18:58] #2352 closed

[2022-09-30 20:14] #14644 closed

[2022-09-30 20:15] tgross commented on #2248
Doing some issue clean up. Filter queries enable most of this today. It'd be possible to add logic to query by name and then ID on the write path as well, but realistically this doesn't have a high value for us in terms of the investment. I'm going to close this one as a wontfix.

[2022-09-30 20:15] #2248 closed

[2022-09-30 20:18] tgross commented on #419
Nomad [lifecycle](https://www.nomadproject.io/docs/job-specification/lifecycle) hooks have shipped for a while now. There's an open issue still for cross-job dependencies https://github.com/hashicorp/nomad/issues/545 that covers the other use cases described here. That's a bigger project and one we've had some discussions about, but it's not on our immediate roadmap either.

[2022-09-30 20:18] #419 closed

[2022-09-30 20:21] tgross commented on #10937
Nomad's support for [Container Storage Interface (CSI)](https://www.nomadproject.io/docs/concepts/plugins/csi) plugins is the way we've tackled this problem. We still have some internal discussions going about dynamic host volumes, but for the sort of "file system driver" discussed here, CSI is the way to go.

[2022-09-30 20:21] #10937 closed

[2022-09-30 20:32] tgross commented on #7065
Rescheduling logic is entirely in the server, so there's no real point to having a separate client test for this. Closing.

[2022-09-30 20:32] #7065 closed

[2022-09-30 20:56] tgross commented on #2415
Doing some issue clean up and this one is actually done! [`filter`](https://www.nomadproject.io/api-docs/nodes#filter) expressions shipped for a bunch of the APIs in [Nomad 1.3.0](https://github.com/hashicorp/nomad/blob/main/CHANGELOG.md#130-may-11-2022)

[2022-09-30 20:56] #2415 closed

[2022-09-30 21:35] prologic commented on #2352
Hmmm it's not that hard to write the code to exec the process in a new cgroups and apply some of hte same limits you can apply in other types of Nomad jobs.

[2022-10-01 00:18] tgross commented on #2352
It's not a matter of difficulty, it's a matter of piling more features onto the `exec` driver in its current form, which we're not intending to do.

[2022-10-01 02:19] harningt opened #14768 "templates: rewrite despite no content change if owner / group configured"
### Nomad version
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
Fedora Linux clients and servers.
User Namespace configured docker instance as the primary use case.

### Issue
Adjusting the ownership / group of templates (so they are owned by the namespaced user vs "nobody") results in the template being re-rendered + update trigger every 3-5

[2022-10-01 02:28] harningt opened #14769 "template: write_file should be configurable to honor sandbox and have information on where sandbox is"
### Proposal

The `writeFile` currently is blocked by default because it allows for arbitrary access to files on the filesystem.

A version that honors the sandboxing would be useful and seems like it would just leverage the `file` utility. I'm not entirely certain - but it might also be important to switch the _view_ of that operation so that `writeFile "${NOMAD_SECRETS_DIR}/file.pem"` would writ

[2022-10-01 02:28] harningt commented on #14769
Issue brought up in discussion: https://discuss.hashicorp.com/t/uid-gid-ownership-of-template-output-in-nomad-secrets-dir-for-postgres/37239/6

[2022-10-01 02:29] harningt commented on #14768
Issue brought up in discussion: https://discuss.hashicorp.com/t/uid-gid-ownership-of-template-output-in-nomad-secrets-dir-for-postgres/37239/6

[2022-10-01 13:07] Procsiab commented on #14494
Hello there, are you running the Nomad binary with a rootless account or with root privileges?

[2022-10-01 18:06] freimer commented on #10012
I believe running a nomad client in a contain is a very valid use case when you consider GitOps and CI where you may need to run a job in nomad during a CI.  Same reason you may want to run vault, terraform, packer, consul or any of the other HashiCorp tools.  No, you are not going to run the server or agents, but the client is still a valid use case.

Anyway, this is where I'm at, trying to get a

[2022-10-01 19:48] freimer commented on #10012
Apparently there is a community version, and you can just do a apk add nomad.  This is a community version though, not straight from HashiCorp.

[2022-10-02 15:28] DarthBenro008 commented on #14170
Hi @tgross , I'd be happy to send a PR for the same, thanks for the detailed description! :D

[2022-10-02 17:25] cesarvspr commented on #14170
@DarthBenro008 I would be happy to assist if needed, please share your PR with us

[2022-10-02 17:31] DarthBenro008 commented on #14170
@cesarvspr I have raised a PR!

[2022-10-02 20:11] suikast42 opened #14776 "Sometimes can't figure out why task deployment does not start"
Nomad version 1,4.0 beta

Sometimes if I canche sometinh on the nomad job one task not starts. I see ne allocations no logs.

After I delete the job and do a nomad system gc then the task comming up..

![image](https://user-images.githubusercontent.com/5046525/193474205-0d9dd6e0-97b6-4537-97d2-8b8d1463a628.png)

[2022-10-02 20:32] LukeFlynn commented on #6385
Please fix this or offer a proper solution, I don't care if we have to run a script to do it, but something that can be automated would be nice. We've position our whole infrastructure on Nomad, and this is killing us. We would prefer not to jump ship, but I'm still concerned how this isn't affecting other users?

[2022-10-02 20:48] Oloremo commented on #6385
Affects us as well

[2022-10-03 10:26] Trojan295 commented on #11757
Hello, if there is nobody working on that right now, I would like to implement the `nomad fmt`.

My idea is to implement it like here [hclfmt](https://github.com/hashicorp/hcl/blob/f6abd7d6e0b044a58f14e21f51546407b53247f8/cmd/hclfmt/main.go).

[2022-10-03 11:08] jrasell commented on #14776
Hi @suikast42; are you able to define exactly what `not starts` means here as well as provide some context around what feature request or bug you are reporting?

Sometimes a task may take a while to start as it needs to download the artifact or Docker image to run. You can use `nomad alloc status <alloc_id>` to better understand the situation or navigate to `/ui/allocations/<alloc_id>/<task_name>`

[2022-10-03 12:36] jrasell opened #14777 "events: add ACL roles to event stream as topic subscription"
The events stream should support ACL role create and delete subscriptions. This new stream addition can follow the ACL policies stream work as a base. The state store implementation already supports this work and so should not need any updates.

[2022-10-03 12:56] josh-m-sharpe commented on #14761
Can confirm that as of this morning (2 days later), all three servers are reporting three and only three active servers.  So that's good 👍

For a tad bit more context - I first noticed this in the Nomad web UI.  We have a load balancer in front of the three nomad servers - which is configured to round robin.  As I was actively rotating the three servers -- (adding 1 to service ; taking 1 out of se

[2022-10-03 13:02] BDelacour opened #14778 "Dispatched job meta parameters in metrics"
Hello,

I'm using Nomad to handle various tasks such as services & batch jobs and I feel like a feature is missing for batch jobs : I would like to have Meta parameters as Labels in the Alloc metrics API.

### Proposal

In the task runner, there already is a specific case for dispatched jobs : https://github.com/hashicorp/nomad/blob/ff1a30fe8dd4a0da38ddd34915b0be2210d39614/client/allocrunner/taskr

[2022-10-03 13:07] tgross commented on #10012
@freimer this issue has been closed for over a year and your comment doesn't have anything to do with the Nvidia driver. There's an open issue for packaging Nomad in Docker images in https://github.com/hashicorp/nomad/issues/6487

[2022-10-03 13:14] tgross commented on #12062
@bubejur we'll update issues when we're working on them. This isn't currently on our immediate roadmap.

[2022-10-03 13:17] tgross commented on #6385
Hey folks, we update issues when we're working on them. I can say this is on our roadmap but I can't really give a timeline.

[2022-10-03 13:36] tgross commented on #14769
Hi @harningt! Unfortunately the reason that we have `writeFile` in the default denylist is because we _can't_ sandbox it properly, or at least not in a way that doesn't break a whole bunch of existing users. This has to do with the way that Nomad implemented `template` by "embedding" consul-template as a library. Nomad prepares the environment for the template to run in and then hands it off to co

[2022-10-03 13:36] #14769 closed

[2022-10-03 13:44] tgross commented on #14761
That sounds like a likely. I see what you're getting at about how not having serf in sync can be confusing, but it's also not something we can solve directly -- if the information were in sync it'd be in raft in the first place, and not in serf. Serf membership information can't be synchronous.

That being said, this is obviously not a very nice UX. At the very least, making it clear what set of i

[2022-10-03 14:05] josh-m-sharpe commented on #14761
Maybe some ideas:

1) a non-leader responded with data from itself rather than polling the cluster or just redirecting to the leader
2) The leader should poll the cluster and compile that information to show in the Nomad UI - thus showing a complete picture of the Nomad cluster, and not a snapshot of the raft/serf protocol happening on that one box.

The 'servers' page is afterall a Nomad interfac

[2022-10-03 14:20] tgross commented on #14778
Hi @BDelacour! As you've noted, this probably isn't the sort of thing we'd want to do by default, because emitting metrics (particularly ones that can be quite large) can get expensive for cluster administrators. I don't have a solid idea of a good UX for this configuration, but I'm going to mark this for roadmapping and further discussion.

[2022-10-03 16:53] FibreFoX commented on #11285
I am new to the nomad-game, but I want to get into using nomad, because I dislike kubernetes (a lot, even tho some good things came out of it).

After reading #5343 I now am not sure what `ephemeral_disk` is even for. It quotes not to restrict any size-limits, which makes me wonder what the indented purpose was. Especially after reading the [migration-part](https://www.nomadproject.io/docs/concept

[2022-10-03 17:37] Cbeck527 commented on #11285
Echoing the thoughts of @FibreFoX here—

Our containers are stateless and do not write anything to disk. With that in mind, and reading the current documentation as-is, we don't need an `ephemeral_disk` at all. Unfortunately, omitting the stanza results in a 300mb disk being allocated.

Under most circumstances this would be fine, but I ended up here after debugging some placement issues for one o

[2022-10-03 17:51] tgross commented on #14768
Hi @harningt! I was able to reproduce this on the current HEAD of the `main` branch as well. tl;dr this is a consul-template bug and I've opened an issue over there reproducing the bug with consul-template alone: https://github.com/hashicorp/consul-template/issues/1651

I'm going to keep this issue open here in Nomad so that we have a place to point folks who get caught by this and so that we can

[2022-10-03 18:06] #8588 closed

[2022-10-03 18:06] #13468 closed

[2022-10-03 18:06] #13731 closed

[2022-10-03 19:12] suikast42 commented on #12802
I am testing the varibales in nomad version 1.4.cr1

Is the interplation in job spec implemented in that release ?

[2022-10-03 19:15] angrycub commented on #12802
Variable interpolation is available via the template block functions in 1.4.0 RC1.  If you should happen to encounter any trouble with it, please let us know via new issues.

[2022-10-03 19:31] suikast42 commented on #12802
Ok I got it.  That works pretty good.

I found the [blog post](https://www.hashicorp.com/blog/nomad-1-4-adds-nomad-variables-and-updates-service-discovery).

But there are two little bugs.
 env         = trues - >  env         = true
   data        = <<EOH ->    data        = <<EOF

[2022-10-03 20:24] tgross commented on #14768
@harningt in the meanwhile, see the workaround described here: https://github.com/hashicorp/consul-template/issues/1651#issuecomment-1265929383

[2022-10-03 20:27] desmana opened #14785 "build: bootstrap target fails due to invalid cert"
### Nomad version

Not applicable.

### Operating system and Environment details

Fedora Linux 5.19.11-200.fc36.x86_64

### Issue

An error occures when trying to compile nomad from source.

`deps` target contains reference to gophers.dev which is currently returning certificate mismatch error.

### Reproduction steps

Run this snippet from official documentation using a clean system (no installed

[2022-10-03 20:33] tgross commented on #14785
Hi @desmana it looks like this is a known issue for hc-install: https://github.com/hashicorp/hc-install/issues/70 But I'm not sure why that gophers.dev URL is in use in the first place except that the CLI hasn't actually been stabilized. We got that version in https://github.com/hashicorp/nomad/pull/12937 so that we were using my colleague @shoenig's fork at the time. But that's all been merged at

[2022-10-03 20:38] tgross commented on #14785
I've opened https://github.com/hashicorp/nomad/pull/14786 with what should fix it.

[2022-10-03 20:48] djenriquez opened #14787 "Nomad UI painfully slow when job counts goes from hundreds to thousands"
### Nomad version
Output from `nomad version`
`Nomad v1.3.3 (428b2cd8014c48ee9eae23f02712b7219da16d30)`
### Operating system and Environment details
`Amazon Linux release 2 (Karoo)`

### Issue
We have a particular use case where Nomad is used to orchestrate full sandboxes for our developers in our development environment. These sandboxes represent our complete stack of services, which means ~100 j

[2022-10-03 21:04] philrenaud commented on #14787
Hi @djenriquez, thanks for raising this — we'll take a look and update this once we have more info.

[2022-10-03 21:14] desmana commented on #14785
Hi,

thanks for your prompt response. The revision in your comment seems to be invalid, but it looks like simply using HEAD is not going to be complete fix anyway.

FYI `tools/go.mod` also refers to a package from this currently problematic source: `gophers.dev/pkgs/ignore`. This should not impact installation, but `make tidy` is currently failing with the same error:

[code]

Might be worth looki

[2022-10-03 21:46] mikenomitch commented on #11757
Hey @Trojan295, thanks so much for taking this! This will make a lot of people happy.

I think if you try to roughly match [terraform's fmt command](https://developer.hashicorp.com/terraform/cli/commands/fmt) that would be ideal.

So if you have no argument (just `nomad fmt` ) mean "the current directory", and then also read from STDIN with a single dash "-" argument that'd be great. To show help

[2022-10-04 09:01] kmoe commented on #14785
hc-install does not use gophers.dev. I think the issue is likely to be more along the lines of @desmana's comment.

[2022-10-04 12:31] tgross commented on #14785
The build we had for `hc-install` was from a fork because we had a bug fix that wasn't yet in `main` (IIRC it was something around the releases API), so the install we had _was_ from gophers.dev because that's how @shoenig published his fork. You can't publish a fork without changing the source URL. #14786 removes the fork.

That still leaves the `tools` install being broken because of gophers.dev

[2022-10-04 13:00] cqueinnec commented on #14349
Could this be related to the number of available threads on the machine? Or is client execution not related to available threads (considering it's Go, it might just use go routines)?

[2022-10-04 13:05] tgross commented on #14349
@cqueinnec can you provide a still screenshot (or CLI output) of the Task Events, rather than a gif?

[2022-10-04 13:08] tgross commented on #14785
Go modules are really the worst:

[code]

[2022-10-04 13:20] tgross commented on #14785
Removed the remaining dependency in https://github.com/hashicorp/nomad/pull/14789

[2022-10-04 13:49] #14785 closed

[2022-10-04 15:16] soupdiver commented on #1822
Is there any update on this?
I came across this issue when I was researching a situation I have:
I want to specify a different chroot for a single task. I want to add a folder which contains keys that should not be mapped to every task but onlt this one.

[2022-10-04 15:19] tgross commented on #1822
Generally speaking we update issues when we're planning on working on them. I see that @Amier3 marked this as "help-wanted" but now that it's being surfaced to me I can't really see us implementing this under the [security model](https://www.nomadproject.io/docs/concepts/security) that we have for Nomad (when this was originally opened, that was less figured-out).

If you've got an idea of how we

[2022-10-04 18:12] tgross commented on #11757
PR is open on this and likely to merge for an early Nomad 1.4.x. I'll track this issue until that's been merged. Thanks, all!

[2022-10-04 18:25] tgross commented on #14574
@suikast42 I'm not a Consul Connect expert but it doesn't look to me like `auto_config` sets up intentions at all. Can you try setting up intentions appropriately as @shoenig has recommended, and then reporting back?

[2022-10-04 18:48] soupdiver opened #14797 "Task using exec driver fails with "cgroup path must be set""
### Nomad version
`Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)`

### Operating system and Environment details
Ubuntu 22.04 inside Proxmox CT

### Issue
Task configured with `exec` driver fails with error message: `cgroup path must be set`

### Reproduction steps

#### Expected Result
Task starts

#### Actual Result
Task fails

### Job file (if appropriate)
[code]

I run my worker insid

[2022-10-04 19:29] tgross commented on #14797
Hi @soupdiver! I'm going to be honest here and tell you that running Nomad clients in a container is life on hard mode, to the point where we've resisted shipping a Nomad Docker image to discourage it. We need to put together some documentation on how to do this (and figure it out ourselves in detail, for that matter).

The error you're getting there looks to be because the taskrunner isn't settin

[2022-10-04 19:48] tgross commented on #3668
Doing some issue cleanup and this currently exists in Nomad as of https://github.com/hashicorp/nomad/pull/11526 which shipped in Nomad 1.2.4. It can be set on both the client and the task. See [`pids_limit`](https://www.nomadproject.io/docs/drivers/docker#pids_limit) docs.

[2022-10-04 19:48] #3668 closed

[2022-10-04 19:56] tgross commented on #2419
👋 Doing some issue cleanup and it looks like this can be closed according to https://github.com/hashicorp/nomad/issues/2487.

[2022-10-04 19:56] #2419 closed

[2022-10-04 20:03] tgross commented on #14715
Somewhat related: https://github.com/hashicorp/nomad/issues/2617

[2022-10-04 20:27] #6379 closed

[2022-10-04 20:29] soupdiver commented on #14797
What I can find in the logs is
[code]

I found another issue that claimed this would only happen on a first start on a new system. The issue was fixed/closed and that was all I could find related to my error message.

Proxmox CT, unpriviliged.
Not 100% what are the lxc details Proxmox is configuring.

[2022-10-04 20:37] schmichael commented on #4740
Unfortunately no updates. Sorry for letting this slip. Definitely still something we want to do, but I don't want to keep overpromising and underdelivering on timelines. :grimacing:

[2022-10-04 20:38] tgross commented on #7205
Closed (finally) by https://github.com/hashicorp/nomad/pull/14441

[2022-10-04 20:38] #7205 closed

[2022-10-04 20:51] tgross commented on #9153
Doing some issue cleanup and this test is no longer on the flaky list: https://app.circleci.com/insights/github/hashicorp/nomad/workflows/build-test/tests

[2022-10-04 20:51] #9153 closed

[2022-10-04 21:05] tgross commented on #14797
Is that command being run from inside or outside the container?

Let's ignore that for now... there was a flurry of similar-sounding issues around cgroups v2 support with a lot of different causes, but your client is telling us where to look.

Maybe here? https://pve.proxmox.com/wiki/Linux_Container#pct_configuration

But if you're running unprivileged you're going to hit additional walls really q

[2022-10-04 21:10] tgross commented on #14762
[Consul-Template 0.29.5](https://github.com/hashicorp/consul-template/blob/main/CHANGELOG.md#v0295-oct-04-2022) just shipped with a different bug fix that impacts Nomad so we'll want to pick this up for Nomad 1.4.1.

[2022-10-04 21:12] tgross commented on #14768
[Consul-Template 0.29.5](https://github.com/hashicorp/consul-template/blob/main/CHANGELOG.md#v0295-oct-04-2022) was just released with the fix. We're in a very short merge-freeze window for Nomad 1.4.0 GA but once that's shipped we'll be able to get our CT dependency updated and I'd expect the fix to go out in the next regular version of Nomad (which will probably be 1.4.1).

[2022-10-04 21:13] mikenomitch commented on #12576
Delivered in 1.4!

[2022-10-04 21:13] #12576 closed

[2022-10-04 22:06] brian-athinkingape opened #14802 "Cannot change ingress container from http to tcp (or vice versa) when using Consul Service Mesh"
### Nomad version
Nomad v1.3.5 (1359c2580fed080295840fb888e28f0855e42d50)

### Operating system and Environment details
Ubuntu 22.04 on AWS (on a fresh EC2 instance), amd64

Consul v1.13.2
Revision 0e046bbb
Build Date 2022-09-20T20:30:07Z
Protocol 2 spoken by default, understands 2 to 3 (agent will automatically use protocol >2 when speaking to compatible agents)

Docker version 20.10.18, build b4

[2022-10-05 05:41] ostkrok commented on #14617
We would also very much like to see this implemented for two reasons:

The first reason is essentially the same as EtienneBruines, i.e. being able to set meta programmatically in order to achieve better scheduling.

The other one is that we run Nomad clients on different hardware, which sometimes require different docker images/binaries for our jobs. We'd still like to use a single job file, and j

[2022-10-05 08:14] jrasell opened #14806 "e2e: test Overlap consistent failure"
Test failure:
[code]

[2022-10-05 08:20] soupdiver commented on #14797
I was giving it another try with a priviliged container but get the same error message.
Here are my logs when starting the nomad agent.

[code]

This time the file is indeed missing:
[code]

[code]

For completness my Proxmox container conifig:
[code]

Googling for the error message I found the following 2 issues (and not much otherwise)
https://github.com/hashicorp/nomad/issues/14229
https://gith

[2022-10-05 12:26] wdmeeste1 opened #14808 "Timepoints in x-axis graphs"
### Nomad version
1.3.1

### Operating system and Environment details

Ubuntu 20.04

### Issue

In nomad dashboard of a task:

The time x-axis time points are not updated (progressing) in the resouce utilization graphs of CPU and memory while the data itself is updated.

Example:

![image](https://user-images.githubusercontent.com/23402402/194059655-af275ec1-3e27-4e10-9ec0-6e1cd987527a.png)

The t

[2022-10-05 12:50] tgross commented on #14808
Hi @wdmeeste1! That certainly looks like a bug to me. I'm going to mark this for the attention of our web UI experts and they'll follow-up.

[2022-10-05 13:32] tgross commented on #14797
@soupdiver other issues aren't likely to be relevant here because you're running in an unsupported / undocumented way in the first place (you might note from your logs that bridge networking is going to be broken too). If you were to run the agent outside the container and got the same thing, that might be interesting but not as it is.

The missing file is from the [cgroups v2 cpuset controller](h

[2022-10-05 13:59] soupdiver commented on #14797
yup, I got that. Just wanted to post for completness

I can replicate the setup on a VM and not a container in my homelab and see if that works out. Maybe VM approach is better than container in this case.

You assume right, I did the `ls` from inside the container.

I will check that in the Promox forum.

What does "worklaod with cores" mean? That a cpu resource limit is set or what does `cores`

[2022-10-05 14:12] tgross commented on #14797
Ah, sorry, should've linked it. I meant [`cores`](https://www.nomadproject.io/docs/job-specification/resources#cores) which means reserving a whole core (or cores) for the workload. That's what this whole cpuset management is actually for. So if we could just not worry about cpuset management you'd be able to start the task, but you'd only be able to specify `resources.cpu` and not `resources.core

[2022-10-05 15:19] tgross commented on #14802
Hi @brian-athinkingape! I was able to reproduce the behavior you're seeing exactly. Thank you so much for providing a solid minimal example, it really helps a lot! The tl;dr is that you've hit a known design issue between Consul and Nomad around gateways, which is described by my colleague @shoenig in https://github.com/hashicorp/nomad/issues/8647#issuecomment-691290660

There's a workaround rough

[2022-10-05 15:20] tgross commented on #14802
Although this is _technically_ a duplicate there could be unique bits to it. I'm going to keep this open and mark it for roadmapping, and crosslink to it from #8647.

[2022-10-05 15:46] soupdiver commented on #14797
I also tried the same setup inside a qemu vm and not a container.
I get the exact same error and behviour. Is running Nomad inside a VM also an issue or is maybe something odd with my base system? 🤔

[2022-10-05 15:53] tgross commented on #14797
No, running Nomad in a VM should work just fine; Nomad doesn't try to sniff out if its in a hypervisor or anything like that and assumes it has the run of whatever the kernel tells it. But that information eliminates a whole category of problems!

This suggests there's something wrong in the code introduced in https://github.com/hashicorp/nomad/pull/14230 which was intended to fix https://github.c

[2022-10-05 15:55] soupdiver commented on #14797
For the container it was ubuntu-22.04-minimal and for the vm I installed from ubuntu-22.04-live-server

So in both cases quite minimal installation. Maybe I'm missing some package or so?

[2022-10-05 17:06] wimax-grapl opened #14810 "Request: explicit error if you specify `group { consul { namespace = ... } }` in a non-Enterprise cluster"
### Nomad version
Output from `nomad version`
1.3.5

### Operating system and Environment details
Ubuntu 22

### Issue
If you have a Group with the following definition:
[code]
I would expect every instance of this group to exist in a different namespace, but they all appear to be dumped in the `default` namespace:
![image](https://user-images.githubusercontent.com/69007229/194118946-7427b08f-9f95

[2022-10-05 19:27] tgross commented on #14810
Hi @wimax-grapl! I did some diving into the code and I think I see why it's doing this currently. The client agent is what's talking to Consul here, and so while the client knows whether it's talking to Consul Enterprise or not, the server doesn't. So it would be challenging to surface this information to the server to pick it up at job submit time. That being said, it should be possible to do thi

[2022-10-05 20:27] wimax-grapl commented on #14810
Yep, totally makes sense that it'd be hard to surface to users. If there were perhaps a way to surface Consul Enterprise as a Resource that a cluster needs - like disk space or mem or something - that could be a reasonable way to expose it to the customer.

[2022-10-05 20:46] tgross commented on #12331
I had a few spare moments to look at this and the only way we could get this exact stack trace is if the `Periodic` block was nil, not the Job itself (note the `addr` in particular here). I can't figure out a way this can possibly happen because the job wouldn't have been marked as `IsPeriodic` and we only _have_ one job here which is a mock periodic job. It's never appeared again and doesn't seem

[2022-10-05 20:46] #12331 closed

[2022-10-05 20:52] tgross commented on #14028
Will be fixed by https://github.com/hashicorp/nomad/pull/14812

[2022-10-05 20:57] kirooshu commented on #7229
We also had similar problem with a job spec which should have worked just find if the default logic of Nomad was taking the `to` part of the port definition as clearly that is where the service is listening. Is there a reason why this was just closed?

Nomad 1.2.8 and Consul 1.11.8 in our infra.

[2022-10-05 21:06] tgross commented on #7229
Hi @kirooshu it was closed over a year ago because it was originally reported against a version 4 major versions before the one you're using and the original reporter reported it as resolved on the version 2 versions before the one you're running.

At this point it's better to open a new issue describing in detail what symptoms you're seeing today. Thanks!

[2022-10-05 21:55] angrycub commented on #11886
@philrenaud per your request, tagging you in. :D

[2022-10-05 23:55] cqueinnec commented on #14349
Here's the Recent Events table for a single task. As mentioned, once the task starts, the events table shows that the whole process is performed in very few (2 or 3) seconds.

![image](https://user-images.githubusercontent.com/46680590/194184284-4ecbd17b-59ed-473e-a5e4-dbee499d862c.png)

[2022-10-06 00:59] wimax-grapl opened #14813 "Variable indirection in `env {}` stanzas"
### Proposal

Bash has a feature called variable indirection that lets you read _the value_ of a value. The following example exemplifies it:
[code]
I propose that this could potentially be useful in Nomad env{} stanzas (or perhaps elsewhere in its interpolation engine)!

### Use-cases

I have an upstream with a name that changes based on `var`s. This makes it difficult to statically pass its NOMA

[2022-10-06 07:53] soupdiver commented on #14797
I tikered around yesterday evening but it seems I messed things up a bit during my updates. I might confused some container/vm terminal sessions 😬

Anyway, everything seems to work as expected now. I have the nomad agent running using the `exec` driver. No more errors during nomad startup or task creation.

What have I done?
On a new container I have the following:
[code]

It seems only memory and

[2022-10-06 10:02] freef4ll opened #14819 "Nomad server 1.3.5 isn't able to join 1.4.0"
### Nomad version
Nomad running on Linux is 1.4.0 and another is 1.3.5, which panics upon trying to upgrade:

### Operating system and Environment details

1.4.0:
[code]

1.3.5 from brew:
[code]

### Issue

Trying to bring up a cluster causes the 1.3.5 to panic:

[code]

If 1.3.6 is used, this comes up fine.

[2022-10-06 10:46] jrasell commented on #14819
Hi @freef4ll and thanks for raising this.

We will look into this straight away but could benefit from a little more detail. Could you share information regarding the upgrade steps you are taking in order to see this panic, with attention taken to which server is the leader at each stage?

Could you clarify whether this means 1.3.5 and 1.3.6 together is running fine, or whether this is 1.3.6 and 1

[2022-10-06 13:01] tgross commented on #14819
Hi @freef4ll! Adding an "old" server to a current cluster isn't supported. But I was able to reproduce a crash with a more realistic upgrade scenario:
* start with a 3-node 1.3.5 cluster
* upgrade leader to 1.4.0
* upgrade new leader to 1.4.0
* stop the remaining 1.3.5 server to force a leader election to one of the 1.4.0 machines (simulating a netsplit or other glitch)
* restart the 1.3.5 server

[2022-10-06 13:26] cascadetile opened #14820 "Add delimiter escape info in Documentation"
### Proposal
Add delimiter escape info in Documentation.

In template I have an env like this:
`URL = http://1.1.1.1:1111/clients/{{ID}}`
where {{ID}} is later being replaced in Go templates, but during deploying I get the following error
`Template failed: (dynamic): parse: template: :12: function "ID" not defined`
I've searched info in https://www.nomadproject.io/docs/job-specification/hcl2/expre

[2022-10-06 13:42] jrasell commented on #14820
Hi @cascadetile; that certainly seems like something we should note so it's easier to understand and find.

[2022-10-06 14:25] dani opened #14822 "Services with a task defined fails if there are tcp/http checks"
For one of my job (to run a traefik instance), I need both native connect support (for traefik to reach the proxied services) and an Envoy sidecar (to expose two external services, LDAP and outbound web proxy which are required for traefik, and are reachable through a mesh terminating gateway). I used to do this by defining 2 services, one with connect = "native" and the other with a sidecar.

For

[2022-10-06 14:59] #14028 closed

[2022-10-06 15:56] tgross commented on #14797
Yeah, the systemd project has some docs around delegation that don't quite seem current (ref https://systemd.io/CGROUP_DELEGATION/):

I don't know if that means that systemd hasn't caught up yet or what (at least on the version shipping on recent distros), but obviously we've got to live with their behavior given systemd's position in the Linux ecosystem. 😀 I checked on my personal Ubuntu Jammy de

[2022-10-06 16:09] freef4ll commented on #14819
@tgross , great thank you!

[2022-10-06 16:09] #14819 closed

[2022-10-06 17:25] douglaje commented on #14669
We're running into what I believe is the same problem.

However, our issue is that scale-down events cause "unhealthy" allocations during a deployment, and can even stall a deployment to the point it has to roll back.

## Nomad version
`1.3.5`

## Reproduction setup

Setup: 5 nomad servers, 5 consul servers, 20+ nomad clients. Nomad clients and servers running version `1.3.5`, Consul version `1.13

[2022-10-06 18:10] mikenomitch commented on #12938
Hey @shantanugadgil, just letting you know that I'm aware of this now! I was the moderator for the Q&A!

[2022-10-06 18:20] brian-athinkingape commented on #14802
Thanks, we used the workaround to resolve the issue on our production system for now, looking forward to when this can be resolved!

[2022-10-06 18:51] #12762 closed

[2022-10-06 18:52] gmichalec-pandora commented on #14822
I'll also add that the documentation for task does not indicate it cannot be used for non-grpc/script checks:

This also is not mentioned in the upgrade guide. We have lots of service definitions that specify a task. Is there a reason why having a task specified in a regular health check is an error vs a warning?

[2022-10-06 19:28] LukeFlynn commented on #6385
What are we supposed to do in the meantime?

[2022-10-06 19:39] gmichalec-pandora opened #14832 "UI: services with many tags do not display properly"
### Nomad version
Nomad v1.4.0+ent (ea16107f7303803f923cfaf96c428b49e1126a2f)

### Operating system and Environment details
Debian 10

### Issue
We have consul services with a fair number of tags. In the UI, when we open the service pane, the tags list does not wrap and continues off the screen

### Reproduction steps
1. Define a service stanza with many tags
2. Open alloc in the ui and click on t

[2022-10-06 19:42] philrenaud commented on #14832
Thanks for the issue @gmichalec-pandora — will get this taken care of right away.

[2022-10-06 20:18] tgross commented on #14819
Nomad 1.4.1 has been released with a fix for this issue.

[2022-10-06 20:21] #13594 closed

[2022-10-06 20:33] #14170 closed

[2022-10-06 20:59] #14808 closed

[2022-10-06 21:00] #11757 closed

[2022-10-07 00:54] cqueinnec commented on #14617
I also had the need to update node metadata programmatically, and thought about a hack: have a Go [device plugin](https://www.nomadproject.io/docs/devices) which would fingerprint metadata stored locally. Metadata would appear as node attributes, which can also be used to set `constraints` on jobs. Updating node metadata would then be as easy as running a Nomad job to update local store.

[2022-10-07 03:11] mr-karan commented on #12537
@nahsi Are you still working on this? If not, I'd like to send a PR for the same. :smile:

[2022-10-07 03:31] FerusGrim commented on #6385
This issue is pretty devastating for the use case at my PoB. Is there a workaround that can be implemented until an official fix comes out? At the moment we have to do full reboots of Nomad and take our whole network offline when we run into it.

[2022-10-07 07:18] maxramqvist commented on #14822
I see the same issue with checks for "http"-services on the task-level on Nomad 1.4.1. Worked fine on 1.3.5.
[code]
The check is under the Services level and im running Connect, not native.

[2022-10-07 07:40] dani commented on #14822
Indeed, the problem is not strictly with native connect. Just more visible because when using native connect and you have several tasks in a group, you must set task = "XXX" at the service level.

[2022-10-07 08:00] Kamilcuk opened #14841 "ui/clients/id: Allocations arrow back is not rendered."
### Nomad version
1.4.1

### Operating system and Environment details
Google chrome 106.0.5249.91
Firefox

### Issue
Arrow back in allocation table in client view is not visible.

### Reproduction steps
Go to one of the clients in gui and have many allocations. Click the arrow to the right.
![obraz](https://user-images.githubusercontent.com/15679217/194502975-3d07acb4-4265-4df9-aab8-bb2ac8dfed3f.p

[2022-10-07 08:06] nahsi commented on #12537
Hi. Not working on this 😅

[2022-10-07 08:31] jrasell commented on #14841
Hi @Kamilcuk and thanks for raising this issue. I have been able to reproduce this locally where the back button is not visible but clickable. I'll mark this for our UI engineers can take a look.

Reproduction: used local `nomad agent -dev` command which was then used to run the job specification below. Navigating to the URL `http://localhost:4646/ui/clients/<node_id>` and clicking the right arrow

[2022-10-07 08:33] maxramqvist commented on #14822
For anyone hitting this issue and using JSON in their Nomad jobs.

Try just removing `TaskName` from the `Services` part of your job definition.

[2022-10-07 08:52] D4GGe opened #14842 "Memory leak on nomad servers"
### Nomad version
`Nomad v1.3.1 (bc49012743edc0e2adb565e0fbcbc36c184f8ce4+CHANGES)`

### Operating system and Environment details

**3 nomad servers**

[code]
[code]

**~10 large nomad clients**

[code]
[code]
No nvidia plugin installed

**~20 nomad clients of various sizes**

### Issue
**Memory leak on nomad servers**

We have a memory leak on our nomad servers, the cluster have around 30 clients

[2022-10-07 09:25] jrasell commented on #14842
Hi @D4GGe and thanks for raising this issue. I don't believe you are experiencing a memory leak on the servers because, as you mention, running the Nomad internal GC process reduces the memory overhead down. It seems like this is therefore normal behaviour on Nomad's part and I will try to explain in a little more detail below what is happening along with some configuration options that might help

[2022-10-07 09:54] D4GGe commented on #14842
Thank you for really good explanation!
I will experiment with [job_gc_interval](https://developer.hashicorp.com/nomad/docs/configuration/server#job_gc_interval) and [job_gc_threshold](https://developer.hashicorp.com/nomad/docs/configuration/server#job_gc_threshold) and come back!

Would it also help to increase numbers of servers and or increase the performance of them.
How much performance is com

[2022-10-07 12:35] tgross commented on #6385
@johnalotoski has posted a process above; if you were to run that as a periodic task (or just a cron job) that'd clean up the iptables.

[2022-10-07 12:44] jrasell commented on #14842
I don't believe increasing the number of servers will have any effect as each server stores a replica of the state store in memory. It has the potential to make situations worse, as the data needs to be replicate more times from the leader. Depending on how tuning the GC parameters goes, it could be beneficial to increase the available RAM for the servers, but I am confident the GC modifications a

[2022-10-07 13:23] #14832 closed

[2022-10-07 13:24] philrenaud commented on #14832
Hi @gmichalec-pandora  — this is resolved in #14834 and will go out in an upcoming 1.4.x release. Thanks again for bringing it to our attention!

[2022-10-07 15:03] tgross commented on #14822
Hi @dani! I was able to reproduce this pretty easily with the example job you provided, so thanks for providing that.

[code]

The reason we make that check that only script/gRPC checks have `task` set is because it's meaningless to have `task` set for a HTTP check -- the check gets sent to a _port_, not to a _task_. I'm not super familiar with why the Connect Native requires a task.

We added che