[2022-03-08 09:04] khaledabdelaziz commented on #10002
I just came here to request this exact feature..
I'd love to have filters under topology page by "Node Class" and "State". Ideally same filters exist under Clients tab.

[2022-03-08 12:48] RosieBaish opened #12216 "failed pause containers result in failed task restarts and orphaned tasks"
### Nomad version
$ nomad --version
Nomad v1.2.3 (a79efc8422082c4790046c3f5ad92c542592a54f)

### Operating system and Environment details
$ uname -a
Linux <redacted> 5.15.13 #3 SMP Wed Jan 26 09:09:47 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
$ cat /etc/os-release
NAME="Fedora Linux"
VERSION="35 (Thirty Five)"
ID=fedora
VERSION_ID=35
VERSION_CODENAME=""
PLATFORM_ID="platform:f35"
PRETTY_NAME="Fedora

[2022-03-08 14:07] robsonj opened #12217 "Getting ‘Not Authorized’ when trying to view files via UI - ACL's enabled"
### Nomad version
1.2.5

### Operating system and Environment details
CentOS 8

### Issue
I have ACL’s enabled and am using a token with the following policy assigned…

`namespace “ABC” {
policy = “read”
capabilities = [“submit-job”, “read-logs”, “read-fs”]
}`

When I click on the 'files button within the allocation for a job in namespace ABC, I am greeted with a not authorized error. This works f

[2022-03-08 14:36] tgross commented on #12217
Hi @robsonj! The ACLs apply to specific API endpoints. The UI is a richer experience than the CLI, so it has to hit a whole bunch of API endpoints and if just one ACL is missing the whole page ends up getting the "not authorized" error.

You can usually debug which one is the problem by opening the browser dev tools and seeing which API endpoint is returning 403. I took your policy and tried it my

[2022-03-08 14:36] #12217 closed

[2022-03-08 14:47] tgross commented on #12203
Probably not without X-Road also being on the Consul mesh to act as the gateway. I wasn't familiar with X-Road so I just did a little dive into the docs and it looks like one could describe X-Road as a service mesh itself?

[2022-03-08 14:49] #12199 closed

[2022-03-08 15:16] tgross commented on #12216
Hi @RosieBaish! I was able to more-or-less confirm the behavior you're seeing, and as it turns out the behavior on client restart is only a symptom of a different problem.

Let's use the following jobspec, so that we have a fairly simple application without a bridge network that requires the pause container (`nomad_init_$uuid`), but cuts out the complexity of Connect:

<details><summary>jobspec</s

[2022-03-08 16:05] jelmersnoeck opened #12228 "Allow for dynamically configuring dispatch job resources"
### Proposal

Currently, it's possible to set up resource constraints for batch jobs when defining the job itself:

[code]

This is however limited to the global batch job specification, and is not changeable on a per batch-job run basis. If we try to parameterize this, we get an error that the value is not an integer:

[code]

[code]

(*Note:* when using just `${NOMAD_META_MEMORY}` instead of `"$

[2022-03-08 16:09] robsonj commented on #12217
Thankyou @tgross for the detailed response. I will try adjusting the policy and let you know how it goes. Much appreciated!

[2022-03-08 16:26] tgross commented on #11857
Hi @baxor! I was able to confirm this behavior but tl;dr this is a documentation miss and not a bug. Here's my Nomad 1.1.9+ent cluster:

[code]

It looks like the jobspec you have here has been translated from JSON, because it doesn't work as written (the argument names are quoted, are using the wrong argument assignment operator, and the service name is invalid).

But I've manage to reduce it to

[2022-03-08 16:33] tgross commented on #11239
Doc fix in https://github.com/hashicorp/nomad/pull/12229

[2022-03-08 16:34] tgross commented on #12228
Hi @jelmersnoeck! This is something we've been asked for before, so I'm going to close this as a duplicate of  https://github.com/hashicorp/nomad/issues/8259. If you give that issue a :+1: and/or add more use cases, that'll help surface the issue when we're doing roadmapping. Thanks!

[2022-03-08 16:34] #12228 closed

[2022-03-08 16:36] tgross commented on #8259
https://github.com/hashicorp/nomad/issues/12228 was a duplicate of this and I've closed that. But that also made me realize I should have removed the `hcl` label from this one, as it really doesn't help for this use case because HCL2 parsing is done in the CLI and not in the server.

[2022-03-08 16:39] ahjohannessen commented on #12203
I think you could describe it as such, perhaps like consul mesh gateways :)

[2022-03-08 16:59] #11857 closed

[2022-03-08 18:57] douglasawh commented on #6172
Is this still a bug in the latest or has the underlying code changed so much that this is no longer an issue?

[2022-03-08 20:29] loqs commented on #11795
I encountered a similar failure with vault.  The change in nodejs causing the issue is [1].  The fix for workerpool is [2].  nomad 1.2.6 uses workerpool 2.3.3 [3] the same as vault 1.9.4.  I was able to get vault to build with nodejs 16 by vendoring a patched workerpool 2.3.3,  I did not have to patch workerpool 3.1.2.  @dermotbradley perhaps that can provide you with a solution until 1.3.0 is rel

[2022-03-09 01:54] #11742 closed

[2022-03-09 01:54] #7118 closed

[2022-03-09 07:25] monwolf commented on #12120
I've been out of the office few days,  but now I'm here again :D

I copied the pattern the HELM worked in order to install the latest version of CNI when the container starts:

[code]
This will add a config and he cni binary inside the host filesystem, so my question is if there are any way to force nomad reload the config once the script ended creating this files?

[2022-03-09 11:10] avandierast commented on #12147
Hello @tgross, thanks for your help analysing this problem  :)

The screen I've pasted art the end of my first post is the equivalent of `nomad eval list` for one of the dispatched job.
How I interpret the eval list is the following, tell me if i'm wrong:
* when their is triggered-by==alloc-failure and placement-failures=true, the alloc is queued and there is a re-evaluation.
* when their is trigg

[2022-03-09 16:33] Amier3 commented on #11953
Closing this as this is actively being worked on in the Consul Repo 👍

[2022-03-09 16:33] #11953 closed

[2022-03-09 18:06] jhitt25 opened #12250 "Sidecar Restart interval different than main task"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details

### Issue
When a connect-enabled job fails a healthcheck i would expect the automatically created sidecar to restart at the same time as the task itself.  We just had a small server issue and tasks on the server all started failing their healthchecks and restarting.  While watch

[2022-03-10 06:31] idrennanvmware opened #12254 "parse-job access is missing from ACL write defaults"
When upgrading to Nomad 1.2.6 we noticed a functional regression in our tests. This was caused due to a test that was using the "write" acl (documented here: https://learn.hashicorp.com/tutorials/nomad/access-control-policies?in=nomad/access-control#write) which is missing the 'parse-job' granular item and is only present in "read" currently.

Request is to add this to the "write" as well

Thanks!

[2022-03-10 07:11] j4ckzh0u commented on #12120
@monwolf  does it work?

Thx.

[2022-03-10 07:29] monwolf commented on #12120
Hey @j4ckzh0u

This task copy the config and the cni binary inside the host from the cilium container. But nomad still needs to be restarted in order to refresh the fingerprinting.

Regards,

[2022-03-10 09:20] Nickleby9 commented on #6715
@tgross
Any news on this one?
We are experiencing it in production environments too often.
As a workaround we use the 'reschedule' stanza for making it try again on another server after it fails.
Please keep us updated.
Thanks

[2022-03-10 10:04] j4ckzh0u commented on #12120
@monwolf  okey,  Thx !

[2022-03-10 13:57] fredwangwang commented on #12254
[code]

Looks like a recent cve fix. But the docs is clearly outdated :)

[2022-03-10 14:35] PinkLolicorn commented on #12118
Just tried this, but I have trouble getting my CSI job to run on the dev version. Were there any changes to the environment variables recently? No matter if I set CSI_ENDPOINT or not the plugin does not pick it up correctly. It worked just fine before with the same job file.

[code]

[code]

[2022-03-10 17:53] lgfa29 commented on #12120
@monwolf I don't think you will be able to reload the Nomad config from a task. You can try sending a `SIGHUP` signal to the Nomad agent process, but I'm not sure if it will reload the CNI config.

It's probably worth a quick try though. Run the job and manually signal the Nomad agent and see if it works.

[2022-03-10 20:17] tgross commented on #12254
Hi @idrennanvmware! I took a look at the code and also tried to test the behavior and I _think_ this is a documentation issue.

With a policy like:

[code]

I was able to validate a jobspec.

If you look at the ACLs code you can see that the new `parse-job` capability is found in the coarse-grained read ACL, as documented (ref [`policy.go#L170`](https://github.com/hashicorp/nomad/blob/v1.2.6/acl/p

[2022-03-10 20:31] tgross commented on #6715
Hi @Nickleby9! Sorry, I don't have any updates on this issue. Let me brainstorm a bit with some of my colleagues on this and see what I can come back with.

If you have debug-level Nomad client logs for the clients that are impacted, that might help us out.

[2022-03-10 20:47] tgross commented on #12250
Hi @jhitt25!

The case where you have 2 tasks in the same group (the main task, filebeat, plus the Connect sidecar) really shows where this is a bit tricky. If we restart the Connect sidecar task when any task in the allocation restarts, we could easily get into the same situation where the sidecar is delayed.

For example:
* the main task exits
* we delay up to the main task's `restart.delay` bef

[2022-03-10 21:03] tgross commented on #12118
Yeah, Nomad is setting the `CSI_ENDPOINT` variable now as of https://github.com/hashicorp/nomad/pull/12050 So it looks like the Hetzer plugin is expecting that to have `unix://` but I haven't see it fail on other plugins (I've tested recently on AWS EBS, AWS EFS, GCP, and Democratic NFS). I feel like we probably shouldn't be setting the environment if it's been set by the user though, so I'll fix

[2022-03-10 21:06] nakermann1973 opened #12256 "address_mode = alloc & ${NOMAD_IP_myservice} not working as expected"
### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue

### Reproduction steps

#### Expected Result

#### Actual Result

### Job file (if appropriate)

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropriate)

[2022-03-10 21:13] tgross commented on #12118
I've opened https://github.com/hashicorp/nomad/pull/12257 with a patch for that, but I need to do some testing which I probably won't get to until tomorrow.

[2022-03-10 21:30] lgfa29 commented on #12254
@idrennanvmware another documentation piece that is missing is that the `namespace` in your request must match a `namespace` that is allowed by your policy.

I opened https://github.com/hashicorp/nomad/pull/12258 to describe this.

[2022-03-10 21:41] jhitt25 commented on #12250
Here's a simplified/redacted version of the job with filebeat involved.
[redacted_job.txt](https://github.com/hashicorp/nomad/files/8227312/redacted_job.txt)

[2022-03-10 23:47] dpn opened #12261 "Increase in "Vault: server failed to derive vault token: Allocation "xxx" does not exist" errors after 1.06 to 1.1.10 upgrade"
### Nomad version
Output from `nomad version`

Previous: `Nomad v1.0.6 (592cd4565bf726408a03482da2c9fd8a3a1015cf)`
Current: `Nomad v1.1.10 (028cef251052e629db4321abc5dfd415f6045b78)`

### Operating system and Environment details

RHEL 7
Control plane (per region): 3x 32 Core, 128G RAM
Clients: On the order of hundreds of clients per region, c1_m2-sized hosts all the way up to c32_128. Mix of EC2 a

[2022-03-11 05:10] thatsk commented on #8387
same for me without purging job if how do we restart job with keeping a history of old deployment list and version.
?
@tgross blessing here.

[2022-03-11 10:12] jorgemarey opened #12263 "Job delpoyment fails when allocations in ineligible nodes"
### Nomad version
Nomad v1.2.6

### Issue

Deployments fail when allocations of a job are in a non eligible node, even if the changes to those allocations are in-place.

### Reproduction steps
[code]
#### Expected Result

Deployment complete and OK, allocation removed from ineligible node.

#### Actual Result

Deployment fail and no allocation changes, the 2 allocations remain on the ineligible no

[2022-03-11 10:25] zizon opened #12265 "CSI Plugin Task Should restore first"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Ubuntu 16.04.6 LTS

### Issue
1. When a nomad client node with task that using CSI Volumes restarted,
2. CSI Monolith Plugin is also deploy as a Nomad Job with associated allocation on this restarting Client
3. Said, a alloc using CSI Volume is firstly restore(before CSI alloc),

[2022-03-11 11:50] dhpowrhost opened #12266 "Value specified in CPUWeight is out of range: unknown"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Ubuntu 22.04 Jammy Jellyfish

### Issue
When running a docker job with CPU resources set the allocation fails with an API error

### Reproduction steps
Define job with docker as task driver and resources { cpu = 1 } set

#### Expected Result
The docker container will be allocated

[2022-03-11 11:58] #12266 closed

[2022-03-11 11:58] dhpowrhost commented on #12266
My bad. settin cpu to 1 is not a good idea

[2022-03-11 12:22] bubejur commented on #11923
@tgross maybe you can tell me a date for new 1.2.7 release? so excited about it!

[2022-03-11 13:52] tgross commented on #11923
@bubejur unfortunately we can't give out dates for releases. I can tell you the whole team is actively working on 1.3.0 (which will have backports to 1.2.7).

[2022-03-11 13:55] tgross commented on #12266
Hi @dhpowrhost! Yeah the minimum value was set to 1 in https://github.com/hashicorp/nomad/pull/8996 but whether a given task driver can handle that is up to the third-party engine (Docker in this case), which we don't currently have a way of validating.

[2022-03-11 13:58] tgross commented on #8387
Hey folks this issue has been closed a long time and this question about deployment history isn't really related to allocation vs job restarts. Let's open a new issue instead please.

[2022-03-11 18:57] th0m commented on #11096
Adding some color to this issue, this is especially problematic when using the CNI vlan plugin.
There can only be a single vlan interface with the same parent interface and vlan id on a host (regardless of what network namespace they are part of).
Therefore, when such network namespaces leak, Nomad can't schedule allocations that want to use the CNI network with that same vlan id and parent interf

[2022-03-12 13:33] Laboltus commented on #698
As I understand "nomad alloc restart" doesn't re-download artifacts and docker images ? I need to restart a job with an actual docker image.

[2022-03-14 09:17] dhpowrhost commented on #12266
Yeah, you are right. The thing is however that it did work in Debian 11 and Ubuntu 20.04, so docker must have changed something. Thank you for the clairification.

[2022-03-14 15:03] elcomtik commented on #10909
I would really appreciate this feature.

[2022-03-14 15:28] tgross commented on #12265
Hi @zizon! Just for clarity, when you're talking about the client node restart, do you mean the Nomad client process or the entire Nomad client host?

In any case, we can't have the CSI plugin task get restored first without a fairly radical re-architecture of the client, but what we _can_ do is make sure that the `csi_hook` that runs for the allocation that's claiming a volume can gracefully hand

[2022-03-14 16:30] lgfa29 commented on #8470
Hi @ketzacoatl 👋

Yes, the plan is to have this in the next Nomad release.

[2022-03-14 16:56] evandam opened #12273 "Nomad API "Unexpected EOF" Errors"
### Nomad version
`Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)`

### Operating system and Environment details
Ubuntu 18.04

### Issue
We sporadically see API calls on Nomad clients start to fail with "Unexpected EOF" errors.

### Reproduction steps
Unclear, seemingly random on Nomad clients.

#### Expected Result
Nomad API handles requests correctly

#### Actual Result
[code]

### Job

[2022-03-14 17:13] DerekStrickland commented on #12273
Hi @evandam

I'm sorry you are having issues. I'll take a look a the log and see if anything stands out. I'm curious about something.  When this happens have you ever looked at the servers/clients to see how they are doing at the OS level? Specifically, I am wondering if they are experiencing any memory, CPU, or network pressure.

[2022-03-14 17:15] DerekStrickland commented on #12273
Also, do you have any client logs showing the error, or are you only experiencing it from the command line?

[2022-03-14 17:26] evandam commented on #12273
Hey @DerekStrickland, adding a couple screenshots of our monitoring - doesn't look like anything unusual in terms of system activity. There was a small spike from ~20% to ~45% CPU, but I believe that was a minute or so after the first EOF error so probably not related. Memory and network pressure seems fine too.

There aren't any client logs, we're really just seeing it on the command line/curl. F

[2022-03-14 18:05] tgross commented on #12250
Thanks @jhitt25, that was very helpful in tracking this down!

I had a conversation with some of my colleagues and where we arrived is that things are working as intended but the behavior isn't very clear and the docs need improving.

The [`restart`](https://www.nomadproject.io/docs/job-specification/restart) docs say:

That is, a `restart` block at the `group` level doesn't set a restart policy o

[2022-03-14 18:21] tgross commented on #12250
Sorry, follow up on this @jhitt25. I spoke too soon and it turns out that `restart` isn't permitted on the `sidecar_task`. That results in a validation error like the following:

[code]

That seems like a miss to me and I'll look into what we can do about it.

[2022-03-14 18:37] jhitt25 commented on #12250
Perfect.  I think a bit of this was an oversight on my part.  After re-reading the restart documentation i also notice that i misunderstood 'mode=fail' to be a permanent stopping of the job.  I was using 'mode=delay' specifically to have failing jobs attempt to restart after a period of time, which appears to be what 'reschedule' is for.  In my simplistic view of the tool i completely ignored 'res

[2022-03-14 19:47] tgross commented on #12023
Ok @Dgotlieb I spent some time digging into this and trying a bunch of different ways to replicate this behavior. What it comes down is that `reschedule` behavior doesn't apply to `system` jobs. So when the job exceeds the `restart` attempts, it's forever dead until external state changes and kicks off an evaluation for the job.

You've (correctly) avoided that scenario by using `restart.mode = "d

[2022-03-14 19:48] tgross commented on #12023
I've marked this issue for roadmapping to give it some more attention.

[2022-03-14 19:49] #12250 closed

[2022-03-14 20:05] evandam commented on #12273
Not sure if it helps, but here's logs after seeing this issue and runnning `kill -s SIGABRT <nomad pid>`

https://gist.github.com/evandam/69e7dbfa467932831c5cc3460fbe5a79

It helped in a vaguely-similar issue in https://github.com/hashicorp/nomad-autoscaler/issues/514#issuecomment-893028789.

[2022-03-15 01:45] zizon commented on #12265
On Mon, Mar 14, 2022 at 11:28 PM Tim Gross ***@***.***> wrote:

The client process, e.g. systemctl restart nomad

Yep, the container is still running during the nomad client process restart.

1. The restore is failed by an unsuccessful CSI hook(
https://github.com/hashicorp/nomad/blob/v1.2.6/client/allocrunner/alloc_runner.go#L321
)
2. if understood correctly, It thus skips runtasks at line 333, w

[2022-03-15 01:56] zizon commented on #12265
Besides a re-architecture, a delay/second retry for failed allocs may just work.

In https://github.com/hashicorp/nomad/blob/v1.2.6/client/client.go#L1118 , collect the failed allocs and retry a second time in a next for loop?

[2022-03-15 08:17] zizon commented on #12265
There is another possible issues, during client restart.

In cisHook of claimWithRetry(https://github.com/hashicorp/nomad/blob/main/client/allocrunner/csi_hook.go#L259)

It can failed contacting servers if
1. not yet joining/discover servers
2. or network issue
which then exhaust retry, causing prerun failed

[2022-03-15 10:16] vyacheslav-skvortsov opened #12294 "Nomad handle app excetions"
Faced the problem of catching application crash dumps.
A simple program that throws an exception:
[code]
When I run this application without nomad WER (Windows Error Reporting), a crash dump is generated. When I run the application under nomad nothing is saved.
My guess is that nomad catches all exceptions and WER fails to create a dump.
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c

[2022-03-15 10:57] DerekStrickland commented on #12273
Hi @evandam

This feels suspiciously like the same problem as AutoScaler [#519](https://github.com/hashicorp/nomad-autoscaler/issues/519).  Thanks to @lgfa29 for seeing this and bringing it to my attention. We'll keep debugging on our end.

[2022-03-15 11:55] DerekStrickland commented on #12294
Hi @vyacheslav-skvortsov

Thanks for using Nomad. I'm sorry to hear you are having problems.  Looking at the document you linked, it looks like you have probably already configured a DumpFolder in the registry. My first thought is that Nomad may not have permission to read the registry.  Have you [configured Nomad to run as a service](https://learn.hashicorp.com/tutorials/nomad/windows-agent?in=no

[2022-03-15 12:16] vyacheslav-skvortsov commented on #12294
Hi, @DerekStrickland.
Thank you for your so fast answer!
I have tried to run nomad as a service and in the terminal too but there was no difference.
` it looks like you have probably already configured a DumpFolder in the registry`
Yes, of cause I configured a DumpFolder before. When I run "CrashApp" without nomad WER stores dumps in this folder.

Windows Event Viewer does not have any items when

[2022-03-15 13:20] hmeine opened #12296 "Mount secrets are revealed in log messages"
### Nomad version
v1.0.4 (from web interface)

### Issue
We run a nomad cluster in which it is possible to run data science jobs that access private data via custom mounts, the secrets for which are stored in Vault.  The vault secret and the mount password are properly hidden during normal operation, but we offer a way for users to type in custom mount paths into a form, and mistyping a path resul

[2022-03-15 13:55] tgross commented on #12254
I've got the PR for Learn open and once that gets merged for deployment, I'll close it this issue.

[2022-03-15 15:35] tgross commented on #12254
Ok, fixed on https://learn.hashicorp.com/tutorials/nomad/access-control-policies?in=nomad/access-control#write. Thanks @idrennanvmware !

[2022-03-15 15:35] #12254 closed

[2022-03-15 16:01] tgross commented on #12265
like to do the bookkeeping.

If we return any error in prerun, we skip ahead to postrun, which is where we do all the cleanup bookkeeping. So we should be ok there. I'll verify that we handle that case correctly though, as it's possible that something in postrun ends up breaking in that code path.

The `claimWithRetry` checks the [`isRetryableClaimRPCError`](https://github.com/hashicorp/nomad/blob

[2022-03-15 16:11] tsaarni opened #12300 "Request: Versioned client API package"
Currently Nomad release tags cover only the server module at `github.com/hashicorp/nomad`. The submodule containing client API `github.com/hashicorp/nomad/api` is not versioned, which leads to applications consuming the latest from `main` directly via pseudo-version.  Example of this can be seen in Vault [`go.mod`](https://github.com/hashicorp/vault/blob/f4292d82948f1f50f819c8c851c01858295a9098/go

[2022-03-15 16:36] schmichael opened #12301 "Render templates and download artifacts in containers"
### Proposal

Nomad should fetch artifacts and render templates inside their task's container so that they have the same permissions, capabilities, namespaces, and filesystem layout as their task.

### Context

As of Nomad 1.2 the `artifact` and `template` stanzas map to the `go-getter` and `consul-template` tools respectively. These tools are used as libraries: embedded in the Nomad binary and th

[2022-03-15 17:39] johnnyplaydrums commented on #12148
@jrasell I'm not sure we'll make any progress on this and don't want to wast y'alls time so I'd vote we just close this issue, unless you think there's something substantive to dig in on.

[2022-03-15 18:37] mr-karan opened #12302 "No logs by journald if alloc is in pending state"
### Nomad version

`Nomad v1.2.6`

### Operating system and Environment details

[code]

### Issue

I have configured `journald` as the logging driver for Docker task plugin with the following config:

[code]

The issue is, if the `alloc` is in an unhealthy state where the application fails to start because of a runtime error, `nomad alloc logs` or logs on the UI are completely blank. It makes it

[2022-03-15 18:37] dadgar opened #12303 "Poststart task exiting causes alloc health to be marked as unhealthy incorrectly"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
OSX 12.2

### Issue
When a task group has an post-start task and it exits, the main task is marked as unhealthy:

"Task not running for min_healthy_time of 10s by deadline"

### Reproduction steps

Run this job:

[code]

#### Expected Result
Allocation to be healthy

#### Actual

[2022-03-15 18:43] tgross commented on #12303
Fixed in https://github.com/hashicorp/nomad/pull/11945, which will ship in Nomad 1.3.0 (with backports)

[2022-03-15 18:43] #12303 closed

[2022-03-15 20:08] mikenomitch commented on #12095
Hey @schmichael, I assigned you on this one since it overlaps with the SD/CT work you're on. If that's not the case, let me know and unassign yourself!

[2022-03-15 21:52] redfive commented on #10575
Sorry for missing your reply almost a year ago and just a day after my initial filing.

Is your example not a case of multiple ports defined? Per my original statement that is the case that works. It's the case where just a single port is mapped that is a problem.

[2022-03-15 22:32] DerekStrickland commented on #12273
Thanks for the offer. I think at this point I just need to find time to spin up a reproduction test. The working theory is that it can be cause by either a rapid succession of blocking query requests or large number of blocking queries at the same time. If you have a fast way to repro that situation that you can share that would be awesome 😄  Otherwise, it's just on me to get that in the work queu

[2022-03-16 02:43] zizon commented on #12265
I had keep some case informations, hope it helps.

below shows a failed restore container after client restart.
note the metric port 8987.
<img width="1774" alt="image" src="https://user-images.githubusercontent.com/567200/158505146-654fb28b-f28c-48f8-a18b-324bafe4bfbe.png">

And this is the container running on the host, at the bottom:910d04
<img width="1774" alt="image" src="https://user-images.

[2022-03-16 04:32] m1keil commented on #10927
@tgross I recently upgrade to v1.2.6 and I'm still hitting the issue.

After a few days of the job running, attempting to deploy ends up with the dreaded "CSI volume prometheus has exhausted...". Followed by a `nomad volume deregister --force` ritual.

[2022-03-16 06:29] zizon commented on #12265
#11477 similar issue.

[2022-03-16 10:35] avandierast commented on #12147
Thanks for the detailed explanation :)

Yes, I see there is 3 evaluations in the list for one real attempt. I didn't talk about the queued-allocs since it doesn't give much more information after a placement-failure=True for my problem. If you look at my eval list in the first post, there is 10 evaluations: 3x3 + 1 -> 3 evaluations per attempts where there was a failing placement + the last failin

[2022-03-16 13:05] tgross commented on #10927
@m1keil the problem isn't entirely eliminated until 1.3.0. https://github.com/hashicorp/nomad/pull/12113 should cover the remaining cases.

[2022-03-16 13:21] zizon commented on #12265
no, it is from apt v1.2.6

On Wed, Mar 16, 2022 at 9:13 PM Tim Gross ***@***.***> wrote:

[2022-03-16 13:40] tgross commented on #12265
Ok great! That case is covered with the new [isRetryableClaimRPCError](https://github.com/hashicorp/nomad/blob/main/client/allocrunner/csi_hook.go#L281-L301) function. That code hasn't shipped in a release yet. It'll be in Nomad 1.3.0 and will get backported to 1.2.x when it does. Thanks!

[2022-03-16 13:40] #12265 closed

[2022-03-16 13:56] tgross commented on #12147
It might be but it's hard to map the screenshot to jobs without having the list of allocations for the job as well. So the example you've given is very helpful.

Ok that's _very_ interesting, as I see you've got 7 allocation runs per job there in the output. To try to replicate, I took your jobspec and I modified it in three small ways:

* I had to change the `volume.host_files.source` for my clus

[2022-03-16 16:44] avandierast commented on #12147
I have also tried today on a MacBook Pro with the binary from nomad and it looped like expected :sweat_smile:

What triggers me with the result of your `nomad eval list` is that you never have any placement failures and the bug is only when there is a placement failure after a failing attempt.
The memory limit was set to 10Go on my job because it is more than half of what my computer has. Thus the

[2022-03-16 17:22] mikenomitch opened #12309 "Add firmer guard when stopping Job"
### Proposal

When stopping a job in the Nomad UI, the user has to click twice to stop the job.

![Stop job](https://user-images.githubusercontent.com/2732204/158649693-58354f96-eaa6-46fd-9778-e9fd7d627239.jpg)

While this confirmation is nice, it is fairly easy to continue without thinking by just clicking again in the same spot. It would be nice if the user had to type the name of the job they w

[2022-03-16 17:24] mikenomitch commented on #12309
Note: We got this request from a user and I have created the ticket in order to gauge public interest. This isn't high priority as of now, but if this is something you would find particularly helpful (over other UI enhancements), let us know with a 👍 and/or comment.

[2022-03-16 17:55] th0m commented on #11085
Hi @tgross and @jrasell I was wondering if you had this feature request on your radar? We are getting more use cases for it cropping up internally.
Thank

[2022-03-16 19:47] yuliuinfa opened #12310 "Nomad created folders/files with extensive world writable permissions (777)"
### Proposal

Nomad should not give 777 permission to files it generated. Or it should allow user to customized folder/file permission under alloc folder.

### Use-cases

Under nomad working directory, the file/folder permission shows like

[code]

### Attempted Solutions

All these folder/file should not be 777 permission. Is there any way/workaround to change their permission?

[2022-03-17 09:59] DerekStrickland commented on #12296
Hi @hmeine

Thanks for bringing this to our attention. This is a bit tricky because the secret leak is actually coming in the error message from the upstream docker client.  We are just logging the error message it produces which includes the username and password. However, we have some ideas about how to try to suppress this by generating a credentials file. That of course makes the fix a little

[2022-03-17 10:30] hmeine commented on #12296
Thanks for looking into this and giving your opinion.  I am not familiar with Go and do not have the time to tackle this, but I want to be a good citizen and report this where the community benefits from the information, so I opened https://github.com/fsouza/go-dockerclient/issues/905

It's a little hard to understand sometimes how nomad, its docker driver, the go-dockerclient, the docker engine a

[2022-03-17 11:15] DerekStrickland commented on #12310
Hi @yuliuinfa.  Thanks for logging this issue.

You can read about Nomad's security design in the [documentation](https://www.nomadproject.io/docs/internals/security).  The [threat model](https://www.nomadproject.io/docs/internals/security#threat-model) section may be of particular interest to you. To paraphrase it, it states:

~> The Nomad data directory contains information about the jobs manage

[2022-03-17 12:52] Dgotlieb commented on #12023
@tgross thanks for researching and roadmapping this issue!
Looking forward for the fix 😅

[2022-03-17 15:41] tgross opened #12314 "E2E: `TestNodeDrainEphermeralMigrate` should work with client ACLs"
Our E2E environment doesn't have `acls { enabled = true }` on the clients, just the servers. If this setting is enabled, the `TestNodeDrainEphermeralMigrate` fails because the client-to-client ACL check fails and the data isn't migrated. We need to figure out the right client ACL policy to support this. This predates #12267 but I noticed it while working on it.

Note that failure happens _silently

[2022-03-17 15:44] tgross opened #12315 "E2E: set `consul.allow_unauthenticated = false` on Nomad config"
Following the work in https://github.com/hashicorp/nomad/pull/12267, we're no longer setting up Consul ACLs just for tests that specificially test them. But without the default `consul.allow_unauthenticated = false`, all the tests that touch Consul will need to have ACL tokens set.

So we ended up with a number of tests that were marked for skipping (mostly in the ENT repo) that previously were fi

[2022-03-17 15:54] tgross opened #12316 "E2E: isolate Consul namespaces"
Our E2E tests don't isolate Consul namespaces to that test, which can run into conflicts on the HCP infrastructure from https://github.com/hashicorp/nomad/pull/12267. This isn't likely to be an issue in practice but it'll be annoying for developers when it does happen.

[2022-03-17 17:56] #11858 closed

[2022-03-17 18:29] dpn commented on #12261
We've discovered that adding a patch to allow this specific failure to retry instead of immediately fail has "fixed" this issue for us- we just wrap these two checks https://github.com/hashicorp/nomad/blob/main/client/allocrunner/taskrunner/vault_hook.go#L307 with another that isolates this particular issue and allows it to retry a couple times before actually failing and our failure rates have dr

[2022-03-17 20:18] DerekStrickland commented on #12109
@tgross  I've got this in my queue to look at after the current project.

[2022-03-17 20:46] tgross commented on #12147
Ah, yes that's I've been missing! I was finally able to reproduce by setting `memory = 1200` (my node has 1983MB available), and then dispatching a handful in a row without waiting. I end up with lots and lots of evals, and jobs that get rescheduled multiple times:

[code]

I went through the logs you provided with a fine-toothed comb and there's enough interleaving to make it hard to see where th

[2022-03-17 20:50] tgross commented on #12147
@avandierast I think I've got enough here to try to write a unit test in the `scheduler` package that'll reproduce this. I'll make an attempt at that tomorrow (assuming no other interruptions, of course 😁 )

[2022-03-18 11:11] iSchluff opened #12318 "Missing ability to specify parameters/secrets in CSI CreateSnapshot"
### Proposal

Currently nomad only supports setting the volume name and snapshot name in the snapshot request.
https://github.com/hashicorp/nomad/blob/154264fcd9276b53ea837664bceefd8b6f217291/command/volume_snapshot_create.go#L100-L103

However some plugins like ceph-csi require additional parameters/secrets to be set for the request to be valid.
https://github.com/ceph/ceph-csi/blob/d357bebbc2189

[2022-03-18 13:00] tgross commented on #12147
Ok, I've got a failing unit test in https://github.com/hashicorp/nomad/pull/12319. While working on that I realized this bug is likely to impact a feature that my colleague @DerekStrickland is currently working on, so I'm going to pair up with him to work on a solution starting early next week.

[2022-03-18 13:15] trilom commented on #12016
Consider the [recommended use case for ceph csi nodes as a system job.](https://github.com/hashicorp/nomad/blob/main/demo/csi/ceph-csi-plugin/plugin-cephrbd-node.nomad)

I appreciate the strictness of the **system** job enforcing the `constraint` for system jobs, but is it intentional that it's so heavy it ignores our explicit `constraint` that is allowed on **system** job specs?  If so then is th

[2022-03-18 13:52] tgross commented on #12318
Hi @iSchluff! In https://github.com/hashicorp/nomad/pull/10840 we added the ability to use the volume's secrets for creating snapshots (that shipped in Nomad 1.1.3). But I can definitely see wanting to have separate secrets for the delete call vs the create call. Most of the plumbing to do this was reworked in https://github.com/hashicorp/nomad/pull/12144 which will ship in Nomad 1.3.0, so it shou

[2022-03-18 15:00] tgross commented on #12118
In my tests in https://github.com/hashicorp/nomad/pull/12257 it looks like the `CSI_ENDPOINT` env var isn't being set at all, which is pretty weird. So I still have some work to do to figure out what's going on there.

[2022-03-18 15:04] tgross commented on #11921
Looks like this was fixed as a side-effect of https://github.com/hashicorp/nomad/pull/11932 and https://github.com/hashicorp/nomad/pull/12112. Closing it out.

[2022-03-18 15:04] #11921 closed

[2022-03-18 15:08] tgross commented on #11899
I'm going to mark this as closed by https://github.com/hashicorp/nomad/pull/12167, which did not merge the create and register spec, but tightened up the behavior to be much less surprising. We'll continue the work to handle safe re-registration in #10324 and other future feature expansions. Thanks again for opening this issue @NomAnor, it really helped clarify some of the work to be done here.

[2022-03-18 15:08] #11899 closed

[2022-03-18 15:15] tgross commented on #12017
Closed by https://github.com/hashicorp/nomad/pull/12275

[2022-03-18 15:16] tgross commented on #11773
I'm going to close this out as a dupe of https://github.com/hashicorp/nomad/issues/11289

[2022-03-18 15:16] #11773 closed

[2022-03-18 17:52] iSchluff commented on #12318
Hi @tgross, thanks for your feedback, however I think this would also need to be applied also for parameters.
E.g. for ceph you need to pass in a clusterID parameter with every request.
Optimally these could also be reused from the volume definition, but depending on the plugin it may be necessary to also specify parameters via the cli.

[2022-03-18 19:43] tgross commented on #11614
I've opened https://github.com/hashicorp/nomad/pull/12324 with a change that defers plugins until last, just as we currently do with system jobs. When combined with https://github.com/hashicorp/nomad/pull/11892, which will also ship in Nomad 1.3.0, we should be covered for this feature request. Thanks for opening the issue @RickyGrassmuck!

[2022-03-18 20:53] fredwangwang opened #12326 "adding alloc_id tag to sidecar `envoy_stats_tags`"
### Proposal

Would like to have alloc_id tag (like other nomad allocation level metrics) on the metrics emitted by the mesh sidecars.

### Use-cases

Atm all the tags emitted by mesh sidecar (envoy) only have consul service info, which does not differentiate each individual allocations.
These metrics are good for getting an overall aggregated view of the traffic patterns, but not so useful for in

[2022-03-18 23:57] idrennanvmware commented on #12326
Thanks Huan - I might suggest that we expand this request to something more generic.

Overall it would be great to be able to inject static tags in to mesh side cars so that they're emitted as point tags to telemetry systems. Alloc_id is one thing but I can see use cases for other things too.  This ability gives timeseries systems some really nice query capabilities.

[2022-03-19 14:55] DerekStrickland commented on #12273
No solution yet, but I did want to share that I have a reproducer.  I can't promise it is 100% the same as your issue, but the symptom at least seems the same.

[2022-03-19 23:06] schemmerling commented on #9307
Well,  I will intentionally leave a "me too" here - Note the following error message:
Mar 19 16:51:28 TEST sh[17233]: 2022-03-19T16:51:28.860-0600 [ERROR] agent.proxycfg: Failed to handle update from watch: kind=connect-proxy proxy=global service_id=global id=service-http-checks:hello error="error filling agent cache: Internal cache failure: service 'hello' not in agent state"

[2022-03-21 12:32] tgross opened #12331 "test: data race in `TestPeriodicDispatch_Add_TriggersUpdate`"
While running tests for PR https://github.com/hashicorp/nomad/pull/12325 I ran into what appears to be a data race in the `TestPeriodicDispatch_Add_TriggersUpdate` (and possibly that entire file of tests).

At first glance it looks like an issue in the test setup. We create a periodic dispatcher and enable it, which calls `run()` in a goroutine. In the main goroutine we `p.Add` a job, which requir

[2022-03-21 13:38] alshdavid commented on #12106
So if I want to use nomad with my workflow, I need to have a reverse proxy exposing services from the cluster to the world?

[2022-03-21 15:49] tgross commented on #12118
Endpoint env var is fixed in #12257

[2022-03-21 20:40] Juberstine opened #12339 "Allow Canary to stop existing allocation"
In our scenario, to use a canary, we have to dedicate an extra hot-spare server to be able to use canaries. We would like to be able to have a canary stop an existing allocation and use that client for the new canary. Our workload in this case required dedicated hosts and having an extra spare just sitting there in case we need to do a canary deploy is a waste of hardware.

Is it possible to allow

[2022-03-22 02:26] jwz-ecust opened #12342 "panic in `os/user.Lookup` CGO call"
### Nomad version
Nomad v1.2.6
### Operating system and Environment details
x86 ubuntu

### Issue
Nomad collapsed when concurrently requesting nomad API on the same node.

#### Expected Result
The first request returned 200 and the second returned 200 too.

#### Actual Result
The first request returned 200 but the second returned 500.

### Job file (if appropriate)

[code]

### Nomad Server logs (

[2022-03-22 09:00] jrasell commented on #12342
Hi @jwz-ecust and thanks for raising this issue. Could you provide any additional details regarding the exact steps you took (commands, APIs etc) to hit this panic? This will help us reproduce the error and fix it up quickly.

[2022-03-22 09:19] jwz-ecust commented on #12342
@jrasell  v1/jobs and v1/jobs/parse. We request these APIs on the same node (mgt01) in a concurrent way. mgt01 is also the nomad server node. During requests, the nomad collapsed and would recover after.

[2022-03-22 09:46] hntrmrrs opened #12343 "Mechanism for obtaining job version in task environment"
### Proposal

Add `NOMAD_JOB_VERSION` to the task environment.

A candidate pull request #12338 has been submitted.

### Use-cases

Currently, there is no trivial way for a task environment to find out the current job version. Without knowledge of the job version, the alloc index may not be unique enough for certain configurations. See discussion here with suggestion by @tgross for a detailed exam

[2022-03-22 11:42] EtienneBruines opened #12345 "Consul Connect sidecar not restarting despite failing checks"
### Nomad version
`1,2,6`

### Operating system and Environment details
`Linux nomad02 5.4.0-100-generic #113-Ubuntu SMP Thu Feb 3 18:43:29 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

`Ubuntu 20.04.4 LTS`

`envoyproxy/envoy:v1.20.1`

### Issue

When for some reason (out of scope for this issue, but it happens regularly; reason unknown), the Consul Connect sidecar task does not work any more - the he

[2022-03-22 12:38] ygersie opened #12346 "CSI error releasing volume claims"
### Nomad version
1.2.6

### Issue
After a sequence of instance refreshes where nomad clients were replaced by a new image the CSI volumes are in a completely unusable state. For some reason the `nomad plugin status` shows unhealthy controllers but the controller allocations report that the plugins are healthy. The Nomad server is throwing errors about it not being able to release volumes claims b

[2022-03-22 13:04] tgross commented on #12346
Hi @ygersie! Nomad 1.3.0 will have some improvements in this behavior around the plugin counts.

Yeah the problem is that we need to handle the case where the node comes back, but I suspect we're being too aggressive there will `nil` nodes, which we probably should assume will not come back. The tricky bit is that just because a node is gone that doesn't actually mean the volume is physically deta

[2022-03-22 13:22] ygersie commented on #12346
Hey @tgross thanks for the very quick response. I was under the impression that the count issue was fixed in 1.2.6 but good to know that this should be addressed in 1.3.0. I see the problem wrt detecting if a node actually has the volume detached but is this something Nomad should take into consideration? Wouldn't the respective storage backend take care of that? The detach won't work as the node

[2022-03-22 13:30] tgross commented on #12342
Hi @jwz-ecust! @shoenig and I have looked at the stack trace, and it looks like the panic happened while the Nomad node was creating an allocation. The API calls you sent just happened to be sent when that happened and don't look to be related to the problem... just bad luck.

The panic happened when the go runtime was making a Linux syscall to lookup the `nobody` user (ref [`cgo_lookup_unix.go#L6

[2022-03-22 13:48] #12073 closed

[2022-03-22 13:53] deepbluemussel opened #12347 "port label validation doesn't filter invalid characters"
### Nomad version
`Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)`

### Issue
Any character is accepted in the name parameter of the stanza network. The job is applied without syntax errors and Nomad's GUI even displays the name with special characters.

However, this should not be possible if we refer to the control [here](https://github.com/hashicorp/nomad/blob/main/jobspec/parse.go#L19

[2022-03-22 14:00] shoenig opened #12348 "Implement raw_exec cgroups v2 support"
While working on https://github.com/hashicorp/nomad/issues/11289#event-6164953552 (cpuset cgroup v2) I've noticed `raw_exec` not behaving on machines where cgroups v1 is not mounted.

Will `Skip` out these tests for now and come back to this.

[code]

[code]

[2022-03-22 14:26] #11614 closed

[2022-03-22 14:27] tgross commented on #11614
#12324 has been merged and will ship in Nomad 1.3.0

[2022-03-22 14:29] fredwangwang opened #12349 "allow tls version configurations in gateway stanza"
### Proposal

Hi! https://github.com/hashicorp/consul/issues/11966 consul added functionality to allow configuration min/max tls versions and cipher suite to use for the ingress listener, however the configuration is not accessible through the nomad gateway stanza. Request to expose corresponding configurations in nomad.

### Use-cases

To allow configure gateway listener tls versions through noma

[2022-03-22 16:13] ygersie commented on #12346
Awesome, thanks a lot for the quick action! Very much looking forward to 1.3.0 :)

[2022-03-22 18:30] shoenig opened #12351 "make getAllPidsByCgroup work with cgroups v2"
Again in shoring up cpuset tests, some driver tests fail on cgroups v2 because `getAllPidsByCgroup` assumes cgroups v1.

Will `Skip` these out for now and come back.

[2022-03-22 20:05] tgross commented on #11893
There were two configuration issues here:
* The controller didn't have the NFS mount bind-mounted to it. This is a bit of a weird constraint of this plugin when used in `nfs-client` mode particularly, and not typically a problem for more common use cases. I'll try to work up a demo example of this.
* Once that was fixed, the `/etc/exports` on the NFS server didn't have `no_root_squash`, so we were

[2022-03-22 20:05] #11893 closed

[2022-03-22 22:45] olgeni commented on #545
I came here for the dependencies and all I got was this lousy T-shirt 😅

[2022-03-23 01:41] cvandal opened #12354 "Respect the case type of capabilities in cap_add"
### Proposal

When a capability is added to `cap_add`, the case type should be respected and passed through to the driver as is.

For example, setting `cap_add = ["NET_RAW"]` should result in `"CapAdd": ["NET_RAW"]` when running `docker inspect <container_id>`, and setting `cap_add = ["net_raw"]` should result in `"CapAdd": ["net_raw"]` when running `docker inspect <container_id>`.

### Use-cases

[2022-03-23 11:08] Dgotlieb opened #12356 "gRPC and TCP/HTTP listeners can't work together in the same gateway-ingress"
Nomad version
v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

Operating system and Environment details
Distributor ID: Ubuntu
Description: Ubuntu 18.04.6 LTS
Release: 18.04
Codename: bionic

Issue
When placing gRPC listener and a TCP/HTTP listener in the same `gateway-ingress` an error is thrown

Reproduction steps
Place different listener types under the same gateway-ingress entry

Expected Re

[2022-03-23 12:51] tgross commented on #12354
Hi @cvandal! This actually startled me at first because I was worried that canonicalizing the capability name incorrectly would remove the cap. But I've checked that's working as expected.

I'm pretty sure the reason that we canonicalize the names rather than taking them raw is so that we can de-duplicate the capabilities when we compare them against the driver's own set of allowed caps. (I do kin

[2022-03-23 12:56] tgross commented on #12347
Hi @deepbluemussel. I suspect that particular regex validation may no longer be used with the move to HCL2. But that's certainly a bug to fix.

[2022-03-23 13:21] #10157 closed

[2022-03-23 14:17] shoenig opened #12358 "driver streaming tests flaky on GHA"
Warrants a closer look, but I'm gonna guess related to very poor disk perf

e.g.

[code]
https://github.com/hashicorp/nomad/runs/5661622307?check_suite_focus=true

[code]
https://github.com/hashicorp/nomad/runs/5660710799?check_suite_focus=true

[2022-03-23 14:39] #10670 closed

[2022-03-23 15:02] tgross commented on #12318
I'm starting implementation on this and expect to ship it shortly.

For what it's worth, the Ceph plugin should be using unique keys for each different secret it needs, all of which are passed along. So if there's a different secret for create vs snapshot, the Ceph plugin is supposed to handle that by having a different secret that we can store with the volume:

[2022-03-23 16:44] protochron opened #12361 "The ID field in the csi_plugin task block does not support interpolation"
### Nomad version

Nomad v1.2.6

### Issue
It looks like the ID field in the `csi_plugin` block of a task does not support variable interpolation. This makes it annoying to run CSI drivers as system jobs when they have to be run in distinct AZs in AWS (for example).

### Reproduction steps
Create a job that attempts to interpolate a value as part of the csi_plugin ID, ex.
[code]
#### Expected Resu

[2022-03-23 17:05] #12361 closed, assigned to nobody

[2022-03-23 17:06] protochron commented on #12361
@tgross sorry about that! I searched for CSI (all caps) and didn't see that particular issue

[2022-03-23 19:28] lgfa29 commented on #12356
Hi @Dgotlieb 👋

I believe this is a characteristic of Consul. From their [ingress gateway](https://www.consul.io/docs/connect/gateways/ingress-gateway) documentation:

So `tcp` listeners must be set on their own.

Would you mind opening an issue in the Consul repo? You can link back to this one.

Thanks!

[2022-03-23 19:29] lgfa29 commented on #12349
Thanks for letting us know @fredwangwang. On a quick look I think it makes sense to expose these through Nomad as well.

I put this into our backlog for further triage.

[2022-03-23 19:34] lgfa29 commented on #12345
Hi @EtienneBruines 👋

Thanks for the report. Would it be possible to collect logs from Nomad in a lower level? You can use the [`nomad monitor`](https://www.nomadproject.io/docs/commands/monitor) to command to downgrade the log level without having to change any configuration.

Also, do you see anything in the Consul logs? Or would you be able to provide screenshots of the Consul UI with the error

[2022-03-23 20:11] stenh0use commented on #2299
+1 For this feature please

[2022-03-23 21:06] lgfa29 commented on #12339
Hi @Juberstine 👋

I think this feels like the same scenario as described in https://github.com/hashicorp/nomad/issues/12339? Which is a way to do a rolling upgrade but stop at the first replacement batch?

[2022-03-23 21:18] lgfa29 commented on #12300
Thanks @tsaarni, this is something we talked about in the past.

[2022-03-23 21:33] lgfa29 commented on #12302
Hi @mr-karan 👋

On a quick look, it seems like Nomad just passes the log configuration to Docker. Could you try running the container using the `docker` CLI directly with the same logging options, and see if the problem still happens?

[2022-03-24 06:31] EtienneBruines commented on #12345
The Consul UI specifically stated an `i/o timeout` error (while trying to connect to the TCP port that the Consul Connect sidecar was registered at) - manually trying to connect to this port using `curl` also resulted in the same i/o timeout. It then marked the instance of the service (as well as specifically the sidecar) as unhealthy / red. Seems like Consul itself is all working as expected.

I

[2022-03-24 07:47] EtienneBruines opened #12366 "system job not updating correctly with partially provided host_network"
### Nomad version
1.2.6

### Operating system and Environment details
Linux nomad02 5.4.0-100-generic #113-Ubuntu SMP Thu Feb 3 18:43:29 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu 20.04.4 LTS

envoyproxy/envoy:v1.20.1

### Issue
A `system` job is not able to update (at all) when using host network.

(It is a load-balancer, so I'm kinda stuck with this kind of configuration.)

[code]

### Repr

[2022-03-24 08:56] Dgotlieb commented on #12356
Hi @lgfa29 😄
It seems like this issue could be on Consul side (and not Nomad).
That being said, based on the docs and as you mentioned:

which I think means that I can add multiple services when using a "non-tcp" protocol (in this case `grpc`):
[code]

But can't add more than one service when using `tcp` protocol:
[code]

My issue is focused on the fact that when using **different** listeners, it

[2022-03-24 13:52] shoenig commented on #12354
Hey @cvandal if you're interested in working up a fix, I think the way to go about it would be to have this `Set`[0] map from the normalized name to the user-given name, rather than `nothing`. Then, fix/copy this `Slice`[1] function to return the original values.

[0] https://github.com/hashicorp/nomad/blob/v1.2.6/drivers/shared/capabilities/set.go#L22
[1] https://github.com/hashicorp/nomad/blob/v

[2022-03-24 14:29] #12318 closed

[2022-03-24 15:05] Dgotlieb commented on #12356
Hi @shoenig,
Sorry for the mistake, this was only a copy-paste mistake 😅
I can confirm that the issue is happening as described.
I fixed the error text.

[2022-03-24 15:24] Dgotlieb commented on #12356
OK, after debugging a little more I realized this is 100% related to https://github.com/hashicorp/nomad/issues/8647
The issue is that Nomad can't register non-tcp services, and requires to first define [service-defaults](https://www.consul.io/docs/agent/config-entries/service-defaults.html) externally (via CLI / API) and then register the non-tcp listener via Nomad.
[code]
[code]

[code]

This is

[2022-03-24 16:49] shoenig commented on #8647
Now that Consul versions pre-dating `ConfigEntry` [Meta](https://www.consul.io/docs/connect/config-entries/ingress-gateway#meta) fields have been phased out, it might be reasonable to have Nomad do something clever with regard to automatically managing the prerequisite `service-defaults` `ConfigEntry` with `Protocol` set to the associated `ingress.listener.protocol` value for each enumerated servi

[2022-03-24 16:50] #12356 closed

[2022-03-24 17:54] shoenig opened #12372 "deps: update opencontainers/runc to v1.1.0"
We just recently went through a bunch of breaking changes upgrading `opencontainers/runc` to v1.0.3, and now they have done a bunch more breaking changes for v1.1.0. When we do, note it's safe to remove all the force-disabled `rootless` plumbing in `cpuset_manager_v2`.

[2022-03-24 18:00] Dgotlieb opened #12373 "Docker extra_hosts is ignored unless defined in the majority of the services within the group"
### Nomad version
v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Distributor ID:	Ubuntu
Description: Ubuntu 18.04.6 LTS
Release: 18.04
Codename: bionic

### Background
Since Nomad version 1.1.3 `/etc/hosts` file was moved from the task level to the allocation level so that it can be shared between tasks of an allocation https://github.com/hashicorp/

[2022-03-24 18:42] #11867 closed

[2022-03-24 18:46] shoenig opened #12374 "cgroups: consider pre-setting cpuset in docker driver"
With the cgroups v2 implementation, we could potentially set the cpuset value in the `TaskConfig` to the `reserved` cores. The tradeoff is I don't think we have access to thh `shared` cores at that point, meaning the task will be limited to only its reserved cores at launch time.

[2022-03-24 19:22] #11289 closed

[2022-03-24 19:26] lgfa29 commented on #12373
Hi @Dgotlieb 👋

Unfortunately since `extra_hosts` are set at the task level there is a known race condition where the final value will be set by the task that starts first. I tried to fix this before in https://github.com/hashicorp/nomad/pull/11074 but it wasn't a reliable approach as all tasks would be trying to write to the same file, which may result in an invalid file if the write over each ot

[2022-03-25 08:49] voltagex commented on #9344
Same issue with Docker 20.10.12, Debian sid.

[2022-03-25 21:56] lgfa29 commented on #12345
Great, thank you for the extra info.

If you could also collect the sidecard logs and task events when it happens again they will be helpful too.

[2022-03-25 23:06] mikenomitch opened #12389 "Improve logging on Connect proxy error"
### Proposal

When there is an error creating the bootstrap configuration for Connect proxy sidecar, the error is not properly surfaced. Currently there is no indication of what happened when Envoy fails to start allocations

### Use-cases

Ideally Nomad could pass this error through to the end user so they could better diagnose and fix the issue.

For instance, an ACL mismatch in Consul and/or no

[2022-03-26 16:31] chumaumenze opened #12390 "Variables not recognized. Unknown token: 8:22 IDENT var.<VARNAME>"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Tested on:
- macOS 12.2.1
- Ubuntu Focal (Multipass)

### Issue

[code]

Running

[code]

### Reproduction steps

- Install the Nomad version (defined above)
- Create the server HCL config file
- Run the nomad agent using the config

#### Expected Result

I expected the `var` to

[2022-03-26 17:15] Dgotlieb commented on #12373
Hi @lgfa29,

I can confirm that your workaround works (even) when using multiple services:
[code]

I just want to emphasize that in case there are `extra_hosts` set in any other tasks/side_car tasks, they will be overridden by it, so the below approach may be "safer":

[code]

Would be nice to be able to use it in the future without the workaround 😅 but until then it's good enough 😄

Thanks!

[2022-03-28 12:42] tgross commented on #12390
Hi @chumaumenze! The `variables` block is for HCL2, which isn't currently supported at all in the agent configuration (this is implied by the HCL2 section of the docs being nestled under "job spec" but maybe that could be clearer).

We didn't implement HCL2 for configuration because running the agent is usually done by something like systemd, where there's no human being in the loop to add `-var`

[2022-03-28 14:27] tgross commented on #12256
Hi @nakermann1973!

The [`service.address_mode`](https://www.nomadproject.io/docs/job-specification/service#address_mode) you've set only impacts which address is being advertised to Consul during service registration. As you've noted, that's being set correctly in Consul, but not in Nomad for some reason.

Unfortunately I can't reproduce what you're seeing without the plugin you're using. I don't

[2022-03-28 14:41] tgross commented on #12326
Hi @fredwangwang and @idrennanvmware! The sidecars are just tasks that we add to the job at the time they're submitted (see [`job_endpoint_hook_connect.go`](https://github.com/hashicorp/nomad/blob/main/nomad/job_endpoint_hook_connect.go)). So they should emit the same telemetry as other tasks. Can y'all clarify a bit as to which metrics you're looking for on sidecars that aren't already tagged the

[2022-03-28 14:45] tgross commented on #12366
Hi @EtienneBruines! The correct behavior in this case would be to do nothing at all, as there's no change to the jobspec. This may also be a clue for #12016, but I'm going to keep this issue open for further investigation just in case they're not related.

[2022-03-28 14:46] tgross commented on #12016
Noting that https://github.com/hashicorp/nomad/issues/12366 seems to be related, or at least may provide a clue that we're mutating the job definition unexpectedly.

[2022-03-28 15:18] tgross commented on #12261
Hi @dpn! Your reasoning around retries seems clear, but after reviewing the code I didn't find any obvious changes between 1.0.6 and 1.1.0, so there may be some timing-related issue here that's causing the problem to appear more often. Even our Vault SDK versions didn't change between [1.0.6](https://github.com/hashicorp/nomad/blob/v1.0.6/go.mod#L85-L86) and [1.1.0](https://github.com/hashicorp/no

[2022-03-28 15:48] tgross commented on #12326
One of my colleagues has pointed out that [`connect.sidecar_service.proxy.config`](https://www.nomadproject.io/docs/job-specification/proxy#config) may give you the access to the `envoy_stats_tags`, but this is opaque to Nomad. I'm not sure we have a ready-to-use configuration option for you without some more testing, but that might be something you'd like to experiment with if you have time to tr

[2022-03-28 15:54] fredwangwang commented on #12326
Just tried (not fully working)

Btw thanks for pointing out `envoy_stats_tags` totally forgot about that :)

and here is my updated nomad config:
[code]

here is the rendered envoy bootstrap config:

[code]

soo the nomad variables does not gets interpolated, most likely as you said it is currently opaque to nomad.

[2022-03-28 15:57] tgross commented on #12326
Ok, thanks. That should be enough for us to go on in terms of making this a roadmap item. (cc @mikenomitch as I know he had some interest in this one.)

[2022-03-28 16:04] fredwangwang commented on #12326
thanks @tgross! Also, would it makes sense to always add `alloc_id` to the envoy metrics without user making the addition (even with the interpolation available)?

As said our use case is using the envoy metrics to correlate to the allocation performance, which I would think a rather common thing to do with these metrics.

[2022-03-28 16:57] tgross commented on #12326
That seems sensible, as it's a bit of a pain to configure by hand for sure.

[2022-03-28 17:36] apollo13 commented on #12067
@fkluthe The java driver requires nomad to run as root. `sudo nomad agent -dev` would make it show up I guess.
[code]

[2022-03-28 19:21] dpn commented on #12261
Hey @tgross! hope all is well with you!

Yeah we came to the same conclusion during our investigation- we considered that there may be some nuance here that we don't understand fully but it's sounding like that may not be the case.

We still have a few 1.0.6 clusters as the discovery of this issue halted our 1.1.10 rollout and from what I'm seeing we're seeing the same "allocation does not exist"

[2022-03-28 19:29] tgross commented on #12261
So I had a conversation with some of our raft gurus and there's some subtle details on that. No node _starts_ applying the log entry until a quorum of nodes has the log entry replicated. But if the leader stalls on applying the entry to its FSM it's possible a follower could complete applying the entry to its FSM before it finishes. So everyone has the same log entries but it's not reflected on th

[2022-03-28 20:13] schmichael commented on #12095
I plan on merging #12312 which will **disable** `writeToFile` in Nomad 1.3. If we containerize `template` (see #12301 for that discussion) we can allow `writeToFile`, `plugin`, and never have to worry about template safety again!

For users who trust their jobspec authors and template sources completely, you can enable `writeToFile` by setting [`function_denylist`](https://www.nomadproject.io/docs

[2022-03-28 20:23] dpn commented on #12261
So one question that might arise from the metrics screenshot posted in the previous post: What changed on the 25th which seems to have "clamped" this slow apply rate down significantly in the one DC, while also appearing to eliminate this in the other DC. Story time:

We have a set of batch jobs that dispatch at a relatively high rate compared to the rest of our workloads in the cluster. These dis

[2022-03-28 20:33] aholyoake-bc opened #12395 "Hyphens not allowed in port name when using the nomad api package"
### Nomad version
Nomad v1.1.6 (1da19278dbdb5a356ec7c4f3969194ad5b416824)

Go modules:
[code]
### Operating system and Environment details
Debian 10 / MacOS

### Issue
When submitting a job with a dynamic port with hyphens in it directly using the CLI, there is no problem. When parsing using the go library we are presented with
[code]
which is a result of this regular expression
https://github.com

[2022-03-28 20:33] schmichael commented on #12301
Just noticed this is technically a dupe of #2510, but we'll continue to use this issue since stalebot closed the original years ago.

[2022-03-28 20:40] fkluthe commented on #12067
![image](https://user-images.githubusercontent.com/13903484/160483150-b0d19619-3b7e-4316-bc08-e44761e10273.png)

ah right, thx, didnt catch that. Works with sudo..

[2022-03-28 21:07] tgross commented on #12395
Hi @aholyoake-bc! Can you clarify what you mean by "When parsing using the go library"? Do you mean you're using [`api.ParseHCL`](https://github.com/hashicorp/nomad/blob/v1.1.6/api/jobs.go#L66-L76)?

I just tried doing the following with the jobspec you've provided and it seems to work fine on both Nomad 1.1.6 and `main`:

[code]

[2022-03-28 21:24] aholyoake-bc commented on #12374
For better visibility from #12274

Our trading infrastructure reads the cpus in the cgroup on startup and index into the cpuset to pin threads to specific cores. If the cgroup gets modified after we've done this thread <-> core pinning, I'm not entirely sure what happens but it's bad as either threads will still be pinned to CPUs outside of the allocated cgroup or it just breaks altogether.

[2022-03-28 22:07] aholyoake-bc commented on #12395
Sorry, this was obviously me being lazy. It looks like we're using a deprecated / private endpoint
[code]
[code]

[2022-03-28 22:22] herter4171 opened #12397 "Node Memory Resource Randomly Went Down 1 MB"
### Nomad version
Nomad v1.2.5 (06d912a20ba029c7f4d6b371cd07594cba3ae3cd)

### Operating system and Environment details
Amazon Linux 2

### Issue
When we boot up our head nodes, a job is launched to get node resource values for a given instance type.  For example, our `c5n.9xlarge` nodes used to have 94,532 MB RAM, then they suddenly started having 94,531 MB with no change in tooling.  This led to

[2022-03-29 04:14] mr-karan commented on #12302
@lgfa29 Hi!

I tried deploying the same jobspec, but this time, I tried to fetch logs from `docker` itself. I noticed, that I couldn't find the container even on doing `docker ps -a` (I think Nomad garbage collects the failed containers immediately?).

But on inspecting `journald`, I did find the `nginx` services logs which came from container:

![image](https://user-images.githubusercontent.com/5

[2022-03-29 13:02] tgross commented on #12395
Yeah, the `github.com/hashicorp/nomad/jobspec` package isn't part of the public API; only the `api` package is. Unfortunately there are plenty of use cases the `api` package can't support, including writing new task drivers! We want at some point to pull out a `sdk` package for the kind of thing you might be doing here, but in the meanwhile we're in this awkward state where you're using internal p

[2022-03-29 13:30] aholyoake-bc commented on #12395
Thanks Tim, that's very helpful!

[2022-03-29 13:30] #12395 closed

[2022-03-29 13:43] tgross commented on #12261
Thanks for all that context @dpn. Clearly we need to figure out what's going on with #10222 sooner rather than later. The FSM apply metric we're looking at here is when the node has a log on disk already and is applying its value to the in-memory state store, so if we're not seeing unusual CPU load (which I agree from your metrics we're not), then I suspect we've got some goroutine contention goin

[2022-03-29 13:43] shoenig commented on #12374
@aholyoake-bc thanks for pointing out your use case, that is something where there is a detectable change in behavior - with the cgroups v1 controller you could read just the reserved cgroup cpuset, but with v2 there is only 1 cpuset that contains both reserved and shared cores.

The immediate workaround would be to either avoid using a system with only cgroup v2 support (the v2 behavior is disabl

[2022-03-29 13:45] tgross commented on #12261
Also, I've got https://github.com/hashicorp/nomad/pull/12396 open and I've at least smoke tested it to make sure it doesn't blow up in our face, if you want to give that a try. I'm going to do some additional testing here to see if I can artificially create a slowed-down FSM apply on a leader that exercises this idea.

[2022-03-29 14:02] aholyoake-bc commented on #12374
FWIW, we would be *very* supportive of having this information exposed in an environment variable as it would make the migration to having nomad manage the cores significantly easier.

I might be pushing my luck here, but exposing it as something like
[code]
would be even dreamier

[2022-03-29 14:03] tgross commented on #8336
I'm going to close this as a `wontfix`. The EBS plugin isn't following the spec here and also isn't returning an error message that we can safely retry. Updates coming in Nomad 1.3.0 should improve the case for roughly this _kind_ of failure where node mounting fails or concurrent updates return `PreconditionFailed` error messages like they're supposed to.

[2022-03-29 14:33] tgross commented on #11196
Will be fixed in https://github.com/hashicorp/nomad/pull/12400, planned to ship in Nomad 1.3.0. As it turns out, most required plumbing was already done, we just needed to fix one case where it was getting overridden in the RPC handler and the rest was testing and docs.

[2022-03-29 15:08] ahmedwonolo commented on #12273
We experienced same issue again on another node and this time `curl` to the agent API consistently unresponsive.
[code]

Here's SIGABRT output https://gist.github.com/ahmedwonolo/63ffe1654d2be5024a0accbf25aa08a9
(I work with @evandam)

[2022-03-29 15:40] tgross commented on #11963
This is closed by https://github.com/hashicorp/nomad/pull/12387 https://github.com/hashicorp/nomad/pull/11892 https://github.com/hashicorp/nomad/pull/12102 and a handful of other PRs landing in the upcoming Nomad 1.3.0. We'll still get this log in the cases we actually care about.

[2022-03-29 15:40] #11963 closed

[2022-03-29 17:47] #11885 closed

[2022-03-29 18:46] #11196 closed

[2022-03-29 19:50] fredwangwang commented on #12326
cool! we can try put up a pr for adding alloc_id by default if you haven't started it yet, let me know

[2022-03-29 20:41] #12095 closed

[2022-03-29 21:50] Xerkus commented on #12111
I think I had similar issue where enabling just the port in the consul client was not enough and connect enabled had to be set to true on clients as well for Nomad constraint to work. Consul docs state that connect enabled only needed on server mode agents.

[2022-03-30 03:35] 3nprob commented on #9122
Just chiming in here that this is still relevant and desired.

Maybe this is a separate bug but we do see reallocations and (docker) tasks restarting on agent restart.

[2022-03-30 12:36] tgross commented on #12326
Yes, I'd be happy to review a PR for it @fredwangwang!

[2022-03-30 13:31] chrisvanmeer commented on #590
I would also like to see this feature.
Any news on the timeline?

[2022-03-30 15:52] dpn commented on #12261
Thanks! I'll gather that debug info back to you shortly and we'll get that patch rolled out to one of our nodes and let you know how it looks.

[2022-03-30 19:36] dpn commented on #12261
So we gave #12396 a shot on one of our nodes and it hasn't done the trick:

[code]

[2022-03-31 03:27] manbobo2002 opened #12412 "Error submitting job: Unexpected response code: 500 (Vault not enabled and Vault policies requested)"
### Nomad version
Nomad v1.2.2 (78b8c171a211f967a8b297a88a7e844b3543f2b0)

### Operating system and Environment details
Debian 10

### Issue
[code]

### Reproduction steps

#### Expected Result
submit jobs successfully

#### Actual Result

### Job file (if appropriate)

[code]

![image](https://user-images.githubusercontent.com/25196415/160970127-9d8144f6-cd75-4e38-8edd-cc1f6f9e493c.png)

After I

[2022-03-31 07:44] m1kc commented on #10251
Any updates on this one?

[2022-03-31 12:39] tgross commented on #10251
Hi @m1kc improved cgroups v2 support is planned to ship in Nomad 1.3.0. Much of the work that @shoenig has done has already landed in `main`.

[2022-03-31 12:42] tgross commented on #12412
Hi @manbobo2002! That implies that Nomad doesn't think you have Vault access configured for your cluster. Can you take a look at the Nomad server and client logs to see if there's any information about failing to connect to Vault and share your [`vault`](https://www.nomadproject.io/docs/configuration/vault) configuration (redacted as needed)?

[2022-03-31 13:39] tgross commented on #12261
Received, thanks! There's a lot to dig into here so it may take me a little bit to get back with an analysis.

Sorry to hear that. That may throw a wrench into our theory about FSM Apply, or I may need to do some more testing about whether that patch could even properly fix the problem. I'll get back to y'all as soon as I can with more info.

[2022-03-31 15:45] tgross opened #12420 "remove deprecated client options for plugin config"
Pre-0.9 clients used the deprecated client options configuration for plugins. The documentation was removed in https://github.com/hashicorp/nomad/pull/12416 so that we discourage users from using it. But we should be able to remove these options entirely in a major release of Nomad.

This work may also end up blocking https://github.com/hashicorp/nomad/issues/12390 (or at least can be done at the

[2022-03-31 17:00] the-maldridge commented on #12119
So this turned out to be an interesting and somewhat obnoxious problem.  In my environment for complicated reasons beyond the scope of this ticket `/var` is a tmpfs.  This normally doesn't matter because `/var/persist` is an ext4 scratch disk.  However in the case that the scratch disk fails to mount, the mount options will be propagated down from the higher level mount, leading to all the mounts

[2022-03-31 17:00] #12119 closed

[2022-03-31 21:52] BirkhoffLee commented on #1782
The absence of this feature just killed my cluster. A *curl* periodic job piled up to 600+ pending and tens running. This caused very high disk i/o usage from nomad and effectively rendered affected nodes totally unresponsive. Then Consul decided to stop working as well, because i/o timeout from other nodes.

Of course you could argue that curl has in-built timeout options, the point is that if a

[2022-03-31 21:57] BirkhoffLee commented on #2390
Heads up for those who wants to try out Nomad for production: I just spent the last one hour to try to kill 700 jobs that is causing the cluster to freeze. Still ongoing.

[2022-04-01 09:59] aholyoake-bc commented on #12374
Out of interest, what are your current ideas for the definition for the numa-aware scheduling (basically what it looks like in the job file)?

[2022-04-01 13:39] DerekStrickland opened #12430 "cli: Add support for `-q` flag to list and `nomad status` commands"
### Proposal

In PR #12426 a community member introduced the `-q` flag to the `node status` command. When specified, this flag will limit the output to just the UUIDs of the nodes. This flag could be useful for at least any list command as well as the generic `nomad status` command. This issue proposes that we expose the `-q` flag on all list commands as well as the `nomad status` command.

During

[2022-04-01 14:28] shoenig commented on #12374
This is off the top of my head and 1000% subject to change, but something like

[code]

Where `disable` is the current (unaware) behavior, `preferred` implies the scheduler will place the allocation on a Nomad client where the cores, memory, and device requirements are available on a single numa node _if available_ or elsewhere if not, and required means scheduling the alloc will block until the r

[2022-04-01 15:27] almarcotte commented on #7420
Any update on this issue? Same behaviour for GCP tagging.

[2022-04-01 16:57] fredwangwang commented on #9558
closing this ticket, tried to reproduce this issue with newer version of consul/nomad, looks like the issue no longer exists

[2022-04-01 16:57] #9558 closed

[2022-04-01 17:51] Amier3 commented on #9370
As far as I can tell, this is fixed.

[2022-04-01 17:51] #9370 closed

[2022-04-02 03:26] cnwobi commented on #9421
@Amier3 I am a first time contributor but will really love to take a crack at this

[2022-04-02 09:01] zhujinhe commented on #8067
Really looking forward this feature.  In my scenario, when deploying multiple Web instances, Django for example, we only need to migrate the database once when we update the docker image.

[2022-04-02 17:17] finwo opened #12440 "Nomad depends on gnu implementation of df"
### Nomad version

1.2.6, freshly downloaded from https://releases.hashicorp.com/nomad/1.2.6/nomad_1.2.6_linux_amd64.zip

### Operating system and Environment details

Minimal linux kernel with custom init, built & run using `make test` from https://github.com/finwo/nomados/

Start command:
- `/sbin/nomad agent -dev -log-level=TRACE -config=/etc/nomad/init.json`
- `/sbin/nomad agent -log-level=TRA

[2022-04-02 19:23] rounakdatta commented on #11757
Hi @jrasell @mikenomitch is the `nomad fmt` command expected to be just a usage of `hclfmt` or would we like to re-implement the formatting specifically for the Nomad specification?

[2022-04-04 09:40] rwojsznis commented on #11963
Wow @tgross I just wanted to say huge thank you for effort regarding eliminating all those CSI-related bugs and problems and for being so transparent about it ❤️  I can't wait to try Nomad 1.3.0 🤞

[2022-04-04 10:03] mr-karan opened #12441 "nomad server should members list clients too"
### Proposal

On doing `nomad server members`, only the list of `members` in the cluster with role as `server` is listed presently.

Since the nomenclature of the command is `server > members`, the current behaviour is fine, but:

- It would be nice if `members` is made a top level command instead, similar to `consul members`.
- Then, this command can include the list of `clients` inside the clust

[2022-04-04 12:21] tgross commented on #12441
Hi @mr-karan!

`nomad node status` gives the list of clients. As you've noticed, `nomad server members` is just for the servers.

[2022-04-04 13:34] mr-karan commented on #12441
Thanks  @tgross that makes sense.

Feel free to close this.

[2022-04-04 13:36] #12441 closed

[2022-04-04 13:45] robsonj opened #12445 "Nomad server nodes using up all available host memory"
So the problem here could be that we just need more recources for each of the server nodes, we currently have 3 nodes, each with 2 cores, 16gb memory.

For a while they run just fine, then about once a week, they start to chew up all the available memory on each of their respective hosts. After which time, the only way I've found to recover the cluster, is to completely delete the serverdata direc

[2022-04-04 14:55] shoenig commented on #12440
Hi @finwo thanks for the report, `nomados` looks like an interesting project!

The root cause here is likely the lack of a `df` executable used for finding the mount point of the data directory

https://github.com/hashicorp/nomad/blob/v1.2.6/client/fingerprint/storage_unix.go#L32

If there's a better way to get the same information without resorting to `exec`, we can definitely look into incorpora

[2022-04-04 15:09] shoenig commented on #12445
Hi @robsonj there is some documentation on guidance for [resources here](https://www.nomadproject.io/docs/install/production/requirements#requirements).

However this certainly seems concerning

If there were a simple memory leak a simple restart of the agent should suffice; instead it sounds like there's an explosion of data happening in the persistent state store, which would then be cached in m

[2022-04-04 17:56] robsonj commented on #12445
Hi @shoenig I have a copy of the serverdata directory before I removed it, would its size help you in any way?

One thing I was wondering is maybe we just have too many pending jobs for the 16gb of memory. Is there a way to set a limit in nomad where it will reject job submissions if there are too many in a pending state perhaps?

[2022-04-04 17:59] robsonj commented on #12445
@shoenig serverdata directory is 9.8gb in size, drilling down into that directory shows 2 snapshot directories, each about 4.3gb in size, another .tmp directory inside the snapshots directory is about 349mb in size. So wondering if its going into some spin taking or restoring from a snapshot maybe?

[2022-04-04 18:34] schmichael opened #12450 "Allow serving UI assets from disk"
### Proposal

Add an agent configuration parameter to allow loading web UI assets (html/css/javascript/images) from the agent's filesystem instead of from the copy builtin to the `nomad` binary.

Perhaps a parameter like [`ui.asset_path`](https://www.nomadproject.io/docs/configuration/ui):

[code]

A CLI parameter would be handy for development:

[code]

If there's a standard name/behavior for thi

[2022-04-04 19:24] #11514 closed

[2022-04-05 01:53] danishprakash commented on #11757
@jrasell I'm not entirely sure but I guess this should involve using `tfexec` to invoke `hclfmt` internally and overwrite the source file? I've seen something similar happen over at `terraform-ls` for terraform fmt. If that sounds like the right direction, I'd like to work on this.

[2022-04-05 02:08] danishprakash commented on #12440
If, as the function name suggests, we want free space, we can maybe try the [`statfs`](https://pkg.go.dev/golang.org/x/sys/unix?utm_source=godoc#Statfs_t) syscall?. [`statx`](https://pkg.go.dev/golang.org/x/sys/unix?utm_source=godoc#Statx_t) otoh, can give us the mount ID but it seems like we needed that above just for parsing the output from `df`.

What do you think @shoenig?

[2022-04-05 05:37] danishprakash commented on #9503
/assign

[2022-04-05 06:05] danishprakash commented on #2390
@schmichael Looked at `Run()` for `JobStopCommand` and it seems like we can accept multiple jobs and then concurrently stop them? I can work on this if that seems like the right direction.

[2022-04-05 06:52] thatsk commented on #12132
@lgfa29  @tgross just want to see any progress on this?

[2022-04-05 10:18] shantanugadgil opened #12455 "`raw_exec` graphs for `cpu` and `memory` are misleading"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Amazon Linux 2, Ubuntu 16.04/18.04/20.04

### Issue
Misleading CPU and Memory usage graphs when using `raw_exec` tasks.

### Reproduction steps

Configure a `raw_exec` task with a very low value of `cpu` and `memory` like so:

[code]

When the process starts using much more memor

[2022-04-05 12:53] tgross commented on #12132
@thatsk we'll update this issue once we know more. Right now it isn't on the roadmap and needs design discussion internally.

[2022-04-05 13:48] shoenig commented on #12455
Thanks for the report, @shantanugadgil ! Indeed this seems fairly trivial to reproduce

<details><summary>example jobfile</summary>

[code]

</details>

Just run that and browse to the task in the UI.

[2022-04-05 13:51] shoenig commented on #12440
Sounds reasonable @danishprakash. Of course the best way to know would be to try it :slightly_smiling_face:

[2022-04-05 15:29] shoenig commented on #12088
I believe this should be fixed in v1.3 (coming soon!) which adds support for cgroups v2. Feel free to re-open if things are still mis-behaving with Nomad v1.3

[2022-04-05 15:54] finwo commented on #12440
@shoenig Just tested if adding a `df` binary worked.

When using the `df` binary from [ubase](https://git.suckless.org/ubase/), the error remained.
Using the `df` binary from my host system (void linux), nomad started up and registered succesfully as a client with my previously-existing server.

[2022-04-05 18:51] tgross opened #12465 "Vault token renewals race with task shutdown"
@cullenmcdermott reported spurious Vault client errors when a batch job that required Vault had exited.

Searching through their logs, we find the following series of events. Note: these log messages are reconstructed from structured log outputs, so they may not match standard Nomad stdout logging you'd find in the journal:

That last log line came with the following multi-line log:

[code]

And t

[2022-04-05 20:02] tgross commented on #12465
Cross-linking to https://github.com/hashicorp/nomad/issues/12261 because although it's not the same error message or symptoms, they smell potentially related.

[2022-04-05 20:02] tgross commented on #12261
Cross-linking to https://github.com/hashicorp/nomad/issues/12465 because although it's not the same error message or symptoms, they smell potentially related.

[2022-04-05 20:17] shoenig opened #12468 "Support for platform variables field in task drivers"
@tgross had a nice idea for handling platform-specific plumbing of data through to executors that we might not want exposed to task runtime environments, `PlatformVariables`. Currently we're just making use of `Env` to pass uninteresting fields to the executor that are uninteresting to the task.
https://github.com/hashicorp/nomad/pull/12419#discussion_r843126108

[2022-04-05 20:21] johanforssell commented on #10536
One year later and this is still a thing. A previously broken job will not be restarted because it's pending.

Any progress on this ticket?

[2022-04-05 20:22] mikenomitch commented on #11757
Hey @rounakdatta, yeah I think just using `hclfmt` would be fine!

If you base the implementation off of [Packer's code](https://github.com/hashicorp/packer/blob/main/command/fmt.go#L16), that could be a really good starting point if you'd like to contribute.

@danishprakash, I think anything that relies on TF is going to be a no-go from our perspective. While we of course love TF, we don't want t

[2022-04-05 20:32] mikenomitch commented on #8269
Hey @the-maldridge, agreed that this is a good idea. Looks like a dupe of this one: https://github.com/hashicorp/nomad/issues/9024 so I'll close this out.

Some notes. This will have to make it into a major release because it is technically a breaking change (If you already had datacenter "foo-*"). Won't be able to make it into 1.3 though, as it's coming very soon.

[2022-04-05 20:32] #8269 closed

[2022-04-05 20:35] DerekStrickland opened #12469 "disconnected clients: Unknown alloc gets marked for migrate on node drain"
### Nomad version
1.3.0-beta

### Operating system and Environment details

1 Server
2 Clients

### Issue

If you mark a disconnected client for drain, it will set the `DesiredTransition.Migrate` field to true for all allocations on that client. This results in those allocations being treated as migrations by the `allocReconciler`.

### Reproduction steps

- Create a job that ensures allocations a

[2022-04-05 20:41] DerekStrickland opened #12470 "disconnected clients: Node does not transition to `down` after last `max_client_disconnect` expires"
### Nomad version

Nomad 1.3.0-beta

### Operating system and Environment details

1 Server
2 Clients

### Issue

When the last job configured with a `max_client_disconnect` value expires, the node should transition from `disconnected` to `down` if it is still not able to heartbeat.

### Reproduction steps

- Create a job that ensures allocations are spread across multiple clients. For testing, de

[2022-04-05 20:50] mikenomitch commented on #3700
After some reflection, I'm going to close this one out. Setting a global value to inherit from in the Docker config would be a new pattern, and it'd be a lot of work to establish this pattern just for this timezone fix.

I think templating your jobs (with something like Nomad Pack or Levant) is a way to get around this issue, but the workaround as it stands isn't too bad.

[2022-04-05 20:50] #3700 closed

[2022-04-05 21:42] #12351 closed

[2022-04-05 21:54] shoenig commented on #12348
Closed by https://github.com/hashicorp/nomad/pull/12419

[2022-04-05 21:54] #12348 closed

[2022-04-05 22:23] shoenig commented on #10251
Between #11289 and #12419 (shipping in Nomad 1.3) I _think_ we're reporting what's available in cgroups v2

exec:
[code]

raw_exec:
[code]

[2022-04-05 22:23] #10251 closed

[2022-04-05 22:32] shoenig commented on #12088
Edit: sorry actually this is still broken, e.g. `nomad alloc status -stats <id>` on an `exec` task:

[code]

[code]

[2022-04-05 23:30] idrennanvmware commented on #10777
@notnoop - just wanted to follow up if there had been any further movement on this? We're still stuck on HCL1 jobs and getting deeper and deeper in to having a hard time switching to HCL2 without this kind of feature

Thanks!

[2022-04-06 01:39] danishprakash commented on #11757
@mikenomitch you're right, I think I thought we could do something similar to how we do it in terraform-ls for the formatting even from the client but I now realize, as the name suggests, `tfexec` is in fact built for executing `terraform` commands. The link you shared from Packer looks more aligned and reasonable. I'd like to give this a shot if no one else has started working on this already. Th

[2022-04-06 14:40] tgross commented on #12256
Ok, I've been able to reproduce in a Vagrant environment. I get slightly different host IP but I think that may be because I'm binding the client to 0.0.0.0 here. But either way it's not the addresses we'd expect to see.

Here's my CNI configuration, with `plugins[0].master` set to the device with an IP address 10.0.2.15/24. (Note that if you deploy onto multiple clients you need to have non-overl

[2022-04-06 14:51] tgross opened #12478 "`periodic.prohibit_overlap` has unexpected behavior with blocked templating"
In https://github.com/hashicorp/nomad/issues/12147#issuecomment-1088874422 @next-jesusmanuelnavarro wrote:

[code]

[2022-04-06 15:24] next-jesusmanuelnavarro commented on #12478
First of all, thanks a lot for being so kind as to open this issue yourself.

The 'prohibit_overlap = "true"' is intended since, because of the nature of the job, not two instances should ever run at a time.

Regarding the failure, those vault secrets are used on the hcl itself, i.e.:

[code]
This above leads to task *"stucked"*:
1. Recieved: Task Recieved by client
2. Task setup: Building Task Di

[2022-04-06 15:30] #12263 closed

[2022-04-06 16:24] mikenomitch commented on #2390
@danishprakash, I just checked with engineering and that sounds good!

If you pick this up and want some guidance, please let us know. And feel free to open a WIP/draft PR too - doesn't have to be perfect before getting feedback. Thank you!

[2022-04-06 16:26] rounakdatta commented on #11757
Alright @mikenomitch , I've started looking into Packer's implementation. It's clear, and I think I'll be able to make some progress tonight/tomorrow. @danishprakash I was willing to try my first Nomad contribution through this issue 🙂

[2022-04-06 16:26] schmichael commented on #2390
tl;dr - +1 to @danishprakash

@danishprakash Sounds good to me! Concurrent vs sequential is an interesting question, but I think your choice - concurrent - is the right one. Sequential is easy enough to script already, and a concurrent stop operation could someday call a batch/atomic stop API which in @BirkhoffLee's case could be a significant optimization! 1 command, API call, and Raft commit ins

[2022-04-06 16:46] jrasell opened #12481 "templates: add integration test cases to cover Nomad service template funcs"
The `taskrunner/template` package includes new Nomad service consul-template functionality, however, does not exercise this within integration tests. This is due to the package being in a long import chain, making utilising current test agents/clients impossible without a large refactor.

We should therefore step back and address this properly, allowing not only the creation of these tests, but th

[2022-04-06 16:50] schmichael opened #12483 "Test bufconndialer package"
For Nomad 1.3.0 the bufconndialer package was borrowed from Vault to implement an in-process/in-memory "connection" from `consul-template` to the Nomad API.

While the package was ported, tests were not. Tests should either be ported or written.

[2022-04-06 17:03] #5222 closed

[2022-04-06 17:44] bengaywins commented on #2390
Funny that I reported this years ago, with the same exact issue that @BirkhoffLee had, because I had 5000 to kill. Appreciate that I wasn't the only one.

[2022-04-06 17:48] caius commented on #9725
I'll echo the thanks for the breakdown above, this has been really instructive in understanding how Nomad is mis-reporting what the actual usage is. I was expecting us to have to rework all our prestart tasks to be run within the container before the actual task runs in the same container to save on the ram. (In our case it's doubling the ram allocation I expect it to use in the UI!)

We're seeing

[2022-04-06 17:54] philrenaud opened #12485 "disconnected clients: UI: Update Allocation Statuses"
Account for status "unknown"

[2022-04-06 17:54] philrenaud opened #12486 "disconnected clients: UI: Update Client Statuses"
Account for status "Disconnected"
^--- only on client nodes
^--- only on sysbatch schedulers

[2022-04-06 18:01] tgross opened #12488 "`TestDebug_*` is flaky"
The recent update to `nomad operator debug` is resulting in flaky unit tests. It looks like it might be because of a cleanup failure that's causing cross-traffic between test cases? For example (from [`230354`](https://app.circleci.com/pipelines/github/hashicorp/nomad/21979/workflows/7ca6f6f7-e253-49ba-beb7-1a2fee1b8dcc/jobs/230354)):

[code]

Another example (from [230558](https://app.circleci.co

[2022-04-06 18:03] grant-neal opened #12489 "Job being put into a Pending state after dying with restarting and rescheduling disabled"
### Nomad version
Nomad v1.0.1

### Operating system and Environment details
Windows Server 2019

### Issue
Trying to run some ephemeral nomad jobs that if any issues occurs like running out of memory and the job dies, it should not come back.

Currently when running the jobs with restarting and rescheduling disabled, the instance is being restarted due to out of memory errors, and then the Alloca

[2022-04-06 18:06] shishir-a412ed opened #12490 "Rolling restart of a nomad job"
Hi!

We are trying to formulate a process internally on what would be the best way to do rolling restarts on a nomad job. Currently we give our users two options

(1) To change a `meta` variable in the Nomad job spec and trigger a new deployment. This results in a pseudo deployment which causes Nomad to restarts all the allocations. Users prefer this for two reasons:
       - There is a rollback m

[2022-04-06 19:35] #8040 closed

[2022-04-06 21:25] shoenig commented on #12088
I was looking at an alloc not doing anything; these values seem to be reporting fine :facepalm:
Sorry for the comment spam

[2022-04-06 21:25] #12088 closed

[2022-04-06 21:43] mikenomitch commented on #11736
Merged into main

[2022-04-06 21:43] #11736 closed

[2022-04-07 07:56] nakermann1973 commented on #12256
To you last point (I can't actually make requests to one of these endpoints), This is probably due to the way macvlan interacts with the host interface.

A macvlan interface created on top of a host interface is not visible to the host.  Packets are routed directly out to the external network.  In order for a host to connect to the macvlan network in a container, the host also requires a macvlan i

[2022-04-07 10:25] DerekStrickland commented on #12469
This issue was resolved by changing the order of filtering in `filterByTainted` so that the `DesiredStatus` stop  for a reconnecting alloc is detected before filtering for migrations. This is working as desired on main as of early yesterday morning.

[2022-04-07 11:12] DerekStrickland commented on #12469
Closed by #12476

[2022-04-07 11:12] #12469 closed

[2022-04-07 11:50] sanjeevkumarraob commented on #11014
This needs to be addressed. The image doesn't use the cached image and every time it tries to connect to gcr.io which cannot be connected from a server.

[2022-04-07 13:23] tgross commented on #12256
Thanks @nakermann1973 it'd been a hot second since I've had to play around with macvlan. That totally makes sense.

Ok, so that means we have a reproduction here. The tl;dr is that with CNI addresses we:
* advertise correctly to Consul
* bind to the correct IP address for the container
* but display the wrong IP in Nomad's API / CLI output and in the environment variables we expose to the host.

I

[2022-04-07 17:00] jorgemarey commented on #8063
Hi, sorry to ping again over here. Any news on this?

[2022-04-07 17:19] NomAnor opened #12498 "Confusion about the network environment variables"
### Nomad version
Nomad v1.2.6

### Operating system and Environment details
Arch Linux running ``nomad agent -dev`` and ``network_interface`` set to my main interface instead of the default loopback.

### Issue
According to the [documentation](https://www.nomadproject.io/docs/job-specification/network#port-parameters) the ``NOMAD_ADDR_port`` variable is

Running a container in the same way as the

[2022-04-07 17:44] DerekStrickland opened #12500 "reconciler: Deployment DesiredTotal appears wrong when rapidly purging and readding a job that had a failed alloc"
### Nomad version

1.2.6 + 1.3.0-beta.1

### Operating system and Environment details

Nomad Vagrantfile-based Cluster
1 Server
2 Clients

### Issue

If an allocation fails after deployment, and you purge and re-add the job quickly the DesiredTotal for the deployment shows the wrong number in the output. Worth mentioning is that there is a pending `alloc-failure` eval at the time.

### Reproductio

[2022-04-07 19:00] #12488 closed

[2022-04-07 19:04] DerekStrickland opened #12503 "canaries: Allocation count rises indefinitely if client disconnects while canary in progress"
### Nomad version

1.3.0 beta.1

### Operating system and Environment details

Nomad Vagrantfile Cluster
1 Server
2 Clients

### Issue

Nomad creates more and more allocations if a client disconnects while a job configured with `max_client_disconnect` is in the middle of canarying.

### Reproduction steps

- Run a job configured with `max_client_disconnect`, a spread that forces deployment across

[2022-04-07 19:16] tgross commented on #12490
You're definitely right here. At large scale, restarting is _much_ cheaper that rescheduling. Restarting happens almost entirely client-side. But in addition to avoiding the scheduler load, you also avoid having to pull new workload images to any hosts where they don't exist, you don't have to mint new Vault tokens, etc. so that's less work for all the allocation's dependencies as well.

Interesti

[2022-04-07 19:17] shoenig commented on #12374
https://github.com/hashicorp/nomad/pull/12496 sets a `NOMAD_CPU_CORES` environment variable, containing the cpuset - style list of cores reserved for the task (not including shared cores). (missed the beta, but will be in Nomad 1.3)

I'm going to go head and close this ticket, because there's no way to achieve the exactly correct behavior of setting the docker task config's cpuset to reserved + sh

[2022-04-07 19:17] #12374 closed

[2022-04-07 20:52] shoenig commented on #12498
Hi @NomAnor sorry for the confusion, the way Nomad exposes networking is riddled with backwards compatibility sharp edges that cannot change until a Nomad 2.0 happens (if even then). As we added features, the legacy bits remain and really muddy things up (note all the deprecated environment variables...)

The blob of docs that reads

[code]
is misleading - as documented in the [runtime](https://ww

[2022-04-07 23:05] twunderlich-grapl opened #12507 "Add custom variable validation to docs"
### Proposal

Nomad supports the custom variable validation that was added to terraform 0.13. However, there's no documentation about it on the nomad docs, so I don't think its heavily used or known about.

### Use-cases

### Attempted Solutions

[2022-04-08 03:05] smaeda-ks commented on #1782
GitHub Actions Self-hosted runner with autoscaling is another good example, I thought. It's very much possible to run runners on Nomad as batch jobs, and autoscale them using `run_uuid` [feature](https://www.hashicorp.com/blog/running-duplicate-batch-jobs-in-hashicorp-nomad), so tasks can be easily duplicated without caring about the current count, and can be triggered by GitHub Webhooks upon rece

[2022-04-08 07:13] danishprakash commented on #11757
Sure @rounakdatta, please feel free to take this up!

[2022-04-08 13:36] shoenig opened #12513 "Jobspec using validation with missing constraint causes panic"
While looking over https://github.com/hashicorp/nomad/pull/12508 I had a typo in my own example and triggered a panic of the CLI. A missing `condition` in the `validation` block of a `variable` block gets through jobspec validation itself, and causes a NPE.

[code]

[code]

[2022-04-08 14:11] tgross commented on #11779
I was reminded we still had this issue open and that there's one unfortunate bit of this, which is that it makes short IDs (8 chars) _much_ less useful and that has ripple-effects throughout the entire CLI.

[2022-04-09 02:57] k0wl0n opened #12531 "CSI topo segment wrong placement to availability zone"
### Nomad version
`Nomad v1.3.0-beta.1`

### Operating system and Environment details

### Issue
Wrong placement availability zone for create new volume.

### Reproduction steps
i create a volume config file

[code]
then run `nomad volume create couchdbdatatest.volume`

#### Expected Result
Volume created at ap-southeast-1b

#### Actual Result
Created external volume vol-01807a3df92cf8be7 with ID

[2022-04-09 08:03] resmo commented on #8965
We see this in `v1.2.6`

[2022-04-09 08:05] mr-karan commented on #11043
Released a small tool which does ^^: https://github.com/mr-karan/nomctx

Would still be very much interested in contributing the same to upstream :D

[2022-04-10 00:34] fosslinux commented on #12440
I can confirm this issue when using busybox's `df`. It appears that the functionality of busybox's `df` is not equivalent in some way to coreutils `df`.

[2022-04-10 12:23] finwo commented on #12440
Is someone internally already working on it or should I give it a go with statfs/statx?

[2022-04-10 14:33] danishprakash commented on #2390
@schmichael thanks for the helpful summary. I've started looking into this, just trying to understand the relevant pieces right now before making any changes, I'll open a draft PR soon.

I think this stemmed from seeing how `kubectl` does this. You can pass multiple entities and the client fires off a request to the server and moves on to the next entity. Of course, it might not be a 1-1 implement

[2022-04-10 16:04] Rendanic opened #12533 "Support uid and gid in tmpfs for docker driver"
### Proposal
Add support for uid and gid in docker driver.
Example:
[code]

The uid and gid are missing at the moment.

### Use-cases
Checkmk use a tmpfs for storing runtime information in tmpfs filesystem. This needs to be mounted for the runtime user and not for root only.

### Attempted Solutions
Add the 2 options to the docker driver. They are availible in docker.

Example:
`docker ... --tmpfs

[2022-04-11 08:12] nahsi opened #12537 "Add AWS instance tags to client metadata"
Since January 2022 AWS Instance tags are [available](https://aws.amazon.com/about-aws/whats-new/2022/01/instance-tags-amazon-ec2-instance-metadata-service/) in EC2 metadata. Would it be possible to add Instance tags to Nomad client metadata?

Tags in metadata must be [enabled](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/instance#instance_metadata_tags) first.

Then

[2022-04-11 09:17] #3485 closed

[2022-04-11 12:33] tgross commented on #12531
Hi @k0wl0n! Thanks for opening this bug report. Can you share your plugin job configurations as well? That might help diagnose what happened here.

[2022-04-11 12:46] shoenig commented on #12440
Hey @finwo feel free to work on this!

[2022-04-11 14:26] tgross opened #12538 "EventStream index not respected"
In our nightly E2E suite we're seeing failures in `TestE2E/Events/*events.EventsTest/TestStartIndex` in the last assertion (ref [`events.go#L254`](https://github.com/hashicorp/nomad/blob/v1.3.0-beta.1/e2e/events/events.go#L254)) that we don't get any events older than the provided index. This fails consistently both in the E2E infra and running against a local cluster.

With a little printf debugg

[2022-04-11 15:31] tgross commented on #12538
With `git bisect` I found the test failure was introduced by 8863d1e45a735b5e65eb0132ad831cdd6348f417 (https://github.com/hashicorp/nomad/pull/12436), but then when I tried to document a working example I found it to be failing on Nomad 1.2.6 as well. This suggests that there might be a reliable timing issue here (i.e. a race condition with a wide window) rather than a originating in #12436.

If w

[2022-04-11 15:39] tgross commented on #12538
Nope, sorry, it's an actual bug in the code. With that fix I'm still getting events that are before the start index:

[code]

Going to mark this as accepted for a follow-up.

[2022-04-11 16:05] DerekStrickland commented on #12537
Hi @nahsi

It seems like it should be possible. The AWS SDK mod might need to be updated. It looks like we are using v1.42.27 which came out Jan 4, so I don't know if it includes the new functionality or not. I suspect the changes would need to be made in the [AWS fingerprinter](https://github.com/hashicorp/nomad/blob/main/client/fingerprint/env_aws.go). Do you feel like taking a pass at it? Pull

[2022-04-11 17:37] idrennanvmware commented on #12326
@tgross  - @gulavanir and I took a crack at this (thanks @fredwangwang for some extra eyes). We aren't Golang experts by any means so please let us know if we need to address anything

[2022-04-11 20:56] tgross commented on #12538
Ok, so it _was_ a testing issue, and I've opened https://github.com/hashicorp/nomad/pull/12548 to fix that.

[2022-04-12 06:41] nahsi commented on #12537
@DerekStrickland I will try!

[2022-04-12 12:35] #12538 closed

[2022-04-12 15:28] tgross commented on #12098
Two fixes for the CSI-related items: https://github.com/hashicorp/nomad/pull/12553 https://github.com/hashicorp/nomad/pull/12554

[2022-04-12 21:03] tgross commented on #11953
Cross-linking https://github.com/hashicorp/consul/pull/12722

[2022-04-13 17:05] bobhenkel opened #12558 "Following the production-deployment-guide-vm-with-consul guide doesn't result in a working server node"
Hello,
When I follow this guide [production-deployment-guide-vm-with-consul](https://learn.hashicorp.com/tutorials/nomad/production-deployment-guide-vm-with-consul) to set up a nomad server I run into an error when starting the systemd service.
It seems there are some steps missing that should set permissions to allow the created nomad user to own some or all of the directories created.

### Nomad

[2022-04-13 18:09] GloomyDay commented on #6172
same on 1.2.6 , tested today : before update and restart

Allocated Resources
CPU                Memory         Disk
120198/248000 MHz  28 GiB/29 GiB  63 GiB/138 GiB

Allocation Resource Utilization
CPU              Memory
3470/248000 MHz  17 GiB/29 GiB

Host Resource Utilization
CPU              Memory         Disk
9340/250000 MHz  26 GiB/31 GiB  90 GiB/150 GiB

----

after

Allocated Resources
C

[2022-04-13 23:03] k0wl0n commented on #12531
Hi @tgross thanks for reply.

this is my plugin job:
Controller

[code]

this is my nodes
[code]

My nomad client version
[code]

but im missing this config from my volume config.
and add this
[code]

update CSI image version  from 1.2 to 1.5
and now its working

Result output
[code]

and this my final volume.hcl
[code]

[2022-04-13 23:16] schmichael commented on #2390
@danishprakash

I meant that if a user runs:

[code]

...and jobDoesNotExist doesn't exist: `job1` and `job2` *should still get stopped successfully.* We should display an error for `jobDoesNotExist` but still stop the other 2 jobs.

Basically the same as using bash job control:

[code]

[2022-04-14 11:07] linluxiang opened #12567 "The parameter "max_client_disconnect" in group section is unsupported"
From the documentation, there is a "max_client_disconnect" parameter in the group section. https://www.nomadproject.io/docs/job-specification/group#max-client-disconnect.

But when I use it like this,
[code]
 I got an error below

After checking the source code here, https://github.com/hashicorp/nomad/blob/8f7abae89fb6aef25161a90457e42a1a3cc07fa5/jobspec/parse_group.go#L40, I found the word "max_c

[2022-04-14 12:56] #12567 closed

[2022-04-14 13:23] tgross commented on #12531
Ok, good to hear. I know that they changed the topology key at one point but I don't see it in their [changelog](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/CHANGELOG-0.x.md) between 1.2 and 1.5, but their changelogs don't cover all updates. Ex. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/commit/f6784061734899c03f248cb317f10984a8c81f8d landed in 1.5.1 without a chan

[2022-04-14 13:23] #12531 closed

[2022-04-14 15:50] seanamos opened #12569 "Exposed GRPC health check does not work (H2C)"
### Versions
Nomad v1.2.6
Consul v1.11.4

### Operating system and Environment details
Ubuntu 20.04

### Issue
I'm not sure if this is Nomad's or Consul's side.

When attempting to expose a GRPC check (either with `expose = true` or a manual `proxy -> expose -> path`) *without* TLS (H2C/HTTP2 prior knowledge), the health check always fails.

The GRPC check is only able to pass if a port is expose

[2022-04-14 16:28] philrenaud commented on #11965
Did some digging with @ChaiWithJai

- The volumeMount object within a taskgroup lacks the volume.name property that would give us something like volume0[0] vs volume0[1];
- the volume object has that name property, but does not come back with `job.taskgroups[].tasks[].volumeMounts`, nor with `job.taskgroups[].volumes`

there are two ways we could solve this:
- Make an explicit ember store.findAll(

[2022-04-14 17:30] tgross commented on #11965
The problem here is that the API doesn't know the volume name, as the volume request is part of a task group and not an allocation. Including the name would imply that the output of `nomad job status` changes depending on which allocation you're looking at, but it doesn't look at allocations at all.

[2022-04-14 18:27] shoenig commented on #12326
Closed by  #12543

[2022-04-14 18:27] #12326 closed

[2022-04-14 23:00] mikenomitch opened #12575 "Add helper to select a single service in template"
### Proposal

Currently with Nomad Service Discovery, it is possible to list all of the Nomad services using the `nomadService` keyword. This is nice for something like a load balancer config.

It would be nice if you could select a single service from the list of Nomad Services. Ideally this could be semi-randomly selected for each allocation and not result in tons of restarts when Nomad service

[2022-04-14 23:05] mikenomitch opened #12576 "Add Readiness Checks to Native Service Discovery"
### Proposal

Currently Nomad Service Discovery is using task health to determine whether or not a service is healthy and should be returned by the API and in the Template helper.

It would be nice to be able to define a more granular health check. Likely this would use the `check` stanza like Consul health checks defined in Nomad.

### Use-cases

Separating Nomad task health from readiness to rec

[2022-04-15 07:15] spegoraro commented on #12273
Not sure if this adds any value but I'm seeing the same thing with requests from the nomad autoscaler in [#519](https://github.com/hashicorp/nomad-autoscaler/issues/519) also. It's a mix of EOF and connection reset by peer:

(I've removed the ip addresses and node ids)

`failed to drain node: Put "https://[nomad-server]:4646/v1/node/[node-id]/drain?namespace=default®ion=global": EOF`

or

`receive

[2022-04-15 10:38] morm commented on #696
You saved me few days of hitting the wall with my head!

[2022-04-15 10:51] DerekStrickland commented on #12273
Thanks for the added information @spegoraro!

[2022-04-15 13:47] #12470 closed

[2022-04-15 15:13] shoenig commented on #8063
Hey @jorgemarey sorry this has taken 2 _years_, but we may be in a reasonable place now to make the switch. The fundamental change comes from https://github.com/hashicorp/consul/issues/7414 which shipped in Consul 1.8, which is now beyond EOL. As described in that issue the implication is the Consul agent in the remote DC will now require its anonymous ACL token to contain the permissions

[code]

[2022-04-15 18:29] #10470 closed

[2022-04-15 20:45] tgross commented on #12478
Hi @next-jesusmanuelnavarro ok that all makes sense. This blocking is a feature of consul-template. If you take a look at [the templating language docs](https://github.com/hashicorp/consul-template/blob/master/docs/templating-language.md#secret) you'll see there are some options for setting default values. You might want to considering something like that

I thought that the new [`template.wait`](

[2022-04-15 21:01] tgross commented on #12397
@herter4171 I did a little more digging on this and it looks like the kernel is the most likely culprit to be taking over that extra bit of RAM (from `vmalloc` or kernel modules). If you're trying to run that tightly on RAM, you'll probably want to have some monitoring in place over the `/proc/meminfo` so that you can dial that in to a safe value. We generally recommend that folks set `client.rese

[2022-04-15 21:26] jorgemarey commented on #8063
Hi @shoenig. That's great. We have several federated DCs distributed all over the world. This change will allow me to sleep better :D (we never had any problem related to this, but the fear of losing contact with the primary and not being able to deploy on the secondary is there)
The requirements of the anonymous ACL tokens are OK by me. The only thing that I wonder is that this tokens are also ge

[2022-04-15 22:44] mikenomitch opened #12588 "DNS Support in Nomad Service Discovery"
### Community Feedback Wanted!

### Proposal

Currently, native Nomad service discovery can expose service information (address, port, tags, etc) via the [services api
](https://www.nomadproject.io/api-docs/services) or [services CLI command](https://www.nomadproject.io/docs/commands/service), and tasks can use service information via the [template stanza's nomadServices keyword](https://www.nomad

[2022-04-15 23:01] mikenomitch opened #12589 "Nomad Service Discovery Feedback"
With the launch of [Nomad 1.3 Beta](https://www.hashicorp.com/blog/nomad-1-3-adds-native-service-discovery-and-edge-workload-support), we've added simple native service discovery to Nomad.

We're quite excited about the addition as is, especially for simple architectures and small workloads, but we plan to continue iterating on our current work. We won't replace Consul as a full service mesh, but

[2022-04-15 23:12] louievandyke opened #12590 "Inconsistent runtime variable behavior seen in alloc log outputs"
### Nomad version
Output from `nomad version`

Nomad v1.3.0-beta.1+ent (c393b2e4c6eee95c85c74d82ecfdaa4c62dafba2)

### Operating system and Environment details

18.04.1-Ubuntu x86_64 GNU/Linux

### Issue

Deploying a job with the docker driver and env {} stanza shows inconsistent behavior while referencing a variable even by escaping it with $$.  Sometimes the value is interpolated and sometimes i

[2022-04-16 07:17] chenjpu commented on #12589
Modify service status

In this way, the service does not stop, but the state becomes DOWN, suitable for disabling the service.
DOWN forbidden
UP, start using

[2022-04-17 07:57] chavacava opened #12592 "suspicious assignment to a by-value method receiver"
The assignment to `q.MaxQueryTime` has no effect after exiting the method

https://github.com/hashicorp/nomad/blob/c86642bae44185bf8b48594e69a00b3106e562e6/nomad/structs/structs.go#L299-L301

(Found with [`revive`](https://github.com/mgechev/revive))

[2022-04-18 07:24] iwinux commented on #12420
If these options are removed, how would I disable unwanted task drivers (e.g.: `docker` or `qemu`) for certain client nodes?

[2022-04-18 13:12] tgross commented on #12420
Hi @iwinux! I just double-checked because I thought we had an `enabled` flag for all the task drivers, but after testing it turns out we only have it for `raw_exec`! So yes, we'll need to add it to all the built-in plugins as well.

By the way, in Nomad 1.3.0 you'll also be able to add task driver allow/deny lists to namespaces, which some folks will find handy for limiting what workloads can happ

[2022-04-18 14:04] Amier3 commented on #9525
@james-masson @passcod

Re-opening this for now so we can reignite a discussion on it 😄

[2022-04-18 14:06] passcod commented on #9525
I have left the job that I used Nomad at, and do not use it currently, so I'm unsubscribing, sorry!

[2022-04-18 14:41] #12592 closed

[2022-04-18 16:11] mikenomitch commented on #12589
@chenjpu thanks for the feedback. If you don't mind sharing, what's your use case for this behavior?

And do you want to put the whole service into a "DOWN" state or just specific instances of the services?

[2022-04-18 17:57] #11923 closed

[2022-04-18 22:38] mikenomitch opened #12597 "UI - Add links to allocations and alloc logs from Task Group/Job Page"
### Proposal

In the UI, it often takes a lot of clicks to get to an task's show page and/or an task logs. If there were a way to jump directly from a Task Group page or Job page to a specific tasks's logs, that would make navigating the UI faster.

![Task Group](https://user-images.githubusercontent.com/2732204/163888189-84636a75-a1c1-46da-af8d-5e3d4cc46f23.jpg)

The "Recent Allocations" table in

[2022-04-18 23:07] mikenomitch opened #12598 "Toggle between Latest and All Deployments in Alloc Atatus chart"
### Proposal

![Latest Deployment](https://user-images.githubusercontent.com/2732204/163888980-b0a3d45c-61bd-44d1-aa99-db6e7db3b025.jpg)

When viewing "Allocation Status" on the Job show page, if a job has failed a lot in the past but is currently healthy, the allocation status chart can still show *a lot* of red. This gives the Nomad user the impression that something is currently and actively wr

[2022-04-18 23:43] mikenomitch opened #12599 "Add NOMAD_SHORT_ALLOC_ID to alloc environment"
### Proposal

Currently, Nomad exposes NOMAD_ALLOC_ID to the alloc's environment and this value can be interpolated in the docker [hostname](https://www.nomadproject.io/docs/job-specification/network#hostname).

Given hostname length constraints, it would be nice if the NOMAD_SHORT_ALLOC_ID could be exposed as well and interpolated in this value.

### Use-cases

Allow user to set up a docker hostn

[2022-04-19 00:30] chenjpu commented on #12589
Specify the specific service for going down

[2022-04-19 03:47] benbuzbee opened #12600 "Nomad doesn't wait on StopTask from drivers before StartTask during lost alloc replacement"
### Nomad version
Output from `nomad version`
[code]

### Issue
When Nomad nodes miss heartbeats by a small window, Nomad may replace some tasks on that node before the old tasks finish stopping. This can be a problem if those tasks have resources, such as ports.

In the repro below I will show a Nomad job that asks for a dynamic port allocation. The allocation gets port 9000. When the node misses

[2022-04-19 06:39] EtienneBruines opened #12601 "nomad run -monitor for batch jobs"
### Proposal

Allow a flag (e.g. `-monitor`) within the `nomad run` command to keep monitoring the allocation of a `batch` job and give access to its exit code. (Potentially even streaming the stdout/stderr.)

### Use-cases

Running `batch` jobs that are very important that they run, as part of a deployment pipeline.

If I first want my `database migrations` batch job to succeed before deploying a

[2022-04-19 08:54] victors2709 commented on #10014
This problem replicates also for podman plugin.
I think this is related to: https://github.com/containernetworking/cni/issues/97
It works using a CNI network with loopback plugin:
`
{
        "cniVersion": "0.4.0",
        "name": "brloopup",
        "plugins": [
                {
                        "type": "bridge",
                        "bridge": "nomad",
                        "ipMasq":

[2022-04-19 10:22] jrasell commented on #12601
Hi @EtienneBruines and thanks for raising this request. I'd agree that having some way to better monitor the status of batch jobs would be extremely useful, particularly in the use case you have given. I'll mark this feature request as accepted but I feel we would need to discuss certain implementation details before writing code.

[2022-04-19 12:53] #8063 closed

[2022-04-19 15:13] jrasell commented on #12590
Hi @louievandyke and thanks for raising this detailed issue.

It seems on the surface that this could be an ordering issue as the `CATALINA_OPTS` env var depends on the `APPD_PROPS`. In the case the `APPD_PROPS` get placed first into the environment, I would expect Nomad and the task env to treat the interpolation as a string literal.

The ordering as shown within the job specification `env` block

[2022-04-19 17:50] mikenomitch opened #12647 "Streaming on alloc's file not working in beta"
### Nomad version
1.3-beta

### Operating system and Environment details

Reproed on mac, in both firefox and safari

### Issue

From an allocations log page (/ui/allocations/f6c94f7d-362d-24c3-b3da-e04c3dfc7c74/fs/alloc/logs/server.stdout.0), if I hit the play button to "start stream", the file goes completely blank and no streaming occurs.

This is not the case in 1.2.6 but is the case in 1.3-be

[2022-04-19 18:15] Amier3 commented on #12569
Hey @seanamos

Thanks for bringing this to our attention. GIve us some time to take a look at this and we'll get back to you with what we find 👍

[2022-04-19 19:15] DerekStrickland opened #12680 "disconnected clients: Reconnecting allocation can cause a replacement that is immediately stopped"
### Nomad version

Nomad 1.3.0-beta1

### Operating system and Environment details

Nomad Vagrantfile
1 Server
2 Clients

### Issue

Creating a job that is constrained to a single node, can result in a second allocation being scheduled for that client being started and then immediately stopped when a disconnected client reconnects

### Reproduction steps

- `nomad run` the jobfile below that const

[2022-04-19 21:00] tommyalatalo opened #12681 "Documentation: clarify use of 'labels' with dynamic block"
### Problem

It's not clear how to use the `labels` argument with HCL2 dynamic blocks when reading the Expressions documentation: https://www.nomadproject.io/docs/job-specification/hcl2/expressions

The docs say that this is optional, but when setting up a  dynamic group for system updates across several nodes like below, the result of a `nomad plan` is `Missing required argument; The argument "la

[2022-04-20 01:12] ferchault opened #12712 "No preemption with requested cores"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details

### Issue
We try to use [preemption](https://learn.hashicorp.com/tutorials/nomad/preemption) based on number of cores using this minimal job file where the goal is to reserve 10 cores for one task and preempt any jobs that might interfere. Asking for one group of 10 cores yields

[2022-04-20 07:35] jrasell commented on #12681
Hi @tommyalatalo and thanks for raising this issue. I agree, we should update our documentation to include a more comprehensive dynamic block example.

[2022-04-20 08:30] #12599 closed

[2022-04-20 12:09] #11471 closed

[2022-04-20 16:01] Lord-Y opened #12718 "Nomad purge node with MIG"
Hello guys,

At work, we are actually using nomad (1.2.6) for now on a non production environment (production will come a bit later).
Our GCE MIG is working perfecly but we should like some basic features in the gce-mig config:

[code]

When node_purge is setted to `true`, the node need to be purged from the `nomad node status` AND also purge the node in `consul members`
Is that something possible

[2022-04-20 16:06] jrasell commented on #12718
Hi @Lord-Y and thanks for raising this request. This seems related to the Nomad Autoscaler which is held in a separate repository, so I'll transfer this issue there.

In terms of the feature enhancement I understand the desire but I feel we would need to discuss this internally before deciding whether to accept it.

[2022-04-20 17:15] #11244 closed

[2022-04-20 18:39] #12647 closed

[2022-04-20 19:42] shoenig opened #12722 "Enable setting explicit address on service registrations"
One feature request from https://github.com/hashicorp/nomad/issues/12589 is for being able to advertise arbitrary addresses in Nomad services. We can probably do the same for Consul services as well, it's much of the same plumbing.

[2022-04-20 21:34] shishir-a412ed commented on #12490
@tgross Apologies for the delayed response. I was able to verify this behaviour with in-place restarts (`nomad alloc restart`) and it looks like it works exactly the same as the deployment workflow (which people in our organization are using to trigger a restart).

I deployed the following job

[code]

- This job started 3 allocations (3 containers) and registered 3 corresponding services in consu

[2022-04-20 21:34] #12490 closed

[2022-04-20 23:46] mikenomitch opened #12724 "Sporadic error when loading Job page"
### Nomad version

Output from `1.3-beta`

### Operating system and Environment details

MacOS, Firefox

### Issue

When clicking around the UI and into a Job page, occasionally the Job show page throws an error and does not load. Once you reloading the page, it works.

The error displayed (at least when in dev mode):

`Error: Assertion Failed: You made a 'findRecord' request for a 'job' with id '

[2022-04-21 01:20] dermotbradley commented on #11795
@tgross Sorry for taking so long to respond again to this.

So Alpine does package more than one version of NodeJS - the current LTS ("Active LTS" as NodeJS call it: https://nodejs.org/en/about/releases/), which is v16, and 1 other newer non-LTS version, currently v18 as it just came out but was v17 up until a couple of days ago.

The underlying issue appears to be that Nomad (and also Vault) in g

[2022-04-21 07:24] ffimnsr opened #12726 "Logs Missing Haproxy and Nomad in Docker"
So I was following this tutorial on the official Hashicorp Nomad page.
https://learn.hashicorp.com/tutorials/nomad/load-balancing-haproxy .

I've modified the haproxy configuration and tried running the setup. The nomad deployment failed several times, I've checked the logs using `nomad alloc logs -job haproxy` but there was nothing. I've also checked it using the allocation ID.

[code]

### Nomad

[2022-04-21 07:32] jrasell commented on #12726
Hi @ffimnsr and thanks for raising this issue. In the case the Docker container didn't start, the application wouldn't have started and therefore no logs can be produced. It is worth noting the allocation logs are specifically for the application inside the container and not relevant to the Nomad process. The logs command also supports a `-stderr` flag which displays error logs from the applicatio

[2022-04-21 07:39] Lord-Y commented on #12455
I'm having kind of the same problem with nomad 1.2.6 with docker image.

![image](https://user-images.githubusercontent.com/8832734/164403039-71b01cd9-a796-4d15-8597-ce2d6dc17f11.png)

The memory usage is always having 0 bytes while docker stats tell totally the opposite:

[code]
In our job spec we reserve 256MB with no limit.
OS:
[code]

We have no particular error in agent log in debug.

[2022-04-21 08:18] #12681 closed

[2022-04-21 09:00] Lord-Y commented on #12455
Okay so I can see that my memory graph issue is related to cgroup v2 and will be fixed in nomad 1.3.0. More informations are here https://github.com/hashicorp/nomad/issues/10251. I'll wait for nomad 1.3.0

[2022-04-21 11:38] mr-karan commented on #12588
I'm in favor of running `coredns` as a system job. `coredns` can do a lot of things specified in the Use Cases:  load balancing, health checks, export prometheus metrics, caching etc. Otherwise we may end up building all these things in Nomad's core codebase.

In addition to running a system job, we can also look at building a coredns plugin similar to [kubernetes](https://coredns.io/plugins/kuber

[2022-04-21 11:53] personrcunha opened #12728 "Broked link on nomadproject homepage"
https://www.nomadproject.io/use-cases/automated-service-networking-with-consul

it's broked link

[2022-04-21 11:58] jrasell commented on #12728
Hi @personrcunha and thanks for raising this. I'll look into fixing this today.

[2022-04-21 13:17] philrenaud commented on #12724
Also noticing this when moving between task groups and allocations.

[2022-04-21 13:38] thatsk opened #12731 "percentage showing in ui not reflecting in telmetery metrics."
Hello Team,
I am trying to fetch the real-time percentage which is shown in the UI of a nomad in the Prometheus query but I am getting bigger number not sure.
![image](https://user-images.githubusercontent.com/15324013/164469950-ca955f49-30fd-4652-9f69-e390243345f0.png)

Prometheus query:-
`avg((nomad_client_allocs_memory_usage{task="webserver"}-nomad_client_allocs_memory_cache{task="webserver"})/

[2022-04-21 14:05] #12503 closed

[2022-04-21 17:57] #11965 closed

[2022-04-21 18:09] mikenomitch commented on #12724
Also, FYI - When I run this with a non-dev build of the UI, the error is "TypeError: t is undefined" in the console, and "Something went wrong." in the UI.

So in case anybody was wondering if these are two distinct errors, they aren't!

[2022-04-21 20:20] #1749 closed

[2022-04-21 20:47] ChaiWithJai opened #12741 "fix filtering logic for API"

[2022-04-21 20:47] ChaiWithJai opened #12742 "fix copy for no matches"

[2022-04-22 03:58] thatsk commented on #12731
@tgross if you can give some lights on this that would be helpful

[2022-04-22 07:03] kvkang opened #12744 "CSI: client restarts cause later plugin restarts to fail"
### Nomad version
Nomad v1.2.6 (https://github.com/hashicorp/nomad/commit/a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Ubuntu 20.04.3 LTS

### Issue

1. When a nomad client restart with a csi plugin has deployed
2. nomad skipping done prestart hook csi_plugin_supervisor because task_runner has record the hook state in localstate
3. but csi_plugin_supervis

[2022-04-22 07:07] jrasell commented on #12558
Hi @bobhenkel and thanks for raising this issue. Would you be able to share the permissions on the `/etc/nomad.d` directory you have? The guide does perform some permission manipulation on this directory, so this will help me figure out what the problem may be.

[2022-04-22 07:17] han-devops opened #12745 "UI сrash"
Why does ui crash often?

[2022-04-22 07:19] han-devops opened #12746 "alloc limit"
How to reduce alloc on the client?

[2022-04-22 07:21] jrasell commented on #12745
Hi @han-devops, could you provide more context and details into the problems you are seeing with the UI crashing? A description, screenshots, logs, and any reproduction details would be ideal.

[2022-04-22 07:38] chilloutman opened #12748 "System job with constrains fails to plan"
### Nomad version
v1.2.6

(Nomad v1.2.6 has problem described below, while Nomad v1.1.5 works as expected.)

### Operating system and Environment details

Nomad nodes are running Ubuntu. Docker driver is used for all tasks.

A set of nodes has `node.class` set to `worker` and there are few other nodes in the cluster.

### Issue

System job with constrains fails to plan.

### Reproduction steps

A

[2022-04-22 07:39] jrasell commented on #12746
Hi @han-devops; assuming you are referring to lowering the total number of allocations that can run on each client you could configure [reserved resources](https://www.nomadproject.io/docs/configuration/client#reserved-parameters) on each client within your cluster. This will reduce the total amount of allocatable CPU and Memory on the clients within your cluster and therefore reduce down the allo

[2022-04-22 07:39] #12746 closed

[2022-04-22 08:45] ostkrok commented on #9914
We'd love to see this feature implemented, as it could help us solve some issues we're currently having. Do you have any plans on adding it?

[2022-04-22 12:28] ffimnsr commented on #12726
Okay @jrasell thank you that works, the flag `-stderr`. It should be added to the docs for debugging and noted in help that if run without flag it would output `stdout` only (on docs it says "Streams the stdout/stderr of the given allocation and task."). At first I thought that it would already output regardless if its `stdout` and `stderr`.

[2022-04-22 13:52] tgross commented on #12744
Hi @kvkang!

I was able to reproduce what you're seeing. What makes this a little interesting is that there's two variants of the problem that I could create: one where the plugin task was killed while the client was offline, and one where the plugin task was killed after the client came back from being offline.

If _any_ task (not just CSI plugins) stops while the Nomad client is stopped, the Nom

[2022-04-22 14:34] #2770 closed

[2022-04-22 14:34] #3629 closed

[2022-04-22 14:34] #4815 closed

[2022-04-22 14:34] #12722 closed

[2022-04-22 15:15] han-devops commented on #12745
The problem happens when there is a re-election of the leader

[2022-04-22 15:19] jrasell commented on #12745
Hi @han-devops, what is the cause of the leadership election? Does the leader have availability problems? When accessing the UI, are you connecting to the leader that is suffering problems?

If you're connected to a server that is having availability problems and causing leadership elections I would expect the UI to have intermittent problems alongside this.

[2022-04-22 15:25] #12485 closed

[2022-04-22 15:25] #12486 closed

[2022-04-22 15:27] tgross commented on #12744
Will be fixed in https://github.com/hashicorp/nomad/pull/12752 which will ship in Nomad 1.3.0 GA, and backported to 1.2.x and 1.1.x.

[2022-04-22 16:43] gbolo commented on #12273
I can confirm to seeing this behaviour as well quite often. @DerekStrickland anything come up from any investigation thus far?

[2022-04-22 17:07] #12744 closed

[2022-04-22 17:08] tgross commented on #12744
That's been merged and will ship in the upcoming release. Thanks for opening this issue @kvkang!

[2022-04-22 18:16] DerekStrickland commented on #12273
@gbolo I'm just wrapping up the work on the nomad Disconnected Clients feature for 1.3. I'm hoping by late next week I'll be freed up to start looking at backlog issues and I've got this at the top of my list of things I'd like to investigate further. I can recreate it easily, so that's a good start. I apologize for the delay, but will definitely update the issue as I progress or if I have any que

[2022-04-22 18:18] philrenaud opened #12756 "Evaluations: Sidebar should close on Escape keypress"

[2022-04-22 18:23] philrenaud opened #12757 "Evaluations Sidebar: search icon shows up above on smaller screens"
![image](https://user-images.githubusercontent.com/713991/164772620-a292c81e-c9f6-43e2-9797-f822a6348ec5.png)

[2022-04-22 19:23] #12757 closed

[2022-04-22 19:39] ChaiWithJai opened #12760 "Add defensive logic to filtering expressions to handle multi-select."

[2022-04-22 19:39] ChaiWithJai opened #12761 "Extract conditional No Match message into template helper."

[2022-04-22 19:40] #12741 closed

[2022-04-22 19:40] #12742 closed

[2022-04-22 19:42] philrenaud opened #12762 "UI: general keyboard navigation"
It would be nice to use keyboard commands to navigate the Nomad UI.

I'd like to move between nav/subnav sections with arrow key modifiers, or vim-like go-to keys.

## Launch Blockers
- [x] Shift-key vimium-style "hint" highlighting
- [x] #13046
- [x] #13777
- [x] Extend Custom Modifier to to allow hints on pre-loaded items (main menu)
- [x] #13890
- [x] Shortcuts modal: add dismiss button; trap f

[2022-04-22 19:43] philrenaud opened #12763 "UI: Evaluations table has a horizontal scrollbar with no overflow"
As seen here:
![image](https://user-images.githubusercontent.com/713991/164783320-635baca1-3ba8-490b-8da4-b9d0245eeb87.png)

[2022-04-22 20:20] ChaiWithJai opened #12764 "UI: Clean up namespace query parameters"
Namespaces used to be a query parameter, but now we serialize them with our job names.

We want to clean up everywhere where namespaces are still a query parameter:

- [x] `topology.hbs`
- [x] `allocation-row.hbs`
- [x] `plugin-allocation-row.hbs`
- [x] `parameterized-child.hbs`
- [x] `periodic-child.hbs`
- [x] `jobs/index.hbs`
- [x] `recent-allocations.hbs`

[2022-04-23 00:02] lgfa29 opened #12767 "Debounce evaluation search query"
### Nomad version
`v1.3.0-beta.1`

### Operating system and Environment details
macOS

### Issue
When searching for an evaluation, the search bar sends every key stroke to the backend. Depending on the cluster size, there may be a large number of evaluations making these requests expensive.

### Reproduction steps

Start a Nomad dev agent:

[code]

Create and run sample job:
[code]

Navigate to th

[2022-04-23 08:58] valodzka opened #12768 "Not uniq NOMAD_ALLOC_INDEX with same job version"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c) / Linux 5.10.0-12-amd64

### Issue

I noticed that sometimes during deployment of a job with a large number of groups nomad creates multiple allocations with the same alloc index. Deploy isn't using canaries. This happens infrequently, but if happends it persists - new deploy doesn't correct alloc index, duplication remains.

[2022-04-23 10:52] Mandelag commented on #696
I solved this by adding `nomad` user to `docker` group and then restarted the nomad client.

[2022-04-24 02:35] zizon commented on #12744
@tgross May Poststart of csiPluginSupervisorHook being leaking goroutine for ensureSupervisorLoop each time?

[2022-04-24 20:44] henrikjohansen opened #12769 "Task Lifecycle PostFail Hook"
### Proposal
Add a **_PostFail_** hook to the task lifecycle stanza.

Currently, the _**PostStop**_ lifecycle hook runs once all main tasks have stopped successfully or exhausted their failure retries. For many usecases though (especially batch or sysbatch jobs) it would be rather beneficial to be able to differentiate between success or failure.

Ideally, **_PostStop_** would run when all main ta

[2022-04-25 00:12] Fuco1 opened #12770 "Dispatch NOMAD_META_x does not work in task group's count parameter."
### Nomad version
1.2.6

### Operating system and Environment details

[code]

### Issue

When we use a "meta" dispatch variable in a task group's count, the job submission fails on a parse error.

### Reproduction steps

[code]

[code]

#### Expected Result

I want to be able to control count by using dispatch meta argument

#### Actual Result

Parse error

### Job file (if appropriate)

See repr

[2022-04-25 03:00] nvx commented on #9525
Even with Docker I suspect using the ipv4_address isn't really the right option when using CNI.

Having a look at how this might be implemented, it looks like being able to configure CNI_ARGS KV pairs in the network stanza that then get applied here:

https://github.com/hashicorp/nomad/blob/4b81337a880089eb6255444a94af88d8a78512b5/client/allocrunner/networking_cni.go#L100

The last param of c.cni.

[2022-04-25 07:28] jrasell commented on #12770
Hi @Fuco1, unfortunately this is not possible. Interpolation such as `${NOMAD_META_COUNT}` happens once an allocation has been placed on a client; the count is required to perform the scheduling calculation and therefore needs to be present and in the correct format before the allocation(s) can be placed on clients. That being said, having this kind of functionality would be very useful, therefore

[2022-04-25 08:44] Fuco1 commented on #12770
Thanks @jrasell . My confusion came from the fact that the parameterized job is "kind of" created only after dispatch, so technically this should be possible.  Thanks for looking into this, for now I guess I'll go with levant :)

[2022-04-25 08:49] henrikjohansen commented on #12770
Indeed it would - being able to specify constraints as a parameter for parameterized jobs for example would be lovely :heart:

[2022-04-25 10:05] iSchluff commented on #10927
@tgross I have still managed to reproduce with v1.3.0-beta.1
After node restarts in my cluster a volume still got stuck. Maybe related: my cluster got stuck in a masterless state, but managed to recover itself after also updating the wan federated region to 1.3.0.

[code]
[code]

[2022-04-25 10:50] iSchluff opened #12771 "CSI plugin expected controllers exceeds actual controller count"
### Nomad version
Nomad v1.3.0-beta.1 (2eba643965c461e401fe4a3e9442fd30104a9344)

### Operating system and Environment details
Ubuntu 20.04.4 on x64

### Issue
Due to operator error I registered csi nodes as controllers, therefore my expected controller count on the plugin is now too high.

[code]

Nomad still shows the plugin as healthy and the volumes as schedulable, however waiting for plugin h

[2022-04-25 12:44] tgross commented on #12771
Hi @iSchluff! I want to make sure I can reproduce this scenario accurately:

So you had a job that was registered as a controller, and then changed it to node and re-ran? Did the old controller allocations get replaced entirely by node allocations or did they get in-place updates?

[2022-04-25 12:57] tgross commented on #10927
A bit more detail would be helpful. Which task allocation do you mean? The plugin or the allocation that mounted the volume? I would not have expected the allocation that mounted the volume to be actually gone because we block for a [very long time](https://github.com/hashicorp/nomad/blob/v1.3.0-beta.1/client/allocrunner/csi_hook.go#L62) retrying the unmount _unless_ the client node was also shut

[2022-04-25 13:42] iSchluff commented on #10927
@tgross I mean the allocation that mounted the volume. It was gone because of a node restart and the rescheduled task remained in the stuck state since thursday, so approx. 4 days.

During the whole time the plugin state was shown as healthy in the ui, so nomad was not detecting that there was no actual connection to the backend. I guess ceph-csi just handles all Probe and GetCapabilities calls lo

[2022-04-25 14:10] tgross commented on #10927
Ok, so that would also have restarted the Node plugin tasks as well. When the node restarted, did the Node plugin tasks come back? The UI is maybe a little misleading here -- it shows the plugin as healthy if we can schedule volumes with it, not when 100% of plugins are healthy (otherwise we'd block volume operations during plugin deployments).

As for being stuck for 4 days... the evaluation for

[2022-04-25 14:12] tgross commented on #10927
(hit submit too soon  😀 )

It's not possible for us to unconditionally detach but in theory we could unconditionally free a claim. That's what [`deregister -force`](https://www.nomadproject.io/docs/commands/volume/deregister#force) is designed to do, but yeah I realize that's not going to work out so well with Terraform.

[2022-04-25 14:40] zizon opened #12772 "CSI plugin supervisor can spawn one extra goroutine"
### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue
As state in #12744 the corresponding fix #12752 simply keep `csiPluginSupervisorHook` in state un-done.

This ensure `csiPluginSupervisorHook` prestart runs each time when the task runner stay in [main loop](https://github.com/hashicorp/nomad/blob/e4d6d51035629be585294ff7fc63885d7bca9824/client/a

[2022-04-25 14:41] zizon commented on #12744
continue on #12722

[2022-04-25 15:15] tgross commented on #12772
Hi @zizon! Thanks for opening this issue with some more detail.

You're absolutely right there, but I think what you've missed is that we don't create a _new_ supervisor loop if we're already running one because of the check at the start of [`Poststop`](https://github.com/hashicorp/nomad/blob/e4d6d51035629be585294ff7fc63885d7bca9824/client/allocrunner/taskrunner/plugin_supervisor_hook.go#L225-L232

[2022-04-25 15:24] #12726 closed

[2022-04-25 15:49] cr0c0dylus commented on #12748
I'm facing the same problem (1.2.6):

Job: "stage-cron"
Task Group: "cron" (1 ignore)
  Task: "cron"

Scheduler dry-run:
- WARNING: Failed to place allocations on all nodes.
  Task Group "cron" (failed to place 1 allocation):
    * Constraint "${meta.env} = stage": 5 nodes excluded by filter

But if I stop job before submitting a new job, it works as expected:

# nomad job stop stage-cron
==> 2022

[2022-04-25 15:52] tgross commented on #12771
I was able to reproduce the non-destructive update pretty easily just by switching the `csi_plugin.type`. https://github.com/hashicorp/nomad/pull/12774 should fix this and prevent the invariants the counts expect from being violated.

[2022-04-25 16:59] #12771 closed

[2022-04-25 17:01] iSchluff commented on #12771
thanks for the quick response

[2022-04-25 19:19] gmichalec-pandora opened #12778 "Display allocation deployment health status in UI"
### Proposal
When a deploy fails with an error such as 'Failed due to progress deadline', it would be hugely helpful to be able to inspect the allocation that caused the failure. Currently, at least as far as I can tell, there is no indication in the UI as to whether an individual allocation is regarded as having a healthy status by nomad. If we could get some sort of indicator - and ideally a way

[2022-04-26 00:46] twunderlich-grapl opened #12780 "Network.dns variable interpolation does not actually work"
### Nomad version
Output from `nomad version`
Nomad v1.3.0-beta.1 (2eba643965c461e401fe4a3e9442fd30104a9344)

### Operating system and Environment details
Linux (Tested on Debian Bullseye on ChromeOS and also Amazon Linux 2 in AWS)
### Issue
https://github.com/hashicorp/nomad/pull/12021 does not appear to actually work. Looking at the PR it appears that the interpolated DNS values are never used
E

[2022-04-26 02:49] zizon commented on #12772
I see, the `running` stay false until the early stage of `ensureSupervisorLoop`.

A rare case is that,
1. go ensureSupervisorLoop() was called, but not yet scheduled by go runtime
2. after returning from poststop, the task fails immediately.
3. if after that monument a retry occurs, yet another ensureSupervisorLoop will be spawned.
4. when this retry restart succeed, there will be possible two ens

[2022-04-26 05:48] kholisrag opened #12783 "Implement Max Allocation per Nomad Client Agent"
### Proposal
Implement Max Allocation per Nomad Client Agent, like `kubelet --max-pods`

### Use-cases
We want to limit the Allocation per node, as we identify that when the alloc hit certain number in one of our node, it make the node resource usage spiking and then the performance degraded

### Attempted Solutions
we ineligible that node, but this isn't what we want, as basically that certain no

[2022-04-26 12:03] mr-karan opened #12784 "Incorrect exit code report by nomad job run"
### Nomad version

[code]

### Operating system and Environment details

[code]

### Issue

When a cluster has no eligible node, the deployment fails - as it should.

![image](https://user-images.githubusercontent.com/5689132/165286923-9f092b7b-793e-465f-9685-d302d90e51cd.png)

However, if the node became ready _during_ the progress of deployment, it still errors out with an exit code of `2`.

###

[2022-04-26 12:40] tgross commented on #12772
That's true, you could get slightly overlapping goroutines in that case. If the original goroutine wins the race for the lock, it would then exit because its stop context has been closed. But if the new goroutine wins the race for the lock, the original goroutine would end up blocking forever waiting on that lock until the task ends. And at that point it would fall thru because of the stop context

[2022-04-26 13:50] zizon commented on #12772
By the way, my original thoughts about fixing #12744 is to find a way to persist [hookResources](https://github.com/hashicorp/nomad/blob/e4d6d51035629be585294ff7fc63885d7bca9824/client/allocrunner/taskrunner/task_runner.go#L167) in state, which expect to help drivers recover appropriate configs(in that case, the mounts csi hook added).

But it would break backward compatible since the serializatio

[2022-04-26 14:07] shoenig commented on #12780
@twunderlich-grapl can you try running the job but without using the `locals` indirection?

e.g.

[code]

[2022-04-26 14:14] DerekStrickland opened #12786 "disconnected clients: Deployment watcher can overwrite `ClientStatus` with stale state"
### Nomad version

1.3.0-beta1

### Operating system and Environment details

Vagrant or E2E environments

### Issue

The reconciler uses the alloc name+index to stop running allocs after they have been filtered into groups by `filterByTainted`. `filterByTainted` relies on task events to determine if an allocation has reconnected. It is possible for an evaluation to be triggered by the deployment

[2022-04-26 14:38] #12772 closed

[2022-04-26 15:51] twunderlich-grapl commented on #12780
Hi @shoenig,
I just tried that, no change.

Looking through the code, https://github.com/hashicorp/nomad/pull/12021 updates interpolateNetworks. However, that's only called in the network_hook preRun function. Looking through that code, all of it seems specific to the hostname.  I suspect the issue may be that interpolateNetworks may need to be called elsewhere.

That said, I haven't dug through t

[2022-04-26 19:34] shoenig commented on #12780
Hmm alright thanks for trying @twunderlich-grapl ... I was hoping it was just an HCL parsing thing. Looks like we'll need to investigate further :slightly_smiling_face:

[2022-04-26 20:16] schmichael commented on #10200
I *think* #12779 will fix this issue. Even if it doesn't fit it entirely, it will at least fix the strange `UUID must be 36 characters` error message and give us new information to work with!

Please don't hesitate to reopen this issue (or open a new one) if this issue persists after 1.3.0-rc1, 1.2.7, and 1.1.13 are released.

[2022-04-26 20:20] mikenomitch commented on #9722
I'm going to close this issue out since moving to Windows 2019 has stopped this issue. If anybody is on this version or later and sees this issue, let us know and we can reopen it!

[2022-04-26 20:20] #9722 closed

[2022-04-26 20:48] mikenomitch commented on #10379
Hey @tcrayford closing as a dupe of https://github.com/hashicorp/nomad/issues/10308! Thanks! :)

[2022-04-26 20:48] #10379 closed

[2022-04-26 20:49] mikenomitch commented on #12601
@EtienneBruines & @jrasell agreed that its a good idea. Going to close as a dupe of this one though https://github.com/hashicorp/nomad/issues/11601

Hopefully can get to it soon!

[2022-04-26 21:43] danlsgiga commented on #11367
Same thing happening for me on Nomad `1.2.6` and SDK on `v0.0.0-20220422170747-b1ce39297285`.

In my case, whenever a parameterized job with the following block or no payload included is submitted, the SDK returns the error mentioned in this issue.

[code]

`* 'Job.Payload': source data must be an array or slice, got string`

And when looking at the map structure returned, I see `Payload:AA==` as

[2022-04-27 01:22] Fuco1 opened #12792 "Batch Job Priority is ignored"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details

Linux ubuntu in Azure.

### Issue

With batch jobs, I would expect the allocations from higher priority job to be placed first.

In fact, I've just rewrote a bunch of our infra related to batch job submission only to find out this is not the case :man_facepalming:  Is there any

[2022-04-27 09:18] shantanugadgil commented on #10058
Is there a v1.2.7 anticipated? or should we just wait for v1.3.0 GA ?

[2022-04-27 09:36] shantanugadgil opened #12796 "periodic job start at a later date and time"
### Proposal
The current meaning of a `batch` job is to be "enabled" from the moment the job is `run`, i.e. "now".
_The use case for this is primarily in context of `periodic` (`cron`) jobs, but can also be thought of for regular `batch` jobs._

I propose, two new fields for the `job` which can be used to activate (or enable) the `batch` job from a future date and also be able to govern when the j

[2022-04-27 09:50] DerekStrickland opened #12797 "reconciler: Stopping allocs by name is error prone"
### Proposal

The reconciler relies on the allocation name (task name + index) when deciding which allocs to stop. This is a non-deterministic value that has led to numerous defects over time. While the name is useful for identifying allocations that conflict, by itself, it is not enough to know which allocation to keep and which to discard. We should design a more resilient approach to reconcilin

[2022-04-27 10:25] DerekStrickland opened #12798 "disconnected clients: Running tasks fail if template runner cannot contact servers"
### Proposal

When testing Consul Template with the new disconnected clients feature we learned that a task will fail on a client if it has a template that includes a call to the `nomadService` function. It would be ideal if the template runner could gracefully handle this lack of access by exiting without re-rendering the template rather than failing the task. While there is no guarantee that the

[2022-04-27 12:51] tgross commented on #12797
Potentially related issues: https://github.com/hashicorp/nomad/issues/12768 https://github.com/hashicorp/nomad/issues/10727

[2022-04-27 13:39] shantanugadgil commented on #12796
seems sort of related to https://github.com/hashicorp/nomad/issues/2395

[2022-04-27 15:01] lgfa29 commented on #12796
Thanks for the idea @shantanugadgil.

I think this (and #2395) could also be related to https://github.com/hashicorp/nomad-autoscaler/issues/448, where this behaviour could achieved using the Autoscaler. I will put this for further discussion and triage.

Anyone else interested in this feature please give it a 👍 to help us gauge interest 🙂

[2022-04-27 15:22] lgfa29 commented on #12792
Hi @Fuco1 👋

The `priority` value defines two things:

1. the order in which evaluations are dequeued for scheduling
2. the order of importance of jobs when the cluster is in resource contention

The doc page you linked refer to `1`. The Nomad leader has an internal queue of evaluations that need to be processed in order to, among other things, create and schedule allocations. A job with a high pr

[2022-04-27 15:25] lgfa29 commented on #11367
Thanks for the extra info @danlsgiga, that's super helpful.

[2022-04-27 15:55] lgfa29 commented on #12768
Thanks for report @valodzka.

I believe this is a duplicate of https://github.com/hashicorp/nomad/issues/10727 so I'm going to close this one since there is a lot of context there already.

Feel free to add more information to that issue, or let me know if you think this is something different and we can re-open this.

[2022-04-27 15:55] #12768 closed

[2022-04-27 16:18] lgfa29 commented on #12778
Thanks for the suggestion @gmichalec-pandora, I think this makes sense but we will have to discuss it further to make sure we can present this information properly.

[2022-04-27 17:29] tgross opened #12802 "Nomad Variables"
Nomad will provide **Variables**: an encrypted key-value store to supply workloads with static secrets and configuration data.

Most production Nomad workloads need configuration or secrets. Nomad provides a `template` block to run `consul-template` alongside tasks, but leaves the source of those configuration values up to the operator. Nomad users have several options, but all have disadvantages:

[2022-04-27 19:40] th0m opened #12803 "Task restart policy is not honored by template restart change_mode or alloc restart command"
### Nomad version
[code]

### Operating system and Environment details
Debian Bullseye, kernel 5.15.17

### Issue
The task (and task group) restart policy is not honored when an allocation gets restarted either by:
* an update to a template relying on data from Consul KV
* or an alloc restart command

### Reproduction steps
#### Alloc restart triggered by an update to template data
Set the foo key

[2022-04-27 21:08] davemay99 opened #12804 "Nomad panic when capturing threadcreate pprof on version 0.11.0 to 0.11.2"
### Nomad version
* 0.11.0
* 0.11.1
* 0.11.2

### Issue
When running `nomad operator debug` against Nomad versions 0.11.0 to 0.11.2, the Nomad server agent crashes.

### Reproduction steps

Window 1 - dev agent

[code]

Window 2 - debug

[code]

#### Expected Result
No panic

#### Actual Result
panic

<details>
  <summary>Nomad logs with top of goroutine dump</summary>

    2022-04-27T16:58:26.010

[2022-04-27 21:18] davemay99 commented on #12804
Further testing shows that the `trace` profile was the last to successfully complete, not the last to run.  The pprof profile which actually caused the panic is `threadcreate`.

[2022-04-27 21:24] tgross commented on #12804
A quick test shows that `/debug/pprof/threadcreate` will cause the panic in Nomad 0.11.2, so this isn't specific to the `operator debug` endpoint. (Note that `/debug/pprof/threadcreate?debug=1` which is linked from the pprof web page is fine.)

If you're going to push a PR with a fix for `operator debug`, that seems reasonable. Nomad 0.11 is out of support so I don't see much point in adding docs

[2022-04-27 21:49] Fuco1 commented on #12792
I basically want a FIFO, which I now tried to achieve by submitting first job with priority 100, second job with priority 99 and so on, decreasing priority by 1 with each new job.  This limits us to 100 jobs but that is fine as we can further "scale" this with different constrains on the VMs for example.

Here is the concrete situation.

1. We spin up VMs worth 1000 CPUs and we schedule one task g

[2022-04-27 23:42] bobhenkel commented on #12558
Hello,
The node I'm installing on is a client/worker node. My goal is to run the nomad process as the non-root user nomad.  The systemd unit file is set up to run as nomad:nomad which is copied from the documentation.
[code]

[2022-04-27 23:46] Fuco1 opened #12805 "Inconsistent behaviour of interpolation in env stanza and template with env = true"
### Nomad version
1.2.6

### Issue

Missing environment variable interpolated into `env` stanza is not interpolated but set literally to `${NOMAD_META_bla}`.  If I use the `{{ env "NOMAD_META_bla" }}` syntax in a template, it is replaced by an empty string.  I would consider empty string a more correct behavior as opposed to a literal name of the variable, especially when coupled with optional dis

[2022-04-27 23:48] Fuco1 commented on #12805
Note also that yes, I can just use `NOMAD_META_foo` directly, but we follow a system where the environment variables need to start with certain prefixes for automation purposes, so I'm always renaming `NOMAD_xyz` into `MY_PREFIX_xyz` via `env` stanzas or templates.

[2022-04-28 03:01] josegonzalez commented on #8647
@shoenig that certainly seems more than fine for us at SeatGeek.

At the moment, we have to configure this _and_ a ServiceResolver separately from registering a Nomad job during a deploy, meaning much more coordination for something that is more or less a unit of work (registering a service against Consul for service discovery). Our initial use case is _exactly_ setting the service protocol correc

[2022-04-28 10:29] jorgemarey commented on #12174
Maybe a duplicated of #11304 ?

[2022-04-28 12:33] tgross commented on #12804
I took a crack at replicating this behavior in a standalone application with pprof and it looks like it's not even a stdlib issue but some interaction between the stdlib and the version of hclog in that version of Nomad. But this is all pre-go-modules and the effort of trying to get builds of old versions of libraries is more than we should time box for this 😀 .

[2022-04-28 14:04] DerekStrickland opened #12809 "disconnected clients: Cleanup pending future evals when job is deleted or client reconnects"
### Proposal

When a client disconnects and there are jobs with `max_client_disconnect` configured, the reconciler creates a future eval for when that timeout expires. These pending evals remain and will evaluate even if the job is deleted or the client reconnects. We should add logic that cleans up these pending evals since they are no longer relevant and can cause unnecessary evaluation load.

#

[2022-04-28 17:18] #12804 closed

[2022-04-28 18:02] #12724 closed

[2022-04-28 18:13] ChaiWithJai opened #12811 "DX (Developer Experience): Sync `prettier` configurations between Phil, Jai and all future contributors."
Prettier and Handlebars are in conflict and we should take a look at our configuration. We should also review our `.editorconfig` for contributors not using Visual Studio Code, as well as, writing documentation about handling these conflicts.

[2022-04-28 18:13] ChaiWithJai opened #12812 "UI: update `ember-data` back to `3.28`."

[2022-04-28 19:43] josegonzalez commented on #10887
I have an alternative use-case here. It would be great to have `Namespace` events so that we can automatically provision ingress load balancers when namespaces are created. This would be useful Consul Connect, which requires one ingress per namespace.

[2022-04-28 20:08] #12763 closed

[2022-04-28 20:36] phreakocious opened #12815 "Docker: Add option to allow containers sharing a group to get unique IPs (like docker-compose)"
### Proposal
Add option (maybe in the group network stanza) to require that task containers in the same group get unique IPs.  This would reflect the behavior of docker-compose.  When listening on specific or well-known ports is necessary, it's not possible to share an IP.

### Use-cases
 - Architectures with container networks which are routable
 - Applications where hard coded or well-known port

[2022-04-28 20:49] tomcook commented on #9196
It would be incredibly helpful if Nomad could natively publish events into EventBridge. Seems like this issue is stalled, though.

[2022-04-28 21:02] shoenig opened #12816 "cli: formatting of device group attributes header"
Device Group Attributes should be bold

![device-term](https://user-images.githubusercontent.com/394887/165844173-ce039b4b-20e1-4423-a6df-9a588aa04898.png)

[2022-04-28 21:25] twunderlich-grapl commented on #12780
@shoenig,
I've been able to confirm that the interpolatedNetworks function is ok, the issue is that the interpolated dns values aren't actually used.

As a quick and dirty test I  used the interpolateNetworks function elsewhere in the code (See https://github.com/hashicorp/nomad/pull/12817), and running that dns.servers = ["${attr.unique.network.ip-address}"]  is interpolated correctly and I get t

[2022-04-28 22:18] lgfa29 opened #12819 "Duplicate breadcrumb after navigating back from a child job"
### Nomad version
`Nomad v1.3.0-dev (3c4d09cd61655dee6de31d37c8b45129066c04c5+CHANGES)`

### Operating system and Environment details
MacOS

### Issue
When navigating back from a child job, the navbar breadcrumb contains duplicate entries for the job.
![image](https://user-images.githubusercontent.com/775380/165856580-05342d3a-c0f4-4f3b-a506-90e523f8ca02.png)

### Reproduction steps

1. Run the pr

[2022-04-28 22:37] lgfa29 opened #12820 "Sort evaluation list by create date"
### Proposal

The new evaluation list provides a great way to see all evaluation in the cluster, but usually users are looking for the most recent allocations, or seeing what's new in the cluster.

The evaluation list table should default to sorting in reverse chronological order and allow users to reverse this order. This can be done by changing the [`reverse`](https://www.nomadproject.io/api-doc

[2022-04-29 11:14] gregory112 opened #12821 "capacity_min in volume definition translates into ceph.quota.max_bytes when using Ceph CSI driver with cephfs"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)
Ceph CSI v3.5.1

### Operating system and Environment details
Ubuntu 20.04

### Issue
Creating a volume with `capacity_min` will create a CephFS volume but with max bytes quota set to capacity_min.

### Reproduction steps
Deploy Ceph and Ceph CSI plugin `ceph-csi` and create a volume with this definition:

[code]

Create a j

[2022-04-29 12:52] tgross commented on #12821
Hi @gregory112! The behavior you're seeing is what I'd expect to see, although I can see how it could be surprising. Ultimately a volume can only have one capacity (ex physical size of a block storage disk, or a quota in the case of CephFS), so `capacity_min` and `capacity_max` are setting _bounds_ on the capacity, and it's up to the plugin to decide what to set the capacity as within that range.

[2022-04-29 13:03] gregory112 commented on #12821
Edit: I just got it, well technically you are right, it just picks the smallest size, the capacity min, which is surprising indeed. I guess improvement on documentation could really help.

[2022-04-29 14:32] vincenthuynh opened #12822 "Job revert API not submitting Consul token"
### Nomad version
nomad: v1.2.6
consul: v1.11.4

### Issue
Unable to revert Nomad job when Consul stanza configured with `allow_unauthenticated = false`

### Reproduction steps
via CLI:
[code]
via API:
[code]
#### Expected Result
JSON response as seen in: https://www.nomadproject.io/api-docs/jobs#revert-to-older-job-version

#### Actual Result
`job-submitter consul token denied: missing consul tok

[2022-04-29 15:31] tgross commented on #12821
I've opened https://github.com/hashicorp/nomad/pull/12825 with a doc fix. Thanks for opening this issue @gregory112!

[2022-04-29 17:38] #12821 closed

[2022-04-29 18:16] mikenomitch commented on #12465
FYI, @cullenmcdermott has some more information on this in case any Nomad team members want talk thru this. @mikenomitch has a video repro/discussion handy as well.

[2022-04-29 20:29] apollo13 commented on #7777
Looks like this would be fixed by #12520

[2022-04-29 22:50] Fuco1 commented on #9890
What I observed is that it doesn't even need to be a dispatched job, any batch job would do.

I now started two batch jobs with count = 1400, one with higher priority and one with 10 lower.  The allocations from the low priority job were quickly preempted, but then they never returned after the high priority job finished (and about 300 allocations went straight into a failed state and never recove

[2022-04-29 23:05] Fuco1 commented on #12792
I tried it with the priorities being 10 apart and the lower priority allocations were preempted, but then never resumed computation even after the higher priority job completely finished (which is not technically true because it had 4 allocations stuck at starting for over 30 minutes, at which point I just killed it).

Overall the scheduling was very chaotic as Nomad was constantly placing the low

[2022-04-30 08:04] mvgijssel commented on #10053
Did not validate this yet, but I think the volume mounting could be implemented using 9p https://wiki.qemu.org/Documentation/9psetup. If the Nomad CSI implementation mounts the storage within the alloc directory, then Qemu could 9p mount the CSI mount to allow folks to use any type of storage backend! Qemu 7 also added 9p support for macOS, so at least Linux and macOS hosts would be supported.

[2022-05-01 09:02] mvgijssel opened #12833 "Qemu driver port_map doesn't port forward in qemu"
### Nomad version
[code]

### Operating system and Environment details
macOS 12.3
Ubuntu 20.04.4 LTS

### Issue

I'm currently unable to get qemu driver port forwarding to work, both on macOS and Linux. I'm able to define the `port_map` in the job file, but the settings are not applied to the qemu process.

### Reproduction steps

1. Create `example.nomad` using following template
2. Run using nom

[2022-05-01 09:54] mvgijssel commented on #12833
The agent configuration being used

[code]

[2022-05-02 09:04] mvgijssel commented on #12833
Just discovered this MR with some changes related to the Qemu driver https://github.com/hashicorp/nomad/pull/10035, which incidentally might solve this.

[2022-05-02 13:17] iSchluff opened #12835 "nomad 1.3.0: node drain stuck at csi controller"
### Nomad version
Nomad v1.3.0-beta.1 (2eba643965c461e401fe4a3e9442fd30104a9344)

### Operating system and Environment details
Ubuntu 20.04.4 LTS
Linux 5.4.0-109-generic #123-Ubuntu SMP Fri Apr 8 09:10:54 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Issue
I don't know whether this is related to https://github.com/hashicorp/nomad/pull/12324 but it seems that nomad is not trying to stop the controll

[2022-05-02 13:20] tgross commented on #10053
@mvgijssel that seems plausible at least, although CSI really can only support Linux. The CSI drivers mount volumes to a shared CSI directory, and then Nomad bind-mounts the volume from there to wherever the [`volume_mount`](https://www.nomadproject.io/docs/job-specification/volume_mount) block says to mount it. (See this comment in the supervisor hook code for details of how the shared directory

[2022-05-02 13:28] tgross commented on #12833
Hi @mvgijssel! This is a bug for sure. We've got https://github.com/hashicorp/nomad/issues/10033 open already, so I'm going to close this as a duplicate. Thanks!

[2022-05-02 13:28] #12833 closed

[2022-05-02 13:41] tgross commented on #12397
I think this question has been answered as best we can without more information. Going to close it out. Please feel free to re-open if you have more info @herter4171!

[2022-05-02 13:41] #12397 closed

[2022-05-02 13:42] tgross commented on #12342
I think we've done what we can with this issue without more information. I'm going to close this out but please feel free to re-open if you have answers to the questions I've asked above. Thanks!

[2022-05-02 13:42] #12342 closed

[2022-05-02 13:42] shoenig commented on #8234
@bmenn or @supernovae are you sure `nvidia-docker2` is not required to use `--gpus` ?

I just tried this on a fresh `p3.2xlarge` VM, and docker by itself isn't enough.

And Nvidia's own documentation [instructs you to install](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#setting-up-nvidia-container-toolkit) `nvidia-docker2` before making use of `--gpus`.

##

[2022-05-02 13:46] tgross commented on #12478
We've answered this issue as best we can, so I'm going to close it out. If you have more information about the questions I've asked above, please feel free to reopen the issue! Thanks!

[2022-05-02 13:46] #12478 closed

[2022-05-02 14:14] tgross commented on #12712
Hi @ferchault! That definitely seems like a bug. I took a quick glance at the [preemption](https://github.com/hashicorp/nomad/blob/main/scheduler/preemption.go) code and it looks like the cores are included in the task resources we're checking, but maybe we're not calculating the score correctly for them. We'll need to write some new test code to verify where the issue is.

Another thing that caug

[2022-05-02 14:19] shoenig commented on #8234
I intend to close this via https://github.com/hashicorp/nomad/pull/12840 which updates the nomad nvidia driver docs to reference the new container runtime toolkit.

If I've just completely missed something and the instructions are wrong, please re-open and let me know!

[2022-05-02 14:44] tgross commented on #12731
Hi @thatsk! It looks like the % in the UI is calculated from RSS. See [`allocation-stats-tracker.js#L79-L92`](https://github.com/hashicorp/nomad/blob/v1.2.6/ui/app/utils/classes/allocation-stats-tracker.js#L79-L92). So those prometheus metrics aren't measuring the same thing as the UI and I wouldn't expect them to match up.

[2022-05-02 14:51] ferchault commented on #12712
Agreed. I checked, the other jobs run with priority 50. These jobs are CPU-bound, so the node has enough memory such that preemption should not be required for memory at all.

Yes, we enforce resource isolation within each job ourselves, relying on nomad for the resource scheduling only.

[2022-05-02 14:54] tgross commented on #12803
Hi @th0m! The behavior you're seeing is correct. If we look at the [`restart`](https://www.nomadproject.io/docs/job-specification/restart) docs, we'll see that:

So in the case of a template rendering change, we're restarting because the task needs new template values. And in the case of `nomad alloc restart`, we're restarting because the user has told Nomad to restart.

[2022-05-02 15:07] #8234 closed

[2022-05-02 15:07] tgross commented on #12805
Hi @Fuco1! While the behavior is inconsistent and that's sometimes confusing, it's also intentional. In the case of Nomad's interpolation, we can't know the difference between "I forgot to include the variable somewhere" and "I intentionally didn't include the variable so that it can be treated as a literal for somewhere else within my workload to handle it."

Whereas Nomad's template rendering is

[2022-05-02 15:17] tgross commented on #12489
Hi @grant-neal! Sorry for the delayed reply on this.

That's very strange... if you have restart disabled, the task shouldn't be restarting on an OOM either. Unless you're talking about the host being restarted?

[code]

Where are these log entries from? I don't recognize the format and the text doesn't doesn't match up with anything obvious in the Nomad code base. Can you get the [`nomad eval sta

[2022-05-02 15:22] tgross commented on #10941
Hi @sirkrypt0! That's the expected behavior, but not well documented and definitely a poor error message. Once a job has been dispatched, the dispatch payload has been set and it's no longer "parameterized". But trying to update it uses the parameterized job definition of its parent job, and that can't be done.

Generally speaking what you'll want to do is to update the parent job and then re-disp

[2022-05-02 15:33] tgross commented on #12815
Hi @phreakocious! Originally this is exactly how Nomad worked, but in 0.12.0 we deprecated task-level networking in favor of allocation-level networking. Because not all task drivers have the same networking API, we spawn a pause container (as its own "hidden" task) in order to "hold" the network namespace for other tasks. This is how we wire up bridge networking to tasks.

For the use cases you'v

[2022-05-02 15:42] tgross commented on #12748
Hi @chilloutman! This definitely seems like it could be related to #12016. I'm not going to mark it as a duplicate just in case it's not but I'll cross-reference here so that whomever tackles that issue will see this as well. I don't have a good workaround for you other than to ignore warnings (they're warnings and not errors), but I realize that isn't ideal.

Just FYI @cr0c0dylus:

This is effect

[2022-05-02 15:43] tgross commented on #12016
Also noting that https://github.com/hashicorp/nomad/issues/12748 seems like it could be related.

[2022-05-02 15:43] jcouvret commented on #12310
Would it be possible to get this information added to the documentation?  It makes sense that administrators are responsible for configuring OS-level permissions of the nomad data and allocation directories.  However, there is no control over the permissions of the files created by Nomad within the allocation directory.  A statement, such as the italicized example below, added to the Threat Model

[2022-05-02 15:44] phreakocious commented on #12815
Yep, I'm aware of (and using) all of these since 2020.  It would be nice to avoid needing workarounds at all.  I'd like to spawn containers on a CNI macvlan network with host-local IPAM and have it look like a network of normal machines.  There is no need to use any port mappings or involve IPs on the host at all.  And also no need for a complex CNI setup with an overlay network.

[2022-05-02 15:50] thatsk commented on #12731
Thanks for ref. So is there a way we can calculate same from nomad metrics from Prometheus format which can help for nomad autoscaler to scale the app . Thanks in advance

[2022-05-02 15:50] tgross commented on #12835
@iSchluff has the [`-deadline`](https://www.nomadproject.io/docs/commands/node/drain#deadline) time expired? The default is quite long and as the docs say:

[2022-05-02 15:56] sirkrypt0 commented on #10941
Alright, thanks for the clarification :)

Then this issue can be closed, unless you want to keep it open for a better documentation/error message.

[2022-05-02 15:56] salarali commented on #2210
I have the same problem. Is there a more automated way for aws secrets engine to interact with nomad jobs?

Each job requires a different IAM role, because they need access to different s3 buckets. Any ideas on how do I support that? The only way I can see right now is just to give the nomad clients access to all those buckets, but that isnt secure at all.

[2022-05-02 15:57] tgross commented on #12731
The `nomad.client.allocs.memory.rss` metric is the same metric that's shown in the UI. But your [prometheus](https://www.nomadproject.io/tools/autoscaling/plugins/apm/prometheus) plugin configuration can trigger off of any metric that you'd like. It's up to you to determine what the right metric is to use for your application.

Looks like we've answered the original question though, so I'm going t

[2022-05-02 15:57] #12731 closed

[2022-05-02 16:12] primeos-work commented on #10014
I also hit this issue on "Rocky Linux 8.5 (Green Obsidian)" with the most recent Nomad version and drivers (tested with the "podman" and "exec" drivers).
((But I guess this adds little value as the issue is already confirmed.))

I've seen two workarounds so far:
1) https://github.com/input-output-hk/bitte/pull/83/files
2) https://discuss.hashicorp.com/t/consul-connect-envoy-without-docker/4824/7

[2022-05-02 16:15] mikenomitch commented on #12762
Some random/incomplete feedback after playing with the vercel link:
* Do we want to show the key strokes in the middle of the screen? Maybe we could turn that on with some mode? (Maybe this was the plan all along?) - FWIW, I'm not a big fan.
* Esc causes "Hide Keyboard Shortcuts" to show regardless of whether or not its open
* If we do show: think showing arrow up/down, and tab, and maybe escape/m

[2022-05-02 16:27] iSchluff commented on #12835
Hi @tgross, yeah I read that just 10 minutes ago and also saw your update to the docs in the PR. However I am quite suprised by this because previously with 1.2 I could drain system jobs immediately without issue.

Looking at the code I think the system jobs should be drained when all "normal" allocations are gone, not only when the deadline expires.

I think the isDone check would also need to ig

[2022-05-02 16:27] philrenaud commented on #12762
Intent is to never show these; all the associated styles currently in #12831 are for demo purposes only.

I like this as a concept a lot. I think what I might do is remove `j` and `k` from subnav/nav traversal, and reserve them for in-page stuff like you mention.

VimCal and a few other info-dense tools do this thing where you hold a key (would probably shift in our case) that annotates all items

[2022-05-02 17:03] tgross commented on #12835
Oh shoot, you're right. Good catch on the `IsDone()`. I'll get that fixed.

[2022-05-02 17:15] tgross commented on #12835
I've opened https://github.com/hashicorp/nomad/pull/12846 with that fix.

[2022-05-02 17:18] tgross commented on #2210
@salarali you can put `AWS_*` credentials in Vault (or in a near-future version of Nomad you'll be able to use native Secure Variables https://github.com/hashicorp/nomad/issues/12802). But this is a long-closed issue, so if you'd like to discuss this problem in more detail, I'm going to recommend that you either open a new issue or open a discussion on [Discuss](https://discuss.hashicorp.com/c/nom

[2022-05-02 17:25] mikenomitch commented on #12762
@philrenaud oh also another idea in the same vein as j/k/o, hitting "u" to traverse up a breadcrumb. Idea taken from Gmail.

[2022-05-02 19:52] cr0c0dylus commented on #12748
Unfortunately, it is not only a warning. It cannot allocate a job at all. Another trick - to change one of the limits in resources stanza. For example, to add +1 to the CPU limit. But it doesn't work with some of my jobs.

[2022-05-02 19:58] louievandyke opened #12848 "nomad.nomad.blocked_evals.job.cpu unexpected values"
### Nomad version

[code]

### Operating system and Environment details

[code]

### Issue

The metric `nomad.nomad.blocked_evals.job.cpu` emits incorrect values while submitting jobs with cpu resources defined.

### Reproduction steps

* running a cluster with one nomad client.
* Deploy a job which runs successfully
* Deploy another job that purposefully has more resources than necessary. (testin

[2022-05-02 22:18] louievandyke commented on #12848
I also see negative values.

[code]

[code]

[code]

[code]

[code]

[2022-05-03 14:20] #12835 closed

[2022-05-03 17:01] philrenaud opened #12858 "UI: /variables route"
![image](https://user-images.githubusercontent.com/713991/166486342-dd3068db-db39-47a5-b580-0c046a4d6fcf.png)

![image](https://user-images.githubusercontent.com/713991/166500339-083215ae-3f17-4507-81fb-5de962bcba66.png)

- [ ] Create a new route for /variables
- [ ] Handle a default empty state
- [ ] `#each` over paths and variables returned from the Secure Variables API

[2022-05-03 17:26] philrenaud opened #12859 "UI: /variables/keyfile/new route"
- [x] #13417
- [x] Allows adding multiple variables
- [x] Pre-populates the `path` field depending on the level from which the user clicked "new"
- [x] #13128
- [x] #13127
- [x] #13126
- [x] #13141

![image](https://user-images.githubusercontent.com/713991/166504695-ed97fe51-3389-4114-a6d4-57c3aa5c74f3.png)
![image](https://user-images.githubusercontent.com/713991/166560033-393829af-6386-470a-a60f

[2022-05-03 20:01] philrenaud opened #12860 "Visual Regression Testing"
We should establish a visual snapshot test and include it (optionally?) in Nomad's github workflows (on pull_request_target?)

This will help us know if requested changes cause unintended layout or design changes.

[2022-05-03 20:29] philrenaud opened #12861 "UI: /variables/:keyfile and /variables/:keyfile/edit routes"
![image](https://user-images.githubusercontent.com/713991/166560242-92f2a4da-79eb-4943-b22b-14b57dd13e5d.png)
![image](https://user-images.githubusercontent.com/713991/166560389-21e8ac1f-8794-49e5-9dc4-16571ba39777.png)

[2022-05-03 23:13] Fuco1 commented on #12805
Sorry for the confusion, I have no real "problem" with this as I can simply use the template for what I need.  I just thought it should behave the same whether I use a template or the `env` block.  Your explanation makes sense, although I would argue that the

    "I intentionally didn't include the variable so that it can be treated as a literal for somewhere else within my workload to handle it.

[2022-05-04 00:43] badalex opened #12863 "nomad 1.3.0-rc.1 jobs hang/wont restart. cgroups v2?"
### Nomad version
Nomad v1.3.0-rc.1 (31b0a1841cb6d3c7aa64bb2162f50798ba3b3d6e)

### Operating system and Environment details
Ubuntu 22.04 Jammy Jellyfish 5.15.0-27-generic #28-Ubuntu SMP Thu Apr 14 04:55:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Issue
Seems like something wonky happens with cgroup v2 support. If I create a job that exits immediately, it stops being restarted. Nomad 1.2.3 (th

[2022-05-04 13:03] shoenig commented on #12863
Thanks for testing this out and reporting @badalex! Indeed I can reproduce this given your job file, and should be able to figure out what's going on from here.

[2022-05-04 18:24] jcouvret opened #12874 "Nomad use of world-writable permissions in alloc directory should be documented or adjusted by task driver"
### Background
As brought up in https://github.com/hashicorp/nomad/issues/12310, Nomad utilizes world-writable permissions (a.k.a. 777) within the alloc directory.  World-writable files are an audit finding under [NIST](https://ncp.nist.gov/checklist/811) CCE-80131-6 and [CIS](https://www.cisecurity.org/) 6.1.10:

configured using a combination of user and group permissions to support whatever leg

[2022-05-04 21:07] badalex commented on #12863
Sweet, I can confirm that PR  fixes the restart issue.

[2022-05-04 22:33] Mandelag opened #12876 "Cannot connect to nomad job (a container, with docker driver) if consul started with multiple private address (docker0)"
Hi first of all I'm very new to nomad + consul and currently still testing it out...

I've found an issue (but already know how to solve it) and want to report it here.
The issue is,
 -> cannot connect to docker driver task (container), if there is `docker0` interface (multiple private ip?) when starting consul.
 -> after solving that (by specifying `-address`), the issue turns to cannot connect t

[2022-05-05 05:51] badalex opened #12877 "nomad 1.3.0-rc.1 cgroupsv2 /dev/ strangeness"
### Nomad version
Nomad v1.3.0-rc.1 (31b0a1841cb6d3c7aa64bb2162f50798ba3b3d6e)

### Operating system and Environment details
Ubuntu 22.04 Jammy Jellyfish  5.15.0-27-generic #28-Ubuntu SMP Thu Apr 14 04:55:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Issue
Something funky happens when using cgroups v2 where (at the very least) the ability to read /dev/zero and write to /dev/null is lost. Using a

[2022-05-05 09:11] jrasell opened #12880 "ci: website docker build is failing on main"
Link to test failure: https://app.circleci.com/pipelines/github/hashicorp/nomad/23759/workflows/1d6e70ac-24ae-42a4-b896-c83b9ac03059/jobs/254369

Error detail:
[code]

The error also occurs when trying to build the image locally which suggests this is not confined to the CI environment.

[2022-05-05 12:23] josh-m-sharpe opened #12881 "task log is hidden/inaccessible/hard-to-find"
Steps:
1) Set up a docker job for an image that doesn't exist (presumably other mistakes recreate this situation)
2) Attempt to run job
3) Try to find the real error

The error is hidden under this UI element:
<img width="1191" alt="Allocation_statsd-exporter_statsd-exporter_0__-_Nomad" src="https://user-images.githubusercontent.com/39473/166921449-66bc910c-4b3d-4e18-9381-6ecdadf47ea2.png">

which

[2022-05-05 13:03] tgross commented on #12877
Hi @badalex this might be related to https://github.com/hashicorp/nomad/issues/12863, which @shoenig is working on in https://github.com/hashicorp/nomad/pull/12875.

[2022-05-05 13:12] tgross commented on #12881
Hi @josh-m-sharpe! I just tried this out myself and noticed that not only is it not obviously clickable, there's no signaling from hoverstate either. I'll mark this issue for the UI folks to take a look at. Thanks!

[2022-05-05 13:21] josh-m-sharpe commented on #12881
Oh I def noticed that too.  Thank you!!

[2022-05-05 14:10] fredwangwang commented on #8235
Hi,
we ran into this issue as well but looks like a different cause.

Our raw_exec setup runs the binary directly without powershell:
[code]

And when trying to drain the node sometimes it just stuck with an allocation that it cannot kill.
![image](https://user-images.githubusercontent.com/21690857/166941433-ab04c3d5-f67b-443d-a7aa-d9c81a26bfcd.png)

checking the executor log for the allocations r

[2022-05-05 15:01] tgross commented on #5691
Done in https://github.com/hashicorp/nomad/pull/12886

[2022-05-05 15:06] badalex commented on #12877
I was able to reproduce this on Archlinux 5.17.5-arch1-1 #1 SMP PREEMPT Wed, 27 Apr 2022 20:56:11 +0000 x86_64 GNU/Linux.

[2022-05-05 15:19] breathe commented on #8073
I have what I think is a similar issue with using nomad <-> consul <-> traefik together ...  I created a ticket on the traefik repo to describe my problem -- https://github.com/traefik/traefik/issues/8987

The issue I have, and I think the same issue here, stems from the fact that traefik sees the canary and non-canary instances as the same 'traefik service' ... the routing policy can be independe

[2022-05-05 15:54] #12863 closed

[2022-05-05 17:23] breathe commented on #10624
We also see this message -- once per hour like clockwork -- usually issued from all of our nomad servers ...

[2022-05-05 17:56] josh-m-sharpe opened #12894 "docker containers cannot access consul DNS out of the box (not sure if bug or feature request)"
### Nomad version
1.2.3

### Operating system and Environment details
nomad / consul / amazonlinux2
consul DNS works on the host machine seemingly a-ok.  Both of these work:
- ping traefik.service.dc1.consul
- dig a traefik.service.dc1.consul

...but they do not work inside *any* docker container - which includes nomad docker managed containers.

### Reproduce:
On a nomad client (with nomad/consul

[2022-05-05 18:18] josh-m-sharpe commented on #12894
I guess this is somewhat redundant of this:
https://github.com/hashicorp/nomad/issues/7279

But those answers maybe aren't comprehensive enough?  Maybe the answer lies in [here](https://learn.hashicorp.com/tutorials/consul/dns-forwarding#dnsmasq-setup) somewhere - but i'm not really sure at this point

[2022-05-05 19:28] shoenig opened #12895 "ci: run gha Core CI tests against ubuntu-22.04"
There is now a `22.04` runner option available for GitHub Actions
https://github.com/actions/virtual-environments/issues/5490

Let's switch the GHA Core CI tests so that we will be testing against machines making use of cgroups v2.

The Circle runners will remain on 20.04, covering cgroups v1 code paths.

[2022-05-05 20:11] josegonzalez commented on #12796
I would love this sort of functionality. At SeatGeek, we have jobs that need to be run during certain seasons - say, run a report for all NFL purchases during the season - and then don't need to run afterwards. Currently, we delete the jobs from Nomad, but then need to remember to re-add it. Would be great to be able to have that handled in the registered Nomad job itself.

Not sure what the forma

[2022-05-05 20:11] #12820 closed

[2022-05-06 01:46] twunderlich-grapl commented on #12894
@josh-m-sharpe,
This probably needs an asterisk for docker, because docker inherits all non-loopback entries as mentioned in the linked ticket. Essentially docker strips out anything with 127.0.0.1. The docs should be updated to clarify this, since I think it is a common stumbling block.

The solution boils down to setting consul dns at a private IP instead of 127.0.0.1. Coming soon in Nomad 1.3 i

[2022-05-06 13:08] a-zagaevskiy commented on #7787
Hi! Any news on that? Is it still relevant for the newest versions?

[2022-05-06 18:29] josh-m-sharpe opened #12915 "drain is marked complete well before it's actually complete"
![Client_ip-10-20-21-68_us-west-2_compute_internal_-_Nomad_and_Cluster_Topology_-_Nomad](https://user-images.githubusercontent.com/39473/167197130-1866100f-292d-4445-8750-2a4629c4c9d8.png)

[2022-05-06 20:55] mvgijssel opened #12917 "Enable to sidecar_service for macOS, Windows and Qemu VMs."
### Proposal

Support defining a `sidecar_service` stanza without this spinning up the associated Consul Envoy proxy. For example by specifying no driver for the task:

[code]

### Use-cases

The use case I'm trying to solve is two-fold:

1. Support macOS and Window. Using the `sidecar_service` does not work on macOS or windows because it requires CNI bridge networking. If it's possible to disable

[2022-05-06 21:36] mikenomitch opened #12918 "Eval status command does not respect namespace wildcard"
### Nomad version
v1.3.0-rc1

### Operating system and Environment details

MacOS

### Issue

When passing in the -namespace="*" flag into the "eval status" command, it returns a 404 instead of returning the proper evaluation.

### Reproduction steps

* Get an eval ID
* Get its info using the status command "nomad eval status -namespace="default" baa193b9"
* Note it returns the info
* Try to get i

[2022-05-06 21:42] mikenomitch opened #12919 "Evaluation GET API ignores namespace value"
### Nomad version
1.3 beta

### Operating system and Environment details

MacOS

### Issue

When getting a single eval at /v1/evaluation/ID, if you pass in a bad namespace, it still returns an evaluation.

### Reproduction steps

Call the evaluation API with a non-matching namespace value, like so:

`nomad operator api -verbose -namespace="BAD_NAMESPACE_VALUE" /v1/evaluation/dc5ba85c-7aa3-df14-7ba

[2022-05-06 21:58] mikenomitch opened #12920 "Automatically down-rank or quarantine nodes with failing placements"
### Proposal

When the scheduler attempts to place a task on a node, and the allocation fails, that node should be ranked lower (or quarantined) the next time the scheduler is looking for a node to place.

### Use-cases

In some instances, the Nomad scheduler repeatedly selects the same node to schedue on, but for some reason deployments on that node fail repeatedly. This can be seen in [this issu

[2022-05-06 22:03] mikenomitch opened #12921 "Add IP Address to host metrics"
### Proposal

It would be nice to have the client IP Address in any [host metrics](https://www.nomadproject.io/docs/operations/metrics-reference#host-metrics) emitted for that client.

### Use-cases

Quickly jumping to specific nodes given a specific log line.

[2022-05-08 13:21] sebcoetzee commented on #2395
Can confirm that this would be a very useful feature for our use-case: trading applications that are only required to be up and running during market hours.

[2022-05-08 14:43] valodzka opened #12922 "nomad alloc exec options passing works incorrectly"
With any container that has `ls`.
This works as expected:

`nomad alloc exec 6659bfac /bin/ls -l`

This prints _nomad help_ instead ls help:

`nomad alloc exec 6659bfac /bin/ls -h`

Expected behaviour: nomad should pass all options after container id to program.

[2022-05-08 20:54] optiz0r opened #12923 "nomad operator api does not respect scheme in NOMAD_ADDR env var"
### Nomad version

Nomad v1.3.0-rc.1 (31b0a1841cb6d3c7aa64bb2162f50798ba3b3d6e

### Operating system and Environment details

AlmaLinux 8.5

### Issue

The new `nomad operator api` command does not appear to respect the scheme present in the `NOMAD_ADDR` variable when set to `https://`, and sends a plain http request when the parameter given the request path only. When the parameter given is a ful

[2022-05-09 05:39] Netlims commented on #6715
@tgross I sent a debug-level monitor from a client that is experiencing this issue to your email at your GitHub profile

[2022-05-09 05:40] Nickleby9 commented on #6715
@tgross I sent you a debug-level monitor from a client that is experiencing this issue to your email at your GitHub profile

[2022-05-09 13:42] tgross commented on #12876
Glad to hear it seems to be working for you @Mandelag. I'm going to close this issue for now but if you end up running into the issue again and can provide `alloc status` outputs for that event, feel free to reopen. Thanks!

[2022-05-09 13:42] #12876 closed

[2022-05-09 14:05] DerekStrickland commented on #12922
Hi @valodzka. Thanks for using Nomad and for reporting this issue.

I've confirmed the behavior you are seeing on main but I believe this is as expected.

The [Nomad documentation](https://www.nomadproject.io/docs/commands/alloc/exec#examples) provides a couple of examples of how to issue remote commands. Here's one that I found useful.

[code]

From that example you can see that with `exec` you a

[2022-05-09 14:18] davidrimprobable opened #12926 "Leader election after IP change causes RPCs to be sent to stale IP addresses"
### Nomad version
Nomad v1.2.6 (a6c6b475db5073e33885377b4a5c733e1161020c)

### Operating system and Environment details
Ubuntu 20.04.3 LTS (Focal)
5.4.0-109-generic #123-Ubuntu

4-machine cluster with client+server on each as well as a consul agent on each

### Issue
When the members of the cluster stop and restart with new IPs, they correctly connect back to each other via Consul (because the Con

[2022-05-09 15:48] tgross commented on #6715
Thanks @Nickleby9. For future reference there's a "one way" mailing list nomad-oss-debug@hashicorp.com that can receive logs so that they're going to HashiCorp engineers only, without going through our personal email addresses.

Looking at one of the log entries:

This definitely looks like we're getting a spurious empty line from `go-plugin`. Recent versions of Nomad have kept up pretty well with

[2022-05-09 15:54] Nickleby9 commented on #6715
@tgross Thank you, I didn't know that, sorry for using your personal email.
I'm using 1.2.6.

[2022-05-09 16:27] valodzka commented on #12922
Hi @DerekStrickland, thank you for your response.
While this behavior might be as expected and there are workarounds I think it's inconsistent and because of this it's bad design.

- `ls -l` and` ls --help` should work in same way, both pass arguments or both don't.
- Other shell utilities work in different way (sudo, flock, xargs, ...), for example: `flock --help` prints flock help and `flock /tm

[2022-05-09 17:10] shoenig opened #12927 "docs: update redis example version"
We make use of `redis:3.2` in a lot of examples in docs and in `nomad job init`.

https://hub.docker.com/_/redis doesn't even list redis 3 as a supported version anymore.

Update the docs and reference job(s) to `redis:7`, which should be a supported version for quite some time.