[2018-11-23 12:58] tantra35 opened #4914 "Add ability to limit memory usage by raw_exec driver"
In nowadays nomad in raw_exec driver uses `cgroup` to kill full process group(https://github.com/hashicorp/nomad/pull/4350). If so it will be logical use `cgroup`, to limit task in raw_exec by resources as `exec` driver does

[2018-11-23 13:34] shantanugadgil commented on #4494
I have been thinking about this a bit ...

After discovering the "logger" cmd based forwarding to a central server ... I thought of another way ...

Use the **docker** driver configured with syslog forwarding to a central server, then mount all the *needed* directories** from the base machine into the docker.

Use the **artifact** stanza to download relevant binaries (inside the docker) and execut

[2018-11-23 13:54] mildred commented on #4566
@preetapan do you have news about the planning of this issue for Nomad 0.9 ? Is it planned for 0.9.0 or a later release of the 0.9.x branch ?

[2018-11-23 19:22] ibayer opened #4915 "Automatic Clustering with Consul: Nomad Server HTTP Check fails"
I'm trying to bootstrap a Nomad cluster following: https://www.nomadproject.io/guides/operations/cluster/automatic.html

### Nomad version
`consul --version Consul v1.4.0`
`nomad --version Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details
Ubuntu 18.04 server

### Issue

 Nomad Server HTTP Check fails

![image](https://user-images.githubu

[2018-11-23 19:34] ibayer commented on #4915
Additional Experiments
==================

**Single Node**
Running everything with a single node cluster seems to work.
No error and ui available at `localhost:4646/ui`

**Bind IP**

Adding `{ "bind_addr": "xxxx"}` in `/etc/nomad.d/bind.json` fixes the errors but
the ui is **not** available at  `localhost:4646/ui` instead it's publicly available at `server-uo:4646`.

From the docs

I would expect

[2018-11-23 20:19] atillamas commented on #4853
On nomad 0.8.6 i'm seeing nomad_client_allocs_cpu_total_percent with values way above 100. On a system with 16 cores it tops out just under 1600, matching the output of `docker stats`, i guess it should be divded by the number of cores to be correct?

[2018-11-23 22:02] brainst0rm opened #4916 "Nomad server members don't show up"
I am new and I recently used nomad/terraform/aws repo in order to auto-deploy the cluster to learn how exactly it worked. Everything seems fine, only the nomad members haven't joined the cluster it would seem.

[code]

[2018-11-24 01:43] rcgenova commented on #4916
To view the available Nomad clients, run `nomad node status`.

[2018-11-24 10:30] tantra35 commented on #2504
We write a little patch that solve our issue(must by appliet to 0.8.6 version)

[code]

[2018-11-26 01:49] yifeikong commented on #607
Just run into this same issue. Ansible could handle string commands, so it took some time to figure this out

[2018-11-26 16:16] shantanugadgil commented on #2196
Reviving an old request for LXD?!

[2018-11-26 17:37] schmichael commented on #2196
@shantanugadgil While we'd love to see a LXD driver plugin once Nomad 0.9 is released with driver plugin supported, we still have no plans to migrate our existing lxc driver to lxd.

Resources for creating driver plugins will be released with and after the 0.9 release.

[2018-11-26 21:54] samart opened #4920 "Nomad UI: show timestamps next to evaluations"
Nomad UI jobs page has a list of evaluations and a triggered by column. From an operational standpoint, we have discovered that It would be very valuable to have human readable timestamps to understand when an evaluation was triggered/run.

Thanks

[2018-11-26 22:58] tantra35 opened #4921 "SIGSEGV when seems vault have stale state"
### Nomad version
0.8.6

### Issue
We found this in our server logs

[code]

This happens after demaged vault in our enviroment, and when we restore it state(vault) from backup

[2018-11-27 00:00] tantra35 commented on #4921
Seems that code must be changed like this:

[code]

Because absolutely assignment  `self = secret` looks like typo

[2018-11-27 04:46] danapoklepovich commented on #1897
Is using the local filesystem as the artifact source on the horizon at all? I need nomad to work with the artifacts already on the servers box as contacting an external api isn't possible and spinning up a web server does seem like over kill especially when the go getter library does support the file scheme. Or is there some specific reason for this option being excluded? I'm running 0.8.6 and sti

[2018-11-27 08:55] tantra35 commented on #4921
or which must be a little bit simple like this:

[code]

[2018-11-27 08:56] tantra35 commented on #4921
@preetapan what do you think about this?

[2018-11-27 12:08] rushmorem opened #4923 "[feature] add Amazon's Firecracker as a task driver"
https://firecracker-microvm.github.io:

I've just discovered this gem from Amazon. I think having first class support for it in Nomad would be awesome!

[2018-11-27 14:48] preetapan commented on #4921
@tantra35 thanks for reporting this. This looks similar to another sigsegv we fixed recently in https://github.com/hashicorp/nomad/pull/4904/files. The root cause is that the vendored Vault client library returns nil(https://github.com/hashicorp/nomad/blob/1de65708921cdd42f476c101df15573b614bbcfd/vendor/github.com/hashicorp/vault/api/secret.go#L310) on empty responses which we didn't handle correc

[2018-11-27 19:02] nkissebe commented on #3686
@schmichael I don't know about the OP, but for the second time I've had a server instance go into a logging loop

2018/11/27 13:35:35 [ERR] memberlist: Error accepting TCP connection: accept tcp [::]:4648: accept4: too many open files

and

    2018/11/27 13:35:35.820153 [ERR] nomad.rpc: failed to accept RPC conn: accept tcp [::]:4647: accept4: too many open files

And proceed to fill up logging d

[2018-11-28 11:05] cliffcotino commented on #2615
We are also using Consul Connect for proxying service-to-service communication
https://www.consul.io/docs/connect/security.html#prevent-non-connect-traffic-to-services
so this feature would be extremely useful for that use-case

[2018-11-28 23:35] preetapan commented on #4887
Closing this since it looks like a missing build dependency in the alpine container

[2018-11-28 23:35] #4887 closed

[2018-11-28 23:42] preetapan commented on #4899
@migueleliasweb Converting to Mhz allows CPU fingerprinting to work in clusters with heterogeneous CPUs, for example, hardware with cores that could be 1Ghz or 2 Ghz. Given recent community feedback and other internal discussions, we do plan to support CPU as a unit (with a documented conversion like 1 CPU=1024Mhz) in a future release since its easier to reason about.

[2018-11-28 23:42] #4899 closed

[2018-11-28 23:52] preetapan commented on #4902
@rkettelerij thanks for jumping on the reply to this one.

@mcandre At this time we do not intend to provide RPMs due to the reasons linked in that comment above^

[2018-11-28 23:52] #4902 closed

[2018-11-28 23:54] preetapan commented on #4916
Closing this one since its a question about the test cluster.

[2018-11-28 23:54] #4916 closed

[2018-11-29 02:33] migueleliasweb commented on #4899
Hey @preetapan , thanks for clarifying!

My only concern is that specially in the case of having heterogenous servers in a cluster, an application with a CPU limit of 2.5Ghz could have, depending on the server type, 1 or 2 Cores. That's a bit troublesome for multithreaded applications as they might get one or two cpu threads depending on the underlying infrastructure (which they shouldn't care/be

[2018-11-29 04:57] schmichael commented on #3686
@nkissebe It's like this log line being hit in a tight loop: https://github.com/hashicorp/nomad/blob/3a26035dfeb77f2f64eb5c8d34cd38fa3b3da0a6/nomad/rpc.go#L108

We'll get it fixed for Nomad 0.9.0.

[2018-11-29 12:38] n-junge opened #4934 "Docker Image Pull fails"
### Nomad version
Nomad v0.8.6 ('ab54ebcfcde062e9482558b7c052702d4cb8aa1b'+CHANGES)

### Operating system and Environment details
Windows 10 Enterprise 64-bit

### Issue
Nomad Task fails trying to pull Docker image. Some images can be pulled, others cannot.

Example with 2 restarts:

[code]

There is no problem pulling the images manually.

[2018-11-29 13:39] Laboltus opened #4935 "Nomad failed to kill raw exec task."
### Nomad version
Nomad v0.8.4

### Operating system and Environment details
Ububntu 16.04

### Issue
We launch java application with raw exec driver. Most of the time all works ok but sometimes the app hangs and can't be killed with SIGTERM. I can kill it with SIGKILL manually, but nomad can't.

### Reproduction steps

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropriate)

[2018-11-29 14:06] preetapan commented on #4934
@n-junge any more diagnostic info you can share? that looks like it took 6 minutes and still timed out but the log messages are a bit misleading (`pulled 2/2`)

Pls share your job spec file so we can try to reproduce this.

[2018-11-29 14:29] preetapan commented on #4900
@shvar Nomad supports live reloading TLS configuration (and it terminates existing connections). When a cert is compromised, you could issue a new one. The workflow would look something like below
- Create new CA
- Create new certificates for clients and servers
- Reload all clients and servers with *both* CAs as valid (to prevent clients from being temporarily unable to connect to a quorum of Nom

[2018-11-29 14:33] preetapan commented on #4914
@tantra35 as you mentioned the exec driver does this already so we don't plan to make raw_exec work exactly like exec. It was designed for use cases where isolation is not needed.

[2018-11-29 14:33] #4914 closed

[2018-11-29 14:50] n-junge commented on #4934
I noticed that to, it always shows that all layers are pulled. I think Nomad times out while Docker is extracting the layers, but this shouldn't happen.

The job file is very simple.
[code]

This is the server/client log (extracts):
[code]

[2018-11-29 15:23] rafaelpirolla commented on #2625
I had an issue trying to run tomcat inside a java driver job. As the downloaded war was inside /local/apps tomcat couldn't deploy it. I have made /local the directory and it now works but it would be great to be able to set ownership and permissions. Will follow up on the go-getter issue.

[2018-11-29 15:35] #4921 closed

[2018-11-29 16:54] amfern commented on #1290
same happens for me `{"client": {"options": {}}}`

[2018-11-29 17:41] kcwong-verseon commented on #4899
@preetapan: It's important to understand the semantic differences between `--cpus` (and the underlying `--cpu-period` and `--cpu-quota`) and `--cpu-shares`. The former is about asking for a specific cpu-slice duration, whereas the latter is about relative sharing weight across other cgroups. A simple translation of "1 CPU = 1024 MHz" will not bridge the two different semantic.
@migueleliasweb You

[2018-11-29 17:46] preetapan commented on #4880
@kcwong-verseon Thanks for the report.
@notnoop helped reproduce this and looks like though inside the container we can see that the env var `NOMAD_PORT_label` is set correctly,  when we execute the template it doesn't pick up the correct env var value. We'll investigate further and update, this could be a envconsul/consul-template issue

[2018-11-29 18:10] kcwong-verseon commented on #4880
Sweet! I'm looking forward to the fix.

[2018-11-29 22:25] joshuaclausen opened #4940 "Garbage collection removes allocations that are still running"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)n`

### Operating system and Environment details
Windows Server 2012r2 and 2016

### Issue
Allocations with a ClientStatus="running" and a DesiredStatus="stop" are removed by garbage collection, even if the process managed by the allocation continues running.

If the garbage collection is done on a server via a forced

[2018-12-03 14:21] nickwales commented on #4866
@DingoEatingFuzz interesting that you're not seeing it, could be a red herring but I can't yet see any differences between jobs with and without the dots! The network diagram or syslog doesn't show me anything but the console has an unrecoverable error:

Console:
<img width="998" alt="screen shot 2018-12-03 at 8 04 24 am" src="https://user-images.githubusercontent.com/588472/49378590-9ea55300-f6d2

[2018-12-03 17:51] dadgar commented on #865
In Nomad 0.9.0 all the fields in the driver config will be interpreted.

[2018-12-03 17:51] #865 closed

[2018-12-04 12:20] ibayer commented on #4915
Selecting the right interface for nomad to bind to

[code]
In combination with setting

[code]
in the consul config fixed the issue.

This problem occurs because consul binds by default to private ip. It wasn't fun to debug this and better docs (or an official) example would be really great.

[2018-12-04 12:20] #4915 closed

[2018-12-04 12:36] ibayer opened #4954 "Conflict between docker network_mode and static port"
Access to host loopback interface is needed from inside docker container in order to connect co-located docker container.

An example usecase would be to connecting pgadmin running in one container to postgres running in a second container.

It would be great to have working example for such at setup as similar situations come up frequently.

Is **nomad consul connect** a better way to achieve thi

[2018-12-04 13:30] ibayer commented on #4954
https://github.com/hashicorp/nomad/issues/783#issuecomment-181365246 _You could also simplify the thing by using static ports + either exec driver or docker driver in host network mode to get the direct access to the underlying host network_

also make be belief what I'm trying here should work.

[2018-12-04 19:35] shantanugadgil commented on #918
Most of the job file is boilerplate stuff.
Instead of inlining the script, you could `artifact` it too.

[2018-12-04 20:33] ibayer commented on #4954
Okay, this actually works but the ports are exposed on the host IP which is the expected docker behavior
for `network_mode = "host"` but a bad idea in general.

[2018-12-05 05:49] samirdash4u commented on #4667
Please help me if anyone has any update/workaround for this issue..

[2018-12-05 09:39] amfern commented on #4900
https://github.com/hashicorp/nomad/pull/4901 address this issue using ACL

[2018-12-05 17:41] Labibme commented on #3126
hello,
Please how to set "-tls-skip-verify"?
where i have to mention it?

thanks,

[2018-12-05 21:19] yuriy-yarosh commented on #4923
I'm working on it.

[2018-12-06 00:31] DingoEatingFuzz commented on #4866
Thank you for the screenshots @nickwales. @angrycub managed to reproduce this and together we diagnosed the issue.

Turns out it isn't the dot in the job name, but a dot in the task name. This is a perfectly valid Nomad thing to do, but it [breaks this line of code](https://github.com/hashicorp/nomad/blob/master/ui/app/serializers/allocation.js#L17).

[code]

`key` here is the task name, so it exp

[2018-12-06 06:21] wzyplus commented on #3886
Have the same issue.

Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

[2018-12-06 12:02] PeteBoucher opened #4968 "[ui] Definition lists in web UI can be out of sync"
### Nomad version
1.0.0

### Operating system and Environment details
host: Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-1013-aws x86_64)
client: Mac OSX 10.14.1 Mojave,
Chrome Version 70.0.3538.110 (Official Build) (64-bit)
Firefox 61.0.2 (64-bit)

### Issue
On the job->service page, definition lists (like Meta Properties) become out of sync (title: value out of alignment) of one or more values is empty.

[2018-12-06 13:59] urjitbhatia commented on #1899
This seems to be an old open issue but I am also running against this. We are trying to get membership information from Consul and when we do a big deployment, our listener service gets inundated with lots of reload signals in a very short time.

Any pointers on this?

[2018-12-06 16:52] jippi commented on #4466
@nickethier any news on this?

[2018-12-07 13:09] AlexanderZagaevskiy commented on #4666
It seems that we also have the issue. Probably it's been starting since we upgraded Nomad to v0.8.4. Due to the issue we have constantly restarting tasks on random clients when one of the server is shut-downed.
Is there any activity to fix it? It's a very serious problem for us.

[2018-12-07 17:13] atillamas opened #4972 "Nomad recreates service check when updating tag causing short service outage"
### Nomad version
Nomad 0.8.6
Consul 1.4.0

### Issue
When updating tags in service definition nomad removes the service from consul and adds it again causing a second or two of outage for the service when using a service aware loadbalancer in front of the service like traefik  or fabio.

### Reproduction steps
Launch a job and then update any tag and submit the job, watch consul remove the servic

[2018-12-07 20:22] tantra35 commented on #4666
@AlexanderZagaevskiy as workaround you may increase `heartbeat_grace` parameter for example to 1m

[2018-12-07 20:31] dadgar commented on #4972
Thanks for reporting @atillamas!

This is known and we are hoping to have a fix early in the 0.9.X cycle. I am going to close this in favor of https://github.com/hashicorp/nomad/issues/4566

[2018-12-07 20:31] #4972 closed

[2018-12-07 21:36] #4940 closed

[2018-12-08 12:20] eggsbenjamin commented on #1061
*bump*

[2018-12-08 21:11] GoingFast commented on #2941
same. had to put `address_mode = "driver"` to the service

[2018-12-09 13:40] preetapan commented on #4968
@PeteBoucher This doesn't look like the Nomad UI, and we are still on version 0.8.6 not 1.0.0. Are you perhaps using the community maintained [hashi-ui](https://github.com/jippi/hashi-ui/)?

[2018-12-09 13:40] #4968 closed

[2018-12-09 14:08] preetapan commented on #4935
Source of the error is from this vendored library which we use when calling shutdown on the executor - https://github.com/hashicorp/nomad/blob/e9f3f2cfee9d729a8642344c4fa4ea70b2d49468/vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go#L394

@Laboltus when this happens in your environment, does the directory mentioned in the error e.g `/sys/fs/cgroup/freezer/nomad/f00a3551-37c6-3dc

[2018-12-09 14:12] preetapan commented on #4913
@mildred We have network namespace support and Consul connect integration in the roadmap. With network namespace support, this should be possible. We will need to flesh out the details of how that would work but at a high level `port_map` could move to become a task group property so that tasks could see each other's port map.

[2018-12-09 14:20] preetapan commented on #4954
@ibayer We have support for network namespaces slated for the next major release (after the upcoming 0.9 release) to allow containers sharing the same task group to be able to see each other.

[2018-12-10 08:59] atillamas commented on #4972
@dadgar thank for the information. Glad to know it's beeing worked on.
Until then it seems possible to circumevent the problem with updating something that recreates the allocation. Like a dummy ENV. I cannot see any outage when updating the tag and a new/dummy env at the same time.

[2018-12-10 11:54] blalor opened #4976 "Include NodeEvents in NodeListStub"
In Nomad 0.8.6 (and on master), the `NodeListStub`s returned by the api's `Node.List` function do not contain `NodeEvent` instances.  It would be useful to have that information in the result, in order to avoid another call to retrieve the node's details.

[2018-12-10 12:30] corbeen opened #4977 "Nomad Vault integration doesn't work (missing client token) v0.8.6"
I have next configuration on nomad (v0.8.6)
**SERVER**

**CLIENT**

But when I configure template from Vault it gets next error:
[code]

But when I run nomad client as below , job templates works
```export VAULT_TOKEN="qRbzb5ZXdOW4492G9R9IV04S"; nomad agent -config /etc/nomad```

How to properly configure servers and clients to ship token from master nodes ?

[2018-12-10 12:54] yuriy-yarosh commented on #4923
Finished firecracker client for golang, it took more time to get a linux box with KVM :dango: than actually implementing it.

@dadgar what do you think about adding direct containerd support for nomad ?
Docker driver by design became a bit obsolete...

[2018-12-10 13:38] alexiri commented on #3251
I'd love to have this as well. Is it planned at some point?

[2018-12-10 15:36] ibayer commented on #4954
Glad to hear!
 I made this work but I had to jump through way too many hoops for such a standard problem.

[2018-12-10 15:36] #4954 closed

[2018-12-10 16:48] ketzacoatl commented on #4977
@corbeen, when running the agent (server/client), you supply the token that agent will use to access Vault. The server is not responsible for providing that type of initial token to the nomad client, the operator is (and should be). How you distribute that token is for you to decide, and you have options for how you do it. In many cases, this is also env-dependent.

[2018-12-10 16:56] ketzacoatl commented on #3686
I've seen the "too many open files" issue on servers running in production.

In regards to this comment:

What is a reasonable limit? Should this depend on host/node side?

[2018-12-10 19:43] stevenscg commented on #4437
@preetapan I've been chasing issues like this as well for several months now. cc @jippi

On 11/18, about 30% of my cluster nodes of a certain type failed and had to be terminated.

Based on previous occurrences, I predicted that it would happen again sometime in the next 30 days. The cluster was left largely alone after 11/18 serving production traffic steady-state with few deployments and we did

[2018-12-10 20:01] kurtwheeler opened #4979 "Nomad jobs are being restarted despite that feature being disabled"
### Nomad version

Nomad v0.8.3 (c85483da3471f4bd3a7c3de112e95f551071769f)

### Operating system and Environment details

We are running this within AWS using an ubuntu AMI:
[code]

### Issue

Related : https://github.com/hashicorp/nomad/issues/4700

@dadgar closed that issue without confirming it was resolved. It's not clear to me if it was in fact resolved at that time and a new feature has subs

[2018-12-10 20:02] stevenscg commented on #4437
In case it helps, this is the timeline of today's event:

<img width="1225" alt="nomad-allocations-20181210" src="https://user-images.githubusercontent.com/176253/49758233-14399200-fc84-11e8-85e5-735bf2f0d395.png">

[2018-12-10 21:11] preetapan commented on #4979
@kurtwheeler the alloc status description states `Desired Description = alloc is lost since its node is down` - looks like Nomad restarted it on another node because it was unable to reach the client node that your job was running on. This is a design decision made for correctness - because nomad servers can't reach that node, it restarts it on another node. This isn't something that can be disabl

[2018-12-10 22:01] vtolstov opened #4980 "[question] embed nomad scheduler without network and server stuff"
i like nomad scheduler and want to use it inside my project, i'm need only small part like task with cpu, memory, disk constrains and scheduler that decide which node use to run.
As i understand, extract such parts are not trivial? Do you think about embedable variant of scheduler ?

[2018-12-10 22:01] Miserlou commented on #3589
What's the status of this? This feature is useful to me.

[2018-12-11 02:56] kaspergrubbe commented on #3639
Would it be possible to get a command that verifies configuration files like we have `consul validate`?

[2018-12-11 09:00] corbeen commented on #4977
Look it is from documentation

What is the option to delivery a VAULT_TOKEN to clients, in these cases, why I need to add a token for a server node(it seems useless adding a token to server node) ?
If I have 20 clients how to manage a token delivery ? I mean of course I can run all these agent with environment, but why clients cannot get a token from servers instead ?

And when I run a client with

[2018-12-11 14:20] #4979 closed

[2018-12-11 16:32] shantanugadgil commented on #4299
I set the restart parameter to 0 (zero) for my AMI build jobs which I want to run only once.

[2018-12-11 17:00] camerondavison commented on #4299
sorry. I meant to say that it restarted 4 times at least, still in process of restarting.

[2018-12-11 17:07] nickwales commented on #4866
Awesome, thank you!

[2018-12-11 20:51] #2825 closed

[2018-12-12 12:51] Laboltus commented on #4935
Just got this error again and checked. Yes, the directory is exist until I do something like killall -9 java.

[2018-12-12 13:39] yifeikong opened #4988 "[question] What does the resource stanza imply? constraints or requirements?"
docs says

which one is correct per this config:

1. at least 2000MB will be reserved for the task
2. the task is constraint to a maximum of 2000MB memory, if it uses more than 2000MB, it will be killed.

[2018-12-12 14:01] nickethier commented on #4988
Hi @yifeikong

For the given config Nomad will reserve 2000MB for the task assuming it has room to place it. Depending on the driver used it will also isolate this memory, such that if it uses over 2000MB it will be killed. The exception here is when the `raw_exec` driver is used.

Feel free to reopen if this doesn't answer your question.

[2018-12-12 14:01] #4988 closed

[2018-12-12 16:18] shantanugadgil commented on #606
Can this feature be prioritized?
I really (*really really*) need the 'memory over-subscription' for dockers.
I could do with a "-1" flag which basically mean "don't care" and launch the dockers with no memory constraints.

_This could be an agent config setting, and thus not get enabled for all agents._

I have a few dockers (tasks) which get allocated to a single node (based on the `node name` co

[2018-12-12 16:21] jippi commented on #606
With Nomad 0.9 we can do plugins - I certainly plan to add a docker driver with exactly those features :)

[2018-12-12 16:33] shantanugadgil commented on #2625
Any chance of this making into 0.9.0 ?

[2018-12-13 02:46] yifeikong commented on #4988
Thanks for your answer. So it's both of them, maybe this could be two separate configs?

[code]

100 MB is required to start the task, and the task will be killed if it ever reaches the 2000MB limit.

[2018-12-13 06:13] urjitbhatia commented on #4649
@dadgar Is there any progress on this?

[2018-12-13 06:26] urjitbhatia opened #4996 "Old alloc is still running"
### Nomad version
`Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details
- `Linux ip-10-1-2-96 4.4.0-1073-aws #83-Ubuntu SMP Sat Nov 17 00:26:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
- We use replicator to scale up/down (which creates a lot of deployments trying to scale up approaching peak traffic)
- Job runs using docker driver

### Iss

[2018-12-13 10:40] AlexanderZagaevskiy commented on #4666
@tantra35 Our cluster is very demanding on fast fault detection, thus the solution with `heartbeat_grace` is not fit for us. Moreover PR #4688  didn't help.

Nevertheless, сlose look at the issue and @tantra35 's PR allowed to fix it.
Main problems are:
1. There is a bug with omitted datacenter of servers discovered via Consul. ( PR #4997 )
2. Yamux's sessions are kept alive longer than default he

[2018-12-13 15:00] ketzacoatl commented on #2443
AFAICT, this is still an issue in that Nomad does not yet support unpacking `.tar` archives, and while https://github.com/hashicorp/go-getter/issues/19 is still open, it seems that `go-getter` _does_ now support `.tar` archives (see https://github.com/hashicorp/go-getter/blob/master/decompress_tar.go).

@dadgar, does nomad support decompressing `.tar` archives, or should this ticket be re-opened?

[2018-12-13 20:48] tantra35 commented on #4666
@AlexanderZagaevskiy i agree with your timing settings for yamux, but why you have so often times of non responsive servers? Do you have any telemetry?

[2018-12-13 20:54] Miserlou opened #5000 "RPC failed to server: rpc error: rpc error: node lookup failed: index error: Invalid UUID: encoding/hex: invalid byte: U+0073 's'"
### Operating system and Environment details
Linux, latest release Nomad.

### Issue

[code]

This appears to have killed the client entirely, it still responds but there are no new allocations although there is pending work and other clients are behaving better.

[2018-12-13 21:37] dadgar commented on #5000
This error is driven by the user's request. Nomad will never generate a node list HTTP request itself. I am going to close this issue but feel free to open another if you discover an issue regarding that node.

[2018-12-13 21:37] #5000 closed

[2018-12-13 21:40] Miserlou commented on #5000
This is a bug in Nomad.

[2018-12-13 21:46] dadgar commented on #5000
@Miserlou What is the bug? As I explained the input to the prefix command on the node endpoint must be a valid UUID prefix. That is also what the response error is indicating: `Invalid UUID`.

The request: `/v1/nodes?prefix=self` is invalid, since `s` is not a valid hex character in a UUID.

[2018-12-13 22:35] AlexanderZagaevskiy commented on #4666
Our QA engineers just checked fault tolerance feature and turned servers off or unplugged network on purpose. One of test cases.

[2018-12-14 09:59] n-junge commented on #4934
?

[2018-12-14 10:53] vtolstov commented on #4980
Can you provide example how to fill nodes and take suitable nodes for specific task

[2018-12-14 14:55] vyacheslav-skvortsov opened #5006 "Nomad does not show resource utilization for Windows containers"
Nomad does not show resource utilization for Windows containers:
![image](https://user-images.githubusercontent.com/29980836/50002010-63930180-ffa7-11e8-9655-09d0daaac2eb.png)

**nomad node status**
Allocated Resources
CPU            Memory           Disk            IOPS
512/10400 MHz  1.0 GiB/8.0 GiB  300 MiB/75 GiB  0/0

Allocation Resource Utilization
CPU          Memory
0/10400 MHz  0 B/8.0 Gi

[2018-12-16 00:26] sduggisetty opened #5010 "Split nomad cluster into two clusters"
We are using nomad & consul in our projects and we have two environments(Dev & Test). Each environment has different cluster. Both are isolated clusters. We newly introduced puppet manage these nomad & consul and unfortunately when puppet pushed some configuration, Dev & Test became once cluster.

DEV got merged with Test cluster. Now overall works like a single cluster. Because of this whenever w

[2018-12-16 09:13] jippi commented on #5010
Two ways to break it up

1) kill raft on all instances and have them rediscover the isolated clusters
2) put down firewall rules between the clusters, and cleanup raft, and wait for nomad to GC the other cluster away ~72h

[2018-12-17 18:33] Miserlou opened #5014 "[Question] 0.8.7 Release Schedule"
Very quick question - can we expect to see an 0.8.7 this week? We need the `tmpfs` support that's in `-rc1` right now for some of our work, and we'd love to be able to plan for whether or not we'll be able to use the functionality in the next release over the Christmas break next week.

Thanks!

[2018-12-18 21:30] frafra opened #5019 "nomad.service differs from the one proposed in the documentation"
https://github.com/hashicorp/nomad/blob/master/dist/systemd/nomad.service
https://www.nomadproject.io/guides/operations/deployment-guide.html#configure-systemd

Which file is uptodate/suggested? It looks like the one in the guide has a safer setup.

[2018-12-18 21:55] danlsgiga opened #5020 "[feature]: Enable specifying user/group permissions in the template stanza"
It would be great to have `user` and `group` parameters to the `template` stanza. This would allow us to trim down the `perms` of templates handling secrets to just the user/group of the user running in the container.

Use case: We have few jobs running the `docker` driver and we are injecting a few config files using the `template` stanza with secrets from Vault. Right now we have to set `perms =

[2018-12-19 00:39] schmichael commented on #5006
We're tracking this in Support runtime resource usage metrics in Docker for Windows #2897.

[2018-12-19 00:39] #5006 closed

[2018-12-19 16:04] preetapan commented on #5014
@Miserlou the current plan is to release 0.8.7 early January, to make sure we have engineers available to look at any further bug reports/issues after the release.

[2018-12-19 16:04] #5014 closed

[2018-12-19 16:09] preetapan commented on #4980
@vtolstov see  https://www.nomadproject.io/intro/getting-started/cluster.html for how to create a minimal cluster. Our documentation has more detailed examples on various features - https://www.nomadproject.io/docs/job-specification/
Rather than trying to embed Nomad into something else, I would recommend that you spin up a small cluster using the above example (one server/three clients) to play a

[2018-12-19 16:09] #4980 closed

[2018-12-19 21:05] Miserlou opened #5031 "undefined: drivermanager.TestDriverManager during `make release`"
Following the release instructions causes this error:

[code]

From a clean install:

[code]
`make dev` works though:
[code]

[2018-12-19 21:07] Miserlou commented on #5031
Removing the testing file gives:

[code]

[2018-12-19 23:49] braxton9460 opened #5033 "Nomad destroys old allocations before creating new during a deployment"
### Nomad version
`Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)`

### Operating system and Environment details
**OS**
[code]
**Docker Version**
[code]
The entire environment is hosted in AWS vpc hosted across 3 AZ's.
A majority of the applications I am working with are docker containers running nodejs. Not all are node, but all are docker containers.

### Issue
During a deployment or mi

[2018-12-20 08:22] Suresh-Nakkeran opened #5039 "Task not stopped properly from docker in client machine"
A docker service job is submitted, it is allocated and started running in a client machine. when we submit update request for that job, the old container is not stopped properly and tried to start new container for that job and failed with 'port is already allocated' error.

**Nomad version**
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

**Docker version**
Docker version 17.03.2

[2018-12-20 11:33] mattiacolleoni opened #5040 "[Question] How to correctly use "force_pull" parameter?"
Hi,
I'm using Nomad v0.8.4.
I'm using in pre-production environment images tagged as "rc-latest". This tag is overwritten every new deploy.
Despite my nomad configuration file has the "docker_pull" parameter set as true, when I execute
`nomad plan` or `nomad run` all is ignored. The only way that works is to stop and re-run the plan.
Is there any type of option in those commands that forces image

[2018-12-20 11:42] jippi commented on #5040
you need to stop/start the job - or modify a meta key or similar to force a change.

from nomads point of view, changes are only detected from the job spec, not the underlying docker image. `force_pull=true` is only used when starting a container - it will not be used to detect changes in the underlying docker image.

my workaround is to use something like [levant](https://github.com/jrasell/levan

[2018-12-20 11:51] mattiacolleoni commented on #5040
Many thanks @jippi !

[2018-12-20 11:51] #5040 closed

[2018-12-20 18:32] #5031 closed

[2018-12-20 19:48] Miserlou opened #5044 "undefined: assetFS during `make release`"
https://github.com/hashicorp/nomad/issues/5031 got closed early

[code]

[2018-12-20 20:19] nickethier commented on #5044
Hey @miserlou
Please see the updated README from that PR. You must run `make prerelease` prior to `make release`.

[2018-12-20 20:19] #5044 closed

[2018-12-21 08:49] jrasell opened #5047 "docs: execution ordering of job file stanzas"
When working on Nomad job files, it would be very helpful to have reference documentation that describes the general order in which stanzas are executed. For example, it would be helpful to understand that all templates are executed and rendered before the artefact stanza is executed.

[2018-12-21 12:24] elvanowen opened #5048 "Nomad does not correctly detect memory in Allocated Resources"
I run `nomad node status 9fb15cd7` on my nomad node and it returns 0/0 for the "Allocated Resources". This also happens to all other nodes in my cluster.

[code]

OS: CentOS Linux release 7.5.1804 (Core)
Nomad Version: v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

[2018-12-21 12:33] elvanowen commented on #5048
Below is my job definition

[code]

And running `nomad job plan redis-exporter.nomad` return below error:

[code]

[2018-12-21 21:16] joshuaclausen opened #5049 "Exit code always 0 when allocation is killed after stop signal has been sent"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
0.8.7-rc1

### Operating system and Environment details
Windows Server 2012r2 and 2016

### Issue
I have a long graceful shutdown procedure.  If my process fails during that procedure,

[2018-12-22 09:15] aravind4444 opened #5050 "SCDF streams not getting deployed through nomad 0.8.6 in RHEL6"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
v0.8.6
### Operating system and Environment details
RHEL6

### Issue:
We are trying to setup Spring cloud dataflow server through nomad and deploy the streams. The scdf server is config

[2018-12-23 08:44] burdandrei commented on #5048
what is your `resources` stanza here?

[2018-12-24 17:30] aravind4444 commented on #5050
Hi - It would be great if someone pick this up as priority?

[2018-12-24 17:49] shantanugadgil commented on #5050
Hi, is the missing driver seen otherwise as well?
Missing driver would indicate Nomad not detecting java as a viable driver on the system.

BTW, can you post a minimal job file of the original job to give a hint as to what is being attempted here.

[2018-12-26 06:55] aravind4444 commented on #5050
For clarity, We are able to start scdf servers with java driver and it comes up without any issues. The issue is while deploying the streams from scdf server where it fails. The same setup works fine in vagrant box with CentOS binary equivalent to RHEL6.

Please note: nomad is running as root user as per the requirements for java driver. The allocations are running as nobody user.

sample scdf dep

[2018-12-27 15:36] margueritepd opened #5051 "More clearly indicate where variable interpolation is/isn't valid"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Ubuntu 16.04

### Issue

Sometimes it's not obvious where Nomad environment variables and node variables can be interpolated.

For example, in the past I've had trouble with `NOMAD_TASK_DIR`, which is interpolated in the `template` stanza but not in `artifact`.

The documentation

[2018-12-27 18:17] aravind4444 commented on #5050
any update on this? solving this issue will help us a greater extent...

[2018-12-27 20:58] pashinin opened #5052 "[question] Can I restart a job when a Vault record changes?"
I have a service (Nomad job) that gets some secrets from Vault (like SSL certs):

[code]

Now let's say certificates are automatically updated. As I understand Nomad will not do anything (and it's ok maybe) and my service will use old secrets. But I want to restart a job if Vault data (that my service relies on) changes. Can I do that?

Or do I need to manually restart jobs when secrets change?

[2018-12-27 21:02] burdandrei commented on #5052
You got 2 options:

- signal your app to reload the certs
- restart the app

[2018-12-28 05:42] shantanugadgil commented on #5050
I can imagine two more possibilities ...
Nomad is unable to find 'java'  in $PATH.
(that should be fixable by setting the path correctly before Nomad is started)

Second could be due to it being RHEL6 (i am only speculating) missing some packages, cgroup, etc.

I have never used the java driver, so only guessing here.

If the PATH before starting Nomad doesn't work,  would it be possible to try th

[2018-12-28 09:34] aravind4444 commented on #5050
Thanks for looking at this.

if nomad was not able to find the java path then it has to fail in starting scdf server itself. Here that is not the case. scdf is coming up without any issues through java driver. The problem is when the streams are deployed in scdf UI, it passes the job to nomad and tries to deploy it on the nomad cluster where it fails with missing driver issue.

Can see the cgroups

[2018-12-28 09:49] shantanugadgil commented on #5050
Hi, I have never used the `java` driver myself, so I'll let someone from HashiCorp answer this one. ;)

BTW, the PATH separator should be `:` not `;`

Also, the `constraint` seems to be incorrect ... shouldn't the "attribute" field be `kernel`, or something ?

[2018-12-28 10:36] aravind4444 commented on #5050
Hi - corrected above and triggered the stream deployment. still the same error :(

[2018-12-28 22:12] ketzacoatl opened #5053 "Question: What could go wrong if a nomad server and client ran on the same host?"
Hello,

The nomad config docs mention:

What is behind this recommendation, what could go wrong with a production setup in this configuration?

Let's say you run _only_ 3 nodes in a DC, and then have 3 DCs. so 9 nodes, 3 different deployments, each node is a leader and a client in one agent. What could go wrong?

Thanks! :)

[2018-12-29 10:54] zonnie opened #5136 "Nomad client memory grows every job restart"
Nomad agent memory is growing whenever I stop & start a job.

### Nomad version
`Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details

`Linux gc-management 3.16.0-77-generic #99~14.04.1-Ubuntu SMP Tue Jun 28 19:17:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

### Issue

Nomad agent memory is growing whenever I stop & start a job.
It seems th

[2018-12-30 04:11] shantanugadgil commented on #5050
At this point I wonder what the jobs logs say;
normal and with `-stderr`

[2018-12-30 08:05] burdandrei commented on #5136
Have you tried to run a GC?
https://www.nomadproject.io/api/system.html#force-gc

[2018-12-31 02:51] sduggisetty commented on #5010
Hi Jippi,

I have followed the second option and it worked fine. Thanks a lot.

What i have done is, i stopped all DEV servers so that the TEST cluster deleted the DEV servers infrom from that cluster.
Then i deleted the data dirs of nomad & consul in all DEV servers and started them back again.

Thank you very much.

[2018-12-31 02:51] #5010 closed

[2018-12-31 16:46] zonnie commented on #5136
@burdandrei - Yes, nothing major happened...
I see several of these:
[code]
But they seem to be triggered by timing rather then my operation...
I see the request hitting the API in the Nomad client log:
[code]
Any other suggestions ?

[2019-01-01 10:43] sfmunoz opened #5137 "nomad breaks automounter umount ability (Linux; both autofs and systemd)"
### Nomad version
`Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details

Some details have been redacted:
[code]

### Issue

**Nomad** is executing `statfs()` continuously on every mounted filesystem which breaks **automounter** ability to umount them (both **autofs** and **systemd**):

- It looks like **Nomad** opens `/proc/self/mounts` an

[2019-01-01 11:01] sfmunoz commented on #5137
I removed `"driver.raw_exec.enable": "1"` from the previous comment configuration (`/etc/nomad.d/00-nomad.json` file): **Nomad** behaviour is still the same running **statfs()** on every mounted filesystem.

[2019-01-01 11:04] sfmunoz commented on #5137
One more test: I ran **Nomad** as a standard user with no special privileges instead of using **root** (`"driver.raw_exec.enable": "1"` was also removed from `/etc/nomad.d/00-nomad.json`): still same behaviour with **Nomad** running **statfs()** on every mounted filesystem.

[2019-01-01 12:04] jippi commented on #5137
the 1s interval for stat is likely from [telemetry](https://www.nomadproject.io/docs/configuration/telemetry.html#collection_interval) which output disk size/usage/io etc - which by default run every 1s :)

[2019-01-02 19:55] jessica-ritter opened #5138 "[question]actual_cpu units per allocation"
Following up from: https://github.com/hashicorp/nomad/issues/4840,

Percentage is mentioned here:https://www.nomadproject.io/api/client.html#read-allocation-statistics, but it is very unclear what percentage it is referring to.

`"ResourceUsage": {
    "CpuStats": {
      "Measured": [
        "Throttled Periods",
        "Throttled Time",
        "Percent"
      ],
      "Percent": 0.141595388471

[2019-01-02 20:03] camerondavison opened #5139 "better error information for vault client error"
Took me a while to track down the actual problem so I thought that it would be nice to have some better bread crumbs along the way if possible.

The vault token on our nomad server expired because the ssl cert on the vault server expired and we did not catch it until the TTL of the vault token had already expired. In our nomad logs I found.
`failed to renew Vault token before lease expiration` whi

[2019-01-03 02:54] preetapan commented on #5033
@braxton9460 based on your update stanza above, Nomad works as designed.  Your current settings in the update stanza above achieve parallel upgrades (https://www.nomadproject.io/docs/job-specification/update.html#parallel-upgrades-based-on-checks)  - i.e max_parallel new allocations are started on the new version while stopping the same number on the old version.

If you want old allocations to re

[2019-01-03 02:54] #5033 closed

[2019-01-03 02:56] danlsgiga commented on #5020
@preetapan not really! The template is created with user / group set to root and I run my container using nobody / nobody (best practices heh!). Setting perms = 400 (Tried that and didn't work) will make the file readable by root only.

[2019-01-03 03:39] preetapan commented on #5039
@Suresh-Nakkeran can you share your job spec file to help us reproduce this?

[2019-01-03 03:40] preetapan commented on #5019
@frafra the canonical example is in https://github.com/hashicorp/nomad/blob/master/dist/systemd/nomad.service

[2019-01-03 03:40] #5019 closed

[2019-01-03 11:17] yifeikong commented on #2457
I can reproduce this, logs for short running param jobs are all missing

[2019-01-03 16:45] elvanowen commented on #5048
We found out that we are using the wrong 32-bit binary instead of 64-bit binary. After updating to 64-bit binary, everything works fine.

[2019-01-03 16:45] #5048 closed

[2019-01-03 17:58] aravind4444 commented on #5050
After setting up nomad and scdf in RHEL7, i started seeing below error in the logs while running the job.

 2019/01/03 12:46:07.297941 [TRACE] client: alloc b0a1f72a-8169-7b02-09a3-cb316dab037e task SpringDataflowServer could not detect a driver IP

Any help on this?

[2019-01-03 19:06] ketzacoatl commented on #5052
@pashinin, you would want https://www.nomadproject.io/docs/job-specification/template.html#change_mode and the other parameters, no?

I could be wrong, but the way I understood it:
* use a template with consul/vault kv/etc referenced
* nomad runs consul-template alongside your task
* consul-template watches the referenced keys
* consul-template HUPs your task when those keys change

[2019-01-03 20:48] pashinin commented on #5052
@ketzacoatl, I didn't expect this. So Nomad always watches for key changes and re-renders templates (if keys change) and restart tasks? I thought Nomad only gets keys when starting a task and does not continue to watch them (used Vault keys) for changes.

[2019-01-03 20:52] xmaster484 commented on #5053
Hi, I too would like to know what the cons of running both on the same host would be.

[2019-01-03 22:21] schmichael commented on #5053
Nothing as long as long as _all_ nodes always have ample spare resources. If a job were to saturate one of the resources on a node (eg cpu, storage, disk IO, or bandwidth) and cause it to crash or be unable to do work in a timely manner, the 2 live nodes would eventually consider that job as "lost" and reschedule it. The job would then cause its new host to become unresponsive and you would no lon

[2019-01-03 22:21] #5053 closed

[2019-01-03 23:09] cheeseprocedure commented on #5033
My team has run into the same issue. If I understand correctly, the diagram in the "Rolling and serial updates" section of the blog post above describes a behaviour that isn't currently possible (that is: create v2 allocation, wait for v2 allocation to become healthy *then* tear down v1 allocation, repeat for next allocation). If so, +1 to updating the diagram/wording.

(We'll investigate working

[2019-01-04 08:59] adra2n opened #5145 "存在安全隐患 - possibility security risks"
启动Nomad的server模式的时候默认是没有token保护的，任何client只要知道server的地址，若是4647没有做acl保护的任何，就可以直接加入到里面，然后通过上传job可以是其他的client执行命令，导致安全问题

[2019-01-04 14:44] preetapan commented on #5145
@adra2n I did a [google translate of your comment](https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=%E5%90%AF%E5%8A%A8Nomad%E7%9A%84server%E6%A8%A1%E5%BC%8F%E7%9A%84%E6%97%B6%E5%80%99%E9%BB%98%E8%AE%A4%E6%98%AF%E6%B2%A1%E6%9C%89token%E4%BF%9D%E6%8A%A4%E7%9A%84%EF%BC%8C%E4%BB%BB%E4%BD%95client%E5%8F%AA%E8%A6%81%E7%9F%A5%E9%81%93server%E7%9A%84%E5%9C%B0%E5%9D%80%EF%BC%8C%E8%8B

[2019-01-04 14:44] #5145 closed

[2019-01-04 14:47] preetapan commented on #5052
@pashinin, like @ketzacoatl points out, Nomad client agents (via consul-template) watch for changes, and when configured with the `change_mode` like described above, will send a signal to your task. You'll still need to make sure the task responds to that signal and reloads the generated template file

[2019-01-04 14:47] #5052 closed

[2019-01-04 16:50] aravind4444 commented on #5050
@dadgar - Please can you help us in resolving the issue stated in the initial issue request?
we have tried setting up the scdf in RHEL6 and as well as RHEL7 but both resulted with below error
Placement Failure
Task Group "ticktok-log-0":
  * Constraint "missing drivers" filtered 1 nodes

Have posted the config in the initial request and any help will be more helpful....

[2019-01-07 03:47] sivarajendranaidu commented on #4846
I am also facing the same issue.
Can you please few more details on the what change to be done security groups.

[2019-01-07 20:35] kak-tus commented on #5053
@ketzacoatl
Also, you can read my article (problem #4 from it).
https://habr.com/post/435132/
(you can translate it from russian with google translate).

[2019-01-07 23:17] the-maldridge opened #5160 "Bogus port numbers in docker on 0.9-dev"
### Nomad version
Nomad v0.9.0-dev (fc7455c10494c80be512e55d65a9bdda17c30800+CHANGES)

I am not aware of any changes that were intentionally applied, I build inside a clean docker container with the following commands:

[code]
NOMADV was set to 'master' for this build.

### Operating system and Environment details
Alpine Linux 3.8, Virt flavor running in Amazon EC2

### Issue
Port numbers do not m

[2019-01-08 00:49] schmichael commented on #5160
Can you provide your job file or more details? When I run the example.nomad job generated by `nomad init` and run it against master (428cec9682f68abc089cfec1901f9bee97054966), alloc status shows:

[code]

And docker ps shows the same port:
[code]

I'm able to connect to the port as expected.

[2019-01-08 00:53] the-maldridge commented on #5160
Sure, here's a version with some of our internal config stripped out:

[code]

[2019-01-08 02:39] schmichael commented on #5160
Tested that and the ports line up. I find it very easy to believe you hit a bug from a December build! Tons of fixes since then. Thanks for testing! I'm going to close for now, but please feel free to reopen if it fails on a new build. Things are getting pretty stable!

[2019-01-08 02:39] #5160 closed

[2019-01-08 07:05] the-maldridge commented on #5160
Sure no worries.  I need to get this particular cluster QA'd soon so I'll just revert my local Go to 1.10, but when I get a moment I'll re-roll a test cluster with a current build.

[2019-01-08 19:13] ashald opened #5165 "Inaccurate memory reporting in Nomad"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue
We noticed this issue only when we moved our workloads to Docker from rkt but I suspect it might be an issue for other drivers as well.

We have a job running `minio` (we also noticed similar issue with number of other services written in Scala and Python) which resource definition stanza looks like (excerpt):

[2019-01-09 13:31] jrasell opened #5169 "system scheduler: error when performing plan/run with disabled nodes"
### Nomad version
Output from `Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details
OS: `ubuntu-18.04`

### Issue
When attempting to plan/run a Nomad system job (which includes constraints) on a node pool which includes administratively disabled nodes, the call will fail with the following error:

[code]

The plan/run will succeed once the

[2019-01-09 14:17] dantoml commented on #5165
I think this should be fixed in 0.9 because we get those metrics from the Docker API as part of the new driver.

[2019-01-09 14:44] angrycub commented on #5165
@Ashald, I was able to confirm that this is still an issue in Nomad v0.9.0-dev (c506b56f96a1f9a4d215bca21dc535ce804feb85).   We'll be looking into it further.

[2019-01-09 18:45] dadgar commented on #5169
@jrasell what do you mean disable? Drain the node or mark it as in-eligible?

[2019-01-09 19:01] wlonkly opened #5170 "/v1/nodes/:node_id/allocations endpoint X-Nomad-Index is not node-specific"
### Nomad version
Nomad v0.8.4 (dbee1d7d051619e90a809c23cf7e55750900742a)

### Operating system and Environment details
Ubuntu 16.04

### Issue
I'm not sure if this is a bug or "working as intended" but I figured this is the best way to find out.

*Context:* I want to use blocking queries against the Nomad API on a client node to find out when allocations change on that client node using the `/v1/

[2019-01-09 21:59] danlsgiga opened #5171 "[FEATURE] Vault Transit support"
It would be really nice to have Nomad supporting Vault Transit encryption so we can manage secrets directly in git and Nomad would only decrypt it using the Transit endpoint at runtime using the ciphertext in the `template` stanza.

It would also provide a performance boost on the Vault servers for static secrets since Nomad won't need to watch for changes.

IMO, it would be a game changing featur

[2019-01-09 22:04] dadgar commented on #5171
@danlsgiga Should this be instead a feature request against consul-template?

[2019-01-09 22:11] danlsgiga commented on #5171
@dadgar indeed! Only after creating it I realized the `template` stanza is basically a `consul-template` integration. Will request this feature there!

Thanks for the heads up!

[2019-01-09 22:11] #5171 closed

[2019-01-09 22:16] danlsgiga commented on #5171
@dadgar indeed! Only after creating it I realized the `template` stanza is basically a `consul-template` integration. Will request this feature there!

Thanks for the heads up!

[2019-01-09 23:33] nickwales commented on #4297
#5172

[2019-01-10 06:48] jrasell commented on #5169
@dadgar when the node has been marked as in-eligible.

[2019-01-10 09:32] aravind4444 commented on #5050
We managed to fix the issue by ourselves and so closing this ticket.

For others benefit, the issue was due to the way we import the app jars into scdf. We were referring the jar from one of our local repo. the jars were manually downloaded and uploaded to local repo. Once we started importing the app jars from maven repo all started working as expected.

[2019-01-10 09:32] #5050 closed

[2019-01-10 11:04] gopi-ideas2it commented on #419
Waiting for 0.9 in 2019 @dadgar. Any update on this would be highly appreciated.

[2019-01-10 18:14] amanjeev opened #5177 "Feature request (UI): Show Client Name along with the ID"
### Nomad version

0.8.4+ent

### Operating system and Environment details

CentOS 7.

### Feature request

If there is a way to show the client host name as well as the ID it currently shows. Sometimes you have to look at the client fast and there is an extra click which alters the path you usually take in finding allocation and tasks.

![image](https://user-images.githubusercontent.com/160476/50

[2019-01-10 19:18] jacksod1 commented on #5136
Just to add to this.  I'm running Nomad Client (0.8.4) and memory utilization of the client slowly creeps up over time.  For example, I've had a Nomad client running for 34 days and it was consuming 201MB of resident memory.  A restart of the nomad client brought the memory back down to 25MB.

[2019-01-10 21:00] ketzacoatl commented on #5053
Thanks @schmichael !

[2019-01-10 23:17] Ashald commented on #3394
The funny thing is that for `rkt` (if anybody cares about it) it's not true (at least right now) - it's configured with `--cpu` flag  as seen in https://github.com/hashicorp/nomad/blob/v0.8.6/client/driver/rkt.go#L521-L522 and that in turn enforces a hard limit with CFS. What is even more funny is that the in the master branch which is the future `v0.9` as of time of writing this behavior is chang

[2019-01-11 01:41] c4milo commented on #419
People wanting this today should look into using Apache Airflow, scheduling tasks in Nomad. There is an Nomad Operator in the works here https://github.com/apache/airflow/pull/2708.

[2019-01-11 15:46] wlonkly commented on #4264
I'm currently experiencing the situation where the index is not unique within a job version, post-promotion. (This has happened a couple times for us, but this is the first time it was brought to my attention.) One of our developers says that it started miscounting after a failed deployment where nobody manually promoted the new job.

<img width="1188" alt="screen shot 2019-01-11 at 10 34 34 am" s

[2019-01-11 16:39] wlonkly commented on #4264
Hah, I was able to reproduce it. In the case I was able to reproduce, it looks like it happens when a new canary allocation fails to start, and then the deployment is failed.

Test job file:
[code]

Transcript of reproduction steps:
[code]

[2019-01-11 16:42] wlonkly commented on #4264
(One thing I think is relevant in that example is that allocations `1c78d5cc` and `354e3080` were never stopped, they just had their job version updated when the canary deployment was failed.)

[2019-01-11 17:51] jessica-ritter commented on #5138
Hi, have you had a chance to look into this? I'd love to be able to pull metrics in a way that works well and gives our service teams a helpful insight to CPU usage over time so they may properly allocate

[2019-01-13 19:58] burdandrei commented on #2504
same problem on both `0.8.4` and `0.8.6`
took me 2 days to debug why attached EBS storage is not mounted.
maybe it's time to release a fix?

[2019-01-14 09:49] burdandrei commented on #2504
@preetapan @dadgar can we give a little attention to this one? because `/dev` is remounted `ro` **on host** that leads to really crutial consiquences.
After checking the records we lost nearly a weak to debug this, because one of our system jobs was redeployed with `exec` that made all our envidonment unable to use rexray for dynamic attaching EBS volumes.

[2019-01-14 09:51] jippi commented on #2504
@dadgar @schmichael

I would love to get some priority on this issue. As @burdandrei described above, we ended up 1-3 infra engineers for 2-3 days trying to debug why we could not mount EBS volumes on our docker clients. The symptoms we saw was that `/dev/xvdX` did not exist, and `udev` failed to `stat` the device from this reason.

We ended up escalating this to AWS support as well, that was equa

[2019-01-14 15:50] schmichael commented on #2504
Indeed! Thanks for the detailed post @jippi and hard work from everyone else in this thread.

The `/dev` handling and chroot'ing have changed in 0.9, and I'm not able to reproduce this problem off master with a simple `exec` job. If anyone else has time to test, here is a Linux amd64 binary built off of master (f10c6259c).

Sorry for the lack of communication. 0.9 is getting very close to RC, and

[2019-01-14 16:20] sivarajendranaidu opened #5185 "Running multiple Nomad Client Containers on Single Node"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
Ubuntu 18.04

### Issue
Creating

[2019-01-14 18:53] eigengrau opened #5188 "Template stanza: querying service fails when tag includes equals sign"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
Ubuntu 16.04.5 LTS

### Issue
Since Traefik proxy uses K/V-structured service tags for run-time configuration and also supports using these in template expressions, I am registering some Nomad-scheduled services with tags of the form `customer=foocorp`. However, when tryi

[2019-01-14 20:46] joshuaclausen commented on #2770
As @mafonso mafonso said, this is very similar if not identical to the nomad behind NAT scenario.  I'd like to be able to do "services behind NAT".  In my case, I am using Fabio, but it's trying to route to the IP defined by the service stanze, which right now seems to be *only* the local IP of the host running the service, rather than the public IP of the host (because NAT is being used).

[2019-01-14 20:50] joshuaclausen commented on #4815
Agreed.  This is essentially the same as the "running Nomad behind NAT" scenario.  Issue https://github.com/hashicorp/nomad/issues/2770 does seem to be the same.  I'd like to be able to run a "microservice behind NAT" scenario.  This would enable Fabio, for instance, to correctly route to the public IP of a service when the host of that service is behind NAT.

[2019-01-14 23:53] joshuaclausen commented on #2770
Another possible approach might be to have a config in the service/checks stanza to use the Nomad agent's advertise address, just like how the nomad agent service checks can be configured via checks_use_advertise in the consul stanza for the nomad agent configs.

I realize the challenge is to make job specs *not* require any knowledge of the underlying nomad host's config.  However, I think it mig

[2019-01-15 00:14] #4575 closed

[2019-01-15 03:39] SomKen commented on #2381
Any news on this?

[2019-01-15 07:56] burdandrei commented on #2504
Thanks @schmichael just ran the binary you provided and `/dev` on the host is untouched!

[2019-01-15 14:08] eigengrau opened #5191 "Variable substitution for arbitrary Consul keys in Docker image field"
For a simple-and-stupid approach to CD, it would be convenient to give variable interpolation access to Consul keys. The use-case I’m interested in would place a reference to a Consul key within the Docker driver’s `config.image`. A CI job could then write Docker image hashes into that key and thus trigger a re-deployment, without needing to communicate with Nomad directly.

As a work-around, Cons

[2019-01-15 14:09] imcitius commented on #2292
Hello

Is there any news on this matter?
0.8.4 still has the same bug.

[2019-01-15 15:43] preetapan commented on #2381
@SomKen @jsaintro we will tackle this in the next minor release (0.9.1) after 0.9 is out. Sorry for the delay but our highest priority now is to finish the large 0.9 release which brings in GPU support, runtime plugins and more advanced scheduling improvements.

[2019-01-15 15:47] schmichael commented on #2504
Thanks for testing @burdandrei! I'm not going to dig through the piles of PRs to figure out which one fixed this, but it will be fixed in the upcoming 0.9 release!

As always please feel free to reopen if anyone runs into this again after f10c625 or v0.9.

[2019-01-15 15:47] #2504 closed

[2019-01-15 19:02] stevenscg commented on #2086
Bumping this for 2019.  We have a bunch of long-running daemons that need better health checking. These cannot currently open an http port, but we are looking into that. A TTL check could be useful.

[2019-01-15 21:19] schmichael commented on #3394
@Ashald Thanks for pointing that out! #5197 reverts to the v0.8 behavior as the change was unintentional.

We'd like to add both guarantee and limit options to any driver that supports it, but we don't have the time to add that to rkt in the 0.9.0 release. Feel free to open a new ticket if you want to be notified when that support lands.

[2019-01-15 21:22] Ashald commented on #3394
Thanks! We're switching to Docker which already has such a capability implemented in Nomad so I rather just wanted to point to [likely] unintentional change in behavior. :)

[2019-01-16 02:09] c4milo commented on #4923
@yuriy-yarosh, that's a great idea. A lot of drivers will be abstracted out by containerd and Nomad's code would simplify as a result.

[2019-01-16 16:16] schmichael commented on #5191
Hi @eigengrau -- great question!

Templating the Docker `image` field via a Consul `template` _does_ work. It is a bit convoluted as you have to create [environment variables from the template](https://www.nomadproject.io/docs/job-specification/template.html#env). Here's an example built from the `nomad init` example job:

[code]

If you start the job _before the `image` key exists in Consul_, the

[2019-01-16 16:16] #5191 closed

[2019-01-16 21:20] rmlsun commented on #2185
I can see the benefit of the proposed changes in this thread and I would like to have them too. That said, I'd like to be able to completely opt out for such timeout/cleanup behavior.

From a failure handling PoV, given such features, say for whatever reason Nomad client and server lost contact for a certain period of time, I'd like Nomad to NOT whip out my infrastructure services, and offer me th

[2019-01-17 05:38] Suresh-Nakkeran commented on #5039
@preetapan, the jobs are deployed in a dev environment and we are frequently updating whenever we make code changes (lets take ~10-20 update per day). we are facing this issue once or twice in a week.

my job spec,

job "<job-name>" {
  datacenters = ["dc1"]
  type = "service"
  constraint {
    operator  = "distinct_hosts"
    value     = "true"
  }
  update {
    max_parallel = 1
    health_chec

[2019-01-17 21:34] sgargan opened #5206 "[Feature] Allow the period to be specified when dispatching a parameterized periodic job"
Hi, I was asking about this on the mailing list and figured it was worth capturing as feature request. I have a number of use cases where it would be useful to change/specify the cron pattern for a periodic parameterized job. It seems like a logical thing to be able to do for this kind of dispatch.

Looking at the dispatch logic, it seems like it would be an easy thing to pass along updated Period

[2019-01-18 11:11] vvershkov opened #5210 "[question] Job restart delays or something"
Hello, I have a question about how I can prevent nomad from restarting container or delay it.
I have my resolver in docker and it is managed by nomad. The problem is we had issue with older version (7.1), sometimes heartbeat failed on all clients after leader switch to another server and every allocation was restarted. But restarting all my resolvers at the same time leads to resolve failure and n

[2019-01-18 14:34] jippi commented on #3690
`spread` will come in 0.9 :)

[2019-01-18 16:16] donparapidos commented on #4576
This would be great, any plans on implementing it?

[2019-01-19 00:13] #3886 closed

[2019-01-19 02:32] jpasichnyk commented on #3644
Any update on a timeline for this? I specifically am looking for canary support for system jobs.

[2019-01-19 02:46] jpasichnyk commented on #2403
@dadgar I have a similar issue, where I have for example 5 nomad servers in a given data center, and when i deploy a "service" job to it with an equal number of instance I want running, often two end up on one server and one server gets none.  This is a CPU intensive app, so balancing it equally across is ideal.  We are using deployments (canary) so I'm unable to force it across hosts with an arti

[2019-01-19 19:18] ketzacoatl opened #5217 "Feature Request: optional caching of artifacts downloaded"
When downloading artifacts to run a task, there is the startup cost to download the artifact. When a task is updated / restarted in some ways, when we end up with a new task allocation, the artifacts must be re-downloaded. This is especially difficult when using the `exec`/`raw_exec` drivers, but also applies to the other drivers as well. This is as of `v0.8.6`.

If downloaded files were kept in a

[2019-01-21 04:22] hackrole opened #5218 "the nomad auto clustering with consul not work"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.6.0
### Operating system and Environment details
ubuntu 14.04 in vagrant
### Issue
the nomad auto clustering with ip 10.0.2.15 in the vargrant hosts

[2019-01-21 08:35] LordFPL commented on #1897
Any news on that ?

[2019-01-21 10:08] ramm commented on #3690
@jippi that's still job-(and further-)level, right?
we're talking about spreading all the tasks throughout the cluster, not instances of one task.

"Spreading" as an opposite to "bin packing".

[2019-01-21 10:21] cavanwang opened #5219 "device plugin not worked?"
### Nomad version
Nomad v0.9.0-dev(I git cloned from master branch)

### Operating system and Environment details
ubuntu16.04

### Issue
I am a newbie for using nomad-plugin(I know how to use nomad).

 I want to learn about using device plugin(mainly for using nvidia gpu)  by refering `https://github.com/hashicorp/nomad/tree/master/plugins/device/cmd/example`.

But I cannot guess this page said "T

[2019-01-21 16:21] preetapan commented on #5219
@cavanwang we are still working on documentation for device plugins, should have better examples/documentation for you sometime next week.

[2019-01-21 16:51] mwantia opened #5220 "[question] Using volume_driver "pxd" in combination with normal path mounts"
Hello Everyone,

right now im trying to implement persistant storage for my docker containers via Portworx (https://portworx.com/portworx-hashicorp-nomad/).

Currently everything works great: I have Portworx set up for all my clients which are running nomad version 0.8.6 in combination with docker 18.09.0 and ubuntu server 18.04.
Im able to map a new volume via the task configuration: "name=mysqlv

[2019-01-21 18:58] geohuz opened #5221 "[question] fabio load balancing doesn't work"
I just followed **getting start guide** to install vagrant and nomad, run single server with two client,  the http://localhost:4646 is reachable, the nomad management ui loaded without problem. Then I started consul serivce, according to the service file **consul.service**:

[code]
And then I followed the load balancing guide,  https://www.nomadproject.io/guides/load-balancing/fabio.html, everythi

[2019-01-21 19:49] geohuz commented on #5221
I found the issue, on macos there is a conflict on port, displayed on vagrant startup message, and auto corrected to '2200', change the port to 2200 inside nomad machine of fabio fixed issue

[2019-01-21 19:49] #5221 closed

[2019-01-22 05:15] cavanwang commented on #5219
Thanks, expected~

[2019-01-22 06:57] mlehner616 opened #5222 "[Enhancement] Add telemetry for vault token renewal"
Related to GH-4817. Would it be possible to get a few metrics related to vault token renewal?

I'm mostly interested in:
- Seconds since last successful renewal
- Seconds until next renewal attempt
- Seconds until expiration
- Num of Renewal failures
- Num of Renewal attempts or successes

[2019-01-22 08:50] jippi commented on #5222
This would be hugely useful for us as well :)

[2019-01-22 12:08] rkettelerij commented on #1061
Another use case where this would be useful:

- Say you're using the `template` stanza to get a certificate from Vault and render that certificate to a PEM bundle.
- Now you want to pass that PEM bundle a JVM-based system like Kafka of Elasticsearch in order to enable TLS. The JVM can't handle raw PEM files it expects a Java keystore JKS. So you need to do a PEM->PKCS#12->JKS conversion.
- A pre-h

[2019-01-22 17:49] ramm commented on #3690
Not the same alloc. But if you have 150+jobs with soft limits — you WILL have overloaded and almost free nodes, because of binpacking.

[2019-01-22 20:24] preetapan commented on #3690
@ramm Spread at the cluster level is in a future roadmap, no ETA on that yet. We would need to introduce configuring that at a node class level so that you can have a cluster where a set of nodes are using spread rather than binpacking for scoring placement.

[2019-01-23 18:31] arshjohar commented on #2359
We merged a PR that should display Node Name for job status and alloc status commands. Closing this one.

[2019-01-23 18:31] #2359 closed

[2019-01-23 18:32] arshjohar commented on #1180
We merged a PR that should display Node Name for job status and alloc status commands. Closing this one.

[2019-01-23 18:32] #1180 closed

[2019-01-23 22:11] TheRevenantStar commented on #5220
Try using the mounts config, you can set a drive on a case-by-case basis.
https://www.nomadproject.io/docs/drivers/docker.html#mounts
[code]

[2019-01-25 03:57] mdcollins05 opened #5241 "Cluster experiencing segmentation violation across all servers"
One of our clusters is experiencing a segmentation violation across all 3 of the servers. It seems that when the server attempts to become the leader, it panics and exits. One of the remaining servers then becomes the new leader and does the same.

We've tried shutting down all the servers at the same time and bringing them back up but we see the same error.

Additionally, we've tried stopping one

[2019-01-25 04:02] nickethier commented on #5241
Hey @mdcollins05

At first glance I believe you're hitting a bug that was fixed in Nomad 0.8.5: https://github.com/hashicorp/nomad/commit/82304f93b37a0806f95d1527f141c5c0c71c52ed

I can try swapping the server binary out for an updated one and start it up. I would recommend running our latest release 0.8.7

[2019-01-25 04:37] mdcollins05 commented on #5241
Heya @nickethier

Thanks for the quick response!

We've upgraded all 3 servers in the cluster to version 0.8.7 and we are still seeing the same behavior and the error message hasn't changed.

Any other thoughts?

[2019-01-25 05:42] nickethier commented on #5241
Looks like we ended up with a very unusual state where a placement was marked as a canary but there was no corresponding deployment?!

I had @mdcollins05 apply this patch which stopped the panics from occurring: https://github.com/hashicorp/nomad/compare/v0.8.7...b-scheduler-npe.patch

We'll make sure this makes it into the upcoming 0.9 release!

[2019-01-25 05:42] #5241 closed

[2019-01-25 16:17] #5139 closed

[2019-01-26 00:28] adragoset opened #5246 "[question] Nomad client unable to join cluster after upgrade to consul 1.4.1"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad 0.8.7
Consul 1.4.1
### Operating system and Environment details
Centos7

### Issue
Im seeing sporadic failures in my server logs after upgrading Consul to 1.4.1 from 1.2.1 and nom

[2019-01-26 00:31] pearkes commented on #5246
Hey @adragoset unfortunately this is a known issue with Consul. See https://github.com/hashicorp/consul/issues/5270 for more information. There is a 1.4.2 release planned to correct this behavior.

We recommend Consul 1.4.0 or Consul 1.3.1. Please refer to the Consul changelog for issues fixed in 1.4.1 that were present in 1.4.0 to determine if you should instead use 1.3.1.

[2019-01-26 00:31] preetapan commented on #5246
@adragoset we discovered this issue yesterday and its noted in the Changelog https://github.com/hashicorp/consul/blob/master/CHANGELOG.md#141-january-23-2019. There will be a new release of Consul that fixes this next week. Until then we recommend that you downgrade to Consul 1.4.0

[2019-01-26 00:32] adragoset commented on #5246
Ok thanks ill perform a downgrade to 1.4.0 until a fix is release.

[2019-01-26 18:09] ketzacoatl commented on #1589
I have run into this too. In my situation, I should be able to following the manual recovery steps outlined in https://www.nomadproject.io/guides/operations/outage.html#manual-recovery-using-peers-json. I can do this repeatedly, using the raft v2 spec (simpler), with the correct IPs, and while the 3 leaders all find each other and start talking, they all error out with the following:

[code]

and

[2019-01-28 09:42] jorisdevrede commented on #2115
What are the plans for supporting bind mounts in the exec (and java) driver? It appears that much of the preparations for this functionality are already in place. @dadgar can you shed some light on this?

[2019-01-28 13:56] notnoop opened #5250 "templates environment variables aren't interpreted consistently"
### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933)
Also tested against Nomad master (ce95d5e3dc59fb6cc37df07848be098324cef22c).

### Operating system and Environment details
macOS and running agent in dev mode

### Issue

In a task template stanza, when the `destination` field contains an environment variable reference, launching the task fails if `env=true`, but succeeds an

[2019-01-28 14:09] angrycub commented on #1589
@ketzacoatl I put in a docs PR (https://github.com/hashicorp/nomad/pull/5251) to update the port in the sample Raft V3 configuration and make it a little clearer in the notes at the bottom.

[2019-01-29 10:52] sandromehic commented on #5246
I just encountered the same problem and an update to 1.4.2 consul version fixed the issue.

[2019-01-29 14:23] notnoop opened #5262 "Templates secrets are read from Vault when Vault integration isn't enabled"
### Nomad version
[code]

Tested against latest master too

### Operating system and Environment details
macOS

### Issue
If a job task has a template stanza referencing Vault, Nomad would make a Vault call even if Nomad Vault integration is not configured.  In such case, Vault would make unauthenticated API calls.  These calls will fail (either through connection error, or permission error), and

[2019-01-30 08:05] cavanwang opened #5271 "gpu resource affinity require weight"
# nomad-job-file

[code]

# nomad-agent-config-file

[code]

# nomad-agent-start-commandLine

[code]

# how to reproduce the error

I run the command `[root@n17 ~]# ./nomad plan nomad.job`

# what error happened

I found following errors reported by nomad agent and job-plan failed:

[code]

# how to avoid the error

I added the new field "weight" into affinity and the gpu job can finally plan and

[2019-01-30 13:17] jacklrs opened #5272 "vault"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue

### Reproduction steps

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropria

[2019-01-30 13:18] #5272 closed

[2019-01-30 13:28] #5246 closed, assigned to nobody

[2019-01-30 13:33] dantoml commented on #5220
@mwantia 👋 - I'm currently working on the design for nomad volume plugins, which should solve this issue in a uniform way across drivers (and will support various plugins, alongside host mounts).

In the mean time, @TheRevenantStar's suggestion of using the `mounts` configuration should serve as a workaround - please let us know if you run into any issues with getting those set up.

[2019-01-30 13:33] #5220 closed

[2019-01-30 14:02] dantoml commented on #5188
@eigengrau 👋 - I just did some digging and it looks like this is a limitation of [consultemplate](https://github.com/hashicorp/consul-template). In the `service` stanza, they validate the input against this [regex](https://github.com/hashicorp/consul-template/blob/d3b6838a3ad8c82b60b5416c733595d6db4f7ea1/dependency/catalog_service.go#L18), which requires tags to be of the format [`((?P<tag>[[:word

[2019-01-30 16:51] #5271 closed

[2019-01-30 20:17] nanoz commented on #4451
Now that Nomad 0.9 is in beta (congratulations !), I sincerely hope this issue will be prioritised on the roadmap 😀

Maybe you can tell us where this matter stands in the Nomad roadmap @dadgar ?

[2019-01-31 06:20] liyuzhu1984 commented on #3916
https://github.com/hashicorp/consul-template

[2019-01-31 10:07] sandromehic commented on #2299
any news on this feature? Seems like there are different good use cases. I'm interested in how other people are solving this on their clusters.

[2019-01-31 14:28] tantra35 opened #5286 "drain status of node always false, and doesn't honor realy drain action"
### Nomad version
Nomad v0.9.0-beta2 (29a5d242e69d2db5a36cf58d975f15c279f49a7e)

### Issue
On test stand, we run node drain

[code]

And expect that Drain field will be set to true, but this not happened

[code]

When we see node status, we see node drain events, but Drain field somehow false

[code]

[2019-01-31 14:33] angrycub commented on #5286
The Drain field is only true while a node is or will be actively draining allocations.  You can tell that the node will not receive new jobs via the Eligibility field.  This allows you to monitor and determine when a drain is complete.

[2019-01-31 14:40] #5286 closed

[2019-01-31 15:35] ncabatoff commented on #4449
If you're using rate(), any counter resets should be hidden from you.  That's the whole point of a counter in Prometheus.

[2019-01-31 16:16] preetapan commented on #5218
@hackrole based on the information you shared above, it sounds like you need to change Nomad configs to expose a different advertise address https://www.nomadproject.io/docs/configuration/index.html#advertise so that Nomad registers to consul with that address.

[2019-01-31 20:46] jcomeaux opened #5288 "[question] envoy deploy pattern?"
In the Connect notes on the consul site, there's a blurb about Nomad + envoy:

Okay, not possible with that guide, but can any one suggest a pattern that would work?  Just looking for simple pointers as I'm trying to work up a model and running into problems.

Thanks so much!

[2019-02-01 09:04] andye2004 opened #5289 "liblxc.so.1 error running 0.8.7"
I am receiving the following error when running nomad 0.8.7

`nomad: error while loading shared libraries: liblxc.so.1: cannot open shared object file: No such file or directory`

NOTE: I don't get the same error running 0.8.6

Nomad version: v0.8.7

OS: Centos 7, base image

Reproduce: Install nomad to `/usr/bin/nomad` and run `sudo nomad agent -dev`

[2019-02-01 14:44] schmichael commented on #2299
This is the first I've read this request and it is interesting to me Nomad doesn't really have a way to disable placements _by default_ except for job's with a certain property.

You could use datacenters today to achieve this. If your normal datacenter is `dc1`, you could put the disable-by-default nodes in `dc1-foo` so that only job's that explicitly state they want to be schedule in datacenter

[2019-02-01 15:18] nickethier commented on #5289
Easy mixup don’t feel stupid! Thanks for using Nomad!

On Fri, Feb 1, 2019 at 07:27 Andy Elliott <notifications@github.com> wrote:

[2019-02-01 15:41] stevenscg opened #5291 "Rescheduling group header line repeated for each task group"
### Nomad version
Nomad v0.9.0-beta2 (29a5d242e69d2db5a36cf58d975f15c279f49a7e)

### Operating system and Environment details
CentOS 7.6 1810 VM
Consul v1.4.2

### Issue
When a job fails and enters the reschedule cycle, 2 copies of the section header are present when viewing the job status via cli as shown. When the job has only 1 task group, the section header is _not_ repeated.

[code]

[2019-02-01 17:45] #5291 closed

[2019-02-01 17:46] schmichael commented on #5291
Fixed. Thanks @stevenscg!

[2019-02-01 20:09] schmichael commented on #4451
Unfortunately first class Consul Connect support did not make it into Nomad 0.9, but we've already begun work on network namespaces which will enable first class Connect support.

[2019-02-01 20:12] schmichael commented on #5288
Unfortunately Nomad 0.9 will not have first class Consul Connect support. Please subscribe to #4451 to be notified when that feature lands. Work has begun on it.

It is possible to use Connect with Nomad right now, but it's quite involved and has serious caveats: https://github.com/hashicorp/nomad-guides/tree/master/application-deployment/consul-connect-with-nomad

Sorry there's such a lag between

[2019-02-01 20:12] #5288 closed

[2019-02-03 20:06] cpumanaz commented on #4934
I have experienced this as well. The same status pulled N/N 0 waiting/0 pulling but it stays like that until times out.

[2019-02-03 20:11] cpumanaz opened #5296 "Nomad fails to re-attach to containers after restart."
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
v0.9.0-beta2

### Operating system and Environment details
Windows 10
Docker Driver

### Issue
Nomad does not re-attach to containers in beta as it does in 0.8.7.

### Reproduction step

[2019-02-04 13:36] cyrilgdn commented on #2299
@schmichael I like this workaround, thanks for the idea!

[2019-02-04 15:21] perrymanuk commented on #4470
have also hit this bug

[2019-02-04 16:06] schmichael commented on #4470
The underlying [Go template library](https://golang.org/pkg/text/template/) consul-template uses does not support recursive template rendering (that is rendering templates produced by the currently rendering template).

You could fetch the template using an [`artifact` stanza](https://www.nomadproject.io/docs/job-specification/artifact.html) and [`template.source`](https://www.nomadproject.io/docs

[2019-02-04 16:32] hvindin commented on #4451
While it's a shame that it didn't make it, I kind of get it comsidering how involved the process is to hook up consul connect without something like nomad. Lots of moving parts and the like.

Any idea where on the roadmap this is likely to fall? And what timelines that's likely to mean?

Lots of discussion happening in my current org about the desire for improving out ability to offer a better dev

[2019-02-04 16:43] schmichael commented on #4451
:soon: Work is already underway. I don't want to promise a specific release as our release dates and goals for 0.10 are still flexible and depend on a number of variables (such as how the 0.9.0 release goes!).

[2019-02-04 19:56] mnachury opened #5298 "No default interface found with matching IP"
### Nomad version
v0.8.7, v0.9.0-beta2

### Operating system and Environment details
Windows 10
![image](https://user-images.githubusercontent.com/23231193/52232992-f2c3e380-288b-11e9-8e74-a23056c97664.png)
All other network interface are disabeld
### Issue
![image](https://user-images.githubusercontent.com/23231193/52233128-48988b80-288c-11e9-90d8-210fb4d29d47.png)

### Reproduction steps
nomad.e

[2019-02-04 20:18] nubunto commented on #4976
I am interested in taking this issue, if possible!

[2019-02-04 21:05] angrycub commented on #5298
@mnachury I think that your localized output could be causing your issue.  hashicorp/go-sockaddr uses ipconfig output to make this mapping; however, the current implementation uses string matching against the output.  I think the part that is causing this is https://github.com/hashicorp/go-sockaddr/blob/3aed17b5ee41761cc2b04f2a94c7107d428967e5/ifaddrs.go#L20 which is used to find the address for t

[2019-02-04 21:08] #5298 closed

[2019-02-04 21:14] dantoml commented on #468
0.9 beta is now available with support for custom external plugins for both drivers and devices. You can find the documentation for this https://www.nomadproject.io/docs/drivers/external/index.html, and an example implementation here: https://github.com/hashicorp/nomad-driver-lxc.

Thank you for your interest - We're excited to see what you build!

[2019-02-04 21:14] #468 closed

[2019-02-04 21:16] dantoml commented on #2734
0.9 beta is now available with support for custom external plugins for both drivers and devices!

You can find the documentation for external drivers here: https://www.nomadproject.io/docs/drivers/external/index.html
and an example plugin here: https://github.com/hashicorp/nomad-driver-lxc

Thank you for your interest - We're excited to see what you build!

[2019-02-04 21:16] #2734 closed

[2019-02-04 21:18] dantoml commented on #406
As of Nomad 0.9 which is currently available as a beta, we have support for scheduling jobs that require access to arbitrary devices, and a default plugin which provides access to `nvidia` GPU's. You can find the documentation for the nvidia device plugin here: https://www.nomadproject.io/docs/devices/nvidia.html

[2019-02-04 21:18] #406 closed

[2019-02-04 21:22] dantoml commented on #1359
We now perform much more fingerprinting of the docker driver, validating networks and also pulling client info, which afaik should catch many cases when a docker api is deadlocked. (https://github.com/hashicorp/nomad/blob/a8e9c4aec2d2f272f3a56e682787a9b6e3b27988/drivers/docker/fingerprint.go)

If this continues to be an issue, please feel free to re-open this issue, or a PR that expands the finger

[2019-02-04 21:22] #1359 closed

[2019-02-05 04:17] jsipprell opened #5299 "Docker driver fails with nomad 0.9.0-beta2 when including a logging stanza"
### Nomad version
0.9.0-beta2 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
Linux 3.10.0 x86_64 GNU/Linux

docker-ce-18.06.1

### Issue
When running a job that includes a logging stanza, the allocation fails w/ the following error:

`driver start failed: failed to decode driver config: [pos 378]: readContainerLen: Unrecognized descriptor byte: hex

[2019-02-05 05:04] shantanugadgil commented on #5299
Check: https://github.com/hashicorp/nomad/pull/5297

Maybe a duplicate???

[2019-02-05 07:12] pznamensky commented on #2299
Looks like in v0.9 you could manage jobs placement via affinities:
https://www.nomadproject.io/guides/advanced-scheduling/affinity.html

[2019-02-05 11:02] jsipprell commented on #5299
My apologies,  you're correct, this is a duplicate.

[2019-02-05 11:02] #5299 closed

[2019-02-05 13:28] arnoldyahad opened #5300 "Periodic job sometimes doesnt Build Task Directory"
### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

(but also happened on 0.8.6)

### Operating system and Environment details
[code]

[code]

### Issue

using exec driver for a periodic job that should run every 5 mins . sometimes skips the "building task directory" step. which leaves the job without the environment and failing.

![image](https://user-images.githubu

[2019-02-05 14:03] schmichael commented on #5299
Thanks for testing @jsipprell!

[2019-02-05 20:57] jolexa opened #5301 "Using task names with dashes in env variable interpolation is not documented properly"
### Nomad version
v0.8.7

### Issue
The [documentation](https://www.nomadproject.io/docs/runtime/environment.html) suggests that given a task name of `microbot-dash`, we should reference it like `NOMAD_ADDR_microbot_dash_label`

Specifically, it says:

But, that isn't true and the value is not interpolated, it is taken literally. So, I'm not sure if this is a documentation issue or a code issue.

[2019-02-05 21:45] c2nes opened #5302 "Migrated allocations do not reliably have NextAllocation/PreviousAllocation set"
### Nomad version

`Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details

Ubuntu 16.04, Docker 17.05

### Issue

When draining a node, migrated allocations are not reliably updated to have NextAllocation and PreviousAllocation populated on the old and new allocations respectively. I can't see any obvious pattern in the allocations which do

[2019-02-06 14:16] jsipprell commented on #5296
I'm seeing this happen on linux as well. When a job with a docker container is running on a host and nomad is restarted, the docker driver responds with something like:

`driver start failed: Failed to start container 1acb6f0fff52a975b35b1c17a7318accf8a0d49d5eecedfe15e6028ec0492182: API error (500): driver failed programming external connectivity on endpoint e9fa01ca-2ae0-4fa9-9b6b-3406be8f1636_mo

[2019-02-06 19:37] cpumanaz opened #5303 "Nomad Job Logs Should Support Widescreen Format"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
Windows 10
Google Chrome

### Issue
Logs (stdout,stderr) should be expandab

[2019-02-07 11:06] SergeyOvsienko opened #5304 "latest error: error querying Consul checks: time: invalid duration"
Hi all.
I have nomad cluster:
[code]
[code]
[code]
I am create service for test:
[code]
Service is created success:
[code]
But this service does not register in consul. In nomad logs:
[code]
What i am doing wrong?

[2019-02-07 11:11] SergeyOvsienko commented on #5304
System type service is registered normal
[code]
![image](https://user-images.githubusercontent.com/4962250/52407775-d6b58180-2ad9-11e9-9e3f-798db5892609.png)

[2019-02-07 11:11] shantanugadgil commented on #5304
Hi,
There was a bug in Consul 1.4.1 (fixed in v 1.4.2) ...
Ref: https://github.com/hashicorp/consul/issues/5270

Would it be possible to upgrade to 1.4.2 and see if the problem "goes away" 😁

Cheers,
Shantanu

[2019-02-07 11:18] SergeyOvsienko commented on #5304
Yes, i can update consul cluster. I am will inform.

[2019-02-07 11:23] SergeyOvsienko commented on #5304
@shantanugadgil Thx for help. Yes, consul update is helped
![image](https://user-images.githubusercontent.com/4962250/52408384-7d4e5200-2adb-11e9-8fa2-94144ff22b46.png)

[2019-02-07 11:26] shantanugadgil commented on #5304
Glad I could help, Thanks! 😄

[2019-02-07 13:49] #5304 closed

[2019-02-07 20:27] sloan-dog opened #5305 "Occasionally seeing 'Cannot promote terminal deployment' for blue/green approach"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
0.8.4

### Operating system and Environment details
Ubuntu 16.04
Running a 5 node cluster on Ec2 t2.medium which each runs vault, nomad, and consul.
### Issu

[2019-02-08 14:48] nanoz commented on #4649
I think I found why we encountered this behavior. When nomad client is run using systemd, systemd starts every service in a cgroup, to control sub-process behavior.

Since version 227, systemd added support for the pids cgroup controller. This allows to limit the number of tasks a service can fork within its cgroup. On our system, the limit was set to 5529 by default.

Here is how you can check th

[2019-02-08 15:43] #4649 closed

[2019-02-08 22:09] groggemans opened #5308 "Error specifying options in the driver_config for the volume_options of a docker mount"
### Nomad version
Nomad v0.9.0-beta2 (29a5d242e69d2db5a36cf58d975f15c279f49a7e)

### Operating system and Environment details
Ubuntu 16.04
Docker 18.09.1

### Issue
Docker driver no longer lets you specify `options` in the `driver_config` for the `volume_options` of a `mount`. (See code example)

### Reproduction steps
Try to start a job which specifies these options.

### Job file
[code]
This use

[2019-02-08 22:18] groggemans commented on #5308
https://github.com/hashicorp/nomad/blob/ee5360f20916aac5e77676a6374dd2fce44103d3/drivers/docker/config.go#L281
Looks like the hclspec requires the `options` to be a string instead of a map. I'll try to confirm if that solves the problem.

[2019-02-08 22:25] groggemans commented on #5308
Ah, taking a closer look it also seems to have a copy-paste error. the `"name"` in that `NewBlockAttrs()` call on that line should probably also be `"options"` from what I can tell from the context.
[code]

[2019-02-08 22:37] groggemans commented on #5308
Reading the comments in the hclspec lib the main problem should just be the copy paste error. (As the `NewBlockAttrs()` does process a map of strings and not just a string)

I'll create a PR to fix this.

[2019-02-08 22:46] derek-adair commented on #2116
On the flip-side... it seems like a waste to replace a project w/ 1M+ Downloads.

And for what its worth I dont really see the difference between `Vagrant up` and `Docker up`.  [Vagrantfile](https://raw.githubusercontent.com/hashicorp/nomad/master/demo/vagrant/Vagrantfile)  is clearly listed in the [installation guide](https://www.nomadproject.io/intro/getting-started/install.html).

[2019-02-09 11:19] hvindin opened #5310 "[Feature Request] Add option to nullify docker container healthchecks"
### Description
When building docker containers the option exists to declare a HEALTHCHECK during the build process. Nomad doesn't use this information at all and declares its own checks to monitor container health.

Essentially this means that unless you are running more than one scheduler to manage your containers there is no reason to have these health checks running.

Thus, it would be nice to

[2019-02-09 14:34] samart opened #5311 "Support Using Multiple Vaults"
It would be useful for nomad to be able to fail over with no operator action to a secondary vault (or a list of vaults) if it has issues with the first one.

This would reduce the possibility of a vault issue taking down a nomad cluster.

Currently, the only way to have HA is to have a Vault DR standby, but that requires a manual promotion and an extra vault cluster to manage and run.  And If not

[2019-02-09 22:51] hvindin commented on #4862
In looking into this further, the core issue is *definitely* a docker problem in that a job can end up in an unresponsive state because the docker daemon locks up.

Ignoring all the little things that went wrong at some point to end up leaving jobs in this state we have worked out that the _docker healthcheck_ is essentially killing off our containers when a machine gets too busy (it doesn't help

[2019-02-09 23:12] hvindin opened #5312 "[Feature Request] Support podman for running containers"
### Description
In RHEL 8 redhat have largely replaced their native support of docker with podman/buildah. Architecturally and from a security perspective, this seems like a good thing, the separation of concerns as well as the ability to run containers without root access are both ideas that give me warm fuzzy feelings that this is a good idea.

It would be nice if nomad were able to follow this

[2019-02-11 14:18] #5308 closed

[2019-02-11 16:16] schmichael commented on #5312
Love the idea and just as a note to any brave readers: Nomad 0.9 (currently in beta) supports external task driver plugins. No dev docs yet unfortunately, but using the lxc driver as a template should work for anyone comfortable with Go: https://github.com/hashicorp/nomad-driver-lxc

Podman: https://podman.io/
Buildah: https://github.com/containers/buildah

[2019-02-12 04:49] cavanwang opened #5315 "docs: job->device Stanza exists typo"
### Nomad version

Nomad v0.9.0-beta2

### Issue

I referred the docs of 'https://www.nomadproject.io/docs/job-specification/device.html'. It show an example with `constraint`:
[code]

The `driver.attr` should be `device.attr`.

[2019-02-12 06:30] shantanugadgil commented on #5315
Hi @cavanwang ,

just in case if you want to make a pull request; the file is here:
https://github.com/hashicorp/nomad/blob/master/website/source/docs/job-specification/device.html.md

HTH,
Shantanu

[2019-02-12 06:47] chenjpu opened #5316 "Unable to detect java driver for openj9 jvm"
### Nomad version
Nomad v0.9.0-beta2

### Operating system and Environment details
 OS: centos 7.6
JAVA:
   java -version

   openjdk version "1.8.0_192"
   OpenJDK Runtime Environment (build 1.8.0_192-b12_openj9)
   Eclipse OpenJ9 VM (build openj9-0.11.0, JRE 1.8.0 Linux amd64-64-Bit Compressed References
   20181107_95 (JIT enabled, AOT enabled)
   OpenJ9   - 090ff9dcd
   OMR      - ea548a66
  J

[2019-02-12 07:06] shantanugadgil commented on #5316
hi, could you give some details as to how you have captured the above output and how Nomad is being started? which user? etc.

Nomad not detecting JAVA usually indicates that the Nomad process could not find "java" in its PATH (when nomad started up)

[2019-02-12 08:05] chenjpu commented on #5316
1.Nomad start use systemd and root user
2.run `java -version` on my node ,output
[code]

i found [parseJavaVersionOutput](https://github.com/hashicorp/nomad/blob/master/drivers/java/utils.go#L36) check length is 3,but on  my node `java -version` output lines length is 7

[2019-02-12 08:14] chenjpu commented on #5316
@shantanugadgil
it's ok in nomad version 0.8.7, after update to 0.9.0-beta2 can not detect java driver

[2019-02-12 13:44] notnoop commented on #5316
Thanks for reporting this bug.  This definitely is a regression - looks like v0.8 nomad marked java as detected if `java -version` has zero exit code even if the output format isn't expected, unlike 0.9.0-beta2.  We should fix this.

[2019-02-12 18:41] #5316 closed

[2019-02-12 18:44] notnoop commented on #5316
@chenjpu Thank you so much for reporting the bug.  We merged a fix that should be out in the next beta/rc release.  Would love it if you can test drive and send us any feedback.  Thanks!

[2019-02-13 02:23] chenjpu opened #5320 "Detected docker driver and unhealthy"
### Nomad version
 Nomad v0.9.0-beta2

### Operating system and Environment details
CentOS Linux release 7.6.1810 (Core)

### Issue

I did not install docker on my node, but show detected docker driver and unhealthy.

![image](https://user-images.githubusercontent.com/1785778/52681900-94c48980-2f78-11e9-9de0-e0a10ed3da19.png)

[2019-02-13 14:05] dantoml commented on #684
Thanks for reporting this issue. In newer versions of Nomad, this now fails due to stricter config validation with:

[code]

[2019-02-13 14:05] #684 closed

[2019-02-13 14:29] dantoml commented on #3499
Hey folks, This has shipped as part of the Nomad 0.9 beta!

GPU support was enabled by implementing the [Device Plugin API](https://www.nomadproject.io/docs/devices/index.html). You can find the docs for the Nvidia plugin [here](https://www.nomadproject.io/docs/devices/nvidia.html), and for usage inside your job configuration [here](https://www.nomadproject.io/docs/job-specification/device.html).

[2019-02-13 14:29] #3499 closed

[2019-02-13 17:41] erhlee-bird opened #5323 "[Feature] Parameterized Job Count"
Is there a way Nomad could support having a parameterized job limit the number of child instances?
For example, if there are 200 running jobs, leave further dispatched jobs as pending until the running ones complete.

[2019-02-14 06:56] teeler commented on #1240
@ryaker you're not alone! Same thing just happened to me.

I was also starting the service in packer, going to try not doing that and hopefully any state that it needs for client-id purposes won't be present...

[2019-02-14 07:11] teeler commented on #1240
Yea, that worked. @ryaker if you blow away the data dir, when it starts you'll get a new client id.

[2019-02-14 16:07] Xopherus commented on #2904
Is this not possible now with https://www.nomadproject.io/docs/drivers/docker.html#logging ?

[code]
I assume this would work!

As an aside, one kind of annoying thing (at least for my use case) is that docker names are a combination of task + uuid. It would be great to either add job + group to the docker name, or have an additional tag that could be added at container creation. It's pretty commo

[2019-02-14 18:19] SoMuchToGrok commented on #4900
Is that true @preetapan ? In my experience, Nomad cannot live reload a CA change specifically because it doesn't update trust anchors. Last tested on 0.8.4.

https://github.com/hashicorp/nomad/issues/3746

[2019-02-14 19:43] nugend commented on #4299
Just want to say this does seem to be fixed in 0.8.7 and I would suggest anyone experiencing it on an earlier build should try upgrading.

[2019-02-15 06:12] byronwolfman commented on #4566
Any update on this? The bug has existed for 8 months now (reported 6 months ago). I know it's planned to be fixed in 0.9.x but that release seems to keep getting delayed, and the massive scope of 0.9.0 frankly makes us wary of upgrading. The discussion in this thread indicates that the bug will not be fixed in 0.9.0, but in a later point release (so 0.9.1 at earliest), and then we're going to need

[2019-02-15 16:26] cgbaker commented on #1714
closing this in favor of #3491

[2019-02-15 16:26] #1714 closed

[2019-02-15 16:31] preetapan commented on #5302
@c2nes the next time this happens could you give us json dumps of the allocations and nodes?

[2019-02-15 16:35] bithavoc commented on #4923
what's the official report for the driver @yuriy-yarosh, I found https://github.com/bitsnap/nomad-firecracker but no code.

[2019-02-15 16:50] yuriy-yarosh commented on #4923
@bithavoc I've finished it, but have been quite displeased with the firecracker design and some lack of features, so after a bit of tinkering I'm not considering firecracker a viable solution.
I had started my own firecracker-ish KVM runner, but have no free time and resources to finish it right now - priorities had shifted a bit.

Surely, I could publish this driver, but it's not something I coul

[2019-02-15 17:51] cgbaker commented on #1185
related: #1185

[2019-02-16 03:34] chngtrn opened #5330 "Failed to elect leader in kubernetes"
I'm running nomad server in Kubernetes as statefulsets with 3 replicas and using consul. My config is below. It works great the first time ever it starts. However, if two of the 3 pods went down nomad is unable to promote a leader. For some reasons it kept the IPs of the old pods and kept on trying to elect those as leader. Why is it that nomad kept on trying to talk to the dead pods IP instead of

[2019-02-16 12:55] shantanugadgil commented on #5330
Hi,
I have less knowledge of Kubernetes indepth specifics, but could Consul's auto join help here?

https://www.consul.io/docs/agent/cloud-auto-join.html

Thought: as long as the Consul servers can correctly detect the changed server peers, Nomad should be able to join up correctly.

Disclaimer: I could be completely wrong as well ! :O

I will leave it to some K8S expert to comment as well.

[2019-02-16 14:24] chngtrn commented on #5330
Thanks @shantanugadgil but I think that link is about how consul instances joining each other in the cluster. My issue is with nomad instances trying to join the cluster using consul for auto discovery.

[2019-02-16 14:29] shantanugadgil commented on #5330
Right, thats correct, Nomad doesn't seem to have the k8s provider yet.

What I was thinking was that the Nomad servers would be doing an auto bootstrapping using Consul and maybe that could have helped
Ref:
https://www.nomadproject.io/guides/operations/cluster/automatic.html

[2019-02-16 14:39] chngtrn commented on #5330
As I mentioned above. I have both consul and nomad installed on same k8s cluster and upon first starting nomad it works fine. The problem only happen when 2 out of 3 nomad servers leaves the cluster that made nomad going into a cluster join loop I described above.

[2019-02-16 15:43] notnoop commented on #5330
@chngtrn Thanks for reaching out.  This is the expected behavior when a majority of the servers become unavailable, as Nomad requires a quorum to operate.  With a cluster of 3 pods, you can only tolerate a single pod failure; and cluster becomes inoperable if two are down - check the [Consensus Protocol table](https://www.nomadproject.io/docs/internals/consensus.html#deployment-table) for info abo

[2019-02-16 15:43] #5330 closed

[2019-02-16 15:50] chngtrn commented on #5330
@notnoop Thanks for the clarification. One question is are the data stored in nomad of any importance? Can they be deleted without needing a backup? I'm trying to find the best solution to our problem.

Thanks,

[2019-02-16 16:01] notnoop commented on #5330
I would recommend reading the [Outage Recovery](https://www.nomadproject.io/guides/operations/outage.html) doc.

The data stored in nomad is significant, as they contain all the jobs/services and their state.  Losing the data would require recreation of the cluster and resubmitting all the jobs.  However, traditional backup storage isn't well suited for Nomad; e.g. restoring yesterdays jobs wouldn

[2019-02-16 17:10] chngtrn commented on #5330
Thanks @notnoop.

[2019-02-16 18:07] #5315 closed

[2019-02-17 14:11] notnoop commented on #5296
Thanks for reporting, that seems like a bug indeed.  Mind if you submit a reproduction job spec and steps?  Was this a clean stop nomad agent followed by restart?  Or in-place upgrade of nomad?

We are investigating the Windows repro, but failed to reproduce it with Linux @jsipprell.

[2019-02-17 19:53] cpumanaz commented on #5296
Mahmood,

Thanks for reaching out.  I’ll get a job spec out to you and document the reproduction steps.

-Matt Shooshtari.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mahmood Ali <notifications@github.com>
Sent: Sunday, February 17, 2019 8:11:12 AM
To: hashicorp/nomad
Cc: Matthew Shooshtari; Author
Subject: Re: [hashicorp/n

[2019-02-18 00:23] byronwolfman commented on #4566
So, I probably should have done this a lot sooner. I've put together a quick and dirty patch against v0.8.4 that disables canary tagging. I've erred on the side of making as few code changes as possible since the PR that introduced canary tags (https://github.com/hashicorp/nomad/pull/4259) is massive. This means that rather than a comprehensive cleanup effort that includes refactors and test cover

[2019-02-18 00:29] jacekjagiello commented on #5303
@cpumanaz @dantoml This looks like a good first-time contribution issue. I would like to tackle this, can I start working on this?

Also, I have a few questions
- It looks like not only logs view is shrunk this way - should this change be global? I.e. other views should also be not be limited, and take the whole available width?
- If this problem only concerns large screens, maybe we should apply

[2019-02-18 16:39] cpumanaz commented on #5296
Mahmood,

The reproduction steps are as follows.  Start the job using the job definition below.

Stop nomad. I use a windows service with NSSM, but you can kill the nomad agent process.
Start nomad.  Nomad tries to recover, but instead of re-attaching, it tries to download and start a new instance.

-Matt

Here are the log entries.

02/18/19 10:34:53

Not Restarting

Error was unrecoverable

02/18

[2019-02-18 16:56] cpumanaz commented on #5296
Here is my system configuration.

{
  "data_dir": "$installPath/agent/data",
  "datacenter": "dc1",
  "leave_on_interrupt": true,
  "leave_on_terminate": true,
  "server": [
    {
      "bootstrap_expect": 1,
      "enabled": true
    }
  ],
  "client": [
    {
      "enabled": true
    }
  ],
  "acl": [
    {
      "enabled": "$aclEnabled"
    }
  ],
  "vault": [
    {
      "enabled": true,

[2019-02-18 17:04] cpumanaz commented on #5303
@jacekjagiello @dantoml

Are there any current rules that could be applied for a buffer?  That the log window could have a minimum size which is the current size and will expand as the window gets larger than what is required for the minimum size.

Size: 0 –> X  (current size).
Size: X –> n (available size - buffer)

[2019-02-18 17:14] cpumanaz commented on #5217
Nomad should provide for using the host docker registry.  I have a workaround which is to create localhost:5000 registry and use that. It does speed "download" times but still duplicates image data.

Current Behavior:
Nomad downloads all images from public/private registry. (even if images are pulled locally through docker) Nomad caches only images it allocates.

Desired Behavior:
Nomad follows st

[2019-02-18 17:27] chngtrn opened #5333 "Nomad client won't leave cluster"
UPDATE: This happens even if not running as container in docker or k8s. I've setup 3 boxes as VMs and the behavior is the same.

### Nomad version
0.8.3

### Operating system and Environment details
Container in Kubernetes
Container URL: https://hub.docker.com/r/djenriquez/nomad/dockerfile

### Issue
Nomad clients would stay in the cluster even though the pod is gone.

### Client config.hcl
[code]

[2019-02-19 03:25] shantanugadgil commented on #5333
Hi, any specific reason you are using an older version and not the latest GA (0.8.7) ?

[2019-02-19 03:49] chngtrn commented on #5333
@shantanugadgil The container is built with that version. The author hasn't built with the newest version. I'll give the GC setting a try. Thanks.

[2019-02-19 10:29] dantoml commented on #5296
@cpumanaz Hey - I've been able to reproduce it fairly intermittently when our docker log collection process is being stopped.

I'd be curious to know how consistently it happens for you, and how you're killing the nomad process? (and if you have them, any logs)

[2019-02-19 15:03] cpumanaz commented on #5296
I am killing the process with NSSM. I'm not actually sure how NSSM stops it. I do have the flags to do a graceful stop, and the log indicates that is occurring.  I believe you are correct about logging.  Here are my logs.

`    2019-02-19T08:59:05.730-0600 [INFO ] client.alloc_runner.task_runner.task_hook.logmon.nomad.exe: opening fifo: alloc_id=38bea3f9-1da8-17f4-2af5-3e028721bdc2 task=registry-t

[2019-02-19 20:27] myoung34 commented on #2517
This process also worked for me
Fwiw Consul works fine on armv6l and uses CGO_ENABLED=0 [here](https://github.com/hashicorp/consul/blob/1dbfe787ee2f1a9bdc0db44944c4b4f752369fb8/build-support/functions/20-build.sh#L425) and [here](https://github.com/hashicorp/consul/blob/1dbfe787ee2f1a9bdc0db44944c4b4f752369fb8/build-support/functions/20-build.sh#L325)

[2019-02-20 07:14] nvx commented on #4593
Allowing reloading of the Consul config stanza would also allow for refreshing the consul ACL token as well which I suspect would be a more common use-case.

[2019-02-20 07:43] FlankMiao opened #5340 "port advertise in driver exec"
### Nomad version
0.9.0-beta

### Operating system and Environment details
centos 7.6.1810
### Issue

job port advertise in driver "exec".
can not  advertise the port in a job with driver "exec", like in driver "docker" [port_map].
my job listen on port: 8080, and nomad allocate a port, such as 26473.
It,s ok to access "ip:8080/ping", but "ip:16473/ping" is unaccessable, also the health check.
So

[2019-02-20 08:15] chenjpu commented on #4652
Is there any plan or progress?

[2019-02-20 08:19] chenjpu commented on #4300
Is there any plan or progress?

[2019-02-20 09:11] dantoml commented on #5296
@cpumanaz Ok good to know you're killing it with NSSM (and not the process dying unexpectedly). #5335 should cause it to recover correctly, and #5332 should handle the case where logging is entirely unrecoverable and stop us from leaking containers.

Just as a general design note: It would be preferable to avoid killing child processes of the Nomad Client, as any logs emitted between killing the `

[2019-02-20 15:06] schmichael commented on #5340
Hi @FlankMiao,

The `exec` driver uses the host network, so there is no `port_map` stanza like Docker. Your task is able to listen on any port, but you may get port conflicts if you use some port other than the one Nomad assigns.

Use the `${NOMAD_PORT_<label>}` interpolation variable in your task configuration to listen on the port Nomad has assigned:

[code]

If you want Nomad to assign a static

[2019-02-20 15:06] #5340 closed

[2019-02-20 16:18] transferkraM commented on #1576
I'd pretty much like to have something like this as well, but especially for `artifact{}` I'd love to have nomad compare current runs artifacts checksums with remote checksums and trigger a re-run if checksums mismatch. e.g. using the same url in `artifact{}` `source` and allow to reschedule a job if the artifact had been updated.

Currently my ultimate goal is to maintain .nomad files with git an

[2019-02-20 18:45] vrenjith opened #5343 "[question] ephemeral_disk and docker volumes"
After reading the https://www.nomadproject.io/docs/job-specification/ephemeral_disk.html documentation so many times and after using `nomad` for last two years, I think I have a basic question :)

When we say a sticky `ephemeral` disk, what does that mean exactly? Which disk is this `ephemeral_disk`? Let's say in my `docker` definition,  I have a bunch of `VOLUME` directives which means that `dock

[2019-02-20 18:47] ketzacoatl commented on #5217
I think that is something to consider as a separate feature. I do not think nomad should run a docker registry, and that is not in scope for my request. My request aims to focus on the `artifact` stanza. How the localhost handles docker images is a different subsystem, so I think it would be best to consider that in a separate ticket.

[2019-02-20 23:02] dantoml commented on #5296
@cpumanaz @jsipprell Current master should now be able to recover from missing `nomad docker_logger`'s correctly - I'll leave this issue open till we ship b3 so we can validate in your environments. Thanks for reporting this!

[2019-02-20 23:32] jippi commented on #5343
ephemeral_disk would be everything inside your /alloc dir in the container / cgroup etc. So not data stored on the docker image itself. Also not related to docker volumes

[2019-02-21 07:40] FlankMiao commented on #5340
@schmichael  thanks a lot. :)

[2019-02-21 09:00] chenjpu opened #5345 "Prometheus metric data job label name conflict"
### Nomad version
Nomad v0.9.0-beta2

### Operating system and Environment details
CentOS Linux release 7.6.1810 (Core)
### Issue

Prometheus metric data job label name conflict.
The prometheus server has a default job label

### Nomad Server logs (if appropriate)

nomad: 2019-02-17T03:09:15.387+0800 [INFO ] http.prometheus_handler: error gathering metrics: 35 error(s) occurred:
nomad: * collected

[2019-02-21 11:20] dantoml commented on #5345
@chenjpu 👋 - Is the default `job` label one that is a Prometheus default or is it one you've added in your configuration?

[2019-02-21 11:24] dantoml commented on #5343
As @jippi said, `ephemeral_disk` is an allocation-local directory that is mounted into your container / cgroup. By default, it's short-lived because when an allocation terminates, we also remove the ephemeral directory. When you set the `sticky` and `migrate` options, we try to persist this for future allocations, but this is best-effort.

`ephemeral_disk` is completely independent from docker vol

[2019-02-21 11:24] #5343 closed

[2019-02-21 11:38] dantoml commented on #5305
@sloan-dog That error is returned when the deployment status is not `Running` or `Paused`.

Could you try logging the data around the status of the deployment so we can get a clearer understanding of what is happening? - Thanks!

[2019-02-21 11:40] dantoml commented on #5219
Hey @cavanwang - We now have beta documentation for configuring GPU devices! - Thanks for trying out 0.9 so early.

https://www.nomadproject.io/docs/devices/nvidia.html

[2019-02-21 11:40] #5219 closed

[2019-02-21 11:44] dantoml commented on #5188
Closing this because of the above consul-template regex, and because this issue is inactive. We hope to support consul service `meta` in an upcoming release of Nomad however, which adds a key/value interface to the service definition.

[2019-02-21 11:44] #5188 closed

[2019-02-21 11:47] dantoml commented on #5136
@zonnie Could you post the result of `nomad node-status` for that node? - I'm curious to see the state of the allocations on that host, as it looks like none can be GC'd.

[2019-02-21 12:01] dantoml commented on #4782
@nadilas Could you try running nomad clients on independent servers? - Multiple clients talking to the same consul agent can lead to some unfortunate behaviour in some cases, where they both try to write over each other.

[2019-02-21 12:11] chenjpu commented on #5345
it's prometheus default

[2019-02-21 12:58] rpramodd opened #5346 "Nomad fails to create container API error (400): {"message":"range of CPUShares is from 1 to 10000"}"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
0.8.7

### Operating system and Environment details
Windows1709

### Issue
2019-02-21T07:57:15Z  Not Restarting  Error was unrecoverable
2019-02-21T07:57:15Z  Driver Failure  failed to

[2019-02-21 16:55] dantoml commented on #5345
Interesting - I thought prometheus namespaced all of it's default labels?

Afaik you can use relabel_configs to rename collected metrics though? (my prometheus knowledge is pretty high level though) https://github.com/prometheus/prometheus/blob/c7d83b2b6a08048e1bfa046f9fd63125ae327e02/config/testdata/conf.good.yml#L56-L60

[2019-02-21 17:18] imdibiji opened #5347 "Allow secrets with arbitrary characters (including ') to be injected to env from Vault"
### Nomad version
Nomad v0.8.5 (90fbfaba6a6d9af7febc39082b95ed832d8b8bd6)

### Operating system and Environment details
[code]

### Enhancement Request
I would like the Nomad job parser to be able to handle a secret from Vault that contains any character.  Currently, I can single quote the Vault value in the Nomad job template stanza to handle most cases:
[code]
This includes cases where the secre

[2019-02-21 17:21] schmichael commented on #5347
Thanks for filing! Original discussion: https://groups.google.com/d/topic/nomad-tool/lURwpsL_zWE/discussion

This will either have to be fixed in https://github.com/hashicorp/go-envparse or by dropping that library and going with a simpler env parser that iterates over lines, splits on `=`, and treats all characters until EOL as the value.

[2019-02-21 17:34] schmichael commented on #5347
After re-reading _my own docs_ I realized the intended way to support this is by using the `toJSON` function _without_ additional quoting:

[code]

Nomad will properly parse the JSON encoded string, decoding all escape codes to their literal form in the environment variable. So if the password is `"abc#123'` the above template would get written as:

[code]

Nomad would then add read the file, eval

[2019-02-21 17:36] imdibiji commented on #5347
@schmichael That's great news, thank you for helping me understand how to get secrets from Vault into a Nomad job faithfully.

[2019-02-21 17:49] imdibiji commented on #5347
@schmichael  I found that I needed to do this (move the % to the end):
[code]

Otherwise, the allocation will fail quickly with `Template: (dynamic): parse: template: :12: unexpected "%" in operand`

[2019-02-21 18:45] swf127 opened #5351 "[Question] Unix domain socket not included in chroot env"
### Nomad Version

Nomad v0.8.1 (46aa11ba851f114f5faa0876839b45fbca0c47f0)

### Operating system and Environment details
RHEL 7.6

### Issue
We have deployed a Java service inside of Nomad and configured chroot_env to copy over it's dependencies.   One of those dependencies creates a UNIX domain socket.   That socket exists in a directory we have flagged for inclusion in chroot_env, but it isn't a

[2019-02-21 20:19] dwimberger opened #5353 "[Question] Wouldn't it make sense to allow vault tokens without renewal"
I could not figure out a way to configure nomad, so that it generates a vault token, without handling the renewal for the token. Is there a way to achieve this through configuration?

The use case I have is a container that expects a short TTL one-time token and handles the token renewal itself (i.e. running consul-template with specific reloading actions for certificate updates and consul value c

[2019-02-21 22:36] #5347 closed

[2019-02-22 01:21] chenjpu commented on #5345
I have set [honor_labels](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config) parameter ,but also display error log
  ```has label dimensions inconsistent with previously collected metrics in the same metric family```

I found that other projects had similar problems(https://github.com/prometheus/influxdb_exporter/issues/23).

Besides,the above error is not pre

[2019-02-22 01:43] chenjpu commented on #5345
[client_golang](https://github.com/prometheus/client_golang/blob/master/CHANGELOG.md#090--2018-10-15)(0.9.0 / 2018-10-15) mentioned that ` inconsistent label dimensions are now allowed`

[2019-02-22 02:46] shantanugadgil commented on #5217
Just a thought, this might need agent specific configuration to set the artifact directory?

[2019-02-22 05:48] djenriquez commented on #4913
Just wanted to comment on here: adding sidecars can be problematic without this solution using the Docker driver. For example:
- Service A listens on port 80 and needs to route traffic through a proxy sidecar
- The proxy sidecar is sent requests through by a hostname, so it needs to listen to port 80 as well (cant allocate ports through hostname resolution)

I can:
1. Use `container:name` networki

[2019-02-22 14:19] cgbaker commented on #1734
Closing this in favor of https://github.com/hashicorp/nomad/issues/4576

[2019-02-22 14:19] #1734 closed

[2019-02-22 15:33] #511 closed

[2019-02-22 15:36] preetapan commented on #1717
Done in #3892 in the 0.8 release

[2019-02-22 15:36] #1717 closed

[2019-02-22 16:10] jrasell commented on #5346
@rpramodd this error is coming from the Docker daemon and is because of the limits there rather than anything Nomad specific - https://github.com/moby/moby/blob/611b23c1a0e9a9f440165a331964923fd1116256/daemon/daemon_windows.go#L38

[2019-02-22 18:54] schmichael commented on #913
The [`-consul-address`](https://www.nomadproject.io/docs/commands/agent.html#consul-address-lt-addr-gt-) flag was added in [0.7.1](https://github.com/hashicorp/nomad/blob/master/CHANGELOG.md#071-december-19-2017) thanks to #3504.

Sorry for not finding and closing this issue in a timely matter!

[2019-02-22 18:54] #913 closed

[2019-02-22 19:49] radcool commented on #3858
Instead of `nomad run -force sample.nomad` perhaps its own subcommand (with something like `nomad job force sample`, also aliased to `nomad force sample`) would make it clearer that this only applies to an existing job ID (like the API does) and not to a job file. The subcommand would return an error if the job ID supplied does not point to a job of type "periodic".

[2019-02-22 22:40] jhitt25 commented on #3854
Beyond AWS credentials, you can't secure git ssh keys or https credentials either.  There appears to be no variable interpolation in the artifact stanza (at least not that i can get working).  Trying to put variables in the environment then pulling in an env var does not work in either source or options.

[2019-02-23 17:10] preetapan commented on #5346
Closing based on @jrasell comment above, this is not a Nomad issue per se

[2019-02-23 17:10] #5346 closed

[2019-02-23 17:21] preetapan commented on #5333
@chngtrn Theres a small hearbeat period (typically 30 seconds) after which a killed client node should transition from `ready` to `lost`. If you are not seeing that, perhaps the process is still running. Could you confirm that the nomad client process actually died?

[2019-02-23 18:15] chngtrn commented on #5333
Please close this issue as it’s not relevant to me anymore. Thanks for choking on.

[2019-02-23 18:57] teeler opened #5360 "Failed to start task (docker/syslog weirdness)"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
GCE base image: ubuntu-1804-lts
Docker installed via `snap install docker`

[2019-02-23 19:27] teeler commented on #5360
With DEBUG logging:

[code]

[2019-02-23 19:27] #5333 closed

[2019-02-24 00:53] teeler commented on #5360
Appears fixed in v0.9.0-beta1, so not super important, maybe theres an existing bug already...

[code]

[2019-02-24 03:18] johnzhanghua commented on #419
+1

[2019-02-25 09:27] upccup opened #5361 "HTTP API set artifact use absolute path"
hi guys:

now the definition of TaskArtifact nomad HTTP API is
[code]
the destination field is **RelativeDest**.

How can id set to use absolute destination.

[2019-02-25 10:50] dantoml commented on #4664
Closing this because `master` now builds successfully - Sorry for the flux during the 0.9 dev cycle folks!

[2019-02-25 10:50] #4664 closed

[2019-02-25 10:55] dantoml commented on #4581
runc has been upgraded in https://github.com/hashicorp/nomad/pull/5334 as part of Nomad 0.9

[2019-02-25 10:55] #4581 closed

[2019-02-25 10:59] dantoml commented on #4479
There's currently no way to remount the UI under a different endpoint as part of Nomad itself.

Many proxies should be able to manage rewriting /nomad to / on the nomad port however?

[2019-02-25 11:00] dantoml commented on #4472
closing as a duplicate of #4479

[2019-02-25 11:00] #4472 closed

[2019-02-25 11:02] dantoml commented on #4478
👋 It's currently not possible to do that in a first class way, but would potentially be solvable with future implementation of Admission Controllers (#4735). Thanks for reporting this!

[2019-02-25 11:02] #4478 closed

[2019-02-25 11:07] dantoml commented on #4450
Nomad doesn't support overriding the scheduler implementation, but we do now however support affinities and spread, alongside constraints based on node metadata and attributes.

I would recommend filing issues for specific scheduler features that you would like to be supported as part of core.

Thanks!

[2019-02-25 11:07] #4450 closed

[2019-02-25 11:12] dantoml commented on #4443
Nomad allows some minimal configuration of node heartbeats via the `"min_heartbeat_ttl"`, `"heartbeat_grace"`, and `"max_heartbeats_per_second"` configuration options in the [Server configuration](https://www.nomadproject.io/docs/configuration/server.html).

However, I would be incredibly wary of running a 2 node deployment as the failure of either node is a critical failure to your deployment, an

[2019-02-25 11:12] #4443 closed

[2019-02-25 11:34] dantoml commented on #3392
@port22 Cron scheduling when DST is enabled on a machine is a fairly difficult problem, because the desired time does not exist, or may occur twice. It's possible to time smear these cases, and _some_ cron extensions have special handling around time shifts of <=3 hours, but we currently don't do this in Nomad.

Because of the nature of the Nomad periodic scheduler, supporting this would likely in

[2019-02-25 11:39] dantoml commented on #3183
Nomad now only refers to `github.com/sirupsen/logrus`, rather than `github.com/Sirupsen/logrus`. Thanks!

[2019-02-25 11:39] #3183 closed

[2019-02-25 11:44] dantoml commented on #2509
Hey folks, Affinities have landed as part of the 0.9 betas - You can find documentation [here](https://www.nomadproject.io/docs/job-specification/affinity.html). 😄

[2019-02-25 11:44] #2509 closed

[2019-02-25 12:02] dantoml commented on #5303
Hey @jacekjagiello, I'm personally not too familiar with the Nomad UI codebase, @DingoEatingFuzz should be able to provide some pointers here though.

[2019-02-25 12:14] onlyjob commented on #4581
And that has been done sloppily/incorrectly because once again a random commit has been vendored instead of a tagged release: https://github.com/opencontainers/runc/releases

:(

[2019-02-25 12:17] dantoml commented on #5360
We changed the way log management for docker works in Nomad 0.9 to be based on pulling logs from the docker api via a bridging process, rather than the `syslog` daemon we had as part of prior nomad releases.

I _think_ the issue you're running into is related to the fact that Docker was installed via snapcraft, because it requires all files exist within `$HOME`. Could you try reproing in your envi

[2019-02-25 12:20] dantoml commented on #4581
@onlyjob FWIW we also apply a couple of patches on top of `runc`, but I've just followed releases on runc and made a note to upgrade to the next real release.

[2019-02-25 14:07] danaps opened #5363 "alloc stuck in pending and zombie allocs"
### Nomad version
`Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)`

### Operating system and Environment details
- `Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-1073-aws x86_64)`
-  Job runs using docker driver

### Issue
We upgraded our nomad environment 0.8.4 -> 0.8.6 around 2 month ago, and we noticed a weird behavior it in the last month or so (might start after the upgrade but we are

[2019-02-25 14:17] #5320 closed

[2019-02-25 15:27] tzahimizrahi commented on #4996
Hi, Any update with this bug?

[2019-02-25 16:19] preetapan commented on #4996
@tzahimizrahi or @urjitbhatia - would you be able to provide client logs from the node where these old allocs were running the next time this happens? We are not seeing this sort of issue under normal loads/deploying jobs with new versions so having logs should help us investigate further

[2019-02-25 18:38] tzahimizrahi commented on #4996
@preetapan take a look at this one https://github.com/hashicorp/nomad/issues/5363
Sounds similar

[2019-02-25 19:07] DingoEatingFuzz commented on #5303
Hi @jacekjagiello, this is a great idea and I'd love a contribution here.

Views intentionally have a max-width set to avoid a lot of horizontal eye-scanning (especially with tables and the like that normally fit just fine within 1200px). I think the log view is an exception to this rule.

I think we can avoid a media-query here by just making that particular page wider. I imagine it would look so

[2019-02-26 15:39] #2897 closed

[2019-02-26 15:48] jacekjagiello commented on #5303
@DingoEatingFuzz Thanks, I'll do PR within a few days

[2019-02-26 20:39] cgbaker commented on #2134
closing this in favor of https://github.com/hashicorp/nomad/issues/3029

[2019-02-26 20:39] #2134 closed

[2019-02-26 20:43] djenriquez commented on #4913
@preetapan you mentioned that `port_map` could be moved to become a `task_group` property, is this functionality available today?

[2019-02-27 03:44] prologic commented on #2352
We are currently blocked by this in our production setup and cannot run ElasticSearch using the exec driver as ES apparently requires a ulimit of at least `65535`.

[2019-02-27 03:45] prologic commented on #2352
OTOH ES's requirement of 65k open fds seems absurd to me :/ (*separate issue*)

[2019-02-27 04:33] prologic commented on #2352
Work-around (*if running Nomad via `systemd` based systems*):

Set `LimitNOFILE=65536` in your `[Service]` section of your Nomad systemd unit.

[2019-02-27 04:34] prologic commented on #2352
CGroups (*which the `exec` driver uses through libcontainers/runc*) inherits the RLimits of the parent process (*in this case `nomad`*).

[2019-02-27 09:31] ybovard commented on #3854
could also be nice to have a way to use it for docker hub downloads:
[code]

[2019-02-27 17:40] Miserlou commented on #4934
Seeing a lot of this in 0.9.0-beta3

[code]

[2019-02-27 18:10] pires commented on #4923
@yuri-yarosh can you please share what you came up with?

And maybe your thoughts on what parts of the design displease you, what features you're lacking, and so on. A _blog_ post would be sweet 🙏

Last but not least, where did you find that Firecracker will be redesigned and rewritten?

[2019-02-27 18:29] cpumanaz commented on #4934
I see the same, especially on windows server 2016.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rich Jones <notifications@github.com>
Sent: Wednesday, February 27, 2019 11:40:12 AM
To: hashicorp/nomad
Cc: Matthew Shooshtari; Comment
Subject: Re: [hashicorp/nomad] Docker Image Pull fails (#4934)

Seeing a lot of this in 0.9.0-beta3

2019-02-27T17:34:40Z  D

[2019-02-27 18:38] vadfabi commented on #419
waiting on this vital feature ...

[2019-02-27 19:19] Miserlou opened #5367 "Freeze During `nomad status <alloc>` In 0.9.0-beta3"
Upgrading from 0.8.* to 0.9.0-beta3 causes hanging during `nomad status <alloc>`, ex (from a client node):

[code]

This seems to be new behavior.

It also seems like the overall state of our system has gone from "mostly working" (0.8.3) to "mostly not working" (0.9.0-beta3).

[2019-02-27 19:25] Miserlou commented on #5367
It generally seems like the status is stuck in pending when this happens:

[code]

I'll also now that I've now tried three virgin 0.9.0-beta3 clusters and all have shown different failure patterns which weren't present in 0.8.3. This error is the third of the three.

[2019-02-27 19:30] cgbaker commented on #5367
@Miserlou , you mention in the first comment that you saw this when upgrading the cluster from 0.8.x to 0.9.0-beat3, and in the second comment that this happens on virgin 0.9.0-beta3 clusters as well. I want to make sure that these are both the case as I investigate.

[2019-02-27 19:31] yuriy-yarosh commented on #4923
Will do, but not not right now.

No one will pay me for that one, and I'm not a person who'll blindly contribute to a flawed product, so why bother ?

My current engagements are much more meaningful and at least can shake up the market a bit.

 * Absence of proper kernel build toolchain
 * Inconsistent API's
 * Security issues
 * Overall Immaturity which contradicts with existing PR material

Well

[2019-02-27 19:56] cgbaker commented on #5367
@Miserlou , is it possible to get client logs?

[2019-02-27 20:42] Miserlou commented on #5367
Both scenarios were tested and failed, I don't have the results of the upgrade scenario but it failed for a different reason (docker driver related, I commented on another ticket about that). We have a staging stack that is essentially identical to our prod stack running 0.8.3 (which runs okay), only the staging stack tried 0.9.0-b3 (which didn't run ok).

It actually looked like the logging syste

[2019-02-27 20:45] Miserlou commented on #5367
The other one I saw: https://github.com/hashicorp/nomad/issues/4934

[2019-02-27 20:49] Miserlou commented on #5367
Actually the one other difference is that the 0.9.0-beta3 deployment uses the new `tmpfs` features (which is the reason for our need to upgrade at all). I don't know if this is related or not, but since this seems to be related to the Docker driver then it could be a possibility.

[2019-02-27 20:50] Miserlou commented on #5367
[code]

Although I primarily saw this behavior on jobs which _didn't_ use the new `tmpfs` features, so I don't know if that makes sense as a source of the error.

[2019-02-27 21:21] cgbaker commented on #5367
Thank you, @Miserlou.

[2019-02-28 02:01] byronwolfman commented on #4566
Hey friends and fellow nomad operators, good(ish) news; after soaking the patch on our test environments for a week, we've rolled this to prod and have our safe blue/greens back.

I can't recommend this as general fix for _everyone_ running a >= 0.8.4 cluster, but if you have a very strong understanding of how your cluster operates and what kind of jobs are being sent to it, you're not using the c

[2019-02-28 04:38] teeler commented on #5360
k, i tried again after following instructions from https://docs.docker.com/v17.09/engine/installation/linux/docker-ce/ubuntu/ and i can confirm that this works. Nice guess ;)

Not really sure if there's anything reasonable to fix here, though?

Also, do you have a pointer to something that describes this snapcraft "all files exist within $HOME" thing? I'm curious...

Thanks for helping!

[2019-02-28 10:26] gblok commented on #2633
How to make work nomad with Linux images in Docker for Windows?
It is already possible?

[2019-02-28 13:29] eigengrau opened #5369 "Expose deployment version and canary status as variables"
### Issue

It would be convenient if the version number of the current deployment and the canary status of an allocation were exposed as variables for interpolation.

One use-case would be to interpolate the version number into any service names or tags in order to support blue/green deployments with proxies that route solely based on service names (in my instance, I am trying to work-around this

[2019-02-28 16:13] cgbaker commented on #419
Task Dependencies is currently on the roadmap for 0.10

[2019-02-28 17:52] cgbaker commented on #2633
We don't have any immediate plans to support this, but we are tracking it in our backlog.

[2019-02-28 20:31] cgbaker commented on #5361
hi @upccup , officially, we only support using relative paths. the [documentation](https://www.nomadproject.io/docs/job-specification/artifact.html) on this could be clearer, and there are some unsupported driver-specific approaches that allow absolute paths. however, in general, and with a view towards compatibility in the future, only paths relative to the root of the task's directory are suppor

[2019-02-28 20:31] #5361 closed

[2019-03-01 02:05] zhangslob opened #5374 "[question] Error submitting job: Put http://127.0.0.1:4646/v1/jobs: dial tcp 127.0.0.1:4646: connect: connection refused"
I read the [getting-started](https://www.nomadproject.io/intro/getting-started/jobs.html#running-a-job), and command  `nomad job run example.nomad`, it comes out:
[code]
I have run `nomad job init`,  and `example.nomad` exists

My nomad version is 0.8.6, I've try 0.8.7 but failed!
[code]

[2019-03-01 02:23] preetapan commented on #5374
@zhangslob are you running the nomad agent? https://www.nomadproject.io/intro/getting-started/running.html#starting-the-agent

[2019-03-01 02:30] zhangslob commented on #5374
@preetapan Thx, i'm so stupid

[2019-03-01 02:36] #5374 closed

[2019-03-01 10:30] shantanugadgil commented on #2292
This issue is visible using Nomad 0.9.0-beta3 as well.
The symlink itself is gone, and the symlinks themselves become zero bytes files! :disappointed:

[2019-03-01 12:11] dantoml commented on #5360
@teeler It's mentioned sort of off-hand [here](https://snapcraft.io/docker), but doesn't make it particularly obvious that it also includes random internal machinery.

Gonna close this issue but thanks for getting back to us, and I'm glad you got it working!

[2019-03-01 12:11] #5360 closed

[2019-03-01 13:14] andye2004 commented on #1897
Hello, is there anyone there? Would really like to know if this is ever likely to be implemented? If not could someone update the issue with appropriate comments and then close it off?

[2019-03-01 15:00] ferusm opened #5376 "enhancement: mount cgroups filesystem in exec and java driver"
### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
OS: Debian 9.7
Java: OpenJDK 11

### Issue
When starting job with java driver, 'resources' stanza has no effect.
Jvm container debug output: "Required cgroup memory subsystem not found"

### Reproduction steps
Run job

### Job file

[code]

[2019-03-01 15:02] chandy commented on #4451
+1 to this work, I am in the same boat as @hvindin and would love to go with native integration vs something external.

[2019-03-01 15:10] cgbaker commented on #1897
@danapoklepovich : as @schmichael pointed out, we're hesitant to add this feature because it allows for arbitrary content from the client (including, other tasks) to be copied into a task. Towards @andye2004's comment, simply enabling the `file` schema without a safelist allows **anyone job submitter** access to the potentially the entire client filesystem; contrast this with configuring the chroo

[2019-03-01 15:38] cgbaker commented on #1897
Additionally, we are designing a number of features around volume support, including a host volume capability that should address these use cases without compromising security.

[2019-03-01 15:54] cgbaker commented on #2292
thanks @shantanugadgil , I've verified this on 0.9.0-beta3 and I'm looking into it right now.

[2019-03-01 16:02] endocrimes opened #5377 "Host Volumes Support"
## Summary
Add support for securely mounting volumes from a nomad client into an allocation in a way that works across various task drivers.

[2019-03-01 16:04] endocrimes opened #5378 "Container Storage Interface Support"
## Summary
Introduce support for using [Container Storage Interface](http://github.com/container-storage-interface/spec) plugins in Nomad to allow operators to provide persistent storage to jobs.  This will allow people to run stateful services in Nomad across various task drivers and environments.

[2019-03-01 16:08] dantoml commented on #150
👋 Hey Folks,

We're currently planning on implementing support for persistent storage across various task drivers via support for Host Volume Mounts (#5377), and the Container Storage Interface (#5378).

Please follow along with the respective issues for updates as they're available 😄.

[2019-03-01 16:08] #150 closed

[2019-03-01 16:09] dantoml commented on #1897
#5377 is an issue you can follow if you're interested in support for Host Volume mounts 😄

[2019-03-01 16:11] dantoml commented on #2115
Hey folks,
We're now planning on introducing support for host bind mounts across various task drivers and plugins via #5377. Please follow along there for updates 😄.

[2019-03-01 16:11] #2115 closed

[2019-03-01 16:16] cgbaker commented on #2292
Okay, this is apparently a well-known issue in go-getter that has not been fixed yet:
https://github.com/hashicorp/go-getter/issues/60
There are some workarounds in that ticket, just FYI, but they're not universally applicable.

[2019-03-01 18:59] cgbaker opened #5379 "Support ${job.*} as variables for interpolation"
In addition to the existing support for node variables, add support for job variables for interpolation. This will prevent us from having to continue to add one-off support for these variables. For example, `${NOMAD_JOB_NAME}` env var would be accessible as `${job.name}` and the version requested in #5369 would be available as `${job.version}`.

[2019-03-01 19:09] cgbaker commented on #5369
We've been talking about adding the job information as a variable for interpolation; I've filed a new issue (#5379) to track this. That will provide the ability to query the job version.

With regard to the canary status, this is trickier. A canary job is not updated when it is promoted; therefore, if you used interpolation (or even a direct query against the allocation status using the Nomad API)

[2019-03-01 19:09] #5369 closed

[2019-03-01 23:48] andye2004 commented on #1897
@cgbaker @dantoml Thanks guys, appreciate the follow up. Volumes sounds like a much better solution IMO. I'll keep an eye on #5377, got excited when I saw the ticket and then a bit disappointed to see it has only just been opened.....

[2019-03-04 12:44] OmerJog commented on #956
Is this on the roadmap to be fixed?

[2019-03-04 18:33] tzahimizrahi commented on #4996
@preetapan I believe the referenced issue contain the necessary details. Let me know if additional information is required

[2019-03-04 19:27] kaspergrubbe opened #5385 "Nomad validate configuration command"
### Nomad version
Output from `0.8.7`:

[code]

### Issue

With consul I use `consul validate` a whole lot for when we build Packer images, and it has saves me some headaches when I didn't write a valid configuration file.

https://www.consul.io/docs/commands/validate.html

I wonder why no such thing seem to exist for Nomad.

I would like to be able to run `nomad validate /etc/nomad.d/` to verify

[2019-03-04 19:44] sloan-dog commented on #5305
I'll try and capture that, thanks!

[2019-03-04 23:33] jpialirci commented on #2181
Is there status or a timeline for this enhancement?  Thanks!

[2019-03-05 03:34] FlankMiao opened #5387 "job starts failed driver [exec]"
### Nomad version
Output from `nomad version`
0.9.0-beta3

### Operating system and Environment details
OS: centos
OS version: 7.6.1810
### Issue
driver [exec]:
the exec job has 11 arguments.

error log in the nomad-ui:
standard_init_linux.go:207: exec user process caused "argument list too long"
2019-03-05T02:57:47.250Z [ERROR] failed to initialize libcontainer-shim: error="standard_init_linux.go

[2019-03-05 06:01] andye2004 opened #5388 "Possible missing feature or bug?"
Apologies in advance for what may just be a question, and a rather lengthy one. However it may be more....

Nomad version: v0.8.7 (Using Java driver)
Consul version: v1.4.2
Vault version: v1.0.3
OS: Centos 7.6.1810

The scenario...

I have a 3 node setup, each node is running consul. vault and nomad. I have submitted a `service` job (configured to run just a single service instance) to nomad and I

[2019-03-05 06:58] TeresaZona opened #5389 "Rescheduling strategy in periodic jobs executing by exec driver can't take affect"
### Nomad version
Output from nomad version
0.9.0-beta3

### Operating system and Environment details
OS: centos
OS version: 7.6.1810

###  Issue
I have set my periodic job to reschedule 5 times in the configured interval,but it doesn't work.

Task Driver: exec

![nomad1](https://user-images.githubusercontent.com/15137168/53785003-04afa980-3f52-11e9-92f6-79f8b587b972.jpg)

### Nomad Client logs

!

[2019-03-05 10:38] danbst opened #5390 "Cannot enable `raw_exec` plugin with new syntax"
### Nomad version
Output from `nomad version`

Nomad v0.8.7

### Operating system and Environment details
Ubuntu 18.04.2

### Issue
Cannot enable `raw_exec` using recommended method (https://www.nomadproject.io/docs/drivers/raw_exec.html). Tried HCL and JSON syntax (latter is preferred)

As a workaround, I'm using "deprecated" method.

### Reproduction steps
[code]

[2019-03-05 14:16] angrycub commented on #5390
You will need to use the legacy syntax for enabling raw_exec in 0.8.7.  The "deprecated" note indicates that the pre-0.9 version of the configuration will work for  v0.9.0, but will be removed in future versions in favor of the plugin stanza.

For versions before 0.9.0, you should continue using the legacy configuration.

I will see if we can clarify that further in the documentation.

[2019-03-05 14:16] #5390 closed

[2019-03-05 14:27] #5388 closed

[2019-03-05 15:56] cgbaker commented on #4934
In 0.8.x and 0.9.0, if Nomad doesn't receive any updates from the Docker daemon for over two minutes, it will abort and reschedule the task. In general, this isn't a problem, because the Docker daemon is somewhat chatty. I tried to verify this with some very large Docker images on a machine with very low bandwidth, and things worked as expected (in my case, about about 20 minutes, the image finish

[2019-03-05 15:57] preetapan commented on #5387
@FlankMiao Thanks for reporting this, we will fix this before 0.9 final.

[2019-03-05 18:01] cgbaker commented on #5367
Hey @Miserlou , I didn't forget about this. I spent some time trying to see whether this was possibly related to the docker image pull issue. I will look into this a bit more and get back to you if there's any info that I need. Thanks for the report.

[2019-03-05 18:07] Miserlou commented on #4934
Is that two minutes configurable?

[2019-03-05 18:07] Miserlou commented on #4934
Also does that reschedule occur even if the jobspec forbids retrying?

[2019-03-05 18:08] Miserlou commented on #5367
Great, thanks. I'm not sure if it is or not.

Our project is open source, you could try spinning up our stack to try to repro.

[2019-03-05 19:28] cgbaker commented on #5376
The `resources` stanza does have an effect, it's just that the Java runtime isn't aware of it. We don't mount the necessary cgroups for the new Java container functionality to work. I'll file an issue on our roadmap to look into this, and I'll leave this ticket open for updates.

Thanks for bringing this to our attention.

[2019-03-05 20:38] cgbaker commented on #4934
The two minutes is not configurable right now... it certainly could/should be made configurable, on a global level if not at the job-level. This error (timeout during pull) is marked as recoverable error and is subject to the configured restart and reschedule policy.

[2019-03-05 21:29] nugend opened #5393 "[question] Executors runs a large number of threads. Is this expected?"
### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
Linux 3.10.0-327.36.3.el7.x86_64 Centos 7

### Issue
While using nomad with raw_exec enabled, executors create something like 60+ threads (seems to vary slightly). Is this expected? GOMAXPROCS should be 24 since the host has 24 cores. I can set the environment variable to

[2019-03-05 21:56] danbst commented on #5390
yeah, a note in docs which version is change effective at would be awesome!

[2019-03-05 22:41] dradtke commented on #2625
For anyone else waiting on a proper fix here, my current workaround is to execute `bash` directly and pass it a script that sets the executable bit first:

[code]

[2019-03-05 23:47] andye2004 commented on #5388
@preetapan, further to my question; supposing for a moment that I had a service where I had to **_guarantee_** there was only ever one running in the cluster, regardless of nomad client failures, I'm assuming then that I would need to additional health checks put into the service definition registered with Consul, such that consul would also check that the nomad client agent was running as part of

[2019-03-06 01:20] FlankMiao opened #5395 "job still running though received kill signal"
### Nomad version
0.9.0-beta3

### Operating system and Environment details
OS: centos
OS version: 7.6.1810
### Issue
driver [exec]
the job jobA: one per node.
I clicked the stop button in the nomad-ui，some are [completed] immediately, but others are still [running] though the job status is dead. like this:

![nomad](https://user-images.githubusercontent.com/19262116/53847663-881dd900-3fec-11e9-98

[2019-03-06 06:58] shantanugadgil opened #5396 "raw_exec fails when the "user" is a non-root user (version 0.9.0 beta3)"
### Nomad version
Nomad v0.9.0-beta3 (2f55f78b21a5e55ab122f2c1e1ed1ec21fde9566)

### Operating system and Environment details
CentOS 7.6 + latest updates
NVIDIA CUDA setup  for GPU related app.

### Issue
My Nomad agent is running as `root`.
When I run the example job, and set the "user" field to a non-root user, it fails with the error:
[code]

### Reproduction steps
Commenting out the `user` dir

[2019-03-06 07:12] shantanugadgil opened #5397 "[feature request] allow raw_exec to specify group (in addition to user)"
### Nomad version
Output from `nomad version`
Nomad v0.9.0-beta3 (2f55f78b21a5e55ab122f2c1e1ed1ec21fde9566)

### Operating system and Environment details
CentOS 7.6 + updates

### Issue
Based on https://www.nomadproject.io/docs/job-specification/task.html I see that only the "user" (`setuid`/`seteuid`) can be specified.

For the sake of completeness (and a need of many apps) I would like to reques

[2019-03-06 09:07] ilyaiqoqo opened #5398 "[question] Use nvidia runtime in a job"
I am trying to use nvidia runtime for nomad task but i havn't figured how to specify it in the job stanza.
The work around we are using right now is to add `"default-runtime": "nvidia",` to `/etc/docker/daemon.json`.

i wonder if there is a nomad way of specifying the runtime per task?

[2019-03-06 14:26] preetapan commented on #5396
@shantanugadgil this is expected behavior, by default the raw_exec driver creates a freezer cgroup to allow terminating child tasks spawned from the raw exec job correctly. To disable this, you can use the new `plugin` stanza added in 0.9 and set `no_cgroups` to true.
https://www.nomadproject.io/docs/drivers/raw_exec.html#no_cgroups. I just tested your jobs with that and it ran fine

In 0.8.X the

[2019-03-06 14:42] cpumanaz commented on #5296
@dantoml I've updated to b3 in my environment will re-run my test case.
Thanks!

[2019-03-06 14:43] cpumanaz commented on #5303
@jacekjagiello How are things going with the wide-screen format?

[2019-03-06 15:28] cgbaker commented on #5398
Which version of Nomad are you using? There is support for Nvidia GPUs using the device plugin capability in 0.9.0: https://www.nomadproject.io/docs/devices/nvidia.html

[2019-03-06 15:49] vrenjith commented on #5343
@jippi and @dantoml , thank you so much for explaining this.

[2019-03-06 17:56] ilyaiqoqo commented on #5398
i use 0.9.0-beta3

[2019-03-06 22:38] jacekjagiello commented on #5303
@cpumanaz PR is open :relaxed:

[2019-03-06 23:18] preetapan commented on #2299
Affinities is in 0.9 beta and will be in the final release coming soon, closing this

[2019-03-07 01:09] preetapan commented on #5395
@FlankMiao can you share a jobspec so we can try to reproduce it on our end?

[2019-03-07 05:42] prologic commented on #1185
Any updates on progress here? We *could* really utilise this quite well in our Nomad job specs.

[2019-03-07 07:32] FlankMiao commented on #5395
@preetapan
the jobspec like this；
` job "artifact-agent" {
  datacenters = ["dc1"]
  type = "system"
  namespace = "default"
  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "3m"
    auto_revert = true
    canary = 0
  }

  group "artifact" {
    restart {
      attempts = 10
      interval = "5m"
      delay = "25s"
      mode = "delay"
    }
    ephemeral_disk

[2019-03-07 09:41] ilyaiqoqo commented on #5398
actually i think the plugin isn't `nvidia-gpu` isn't enabled.
[code]

[2019-03-07 09:56] chenxingc commented on #4653
Nomad version
v0.8.7

Operating system and Environment details
OS: CentOS7.2
Kernel: 3.10.0.862.9.1.el7.x86_64
Hardware: Dell R730xd 2*E5-2650V4(2.2G,12C)

Issue
kernel crash and os reboot

I catch the same issue. There are Thousands of nomad alloc process. Gradually, all the memory of the machine is occupied. Then it reboots. See:
[root@node-1 127.0.0.1-2019-03-06-18:30:20]# crash /usr/lib/debug/

[2019-03-07 09:57] chenxingc commented on #4653
BTW, nomad 0.5.2 with Kernel 3.10.0.862.9.1.el7.x86_64 run perfectly.

[2019-03-07 10:06] chenxingc commented on #4653
And nomad 0.8.7 with Kernel 3.10.0.862.9.1.el7.x86_64 run perfectly, too.

[2019-03-07 10:58] ilyaiqoqo commented on #5398
I found the problem in my setup, NVM thank for your time

[2019-03-07 10:58] #5398 closed

[2019-03-07 11:32] deanmaniatis commented on #4566
bump

[2019-03-07 14:37] preetapan commented on #5393
@nugend could you share how you tracked these thread usages? If you can share a OS thread dump from what you observed, that will help investigation. Would also be curious to know if there was observable impact (like the client being unresponsive etc)

One thing to note is that we rely on a library that uses cgo for fingerprinting and stats, which may add additional threads.

[2019-03-07 14:38] schmichael commented on #5396
Your example job just worked for with the dev agent running as root on Ubuntu 18.10 (after I commented out the constraint), so I don't think the freezer is involved.

Let us know if you have any more ideas on how to reproduce this!

[2019-03-07 14:44] schmichael commented on #4566
Sorry for the lack of communication on this bug. It will not make it into 0.9.0 but is one of my highest priorities after release.

[2019-03-07 14:58] losnir commented on #4870
Hi! I can confirm that we are experiencing the same issues.
After some investigation, I have found the flow to reproduce:

1. Submit a new batch job ([see example here)](https://gist.github.com/losnir/2f4350f74c677b956b967a9bc1ce9bd5)
2. Wait for a new child job to launch (almost immediately in the example above)
3. Stop the parent job
4. **The child job is now running parentless** (it has to stay

[2019-03-07 15:29] preetapan commented on #5385
@kaspergrubbe Thanks for the suggestion.

The more common case is job file validation, so rather than use that `nomad validate` alias for config file validation would be done as `nomad config validate`

We will track this in our backlog; however, competing priorities means we are unlikely to get to it very soon. If you would like to work with us in writing a PR for this let us know, we can provide

[2019-03-07 16:14] shantanugadgil commented on #5396
@schmichael  I haven't been able to verify this, I will try with the agent setting and ping back that it works in  the cluster mode.

[2019-03-07 16:57] nugend commented on #5393
Can I take that as confirmation that this seems to be an unexpectedly high number of threads for the executor to have spawned?

We just used basic command line tools to identify this. `ps`, `strace` and the like.

I have to admit my ignorance: What exactly is a threaddump? Does this differ in some way from a core dump?

The impact we had was that we could not longer spawn new processes because the

[2019-03-07 18:58] #5303 closed

[2019-03-09 04:13] cpumanaz opened #5403 "Override Allocation Failure Backoff Period"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.9.0-beta3 (2f55f78b21a5e55ab122f2c1e1ed1ec21fde9566)

### Operating system and Environment details
Windows 10

### Issue
Removing Nomad Job with --purge leaves some job history

[2019-03-10 18:12] rkettelerij commented on #5376
Really? So `-XX:+UseCGroupMemoryLimitForHeap` (Java version < 8u191) and/or `-XX:+UseContainerSupport` (Java version > 8u191, and Java 10, 11) doesn't have any effect?

[2019-03-10 18:55] ferusm commented on #5376
Seems to be yes. There are no corresponding files in the "container" in / system / fs / group. But on the host, the corresponding group hierarchy is created.

[2019-03-11 01:27] prologic commented on #1185
As an interesting possible work-around for lack of full interpolation support for Nomad Job(s) (*AFAIK coming once HIL is ready*); I came across [Levant](https://github.com/jrasell/levant) which seems to borrow some ideas from Terraform. -- One thing I don't particular like however is that it now mixes two templating languages (*HCL and whatever Levant is*) so it becomes "spaghetti" fast :/

[2019-03-11 02:06] prologic commented on #5363
I've run into this as well. I can see the `nomad agent` has received the `SIGINT` signal; however the task remains in a `running` state. The `kill_timeout` (*defaults to `5s`*) doesn't seem to be kicking in.

Worse; when `kill -KILL <pid of nomad agent>` for that running task; `nomad job status <job>` now reports the wrong result and still *thinks* the old alloc is still running. -- Is this expect

[2019-03-11 02:07] prologic commented on #5363
/cc @johnzhanghua (*my colleage*)

[2019-03-11 02:08] prologic commented on #5363
But really on further reading my issue also seems to be related to #5395

[2019-03-11 02:09] prologic commented on #5395
Also running into a similar issue as well;

[code]

See my comments on #5363

[2019-03-11 02:19] preetapan commented on #5395
@FlankMiao I ran your job spec (but used my own executable for the artifact), and noticed that the container would get killed after it started but not always. It seems to be related to the memory (40), increasing it seemed to make it stabilize. Could you see if increasing memory in the `resource` stanza to something like 75 makes this behavior go away? That'll help us determine next steps.

[2019-03-11 02:54] chenjpu commented on #5395
I also recreated this anomaly. When I restart the machine, nomad doesn't seem to be able to kill the old allocation normally.And this exception allocation appears as running.

![image](https://user-images.githubusercontent.com/1785778/54097596-e5020080-43eb-11e9-8072-72f27886b91a.png)

[2019-03-11 03:46] preetapan commented on #5393
@nugend re: "thread dump" I meant showing threads spawned by the Nomad process via `pstree` or `ps -T -p <pid>` so what you did above is good too.

We discussed this internally, and currently GOMAXPROCS should be the only factor around number of threads used. Each task running on a client node spaws an executor and a logmon and those in turn have goroutines in them which could spawn threads. So it

[2019-03-11 03:46] #5393 closed

[2019-03-11 03:56] FlankMiao commented on #5395
@preetapan I have tried, but this still happens.

[2019-03-11 04:03] preetapan commented on #5395
can you share all the logs from the client on and after the time you stopped the job? Its been hard to reproduce this (a couple of us on the team tried).
Also, can you confirm that when you manually (i.e outside of nomad) send a SIGINT to the executable you are running, it is able to terminate?

[2019-03-11 04:37] FlankMiao commented on #5395
@preetapan  it,s hard to reproduce, and this could happen on different job. this time is the job: promtail.
when I click the stop button on the nomad-ui:

Here is the log from nomad client:

2019-03-11T12:17:06.863+0800 [ERROR] client.driver_mgr.raw_exec: error receiving stream from Stats executor RPC, closing stream: alloc_id=6d3679d1-f40e-f2ce-080c-3829874ee7ac driver=raw_exec task_name=promtail

[2019-03-11 12:02] kaspergrubbe opened #5404 "Nomad UI gives errors when watching logs"
### Nomad version

[code]

### Operating system and Environment details

Amazon Linux 2.

### Issue

When I go to an allocation and click logs nothing shows up, but after a while this shows up:

<img width="627" alt="screenie_1552305205_393585" src="https://user-images.githubusercontent.com/334273/54122207-b5a7bf80-43fc-11e9-96c6-2c5122d3077e.png">

My browser console shows me this:

[code]

Howev

[2019-03-11 12:29] stevenscg commented on #1185
@prologic Levant really is a great solution for this use case. We also use it for scaling service jobs. The templating syntax is very similar to consul-template and nomad template syntax, so there is at least some consistency if you already use those features.

[2019-03-11 13:05] shantanugadgil commented on #5396
hi @schmichael @preetapan
This works fine in "-dev" mode when I start nomad as the `root` user and set the "user" field to a non-root user.

This is not working in the clustered mode.

The relevant bits in my client config file looks like the following (I have tried with both the old and the new syntax). Neither works for me.

[code]

[2019-03-11 13:45] tantra35 commented on #4670
@preetapan Why this issue ignored? I just check 0.9.0-beta3 branch and there bug still present

[2019-03-11 13:58] preetapan commented on #4670
@tantra35 0.9 is such a big release so we didn't include this fix. It will be in the next point release - 0.9.1

[2019-03-11 14:36] schmichael commented on #5396
I'm still having trouble reproducing this.

[2019-03-11 14:39] schmichael commented on #5396
I'm still having trouble reproducing this. Is there anything helpful in the `${alloc_dir}/${task_name}/executor.out` file?

Does the user have execute permissions on the specified command? Can you try with the `nobody` user and `/bin/sleep`?

Can you try setting `log_level = "TRACE"` on the target client node to see if there's anything useful?

If we can not find the root cause we may be able to a

[2019-03-11 14:48] noym94 opened #5406 "Restart stanza doesn't behave as expected"
### Nomad version
0.8.7

### Operating system and Environment details
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial

### Issue
It appears that a Nomad job is constantly restarting the jar process that run in the allocation over and over, opposed to the restart&reschedule config.
What actually happens is that an allocation of a periodic job runs for 16+ hour

[2019-03-11 14:58] shantanugadgil commented on #5396
I switched the username to `nobody`, the `executor.out` has the following:

[code]

The status output of the allocation has:
[code]

I will now set `log_level` to `TRACE` and capture the logs.

[2019-03-11 15:20] shantanugadgil commented on #5396
btw, explicitly doing an `su - myappuser` and then executing `/bin/sleep 600` works
also the following works as well `su - myappuser -c "/bin/sleep 600"`

[sleep_trace.log](https://github.com/hashicorp/nomad/files/2952874/sleep_trace.log)

[2019-03-11 18:08] cgbaker commented on #5376
That's correct. That's the warning message:
[code]
from approximately here: http://hg.openjdk.java.net/jdk/jdk/file/03f2bfdcb636/src/hotspot/os/linux/osContainer_linux.cpp#l330

[2019-03-11 18:49] robloxrob commented on #5404
We have seen the same issue since upgrading to `0.8.7`

[2019-03-12 05:38] prologic opened #5408 "Nomad doesn't observe OOM killed or SIGKILL processes"
This is somewhat related to #5363 and #5395 but I want to create a new issue to steer the discussion more precisely to what i've been able to reproduce.

I've been able to repro this in:

* Nomad v0.8.7
* Nomad v0.9.0-beta2
* Nomad v0.9.0-beta3

Example reproducer Nomad spec (*but not really causing this*):

[code]
The test binary I'm using is written in Go and its source is:

[code]

Steps to rep

[2019-03-12 10:38] dantoml commented on #5406
@noym94 Please could you share a full job configuration? (with any sensitive fields redacted)

[2019-03-12 12:39] Shaiful082 commented on #2025
hi guys, i am having same issue with dns, i tried with --dns=8.8.8.8 but still not able to resolve !
![Screenshot from 2019-03-12 14-38-16](https://user-images.githubusercontent.com/35256295/54200638-8c5a6280-44d4-11e9-9c1e-d97f67c405fe.png)

[2019-03-12 12:58] nickethier commented on #5408
Thanks for providing a great reproduction case. We’re looking into this.

[2019-03-12 14:01] noym94 commented on #5406
@dantoml
sure:

[code]

[2019-03-12 16:00] cgbaker commented on #5353
Makes sense to me. I've filed an issue for this in our internal tracker; I'll bring it up with the team and we can decide whether there's any impediment to doing this. Thanks for the suggestion, @dwimberger .

[2019-03-12 16:05] cgbaker commented on #2292
The associated issue has been fixed in `go-getter`, however, before we incorporate this fix into Nomad, we have to make sure that symlinks (malicious or otherwise) don't allow user workload to "escape" the filesystem. I've brought this up with the team and we've file an issue to address this.

[2019-03-12 16:13] tino opened #5409 "Templated files mounted as directories"
### Nomad version
Output from `nomad version`: Nomad v0.6.2

### Operating system and Environment details
[code]

### Issue
Files that I create with a template stanza, and try to mount into the container, are (empty) directories inside the container

### Reproduction steps
[code]

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropriate)
[code]

### Job file (if appropriate)
[

[2019-03-12 16:35] k3n commented on #2948
Huge +1 here. It's really annoying that `NOMAD_ALLOC_DIR` is `/alloc`, but the _actual_ location is`/${NOMAD_TASK_NAME}/${NOMAD_ALLOC_DIR}`, and that there's no env var for the root `/alloc`.

[2019-03-12 18:56] boardwalk commented on #4532
I'm seeing this problem. While the job isn't registered anymore, I'm able to see the allocations via the /v1/allocations endpoint. I've run a manual GC -- and even a normal GC should have caught them at this point. Normally I'd be fine just ignoring them, but there are a *lot* of them (the evaluation endpoint gives me back ~500 MiB+ of JSON) from when I encountered a bug over the weekend that caus

[2019-03-12 19:22] boardwalk opened #5410 "Uncontrolled evaluation of periodic batch jobs during DST change"
### Nomad version
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)

### Operating system and Environment details
Red Hat Enterprise Linux Server release 7.6 (Maipo)

### Issue
I had a periodic job scheduled during the DST rollover this past weekend which was repeatedly rapidly evaluated at 6AM UTC when it was scheduled for 2AM local/ET. For reference, ET was UTC-5 before the change

[2019-03-13 01:05] ed-alertedh opened #5412 "Docker registry auth no longer working in 0.9 beta"
### Nomad version
Nomad v0.9.0-beta3 (2f55f78b21a5e55ab122f2c1e1ed1ec21fde9566)

### Operating system and Environment details
Ubuntu 16.04.5 LTS (amd64)
Docker version 18.09.3, build 774a1f4

### Issue
We are testing the latest 0.9 beta as we are keen to start using the new GPU functionality. I have found that basic authentication has stopped working for us with private docker hub images and am un

[2019-03-13 02:55] prologic commented on #5395
See the separate issue I created; I've been able to reproduce this *exact* behaviour. **NB:** I created a separate issue to capture more precise behaviour of what I was observing (*Nomad not observing OOM kills by the OOM killer or SIGKLL in general*).

[2019-03-13 02:57] prologic commented on #5395
In our specific case are are getting bitten by the Kernel OOM Killer as our memory reservations (*Using the `exec` driver*) are too low and we have resource intensive Java micro-services. Our work-around (*for Nomad's lack of observing OOM kills or SIGKILL*) is to fine tune our memory reservations and Java memory usage controls (*heap size, etc*) to more reasonable values.

In general as well; **d

[2019-03-13 02:58] ed-alertedh commented on #5412
I have isolated the issue to this line: https://github.com/hashicorp/nomad/blob/v0.9.0-beta3/drivers/docker/utils.go#L85

The workaround for now is to add an email to the auth stanza. However, there was previously no requirement to set this field and I am unconvinced it's necessary. In addition, there is no warning or error raised and the code just silently drops the auth config.

Happy to put tog

[2019-03-13 05:27] prologic opened #5414 "chroot_env and files (not directories)"
Are bind-mounting files supported in the Exec driver with `chroot_env`?

Nomad version: 0.9-beta2 + local patches

Use-case: I'm trying to get `/etc/resolve.conf` populated from somewhere in the Exec runC containers -- currently I end up with 0-byte entries for things like `/etc/hosts` and `/etc/resolve.conf` in the containers.

[2019-03-13 05:28] prologic commented on #5414
This *might* be somewhat related to #5351 (*UNIX domain sockets are files too*).

[2019-03-13 05:39] prologic commented on #5414
To answer my own question; No this is not supported according to the [source code](https://github.com/hashicorp/nomad/blob/master/client/allocdir/task_dir.go#L187-L193)

Can we add this? Would you accept a PR that does?

[2019-03-13 09:02] dantoml commented on #5414
Hey!

We currently handle single files earlier in the `embedDirs` function here: https://github.com/hashicorp/nomad/blob/master/client/allocdir/task_dir.go#L159-L172, which gets either hardlinked or copied here: https://github.com/hashicorp/nomad/blob/master/client/allocdir/fs_unix.go#L84-L99.

Could you share some more information about your environment so that we can try to reproduce this?

[2019-03-13 09:12] prologic commented on #5414
I will create and post a reproducer tomorrow. Thanks  for pointing me to the code! (*I  missed this*)

[2019-03-13 12:11] dantoml commented on #5367
@Miserlou Hey, I'm trying to repro this and am also coming up fairly short, but there are a couple of things that would be useful to know:

1) What's the relationship of the node you're running `nomad status` on to the client that is running the allocation? (e.g same client, different client, totally unrelated node)
2) Roughly how many allocations are you running on the same node?
3) What is the o

[2019-03-13 12:52] dantoml commented on #5408
Hey @prologic,

Thanks for the test case, this bug is pretty interesting.

While running on macOS, on killing the binary I see the behaviour we expect to happen (but there is still a bug (1) with executor shutdown):
![image](https://user-images.githubusercontent.com/1330683/54279416-5f21b900-4595-11e9-9340-0b3eb09e7334.png)

However, when running on Ubuntu 18.04 I found two distinct failure modes.

[2019-03-13 14:30] Miserlou commented on #5367
That test had three dedicated servers and 10 nodes, each with 976GiB RAM, all the same Nomad software and I'm 99% sure it's the same Docker version that comes with Ubuntu. Allocations per node varies but can be in the hundreds.  We have downgraded back to 0.8.3 so I can't give you node-status anymore.

Docker logging is set to go to AWS CloudWatch logs, ex:

[code]

[2019-03-13 15:02] preetapan commented on #5396
@shantanugadgil we reproduced this after starting a raw exec task with the user not having execute permissions on the Nomad client's allocation directory . This was previously reported in #2723 so I am going to close this as a duplicate.

As a workaround, if you give the user you are trying to run as execute permissions to the data directory on the client you should see this job work again.

Thank

[2019-03-13 15:02] #5396 closed

[2019-03-13 17:01] unixfox opened #5417 "[driver plugin] OCI / containerd support"
https://containerd.io

Currently it's possible to interact with containerd on nomad only trough the Docker daemon.
It would be great to add the support for interacting directly with containerd without the Docker daemon just like Kubernetes is already doing: https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integration-goes-ga/
This would mean less memory usage because we wouldn't have to

[2019-03-13 17:36] akamac commented on #899
+1 for ability to attach containers to multiple networks

[2019-03-13 18:28] #5412 closed

[2019-03-13 19:04] tzahimizrahi commented on #5408
@dantoml could you confirm this is the same issue as #5363?

[2019-03-13 19:48] preetapan commented on #5412
@ed-alertedh Thanks for the report, fix is now merged and will be available in 0.9.0-rc

[2019-03-13 20:37] prologic commented on #5408
Hey @dantoml 2) is what we have observed precisely. Thanks for confirming! We are unable to really utilise macOS in any useful way as we're primarily using the `Exec` driver. But in general I do too notice the leaked executor and logmon proesseses.

[2019-03-13 20:38] prologic commented on #5408
@tzahimizrahi Very likely the same; but to be precise #5363 I believe is the "Symptom".

[2019-03-13 23:12] ed-alertedh commented on #5412
@preetapan great! thanks for fixing it so quickly. Is there any release schedule at the moment or is it just "when it's ready"?

[2019-03-14 00:47] ed-alertedh opened #5418 "Docker gelf logging driver causes infinite loop of error logs in 0.9-beta3"
### Nomad version
Nomad v0.9.0-beta3 (2f55f78)

### Operating system and Environment details
Ubuntu 16.04.5 LTS (amd64)
Docker version 18.09.3, build 774a1f4

### Issue
The new logging code tries to pull logs out of the docker container indefinitely but does not account for the fact that note all docker logging drivers suppport this operation, as per https://docs.docker.com/engine/api/v1.23/ :
[co

[2019-03-14 01:14] prologic commented on #5414
I apologise; I have re-checked and re-confirmed. This is my mistake and it was a bug on our end.

Our Artefact(s) had a 0-byte `/etc/resolv.conf` and our packaging tool had a bug/typo where I wasn't correctly excluding `etc/resolv.conf` when creating our tarballs for Nomad's Artefact via go-getter to consume and populate the allocation.

This resulted in a 0-byte `/etc/resolv.conf` in the Exec all

[2019-03-14 02:34] cgbaker commented on #5418
thanks, @ed-alertedh ... i just happened to run into this today while testing the docker `awslogs` logging driver. i've verified this and will file an internal issue for remediation.

[2019-03-14 02:54] shantanugadgil commented on #5396
Thanks for this. I'll try the above workaround.

As my Nomad is a systemd service, what comes to mind is the following as well:
https://www.freedesktop.org/software/systemd/man/systemd.exec.html#UMask=

Regards,
Shantanu Gadgil

[2019-03-14 03:42] johnzhanghua commented on #5408
This is a critical issue for a scheduler.  Can it be treated with higher priority ?  Thanks.

[2019-03-14 10:26] maximka777 commented on #2948
Hey @dadgar , is this behaviour documented somewhere?

[2019-03-14 12:37] dantoml commented on #5417
Hey @unixfox,

We've definitely chatted about the possibility of an [OCI](https://github.com/opencontainers/runtime-spec) driver for Nomad, because it would open up support for a wide range of container runtimes in one go.

However, this is something that's likely to be best served by an external driver plugin from 0.9 onwards, rather than as an internal driver.

I'm going to leave this open, tagg

[2019-03-14 13:40] dantoml commented on #5408
@prologic I'm curious as to see more of your nomad setup if you're seeing this consistently. Could you possibly share your client configuration and OS? (I'm trying to get a more reproducible failure case running for the undetected child termination now)

[2019-03-14 20:23] #5418 closed

[2019-03-14 23:42] prologic commented on #5408
What precisely do you want a repro of? I *thought* my repro case above was pretty clear. The config/OS I used above was `$ nomad agent -dev` on CentOS 7.5-1805

I can see there is a PR up to address part of this problem (*but not fully*) #5419

[2019-03-15 05:01] shantanugadgil commented on #4531
Hi, I too feel the need for something like this (liveness + readiness) often.
The use case would be:
don't start executing `healthcheck2` until `healthchech1` is passing.

Could Consul's "alias" type healthcheck help here?
https://www.consul.io/docs/agent/checks.html#alias

BTW, Nomad's documentation doesn't mention that the `alias` type is supported:
https://www.nomadproject.io/docs/job-specifica

[2019-03-15 11:04] i4s-pserrano commented on #4555
Any news about this issue? I have the same problem

[2019-03-15 12:12] dantoml commented on #5414
No problem @prologic - those are always 'interesting' to find, glad you managed to figure it out.

With `chroot_env` we mount resources with the same permissions they have on the host, but #5377  will allow for creating host mounts with different permissions models (outside of chroot_env).

[2019-03-15 12:12] #5414 closed

[2019-03-15 13:40] dantoml commented on #5408
@prologic OS config was what I was looking for, thanks :) - I've been failing to repro completely undetected loss of the user process again, which is quite unfortunate, and was hoping there might be a pointer there, but CentOS behaved as expected in my test.

I'll spin up a test harness and see if I can automate it.

[2019-03-15 15:00] c2nes commented on #5410
We experienced the same issue with a periodic job configured with a `30 * * * *` schedule and timezone "America/New_York" on Nomad 0.8.6.

The first problematic allocation was started at 2019-03-10T06:30:11.736Z. Once that allocation completed a new allocation for the same job instance was created. This cycled continued until this morning when we manually stopped the parent job and the child job i

[2019-03-17 07:40] johnzhanghua opened #5431 "repeated unhealthy task killed can not be restarted"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`
Nomad v0.8.7 (21a2d93eecf018ad2209a5eab6aae6c359267933+CHANGES)
### Operating system and Environment details
CentOS Linux release 7.3.1611 (Core)
### Issue
N

[2019-03-17 10:44] johnzhanghua commented on #5431
Sorry, looks to be the "update stanza" config. When enabled debug log.

2019-03-17T10:30:53.764610+00:00 demo nomad[11884]: 2019/03/17 10:30:53.764353 [DEBUG] nomad.deployment_watcher: deadline for deployment "da90e074-99b7-92b4-9c8c-8b4b56032321"hit and rollback is true
2019-03-17T10:30:53.772483+00:00 demo nomad[11884]: 2019/03/17 10:30:53.771216 [DEBUG] worker: dequeued evaluation 451d5487-7110

[2019-03-17 10:44] #5431 closed

[2019-03-17 18:05] xbglowx opened #5432 "TLS handshake error from <host>:<port>: tls: no cipher suite supported by both client and server"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue
AWS ELB heathcheck fails since TLS handshake can't be completed, even if all available cipher suite options on the ELB are selected.

A tcpdump [nomad.pcap.txt](https://github.com/hashicorp/nomad/files/2975507/nomad.pcap.txt)
 from one of the listeners (Nomad master) shows that the ELB supports cipher suites t

[2019-03-17 19:44] xbglowx commented on #5432
`even if all available cipher suite options on the ELB are selected.`

Just realized that my changes to `ELB security policy` had no affect on the heathcheck between the ELB and Nomad master: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies

[2019-03-18 20:44] schmichael commented on #5367
Thanks for all of the testing and information @Miserlou ! We think #5420 fixed it. RC should be coming out shortly, but I created a one-off amd64 Linux build if you want to test it!

[nomad-b3bedeb33-linux_amd64.gz](https://github.com/hashicorp/nomad/files/2980223/nomad-b3bedeb33-linux_amd64.gz)

Going to close, but please reopen if the issue persists.

[2019-03-18 20:44] #5367 closed

[2019-03-19 12:40] notnoop commented on #5432
Thank you @xbglowx for reporting this - I'll investigate this one this week and report back with any findings!

[2019-03-19 16:10] giuseppe7 opened #5440 "[question] Rolling Deploys and -1 vs +1 on scale"
My apologies if this is not the preferred location for question. Could you provide the reasoning as to why the rolling deploys would diminish capacity by N instead of increase capacity by N?  If I were to run a small cluster of `foo` with 5 instances, doing the rolling deploy with max_parallel of 1 would still leave me diminished by 20% at first, where both tear down (which is quick) happens befor

[2019-03-19 16:26] xbglowx commented on #5432
Hi @notnoop,

I just did a Nomad config change by adding one of the ELB cipher suites (`tls_cipher_suites = "TLS_RSA_WITH_AES_256_GCM_SHA384"`) and it worked. I guess I quickly thought that there was overlap of the ELB defaults and Nomad defaults, since names look so similar.

How did the default list of Nomad cipher suites come about after 0.8.3 release?

[2019-03-19 17:40] notnoop commented on #5432
Great!  I'm glad you are unblocked.  You identified the right workaround.

The issue is that in Nomad 0.8.4, we restricted the default tls cipher suites to ones reommended by Mozilla modern server-side tls cipher suites[1] by default [2].

Upon inspection, the AWS ELB client currently supports only 29 ciphers that don't overlap with our chosen modern cipher selection.

The suggested solution for n

[2019-03-19 17:46] xbglowx commented on #5432
@notnoop  how does one add more than just one cipher suite to the nomad config (`tls_cipher_suites`). The [docs](https://www.nomadproject.io/docs/configuration/tls.html#tls_cipher_suites) say it should take a list of strings, but when I try that, I get an error?

Config:

[code]

Error:

[code]

[2019-03-19 17:53] xbglowx commented on #5432
The recommended servier-side cipher suites from Mozilla mentions:

[code]

I got a feeling that Nomad should not use this list exclusively just yet, since it needs to be backward compatible for older clients, i.e. ELBs.

[2019-03-19 17:56] notnoop commented on #5432
@xbglowx you can use a comma separated string, like:

[code]

https://github.com/hashicorp/nomad/pull/5441 fixes this doc discrepancy, sorry about that!

[2019-03-19 18:07] xbglowx commented on #5432
@notnoop thanks for fixing the docs.

[2019-03-20 03:29] prologic opened #5444 "Go11Modules go.mod?"
How are you guys managing dependencies? I see a `vendor/` directory but nothing managing it? Would you accept a PR that adds a `go.mod` and `go.sum` based off of what's currently in `vendor/`?

[2019-03-20 03:31] prologic opened #5445 "Upgrade go-getter"
Need to upgrade the version of [go-getter](https://github.com/hashicorp/go-getter) used to include the fix in hashicorp/go-getter#171

Also somewhat related (*because of dependency management*) #5444

[2019-03-20 05:38] prologic opened #5447 "Creating release binaries?"
I'm trying to cross-compile a fairly recent version of master (*actually [this branch](https://github.com/prologic/nomad/tree/update_go-getter) which I have #5446 up for*) using the `prerelease` and `release` targets in your [GNUMakefile](/GNUMakefile) as per documentation.

This doesn't work however:

[code]

What am I doing wrong? Is this failing because of the linter warnings? Have we merged co

[2019-03-20 10:20] rolandjohann opened #5448 "[feature] Expose interpolated service names for allocations"
### Issue
I'm dealing with a use case that requires each task to register an own service with names that contain nomad env vars like `${NOMAD_ALLOC_INDEX}`. Output of `curl nomad:4646/v1/job/<job-id>` contains raw job description and therefore only raw service definitions with template vars in service names - which is reasonable. Output of `nomad alloc-status -json <alloc-id>` contains the field `

[2019-03-20 12:06] notnoop commented on #5444
Thanks @prologic for the offer.  As you have figured out already, we are currently using [govendor](https://github.com/kardianos/govendor).

We intend to switch to using `go mod` after releasing 0.9, and there is an ongoing effort to adopt go modules across the HashiCorp organization.  Our initial research pointed to few trade-offs in setting nomad repo as a single module; e.g. needing to have `/a

[2019-03-20 12:15] notnoop commented on #5447
That's odd and it doesn't match our "Linting source code" experience in CI: e.g. https://travis-ci.org/hashicorp/nomad/jobs/508879932 .  It's curious that all warnings are related to test files and I wonder if there is a configuration difference in there.

I'll look into this when I get a chance.

[2019-03-20 16:23] atrauzzi commented on #3491
Just encountered this today, based on all the discussion I'm still not 100% clear on what the best course of action is.

[2019-03-20 19:14] hvindin opened #5451 "[question] Is there a common pattern for imposing egress restrictions on nomad scheduled containers?"
# Question
Is there a common pattern, a general recommendation, or even just an example of how one would impose egress traffic restrictions on jobs scheduled with nomad? I'm sure I could hack something up with the basic Linux tooling (ie. iptables and bridge networking NICs) to force restrictions on traffic outbound from a container, but I suspect I'm not the first person who might want to achieve

[2019-03-20 21:06] schmichael opened #5452 "Add denormalized Eval.DequeueID RPC"
#5407 made me realize that thanks to #5381 there's no reason to serialize the whole Evaluation over the Dequeue RPC because the worker will wait until the Eval is available locally before processing it. #5411 makes retrieving the Eval from the state store even easier.

## Proposal

A new RPC could be added - `DequeueID` - that replaces the `*structs.Evaluation` in the response with just an `EvalID

[2019-03-21 01:04] notnoop commented on #5408
@prologic Thanks for your patience in this one and it does sound like a very serious bug that we are prioritizing.  However, I feel like there are some confounding issues that may mask what's going on.

First, how often do you notice nomad not detecting a process being killed out-of-band and how reproducible is it in your environment?  Would you be able to demonstrate the case in a Vagrant setup?

[2019-03-21 13:09] cudacoder opened #5453 "ECR Repo Issue: Credentials not found in native keychain"
### Nomad version
Nomad v0.8.6 (ab54ebcfcde062e9482558b7c052702d4cb8aa1b+CHANGES)

### Operating system and Environment details
Ubuntu 16.04.6 LTS

### Issue
Nomad seems to acknowledge the `config.json` file, but the error is nothing like any of the others that were reported, please see Nomad Client error below.
Manual pull in server works as expected:
`docker pull <XYZ>.dkr.ecr.eu-west-1.amazonaw

[2019-03-21 17:27] john-lay opened #5455 "[question] Using environment variables from another group"
I have a job with a number of groups and would like to reference a `NOMAD_ADDR...` from another group.

The variable that I think should contain the information I want, is not bound.

I have read the [documentation](https://www.nomadproject.io/docs/runtime/environment.html) for runtime environment variables, and I thought you could use `NOMAD_ADDR_<task>_<label>` to reference ports within the same

[2019-03-21 19:44] luismiguelospinaglobant opened #5458 "[question] Send a different kill signal to the Docker container according to the event that triggers it"
Multiple events can trigger a Nomad Batch Job to be terminated (shut down) such as:
- User Canceling the Job
- Nomad Moving the allocation to a new node
- Nomad node itself going down

Is it possible to send a different signal according to the event that triggered it to my Docker container (Running a JAR Application) so i can react according to the signal that Nomad Sent?

[2019-03-22 01:42] prologic opened #5459 "Template failed to send signals [user defined signal 1]: 1 error(s) occurred: * Task not running"
Using Nomad 0.9.0-beta3 here.

I have a haproxy task that I'm trying to restart on template changes (*from Consul Template*) but the entire task/group fails with:

[code]

And the job remains in a failed state.

Job spec looks something like this:

[code]

Couple of questions:

* Why do we see this "process not found" on a template change and signal-based restart?
* Why does the job remain in a fa

[2019-03-22 01:44] prologic commented on #5459
Full `nomad alloc status` logs:

[code]

[2019-03-22 01:48] prologic commented on #5459
The overall state also seems wrong; the UI is showing "Running" but all task groups are in a "failed" state and not going anywhere.
![Screen Shot 2019-03-22 at 11 45 43 am](https://user-images.githubusercontent.com/1290234/54795495-2a4dea00-4c98-11e9-966d-de23bcc85808.png)

[2019-03-22 01:53] prologic commented on #5459
In fact the Job and its tasks just continue to fail even after a restart:

[code]

I don't actually expect the template to have changed in this case (*after a stable cluster*) -- But it does anyway?

[2019-03-22 03:42] prologic commented on #5459
Changing to `change_mode = "restart"` seems to work for me as a "work around". I'd still love to dig inot why `change_mode = "signal"` is so britle here; but alas I don't have the bandwidth today; so filing here for visibility.

[2019-03-22 04:04] prologic commented on #5408
@notnoop this is not a proper response; I'll try to find the time next week to go over the repro again and share more of what I find.

[2019-03-22 14:08] pznamensky commented on #5440
It leads to another problem in cases when you're deploying tasks which can't start because of failed code in container or similar. In this case, after several deploys, it would be no running instances at all.
I'm voting for increasing capacity at deploy.

[2019-03-22 14:20] notnoop commented on #5458
Nope - it's not possible currently.

It's worth noting that processes may die unexpectedly without being able to handle the signal (e.g. by SIGKILL, node crash to a kernel bug, etc); so I would be hesitant to rely on signals for cleanup or additional work.

[2019-03-22 14:20] #5458 closed

[2019-03-22 14:36] notnoop commented on #5440
Good question.  Rolling deploys is currently designed to roll out services without requiring additional cluster capacity.

We recommend using canaries when upgrading new code to be inspected, and canaries use surge capacity in addition to the main, and when promoting them, you should have the expected number of services running at all times, and we intend to improve that flow with automatic canary

[2019-03-22 14:36] #5440 closed

[2019-03-22 16:29] #5447 closed

[2019-03-22 16:36] samm-git opened #5462 "[question] is it possible to limit number of childs in periodic jobs?"
I am trying to understand if its possible to limit number of periodic job childs somehow.

E.g. i do have a periodic job running every 15 minutes which normally exits in a 5-30m. It is fine to have <n> concurrent jobs, however, if due some bugs in the code this jobs would start hanging - one such parent and it childs will exhaust all cluster resources very soon as number of concurrent jobs will gr

[2019-03-22 18:56] atrauzzi commented on #2633
Chiming in to say that I've just encountered this issue.  A bit disappointed after reading the last comment.

Not being able to run linux containers via nomad on Windows completely blocks what I'm currently working on.  Worse still is that the first container I tried to run doesn't even have bind mounts configured!

Microsoft and Docker have been putting a lot of work into ensuring that Docker Des

[2019-03-22 19:40] perrymanuk commented on #5345
I ran into this as well but just relabeled the `job` coming from nomad to `job_name`

[2019-03-22 20:07] schmichael commented on #2633
That's fantastic and was not the case when this ticket was originally written! Originally Docker on Windows was modal and only supported one image type at a time. That may nullify the `Add new attr.driver.docker.container_mode to expose Docker mode to constraints` checkbox above and make implementation even easier.

[2019-03-22 20:19] notnoop commented on #5459
That's quite intriguing - I'm investigating this now.  Mind if you post haproxy config file as well?  I haven't been able to reproduce the "Task not running" part.  Also, I assume this running on centos 7 as well?

It's very peculiar that the task was terminated immediately when the template was re-rendered but the event about signaling failure occurred 4 seconds later:
[code]

This is the confusi

[2019-03-22 20:21] schmichael commented on #5462
Currently you cannot specify a run limit for periodic batch jobs. You may want to track #1782 as timeouts might be useful for your use case when implemented.

That being said one workaround would be to use constraints, probably node_class, to limit the number of nodes the periodic batch jobs could run on. For example if you have 5 servers with `node_class=periodic` that have 30gb of memory, and ea

[2019-03-22 20:21] #5462 closed

[2019-03-22 22:08] notnoop commented on #5455
`NOMAD_ADDR_<label>` for a task is defined only for that tasks' ports, not any other task or task group.  For your case, I'd suggest service discovery patterns using consul and consul template.  You can check out [consul service registration](https://www.nomadproject.io/docs/job-specification/service.html) and consul templates support details in https://www.nomadproject.io/docs/job-specification/t