[2017-09-11 10:21] jorgemarey commented on #2689
Hi @dadgar

I just noticed this again on a cluster with nomad v0.6.2, consul 0.9.2 and vault 0.8.2. We just had a problem with consul (used as storage for vault) and at that time we started seeing all allocations being re-scheduled.

Some logs:

[code]

It seems the same problem. When our nomad cluster can't reach vault correctly it marks all nodes as down. I don't know why this happens, maybe it'

[2017-09-11 16:13] frundh commented on #2633
We are also a Windows-shop facing the same issue when it comes to local development and testing, so this feature would be a nice addition.

Since this is only required for local development, I have experimented with some alternative solutions/hacks that I can share if anybody is interested:

**Docker Image**
https://github.com/frundh/nomad-mobyvm

**Nomad.exe**
https://github.com/frundh/nomad/rele

[2017-09-11 16:31] #3182 closed

[2017-09-11 16:38] dadgar commented on #3189
Hey,

The fact that there is a file is an implementation detail. We are using consul-template under the hood and parse the resulting file. The template block should only be used when necessary as it is has runtime implications where the env stanza is very light weight and static.

[2017-09-11 16:38] #3189 closed

[2017-09-11 16:46] schmichael commented on #2435
@arianvp Great question!

The env var implementation writes environment variables to a file in the alloc directory for a couple reasons:
1. Easier to debug - if we just rendered env vars in memory and your task couldn't start due to improperly rendered env vars it would be very difficult to debug.
2. Reuse existing template functionality - not only was I able to reuse the existing template code, b

[2017-09-11 16:47] dadgar commented on #1982
This has been fixed since v0.5.5

[2017-09-11 16:47] #1982 closed

[2017-09-11 16:56] #3181 closed

[2017-09-11 17:13] dadgar commented on #2689
@jorgemarey Sorry haven't had time to reproduce this yet. Would you mind trying to distill it down to as simple of reproduction steps as possible?

[2017-09-11 17:28] schmichael commented on #2435
@margueritepd Sorry for the slow update! I posted to the list: https://groups.google.com/d/msg/nomad-tool/W7hSJGBlmlM/E2RLNDFwAgAJ

Sadly I was wrong and #2654 didn't address this use case as artifacts are downloaded before templates are rendered. Follow #1185 for arbitrary jobspec templating including vault secrets.

[2017-09-12 00:03] dadgar commented on #2689
@jorgemarey I got this to reproduce! Thanks!

[2017-09-12 02:26] epipho commented on #3188
Tested fix from #3191, all is better, metrics are emitting correctly.  Thanks for the quick fix.

[2017-09-12 08:14] adamlc opened #3197 "0.6.3 Issue with templates being re-rendered every few seconds."
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
centos-release-7-3.1611.el7.centos.x86_64

### Issue
We're currently on Nomad 0.6.0 in production with no issues. After trying a new 0.6.3 we're getting problems with our templates on jobs. Every few seconds the template is re-rendered and a SIGHUP us sent to the containers. This happens continuously even though the data

[2017-09-12 08:14] adamlc commented on #3133
@dadgar I've opened #3197 :)

[2017-09-12 08:33] ummecasino opened #3198 "Nomad running more services than desired task count"
Nomad version: 0.6.0

I'm not shure if this is a possible issue or just a question for which I need clarification: We have returning problems with the count of actual deployed services versus the desired count in the job description.

The following service is actually running with 2 instances, the desired count is 1. I try to give all the information can gather, I'll append the job file.
[job.txt]

[2017-09-12 08:43] adamlc commented on #3197
Just a quick note, nomad is currently using root tokens to ensure it isn't a token permission issue.

[2017-09-12 14:06] jorgemarey commented on #2689
Awesome! Thanks a lot @dadgar !

[2017-09-12 14:27] sethvargo commented on #3197
Root tokens are not renewable, so you'll need to disable that or use a periodic root token. That's one of the errors you're seeing.

[2017-09-12 15:22] lgfausak commented on #3159
@rodrigozc I am experiencing this same error.  I did try completely reinstalling nomad and consul and I still see the errors.  Maybe I am not clearing out consul completely?

[2017-09-12 16:47] dadgar commented on #3197
@sethvargo Nomad server has root token, the instance of Consul-template doesn't have root. It has a renewable periodic token with the `rabbitmq` policy.

@adamlc This is likely a consul-template bug. Can you reproduce this behavior by running an instance of consul-template with that template?

[2017-09-12 16:58] dadgar commented on #3198
@ummecasino Can you grab the output of `curl http://127.0.0.1:4646/v1/job/<job>/evaluations?pretty=true` and `/v1/job/<job>/allocations?pretty=true`

[2017-09-12 17:08] shantanugadgil commented on #3198
i haven't gone through the details of the reported issue, but sometimes I see **two** dockers running instead of **one** (for any of my services).
This happens if the Docker is upgraded when I do a full system upgrade (`yum -y update`)

When I reboot my compute machine, the number of Dockers is back to their expected count.

-
Shantanu

[2017-09-12 18:39] schmichael opened #3200 "nomad agent -dev should not explicitly bind to localhost"
Because `nomad agent -dev` explicitly binds and advertises `localhost`, all services registered with Consul will have their address set to `localhost`. So out of the box service discovery is broken for our `example.nomad` job file as it will advertise `localhost` but only listen on a private IP address.

As of 0.6 Nomad should choose the proper bind and advertise addresses by default, so there's n

[2017-09-12 18:44] Matvey-Kuk commented on #3200
+1

[2017-09-12 20:22] nugend commented on #1755
I see that 0.7 is now in the works. Is this story going to be included in that release or is it still targeted for a 0.6.X release?

[2017-09-13 07:36] ummecasino commented on #3198
@dadgar Sorry, I had to redeploy the service because it's in our QA environment, the evaluation and allocation for the concerning have already been garbage collected. (btw. is there something like a best practice to archive allocations for later analysis?)

@shantanugadgil I don't think that this caused the problem, we had no updates etc. in the meantime

[2017-09-13 14:53] fho commented on #3141
@dadgar the problem still happens with nomad 0.6.3.

[code]

[2017-09-13 17:30] dadgar commented on #3141
@fho Sorry about that. Added tests to cover all possible values and have fixed this.

[2017-09-13 20:51] dadgar commented on #3198
@ummecasino No worries, I am fairly confident that I have the fix for what you hit based on a report from another user. What makes me confident is the time stamps that the two allocs were made at are the same and the fact that they are from separate evaluations.

I would grab the relevant allocations and evals using the commands I showed. Often what it requires to debug is different per issue but

[2017-09-13 22:07] schmichael opened #3207 "rkt doesn't handle --net=host"
rkt needs explicit port mappings except when it's in host networking mode where port mappings are disallowed. Unfortunately Nomad always requires port mappings for rkt tasks with reserved ports.

Relevant code: https://github.com/hashicorp/nomad/blob/v0.6.3/client/driver/rkt.go#L396-L411

### Solution

Skip port mappings validation and setup when network mode is `host`

[2017-09-13 23:24] vrenjith opened #3208 "[Question] Running System Job in Server Nodes"
We have the scenario where we need to run a process on every node in the cluster (including servers and clients). Do we have a way to achieve this?

[2017-09-13 23:51] dadgar commented on #3208
You could run the servers with a client on them.

[code]

I would recommend setting them in a unique dc so that your jobs would only be placed on the servers in very specific cases. You should avoid running jobs on the server in all most all production cases.

[2017-09-13 23:51] #3208 closed

[2017-09-14 10:20] hamann opened #3210 "Completed batch jobs with leader task and second task switch to pending state after node drain"
### Nomad version
Nomad v0.6.3
also reproducable with v0.6.0

### Operating system and Environment details
coreos 1492.1.0 and/or alpine vm in docker-for-mac

### Issue

If we drain the agent, where the batch job was allocated and in dead state, the job switches back to pending

### Reproduction steps

This is reproducable in a multi-master/-agent cluster, but also with a single nomad agent runnin

[2017-09-14 10:58] afterdesign commented on #2851
This is exactly the usecase I wanted to use nomad for. As I've in debug log every task is spawning new process so this might be a bit problematic to do. But if there could be option to create process only for one task at a time then this could work.

[2017-09-14 11:09] shantanugadgil commented on #2851
@dadgar

I think, 'chaining tasks within a job' and creating dependencies among jobs, both would be useful features.
Something analogous to Terraform's "depend_on" 😄
(task 2 runs only after task 1 finishes, etc.)

[2017-09-14 11:26] jorgemarey opened #3211 "Consul check changing due to randomly output on /agent/servers"
Hi,

I found out that the blocking queries that we we're performing over consul healthchecks were changing usually.

Doing some debuging I saw that this behaviour is triggered by nomad.  The check that nomad registers on consul is on /v1/agent/servers. The problem is that this endpoint returns the servers randomly (ordered by priority for what I saw on the code, but it seems to change frequently).

[2017-09-14 12:55] hamann opened #3212 ""nomad status" returns 500 for jobs with hyphens in names"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
docker-for-mac/alpine 17.06.2

### Issue

[code]

### Reproduction steps

[code]

[2017-09-14 16:54] dadgar commented on #3212
Hey this PR fixes it: https://github.com/hashicorp/nomad/pull/3203

Will be in 0.7.0. Sorry about this. A work around is to use `nomad job status` in the mean time.

[2017-09-14 16:54] #3212 closed

[2017-09-14 17:51] dadgar commented on #3197
@adamlc Any update?

[2017-09-14 17:58] stevenscg commented on #3197
I found this issue in the google group and dadgar pointed me here.

For me, it looked like the old mysql database backend was all that was affected, but I think it is probably more than that.

I am not using a root token, but a token from the aws-ec2 auth backend.

I just upgraded my test cluster from 0.6.0 to 0.6.3 and hit this. The update rate on the renewer is so fast that I had to shut everyth

[2017-09-14 17:59] dadgar commented on #3197
@stevenscg Can you attempt to run your config with just the newest consul-template. I am almost certain it is a bug in that codebase.

[2017-09-14 18:24] nugend opened #3215 "v1/job/invalid_job_id/allocations (and others) return 200 and value rather than 404"
### Nomad version
Nomad v0.6.0

### Operating system and Environment details
 3.10.0-327.36.3.el7.x86_64

### Issue
The nomad HTTP API at `v1/job/any-invalid-job-id/allocations` returns an empty JSON list and a 200 response code. The `v1/job/any-invalid-job-id` endpoint returns a 404 response code.

I don't know what assumptions are made about what this endpoint *should* be returning, but my feeli

[2017-09-14 18:26] dadgar commented on #3215
Hey I am closing as a duplicate of: https://github.com/hashicorp/nomad/issues/2994

[2017-09-14 18:26] #3215 closed

[2017-09-14 18:28] nugend commented on #3215
Sorry. Looked for it, but didn't find it.

[2017-09-14 19:13] stevenscg commented on #3197
@dadgar I might be able to do that in a dev environment. It won't be the exact same setup, but the template and vault database backend and vault roles and policies will be. Might be tomorrow at the earliest. Are you looking for anything in particular.

I just finished rolling back the test environment to 0.6.0 and the issue appears to be gone.

[2017-09-14 19:25] dadgar commented on #3197
@stevenscg That would be awesome. Mainly looking for as simple of a reproduction step as possible with just consul-template. If you could grab the debug level logs as well when you invoke that would be 👍

[2017-09-14 19:33] stevenscg commented on #3197
Will do.

FWIW, this is fairly representative of what I was seeing:
[code]

That doesn't tell me much, but it might come in handy. It was fast too. The local syslog daemons couldn't keep up with it.

[2017-09-14 19:34] dadgar commented on #3197
@stevenscg What is the lease duration on secrets from: database/creds/billing

[2017-09-14 19:37] stevenscg commented on #3197
@dadgar

[code]

Max ttl is 24h. Defaults for the backend, IIR.

[2017-09-14 20:43] diptanu opened #3216 "Stats for allocation garbage collection"
Nomad currently doesn't clean up orphaned garbage collection and there is no way for operators to know if it's cleaning up allocation directories unless disk space starts running out.

We need stats which indicate client side garbage collection success and failure rates.

I can submit a PR in the next few days.

[2017-09-14 21:09] #2689 closed

[2017-09-14 21:22] #3211 closed

[2017-09-14 21:26] angrycub opened #3218 "Windows Docker containers always advertise Docker IP regardless of `address_mode`"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
Windows Server 2016

Output from `docker version`
Client:
 Version:      17.06.1-ee-2
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   8e43158
 Built:        Wed Aug 23 21:16:53 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.06.1-ee-2
 API version:  1.30 (minimum version 1.24)
 Go version:   go1.8.3

[2017-09-14 21:29] #3198 closed

[2017-09-14 22:11] #3210 closed

[2017-09-14 22:52] danielwpz commented on #698
Really useful feature! Please do it :D

[2017-09-15 06:44] adamlc commented on #3197
Sorry I haven't had time to look at this yet. I'll give it a go later if I have time :)

[2017-09-15 15:49] pznamensky opened #3223 "nomad client doesn't reconnecting to nomad servers"
### Nomad version
Nomad v0.7.0-dev (75221f98082deb89ad4bb5ed13190f7f7fe631f2)

### Operating system and Environment details
Centos 7.4
Linux 4.9

### Issue
Nomad client doesn't exit and doesn't keep trying to connect to nomad servers if there was an error in name resolution at start up.
That's why nomad can't get began works himself and supervisor doesn't restart nomad because it still running.

#

[2017-09-15 16:02] angrycub commented on #3218
Adding the network_interface attribute to the client stanza of the configuration allowed to the node to properly advertise this host address.   I am still exploring the edges around this solution though.  It was observed that TCP based health checks would fail when configured this way.

[2017-09-15 23:45] nugend opened #3227 "Client not starting a placed allocation"
### Nomad version
0.6.0

I had an issue recently where a number of batch jobs were pending, but they didn't seemed to be blocked on any resource. While tailing the logs, nomad seemed to be in a loop trying to allocate a service job whose sole task was starting and exiting extremely quickly (it had a bad configuration and was using the default restart stanza). I did try stopping it to see if that w

[2017-09-16 01:22] stevenscg commented on #3197
@dadgar I just tried rendering the same template from before using the `consul-template 0.19.3` release:
[code]
It seems to cycle through this every 1-5 seconds.

If I downgrade C/T to 0.19.2 and run the same setup in-place, the pattern is different:
[code]

The `[DEBUG] (runner) all templates rendered` line only shows up 1 time with C/T v0.19.2 vs with every 1-5 second interval with C/T v0.19.3.

[2017-09-16 02:09] stevenscg commented on #3197
@dadgar Another datapoint.... I went back to C/T v0.19.3 and dropped the mysql backend TTL from 1h to 5m and *was* able to trigger the renewer problem I saw in our deployed environment yesterday.

In fact, any TTL smaller than about 18 minutes on this particular system would trigger the issue. 30 minute TTL was reliably stable. This system is very lightly loaded FWIW.

The C/T output when the issu

[2017-09-16 03:37] epipho opened #3228 "Incorrect CPU Usage Metrics"
### Nomad version
Output from `nomad version`
Nomad v0.6.3

### Operating system and Environment details
AWS r4.large instance (2 cores, fingerprint as 3000Mhz each)
CoreOS Container Linux 1465
Docker 17.05.0-ce

### Issue
Allocation Resource Utilization for allocations is incorrect, reporting using way more CPU than is available on the host.

Both nomad CLI and the API agree on the (incorrect) nu

[2017-09-16 05:09] epipho commented on #3228
Ok, this was a weird one.

https://github.com/hashicorp/nomad/blob/master/client/driver/docker.go#L1660 uses the length of the per-cpu usage array to calculate the number of cores.

However, the docker stats API is not returning the expected 2 cores, it is returning 15 (see output below). Not sure if this is related to the underlying hardware (I tested it on a few random t2, c4, r4, r3, m4 instanc

[2017-09-16 21:46] alxark opened #3230 "[question] update failed/unhealthy allocation first"
Hello. I'm using nomad to run MySQL server. Sometimes my MySQL instances become failed ( according to healthcheck) and i want to upload fixed to servers configuration (i'm using custom mysql control scripts for replication and auto failover). Today i found that during deployment nomad don't check if allocation healthy or not and just update it. I would like to change this behaviour and update unhe

[2017-09-17 09:53] ArmedGuy commented on #3161
After getting a hang of the project structure we are starting to wonder if this goal is achievable?
The nomad client would run on XenServer's dom0 VM, and would therefore report both dom0:s CPUs and RAM available. (Which is far less than what a node has).
It seems to be possible to override CPU and network reporting, but not RAM.
I would presume that the correct way to utilize cluster resources is

[2017-09-17 12:33] lgfausak opened #3236 "nomad upgrade from 0.5.6 to 0.6.3 cause nomad job runs to fail"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.6.3

### Operating system and Environment details
redhat Linux hypervisor-03 3.10.0-514.6.1.el7.x86_64 #1 SMP Sat Dec 10 11:15:38 EST 2016 x86_64 x86_64 x86_64 GNU/Linux

### I

[2017-09-17 17:50] chelseakomlo opened #3238 "ACL policy delete returns success even if a policy doesn't exist"
### Nomad version
0.7 beta

### Issue

For a policy that has been previously created:
`$ nomad acl policy delete my_policy`

Output:
`Successfully deleted my_policy policy!`

However, the same output is returned even for a policy that does not exist.

[2017-09-17 17:51] #3228 closed

[2017-09-17 17:51] dadgar commented on #3228
@epipho Awesome write up and thanks for the PR 👍

[2017-09-17 18:16] chelseakomlo opened #3239 "ACL CLI does not validate policy rules when creating a new policy"
### Nomad version
Nomad v0.7.0-dev

### Issue
A policy of the following syntax:

[code]
Can be successfully created via the `nomad acl policy apply` command.

[2017-09-18 02:38] #876 closed

[2017-09-18 04:31] shantanugadgil commented on #3161
hi @ArmedGuy
in case you are exploring a new driver for Nomad, may I suggest LXD?
https://linuxcontainers.org/
https://linuxcontainers.org/lxd/news/

Nomad doesn't have first class support for LXD (yet, I hope)
ref: https://github.com/hashicorp/nomad/issues/2196

Now that LXD 2.17 has differential image download, it is quite "competitive" with Docker for people arguing about download sizes.

For n

[2017-09-18 07:14] ryanmickler opened #3242 "[feature-request] Allow specifying port ranges in network stanza"
I have a 'system' job that starts couchbase server instances, using the official couchbase server container. This container needs a lot of ports open (e.g. 21100-21299) to share data when running in clustered mode. The only way we've been able to get this to work

[code]
in the network block, and a similar thing in the `port_map` block. (you can imagine how huge the jobfile has become)

Is there a

[2017-09-18 10:55] alxark opened #3243 "[question] dynamic group count / miss group count"
Hello. I'm facing following problem: i need to deploy job with several groups by i don't want to change count of group instances and use it from current environment. This happens because i'm using hashi-ui to control number of group instances. Is there any way to skip count from group definition? I think it might be better to add options like count_min and count_max

[2017-09-18 13:00] wuub opened #3244 "Deployment objects are not garbage collected"
### Nomad version
0.6.3

### Issue
As mentioned in #3157, during normal use the number of objects returned by `nomad deployment list` increases without any apparent bound.

### Reproduction steps
1. Use nomad cluster for a while.
2.
[code]
3. Cry.

While I do not see any performance or stability hit as of now, I'm starting to get interested in knowing where we will start to observe some kind of cl

[2017-09-18 16:08] schmichael opened #3245 "Incorrect TLS uses too much CPU"
If filing a bug please include the following:

### Nomad version

[code]

### Operating system and Environment details

### Issue

### Reproduction steps

1. Give Nomad wrong certificates
2. Watch CPU burn

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropriate)

### Job file (if appropriate)

[2017-09-18 19:33] epipho commented on #3223
I am seeing what I believe is a variant of this bug.

- Nomad servers are specified using a hostname (A record w/ multiple IPs).
- Take one of the servers offline
- On startup, nomad client resolves ones, if it picks the down server IP it will never re-resolve and thus never connect.

[2017-09-19 05:45] sullivanchan commented on #698
I have do some verification follow @jippi suggestion, and data = "{{ key apps/app1/app1/${NOMAD_ALLOC_INDEX} }}" in template stanza, but job start always pending, seems env just get by https://www.nomadproject.io/docs/job-specification/template.html#inline-template {{ env "ENV_VAR" }}, i want to know how to integrate env variable into key string, does anybody have the same question?

[2017-09-19 08:52] mildred commented on #698
This is standard golang template:
[code]

[2017-09-19 08:52] mildred commented on #698
I suggest you use `keyOrDefault` instead of just `key` which will prevent your service to start unless the key exists in consul.

[2017-09-19 09:16] adamlc commented on #3197
@dadgar I've just tried using consul template and it seems to work as expected, it doesn't constantly cycle the credentials like nomad does:

[code]

Using the same template as my nomad file. Also using a root token here. (Just thought I'd mention I've tried using a root token in Nomad and one supplied by ec2-auth, both have the same results)

[code]

[2017-09-19 09:30] heimweh opened #3246 "Vendored gziphandler dependency breaks nomad logs 0.7.0-dev"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Nomad v0.7.0-dev

### Operating system and Environment details
Ubuntu 16.04.3 LTS

### Issue
Unable to view/tail logs. Printing out the error from `dec.Decode(&frame)` reveals: Got an e

[2017-09-19 11:59] SoMuchToGrok opened #3247 "[feature] Support graceful reloading of TLS configuration"
Within the TLS configuration stanza for nomad servers and clients, changes to cert_file or ca_file require a full service restart. This can be cumbersome in an environment that frequently rotates its PKI.

[code]

Is it feasible to implement on-the-fly changes by sending a SIGHUP (i.e. the pattern that Vault server utilizes)? This would be an invaluable feature for us and would drastically reduce

[2017-09-19 16:34] #3246 closed

[2017-09-19 16:34] dadgar commented on #3246
@heimweh Thanks! It was a bug in the upstream vendor library!

[2017-09-19 17:00] nugend opened #3251 "CLI Support for Force Periodic"
As mentioned in the PR for the Force Periodic API: https://github.com/hashicorp/nomad/pull/668

[2017-09-19 17:54] ethankhall opened #3252 "Registering Jobs Takes about 0.2s"
## Use case that we're testing
We are trying to see how well our build jobs can be scheduled onto nomad. We have an average of 2 QPS, but will burst to 5000 QPS from time to time. Currently we're creating independant jobs each with a single task (we're not parameterizing). We may be able to pull out templates from the job and break them into several parameterized jobs, but that's not how we're tes

[2017-09-19 19:01] heimweh commented on #3246
Huge thanks @dadgar for resolving this so quickly! :)

[2017-09-20 18:18] ashmckenzie commented on #278
nomad 0.7 beta now includes a sweet UI :)

[2017-09-20 18:42] ashmckenzie opened #3254 "logs by job ID/allocation ID returns Unexpected response code: 500"
### Nomad version
`Nomad v0.7.0-beta1`, also applicable to `Nomad v0.6.3`

### Operating system and Environment details
macOS 10.12.6 (16G29)
Docker Version 17.09.0-ce-rc2-mac29 (19275), Channel: edge, 967c7199b8

### Issue

When attempting to access the logs for an allocation, the following error appears:

`Error reading file: Unexpected response code: 500 (log entry for task "server" and log typ

[2017-09-20 18:50] ashmckenzie commented on #3254
Also, the `alloc/logs` dir is empty:

[code]

[2017-09-20 19:09] schmichael commented on #3254
Unfortunately logs don't work with Docker for Mac: https://www.nomadproject.io/docs/drivers/docker.html#docker-for-mac-caveats

[2017-09-20 19:09] #3254 closed

[2017-09-20 19:18] ashmckenzie commented on #3254
Ah dang, thanks and apologies for not digging further :(  Doesn't look like it's easy either to detect Docker running as Docker for Mac to be able to show a warning, bummer :(

[2017-09-20 19:54] kyle-crumpton commented on #3218
One thing to note with regards to the service stanza (may or may not be related to this ticket) -

On Windows using the Docker Driver, when we specify the network_interface in the client config, it uses the container's IP to register instead of the host's IP address when registering the service in Consul. Setting address mode to "host" seems to fix this, but I'm not sure this is the desired defaul

[2017-09-20 20:04] ryanmickler opened #3255 "[question] [security] Anyone who can submit Nomad jobs has access to all secrets"
Hi, a question about Nomad/Vault's security model:

Lets say we have vault and nomad integrated, with an AWS backend set up, with some nomad policy (policy 'Y') for AWS that allows, say, s3 access to some bucket, and the nomad-server role has the ability to read from policy Y (i.e. nomad can spawn containers that have been injected with new AWS tokens that allow access to that bucket.)

Now. does

[2017-09-21 00:12] kimh opened #3257 "[question] Nomad retrying failed job forever"
### Nomad version
0.6.3

### Operating system and Environment details
OSX 10.11.6 and Linux

### Issue
When I run the following job that never succeeds (because of ping noexist command), Nomad keeps retrying the job forever even though I set "attempts = 3".

It's worth to note that if I increase `internal` to say `20s`, then the job failed after 3 attempts properly.

What am I missing?

Thanks!

#

[2017-09-21 13:07] hsmade commented on #3244
I have 100K deployments, and pulling on the API causes about 100MB of data...

[2017-09-21 19:24] dadgar commented on #3244
Can you all share a sample deployment that won’t gc

[2017-09-21 19:28] wuub commented on #3244
@dadgar are you sure gc for deployments is implemented? Because AFAICT all out ours are just piling up,  and there's nothing special about them, super simple update block 99% with single max_parallel statement.

[2017-09-21 19:43] dadgar commented on #3244
Yes it is implemented. The deployments won't be garbage collected when there is a running allocation referencing it.

[2017-09-21 19:45] dadgar commented on #3255
@ryanmickler You simply have to set this: https://www.nomadproject.io/docs/agent/configuration/vault.html#allow_unauthenticated to false.

When you do so, Nomad will only accept the job from the user if they present a Vault token with appropriate permissions.

[2017-09-21 19:45] #3255 closed

[2017-09-21 19:46] dadgar commented on #3188
Closing as it has been fixed.

[2017-09-21 19:46] #3188 closed

[2017-09-21 19:48] wuub commented on #3244
That's interesting :). I'll try to see if any of our job specs trigger this on a dev cluster.

Is the GC event driver and triggers immediately after the last allocation is removed, or do I have to wait for periodic clean-up?

[2017-09-21 19:48] dadgar commented on #3244
You would have to wait for a periodic clean up or you can run `curl -XPUT http://127.0.0.1:4646/v1/system/gc`

[2017-09-21 19:50] dadgar commented on #1036
This is displayed now

[2017-09-21 19:50] #1036 closed

[2017-09-21 19:50] jippi commented on #3244
in hashi-ui thats is also a button under `system` :)

[2017-09-21 19:51] wuub commented on #3244
Thanks. I'll try to investigate deeper first thing tomorrow morning.

[2017-09-21 19:53] dadgar commented on #1374
This hasn't been an issue in any of the recent releases. We can re-open if you are still seeing this.

[2017-09-21 19:53] #1374 closed

[2017-09-21 19:54] dadgar commented on #1270
Hey this won't be a feature we will be introducing.

[2017-09-21 19:54] #1270 closed

[2017-09-21 19:55] dadgar commented on #1239
This is available in newer releases: https://www.nomadproject.io/docs/job-specification/service.html#initial_status

[2017-09-21 19:55] #1239 closed

[2017-09-21 19:56] dadgar commented on #1186
Hey swap is disabled on exec on newer versions of Nomad.

[2017-09-21 19:56] #1186 closed

[2017-09-21 19:57] dadgar commented on #1124
Believe this can be closed now because of the new features @schmichael references that have landed in 0.6.0

[2017-09-21 19:57] #1124 closed

[2017-09-22 08:17] wuub commented on #3244
Soooo. I sent `curl -XPUT $NOMAD_ADDR/v1/system/gc to our prod cluster, and deployments list shrunk significantly (~1500 -> 159)  (cc: @hsmade)

BUT.

Any reason why GC is not running on it's own?

[2017-09-22 08:20] hsmade opened #3259 "Fix docs on dynamic port range"
https://www.nomadproject.io/docs/job-specification/network.html#dynamic-ports says 20000 to 60000, but it should be: 20000 - 32000 (https://github.com/hashicorp/nomad/blob/master/nomad/structs/network.go#L11-L15)

[2017-09-22 12:17] dreh23 commented on #2851
This looks like a duplicate of #1061 (and #2767) or at least it's related.

[2017-09-22 12:53] sebamontini commented on #2851
@dreh23 it's not exactly the same, those are hooks or commands to ensure proper setup of the environment (or cleanup) for some task, here I'm asking to be able to chain tasks or even jobs (similar to Airflow) to be able to set precedence or even dependencies between jobs/task to build a whole procesing pipeline in some cases

[2017-09-22 15:40] Btlyons1 opened #3261 "Health Check status not updating after service status turns critical"
### Nomad version
Nomad 0.6.3
Consul v0.8.1

### Operating system and Environment details
Running local development envrionment for our internal PaaS.
virtual machine BusyBox v1.24.2 for docker-machine
docker-compose (1.7.1)
Nomad is running as a container with an Apline:latest base image.

### Issue
Health status not updating even though service status in Consul is critical.
The container that th

[2017-09-23 00:06] jgadling commented on #2584
This workflow isn't just for blue/green deployments of an entire fleet. It's also vital to being able to run production services on nomad when worker nodes are being autoscaled (a la ASG in AWS) or replaced in batches.  However, it's more complicated than the four bullet points above because old allocations should not be stopped until their replacements are healthy:

1. Mark N hosts as unavailable

[2017-09-24 17:44] ryanmickler commented on #3255
Ahh, brilliant, thanks so much.

I thought there would be a neat solution.

[2017-09-25 02:25] holtwilkins commented on #3197
I can confirm that I'm hitting this issue as well on Nomad 0.6.3, though I never ran Nomad 0.6.0 for comparison.  These error messages cause enormous raft churn and consul servers go crazy trying to keep up with creating and reaping snapshots.

It seems like this is affecting the `consul` and `database` secret backends, but does _not_ seem to affect the `aws` backend.  Not sure if this is helpful

[2017-09-25 15:36] sisp commented on #406
+1 for GPU resources

[2017-09-25 16:48] dadgar commented on #3197
Hey all, we will be looking into this before cutting 0.7, so the next release should resolve this.

[2017-09-25 17:40] schmichael commented on #3252
Thanks for the detailed bug report! 5 QPS is pretty unacceptable, so we'll definitely investigate.

I did a quick test locally using the root Vagrantfile, 1 server, 1 client, and submitting 100 *raw* exec echo jobs. That hit ~40 QPS (2.5 seconds for the full run), but the difference between our test runs is obviously too substantial to draw any conclusions. I was just hoping to find an easy repro.

[2017-09-25 17:43] dadgar commented on #3252
@schmichael @ethankhall Just to update everyone involved, we had a chance to talk about this at HashiConf. One of the larger issues seems to be using spinning disk for the servers. All of the above suggestions are valid as well.

Would love to hear an update when the test config is updated.

[2017-09-25 17:55] dadgar commented on #3261
@Btlyons1 Hey the deployment object tracks the initial health of the newly placed allocation and is only valid during a rolling update or canary process. The deployment has entered a terminal status and is no longer being tracked. This is the desired behavior since it is being used to do a rolling update, not track the long term health of the allocation.

[2017-09-25 17:55] #3261 closed

[2017-09-25 17:56] dadgar commented on #2851
This is a duplicate of https://github.com/hashicorp/nomad/issues/419

[2017-09-25 17:56] #2851 closed

[2017-09-25 17:57] #3259 closed

[2017-09-25 17:59] dadgar commented on #3244
@wuub That is the bug :( the loop creating the GC jobs wasn't doing it for the deployments. Will get a fix soon!

@hsmade Can you run the force and check it clears a bunch of your deployments?

[2017-09-25 18:05] #3244 closed

[2017-09-25 18:09] wuub commented on #3244
Great news :) thank you @dadgar

[2017-09-25 18:12] dadgar commented on #3257
@kimh The restart stanza you have provided tells Nomad that if the task fails 3 times within a five second window to fail the task. But the conditions make it so that it is impossible to hit 3 in that window. It looks like this:

0: Start and sleep 2 seconds, then fail
2: Apply 1 second restart delay
3: Start and sleep 2 seconds, then fail
5: repeat...

So you only get 1 failure per window.

Hope

[2017-09-25 18:12] #3257 closed

[2017-09-25 18:16] dadgar commented on #3218
@kyle-crumpton What network_mode are you using when you see this behavior? The driver should use the host IP when the network mode is "host" or "bridge", if something other than that it attempts to use the container IP by default since this is likely the user using a SDN.

[2017-09-25 18:16] dadgar commented on #3218
@kyle-crumpton What network_mode are you using when you see this behavior? The driver should use the host IP when the network mode is "host" or "bridge", if something other than that it attempts to use the container IP by default since this is likely the user using a SDN.

[2017-09-25 18:17] dadgar commented on #3218
@angrycub Is this still a bug? I am not clear what the issue is at this point.

[2017-09-25 18:20] angrycub commented on #3218
@dadgar... I'd like to keep it open, but no longer than this week, while I do some very specific reproduction work with Azure nodes; however, I believe that the current guidance of using `network-interface` is going to stand and we will need to create additional documentation about any potential impacts to Consul health-checks, etc.

[2017-09-25 18:22] DingoEatingFuzz commented on #278
The Nomad UI is now in master at [/ui](https://github.com/hashicorp/nomad/tree/master/ui).

See screenshots here: https://www.nomadproject.io/guides/ui.html

[2017-09-25 18:22] #278 closed

[2017-09-25 18:23] schmichael commented on #3243
I'm not sure I understand your question. Where would you like to omit `count`? The scheduler must know how many instances of a group to place, so I'm not sure what you're hoping to accomplish.

[2017-09-25 18:26] schmichael commented on #3242
Thanks for the good writeup and use case @ryanmickler! Seems like something Nomad should handle better.

[2017-09-25 18:28] schmichael commented on #3247
While Nomad currently supports SIGHUP-based config reloading it's unfortunately limited to log level and vault. Thanks for the good writeup and usecase. This seems like something Nomad should handle.

[2017-09-25 18:35] kyle-crumpton commented on #3218
@dadgar I'm not specifically setting network_mode, so it should be defaulting to NAT. I didn't have any luck changing it to host, or bridge. The only thing that made a difference was setting the network_interface in the client configuration to the actual device (in my case Ethernet 5).

From my perspective the issue may be documentation based. I have tested this in 0.7 beta as well with the same r

[2017-09-25 19:33] Btlyons1 commented on #3261
@dadgar Makes sense. I missunderstood the docs.

[2017-09-25 20:38] dadgar commented on #3161
Hey just want to let you know that Nomad will be working towards drivers as plugins and as such we will not be upstreaming any new drivers for the time being. All for the effort but want it to be known that for the mean time this will have to live as a fork.

[2017-09-25 20:51] #3236 closed

[2017-09-25 20:52] dadgar commented on #3236
Hey @lgfausak Thanks for filing this. I enhanced the upgrade guide to better explain the need to set the network_interface on the clients when upgrading from 0.5.x to 0.6.x! 👍

Thanks and sorry you hit this hiccup!

[2017-09-25 20:55] dadgar commented on #3161
@ArmedGuy I am actually going to close this since it won't be going into Nomad. Please feel free to post questions here though and we'd love to help out and make Nomad work for you!

[2017-09-25 20:55] #3161 closed

[2017-09-25 21:11] hsmade commented on #3244
@dadgar it does, clean out when forcing GC, thx!

[2017-09-25 21:12] dadgar commented on #3244
@hsmade Sweet! Thanks both of you! Will be fixed in 0.7!

[2017-09-25 21:13] hsmade commented on #3244
BTW.. A note on the huge data transfer I saw. This was mainly caused by us configuring the reserved ports (20000-32000) because of a misunderstanding of the docs (fixed the docs since then). If you have 64 clients, and each of the produces about 1MB of data for just the port reservations, that adds up :)

[2017-09-25 21:14] dadgar commented on #3244
@hsmade Yeah that is definitely something we are aware of and would like to make a simple two integers for a range rather than materializing each port!

[2017-09-25 21:53] schmichael commented on #3236
I'm afraid this was caused by a change in our network fingerprinting in 0.6: https://github.com/hashicorp/nomad/pull/2536

Could you share the output of `ip addr` on that node? It may not be possible for Nomad to pick the right interface automatically, but it shouldn't choose a link-local IPv6 address when there are non-link-local addresses available.

Explicitly selecting an interface is probably

[2017-09-25 21:57] schmichael commented on #3230
Great idea @alxark. Thanks for the good writeup and usecase. Nomad doesn't currently prioritize unhealthy allocations during deployments but could in the future.

[2017-09-25 22:14] schmichael commented on #3223
Thanks for the detailed report @epipho and @pznamensky!

[2017-09-25 22:16] jippi commented on #3243
Think the question is to submit a job to an already running job and omit the task group count.  If it's omitted in a update clause, nomad would take the existing running job task group count and copy those values into the new inbound job before submitting it for scheduler.

Basically inheriting the existing job task group count instead of using the value from the submitted job

[2017-09-25 22:17] dadgar commented on #3227
@nugend It would be hard to diagnose what happened with the current information. Would need to see the logs, evaluations and allocations to really get a clear picture but I can help describe Nomad behaviors in this scenario.

1) The batch jobs not starting

There must have been something that was causing the jobs not to schedule. The scheduler will attempt a placement if there is room and all cons

[2017-09-25 22:42] schmichael commented on #3243
Thanks @jippi! That makes complete sense.

Right now (as of 0.7.0-beta1) you would need to read the job, copy the `count`, and then submit the job (preferably with a `-check-index`).

Obviously that's cumbersome and error prone, so in the future we intend to allow templating job files. The templating language will have a function to use the existing count value for job updates.

Follow #1185 to kn

[2017-09-25 22:42] #3243 closed

[2017-09-25 22:47] schmichael opened #3273 "Prevent fully qualified URLs in check paths"
### Nomad version

`Nomad v0.6.3`

### Issue

HTTP checks can specify absolute URLs to query remote services. This overwrites the `port` and `proto` parameters.

The docs specify the intended behavior that only relative URLs are accepted. The current behavior is an unintentional side-effect of the underlying Go stdlib function we call: https://golang.org/pkg/net/url/#URL.ResolveReference

### Job

[2017-09-26 00:40] kimh commented on #3257
Thanks for the explanation!

It seems to me that this doesn't justify Nomad can keep running builds forever, though. It's less confusing if Nomad retries less than or equal to max retry count. Thoughts?

[2017-09-26 05:38] hsmade commented on #3244
hehe, yes :)
Luckily, I don't actually need it. So that was a simple(ish) fix. Apart from the rolling restart :P (Which works great, I can just restart my cluster without influencing / stopping my containers. Kudos for that!!)

[2017-09-26 07:51] alxark commented on #3243
Is there any easy way to read current group count? For example:
[code]
 Currently i'm using consul template to generate job files during CI process and i need to store count in consul for different env's

[2017-09-26 10:56] ArmedGuy commented on #3161
Okay, that is understandable. Has there been any thought into the design of such a plugin system, and anywhere where one can read about discussions regarding it?

[2017-09-26 16:55] schmichael commented on #3243
`jq` is my preferred tool for getting values like this from the command line:

[code]

[2017-09-26 21:29] winduptoy commented on #2941
@dradke I've configured my nomad agent exactly as you describe, but my `network_interface` is a virtual interface for a VPN rather than a physical interface. When running a job I get "network resources exhausted for node" from nomad. Did you happen to run into that in your scenario?

[2017-09-26 22:56] dalegaard opened #3285 "[feature] Expose contents of DriverNetwork via API"
Both the Docker and rkt(with #3256) expose a DriverNetwork structure to Nomad. The DriverNetwork structure can be used to get the actual network address of the container, which is very useful when used in container networking solutions.

Currently this data is only exposed when Nomad performs Consul service registration, but the data is potentially relevant to any allocation.

I therefore propose

[2017-09-26 23:56] schmichael commented on #3285
I'm afraid - but uncertain - the complexity of this implementation will outweigh its benefits vs its workaround.

## Use case / Workaround

As far as I can tell - and please correct me I'm wrong - this is to avoid having to register services in Consul for things which aren't actually services. For example if `webapp` connects to `db`, `webapp` would have to register its IP in Consul simply so the

[2017-09-27 05:26] dalegaard commented on #3285
I'm afraid the workaround doesn't actually work though, atleast on `rkt`. To register a service we must, from what I can tell, specify a service port name, which must match a port in the driver port map config. I'm unfamiliar with how `docker` handles this, but `rkt` will only let you bind to ports that are registered in the image - and we are talking about images with no ports :-)

So to actually

[2017-09-27 07:39] smohankarthik opened #3289 "Nomad allocation getting killed and transferred to another node in the cluster"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
Ubuntu 16.04(Nomad Server)/Windows 2016 Server(Nomad Client Node)

### Issue
When I try to deploy services to the Windows nodes(it's a 2 Node Cluster). My services are running in the beginning of the process but apparently after 10 mins the processes are being killed and later moved to the other Node in client's cluster.

[2017-09-27 08:32] skyrocknroll commented on #1038
We are doing that in our prod and qe.

[2017-09-27 08:42] RobertAtomic commented on #419
+1 for DAG support...  It's quite important for my use case.

[2017-09-27 17:20] schmichael commented on #3285
Aha! That makes sense and is a big deal.

After discussing this with @dadgar I think we should hold off on this for now. We'd like to expose _all_ of the metadata generated by drivers somehow, and it will be easiest to pull that off when we refactor the client<->driver interactions prior to adding plugin support.

I'm afraid adding a one off for networks now would complicate maintenance and backwa

[2017-09-27 17:21] dadgar commented on #3289
@smohankarthik Can you try out the Nomad 0.7 beta on the client? We have improved the clients heartbeat reliability. Also it would be good to see the logs from the client around the TTL.

[2017-09-27 17:33] dadgar commented on #3257
@kimh It is following the user specified restart policy. I think it would be more confusing if it deviated from that. Further the example policy in your issue is not realistic. The interval should always be much longer.

[2017-09-27 23:23] schmichael commented on #3218
To be clear the expected behavior is:

- `address_mode = "host"` - Nomad advertise IP (`127.0.0.1` for `nomad agent -dev`)
- `address_mode = "driver"` - Docker _bridge_ IP
- No address mode == host

What I see is:

- `address_mode = "host"` - private host IP
- `address_mode = "driver"` - Docker _NAT_ IP
- No address mode - Same as *driver*

So 2 funny things are happening!

The first is simple: On

[2017-09-27 23:25] dadgar commented on #3218
@schmichael Advertise address is determined separately from `network_interface`. The "host" address is the result of the address determined by fingerprint/network.go

[2017-09-28 01:03] tduffield commented on #419
I too would love to see this.

[2017-09-28 03:43] #3218 closed

[2017-09-28 08:52] dalegaard commented on #3285
That makes sense @schmichael . I'll close this for now, since it will be subsumed by the more general mechanism later on. Thanks for considering it.

[2017-09-28 08:52] #3285 closed

[2017-09-28 10:06] smohankarthik commented on #3289
@dadgar I changed to beta version and didn't come across Heartbeat issue.

 I have a couple of queries.
1. Just curious is there any way to increase heartbeat manually.?  Because I never faced this kind of issue regarding to heartbeat in the past. The deployment was smooth most of the times.
2. From where can I find the log files in the windows. My old allocation got removed so can’t see the log o

[2017-09-28 14:04] cyrilgdn commented on #1048
@diptanu @sean- This issue seems to not be fixed currently. Is it planned for some version?

Thanks!

[2017-09-28 16:04] schmichael commented on #3289
There are a few heartbeat related settings on the server: https://www.nomadproject.io/docs/agent/configuration/server.html#heartbeat_grace

Increasing the grace setting is probably the most straightforward way to give clients more time to heartbeat.

Is there any chance you can reproduce this behavior? The logs would be very useful in debugging (including the [`${alloc_dir}/${alloc_id}/${task_name

[2017-09-28 19:09] schmichael commented on #1048
We don't have it on our roadmap yet, but if someone wants to attempt a PR @sean-'s linked comment covers the desired behavior.

[2017-09-29 09:42] mildred opened #3301 "HTTP API should return new job version on POST /v1/jobs"
When posting a job using the HTTP API, nomad should return as part of the response, along with the created evaluation id, the now job version.

My use case for this is to have the job version so I can then query `/v1/job/job-name/allocations` and detect failures related to this new job version (and filter out allocations from previous job versions). For batch jobs, this is the only way I see to de

[2017-10-01 15:26] flybd5 opened #3304 "There is no consul CLI config option"
### Nomad version
All

### Issue
There is a way to config the info to connect to a consul client from an hcl file but not from the command line. I checked in commands.go and nothing.

[2017-10-02 16:38] dadgar commented on #3304
PRs for this would definitely be welcome. Could look at the Vault flags for guidance.

[2017-10-02 16:41] flybd5 commented on #3304
PR?

[2017-10-02 16:42] dadgar commented on #3304
Git jargon for "pull request".

[2017-10-02 18:20] Ashald commented on #2504
Just for the record, we found a way to fix it. Not sure it's the best way to do that so I'm not submitting a PR but the issue pretty trivial on its own. Apart from the proc filesystem being mounted as RW, there is also an issue with pipes. Nomad's executor starts a child process connecting its stdout & stderr to logger writers https://github.com/hashicorp/nomad/blob/master/client/driver/executor/e

[2017-10-03 15:29] lord2800 commented on #2782
I have a ci/cd workflow that could benefit from this as well. I currently maintain a hand-encoded json file _as well as_ the hcl file.

[2017-10-03 18:35] thasmo commented on #2633
Would love to see this supported too, although I don't use it in a business-context.

[2017-10-03 21:44] metroidprototype commented on #3141
I'm still seeing this in both 0.6.3 and 0.7.0-beta:

[code]

Rolling my binary back to 0.5.6 works fine.

[2017-10-04 10:12] dverbeek84 opened #3324 "Consul 1.0.0-beta/Nomad 0.7.0-beta: panic interface conversion: interface {} is nil, not bool"
### Nomad version
Nomad v0.7.0-beta1

### Operating system and Environment details
AWS
CentOS 7.2

### Issue

Nomad in agent mode panics. When running on Consul in agent mode.

Nomad in server mode on a Consul node in server mode is not a problem. This works.

### Reproduction steps

1. Install Nomad en Consul in agent mode. So make the server seperate from the node
2. Start Consul
3. Start Nomad

[2017-10-04 17:43] #3324 closed

[2017-10-04 17:46] dadgar commented on #3324
@dverbeek84 Thanks for reporting. Closed as the fix was done upstream in Consul.

[2017-10-04 18:20] dverbeek84 commented on #3324
@dadgar Always happy to help to make i great product 😄

[2017-10-04 19:30] andrewmeissner commented on #2664
I'd like to +1 this.  I have a very similar use case where apps get deployed multiple times a day, and they're referenced by the tag.  Using this or a similar type of interpolation would allow me to place the spec in source control, and allow my deployer to issue an API/CLI call to nomad to run the job again, rerunning nomad's interpolator and picking up the new tag.

Even the ability to pull it f

[2017-10-04 23:25] ethankhall commented on #3252
Sorry for the delay on responding. We moved the work dir into a ram disk and we moved from 5 to 6 QPS.

@schmichael Responding to your comments:
1) In a real world situation, we would submit then in a thread pool and submit the work, but that would just mask the issue.
2) I don't ATM, but all the machines were idle when we started.
3) We were submitting to servers for the requests.

I believe it's

[2017-10-05 02:36] matthewbrahms opened #3326 "Nomad panic when starting in dev mode with consul and vault on same host"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue
[code]

### Reproduction steps
I am going on a blitz here and running a consul server agent in dev mode, a vault server in dev mode and attempting to get nomad running in dev mode on my workstation.

I downloaded the nomad 0.6.3 binary as well and got the same result.

[code]

### Nomad Server logs (if appropr

[2017-10-05 05:08] slackpad commented on #3326
Hi this is a duplicate of https://github.com/hashicorp/nomad/issues/3324 - we are working on a fix to Consul (-beta2) that should be released tomorrow.

[2017-10-05 07:02] slackpad commented on #3326
Here's the Consul beta2 release which fixes this behavior - https://groups.google.com/d/msg/consul-tool/qrdTkFVEBFQ/3hIunM91AAAJ.

[2017-10-05 07:02] slackpad commented on #3324
This should be fixed in Consul 1.0.0-beta2 - see https://groups.google.com/d/msg/consul-tool/qrdTkFVEBFQ/3hIunM91AAAJ for details.

[2017-10-05 08:17] yellowmegaman commented on #1749
I think that HCL is way nicer, and would personally be happy to be able to submit hcl jobs via api.

[2017-10-05 12:10] jrasell commented on #3304
@dadgar I can take this one if you want? I assume its everything listed [here](https://www.nomadproject.io/docs/agent/configuration/consul.html) to go as a CLI flag?

[2017-10-05 12:14] flybd5 commented on #3304
I would also suggest a cross-check to make sure all config file options can be done in CLI and vice-versa.

[2017-10-05 13:37] matthewbrahms commented on #3324
Fix worked for me!  Thanks!

[2017-10-05 14:30] slackpad commented on #3326
Thanks for the update! I'll leave this open to see if the Nomad folks want to change that `panic` to an error on that side, just to harden that side.

[2017-10-05 17:05] schmichael commented on #2664
Thanks for the excellent use case @andrewmeissner. #1185 is the issue we've started consolidating jobspec templating requests under, so I'm going to close this issue. Please follow that one! These are all use cases we intend to support!

[2017-10-05 17:05] #2664 closed

[2017-10-05 19:02] dadgar commented on #3252
@ethankhall I tested just locally using a dev agent and got the following results: https://gist.github.com/dadgar/6ef7868469aced2865079999417b618d
Roughly: 272.5 QPS

When testing running the server as follow `nomad agent -server -bind 192.168.74.149 -data-dir /tmp/nomad -bootstrap-expect 1` in a VM with slow filesystem I still saw 150+ QPS.

This does point to a configuration issue. I would try t

[2017-10-05 21:29] #3304 closed

[2017-10-05 21:31] dadgar commented on #3304
@flybd5 We don't aim to have full parity with the config file. Just the most common options should be available as flags.

[2017-10-05 21:33] flybd5 commented on #3304
I think you should. Some people like to use config files but others prefer to set up things on the command line exclusively. When setting up systemctl definition files I prefer for the config to be self-contained using the CLI.

[2017-10-05 21:41] dadgar commented on #3141
@metroidprototype I believe you may have just upgraded the CLI binary and not the servers/clients as well. I just tried with the job name you gave on 0.7.0-beta1 and it worked correctly.

[2017-10-05 23:19] discobean opened #3330 "Updating deployment to increase or decrease canary size"
In the current situation, an update to the job specification creates a new deployment, removing any existing canaries and deploying the new value.

A feature the devs have requested is that it is possible to increase the canary size of an existing deployment without triggering a new deployment.

[2017-10-06 05:59] shantanugadgil commented on #3304
@flybd5
I would sort-of disagree, I tend to use only the single "config directory" parameter, so that I can happily tweak the config files within the config directory.

These becomes very easy in a system where some sort of configuration management system like SALT/Ansible/(even Packer) is used to deploy Consul/Nomad.

Cheers,
Shantanu

[2017-10-06 08:40] jippi opened #3333 "[0.7] all evaluations blocked due to "failed to dequeue evaluation: eval broker disabled""
### Nomad version

`Nomad v0.7.0-beta1`

### Operating system and Environment details

[code]

### Issue

All evaluations in my cluster was in `pending` state.

Tailing the nomad server output I saw a lot of errors like `2017/10/06 08:37:25.583510 [ERR] worker: failed to dequeue evaluation: eval broker disabled`.

Restarting the server (which was leader) made all evaluations get processed correctl

[2017-10-06 10:15] jippi commented on #1755
@dadgar will this make it to 0.7 ? :)

[2017-10-06 10:29] flybd5 commented on #3304
@shantanugadgil The point is that there is no justification to force the developer to accept one viewpoint over another. It also looks unprofessional to offer one option, but do a half-a** job of the other. The issue of config management is not relevant because you can manage systemctl files just as well as you can manage config files. Config management tools don't care about the content of the fi

[2017-10-06 17:19] jippi opened #3335 "[0.7] deployment marked as failed, but all allocs is successful"
### Nomad version

0.7-beta

### Issue

I have 2 deployments with version 30, one succeeded and one failed.

The group size is 8.

The succeeded deployment have 5 good allocations and no failed
The failed deployment have 2 good allocations and no failed

The job has 7 total allocations running (1 missing), but can't see anything that failed.

I can't find any way to make nomad try and place the 8t

[2017-10-06 17:25] dadgar commented on #3333
@jippi Did you have a leader? That error is a sign that there was no cluster leader.

[2017-10-06 17:27] dadgar commented on #3335
@jippi Can you run https://www.nomadproject.io/api/deployments.html#list-allocations-for-deployment and share the output. One of the allocations will be marked as failed. It is likely that its Consul checks weren't passing by the deadline.

[2017-10-06 18:57] jippi commented on #3335
@dadgar the endpoint only returns 2 allocation, those that are running

[code]

[2017-10-06 18:58] jippi commented on #3333
@dadgar the cluster showed an active leader, the log in the OP was from the cluster leader.

Asking raft at the time pointed to this node as active leader too, and state otherwise was updated when i did evaluations and job submissions. With and without "AllowStale" query option

[2017-10-06 20:52] ryanmickler opened #3337 "[feature-request] Allow batch-system jobs"
I've been looking for a way to perform a once off `exec` task on each nomad client with a certain tag.

This seems to fit under both the 'system' and 'batch' job types.

It is 'System', because i want to use something like
[code]
to have it run on every 'worker' node. and its also 'batch', because I only want it to run once, and I don't want to provide `count = X`, and not have it continually rest

[2017-10-06 20:57] schmichael commented on #3337
There isn't a way to do this currently (although you may be able to get `system` jobs to work by carefully adjusting your `restart` stanza settings).

Mind sharing a use case? We get this request from time-to-time, but I believe most people solve it using existing configuration management solutions.

[2017-10-06 21:03] ryanmickler commented on #3337
My use case is to run a small bash script on the client which pulls a java binary from a local server onto the nomad client, so that it can be referenced locally during the execution of a spark-nomad job. I occasionally want to be able to trigger this process through nomad.

[2017-10-06 21:08] schmichael commented on #3337
Can you add an `artifact` stanza to your spark-nomad job template? https://www.nomadproject.io/guides/spark/customizing.html#using-a-custom-job-template

[2017-10-06 21:11] ryanmickler commented on #3337
Ah! this might work. Does the `artifact` stanza do version checking?

[2017-10-06 21:12] schmichael commented on #3337
Sadly no, artifacts are only downloaded when an allocation is started on the client node.

[2017-10-06 21:12] ryanmickler commented on #3337
But more generally, I was probably going to be doing a few more things in the script, say, block some services (.e.g the spark executor) while these binaries are updating.. I might even want to update the spark binaries themselves...

[2017-10-06 21:16] ryanmickler commented on #3337
I was thinking about suggesting that it could be an option to run a batch job with `count = -1` which would indicate to run on all clients that match the constraints.
but this seems to perhaps be a bit confusing.

[2017-10-06 21:17] schmichael commented on #3337
I just realized there's already an issue tracking this. Feel free to add your use case and/or idea as a comment: https://github.com/hashicorp/nomad/issues/2527

[2017-10-06 21:17] #3337 closed

[2017-10-06 21:18] ryanmickler commented on #3337
Oh great, i had a look and i didn't see it. thanks for your time!

[2017-10-08 11:49] burdandrei commented on #2169
@dadgar  I got something to report:
Looks like high memory and CPU usage in my case was generated by the job that had 114 groups.
I had nomad client v0.6.3 consuming 8-12GB RSS.
In the last few days I've been working adding [Replicator](https://github.com/elsevier-core-engineering/replicator) to our stack, and he had problem with this particular job.
I split the job to 114 jobs, each one having 1

[2017-10-08 19:03] jippi commented on #2169
@burdandrei did it also fix your hashi-ui memory issues?

[2017-10-08 19:14] burdandrei commented on #2169
@jippi, yes, when i open cluster tab with the tab of region without 100-group job, memory usage jumps from 100 to 300. When i switch to 100-group job it  jums to 2GB in 20 seconds

[2017-10-08 19:19] jippi commented on #2169
Must be due to the Nomad structs or something in the SDK/server since 3rd parties like hashi-ui and replicator also see the same behaviour :)

[2017-10-09 08:59] flyhard opened #3340 "Indicate canary allocations with tags in Consul"
The new deployment / update features in Nomad seem to me a little incomplete as it does not allow the service discovery to detect which instances are the canary.

I would suggest that we add a new option to the update stanza to define a consul tag for canary allocations or add a canary tag option the the service stanza

This would allow for writing load balancer configs that could target the new o

[2017-10-09 11:03] dreh23 opened #3341 "Add a user-agent field on http health checks"
I am using minio s3 in a nomad/consul cluster. Minio needs a user-agent header for an unauthorized request, otherwise reply will always be 403. I would need to handcraft request - better would be to have a field for a user-agent header.
See https://github.com/minio/minio/issues/5010

[2017-10-09 11:15] jippi commented on #3341
You can use the [header stanza](https://www.nomadproject.io/docs/job-specification/service.html#header-stanza)?

[2017-10-09 12:33] jrasell commented on #3340
I believe this relates to #2920

[2017-10-09 17:17] dadgar commented on #3340
Hey @flyhard I am closing as a duplicate of #2920! Thanks!

[2017-10-09 17:17] #3340 closed

[2017-10-09 17:37] angrycub opened #3342 "The `nomad logs -f` command can make windows clients unresponsive/crash."
### Nomad version
Nomad v. 0.6.3

### Operating system and Environment details
Nomad Server - CentOS 7
Nomad Client - Windows Server 2016
Task Driver - Windows Docker container; sample job attached.
Nomad CLI was run on one of the Linux server nodes.

### Issue
After running `nomad logs -f «allocation id» example-task` the allocation will eventually become unresponsive.

### Reproduction steps

St

[2017-10-09 19:20] schmichael opened #3344 "Document keyring APIs"
Noticed the agent keyring HTTP APIs are undocumented in https://github.com/hashicorp/nomad/pull/3336#pullrequestreview-68053625

[2017-10-10 00:27] schmichael commented on #3341
@jippi's suggestion to use the `header` stanza should allow setting a user agent. Feel free to reopen if it doesn't!

[2017-10-10 00:27] #3341 closed

[2017-10-10 08:11] hsmade opened #3349 "/alloc dir not shared between tasks after restart of a task"
Nomad version: 0.6.0

Given a 2 task job (1 group), I noticed that when one of the tasks gets restarted because it exited, the /alloc is no longer shared between the 2 tasks. The restarted task get's a new alloc dir.

    $ sudo docker inspect 2fa2541e2580 |grep -B1 '"Destination": "/alloc"'
                "Source": "/var/lib/nomad/alloc/70ee2222-d35c-9936-2792-e5308878fca9/alloc",

[2017-10-10 08:37] lovwal commented on #3159
@dadgar Had the same issue today. Nomad is trying to bind every container on the host to a ipv6 link-local address, this address does not exist on the host and the container isn't running ipv6.

(Host)
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 state UNKNOWN qlen 1
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP

[2017-10-10 17:54] ryanmickler opened #3352 "[question] [feature-request] Passing vault-token to spark-submit"
I've been using the (wonderful) spark-nomad featureset, and I've hit a bit of a stumbling block. I want to be able to pass a vault token to my job to enable policy blocks in the template file. for example, my template
[code]
And I schedule my job via
[code]

However, I couldn't see an option to include a VAULT_TOKEN into this method. Perhaps I can suggest something like
[code]

[2017-10-10 18:07] dadgar commented on #3352
Hey @ryanmickler Can you open this against: https://github.com/hashicorp/nomad-spark

[2017-10-10 18:07] #3352 closed

[2017-10-10 18:09] ryanmickler commented on #3352
Done, see [https://github.com/hashicorp/nomad-spark/issues/2](url)

[2017-10-10 21:16] bittrance commented on #2219
One use case where one wants to override the `ENTRYPOINT` is when you want to add `timeout` binary as Nomad has no support for terminating batch jobs that intermittently take too long, see #1782 .

[2017-10-10 23:07] splashx commented on #2374
That's true but one needs to then scrap the metadata first, assemble the nomad client config and push it to the clients. I can imagine it this way (example):

- Using e.g. terraform, deploy 50 VMs to AWS (or Openstack) - in the .tf files you have custom metadata  `node_class` defined
   - `node_class` is something that defines a group of VMs by some property you can't get via fingerprinting / [bui

[2017-10-10 23:20] schmichael commented on #3349
The docker command output you pasted shows 2 different allocations. If a task failed it would be restarted in place and not have a different allocation ID. Since `/alloc` directories are per-allocation, that explains why those two docker containers do not share an `/alloc` directory.

If Nomad started a new allocation it should have stopped all tasks in the old allocation, so if you're seeing both

[2017-10-11 12:41] hsmade commented on #3349
I'll try to reproduce this, thanks!

[2017-10-11 13:44] krjensen opened #3354 "[question] How to advertise serf with NAT ip"
I have 4 environments and they all have a Consul and a Nomad cluster

Looks like this

**ENV1**
*Server1*
ip: 192.168.1.11
nat: 10.70.1.11

*Server2*
ip: 192.168.1.12
nat: 10.70.1.12

*Server3*
ip: 192.168.1.13
nat: 10.70.1.13

**ENV2**
*Server1*
ip: 192.168.2.11
nat: 10.70.2.11

*Server2*
ip: 192.168.2.12
nat: 10.70.2.12

*Server3*
ip: 192.168.2.13
nat: 10.70.2.13

**ENV3**
*Server1*
ip: 192.168.

[2017-10-11 14:53] hsmade commented on #3349
Can't reproduce. Closing

[2017-10-11 14:53] #3349 closed

[2017-10-11 17:06] schmichael commented on #3354
Unfortunately Nomad doesn't have the LAN vs WAN addressing functionality of Consul yet. Follow this issue to find out when it's added: #1484

In the meantime I'm afraid you'll have to allow serf connectivity between 10.70.x.x environments (possibly through a VPN).

[2017-10-11 17:06] #3354 closed

[2017-10-11 17:56] burdandrei commented on #1461
so not 0.7, 0.8?

[2017-10-11 20:52] hobochili opened #3357 "Job history and auto_revert fail when version exceeds 255"
### Nomad version
Confirmed in 0.6.2, 0.6.3, and v0.7.0-beta1

### Operating system and Environment details
Reproduced in included dev Vagrant VM (Linux)

### Issue
With auto_revert set to true and a job version greater than 255, a failed deploy will revert to the last stable job with version less than or equal to 255, even when there is a stable version greater than 255.

Other issues, probably r

[2017-10-11 21:29] dadgar commented on #3357
Thanks for the detailed report. I will try to reproduce soon and will update with findings!

[2017-10-11 23:08] dadgar commented on #3197
Hey all, to mitigate this until 0.7 is out you can set the [vault_grace](https://www.nomadproject.io/docs/job-specification/template.html#vault_grace) to be several times (5-10X) the lease duration of your secret.

[2017-10-11 23:40] balan2010 commented on #3330
+1 for this feature

[2017-10-12 01:11] #3197 closed

[2017-10-12 04:45] dukeland9 opened #3363 "[feature request] Task dependencies for batch jobs"
I think it's a common case that a batch job is divided into several steps, and each step depends on some previous steps.
Could we have something like:

<pre>
job "batch_job" {
  type = "batch"
  group "g" {
    task "step1" {
    }
    task "step2" {
      depends_on = ["step1"]
    }
  }
}
</pre>

Google borg supports such configuration.

[2017-10-12 05:22] ramukima opened #3364 "QEMU Driver: Port forwarding must allow a virtual IP specified in the network resources port_map configuration"
I want to enable port forward to a specific destination IP that corresponds to my VM. However, I do not find a way to do that with abstract network resource definition. Currently, the network port_map allows only source port and destination port mapping but has no option to provide a guest or host IP.

Example: When directly using the QEMU command I can specify hostfwd option as "hostfwd=hostip:ho

[2017-10-12 05:39] artkrz commented on #1664
Can confirm adding `cgroup_enable=memory swapaccount=1` to `/etc/default/grub` + reboot solves the problem. I don't think this is really something that should be resolved in Nomad but rather should be mentioned in documentation that on Debian this needs to be added to grub.

[2017-10-12 07:16] jovandeginste commented on #1461
I usually drain servers for maintenance. This obviously doesn't work when a server randomly fails, but for upgrades this seems to work pretty well so far. Then again I don't usually have multi-task taskgroups.

[2017-10-12 07:24] dukeland9 opened #3365 "[feature request] Allow dispatch_payload larger than 16KB"
Though artifact provides a convenient way to get the binary and/or data needed for a task, sometimes it's still useful to use some local binary or data to start a remote job. For example, one may want his/her java application tested on one machine before pushing the jar to the nexus repository where the jar can be used as an artifact for serious deployments later. The dispatch_payload stanza may b

[2017-10-12 07:47] dukeland9 opened #3366 "[feature request] Support interpolation from command line flags"
https://www.nomadproject.io/docs/runtime/interpolation.html states that "Nomad supports interpreting two classes of variables, node attributes and runtime environment variables.".

Aside from that, sometimes it would be convenient to specify attributes of the job configuration from command line flags. It works like:

job conf:
<pre>
vars {
  region = "global"
}
job "a_job" {
  region = "${args.reg

[2017-10-12 08:11] artkrz opened #3367 "Nomad creating multiple hard links to random files"
### Nomad version
Output from `nomad version`

Nomad v0.6.3

### Operating system and Environment details

Debian 8 / CentOS 7

### Issue

Hard links are created for random files which causes Ansible errors.

[code]

Ansible error:

[code]

Ansible task:

[code]

this happens on random files and not just nrpe.cfg. I doubt it has anything to do with Ansible but this is where I discovered the proble

[2017-10-12 09:13] itatabitovski commented on #2374
@splashx That sounds about right, you specify class and client metadata in the config.

You can also have auto scaling groups per node class, so you don't have to bring 50 VMs immediately , but have AWS add and remove client nodes when necessary.

[2017-10-12 13:38] automaticgiant commented on #2698
why is this better than a proxy (like fabio) in front? would that proxy do a bunch of acl/sentinal stuff that would otherwise be done by client or server?

[2017-10-12 15:49] automaticgiant opened #3369 "beta bug - too many task groups"
### Nomad version
Nomad v0.7.0-beta1

### Operating system and Environment details
rhel7
### Issue
i see the tasks from the same group split into their own groups.
### Reproduction steps
idk. build my cluster and submit this job? reproduces for me.
### Nomad Server logs (if appropriate)
[code]

### Job file (if appropriate)
https://gist.github.com/automaticgiant/dd9ca484a837941cb311dc4ea87f3669
co

[2017-10-12 16:52] dadgar commented on #3369
Hey @automaticgiant,

The logging has just changed on 0.7. Your job has two task groups in it, not one task group with two tasks.

[2017-10-12 16:52] #3369 closed

[2017-10-12 16:55] dadgar commented on #3367
Hey,

The `exec` driver creates its filesystem by hard linking into a chroot. You can tune the folders that are including in the chroot here: https://www.nomadproject.io/docs/drivers/exec.html#chroot (see link at bottom).

In the future we will take a different approach to building the chroot which will avoid this.

Thanks,
Alex

[2017-10-12 16:55] #3367 closed

[2017-10-12 16:58] dadgar commented on #3366
Hey! This is definitely a feature we'd like. However closing as a duplicate of: https://github.com/hashicorp/nomad/issues/2422

[2017-10-12 16:58] #3366 closed

[2017-10-12 17:12] dadgar commented on #3365
@dukeland9 Hey unfortunately we won't be increasing the allowed payload size since the payload is stored in memory and communicated using Raft across servers, we do not want to be committing jars over a consensus protocol :)

The solution is to provide the artifact source as metadata when dispatching and then interpolating it in the artifact block. That way you can pull in artifacts!

[2017-10-12 17:12] #3365 closed

[2017-10-12 17:14] dadgar commented on #3364
Hey @ramukima,

You can use the [port_map](https://www.nomadproject.io/docs/drivers/qemu.html) option to do this. It is implemented in the exact fashion you described: https://github.com/hashicorp/nomad/blob/master/client/driver/qemu.go#L219

[2017-10-12 17:14] dadgar commented on #3363
Hey @dukeland9,

Closing as a duplicate of https://github.com/hashicorp/nomad/issues/419

[2017-10-12 17:14] #3363 closed

[2017-10-12 18:34] #3326 closed

[2017-10-12 18:43] ramukima commented on #3364
The driver does not meet that requirement. I am able to work it around by passing arguments for QEMU directly instead of using port_map configuration. However, it will be good to translate the port_map in something like below -

hostfwd=udp:10.0.1.15:3903-:3903

The driver currently does not allow that. The port_map configuration is translated to -

hostfwd=udp::3903-:3903 - Notice the IP address

[2017-10-12 19:01] dadgar commented on #3364
@ramukima Are you trying to set the host or guest IP? I think it is actually a bug how we have it right now. We should only be forwarding on the fingerprinted host ip, not all.

I can see allowing setting the guest IP. Would the following solve your issue

[code]

Which translates to: `fmt.Sprintf("hostfwd=%s::%d-%s:%d", p, host, forwarded, guest))

[2017-10-12 19:21] ketzacoatl commented on #2698
Last I checked/tested/banged my head on this.. it takes a bit more, for example, for some commands, the server sends you to a specific client. Having an instance of nomad that is responsible for proxying requests would be helpful. Also, something like fabio ought to run on nomad, and as core infrastructure, nomad ought to have minimal dependencies to run well in our env. Just my 2c.

[2017-10-12 20:37] dadgar commented on #3357
@hobochili Thanks for the issue! Got it fixed and will be out with 0.7

[2017-10-12 21:44] schmichael commented on #2698
-- @automaticgiant

Great question. Nomad's mTLS implementation uses custom certificate validation logic, so I don't think any other generic HTTP proxies would handle it correctly. I'm not sure how many handle client certificates for upstreams either.

Using a native Nomad proxy would also require one less network hop as a proxy would always do an HTTP call to an upstream whereas a Nomad proxy cou

[2017-10-12 22:29] automaticgiant commented on #2698
nice. thanks for the clarification.

[2017-10-12 22:48] #3357 closed

[2017-10-12 23:35] dadgar commented on #3335
@jippi The others must have garbage collected. You can see why the deployment was failed if you look at the unhealthy allocations tasks states. We annotate the failure reason.

I am going to close since I don't think this is a bug and there isn't enough information. Lets re-open if it happens again and if it does please grab all the allocations 👍

Thanks!

[2017-10-12 23:35] #3335 closed

[2017-10-12 23:36] dadgar commented on #3333
@jippi Do you have server logs from this period? Has this happened before the beta? Nothing has changed that would effect that system for a while now!

[2017-10-13 06:37] jippi commented on #3333
@dadgar it's the same cluster i shared logs for on another issue on gitter, so the logs would be in there. The error happened 1h before opening this ticket

[2017-10-13 09:14] artkrz commented on #3367
Thanks, that would explain it.

[2017-10-13 09:48] sheerun opened #3378 "Allow multiple jobs per job-file"
Currently nomad artifically restricts job file to contain only one job and results in following if multiple jobs are specified: `'job': only one 'job' block allowed`.

I like the idea of keeping all my jobs in one file, why such limitation? Could you relax it?

[2017-10-13 10:07] far-blue opened #3380 "Allow health checks to use exposed container ports on driver-assigned ip."
It's great to see the new address_mode service parameter that allows a service to be registered with a driver-managed IP instead of the host IP and it would be super-helpful if this capability was extended to the health checks.

My understanding is that it is actually consul that performs the health checks and my Consul agents have access to the same internal network Docker uses to assign IPs to c

[2017-10-13 14:37] sheerun opened #3381 "Move Start, Prestart and Cleanup logic of drivers to DriverHandle"
Currently the driver-specific Prestart, Start, and Clenaup logic is handled within main process of nomad (Driver interface). It could cause instability of client. I think all the logic should be handled by DriverHandle interface that is executed remotely on spawned executor process. Am I right? Wrong?

[2017-10-13 17:00] dadgar commented on #3381
The drivers are launched externally so that they can be reconnected to in the case that the client is killed or for during an upgrade path. Moving the logic to the clients removes a clear abstraction that they have and introduces a lot of code duplication. Further in the case we bring driver plugins, all plugins would need to re-implement the logic.

[2017-10-13 17:00] #3381 closed

[2017-10-13 17:02] dadgar commented on #3378
Hey we don't have any plans to do that. We like the mapping of one job to one job file and as we add interpolations `nomad run -var job.priority=80 foo.nomad` this logic would become more complex to implement.

[2017-10-13 17:02] #3378 closed

[2017-10-13 17:21] dadgar commented on #3159
@lovwal Did the IPs/interface change on that machine since Nomad started? I can't see how Nomad would pick a non-existent address. As mentioned originally, when there are many routable interfaces Nomad will just pick one. You should specify the interface to use if this is the case.

[2017-10-16 00:34] automaticgiant commented on #3369
i messed up the brackets and didn't realize a job->task was an implicit job->group->task

[2017-10-16 07:43] linuxgood1230 opened #3390 "nomad can use Multiple disk partitions"
I have many disks.
Like
/dev/sda
/dev/sdb
/dev/sdc
How nomad storage use this disks?

[2017-10-16 09:35] zstyblik opened #3391 "Clarify units of docker.cleanup.image.delay in documentation"
Hello,

please, would it be possible to clarify units of `docker.cleanup.image.delay` in [documentation](https://www.nomadproject.io/docs/drivers/docker.html#docker-cleanup-image-delay)?

Is it 3 minutes or 3 months? What if I want delay to be in months? In other words, something like ``docker.cleanup.image.delay is specified in minutes'' would be nice and sufficient.

Thank you.

[2017-10-16 09:46] port22 opened #3392 "Daylight-saving-time problem with nomad/periodic"
Hi, I am looking for a solution to solve the cron/DST problem.

I have a need to run important jobs exactly at 2.30am every day, unfortunately.

You name it .. at summer/wintertime switch for example, using my timezone Europe/Berlin, 2am becomes 3am in a second which will skip the 2.30 job.
The other way round, 2.30 job will be executed; 3am becomes 2am, 2.30 job will be executed again.

Currently

[2017-10-16 17:10] dadgar commented on #3391
Closing with 1826d05d5! Thanks!

[2017-10-16 17:10] #3391 closed

[2017-10-16 17:47] davecb opened #3394 "[question] Is the "CPU" resource a maximum limit or a guaranteed minimum?"
In most discussions of resource controls, the authors indicate if
- it is a maximum limit, as used in the old BSD4.X-derived ulimit, or
- if it is a minimum guarantee, as used in more modern zones or containers.

The documentation reads as if it's a maximum limit of X out of Y MHz, eg
[code]
or
[code]

Is this actually a hard limit? Our site uses nomad to manage docker, which uses shares (cited by

[2017-10-16 18:26] zstyblik commented on #3391
Thank you :)

[2017-10-16 18:35] schmichael commented on #3394
^ It's this one - a minimum which can burst to use idle capacity - for the Docker, exec, java, and rkt drivers.

`raw_exec` and Qemu drivers don't limit CPU usage and only use the information for scheduling, not enforcement.

[2017-10-16 18:36] #3394 closed

[2017-10-16 19:12] davecb commented on #3394
Thanks!

[2017-10-16 20:44] nugend commented on #3392
Sorry if this is a redundant question, but you did try setting the [timezone ](https://www.nomadproject.io/docs/job-specification/periodic.html#time_zone)in the periodic stanza to "Europe/Berlin", right?

If so, sounds like a bug in the way the cron scheduler is determining whether the job should be run or not.

[2017-10-16 23:03] DingoEatingFuzz opened #3399 "Move task event message logic into the API"
Currently the alloc-status command has a 100+ line decision tree for determining what message to show given the shape and state of a task event.

The UI duplicates this logic for the allocation detail page.

[alloc-status source](https://github.com/hashicorp/nomad/blob/master/command/alloc_status.go#L300-L431)
[Nomad UI source](https://github.com/hashicorp/nomad/blob/master/ui/app/models/task-even

[2017-10-16 23:15] #3238 closed

[2017-10-17 07:08] port22 commented on #3392
Hi, the timezone is irrelevant - in every timezone at a daylight-saving-switch an hour will be pushed forward at spring. And a job scheduled in that hour won't be processed because this hour simply does not exist. I was hoping I could implement pre/post-checks with nomad so that I could find out if $today is such a day and handle it accordingly.

[2017-10-17 14:06] nugend commented on #3392
Nomad doesn't interact with system cron. It uses the following vendor library: https://github.com/hashicorp/nomad/tree/master/vendor/github.com/gorhill/cronexpr. What I'm saying is that I believe your scheduled 2:30 job should execute immediately at 3:00, but I imagine that there is a bug preventing that.

[2017-10-17 19:17] zverocool opened #3405 "acl bootstrap does not seem to find acl-bootstrap-reset file"
### Nomad version
Nomad v0.7.0-beta1

### Operating system and Environment details
RHEL7

### Issue
I am trying to reset ACL bootstrap token, and i am unable to do so. It looks like Nomad is not able to locate the file in the data dir.
It's also confusing to see if its `data-dir/acl-bootstrap-reset` or `data-dir/server/acl-bootstrap-reset` Documentation says `data-dir/server/` , but the code says

[2017-10-17 21:22] dadgar commented on #3405
@zverocool Are you putting the `reset index` into the file. It worked for me:

[code]

[2017-10-17 22:04] #3239 closed

[2017-10-17 22:06] zverocool commented on #3405
Alright taking a break away from this gave me some ideas.... and I was able to figure out what was the problem.

`acl-bootstrap-reset` file needs to be created on the current Leader node, upgrading the documentation with this will greatly help out people in the future, but other than that works as designed.

    [root@server1 ~]# nomad acl bootstrap
    Error bootstrapping: Unexpected response cod

[2017-10-17 22:13] dadgar commented on #3405
@zverocool Good call! Will update the documentation! Thanks for the quick follow up!

[2017-10-17 22:13] #3405 closed

[2017-10-17 22:17] dadgar commented on #3405
Improved docs 0bf7c1f5c

[2017-10-17 22:52] csawyerYumaed commented on #1185
I use sed to do this, currently.

[2017-10-18 11:14] lovwal commented on #3159
There's only one routeable interface on the machine, the address did not change on it.

[2017-10-18 17:23] mandeepshetty opened #3407 "Presence of empty "options" in "artifacts" changes destructiveness of job updates."
### Nomad version
Output from `nomad version`
`Nomad v0.6.0`

### Operating system and Environment details
Ubuntu 16.04
`uname -a`
`Linux mandeep-nuc 4.10.0-37-generic #41~16.04.1-Ubuntu SMP Fri Oct 6 22:42:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

### Issue

I submit a job with constraints. I then delete the constraints and update the job expecting an in-place update. However, it results in de

[2017-10-18 17:37] Cryson opened #3409 "[ISSUE] Nomad 0.7.0 not respecting the anonymous namespace policy capabilities"
### Nomad version
Nomad v0.7.0-beta1

### Operating system and Environment details
Red Hat Enterprise Linux Server release 7.4 (Maipo)

### Issue

I am adding the below configuration to the anonymous policy in nomad:

[code]

When I add that to the anonymous token, from the documentation here (https://www.nomadproject.io/guides/acl.html#set-an-anonymous-policy-optional-) the default namespace shou

[2017-10-18 17:41] dadgar commented on #3409
@Cryson Since you have `policy = read`, you are giving the anonymous policy "read-job" as well: https://www.nomadproject.io/guides/acl.html#read-1

If you look right below the linked section you will see that we document the merging behavior:

[2017-10-18 17:44] Cryson commented on #3409
@dadgar So if I remove the `policy = read` and I only have the following:
[code]

I can hit the /v1/jobs endpoint and get the list of jobs, however, if I do /v1/job/jobname I still get the json data for that as well even though I am not specifying `read-job`. When I should not be able to do that, correct me if I am wrong.

[2017-10-18 18:00] dadgar commented on #3409
@Cryson It worked for me:

[code]

Where that policy file has:

[code]

[2017-10-18 18:38] Cryson commented on #3409
@dadgar Could you provide your anonymous.hcl. I'm curious about the layout of the file and would like to compare.

[2017-10-18 18:40] dadgar commented on #3409
@Cryson It is actually what I placed above.

Just put this into a file `anonymous.hcl`:
[code]

And then run: `nomad acl policy apply -token=<management token> anonymous anonymous.hcl`

[2017-10-18 18:56] Cryson commented on #3409
So I am following your steps, but my results are different. See below:
[code]

[2017-10-18 18:59] dadgar commented on #3409
Are you unsetting your environment variable when querying for the job status?
[code]

You may just be querying with your root token?

[2017-10-18 19:09] Cryson commented on #3409
@dadgar So I removed the token and `nomad job status jobname` I get permission denied. However if I hit the api `curl -s http://localhost:4646/v1/job/jobname` I still get the json back. Is that expected behavior? I figured the policy should stop me from curling to the endpoint and getting json back.

[2017-10-19 05:07] dadgar commented on #3409
Hey @Cryson

The beta didn't have full ACL coverage on all endpoints. On master it is working properly:

[code]

There will be an RC out very shortly that has full coverage! Thanks for reporting! 👍

[2017-10-19 05:07] #3409 closed

[2017-10-19 06:17] krjensen commented on #2395
We would like this as well. It would be grate if nomad could cron schedule a docker image, so we dont need to build cron into all our images.

[2017-10-19 07:28] anubhavmishra opened #3418 "Nomad interpolation docs have typos"
Nomad [environment variables](http://localhost:4567/docs/runtime/interpolation.html#environment-variables-) docs has variables with missing underscores which is misleading. I have attached a screenshot below.

![image](https://user-images.githubusercontent.com/4024506/31758868-0762d15e-b464-11e7-9f3f-42d42c067868.png)

For example, `NOMAD_PORT<task><label>` should be `NOMAD_PORT_<task>_<label>`. T

[2017-10-19 09:20] sugdyzhekov opened #3419 "Nomad does not handle container names conflict"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
CentOS Linux release 7.4.1708 (Core)

Docker:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:42:49 2017
 OS/Arch:      linux/amd64
 Experimental: false

### Issue
Nomad does not handle container names conflict and marks tasks

[2017-10-19 09:25] sugdyzhekov commented on #3419
Something similar is described in #629

[2017-10-19 09:34] sugdyzhekov commented on #3419
I suppose that docker driver should detect:
* unavailability of docker service
* issue with a container start

.. and marks node as "problem" with the following migration of all tasks to another node.

[2017-10-19 10:18] jzvelc opened #3420 "Memory leak"
### Nomad version
0.6.3

### Operating system and Environment details
Ubuntu 16.04.03 LTS (GNU/Linux 4.4.0-1038-aws x86_64)

### Issue
We are running 3 nomad servers and 5 nomad clients.
On daily basis we experience issues with nomad clients crashing or consuming all available host memory. Issues started at `Oct 19 07:45:28`. I suspect this is related with permissions and GC when running nomad as

[2017-10-19 14:54] margueritepd opened #3421 "Feature request: detailed allocation GC docs and logging of allocation state before GC"
I recently had some allocations fail and later be replaced with new ones. Judging by the client logs below, allocations were GC'd less than 2h after allocation failure. I can't tell by the logs when the Nomad servers garbage collected the allocations.

[code]

By the time I noticed that the allocation had failed, any debugging information was long gone. When googling for documentation about Nomad

[2017-10-19 15:08] jippi opened #3422 "[SDK/enhancement] allow providing http.Client when creating api.Client"
As part of my hashi-ui tweaks, i've hit a case where i need to tweak the connection timeout (`DialContext{Timeout}`) of the `http.Client` and be able to control a few other params

Currently this property is private to the api package, making it impossible to inject a client with the required config changes

[2017-10-19 21:42] schmichael commented on #3421
Good timing! I'm working on the GC as we speak and the logging will be improved.

`forced collection` is the reason. Did you force a GC via the `/v1/system/gc` HTTP endpoint. Otherwise it was probably the periodic server initiated GC which unfortunately are only logged at `DEBUG` level.

[2017-10-19 22:01] schmichael commented on #3420
I suspect that this is due to GC issues I'm working on as we speak! Is there any chance you could bump the log level to debug on a node and paste a similar subset?

[2017-10-19 22:37] schmichael commented on #3418
Yikes! Thanks for pointing that out!

[2017-10-19 22:52] #3418 closed

[2017-10-20 04:18] kmalec commented on #2938
I might post a small PR for this at some point, since we're currently PoCing stuff that runs GPU-enabled containers on CoreOS instances, and I need to use `--device /dev/nvidiactl --device /dev/nvidia0 --device /dev/nvidia-uvm`.
I've seen the GPU-specific issue, not sure it's needed - in our case, I took inspiration from The Internet(TM) and I've built the drivers and kernel module for CoreOS insi

[2017-10-20 14:10] margueritepd commented on #3421
Great to hear! Better logging and more explicit documentation on how GC works will be very helpful.

No manual call to `/v1/system/gc` was made. I was under the impression (from gleaning github comments) that the clients kept allocations around until forced to clean up from lack of disk space, but if the server forces clean up on its own schedule that makes sense. Clearer documentation would defin

[2017-10-20 14:23] hessam61 opened #3429 "Running multiple command in Docker driver"
### Nomad version
Output from `0.6.3`

### Operating system and Environment details
`centos7`
### Issue
Nomad seems to escape && when using multiple arguments. For my use case, I need to run few python modules in order. This is done in docker-compose as follow:
[code]

Similarly, in my Nomad job, I passed these modules as arguments:
[code]
However, when I run my job it runs module_a, and issue exi

[2017-10-20 16:54] schmichael commented on #3429
Can you paste the exact args you're using? There seems to be a trailing `"` on the first line of your paste.

Have you tried putting all of the arguments after `"-c"` into a single string? I believe this behave as you intend:

[code]

[2017-10-21 15:09] SunSparc commented on #419
+1 for task sequence/dependency

[2017-10-22 06:48] anubhavmishra commented on #3418
np!

[2017-10-23 12:23] nickwales commented on #2057
This would be a very nice to have. We rely on this on our platform currently and Nomad would need to support this before we could migrate.

[2017-10-23 13:02] nugend commented on #419
For anyone really pining for this, there is a slightly easier method provided you are registering the upstream tasks as services: use a template stanza to create a run script and make that the command of your task. Then you can use a conditional dependent on the service being available to either launch the actual process or sleep forever.

Works pretty well, though it does require a bit of scripti

[2017-10-23 19:05] schmichael commented on #2643
arm64 builds are available!

[2017-10-23 19:05] #2643 closed

[2017-10-24 16:58] schmichael commented on #3429
I'm going to close for now, but feel free to reopen if bash quoting was not the issue!

[2017-10-24 16:58] #3429 closed

[2017-10-25 09:32] venugopalanAG opened #3442 "[question] No alloctions on nomad run, with the desired change ignore 1"
Allocation is ignored after evaluation the nomad file

`Desired Changes for "company": (place 0) (inplace 0) (destructive 0) (stop 0) (migrate 0) (ignore 1) (canary 0)`

### Nomad version
Output from `Nomad v0.6.3`

### Operating system and Environment details
`Ubuntu Xenial`

### Nomad Logs
group count = 1
[code]

[2017-10-25 17:50] schmichael commented on #3442
Could you share your job file or at least what you're changing in it? What does `nomad plan ...` output for the job you're submitting?

Using the [evaluation API](https://www.nomadproject.io/api/evaluations.html#read-evaluation) is useful if an evaulation is blocked, but since it completed successfully it probably isn't useful.

[2017-10-25 18:00] diptanu opened #3444 "API for purging nodes"
We need an API to purge nodes on the servers. The use case is we run Nomad on bare metal machines and sometimes when the machine fails because of hardware issues and is fixed by data-center operators we have to re-image the machine and have them join back in. The machines have the same host name and IP addresses so re-registration with servers fail because of mismatch in secret IDs.

I am thinking

[2017-10-25 18:30] dadgar commented on #3444
@diptanu I am not opposed to the method, I think it can reuse the existing Node.Deregister RPC. As for your immediate problem, what version of Nomad are you running? If you have cleared the data_dir, the node should come back with a new (node_id, secret_id) pair and re-registartion should work. We don't use the host based uuid by default anymore. You can force this by setting this: https://www.nom

[2017-10-25 18:57] diptanu commented on #3444
@dadgar Sounds good, I will get started on that API. We are on 0.5.6 + some code for the ipv6 fixes, the team is going to roll out a new version when 0.7 comes out.

[2017-10-25 20:43] dadgar commented on #3442
@venugopalanAG Just to be clear, this may be the correct behavior. If the allocation is running and there is nothing to do the scheduler will ignore the allocation.

[2017-10-25 21:18] schmichael commented on #3421
#3445 includes some logging improvements to the GC but does not directly address the items you list.

[2017-10-25 22:42] cheeseprocedure commented on #2323
Hi @lfarnell! Just a heads-up: my team ran into this requirement as well, and we added a graceful shutdown option for the QEMU driver here (it uses the QEMU monitor under the hood): https://github.com/hashicorp/nomad/pull/3411

It's certainly not live migration, but it gives VMs the opportunity to shut down properly.

[2017-10-26 14:43] venugopalanAG commented on #3442
@dadgar Just to clarify, if allocation is running the `place/inplace` should be 1,right?
In my case, no job is in running state,state of it is dead
`Total changes: (place 0) (destructive 0) (inplace 0) (stop 0)
Desired Changes for "company": (place 0) (inplace 0) (destructive 0) (stop 0) (migrate 0) (ignore 1) (canary 0)`

@schmichael It happened few time for the batch jobs ,I can't able to figure

[2017-10-26 16:55] dadgar commented on #3442
@venugopalanAG That is the changes the scheduler wants to make. So the scheduler did not want to make any changes. If you batch job finished, Nomad won't rerun it when you run the job unless you change the job name or something about the job. I am going to close this for now as it seems like there is no bug.

[2017-10-26 16:55] #3442 closed

[2017-10-27 05:22] joliver opened #3454 "Concurrent map iteration and map write"
### Nomad version
v0.7.0-rc1

### Operating system and Environment details
Ubuntu 16.04 amd64

### Issue
It looks like one of the dependencies in Nomad doesn't properly lock around iterating/writing to a map at the same time.

### Reproduction steps
This occurred during a time when network connectivity to the machine in question was unavailable.

### Nomad Server logs (if appropriate)
[code]

[2017-10-27 07:17] dadgar commented on #3454
Do you have the full stack trace? If so would you mind adding it to this issue

[2017-10-27 09:10] jzvelc commented on #3420
Here it is:
https://pastebin.com/CLew3MXC

Now I also run nomad as root user which solved permission denied errors.

[2017-10-27 10:56] fho opened #3455 "Feature request: run health-check script on the host instead of in the task environment"
Nomad is currently only able to run health-check inside the tasks environment.
If the task is a docker container or the binary runs in a chroot, the health-check script has to be part of the container/chroot.

We are using the same tool to check the status of dozens of tasks.
The same health-check tool has to be installed multiple times in all of the task environments.
In all of those environments

[2017-10-27 12:28] TheSpbra1n opened #3456 "bind: address already in use"
`Nomad v0.6.2`
`Ubuntu 16.04 x64`

Sometimes when nomad starts the container. He gives him the port that is busy with an outbound connection.

I found the solution: shrink ephemeral port range ( https://github.com/hashicorp/nomad/pull/2856/files ), but I have no way to change it.

Can we set  a range of ports to nomad config ?

[2017-10-27 13:33] angrycub commented on #3456
While we don't have provisions for changing Nomad's range, the operating system can be tuned to prevent overlap.  See https://www.nomadproject.io/guides/cluster/requirements.html#ports-used for more details.    I'll mark this resolved, but please comment back if I did not fully understand your issue.

[2017-10-27 13:33] #3456 closed

[2017-10-27 14:47] dansteen opened #3457 "paramaterized jobs will sometimes show as `running` and sometimes show as `dead`"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
debian 8

### Issue
When creating parameterized jobs,  the job itself (not the dispatched jobs) will sometimes show as `running` and sometimes show as `dead`.   As an example, I have the following jobs:

[code]
Notice that the top one shows as "dead" and the bottom one shows as "running"
Here are the detailed `inspect`s o

[2017-10-27 15:06] dansteen opened #3458 "Nomad shows node as "ready" even though it is down (and nomad knows it's down)"
### Nomad version
Nomad v0.6.3

### Operating system and Environment details
debian

### Issue

I have a number of nomad client boxes that were shut down. However, nomad still shows the node as being in the "ready" state when I do a nomad node-status. However, when I list the allocations on the node, they show as being `lost` with a message `alloc is lost since its node is down`.   Clearly nomad k

[2017-10-27 16:36] #3457 closed

[2017-10-27 16:37] dadgar commented on #3457
@dansteen Thanks for reporting. Got a fix and will be in 0.7

[2017-10-27 16:45] schmichael commented on #3420
Excellent, thanks for the updated logs. This in particular is definitely a bug I'll look into:

[code]

Regarding the permissions issues: Had you initially run Nomad as root and then restarted it as a non-root user? I'm not sure how else you would get permission issues. Generally we recommend running Nomad as root although the `docker` and `raw_exec` drivers should work fine as non-root users.

Ar

[2017-10-27 16:51] SunSparc commented on #3454
Ok, just remember, you asked for it. 😄  Here are the 1200+ lines of stack trace:

[code]

[2017-10-27 16:54] dadgar commented on #3458
@dansteen Could you provide all your server logs? Would you mind doing `curl -XPUT http://127.0.0.1:4646/v1/system/gc` before collecting the logs?

[2017-10-27 17:42] #3444 closed

[2017-10-27 18:21] schmichael commented on #3455
This is a tricky problem to solve because it's difficult if not impossible to run scripts outside of a task's environment and ensure not just the proper security constraints but also ensure the execution environment (filesystem & network access) is appropriate for the check to execute.

Is downloading the check as an artifact per task prohibitively inefficient? If so, why? Disk space? Additional s

[2017-10-27 19:15] dansteen commented on #3458
Ok.  I ran the gc and gathered some logs.   We have 3 nomad servers in our cluster, so I have included logs from each one.

One other thing that I noticed is that we seem to have an extra server listed in `nomad operator raft list-peers`:

[code]
compared to the output of `nomad server-members`
[code]
I don't know where that came from, or what box it is since it doesn't seem to actually exist at t

[2017-10-27 20:29] dadgar commented on #3454
@joliver Thanks for the report. Will be fixed in 0.7.0

[2017-10-27 20:35] dadgar commented on #3458
@dansteen Ah I should have asked for you to up the log level to debug first. Would you mind doing that and then letting it run like that for ~20ish minutes, GC and then send those? You can bump the log level in the config and just SIGHUP the servers.

[2017-10-27 20:36] dadgar commented on #3458
I would also do a `nomad operator raft remove-peer` on the incorrect node

[2017-10-27 20:42] dadgar commented on #3455
I am also inclined to not support this. It adds additional complexity both for the health checking code and for the user to understand the behavior, especially as additional resource isolation mechanisms are enforced. It is much nicer to hold the invariant that the script has network/process/fs access to the task it is health checking.

[2017-10-27 21:46] dansteen commented on #3458
@dadgar sorry about that, I should have known.  Anyway, here are the fancy new logs:
[nomad3.log](https://github.com/hashicorp/nomad/files/1423544/nomad3.log)
[nomad2.log](https://github.com/hashicorp/nomad/files/1423545/nomad2.log)
[nomad1.log](https://github.com/hashicorp/nomad/files/1423546/nomad1.log)

[2017-10-27 23:57] dadgar commented on #3458
@dansteen Can you show me the metric `nomad.heartbeat.active` and the output of `curl 127.0.0.1:4646/v1/nodes`.

You can get the heartbeat metric either from your metrics sink or if you aren't exporting them if you send SIGUSR1 on the leader node it will output the metrics to the STDERR

[2017-10-29 03:02] dansteen commented on #3458
Unfortunately (or fortunately?) it looks like it finally figured out that those nodes were down.  Here is the output of  curling the nodes:

```[{"ID":"05072c00-b269-2fef-6631-a06c43c4fe87","Datacenter":"awse","Name":"woofound-008.stag.awse","NodeClass":"","Version":"0.6.3","Drain":false,"Status":"ready","StatusDescription":"","CreateIndex":1158424,"ModifyIndex":1263436},{"ID":"0c01f3c6-56fc-38a6-

[2017-10-29 16:53] felka opened #3462 "Template: Fail job on missing keys"
### Nomad version
0.7.0-rc3
### Operating system and Environment details
ubuntu 16.04
### Issue
We are working on moving our cronjobs to Nomad. It includes scheduling scala jars using native exec (no containers). The job itself contains template stanza which renders a job config file with keys from consul before execution. If a key is missing the job will get stuck in pending state and prevents ot

[2017-10-30 00:43] preetapan commented on #3462
@felka can you provide the template (even a sanitized version is fine). Nomad uses [consul-template](https://github.com/hashicorp/consul-template) which does a [blocking query](https://www.consul.io/api/index.html#blocking-queries) to read the key. I suspect that this is causing the template to never finish rendering. This is expected behavior though given how consul template works.

[2017-10-30 10:29] benepo opened #3463 "Singularity support"
Please consider adding support for Singularity: http://singularity.lbl.gov/install-linux

Singularity is a more secure alternative to Docker and popular in HPC/supercomputer environments.

[2017-10-30 10:38] felka commented on #3462
@preetapan Thanks for prompt answer!
I understand it is expected behavior. Also we are using 0.14 consul template which has non blocking query in "key".
However, I think this behavior should has a config to allow job to fail instead of being in pending/running state and using allocation. Blocking allocation because of missing key seems to me too aggressive as a default.

[2017-10-30 14:38] mikesimons commented on #3462
I would definitely like the option for the nomad job to fail if keys are missing (maybe as an extra param to the template stanza).

I had the same issue while evaluating nomad and resorted to doing a pre-flight check on the manifest [using this script](https://github.com/hashicorp/consul-template/issues/969#issuecomment-323052799).

If the output is not empty then you have missing keys and can thr

[2017-10-30 15:26] preetapan commented on #3462
@felka - Do you use keyOrDefault in your template? https://github.com/hashicorp/consul-template#keyordefault - that should let it progress with a default value instead of a blocking query.

As I understand it, the details of your template are opaque to Nomad and it only executes it. Consul template has three options - a blocking query, a keyExists check so that you can do flow control based on whe

[2017-10-30 16:55] chelseakomlo commented on #3463
Thanks for the suggestion. We are planning to move to a driver plugin architecture and won't be adding any more first class drivers in the near future. After we enable pluggable drivers, this is a feature someone could develop and manage externally.

[2017-10-30 16:55] #3463 closed

[2017-10-30 17:02] diptanu opened #3465 "Publish job summaries as metrics"
Nomad is being offered as a service to users who want to be notified if the number of allocations they are running is not same as the desired state.

This would be easier to do if Nomad published job summary as a metric and allowed users to write rules in our internal monitoring system service. We don't want every user to write blocking queries against the job summary or the allocations API to kee

[2017-10-30 17:04] diptanu commented on #3465
I can work on this by the way since we need this for operational purposes.

[2017-10-30 17:11] dadgar commented on #3458
@dansteen Ah! Your leadership flapping explains this issue. You are loosing leadership roughly every minute:

[code]
Only the leader will mark a node as down based on the heartbeat, and when there is a transition, a 5 minute grace period is applied before marking a node as down. This is done to ensure that all the clients in the cluster learn about the new leader so they don't get marked as down n

[2017-10-30 17:11] #3458 closed

[2017-10-30 17:26] chelseakomlo commented on #3465
This sounds like a great addition, and something that would be helpful in general.

[2017-10-30 18:07] dadgar commented on #3392
@port22 This would need some investigation. I am not sure how the cronexpr library handles this. You may want to write a little unit test and report back!

[2017-10-30 18:14] dadgar commented on #3333
@jippi Hey had a chance to read through your logs. As suspected, there are leadership transitions causing the evaluation broker to be disabled. The leader is the only server handing out work to the other schedulers, so when there is no leader, the eval broker" is disabled and you get those logs.

[code]

I am not sure if you were having an unusual network event but the timing between the servers i

[2017-10-30 18:14] #3333 closed

[2017-10-30 18:25] dansteen commented on #3458
Nice!  Where in the logs do you see that we have >750ms?   From what I can see we are sub 1ms:

[code]
[code]

As a note, these servers are all in different Availability Zones in the same DataCenter in AWS.

[2017-10-30 19:30] dadgar commented on #3458
@dansteen Hmm usually AZs have a good network latency between them. May have been a ephemeral issue. You can see the results of grepping `contact.*in `:  https://gist.github.com/dadgar/623840e44ed09c741264a7bbad391310

You should monitor the metric `nomad.raft.leader.lastContact`. For more telemetry details check out: https://www.nomadproject.io/docs/agent/telemetry.html

[2017-10-30 19:35] #3454 closed

[2017-10-30 21:01] dansteen commented on #3458
Thanks @dadgar here is a graph of `nomad.raft.leader.lastContact`:

<img width="494" alt="screen shot 2017-10-30 at 4 57 58 pm" src="https://user-images.githubusercontent.com/64940/32195393-872b329a-bd93-11e7-9b32-0b075ba182bb.png">

I'm not sure I believe that we had latency of 15 seconds between the two boxes, but it certainly illustrates your point!   If we see this again I'll start debugging f

[2017-10-30 21:33] ckong1991 opened #3469 "Feature Request: Dynamically set 'priority' of parameterized job"
It would be nice if we could set the priority of a parameterized job, e.g. through META when we dispatch a job. Current use case is to run the same task at different priorities, depending on the origin of the task (for our build system) - our work around is to register X jobs of the same template, with the priority/job name changed slightly.

[2017-10-30 21:55] chelseakomlo commented on #3469
Hey,

Thanks for the feature request! This will be possible in the future as Nomad's roadmap includes dynamic configuration. See https://github.com/hashicorp/nomad/issues/1185 for reference.

Best,
Chelsea

[2017-10-30 21:55] #3469 closed

[2017-10-30 21:57] dadgar commented on #3469
@ckong1991 To clarify how the link issue would resolve this, one could set the priority of the job to be a variable supplied as metadata provided when dispatching the parameterized job. Currently it isn't possible since interpolation is client side only and all fields that impact scheduling must be known at job submission time currently.

[2017-10-31 07:49] djenriquez commented on #1635
Any updates/thoughts to this feature? HA is definitely a higher priority for us than efficiency, would love to be able to distribute on new nomad clients becoming available!

[2017-10-31 09:08] jippi commented on #3333
@dadgar we run each nomad server in an AZ, other than that there isn't anything special about it. We've only seen this once in the last 8 months, so might be a network fluke somewhere - thank you!

[2017-10-31 09:43] flyhard opened #3473 "Support wrapped Vault token at nomad startup"
I have been trying to get Nomad to start when I provide a wrapped token to it via environment variable. It appears that this doesn't work at the moment.

Even if I am running vault on a secured machine, I'd like to not show the token that the server uses for anyone with /proc access.

I suggest that this needs to be put into the application.

[2017-10-31 14:39] jippi opened #3474 "[0.7.0-rc3] prometheus telemetry keep emitting data for stopped allocations"
this is a DatsDog chart using prometheus to show `nomad_client_allocs_memory_rss` grouped by `alloc_id`  - all those flat-lines are in fact allocations that is stopped, replaced by a new one (during a new submission of a job)

I've verified those allocation IDs still exist in `/v1/metrics?format=prometheus` when when the allocation is stopped/dead

Telemetry config:

[code]

![image](https://user-

[2017-10-31 16:38] dadgar commented on #3473
@flyhard Can you put it in the config file and have that file be in a folder such that only the Nomad user has access to it?

[2017-10-31 16:59] chelseakomlo commented on #3474
Thanks for reporting this issue- a task shouldn't emit events when it is dead. We have added this to our near-term roadmap.

[2017-10-31 17:34] jippi commented on #3474
personally i find it a pretty big bug, will make alerting etc seriously hard on the telemetry when stopped/dead allocations keep emitting the usage as if they are running, making 0.7 telemetry useless for cases like that :( i hope it can make it into 0.7-final considering this

[2017-10-31 20:32] diptanu opened #3478 "Log cluster events"
One of the challenges we face with Nomad is that job owners can't debug their services when they are GCed. We need cluster events to be logged to storage so that job owners can look into the cluster events and debug problems, this would be useful for scheduler developers too.

I think there are two options here, either we log events that are applied to the state store from the FSM into a log or we

[2017-10-31 20:34] dadgar commented on #3478
@diptanu Is this a dupe of https://github.com/hashicorp/nomad/issues/1137

[2017-10-31 20:57] diptanu commented on #3478
Yes, please feel free to close either of them.

[2017-10-31 21:58] jippi commented on #1137
https://github.com/seatgeek/nomad-firehose could be used as a stop gap for this feature until something native shows up :)

[2017-10-31 21:58] jippi commented on #1137
Cc @diptanu

[2017-10-31 23:38] #3478 closed

[2017-11-01 12:25] hamann opened #3481 "Nomad running in docker - files in /secrets not visible to tasks"
We're running nomad inside a docker container, mount a named volume `nomad` from host into nomad container and set nomad's data dir with
 `data_dir = "/var/lib/docker/volumes/nomad/_data"`

Extract from `docker inspect nomad`

[code]

This works so far, e.g. task logs are visibile inside nomad container and also on host at the same paths.

Now we added vault integration to nomad and expected to se

[2017-11-01 16:39] dadgar commented on #3481
Hey @hamann,

We recommend not running Nomad clients in a Docker container. It is not currently something we are testing against and as such it isn't exactly supported.

[2017-11-01 17:09] hamann commented on #3481
Alright, thanks. We're using CoreOS and it's easier there to put/deploy everything in containers and to populate exec/raw-exec environments with tools installed in the nomad image instead of hosting/compile them somehow on CoreOS.

[2017-11-01 20:16] #3465 closed

[2017-11-02 09:10] jzvelc commented on #3420
I initially ran it as nomad user. The problem was that Nomad wasn't able to GC downloaded artifacts due to permission issues. I solved this by switching to root user.

Note that I am still constantly getting following warnings:
[code]

[2017-11-02 13:31] jippi opened #3485 "Template{}: allow stale reads"
We've observed quite a lot of pressure on our Consul Servers when doing fairly complex template{} reading from the consul catalog.

It would be nice if template{} could expose the `max_stale` config from consul-template, so we can scale out reads

[2017-11-02 15:34] lovwal opened #3487 "Failed to start allocation due to binding to non-existent address"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
CentOS 7 3.10.0-514.el7.x86_64
### Issue
Related to #3159
After upgrade to v0.7.0, nomad tries to bind the docker proxy address to a non-existent ipv6 link-local address (this only affected one node in our cluster):
[code]

Affected node is in drain mode, I can pull further information if required.

### Reproduction steps

[2017-11-02 15:44] emetens opened #3488 "p"
If you have a question, prepend your issue with `[question]` or preferably use the [nomad mailing list](https://www.nomadproject.io/community.html).

If filing a bug please include the following:

### Nomad version
Output from `nomad version`

### Operating system and Environment details

### Issue

### Reproduction steps

### Nomad Server logs (if appropriate)

### Nomad Client logs (if appropria

[2017-11-02 16:28] dadgar commented on #3488
Looks like this may have been opened prematurely or by accident.

[2017-11-02 16:28] #3488 closed

[2017-11-02 16:41] schmichael commented on #3420
If you have over 50 running allocations on that node that can be ignored. One way to check if you have curl and jq installed:

[code]

To get rid of the warning you can bump the [max_allocs](https://www.nomadproject.io/docs/agent/configuration/client.html#gc_max_allocs) setting to squelch the warning and GC less aggressively.

However if you do *not* have 50 running allocations on this node you we

[2017-11-02 17:52] nugend commented on #1755
I know that this isn't like a platform priority for you guys, but this would let me throw out some very janky shell scripting.

[2017-11-02 17:58] schmichael commented on #3420
I've also submitted a followup PR to lower that log level in most situations: #3490

[2017-11-02 18:23] schmichael opened #3491 "nomad run example.nomad requires Admin privileges on Windows"
### Nomad version

[code]

### Operating system and Environment details

Windows Server 2016

### Issue

`nomad run example.nomad` fails with a permission error.

### Reproduction steps

In a non-admin powershell:

[code]

It appears the way hashicorp/go-getter is used to copy the jobfile into a temporary file doesn't work on Windows.

[2017-11-02 20:45] #3060 closed

[2017-11-02 21:01] diptanu commented on #3487
@lovwal which interface did Nomad fingerprint after you restarted?

[2017-11-02 21:50] dadgar commented on #3487
@lovwal Could you share the client's logs when it started up

[2017-11-03 03:09] holtwilkins opened #3497 "Nomad UI requires direct client access"
### Nomad version
0.7.0

### Issue

The Nomad web UI, when attempting to view a particular client as in the `ui/nodes/<node ID>` UI endpoint, attempts to reach-out to that client directly on port 4646.

### Expected Behavior

Although running the Nomad CLI also attempts to reach-out directly to nodes, I would expect that the server (via the UI) would be intended to be treated as a proxy, so to spe

[2017-11-03 08:15] lovwal commented on #3487
@diptanu Is there any way to pull this information from nomad? Can't see it in the logs.
@dadgar Journal logs from shutdown/start up until drain attached, INFO level unfortunately.

[nomad.txt](https://github.com/hashicorp/nomad/files/1440388/nomad.txt)

[2017-11-03 10:28] jzvelc commented on #3420
I switched to a build that you provided but the client just won't start:
https://pastebin.com/RJvvNe5t

[2017-11-03 14:35] sirkjohannsen commented on #3474
This bug is still present in 0.7.0 stable.
We used nomad-exporter (https://github.com/Nomon/nomad-exporter) before and were super happy to see that prometheus metrics now come out of the box... sadly this bug makes them unusable.

[2017-11-03 15:45] mildred opened #3498 "environment template is not always working"
### Nomad version
Nomad v0.6.2

### Operating system and Environment details
CoreOS

### Issue

When a nomad job with a task that uses the docker driver has both an environment section `env { "KEY" = "value" }` and an environment template, the environment section is used to populate the docker container environment but the environment template is ignored. but sometimes it works too.

### Reproduct

[2017-11-03 15:51] chelseakomlo commented on #3498
Thanks for reporting this issue. Do you have more information about when the environment template is and isn't ignored? If you have logs that are relevant to this issue, feel free to add them here.

[2017-11-03 17:41] diptanu opened #3499 "Support for Nvidia GPUs"
Support for NVIDIA GPU cards as resources in Nomad is needed for scheduling applications which need to be scheduled on machines which has GPU cards.

Here are the requirements that we have -
a. Schedule applications in a fleet which has GPU cards only on a subset of the cluster
b. Schedule applications on specific GPU cards like Tesla. Some of the machines might have older hardware, so users might

[2017-11-03 17:43] diptanu commented on #3499
@caiush Let me know if you have any additional use cases that aren't covered in my description.

[2017-11-03 17:47] dadgar commented on #227
Hey all! This has landed in Nomad 0.7! https://www.nomadproject.io/guides/acl.html

[2017-11-03 17:47] #227 closed

[2017-11-03 17:47] dadgar commented on #589
Hey all! This has landed in Nomad 0.7! https://www.nomadproject.io/guides/acl.html

[2017-11-03 17:47] #589 closed

[2017-11-03 18:01] #3399 closed

[2017-11-03 19:48] dadgar commented on #3499
What are you thinking for e? Just `gpu = n`?

[2017-11-03 19:59] dadgar commented on #3497
For the time being this is as designed. It is using the same API's as the CLI so the experience will be the same for both of them. This may change in the future.

[2017-11-03 19:59] #3497 closed

[2017-11-03 20:02] dadgar commented on #3487
@lovwal Hmm, unfortunately all of that will be in the debug level logs. The INFO level logs doesn't provide much in this case. Would it be possible to collect some DEBUG logs?

[2017-11-03 20:04] dadgar commented on #3498
@mildred Could you please share DEBUG level logs of the client where this occurs.

[2017-11-03 20:24] #2203 closed

[2017-11-03 21:21] diptanu commented on #3499
@dadgar There are many ways of doing this, not sure what's the best way to do this. Users could specify for `n` GPUs in the resources block and add constraints like GPU models, driver version etc. We could also do a GPU specific stanza, which is probably more work.

[2017-11-03 22:35] lovwal commented on #3487
@dadgar I'll see if I can get something next week.

[2017-11-03 23:19] schmichael commented on #3420
It appears to be a bug unrelated to your previous issues: Nomad panics when restoring an alloc whose leader task failed before the previous shutdown.

Am I correct in assuming you have an allocation with a `leader = true` task? If not I can keep digging!

If so please test the binary attached to #3502 if you're able.

[2017-11-04 00:23] vrenjith commented on #419
Or use containerpilot if you are using docker driver of nomad.
https://github.com/joyent/containerpilot

On Mon, Oct 23, 2017 at 6:32 PM, Daniel Nugent <notifications@github.com>
wrote:

--
Regards,
Renjith

[2017-11-04 20:18] james-powis opened #3503 "Unable to pass -consul-address via command line"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue
[code]

### Reproduction steps
Replace 192.168.0.211 with the ip address of your primary nic.

- Start consul with the following:
[code]

- Start nomad with the following
[code]

Note: Running with the following nomad.config does not manifest the same problem
[code]

[2017-11-06 01:42] discobean opened #3506 "GC memory leak / crash, 0.6.3+"
Running 0.6.3 ran a manual GC after some time (1 week?), and 2 server agents in the cluster failed and lost quorum.

During the GC CPU spiked on the servers until they were no longer accessible.

I tried upgrading to 0.7.0 and starting with the same state, but the server agents crashed after using up all memory once more.

Attached is a dump of the logs that ends with `fatal error: runtime: out of

[2017-11-06 03:49] diptanu opened #3507 "Support for uniform allocation placements across DCs"
Once we land #3499, we will need a way for Nomad to not bin-pack by default for allocations requesting GPUs. Running all the GPUs hot on certain machines in the DC will result in uneven cooling and cause thermal imbalance.

cc/ @dadgar

[2017-11-06 09:59] jrasell opened #3508 "Panic when running `nomad keyring` command - Nomad 0.7.0"
### Nomad version
[code]

### Operating system and Environment details
[code]

### Issue

When running `nomad keyring` a panic is experienced. This issue seems to affect running clusters; as well as when running the command locally with no local cluster running nor any connectivity to a running cluster.

All subcommands seem exhibit the same behaviour.

### Reproduction steps

Run the command `nom

[2017-11-06 10:05] lovwal commented on #3487
@dadgar As suspected it fingerprinted the correct interface after restart. However, it still attempts to start docker containers with the faulty address. Do note I removed the drain before restart, so this is most likely an old state saved.
[nomad.txt](https://github.com/hashicorp/nomad/files/1445737/nomad.txt)

[2017-11-06 14:31] IainSteers opened #3510 "[ui] [improvement] Filter out batch-child jobs"
### Nomad version
`Nomad v0.7.0`

### Operating system and Environment details
Ubuntu 16.04

### Issue

Right now the jobs table in the UI is horrifically over-populated, with even a couple of periodic jobs in our environment.

Quickly building up a pile of `dead` periodic jobs, makes the only reasonable use of the table, directly search for your job.

We'd appreciate it if you could group batch c

[2017-11-06 17:26] SoMuchToGrok commented on #3247
I think this might be it :)

https://github.com/hashicorp/nomad/pull/3492

[2017-11-06 17:39] #3508 closed

[2017-11-06 17:48] mildred commented on #3498
I have the following nomad client logs. This occurs even though the environment section of the job file is empty and all variables are set using the environment template instead.

<details><summary>nomad logs</summary>
<pre>
    2017/11/06 18:31:04.988262 [INFO] client: task "deploy" for alloc "bc4e33c0-aed2-bd19-1798-e06216f5876a" failed: Wait returned exit code 1, signal 0, and error Docker cont

[2017-11-06 23:46] #3503 closed

[2017-11-07 00:11] dadgar commented on #3487
@lovwal What is the networking like for this node. It looks like in those logs it picked up a IPv6 address and in your earlier dumps of the interfaces there were only link-local IPv6 address. Is it not possible that when Nomad started the first time you didn't have a routable address and that the veth pair was valid at the time?

[2017-11-07 00:25] dadgar commented on #3506
@discobean Do you have any monitoring on the node you can share? Can you share the Nomad processes memory over time?

[2017-11-07 02:50] discobean commented on #3506
Unfortunately instances were terminated so I lost all of this information :(

[2017-11-07 12:17] TheSpbra1n opened #3516 "nomad: panic - after enabling prometheus_metrics on all nomad-servers"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
Codename:	xenial
Linux nomad-01  4.9.34-amd64

### Issue
We have 3 nomad-servers n the cluster. After enabling on two servers "prometheus_metrics: true" all works. But if turn on all servers - cluster is broken.  You can see the logs: [https://pastebin.com/p2aqZwpf](https://pastebin.com/p2aqZwpf)

[code]

[2017-11-07 12:24] lovwal commented on #3487
@dadgar I doubt it (although not impossible of course) since this machine has been online ~100 days and I had an active ssh session to it.
Either way I found the root cause. net.Interface() from standard lib does not always return interfaces in a list according to if_index order, which means veth interfaces can appear before eth in the returned list, as for example on the same machine (intf just c

[2017-11-07 17:24] multani opened #3517 "Name conflicts when using the same node name on different datacenter"
[Nomad's documentation says](https://www.nomadproject.io/docs/agent/configuration/index.html#name):

By default, it uses the hostname of the machine.

Apparently, if using the same node name (such as `nomad-server-0`) for a node in datacenter DC1 and another node in datacenter DC2, the servers logs report conflict names:

[code]

The configuration used on both machines was:
[code]

... except for

[2017-11-07 18:58] hamann opened #3518 "Vault attributes missing when starting clean nomad-agent"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
CoreOS 1492.1.0 with nomad running in alpine container

### Issue

When starting a clean agent nomad often doesn't add vault attributes which then isn't available for tasks which require vault tokens. After restarting nomad attributes got added.

### Reproduction steps

None, but feels like it happens in 3 of 5 cases

###

[2017-11-07 19:59] ericc-ecobee opened #3519 "Template source relative to job"
I want to pass some config to my task, but the template stanza only reads from the host's filesystem, not my local filesystem. I understand that the artifact stanza delivers files to the host's filesystem, but I do not want to create a http server (or similar) just to deliver these configs.

It would be great if nomad can support templates from files residing on the local filesystem.

A possible w

[2017-11-07 22:12] schmichael commented on #3516
We'll try to get this fixed in 0.7.1; thanks for the report @TheSpbra1n!

[2017-11-07 22:12] dadgar commented on #3519
Hey @ericc-ecobee,

This will not be something we will be supporting. If you would like to do that I suggest you use some templating tools to generate the job file itself. You can even use Consul Template to generate the job file and then run that.

[2017-11-07 22:12] #3519 closed

[2017-11-08 00:10] schmichael commented on #183
Atlas supported has been deprecated for some time and will be removed in 0.7.1. See #3493 for details.

[2017-11-08 00:10] #183 closed

[2017-11-08 00:34] schmichael commented on #3518
In the initial startup is appears Nomad and Consul are starting concurrently because a few Consul errors are logged before it finally is able to connect and discover the servers.

Is it possible this is on system boot and Nomad, Consul, and Vault are starting concurrently?

[2017-11-08 04:34] discobean opened #3521 "Deployments never finish in 0.7.0, but work in 0.7.0-rc1"
After moving our masters from 0.7.0-rc1 to 0.7.0 I found this issue:

This happens with a job with Count > 1, Service, Docker driver

1. Deploy job update with Update stanza
2. only first task is allocated
3. deployment does not finish

In order to finish the deployment, I have to _promote_ the deployment via Jippi-ui, the API returns an error - but the deployment then continues and finishes succe

[2017-11-08 05:57] discobean commented on #3521
When trying to replicate this on a local `-dev` environment with one local instance, 0.7.0 didn't have any issues.  So must be something with our cluster.

If it helps at all our agents were running _0.7.0-beta1_ at the time..  Could it be related?

[2017-11-08 07:38] hamann commented on #3518
Yes, that‘s on system boot and they start concurrently, but just nomad and consul since its an agent

[2017-11-08 10:48] commarla commented on #3521
Hi, same issue here.

master upgraded to 0.7.0 from 0.7.0-rc2. Agents upgraded from 0.7.0-beta1 to 0.7.0.

With count = 4, I ran a `nomad run`, only 1 alloc was marked complete and 1 new alloc has started.
I had to run 4 times my `nomad run` to have the 4 new allocs started.

[2017-11-08 10:56] rickardrosen commented on #3380
This is exactly what I'm dealing with right now as we use MACVLAN and Ubuntu FAN networking, and the workaround we employ is to use a templated health script that performs the required checks.
Allowing a port instead of a port label to be specified for a check would be great.

There's probably a good reason for not allowing this, I probably just to ignorant to see it. =)

[2017-11-08 11:34] burdandrei commented on #3498
I just ran in the same problem.
I got a job with env stanza and 2 templates one for thinks from consul and one for secrets.
I can see secrets in the file, but not in the envitonment variables

[2017-11-08 13:34] rynmrtn opened #3522 "Add support for wrapped tokens"
Nomad, via the `vault` stanza, supports the retrieval of a Vault Token and the introduction of this secret into a scheduled job. At present, it only supports unwrapped tokens. If a token were intercepted, it would allow an actor to make requests to obtain secrets within our system.

Vault has support for [wrapped tokens](https://www.vaultproject.io/docs/concepts/response-wrapping.html). This metho

[2017-11-08 16:57] commarla commented on #3521
I confirm that the `nomad deployment promote` workaround is working despite of the error (Error promoting deployment: Unexpected response code: 500 (rpc error: no canaries to promote)).

[2017-11-08 18:24] ElliotG opened #3523 "[ui] [improvement] Configurable page-size for Jobs and Clients"
### Nomad version
0.7.0

### Issue
The Job UI defaults pagination to 10 items. It would be ideal to make this configurable (i.e. the typical: display 10, 25, 50, 100) size drop down. This is also similar for the client workflow (top 8).

[2017-11-08 18:28] ElliotG opened #3524 "[ui] [improvement] Default Job sort"
### Nomad version
0.7.0

### Issue

It is unclear what the default sort strategy is for the jobs in UI. It doesn't appear to be by name, status, type, groups, or status? That may be because there isn't an official default sort? It would be great to have them default sorted by something that is indicated in the UI (Name or Status could be good).

[2017-11-08 18:31] DingoEatingFuzz commented on #3524
The default sort is [`modifyIndex`](https://github.com/hashicorp/nomad/blob/master/ui/app/controllers/jobs/index.js#L27), which more or less means by recency.

I agree that it's unfortunate that this sort strategy doesn't map to a column.

[2017-11-08 18:31] DingoEatingFuzz commented on #3524
The default sort is [`modifyIndex`](https://github.com/hashicorp/nomad/blob/master/ui/app/controllers/jobs/index.js#L27), which more or less means by recency.

I agree that it's unfortunate that this sort strategy doesn't map to a column.

[2017-11-08 18:33] wlonkly opened #3525 "Nomad deployment storm after network segmentation with residual effects"
### Nomad version
Nomad v0.6.0

### Operating system and Environment details
Ubuntu 16.04 LTS (Xenial) running in AWS. Three masters in one AWS region, eight clients in multiple regions.

### Issue
After some AWS network instability, we had a job (webhook_delivery_service) spawning dozens of deployments per second. We managed to stabilize the deployment storm with `nomad stop webhook_delivery_serv

[2017-11-08 19:12] schmichael commented on #3521
We'll definitely investigate and get this fixed ASAP. Could you include any relevant details possible? Job files or at least `update` stanzas. Logs or at least any deployment related lines or lines relating to the allocations involved.

Thanks for the reports! We're eager to get to the bottom of this!

[2017-11-08 19:39] schmichael commented on #116
This has been fixed:

[code]

[2017-11-08 19:39] #116 closed

[2017-11-08 19:43] schmichael commented on #122
Nomad now allows delaying removal of unused images: https://www.nomadproject.io/docs/drivers/docker.html#docker-cleanup-image-delay

[2017-11-08 19:43] #122 closed

[2017-11-08 19:48] schmichael commented on #61
Closing this is favor of #150 for persistent volumes and #2115 which I think are a superset of this issue.

[2017-11-08 19:48] #61 closed

[2017-11-08 19:58] schmichael commented on #243
The [`/v1/agent/members` API](https://www.nomadproject.io/api/agent.html#list-members) and [`nomad server-members` CLI](https://www.nomadproject.io/docs/commands/server-members.html) includes this information.

[2017-11-08 19:58] #243 closed

[2017-11-08 20:08] schmichael commented on #367
I'm going to close this as we have a [guide on server outages](https://www.nomadproject.io/guides/outage.html) as well as a number of related open and closed issues that cover this topic as well. Thanks for the report!

[2017-11-08 20:08] #367 closed

[2017-11-08 20:14] dadgar commented on #3521
@discobean @commarla I would also love to see what the alloc-status or the allocation via the API looked like when it was stuck. We emit events that say why the alloc is marked as healthy or unhealthy.

[2017-11-08 21:02] commarla commented on #3521
Here is my `update` stanza
[code]
Same issue with just
[code]

I have add a fake env. var. to one of my services with a count = 5.

[code]

I run `nomad run fakeservice.hcl` only one alloc is started.
[code]

A gist with the alloc status via the API  : https://gist.github.com/commarla/57b1a7dae6cea5a4f6af665b742b1ab4

The deployment status :
[code]

Then I run
[code]

And the deployment continue :

[2017-11-09 01:34] discobean commented on #3521
I have the same update stanza as @commarla the only difference is we use the Http API for deployments.

[2017-11-09 01:37] discobean commented on #3525
I have seen this also, I can only suggest to upgrade to 0.6.3 that has much more stable deployments where I have noticed this issue was resolved somewhere.

[2017-11-09 06:41] tarpanpathak opened #3526 "Nomad auth for private ECR repo not working"
### Nomad version
`0.5.6` and `0.7.0`

### Operating system and Environment details
CentOS 7.3 and CentOS 7.4 (on-premise datacenter)

### Issue
Nomad not acknowledging the `docker-credential-ecr-login` credentials. I've followed this documentation: https://www.nomadproject.io/docs/drivers/docker.html#authentication and this is NOT working.

### Reproduction steps
- Create a docker-cfg file with t

[2017-11-09 11:14] hamann commented on #3518
Some more logs with consul

[code]

[2017-11-09 14:26] commarla opened #3527 "Stats not available in nomad ui deployment view"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
Debian Jessie

### Issue
On the page `http://nomad/ui/jobs/my-service/deployments` the stats are not available because of a Security Content policy violation.

This header is responsible. We can't load a content from a different address than the nomad server itself : https://github.com/hashicorp/nomad/blob/52598bff7e4a715

[2017-11-09 15:53] burdandrei commented on #3498
@dadgar I got the reproduce steps:
the problem is if there are 2 templates that have `env = true`.
After one of them gets re-rendered, nomad restarts the tasks with envs from only this template.

Here is the job definition:
[code]
Now when you start the job you receive both test1 and test2 environment variables.
If you update test1 key in consul you'll receive only test1 env var, update test2 and

[2017-11-09 16:05] burdandrei commented on #3498
if I understand this right this happening because of this: https://github.com/hashicorp/nomad/blob/master/client/consul_template.go#L397

Question is what is the right solution, not to give more than one template that is injecting environment, or build the logic of merging them?

[2017-11-09 17:01] mildred commented on #3498
See the JSON Nomad job in https://github.com/hashicorp/nomad/issues/3498#issuecomment-342228986 it has two templates but only one of them is an environment template. Still it doesn't alays work.

About the two environment templates issue, I don't see a problem to have nomad restrict to a single environment template. But if it is not difficult, implementing a merge mechanism might be a better solut

[2017-11-09 17:29] burdandrei commented on #3498
this is even more fun, and awful!

[2017-11-09 19:49] DingoEatingFuzz commented on #3527
Great find! That header is only used in prod, so it slipped through the cracks in local testing and ui acceptance tests.

The header is indeed relevant and was borrowed from Vault, which appropriately locks down everything.

The important part is `connect-src 'self'` which more or less says the web page should not allow websockets, fetch, or XHRs from any origin other than its own.

The other half

[2017-11-09 20:53] SoMuchToGrok commented on #1461
Occasionally when I drain a node, some jobs won't be re-allocated and will remain in a "dead" state. Doesn't happen often, but when it does, it quickly becomes a pretty major issue.

Hard to definitively say that I'm running into this exact problem, but it definitely feels that way. Is there any update for this on the roadmap?

[2017-11-09 20:56] burdandrei commented on #1461
I received even greater experience - I had a job with multiple groups. After node fails i received some groups relocated, and some remain dead.

[2017-11-09 21:57] dadgar commented on #3525
Hey this has been fixed by https://github.com/hashicorp/nomad/pull/3496

[2017-11-09 21:57] #3525 closed

[2017-11-09 21:59] dadgar commented on #3522
Hey I am glad you think it is important too 😄 All tokens transmitted to clients use wrapped tokens. You can see a deep dive into how we have implemented this here: https://www.youtube.com/watch?v=4gAYyAA6h9E

[2017-11-09 21:59] #3522 closed

[2017-11-09 23:34] Justin-DynamicD opened #3528 "[Bug] validate fails to catch underscores"
### Nomad version
0.7.0

### Operating system and Environment details
Windows 10, Ubuntu 16.4

### Issue
if you create a job file and include underscores in the job, group or task, the file will still pass a "nomad validate".  When you push the job, however, the deploy will fail citing illegal characters in the name (only use alphanumeric and -).

validate should be updated to catch this error.

[2017-11-10 00:19] Justin-DynamicD commented on #3491
This also rings true for a nomad run on 0.7.0.

[2017-11-10 00:36] schmichael commented on #3526
Is `docker-credential-ecr` on Nomad's `$PATH`? Does using `"docker.auth.helper"     = "ecr"` as in the docs work?

[2017-11-10 01:04] schmichael commented on #3528
I edited the `example.nomad` job file created by `nomad init` to have underscores and dashes in job, group, and task names without issue:

[code]

Closing for now but please reopen if you can include a reproducer.

[2017-11-10 01:04] #3528 closed

[2017-11-10 02:33] ptarpan commented on #3526
Nomad and `docker-credential-ecr-login` are in `/usr/local/bin/`.
Tried `"docker.auth.helper" = "ecr"` and `"docker.auth.helper" = "ecr-login"` but neither work and throw the following error:
[code]
FYI, `docker pull <XYZ>.dkr.ecr.us-west-2.amazonaws.com/test-api` works as expected.

[2017-11-10 10:04] FlorinAsavoaie commented on #899
Would be useful to specify what are those "others" before closing. It is a normal practice to require multiple networks in a container when running on micro-segmentated networks.

[2017-11-10 14:07] tshak commented on #606
I think it is difficult to ask developers to define resource allocations for services especially for new services or when a service is running in a wide range of environments. I understand that Nomad's approach greatly simplifies bin packing, but this does us little good if we aren't good at predicting the required resources. One reason this is particularly challenging for us is because we have 10

[2017-11-10 19:13] dadgar commented on #3498
@mildred I was not able to ever reproduce with either of the job files you gave. I was able to reproduce with the description @burdandrei gave.

I have attached a Linux AMD64 build that has the fix. I would love if you could test and tell me if I have fixed your issue too.

[nomad.zip](https://github.com/hashicorp/nomad/files/1462447/nomad.zip)

[2017-11-10 19:21] dadgar commented on #606
@tshak I would recommend you over-allocate resources for new jobs and then monitor the actual resource usage and adjust the resource ask to be inline with your actual requirement.

[2017-11-10 19:23] catamphetamine commented on #606
@tshak Or look into Kubernetes which seems to claim to support such a feature

[2017-11-10 20:39] dadgar commented on #3526
@ptarpan Can you try:

[code]
And
[code]

[2017-11-10 20:52] ptarpan commented on #3526
Hey @dadgar,

Same issue:

[code]

[2017-11-10 20:56] #3498 closed

[2017-11-10 21:04] burdandrei commented on #3498
Thanks for super fast fix @dadgar !

[2017-11-10 22:33] #3527 closed

[2017-11-11 09:04] tshak commented on #606
Thanks @dadgar. Unfortunately this is a high burden since we have many environments of varying sizes and workloads that these services run on. We've got a good discussion going on Gitter if you're interested in more. As @catamphetamine said, we may have to use Kubernetes. The concept of "Guarunteed" vs. "Burstable" vs. "BestEffort" seems to better fit our use case. I was hoping for Nomad to have (

[2017-11-11 09:23] catamphetamine commented on #606
I was too giving it a second thought yesterday, after abandoning Nomad in summer due to it lacking this feature.
Containers are meant to be "stateless" and "ephemeral" so if a container crashes due to an Out Of Memory error then ideally it would have no difference as the code should automatically retry the API query.
In the real world though there's no "auto retry" feature in any code so if an API

[2017-11-11 20:04] Justin-DynamicD opened #3532 "[bug] service Parameter name default can result in illegal names that pass validate"
This is a clarification of an issue I opened earlier that was closed in Nomad 0.7.0.

Jobs, Groups and Tasks naming standards are distinct from naming standards when using the service stanza, which must adhere to RFC-1123 per: [service parameters](https://www.nomadproject.io/docs/job-specification/service.html)

This can cause a problem in the following scenario:

1.  create a job that uses an und

[2017-11-11 22:52] dadgar commented on #3521
@discobean @commarla Does this happening on a new 0.7 cluster as well or only from the rc1 upgrade path?

[2017-11-11 22:54] dadgar commented on #3524
@DingoEatingFuzz Any reason not to just sort by name?

[2017-11-12 11:14] Chhed13 opened #3533 "defaults for docker.endpoint depends on env"
In docs to [docker.endpoint](https://www.nomadproject.io/docs/drivers/docker.html#docker-endpoint) written that it is hardcoded to `unix:///var/run/docker.sock` . In fact - it is computing from env, [watch](https://github.com/hashicorp/nomad/blob/master/client/driver/docker.go#L859)
For Windows users it is very ambiguous fact. Could you update docs, please.

### Nomad version
0.7.0

### Operating

[2017-11-12 14:06] commarla commented on #3521
@dadgar yes it does. We started a new 3 nodes cluster in 0.7.
Our clients are in 0.7 now but most of our jobs were start when our clients were in beta. We drained the old ones to restart the jobs on the new ones.

[2017-11-12 23:37] discobean commented on #3521
@dagdar In this case we were running on an upgraded cluster.

I also tried stopping/GC and remove the job, then re-add it, but the result was the same.

[2017-11-13 04:43] DingoEatingFuzz commented on #3524
@dadgar Two reasons, neither of which are particularly strong: 1) new jobs are shown on the first page by default. 2) there is no way to sort by modifyIndex/modifyTime/recency, so if it isn't default, that's it.

[2017-11-13 05:08] dadgar commented on #3521
@discobean @commarla Would it be possible to see server logs from the misbehaving 0.7.0 cluster

[2017-11-13 08:46] commarla commented on #3521
Hi @dadgar

I have no log during the `nomad run` only this one during our workaround `promote`

[code]

[2017-11-13 09:37] adamlc commented on #3197
@dadgar unfortunately I'm still getting this issue on 0.7.0, even after setting a low vault_grace period :(

[2017-11-13 11:33] mildred commented on #3498
I noticed the problem occurred mostly when I changed a consul key in `restart/deploy` that triggers a change in the restart template (which is not an environment template). Then the job restarts with missing environment variables. Stopping the job completely (nomad stop) and restarting it (nomad run) will rerun the job correctly in all cases I noticed.

I'll check this version and report back if I

[2017-11-13 12:13] issacg opened #3534 "Feature request: nested template interpolation"
Not sure how simple this would be, but if it's relatively low-hanging, then it would be nifty to allow nested interpolation of variables.

For example, if I want to ask Vault to issue a certificate for a job running which includes an IP alternative name (SAN), I'd want to query that from ${attr.unique.network.ip-address} and doing something like this:

[code]

[2017-11-13 13:38] mildred commented on #3498
@dadgar it seems to work well. The cases where this bug happened don't seem to trigger the bug any more now. Thank you.

[2017-11-13 17:41] dadgar commented on #3498
@burdandrei @mildred Thank you for testing and for the super fast feedback!

[2017-11-13 17:51] dadgar commented on #3534
Hey Isaac,

This should be possible with any recent version of Nomad: https://www.nomadproject.io/docs/job-specification/template.html#node-variables

[2017-11-13 17:51] #3534 closed

[2017-11-13 17:56] dadgar commented on #3197
@adamlc What is the lease duration of your secret?

[2017-11-13 18:37] #2938 closed

[2017-11-13 19:00] #3517 closed

[2017-11-13 19:00] #3533 closed

[2017-11-13 19:02] weslleycamilo commented on #2084
Hello,

is there anyone which could help solve it ?

I got the same error reported on this issue.! I am using nomad 0.7.0

Here is the log I got from the UI.

![image](https://user-images.githubusercontent.com/19431474/32742459-a49547dc-c890-11e7-9da8-272051c1b9d9.png)

[2017-11-13 20:58] Cryson opened #3542 "[question] Nomad clients running containers as root"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
RHEL 7

### Issue
I've noticed that nomad clients execute the containerd runtime processes as root, see below:

```root      6153  1258  0 Nov03 ?        00:00:01 docker-containerd-shim 6834bdd19d0b846431e059446dc8c513d55663736cb90e41b74d43547285a303 /var/run/docker/libcontainerd/6834bdd19d0b846431e059446dc8c513d55663736c

[2017-11-13 22:03] dadgar commented on #3542
Hey @Cryson,

So that process is actually not being launched by Nomad but rather being managed by the Docker Engine. You will see the shim being launched regardless of if the container is launched using `nomad run` or `docker run`.

It is likely that shim will have to be root as it is what will be making the syscall's to the OS to setup the isolated container environment! Hope that helps!

[2017-11-13 22:03] #3542 closed

[2017-11-13 22:17] angrycub opened #3544 "[Feature Request] Support StopTimeout for Docker tasks"
Would it be possible to support the StopTimeout field on Docker container creation?

re: ZD-5428

[2017-11-13 22:55] Justin-DynamicD opened #3545 "nomad UI "couldn't connect to client" when evaluating CPU and Memory for a job"
When browsing the new UI in Nomad 0.7.0, if I browse a client and look at the allocation table,  both the CPU and Memory report a yellow "!" instead of a value.  Hovering over these warnings with the mouse reports "couldn't connect to client".

It's possible I'm missing a setting somewhere but wasn't able to find it.  As an FYI nomad alloc-status -stats returns information just fine.

[2017-11-13 23:15] dadgar commented on #3487
@lovwal PR #3546 should prevent this moving forward!

[2017-11-13 23:47] dadgar commented on #3545
@Justin-DynamicD Is the UI being accessed within the same network as when alloc-status works? A requirement is that you can contact the client node directly to access stats.

[2017-11-13 23:49] DingoEatingFuzz commented on #3545
This is a duplicate of either #3497 or #3527.

[2017-11-13 23:51] Justin-DynamicD commented on #3545
"same network" is a bit ambiguous so Ill clarify:  all networks in question are route-able, but not necessarily the same subnet.

The Nomad cluster is on 3 separate subnets, all rout-able to the node in question (which shares one of the subnets).  I can successfully test from a _4th_ rout-able subnet in another physical datacenter.

So there is lots of routing involved, but no ACLs, firewall, or o

[2017-11-13 23:52] dadgar commented on #3545
@Justin-DynamicD Thanks for clarifying. Closing as @DingoEatingFuzz points out this has been fixed  by https://github.com/hashicorp/nomad/pull/3530 and will be part of 0.7.1! Thanks for reporting!

[2017-11-13 23:52] #3545 closed

[2017-11-14 00:39] dadgar commented on #3506
@discobean How much memory does that node have?

[2017-11-14 01:21] dadgar commented on #2084
@weslleycamilo This is a regression due to Docker changing the returned error code and thus breaking our error handling. Will be resolved in https://github.com/hashicorp/nomad/pull/3513 which will be part of 0.7.1

[2017-11-14 01:50] dadgar commented on #3420
@jzvelc Would you be opposed to closing this? I believe Michael has a fix in #3502 but there is no information regarding a memory leak in this issue and it seems instead to be a permissions issue that you resolved

[2017-11-14 06:10] discobean commented on #3521
Today we tried upgrading again, this time going one by one from rc1 -> rc2 -> rc3 -> 0.7.0, and couldn't replicate the issue now.

We do shutdown the agents each night so maybe the problem will appear again tomorrow - I'll be sure to update.

[2017-11-14 07:26] jzvelc commented on #3420
I tested following build [linux_amd64.zip](https://github.com/hashicorp/nomad/files/1438570/linux_amd64.zip) and I can confirm that our nomad clients are now stable. I wasn't able to test #3502 but I believe it will solve issues with failed leader tasks.

[2017-11-14 07:26] #3420 closed

[2017-11-14 08:14] adamlc commented on #3197
@dadgar I set the grace to 10s and all the leases are >24 hours. I'll have to have a dive into the logs again.

I'll see if I can come up with something producible for you to work with :)

[2017-11-14 09:40] jrasell commented on #3526
If its any help; I use ECS repos by running a cron script which works as expected using the following configuration:

Cron:
[code]

Nomad Client Config (portion):
[code]

IAM Role Permissions:
[code]

[2017-11-14 10:18] durbz opened #3547 "[question] Task names in nomad job status"
I've been testing cluster builds with nomad and have a question regarding showing job statuses via the cli. I've tested the reporting and statuses quite extensively, still not finding what I'm looking for.  I want to the ability to show task names in 'nomad status jobname', or have a method to show a full list of task names with status across a nomad cluster, rather than them grouped. I've been mi

[2017-11-14 11:30] mildred opened #3548 "Please provide an option to restart tasks that are not starting / unhealthy allocations"
My problem at hand is that I have a job that did not start in time:

[code]

The [update stanza](https://www.nomadproject.io/docs/job-specification/update.html) for this job looks like:

[code]

Here, the job obviously hit the `healthy_deadline` of 5m. The job has no health check configured.

What I would like nomad to do is detect that the task did not start and reschedule the task elsewhere. I b

[2017-11-14 12:45] issacg commented on #3534
Well, either I'm brain dead, or it's a bug :(

### Nomad version
0.7.0

### Operating system and Environment details
Linux 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

### Issue
Nested interpolation not working

### Reproduction steps
Connect Nomad to Vault with a PKI backend with a role "role"
[code]

Create a nomad job with the following template
[code]
Without the ` \"ip_

[2017-11-14 12:46] issacg commented on #3534
Hmm, I was kinda hoping that commenting would re-open.  I'll open another issue for the report

[2017-11-14 12:48] issacg opened #3549 "Nested interpolation not working"
### Nomad version
0.7.0

### Operating system and Environment details
Linux 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

### Issue
Nested interpolation not working

### Reproduction steps
Connect Nomad to Vault with a PKI backend with a role "role"
[code]

Create a nomad job with the following template
[code]
Without the ` \"ip_sans=${attr.unique.network.ip-address}\"`, the

[2017-11-14 13:41] weslleycamilo commented on #2084
@dadgar hmm great but what is the version which it still working ? Do you know it ?  I tried the version 0.6.3 and got the same error.

[2017-11-14 14:04] lgfausak commented on #2307
I do as well.  I would like to be able to run a set of jobs on all datacenters.  just now looking in to how i am going to do that.

[2017-11-14 14:08] jippi commented on #2307
would [distinct_property](https://www.nomadproject.io/docs/job-specification/constraint.html#quot-distinct_property-quot-) not do the trick today? if you but `value=2` and unique property to be the DC?

[2017-11-14 14:19] lgfausak commented on #2307
i think so. wow, haven't seen that before.  so something like:
[code]
I'll give it a try. Lots of interesting things there. Thanks!

[2017-11-14 15:16] ptarpan commented on #3526
Thx @jrasell. We use cron with instance roles in AWS but this is an issue for agents running in a datacenter. One quick question before I continue testing this on-prem: does `eval` live in a separate script that cron calls or does the `crontab` invoke the AWS CLI directly?

[2017-11-14 17:51] dadgar commented on #2084
@weslleycamilo It depends on the Nomad and Docker Engine pairing. Docker changed their error message recently (not exactly sure on the version) and thus the error handling we have wasn't being triggered. The new error handling should be robust against both versions of the error message Docker returns.

[2017-11-14 17:53] dadgar commented on #3549
Hey you have to use the `env` keyword as those variables are exposed to the template as environment variables. You can see an example of this here: https://www.nomadproject.io/docs/job-specification/template.html#node-variables

I am going to close this but if it doesn't work for you we can reopen!

[2017-11-14 17:53] #3549 closed

[2017-11-14 18:13] dadgar commented on #3547
Hey @durbz,

Its an interesting idea but not something we will be pursuing. Nomad logically groups things into jobs and exposes their allocations for introspection. We will not be adding a command to list all tasks.

It should be fairly easy to use our API pkg to build this for yourself using the rest of our commands as an example! Sorry I couldn't be more helpful.

[2017-11-14 18:13] #3547 closed

[2017-11-14 18:15] dadgar commented on #3548
@mildred Are you suggesting that when an allocation is detected as unhealthy during a deployment you would like Nomad to kill that allocation and attempt a restart elsewhere?

[2017-11-14 18:38] DanielFallon commented on #606
I think what kubernetes calls "burstable" is the most intractable use case here, many services that we run use a large heap during start up and then have relatively low memory usage after startup.

one of the services I've been monitoring requires as much as 4 gigs during startup to warm up its cache and then it typically runs around 750mb of ram during normal operation. With nomad I must allocate

[2017-11-14 18:41] weslleycamilo commented on #2084
@dadgar Do you know any nomad website which tells me which nomad and docker version are compatible?

It seems nomad 0.7.0 is not production ready.. it would be critical once I can't get the docker image back after docker restart or restart the host.

Can I keep using nomad 0.6.3 ? Which docker use to work with it ? At the moment I am testing nomad to go to production with it but i believe I dont h

[2017-11-14 18:41] dadgar commented on #3548
So the issue I see with regards to what you posted is that `healthy_deadline` begins as the application is downloading artifacts. This can cause a timeout like you hit. I think the update stanza needs to have a `start_deadline` and a `healthy_deadline` to decouple this issue. The `start_deadline` can be defaulted to a much longer duration than the `healthy_deadline`.

[2017-11-14 19:12] BSick7 commented on #2584
@dadgar I love this.

I expect the `update` stanza to be followed during node drains.
Just as during a new job deployment, the allocation would be not be terminated from the draining node until a matching allocation became healthy using the `update` stanza attributes.

[2017-11-14 19:12] BSick7 commented on #2584
@dadgar Are there intentions of solving this soon?

[2017-11-14 19:15] dadgar commented on #2584
This work is stated for 0.8

[2017-11-14 20:45] maticmeznar commented on #150
Since Nomad 0.7.0, what is the recommended best practice for running a database Docker container that requires a persistent data volume? `ephemeral_disk` does not offer any guarantee and only works if the database is clustered. Should `constraint` be used to lock the job to a specific node and then use `volumes` Docker driver option?

[2017-11-14 21:58] alexey-guryanov commented on #150
@maticmeznar, I cannot speak for "recommended best practice", and there is more than one way to achieve it, but I can share an approach that we are using at the moment.
When we want a persistent storage for anything running in managed (by Nomad in this case) Docker container, we decided that we want this storage to be redundant on its own (regardless of the content we put there), and available on

[2017-11-14 22:06] dadgar commented on #3521
@discobean @commarla I would love some reproduction steps. To be clear a setup to reproduce this starting from scratch with clear steps.

I spent quite a bit of time trying to reproduce this today and I couldn't. To reproduce I tried:
1. Starting a cluster of Nomad 0.7.0-rc1 servers and beta1 clients since that is what you both had.
2. Running jobs.
3. Upgrading servers to 0.7.0
4. Running more jo

[2017-11-14 22:44] schmichael commented on #2084
@weslleycamilo A Docker error message changed between Docker 17.06 and 17.09. Due to this Nomad 0.7.0 and earlier work best with Docker 17.06 and older. Nomad 0.7.1 will work the same with Docker 17.09 and older versions.

[2017-11-14 22:51] discobean commented on #3521
@dadgar, I can no longer reproduce it either.  Even after the cluster just came up this morning its all working as expected right now - I have no leads at all.

[2017-11-15 00:02] schmichael commented on #2084
@weslleycamilo There is a bug in Docker 17.09 that broke Nomad's name conflict code path. This meant on Docker daemon restarts Nomad would be unable to restart the container. I've attached a test binary to the PR if you're able to give a shot! #3551

[2017-11-15 03:34] holtwilkins opened #3552 "[ui] [bug] timezone mismatch in allocation display"
### Nomad version
0.7.0

### Issue

On the allocation page, `/ui/allocations/<UUID>`, the times are listed in the local computers time, but printed with the string `UTC` after them.  Logs being displayed in the local timezone sounds ok to me, but it should probably say that :).

[2017-11-15 05:54] discobean opened #3553 "Env variables when submitting job in docker do funny things"
Today a dev submitted a job to nomad via the API, and they had environment variables like so:

[code]

There were 2 tasks in the job definition, I noticed that the second task disappeared, along with other parts of the job.

The fix was to not use integers in the JSON when submitting to the API - It turns out that having integers in the Env variables, does weird indescribable things.

[2017-11-15 13:16] mildred commented on #3548
Either that or when the deployment as a whole is considered failed, retry it (possibly moving allocations elsewhere).

This can be a solution to avoid having the deployment as failed, yes. But will it really work? When a job is restarted after an update, you might very well have to download artifacts again. If you updated the executable code, you most probably will need to download the code again.

[2017-11-15 15:59] maxvt opened #3554 "Restarting journald causes Nomad to get stuck in a loop with high CPU usage"
strace output shows:
`[pid 30581] write(1, "==> Caught signal: broken pipe", 30 <unfinished ...>`

it appears that nomad gets a SIGPIPE, tries to log an entry about it, and this causes another SIGPIPE.

This continues https://github.com/hashicorp/nomad/issues/1798 and is very similar to https://github.com/hashicorp/consul/pull/2842.

### Nomad version
0.6.0

### Operating system and Environment de

[2017-11-15 16:43] dadgar commented on #3506
@discobean bumping this ^

[2017-11-15 16:46] frundh commented on #2624
Any news regarding this? It seems strange that Nomad has `{{.ImageName}} == {{.ImageFullID}}` , when there are two separate markup tags available. https://docs.docker.com/engine/admin/logging/log_tags/
Using labels is a workaround, not a solution.

[2017-11-15 19:01] jippi commented on #3474
Is this target for next 0.7.* release?

[2017-11-15 19:03] jippi commented on #1809
this is same as https://github.com/hashicorp/nomad/issues/2811 (also created by me...) but with more details, so closing this one

[2017-11-15 19:03] #1809 closed

[2017-11-15 19:04] jippi commented on #208
@schmichael 0.8 instead maybe? :P

[2017-11-15 20:51] #3487 closed

[2017-11-15 21:23] lovwal commented on #3487
@dadgar Thanks for the quick fix! Cheers!

[2017-11-16 12:02] wuub commented on #3518
We're can confirm that this looks like nomad <-> consul parallel start issue and `vault.service.consul` config in nomad.

We're now builting our images with static DNS config, we'll see if it helps.

[2017-11-16 13:10] weslleycamilo commented on #2084
Hi @schmichael ,
I've been testing it for a while and it is working properly now.

Great job.
Thank you.

Thank you @dadgar

[2017-11-16 13:49] hamann commented on #3518
We found another workaround by waiting for consul to return a cluster leader before starting nomad

[code]

[2017-11-16 13:56] issacg commented on #3549
It did indeed work.

It was a PITA to debug as there's no way to tell when in the templates there are bugs, but I eventually came up with this:
``
      template {
         data =<<EOH
{{ with secret "pki/issue/role" "common_name=some.service.dc1.consul" "alt_names=some.service.consul" (env "attr.unique.network.ip-address" | printf  "ip_sans=%s") "ttl=168h" }}{{ .Data.certificate }}
{{ .Data.ca_ch

[2017-11-16 14:25] wuub commented on #3518
@hamann  your version, while uglier might be a better idea in the end.

when we put `vault.our.tld` that had 3 A records, and restarted one of the vault servers it brought down half of our cluster down into `initializing` state. even though 2 remaining vault servers were healthy and unsealed.

we had to unseal it for nomad to stabilize

which is not very HA

[2017-11-16 15:54] samart commented on #3544
Thanks.

To all color to this ticket -

Use case:

Operators may need to bounce docker engine, and engine will observe a stop-timeout if set on "docker run".  This helps to ensure there is consistent stopping behavior when either nomad does a container stop and also docker-engine doing the stop.  This helps protect applications that need a little more time to shutdown gracefully.  Otherwise, the d

[2017-11-16 18:40] dadgar commented on #3544
@samart Would you want this to be settable on its own or just be the same value as the kill_timeout. Have the two out of sync seems problematic.

[2017-11-16 18:48] samart commented on #3544
Hi Alex - it does make sense for it to be the same value and probably set automatically.  But who knows if you will encounter the oddball use use where someone might see this as a problem.

But i am pro setting it automatically and that's a good feature IMHO.

[2017-11-16 18:48] dadgar commented on #3474
@jippi Yep. PR is up

[2017-11-16 18:50] dadgar commented on #3521
Okay I am going to close this. Please bump the issue if this comes up again. If it does please collect all the server logs as well as the allocation information for the misbehaving job both before and after using the promote work around.

[2017-11-16 18:50] #3521 closed

[2017-11-16 18:51] dadgar commented on #3506
@discobean I am going to close this until there is more information. I did an audit through the code path of the panic and the transaction being performed is limited already. I think you may have just been running on a machine with low resources.

[2017-11-16 18:51] #3506 closed

[2017-11-16 20:05] weslleycamilo opened #3560 "docker.cleanup.image of Docker driver doesn't work as expected."
### Nomad version
0.7.1

### Operating system and Environment details

Ubuntu 16.10

### Issue

Docker cleanup doesn't work as it is mentioned on the documentation https://www.nomadproject.io/docs/drivers/docker.html

It says it is default to true to cleanup the images but it doesn't clean **even if I set it to true**.

### Reproduction steps
[code]
I did set it to true.
[code]
and I still got the

[2017-11-16 21:05] dadgar commented on #3544
Will need https://github.com/fsouza/go-dockerclient/pull/693 to merge first

[2017-11-16 21:58] schmichael opened #3561 "rkt driver should remove pods when stopping tasks"
### Nomad version

0.7.0

### Operating system and Environment details

Linux, rkt 1.29.0

### Issue

Docker removes containers once they exit: https://github.com/hashicorp/nomad/blob/master/client/driver/docker.go#L1685-L1688

rkt does not:

https://github.com/hashicorp/nomad/blob/master/client/driver/rkt.go#L769-L787

### Reproduction steps

[code]

### Job file (if appropriate)

[code]

[2017-11-16 21:58] dadgar commented on #3516
@TheSpbra1n Could you attach your server configs? Do you have any other reproduction steps? Does it happen to you every time?

I have 3 servers up right now on 0.7.0 exporting to Prometheus and am not having any problems. My config looks like:

[code]

[2017-11-17 00:35] schmichael commented on #3200
Came back to this, and I don't remember what the problem is. Tried running `example.nomad` with Nomad 0.6.0 and 0.6.3 and service discovery just worked. Nomad binds to localhost as does the dynamic port assigned to the example redis job. Both Consul health checks and clients using Consul to discover the address of redis are able to find...

Not sure what I saw that made me think redis will "only l

[2017-11-17 00:35] #3200 closed

[2017-11-17 00:37] dadgar commented on #3252
@ethankhall Should we go ahead and close this one? None of us were able to reproduce and I believe I heard you all had got the performance up

[2017-11-17 00:38] #3419 closed

[2017-11-17 00:43] dadgar commented on #3080
I am going to close this as there isn't enough information. If it comes up again lets reopen and capture all the client/server logs

[2017-11-17 00:43] #3080 closed

[2017-11-17 00:49] dadgar commented on #3553
Can you give a reproducing job and steps. The job shouldn't even be accepted by Nomad. I just ran a job doing what you described and got:

[code]

Job: https://gist.github.com/dadgar/fc5e54e19b1d9d2d910b508139a0ab57

I am going to close this until we get reproduction steps.

[2017-11-17 00:49] #3553 closed

[2017-11-17 01:21] schmichael commented on #3560
I tested locally and images were cleaned up after the [default 3 minute delay.](https://www.nomadproject.io/docs/drivers/docker.html#docker-cleanup-image-delay)

Going to close for now but if you can provide client logs that show `driver.docker` not cleaning it up feel free to reopen! Server logs shouldn't be necessary.

The expected logs would be something like:

[code]

[2017-11-17 01:21] #3560 closed

[2017-11-17 01:30] #3561 closed

[2017-11-17 10:56] latitude37s commented on #2395
We also have a large number of services that should only be run during business hours. During business hours we'd want to retain existing nomad service capabilities such as restarting on task failure, but outside of business hours the service should be prevented from running.
Speaking of business hours, a business calendar would also be extremely useful, so we can prevent batch jobs and services f

[2017-11-17 13:03] SoMuchToGrok commented on #3247
This feature will make my life so much easier. Keep up the great work Hashi team!

[2017-11-17 13:37] mikemcrill commented on #3526
I can confirm this is happening as well.  Adding the AWS keys as environment variables (and the corresponding keys) in the service fixed the issue for me.  **It seems like Nomad isn't reading AWS keys from IAM roles or the `~/.aws/credentials` file.**

My config files:

`/etc/systemd/system/nomad.service`
[code]

`/etc/nomad.d/config.json`
[code]

`/root/.docker/config.json`
[code]

[2017-11-17 14:06] #3455 closed

[2017-11-17 15:01] weslleycamilo commented on #3560
here is the log.

[output.log](https://github.com/hashicorp/nomad/files/1482718/output.log)

I've two nomad clients and one of them is cleaning the old images and I can see the logs you mentioned above, but one this one I can't see the removed report.

[2017-11-17 15:37] preetapan commented on #3518
@hamann I have not been able to reproduce this issue. I used `vault.service.consul` as the vault config address. I set up dnsmasq to delegate `.consul` queries to Consul. I restarted both Nomad and Consul simultaneously. I also tried shutting down and restarting vault while Consul and Nomad were running.

In my testing, as long as `dig vault.service.consul SRV` return SRV records indicating vault

[2017-11-17 16:39] #3252 closed

[2017-11-17 18:27] dadgar commented on #3560
@weslleycamilo Is it specific to when your restart Nomad/Docker?

[2017-11-17 18:33] #3474 closed

[2017-11-17 18:49] dadgar commented on #3516
Also worth noting, the code path that caused the panic has changed in Nomad 0.7.1, so this shouldn't happen again but would be nice to be able to reproduce this. https://github.com/armon/go-metrics/pull/69/files

[2017-11-17 20:31] #3532 closed

[2017-11-18 11:09] hamann commented on #3518
@preetapan Thanks for your answer! Our setup is almost the same, with dnsmasq redirecting *.consul to local consul agent (127.0.0.1)

Vault cluster was healthy at all times - but in our environment our local consul agent sometimes takes a while (up to 80 seconds or even more) to discover other consul servers via GCE due to unstable network directly after boot (GCE requests timeout because network

[2017-11-19 12:22] dropje86 commented on #3507
@diptanu this PR is still open https://github.com/hashicorp/nomad/pull/2168
I guess that could solve it and is a general feature which would be nice.

[2017-11-20 05:41] rayward opened #3573 "API: Allow retrieving job spec by version."
The API allows the current job spec to be read at `/v1/job/:job_id`. The API also allows _all_ versions of the job spec to be retrieved at `/v1/job/:job_id/versions`, however this could potentially contain hundreds of versions resulting in a very large response.

It would be preferable if I could query for a specific version like so `/v1/job/:job_id?version=:version`.

[2017-11-20 11:22] TheSpbra1n commented on #3516
Hi, config:
[code]

[2017-11-20 16:24] adamlc commented on #3197
I have a suspicion this is something to do with the old mysql backend. I have 14k+ leases for mysql which probably got created when the tasks where restarting. I'm currently decommissioning the backend and revoking the leases. Hopefully this is whats causing it!

[2017-11-20 19:16] weslleycamilo opened #3575 "Rolling update not working - max_parallel"
### Nomad version
0.7.1

### Operating system and Environment details
Ubuntu 16.10

### Issue
Rolling update doesn't work as expected.
I am using the following documentation [https://goo.gl/2vSuhq](url) and it says :

Thus when a change is made to the job file that requires new allocations to be made, **Nomad will deploy 2** allocations **at a time** and require that the allocations be running in

[2017-11-20 20:19] chelseakomlo opened #3577 "Upgrade go-getter version"
We should upgrade go-getter to take advantage of new features such as: https://github.com/hashicorp/go-getter/pull/84

[2017-11-21 00:02] dadgar commented on #3575
Hey I would do your update and then if it fails do `nomad alloc-status` on the new allocation and it will tell you why it failed. If you have a failed allocation as part of the deployment it will not continue the deployment. So this appears to be expected behavior.

[2017-11-21 06:05] Justin-DynamicD opened #3579 "artifact downloads an empty folder"
Nomad 0.7.0

Attempting to use the artifact stanza to download all files in a specific sub-folder of a git repo.  downloading and trying to run go-getter directly seems to succeed:

[code]
this results in all the desired files being copied to the appropriate location.  It should be known,  I did download the latest go-getter and compile in order to test it out.  However this being placed in my tas

[2017-11-21 12:23] acbrewbaker commented on #3499
Hi guys. How can I help with this effort?

[2017-11-21 12:33] weslleycamilo commented on #3575
@dadgar

When it fails I do have its id to run nomad alloc-status against to, but in this case it looks like it just deployed one version and left one of the node on a behind version.

And maybe it indeed fail, but it was not due to my application once I remove the auto_revert or increase the max_parallel to 2 it will deploy normally.

Did you understand?

It just doesn't deploy when using max_par

[2017-11-21 12:59] weslleycamilo commented on #3560
@dadgar

I am not restarting them, just the job as my testing with Nomad.

So I've been restarting the job, stopped it , started it and so on.

[2017-11-21 15:16] chelseakomlo commented on #3579
Hi, thanks for the bug report. Logs here would be helpful, you can either send the logs from the client that this job has run on, or you can set up a agent in dev node to test this: https://www.nomadproject.io/intro/getting-started/running.html#starting-the-agent.

Is this repository private? See our documentation for how to fetch from a private repo: https://www.nomadproject.io/docs/job-specifica

[2017-11-21 16:17] Justin-DynamicD commented on #3579
I'm going to review starting things in dev mode to get some better testing but to answer your 2nd question:

The repo itself is public, but it _is_ a "private" GitHub Enterprise server (as in self-hosted with no internet access).   Ill read through both links and perform some tests.

[2017-11-21 19:33] rejeep commented on #3577
@chelseakomlo Thanks for creating this issue. Any estimate on when this will be available as a release?

[2017-11-21 19:51] Justin-DynamicD commented on #3579
I'm having issues running nomad and getting any logs output.  As soon a I add -dev to my command, nomad starts but I'm completely unable to connect to the UI or submit a job.  Looks like this is a bigger dive than anticipated

[2017-11-21 20:58] alxark opened #3580 "[feature] embed templates from local file"
Hello. Currently there is no method to keep template source data and nomad.job in separate files. The only way to do this is to run some kind of preprocessing before. I think that some kind of "local_source" should be implemented for template option, i think i can create PR for this feature but would like to know first if this funtion will be useful for other users.

[code]
In this case nomad will

[2017-11-21 21:34] Justin-DynamicD commented on #3579
So I finally got nomad running in "dev" mode, but I don't see any logs that reflect artifact copying at all.

As the debug info scrolls by on the screen, I don't see any copy step being performed at all.  I'm running in a VM so screen capture is a bit rough, but there's no mention of "artifact" or "wget" or "download" or ... anything.  It looks like the empty directory is from the docker driver si

[2017-11-21 21:48] Justin-DynamicD commented on #3579
Update:  I decided to do a simple find . -iname for the files and they are found in what appears to be a relative directory?

they exist in "./opt/nomad/data/alloc/<processid>/<task-name>/<actual path/file specified>"

I thought leading with "/" made it an absolute path?  Looks like I need o play with the syntax more...

[2017-11-21 22:20] Justin-DynamicD commented on #3579
Final thoughts:  it appears that regardless of syntax, Nomad _always_ uses the relative path for downloading an artifact, but when mounting a volume you can use either relative or absolute.  This feels inconsistent to me if it's intended, but I'm not certain if it is.

[2017-11-21 23:26] chelseakomlo commented on #3579
Thanks for the investigation and final update! That is a good point, we will discuss internally about the user experience of this.

Let us know if there is anything else we can help with.

[2017-11-21 23:26] #3579 closed

[2017-11-22 15:16] Perados commented on #2670
Hello @dadgar ! I am having a similar problem with `v0.5.6` here, but I think it is related to Nomad UI. I am using an inline template in order to have an ssh key inside the container. It looks something like this:
[code]

When I run this through the CLI using, it works fine. I verified using `nomad inspect`.
In the UI, inside `Jobs > Manage > Advance edit`, I have the following:
[code]
Note that

[2017-11-22 19:38] rms1000watt commented on #3579
Would you guys be able to run input validation on `artifact.destination` where if the string starts with a `/` then fail validation?

For example `/apps/myapp` would fail in @Justin-DynamicD original artifact.

From a user experience perspective, the docker config in the nomad task only works when the volume mount is relative:
[code]

So, it would be misleading to new users if the `artifact.destin

[2017-11-23 14:58] latitude37s opened #3582 "raw_exec user.blacklist is not enforced unless the user is specified in the job spec"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
CentOS Linux release 7.3.1611 (Core)
nomad runs as root

### Issue
The exec driver runs tasks like this:
[code]
Whereas the raw_exec driver runs tasks like this:
[code]

getExecutorUser ensures that if the user is not set in the job specification, DefaultUnpriviledgedUser runs the job, which is set to "nobody".  However f

[2017-11-23 16:45] latitude37s commented on #3582
So if I understand correctly, when we hit this piece of code, the r.task.User is empty, which means that we don't match against anything in the blacklist.

[code]

Then when we go to run the task it will skip the runAs part and run as the same user as nomad.

[code]

[2017-11-23 17:13] latitude37s commented on #3582
A workaround is to add the empty user to the blacklist. i.e.
"user.blacklist" = ",root"

The message / reason is then:
running as user "" is disallowed

[2017-11-24 11:04] mbp commented on #3289
@smohankarthik

Did you ever figure out a fix? I seem to be having a similar problem after upgrading to Nomad 0.7.0.

[code]

[code]

[2017-11-26 20:29] madmagi commented on #2627
One problem with this approach is that it is not uncommon for Windows 10 Developers to be creating and working with Linux containers.

It would seem to me a config option for the agent to override the default windows only container support would be a good idea.

[2017-11-26 22:54] automaticgiant opened #3585 "[possible msgpack bug?] mixed width cluster overflow flap"
### Nomad version
Output from `nomad version`
0.7.0

### Operating system and Environment details
one i386 (JXVHK31), one amd64 (deadbeef)

### Issue
logs make me think that the nomad expects msgpack ints to be from a width <= its own

### Reproduction steps
not sure yet

### Nomad Server logs (if appropriate)
[code]

will avoid but can investigate more if compelling

[2017-11-26 23:02] dadgar commented on #3585
@automaticgiant does this happen more or less immediately when you introduce a mixed architecture server? Also is this only happening on Nomad 0.7?

[2017-11-26 23:39] discobean opened #3586 "Nomad 0.7.0 memory leak"
I've run into an issue with 0.7.0 memory leak.

We have 3 instances in the cluster - in this case 1 dies and the cluster remains in quorum, after restarting the dead server it dies once more.

Attached is the log

[memory.txt](https://github.com/hashicorp/nomad/files/1504314/memory.txt)

[2017-11-27 00:00] discobean commented on #3586
We then ran a force-leave and terminated the instance, another came back into play but when it tried to join the cluster the remaining 2 instances lost quorum.

The solution was to kill the masters and rebuild with a new cluster performing a job restore from backup.

[2017-11-27 00:08] discobean commented on #3506
Just had a similar issue with #3586 will update there.

[2017-11-27 00:11] dadgar commented on #3586
How much memory was nomad using? How much memory does your machine have?

[2017-11-27 00:11] discobean commented on #3586
The servers running had 2G of RAM total with no swap.  But the issue was unusual that the server became unresponsive when I tried to restart nomad.service.  It was as if it were in an infinite loop.

[2017-11-27 00:15] discobean commented on #3586
1m uptime showed 7+ when I was able to run the command, otherwise the server became unresponsive - These are running on t2 in AWS, but they still had plenty of CPU credits.  They sit at about 2% CPU usage until this issue is hit.

[2017-11-27 00:17] dadgar commented on #3586
How much memory are the other two nomad servers using? Can you show the output of `curl http://localhost:4646/v1/jobs?pretty=true`

[2017-11-27 00:23] discobean commented on #3586
Unfortunately they are dead as I was rushing to get the cluster up and running. I forwarded you a gist via email of the job output.

[2017-11-27 00:28] dadgar commented on #3586
@discobean how many allocations do you have, are you creating more constantly? Can you add monitoring of the servers memory usage. You likely just require a server with more memory for how you are using Nomad

[2017-11-27 00:30] dadgar commented on #3586
@discobean when you restart your cluster can you change it to debug logging.

[2017-11-27 00:32] discobean commented on #3586
I will add monitoring for RAM so we have a decent history to refer to for when this comes up again.  And next time I'll start the failed instance with debugging on for you.

[2017-11-27 00:33] dadgar commented on #3586
@discobean you can change the value in the config file to debug and sighup to change to debug logging for the current servers!

[2017-11-27 00:34] dadgar commented on #3586
@discobean I would also suggest you increase the memory of the servers to something like 8gb and if there is a memory leak we will still be able to observe.

[2017-11-27 01:37] sunileman opened #3587 "Nomad restarting task after alloc successful"
### Nomad version
1.0.0

### Operating system and Environment details
Amazon linux

### Issue
I am able to run my docker container on same host with no issue using:
docker run sunileman/nifi1.1.0

Launching with nomad (consul client agent co-located) the task continues to restart with no clear information on issue.

### Reproduction steps
on aws p2.xlarge instance with nomad & consul client.  from

[2017-11-27 04:03] automaticgiant commented on #3585
indeed, immediately. also discovered it affects clients.
070 only? maybe - i feel like i had run mixed clients before, but i've only my faulty memory to back that up.

i386 server:
[code]
amd64 client
[code]

[2017-11-27 06:26] sunileman commented on #3587
I found nomad does not support 0 for memory limit (ie docker without memory tag).  It seems running image using docker without defining memory tag works fine.  With nomad it seems to be not possible. Nomad will impose hard memory limit.

[2017-11-27 07:32] shantanugadgil commented on #3587
hi @sunileman
I assume the "Nomad 1.0.0" is a typo, as the current version is only at 0.7.0.

Also, Nomad doesn't allow "no limit" configuration. There are many issues open around that discussion about allowing "over provisioning" of resources.

HTH,
Shantanu

[2017-11-27 08:43] alxark opened #3588 "execute command inside allocation / job"
Hello. Currently there is no method to run command (for example execute tests) on allocation in cluster. When i want to run tests inside container i need to find host where it is located, run ssh to connect, find container name and execute command. I think it will be easier to run something like:

[code]

or
[code]
to run tests. Also i think there should be some kind of option to specify if this t

[2017-11-27 09:36] cetex opened #3589 "[question] Support for docker tmpfs mounts"
We currently run a job which requires tmpfs for temporary storage (it writes around 5GB of data from one process every few seconds and reads it back multiple times into other processes, anything else than tmpfs is too slow, even zram is too slow and causes too much overhead)

I can't figure out if it's possible to tell the docker driver to mount a new volume of type tmpfs into the container right

[2017-11-27 14:52] chelseakomlo commented on #3582
Good catch, thanks for letting us know about this, and for the detailed analysis. We will discuss this internally and look at a fix.

[2017-11-27 15:13] sunileman commented on #3587
@shantanugadgil my bad, I meant 0.7.0.  I was looking at consul version.  For some reason many containers run well with "over provisioning".  Setting a limit seems to get them in a spin.  Might have something to do with JVM alloc.

[2017-11-27 15:18] chelseakomlo commented on #3587
Hi, thanks for reporting the issue.

Have you taken a look at the default restart stanza per job type for Nomad? See here: https://www.nomadproject.io/docs/job-specification/restart.html#restart-parameter-defaults. I believe the issue that you are experiencing that the job exits successfully, but Nomad continues to restart it?

[2017-11-27 21:15] borice commented on #169
The documentation explaining how Nomad and Consul work together still sucks.  Specifically, how you get a nomad service to be found by a different service that depends on it (and get the address and port number that nomad allocated, etc)

These pages need to be improved to explain this, and include examples:
https://www.nomadproject.io/docs/service-discovery/index.html
https://www.nomadproject.io/

[2017-11-27 21:48] c4milo commented on #169
@borice if you already know, I'm sure we would all appreciate a PR from you improving the docs :)

[2017-11-27 21:51] borice commented on #169
@c4milo i don't already know... i was trying to learn, but hit a dead end.
It's all trial-and-error for me now.

[2017-11-27 21:54] borice commented on #169
For completeness, I'm trying to understand the following:

I have a nomad service running a mongodb docker container on a random port assigned by nomad.
I have a separate nomad service running an app (perhaps on a different nomad node in the nomad cluster), which needs to be told where the mongodb lives to be able to connect to it.

How do I tell the app in its "service" stanza about the mongodb s

[2017-11-27 22:51] c4milo commented on #169
@borice try what's documented in https://github.com/hashicorp/consul-template#service

[2017-11-28 03:50] dukeland9 opened #3593 "Under high load, repeated use of allocation name"
### Nomad version
0.7.0

### Operating system and Environment details
Ubuntu 14.04 (some of the client machines are Ubuntu 16.04)

### Issue
I'm using nomad to schedule distributed batch jobs. The cluster has ~30 machines with about 80 cores.
If I divide the job to about 100 tasks, the system works fine. However, if the tasks were increased to around 200, some of the tasks (allocations) would neve

[2017-11-28 04:24] sunileman commented on #3587
The issue was related to over provisioning.  Nomad does not support it. thank you @shantanugadgil

[2017-11-28 04:24] #3587 closed

[2017-11-28 08:46] alxark opened #3594 "[feature] job lifetime limit"
Hello. I would like to specify job lifetime limit. This feature will be useful for testing environments, when i don't want to track started jobs after successful merge and want them to die after some timeout ( for example 1 week after last modification time). Currently i would like to use this feature with KVM driver to create fresh VM's with small nomad cluster inside it.

[2017-11-28 15:35] chelseakomlo commented on #3594
Hi, thanks for the feature request. Have you looked at the `kill_timeout` specification? See here for docs: https://www.nomadproject.io/docs/operating-a-job/update-strategies/handling-signals.html

[2017-11-28 15:37] chelseakomlo commented on #3593
Hi, thanks for reporting this issue. Would you mind posting logs (server and/or client) from when this issue occurs?

[2017-11-28 16:36] lovwal opened #3595 "Nodes sporadically marks status as down, causing allocation loss"
### Nomad version
Nomad v0.7.0

### Operating system and Environment details
Centos 7.4 3.10.0-693.el7.x86_64

### Issue
Nodes sporadically marks status as down, causing allocations to be lost:

nomad node-status -self
ID      = 25e16dd3
Name    = -
Class   = <none>
DC      = thule
Drain   = false
Status  = ready
Drivers = docker,exec,java
Uptime  = 191h9m11s

Allocated Resources
CPU          Memo

[2017-11-28 17:12] chelseakomlo commented on #3595
Hi, thanks for reporting this issue. Have you seen this issue in the past only when clients are at high CPU utilization? Any more logs that you have for this issue would be helpful.

[2017-11-28 18:03] alxark commented on #3594
It's not the same. kill_timeout is used to stop tasks, but i think there should be job lifetime. After specified lifetime this job should be stopped and cleared from cluster.

[2017-11-28 18:22] chelseakomlo commented on #3588
Hi, thanks for the feature request. We have this feature planned in Nomad's future roadmap.

[2017-11-28 18:31] shantanugadgil commented on #3594
HI @alxark
I think what you are looking for is a "wall time" limit for a job. (Probably similar to classic HPC schedulers).

There have been some issues opened in the past discussing those, though I don't remember the issue numbers off hand.

HTH,
Shantanu

[2017-11-28 19:18] schmichael commented on #3580
I think #3020 will fix this issue but will leave it open until we can confirm. I'd prefer a generic HIL solution vs a new parameter in the template stanza as it would allow interpolating from local files for any values.

[2017-11-28 19:26] schmichael commented on #2670
@Perados If the job looks correct in `nomad inspect` but not Nomad UI, that sounds like a Nomad UI issue and you should file an issue with that project. If inspecting the job doesn't produce the parameters you expect please open a new issue for Nomad with the job file (or relevant section) and output of inspect.

[2017-11-28 21:35] Perados commented on #2670
@schmichael Indeed, the problem was Nomad UI. We are running a fork from a very old version (v0.2.1) and we cannot upgrade for internal reasons. The workaround I have for this at the moment is to change the permissions of the file in my `docker-entrypoint.sh` file using `chmod`. Dirty, but it works...

[2017-11-28 22:22] schmichael commented on #2627
@madmagi That's #2633

[2017-11-29 02:33] dukeland9 commented on #3593
@chelseakomlo Thanks for replying!

I guess the server/client logs may help little. Here is part of the logs the server printed when executing my job:

But I notice there's another issue which is very likely to be related to this issue: https://github.com/hashicorp/nomad/issues/3595

In my case, I observed allocation lost, too. I started my nomad job with a python program (using python-nomad) and

[2017-11-29 02:39] dukeland9 commented on #3593
@chelseakomlo Also, my job is also CPU-heavy. The client machines go around 100% CPU utilization when executing my job. It's like the situation in https://github.com/hashicorp/nomad/issues/3595

[2017-11-29 08:31] lovwal commented on #3595
I looked through old metrics during the last occurrence, looks like this issue is not related to CPU utilization.
Unfortunately, those were all the logs I had from the node. One of the server members reports heartbeats being missed from the affected node
Nov 28 15:56:43 thu-ctrl5 nomad[637]: 2017/11/28 15:56:43.924767 [WARN] nomad.heartbeat: node '25e16dd3-8013-9436-0d3b-732ecb1
af322' TTL expired

[2017-11-29 10:32] TheSpbra1n commented on #3595
Caught the same error.
Some logs at this time:
[code]

[2017-11-29 15:30] pmcatominey commented on #1185
Shameless plug for [levant](https://github.com/jrasell/levant/).

[2017-11-29 17:03] rickardrosen opened #3599 "Port 0 registered in consul with address_mode="driver""
I'm setting address_mode="driver", and this seems to work as far as registering the correct IP with consul, but what's going on with the port?

I've been going through the documentation regarding ports but when it comes to address_mode=driver it is unclear.

Is there anyway to register a port with Consul using driver address_mode?

[2017-11-29 17:58] chelseakomlo commented on #3599
Hi, thanks for letting us know about this issue. What specific drivers are enabled on the Nomad client? See here for more information about address_mode: https://www.nomadproject.io/docs/job-specification/service.html#address_mode

If you wouldn't mind posting the version of Nomad you are using and any relevant logs, those would be helpful as well.

[2017-11-29 18:00] tantra35 opened #3600 "When whole aditional region goes down imposibble to get nomad server-members"
### Nomad version
0.6.3

After some time we decide remove someone. We simple remove all nomad servers from that region. And after that when we try to watch nomad server-members in alive regions we got follow error:

[code]

Which is on one side is correct because we have dead region, but how can we got to make work `nomad server-members` command?